[2018-07-10 12:30] isabelcosta opened #1 "Create Android application UI prototype"
## Description
As a developer,
I need a UI prototype,
so that I can code the UI for the Android application

Link to the low-fidelity prototype using MarvelApp: https://marvelapp.com/1cb11jd/screen/42044932

## Acceptance Criteria
### Update
- [x] Create a high fidelity wireframe

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
6 hour

[2018-07-10 14:04] isabelcosta commented on #1
Already started working on this using JustInMind prototyping tool: https://www.justinmind.com/usernote/tests/35756605/35766303/35777319/index.html

[2018-07-24 11:56] isabelcosta opened #2 "Create Login Screen"
## Description
As a User,
I need be able to login into the system,
so that I can use the Application features.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43136081-7670fb46-8f3f-11e8-8a9e-cc77ee3eb0dc.png)

## Acceptance Criteria
### Update
- [ ] Create Activity, View Model, repository functions
- [ ] At least one unit test
- [ ] Follow the UI mock provided

## Definitio

[2018-07-25 15:31] isabelcosta opened #3 "Create Sign Up screen"
## Description
As a user of the Mentorship System,
I need register into the system,
so that I can use the app.

## Mocks
![image](https://user-images.githubusercontent.com/11148726/43210762-d4761a26-9027-11e8-9bd9-e55fa5a28bad.png)

## Acceptance Criteria
### Update
- [ ] Create an activity for Registering into the application
- [ ] Try to follow UI Mock screen
- [ ] Use backend API to register th

[2018-07-25 17:16] isabelcosta opened #4 "Add Kotlin Docs requirement on PR template"
## Description

Add an item to the checklist requiring to have [Kotlin Docs](https://kotlinlang.org/docs/reference/kotlin-doc.html) for each new class and function created.

## Acceptance Criteria
### Update
- [x] Update PULL_REQUEST.md template

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-07-25 17:24] isabelcosta opened #5 "Add Pull Request template to the repository"
## Description
As a contributor,
I need a PR template,
so that I can follow the guidelines of the Open Souce Workflow.

## Acceptance Criteria
### Update
- [x] Have a PULL_REQUEST  template under .github folder

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
10 minutes

[2018-07-25 22:46] isabelcosta commented on #1
All the designs are in this folder: https://drive.google.com/open?id=1Nkhrxjbuh3_Z_rCww4Z2dQWgkCg7tiiZ

[2018-07-26 00:58] isabelcosta opened #6 "Create Members List screen"
## Description
As a user,
I need Users List screen,
so that I can see the verified users of the System that I can create Mentorship relations with.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43235184-8660fbb2-9077-11e8-8af1-867a3d5b09d2.png)

## Acceptance Criteria
### Update [Required]
- [x] Create Members list screen
- [x] Create Activity, View Model, repository funct

[2018-07-26 01:11] isabelcosta opened #7 "Create Send Request (Mentorship Agreement) screen"
## Description
As a User of the Mentorship System,
I need a Send Request screen,
so that I can send Mentorship Relation requests to other Users.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43235566-dfcbc082-9078-11e8-9a6c-2161f6ba936a.png)

## Acceptance Criteria
### Update
- [ ] Create Activity, View Model, repository functions
- [ ] At least one unit test
- [ ] Follow

[2018-07-26 01:22] isabelcosta opened #8 "Create the Mentorship Request Detail screen"
## Description
As a User of the Mentorship System,
I need Request Detail Screen,
so that I can accept/reject or delete Mentorship Relation requests.

## Mocks

**Screen from a received Request:**

<img src="https://user-images.githubusercontent.com/11148726/43235740-b4984d58-9079-11e8-9636-1896fc2af8f0.png" width="270">

**Screen from a sent Request:**

<img src="https://user-images.githubusercont

[2018-07-26 01:25] isabelcosta opened #9 "Create Mentorship Requests List Screen"
## Description
As a User fo the Mentorship System,
I need a Mentorship Requests screen,
so that I can check my past and pending requests.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43236038-e945fc02-907a-11e8-9dd2-308b42f67473.png)

## Acceptance Criteria
### Update
- [ ] Create Activity, View Model, repository functions
- [ ] At least one unit test
- [ ] Follow the UI

[2018-07-26 20:24] isabelcosta opened #11 "Bottom navigation icon for Current Relation should be in .SVG"
## Description

As a developer,
I need an SVG version of the icon related to Mentorship Relation screen,
so that I can link the icon to this screen.

Material Design icons already allow this.
Then PNG icon has to be converted to SVG.
Tools that can be used for this: Adobe Illustrator, InkScape

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43286255-6155079e-9119-11e8-8281-7

[2018-07-28 20:36] isabelcosta commented on #11
I created this with 2 arrows created on [draw.io](http://draw.io) and user profile Material Design icon. Once the image was edited I used [Inkscape](https://inkscape.org/en/) to resize and play with the icon, but then I was having some problems so I took a crop at the image and user https://www.online-convert.com/ to convert the icon to a SVG, then I copied again to [Inkscape](https://inkscape.org

[2018-07-29 16:14] m-murad opened #15 "Add a travis.yml file to repo."
## Description
As a maintainer,
I need to add a `travis.yml` file to build the code on Travis,
so that I can verify if the code is working or not before merging PRs.

## Acceptance Criteria
- [ ] Add a travis.yml file to the repo

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hours

[2018-07-29 20:14] #5 closed

[2018-07-30 17:03] m-murad commented on #15
@isabelcosta please send a PR for this first. We need Travis to verify that PRs don't break anything.

[2018-07-30 17:05] isabelcosta commented on #15
@m-murad Ok!, I'll check this now

[2018-07-31 00:54] isabelcosta commented on #11
TODO: Increase Arrows to be better seen in the device

[2018-07-31 04:16] #15 closed

[2018-08-01 11:28] Dilu9218 opened #18 "Create Mentorship Relation - Tasks Screen"
## Description
As a User fo the Mentorship System,
I need a Mentorship Relation Tasks screen,
so that I can check my tasks.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43524608-9bda5f40-9597-11e8-9b99-b8a6ec6a63fe.png)

## Acceptance Criteria
### Update
- [ ] Create Activity, View Model, repository functions
- [ ] At least one unit test
- [ ] Follow the UI mock provided

[2018-08-01 11:31] Dilu9218 opened #19 "Create Member Profile Screen"
## Description
As a User for the Mentorship System,
I need a Member profile screen,
so that I can check details of a member.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43524286-d1652326-9596-11e8-989a-3ad71c269399.png)

## Acceptance Criteria
### Update
- [ ] Create Activity, View Model, repository functions
- [ ] At least one unit test
- [ ] Follow the UI mock provided

[2018-08-01 11:35] Dilu9218 opened #20 "Create Home Screen"
## Description
As a User for the Mentorship System,
I need a Home screen,
so that I can see the details of request,tasks etc when I log in.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43524362-01edbe04-9597-11e8-9718-3657443f829c.png)

## Acceptance Criteria
### Update
- [ ] Create Activity, View Model, repository functions
- [ ] At least one unit test
- [ ] Follow the U

[2018-08-02 06:07] #2 closed

[2018-08-02 06:07] #3 closed

[2018-08-02 07:08] Dilu9218 opened #21 "Create Mentorship Relation - Details Screen"
## Description
As a User fo the Mentorship System,
I need a Mentorship Relation Details screen,
so that I can check details in my mentorship relations.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/43928037-63684488-9c27-11e8-9527-c80ced9fa6b1.png)

## Acceptance Criteria
### Update
- [x] Create Activity, View Model, repository functions
- [x] At least one unit test
- [x]

[2018-08-02 14:44] m-murad opened #22 "Setup auto apk generation."
## Description
As a developer,
I need generate apks whenever new code is pushed,
so that users who want to test the app can download the apks and install it without building the code.

## Acceptance Criteria
- [ ] Whenever code is committed, apks are generated and saved to `apks` branch

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2018-08-02 22:35] isabelcosta opened #23 "Improve Documentation on Wiki regarding implementation decisions"
## Description
As an open source contributor,
I need to know about the implementation decisions taken about Mentorship System android application,
so that I can avoid coming up with ideas that go against what was previously decided.

**Ideas from the weekly meeting:**
- Once auto deployment is done, include the apk link on wiki.
- Include a summary of why a technology was chosen regarding Kotlin,

[2018-08-02 22:41] isabelcosta opened #24 "Save pictures into Amazon S3 and save the URL on Backend"
## Description
As a user of the Mentorship System,
I need upload a picture identifying me,
so that I can be identified by other members of the system.

This requires saving the image and sending into Amazon S3 service, then sending the URL to the Backend using the PUT /user API

## Acceptance Criteria
### Update [Required]
- [ ] Send the picture to Amazon S3
- [ ] Send the URL to the Mentorship Sy

[2018-08-08 16:59] isabelcosta opened #26 "Create Mentorship System icon"
## Description
As a user of the app,
I need to see a unique icon launcher,
so that I can easily identify the app among other pool of apps.

Suggestion of tool: https://romannurik.github.io/AndroidAssetStudio/icons-launcher.html

## Mocks
For now we can reuse the image from the blog post "Mentorship System by Systers":

![image](https://user-images.githubusercontent.com/11148726/43851829-ab1f35ce-9

[2018-08-08 17:00] isabelcosta commented on #26
@systers/maintainers-mentorship-android can I do this? I just had this ide,a because the default launcher is very basic. I'm in progress with this. Can I submit a PR with just the icon launcher?

![image](https://user-images.githubusercontent.com/11148726/43852349-e77a927e-9b34-11e8-867c-e7813be98ca4.png)

[2018-08-09 16:16] isabelcosta commented on #11
Will create another issue to improve this icon

[2018-08-09 16:16] #11 closed

[2018-08-09 16:25] isabelcosta opened #27 "Increase arrows size in the Current Relation icon"
## Description
As a user of the Application,
I need see the arrows from the Current Relation icon bigger,
so that I can clearly the shape of the icon in the bottom navigation of the App.

Check issue #11 which is related and contains the initial image.

You can find the svg file here and edit with a proper tool (e.g.: InkScape, Adobe Illustrator): https://drive.google.com/open?id=1E7vSOgGN9ZzWw65w

[2018-08-09 16:27] isabelcosta commented on #20
Before claiming this, make sure Backend's issue https://github.com/systers/mentorship-backend/issues/120 is solved and merged.

[2018-08-09 20:30] isabelcosta commented on #26
After discussing this on Weekly Meeting we agreed to wait to create a long lasting version of the icon and avoid creating just temporarily. This will be on "Icebox" ZenHub collumn

[2018-08-09 20:33] isabelcosta commented on #1
**Home PopUp Menu**

![home - popup menu](https://user-images.githubusercontent.com/11148726/43924179-ce2f8602-9c1b-11e8-8d2b-9099be2692fe.png)

[2018-08-09 20:33] isabelcosta commented on #1
**Home**

![home](https://user-images.githubusercontent.com/11148726/43924209-e91c768c-9c1b-11e8-8f07-9f1153dcbc4b.png)

[2018-08-09 20:34] isabelcosta commented on #1
**Member Profile**

![member profile](https://user-images.githubusercontent.com/11148726/43924228-f53b7a30-9c1b-11e8-8f43-8b0c4f73f925.png)

[2018-08-09 20:34] isabelcosta commented on #1
**Members**

![members](https://user-images.githubusercontent.com/11148726/43924240-fe3d0392-9c1b-11e8-98dd-08a6279a2a25.png)

[2018-08-09 20:34] isabelcosta commented on #1
**Mentorship Relation - Achievements**

![mentorship relation - achievements](https://user-images.githubusercontent.com/11148726/43924258-0b735ee4-9c1c-11e8-97c5-7aca85a59e97.png)

[2018-08-09 20:35] isabelcosta commented on #1
**Mentorship Relation - Confirmation**

![mentorship relation - confirmation](https://user-images.githubusercontent.com/11148726/43924282-1b40481e-9c1c-11e8-8f8c-4e2f8e097d7d.png)

[2018-08-09 20:35] isabelcosta commented on #1
**Mentorship Relation - Details**

![mentorship relation - details](https://user-images.githubusercontent.com/11148726/43924290-25ade4c8-9c1c-11e8-9303-4830491544c8.png)

[2018-08-09 20:36] isabelcosta commented on #1
**Mentorship Relation - Tasks**

![mentorship relation - tasks](https://user-images.githubusercontent.com/11148726/43924318-384dff3c-9c1c-11e8-81e1-cd34f6e4dec4.png)

[2018-08-09 20:36] isabelcosta commented on #1
**MSPrototype_sitemap**

![msprototype_sitemap](https://user-images.githubusercontent.com/11148726/43924333-43691aaa-9c1c-11e8-9934-accc14086d3d.jpg)

[2018-08-09 20:36] isabelcosta commented on #1
**My Profile**

![my profile](https://user-images.githubusercontent.com/11148726/43924347-4dcb5ce2-9c1c-11e8-9036-4d1a7fd5caa3.png)

[2018-08-09 20:37] isabelcosta commented on #1
**Request Detail - Accept or Reject**

![request detail - a or r](https://user-images.githubusercontent.com/11148726/43924374-617db2e4-9c1c-11e8-9399-fb8560cecb7b.png)

[2018-08-09 20:37] isabelcosta commented on #1
**Request Detail**

![request detail](https://user-images.githubusercontent.com/11148726/43924402-77987eb0-9c1c-11e8-90a2-b2406657eb46.png)

[2018-08-09 20:38] isabelcosta commented on #1
**Requests**

![requests](https://user-images.githubusercontent.com/11148726/43924422-83380cea-9c1c-11e8-8739-ecd4f8f7d3ea.png)

[2018-08-09 20:38] isabelcosta commented on #1
**Send Request**

![send request](https://user-images.githubusercontent.com/11148726/43924447-91508e60-9c1c-11e8-84ad-588cf8173819.png)

[2018-08-09 20:38] isabelcosta commented on #1
**Sign In**

![sign in](https://user-images.githubusercontent.com/11148726/43924458-9a919cd0-9c1c-11e8-8963-a1d9e83e8a77.png)

[2018-08-09 20:39] isabelcosta commented on #1
**Sign Up**

![sign up](https://user-images.githubusercontent.com/11148726/43924470-a534b47e-9c1c-11e8-9aa2-378c46be8598.png)

[2018-08-09 20:53] isabelcosta commented on #1
**Initial Design from GSoC Proposal**

![image](https://user-images.githubusercontent.com/11148726/43925196-86b1d020-9c1e-11e8-865d-5187d237688f.png)

[2018-08-09 21:21] isabelcosta opened #29 "Create/Improve README"
## Description
As a contributor,
I need to see a proper README,
so that I can learn more about the project context and know everything I need to know to run the project.

## Acceptance Criteria
### Update
- [x] Add description of the project
- [ ] Add contributors
- [x] Mention the initial work context of GSoC with the name of Student and Mentors
- [x] Mention the necessary SDK to run the project

[2018-08-10 14:44] isabelcosta opened #30 "Document stages and states of Mentorship Relation"
## Description
As a contributor,
I need understand how mentorship relation stages and states work,
so that I can contribute to the project with some knowledge of the project.

## Acceptance Criteria
### Update [Required]
- [x] Explain Mentorship Relation stages and states on Wki and Google Docs

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Es

[2018-08-10 14:49] isabelcosta commented on #30
Related to issue https://github.com/systers/mentorship-backend/issues/127

[2018-08-10 15:42] #6 closed

[2018-08-10 15:42] #19 closed

[2018-08-10 15:51] isabelcosta commented on #30
Pinging @systers/maintainers-mentorship-android just for you all to be aware -> https://github.com/systers/mentorship-android/wiki/Mentorship-Relation-Documentation

[2018-08-10 15:51] #30 closed

[2018-08-11 09:38] yatri1609 commented on #27
@isabelcosta Can I work on this issue?

[2018-08-11 11:09] isabelcosta commented on #27
Sure you can @yatri1609 . After having the icon you can show us how it stays on the app, to see if the arrows are big enough

[2018-08-11 12:21] yatri1609 commented on #27
Yes sure @isabelcosta

[2018-08-11 13:46] #22 closed

[2018-08-12 05:35] yatri1609 commented on #27
@isabelcosta Please have a look at this file.
![relation_icon](https://user-images.githubusercontent.com/34381723/43998973-8d264438-9e1f-11e8-9f79-32a9b8757c79.png)

[2018-08-12 14:11] isabelcosta commented on #27
Thank you for being so quick to do this :D I'm preparing for a demo, so I'll get back to you when I have more time. Meanwhile, can you share this on the #mentorship-system channel, so that others take a better look? I feel that the arrows are too round, but I would love to know others' opinion. @yatri1609

[2018-08-12 15:56] yatri1609 commented on #27
@isabelcosta Surely I'll share with others

[2018-08-12 19:11] isabelcosta commented on #27
@yatri1609 perfect :D I answered there with a suggestion

[2018-08-13 18:54] isabelcosta commented on #1
Closing this. This is linked in the Wiki as a reference!

[2018-08-13 18:54] #1 closed

[2018-08-13 19:21] isabelcosta commented on #27
Forgot to remove the "Status: available" of this issue. This is _assigned_ to  @yatri1609

[2018-08-14 13:01] m-murad commented on #11
@isabelcosta
There was no need to close this issue and create a new one for this. We could have simply assigned this to someone else.

[2018-08-14 13:06] isabelcosta commented on #11
@m-murad I created one new issue, because the task is not to create/design another icon, is just to increase the size of the arrows of the icon that is already in the repository code. I'll avoid creating duplicated issues and PRs as much as possible :/

[2018-08-14 13:17] #8 closed

[2018-08-14 13:17] #9 closed

[2018-08-14 14:10] #29 closed

[2018-08-14 17:51] yatri1609 opened #34 "SignUp activity: Password not matching BUG"
## Description
As a user for the mentorship system,
I need to sign up and need to fill up the sign up form having password and confirm password,
so that I can use the app.
But currently on entering password and current password it shows the error `Passwords didn't match!` while both of them are same.

## Mocks
<img src = "https://user-images.githubusercontent.com/34381723/44109416-9cde7286-a01a-11

[2018-08-14 17:53] yatri1609 commented on #34
@isabelcosta @m-murad @roopalJazz Can I work on this issue?

[2018-08-14 18:29] m-murad commented on #34
@yatri1609
the inputs that you have entered, are they exactly the same or have you included space(s) in one of the inputs?

[2018-08-14 18:31] yatri1609 commented on #34
@m-murad They are exactly same without any space or anything else

[2018-08-14 18:31] m-murad commented on #34
@yatri1609 You can send a PR for this

[2018-08-14 18:35] yatri1609 commented on #34
@m-murad Thanks1 I'll work and send a PR after the gsoc-code branch gets merged !

[2018-08-16 20:49] yatri1609 opened #37 "SignUp Activity: Invalid email bug"
## Description
As a user,
I need to enter a valid email address,
so that I can register into the app.
But right now on entering a valid email address I'm getting an error stating `Your email is invalid`.
When I checked the back-end I got to know that it is working fine and the problem is somewhere in the android application.

## Mocks
<img src = "https://user-images.githubusercontent.com/34381723/

[2018-08-16 20:50] yatri1609 commented on #37
@m-murad @isabelcosta @roopalJazz I have just found this bug while solving the confirm password bug. So I would like to debug it and solve the issue. So can I proceed with the same?

[2018-08-16 20:58] isabelcosta commented on #37
@systers/maintainers-mentorship-android I had a quick meeting with @yatri1609 to test this on the backend with the same exact data, and it went fine: the email was sent and the user was registered. We then deleted the user.

So this must be on the Android side.

![email_works](https://user-images.githubusercontent.com/11148726/44234691-1e98c300-a19f-11e8-9026-eaa2d92077e1.png)

[2018-08-17 05:28] #34 closed

[2018-08-17 20:05] isabelcosta commented on #37
@yatri1609 you can work on this yes!

I found the bug, I forgot to show you how to debug a retrofit call. While running the most recent code, I notice that the email is being given as password and the password as email. So you only have to switch the positions of `password` -> `email` and `email` -> `password` when you create the `RegisterRequest` data class when clicking the SignUp button.

Here'

[2018-08-17 21:13] isabelcosta opened #38 "See/Update User Profile Screen"
## Description
As a user of Mentorship System,
I need a screen to show my profile,
so that I can see my saved data and be able to update it.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/44288998-4ef96380-a26a-11e8-86e4-1edbff2e1c13.png)

## Acceptance Criteria
### Update [Required]
- [ ] Create Activity, View Model, repository functions
- [ ] Follow the UI mock provided
#

[2018-08-18 08:17] yatri1609 commented on #38
@isabelcosta Can I work on this?

[2018-08-18 13:24] isabelcosta commented on #38
@yatri1609 I was thinking of working on this, because during GSoC I already had a discussion about the implementation of this screen which allows for seeing the profile in an editable and not editable model, and I already started to implement the UI. Can you look at another issue?

[2018-08-18 13:33] yatri1609 commented on #38
Ya sure no problem ! @isabelcosta

[2018-08-18 14:12] #37 closed

[2018-08-19 06:58] #27 closed

[2018-08-19 07:22] yatri1609 commented on #21
@isabelcosta Can I work on this issue ? Along with this I would also like to work on #18 as they both are in the same heading of Mentorship Relations.

[2018-08-19 11:45] isabelcosta commented on #21
Yes, you can work on this, but to keep PRs short and focused its best if you do this one, I'll add this issue as a blocker for the Tasks issue. You can create the PageAdapter to have Tasks and an empty fragment for the Tasks tab. So you work on the Details tab and leave the Tasks tab empty. You can then work on that in another PR. What do you think @yatri1609 ?

[2018-08-19 13:26] yatri1609 commented on #21
@isabelcosta Sure !

[2018-08-19 15:07] isabelcosta commented on #21
@yatri1609 I will assign this to you :)

[2018-08-19 18:55] isabelcosta opened #42 "Add feature specific branch creation when sending PRs to CONTRIBUTING.md"
## Description

As a contributor,
I need clear Contributing Guidelines,
so that I can properly contribute to this project.

Explain that a contributor has to create a new branch per issue instead of sending PRs from their base branch (same as this repo base branch `develop`).

## Acceptance Criteria
### Update [Required]
- [ ] Update CONTRIBUTING.md

## Definition of Done
- [ ] All of the required

[2018-08-19 19:00] isabelcosta opened #43 "Add click effect to Members List item"
## Description
As a user of the mobile app,
I need see a click effect on list items,
so that I can have a good user experience.

Add the following property to root item of the `list_member_item.xml` resource file:
`android:background="?attr/selectableItemBackground"`

## Acceptance Criteria
### Update [Required]
- [ ] Add click effect to Members List item

## Definition of Done
- [ ] All of the re

[2018-08-19 19:09] isabelcosta opened #44 "Logout from the application"
## Description
As a user of the mobile application,
I need logout option in the pop up menu,
so that I can properly logout from the application.

Need to check for the access token presence on SharedPreferences on SplashActivity before opening either LoginActivity or MainActivity.

Logout will delete the access token from shared preferences

## Mocks

Pop up menu UI design:

![image](https://user-

[2018-08-19 19:21] m-murad commented on #42
@sys-bot approve

[2018-08-19 19:22] m-murad commented on #42
mentorship android doesn't have sysbot integrated

[2018-08-19 19:23] isabelcosta commented on #42
@m-murad true that's why I didn't ask for approval here.

[2018-08-20 15:52] m-murad commented on #4
@isabelcosta This is related to the templates. The newcomers have to learn from the template. It's better that you do it yourself.

[2018-08-20 15:54] m-murad commented on #23
@isabelcosta
is this done, can we close this?

[2018-08-21 06:32] sviho commented on #43
@isabelcosta Can I do this?

[2018-08-21 08:45] isabelcosta commented on #43
@sviho yes you can :)

[2018-08-21 14:52] #43 closed

[2018-08-21 17:51] sviho commented on #44
@isabelcosta Can I work on this?

[2018-08-21 19:27] isabelcosta commented on #44
@sviho yes :) you can go ahead!

[2018-08-21 19:28] isabelcosta commented on #44
@sviho a friendly reminder: make sure to create a new branch for this ;) if you need any help just ask

[2018-08-24 19:38] #44 closed

[2018-09-09 19:08] isabelcosta opened #49 "Create About screen"
## Description
As a user of the system,
I need to see more info about the app,
so that I can better understand its origins.

Make sure to add:
- Short the description of the application
- Mission of the app
- Include links about Terms and Conditions and the following links:
the AnitaB.org [Code of Conduct](https://ghc.anitab.org/code-of-conduct/), [Terms](https://anitab.org/terms-of-use/), and [Pr

[2018-09-09 19:27] isabelcosta opened #50 "Create Tutorial screens design"
## Description
As a developer,
I need to have mockups for Tutorial screens,
so that I can develop them.

Create Tutorial screen design and content.

## Mocks

This is the task :P

## Acceptance Criteria
### Update [Required]
- [ ] Create Mock ups for Tutorial Screens

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-09-09 19:40] isabelcosta commented on #21
@yatri1609 Do you have any updates regarding this issue? If not do you mind if we assign this to someone else because we're having an open source program coming - OSD?

[2018-09-09 19:51] Dilu9218 opened #51 "Improve UI/UX Design to improve Accessibility"
## Description

As a user,
I need user-friendly UI/UX,
so that I can use the app more efficiently.

Improve UI in order to enable a disabled or impaired person to use that app successfully.
Examples of accessibility concerns:
- text to talk for blind people;
- colorblindness issue;
- ...

## Acceptance Criteria
### Update [Required]
- [ ] Come up with UI screens or UX samples showing improvements

[2018-09-09 20:06] isabelcosta opened #52 "Write UI test for RegisterActivity"
## Description
As a contributor,
I need UI tests for RegisterActivity,
so that I can minimize the bugs for Registration activity.

## Acceptance Criteria
### Update [Required]
- [ ] Create test for RegisterActivity

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
4 hours

[2018-09-09 20:08] isabelcosta opened #53 "Write UI test for LoginActivity"
## Description
As a contributor,
I need UI tests for LoginActivity,
so that I can minimize the bugs for LoginActivity.

## Acceptance Criteria
### Update [Required]
- [ ] Create test for LoginActivity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-09-10 02:58] yatri1609 commented on #21
@isabelcosta Yes you can assign this to someone else if they are willing to as I'm struggling a lot right now with this

[2018-09-10 11:59] isabelcosta commented on #21
@yatri1609 Ok so I will put this for OSD, if no one tackles this issue I will put it available again. You know if you're having trouble with this you can ask for help we could figure this out, you already know a bit of kotlin from other PRs :)

[2018-09-10 20:44] yatri1609 commented on #21
@isabelcosta Surely isabel !!

[2018-09-11 17:48] #4 closed

[2018-09-11 17:48] #42 closed

[2018-09-11 22:41] isabelcosta opened #54 "Enhance Terms and Conditions text on Register screen"
## Description
As a user of the system,
I need to have links to terms and conditions on Register screen
so that I can be aware of Terms of use, Code of Conduct and Privacy Policy.

On Registration Screen we need to have a proper text with the Terms and Conditions check box.

Text:

"By checking this box, I affirm that I have read and accept to be bound by the AnitaB.org Code of Conduct, Terms, and

[2018-09-12 06:11] #38 closed

[2018-09-19 02:51] deezy136 commented on #49
Can I work on this

[2018-09-19 15:21] isabelcosta commented on #49
Hey, @deezy136 are you going to participate on GHC Open Source Day? I'm saying this because this is reserved until the end of next week for that event. So it's not available now for other members of the community.

[2018-09-19 16:30] deezy136 commented on #49
I would like to participate where do I sign up

On Wed, Sep 19, 2018, 8:21 AM Isabel Costa <notifications@github.com> wrote:

[2018-09-20 10:10] isabelcosta commented on #49
@deezy136 This event is related to Grace Hopper Celebration (GHC) - https://ghc.anitab.org/ . Are you participating in this event? If yes, you can choose this to work on Open Source Day during the GHC, if not, you can't work on this at least until next week.

[2018-09-26 04:12] Dilu9218 opened #56 "Change date format to Calendar in Send Request"
## Description
As a user of the system,
I need a calendar widget,
so that I can more intuitively choose an end date for a mentorship relation.

The Send Request screen requires a user to enter the date in the format dd/mm/yy.
It would be convenient to have a calendar to request the time period.

## Mocks

Use this image as an example of where the calendar icon shold be located

![send request scre

[2018-09-26 04:15] #7 closed

[2018-09-26 04:28] Dilu9218 opened #57 "Improve UI design of screens"
## Description
As a user,
I need to easily understand and use the app,
so that I can get used to mentorship system app quickly.

## Acceptance Criteria
At least a design for one screen is completed.

## Definition of Done
- [ ] Improved version of screen with the reason to improve provided.
- [x] Approval by 1 mentor.

## Estimation
2 hours

[2018-09-27 16:37] pjackson27 opened #59 "[Idea] Create recover password option on Sign In Screen"
**Is your feature request related to a problem?**
The mobile app does not have a forgot password option.

**Describe the solution you'd like**
Create an option to recover the password, such as a text in the login screen, asking if the user does not remember the password.

**Describe alternatives you've considered**
Backend search for email/username and auto-send for username
^username would be an

[2018-09-27 17:43] nicoledacey opened #60 "Switching to Relation TabView"
**Describe the bug**
A clear and concise description of what the bug is.
When switching to the relation tab it shows the text labels for a few moments before it realizes the user does not have a mentor/mentee.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to another tab
2. Click on the relation tab
3. See error

[2018-09-27 17:48] asun10 opened #61 "Hide own username in list"
## Description
As a user,
I need to have my own username and profile hidden from the list of mentors,
so that I cannot request myself.

## Mocks
![username_show](https://user-images.githubusercontent.com/40905093/46164411-8b4db580-c253-11e8-928f-3c8ed1528dac.png)

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition

[2018-09-27 17:52] nicoledacey opened #62 "Can't cancel mentorship relation"
**Describe the bug**
A clear and concise description of what the bug is.
When cancelling a mentorship it does not clear the mentee information from the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to relation tab
2. Click on cancel (with accepted request)
3. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![bugscreen1](https://user-images

[2018-09-27 18:14] nicoledacey opened #63 "Signup Page Keyboard"
**Describe the bug**
A clear and concise description of what the bug is.
During signing up the keyboard does not hide when the user is done typing in the text box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sign up
2. Click on a text box
3. Scroll down to the next textbox
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
The keyboa

[2018-09-27 18:50] nicoledacey opened #64 "Mentor/Mentee Signup Selection"
## Description
As a new user,
I need to be able to select if I want to be a mentor and/or mentee,
so that I can be available for selection after signup without editing my profile.

## Acceptance Criteria
### Update [Required]
- [ ] Checkboxes on signup screen.
### Enhancement to Update [Optional]
- [ ] Connecting to the backend.

## Definition of Done
- [ ] All of the required items are completed.

[2018-09-27 20:41] AimeeBorda opened #68 "Update View when cancelling Mentor Relation"
## Description
As a User viewing my Mentor Relation,
I need to have a better User Experience,
so that I can have a better experience.

## Acceptance Criteria
1. Cancel Mentor Relation should update the View to No current Relation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-09-27 20:45] m-murad commented on #61
This is a valid issue but needs to be fixed in the backend, not here. The backed should not send the user who is making the request in the list

[2018-10-01 00:33] isabelcosta commented on #61
Issue created on backend https://github.com/systers/mentorship-backend/issues/143

[2018-10-02 14:57] #61 closed

[2018-10-06 12:32] riddhik84 commented on #54
Hi @isabelcosta Can I work on this?

[2018-10-06 17:07] isabelcosta commented on #54
@riddhik84 yes you can :) Do you understand what has to be done? Do you need help with that?

[2018-10-09 03:44] riddhik84 commented on #54
Yes. I need some help getting started. I have downloaded the project and successfully able to do setup and build it. I am going thru the code structure.

[2018-10-09 22:17] isabelcosta commented on #54
Ok @riddhik84 that's awesome! you're on the right path ;) Do you understand the issue? what has to be done? We can talk here or on Slack, in case you're there

[2018-10-11 19:55] mohak1283 commented on #53
I would like to work on this issue :)
I need to know that what all UI tests you need for LoginActivity?

[2018-10-11 19:58] isabelcosta commented on #53
@mohak1283 try to be creative on this ;) I haven't thought a lot about this, but I know this needs to be done. Maybe one of the things you can test is if a user can proceed to the main activity when username and/or password is empty. In this case, the inputs should show a warning. What do you think?

[2018-10-11 20:00] mohak1283 commented on #53
I think UI test for LoginActivity would be like test either a button is clicked or not and such things?

[2018-10-11 20:02] mohak1283 commented on #53
Okay I will try to write UI test for this Activity and will update you the status :+1:

[2018-10-11 20:03] isabelcosta commented on #53
Yes you are right ;) you can check also regarding UI, if the inputText fields show the error message when a button is clicked and one of the fields is empty

[2018-10-11 20:03] mohak1283 commented on #53
Okay :+1:

[2018-10-11 20:05] isabelcosta commented on #62
This happened because the view does not update itself when the relation was canceled (button was clicked already).

[2018-10-11 20:08] Manik1094 commented on #56
I would like to work on this issue

[2018-10-11 20:12] Manik1094 commented on #56
I have done this issue

[2018-10-11 22:20] isabelcosta commented on #56
@Manik1094 are you sure? I wanted to provide a better description to this issue but basically what we want is instead of giving a date in string format we would rather have an icon and open a calendar to select the date. Do you understand?

[2018-10-11 22:50] isabelcosta commented on #56
@Manik1094 updated the issue description to make the intention of this clearer.

[2018-10-12 16:59] Manik1094 commented on #56
Yes , I have done this

[2018-10-12 17:01] isabelcosta commented on #56
@Manik1094 ok great! then send the PR ;) Please follow the PR template, only deleting optional parts and refer to this issue accordingly.

[2018-10-12 18:44] Manik1094 commented on #56
@isabelcosta  I have raised a PR on this issue , Check that out.

[2018-10-12 19:57] mohak1283 commented on #52
Can I work on this issue?

[2018-10-12 19:59] m-murad commented on #52
@mohak1283
yes you can.

[2018-10-12 20:09] mohak1283 commented on #52
Okay @m-murad :+1:

[2018-10-12 21:48] mohak1283 commented on #52
How many test cases is required for SignUpActivity?. I have created 2 till now.

[2018-10-12 21:54] isabelcosta commented on #52
@mohak1283 Can you come up with more? If yes awesome, if not, not a problem. 2 tests is better than 0. Someone else can add more later :)

[2018-10-12 21:57] mohak1283 commented on #52
Okay will try to add more if possible :)

[2018-10-12 21:58] isabelcosta commented on #52
If you don't find more, that's not a problem.

[2018-10-12 22:01] mohak1283 commented on #52
okay :+1:

[2018-10-12 23:22] mohak1283 commented on #52
I have written 2 tests for this activity. Now to create a PR to develop branch I need to create new branch to which I commit and push my changes to and then create PR to develop branch. Right @isabelcosta ?

[2018-10-12 23:24] isabelcosta commented on #52
Yes @mohak1283 , you are right ;) the PR you'll send next will only have the code for the Register UI tests

[2018-10-12 23:32] mohak1283 commented on #52
okay :)

[2018-10-13 00:38] mohak1283 commented on #53
I have resolved all the checks failed in PR and now it has all the checks passed :)

[2018-10-13 00:39] mohak1283 commented on #52
I have resolved all the checks failed in PR and now it has all the checks passed :)

[2018-10-13 06:55] riddhik84 commented on #54
Sure. We can discuss it on slack. Thanks!

[2018-10-13 22:45] isabelcosta commented on #54
@riddhik84 if you rather ask your questions on Slack, use channel #mentorship-channel I can answer you there ;)

[2018-10-16 01:29] isabelcosta commented on #64
This issue can already use the POST /register service. This was fixed with https://github.com/systers/mentorship-backend/pull/146 🎉

[2018-10-16 01:52] isabelcosta opened #75 "Make PopUp Menu into a single Settings screen"
## Description
As a user,
I need to have all the settings in a screen,
so that I can have organized multiple settings instead of having a long pop up menu.

This is a question of User experience. Right Now there isn't anything specific thought for the Settings screen, so instead of having a settings option in the pop-up menu, we could have a screen dedicated to settings and the other options that

[2018-10-16 09:50] mohak1283 commented on #64
Can I work on this? @isabelcosta

[2018-10-16 09:55] mohak1283 commented on #75
I think that we could have a separate screen dedicated for settings. As u said we could have a wheel icon representing general settings.
I would like to work on this 😇

[2018-10-16 19:37] isabelcosta commented on #75
@mohak1283 Thank you for your interest, but this may need some more discussion. I just created the issue so I would not forget about this.

[2018-10-16 19:45] isabelcosta commented on #64
@mohak1283 this issue is already being worked on by another contributor.
We will wait a bit until the contributor finishes PR #69. If we make this available again, we may put this as "First Timers Only" issue for someone new to the repo.

[2018-10-18 05:41] riddhik84 commented on #54
Can you assign this issue to me?

[2018-10-18 07:06] mohak1283 commented on #75
Okay @isabelcosta

[2018-10-18 23:53] mohak1283 opened #76 "App gets Stuck when it is rotated in every fragment"
## Description

**Describe the bug**
When the App is rotated (landscape mode) it gets stuck and the progress dialog does not gets removed.

**Expected behavior**
App should retain its state and it should remain in the same fragment after the app is rotated.

**Testing device:**
 - Device: Smartphone MIA1
 - OS: Android - 8.1.0

**Screenshots**

![issue image one](https://user-images.githubusercont

[2018-10-18 23:54] mohak1283 commented on #76
I would like to work on this issue!

[2018-10-20 23:30] Manik1094 opened #79 "App crashes when clicked on Send Request Button without entering anything."
## Description

**Describe the bug**
In Send Request Screen, when clicked on Send request button without selecting anything app get crashed.

**Expected behavior**
Should show some warning when user clicks on Send request Button without selecting anything

**Screenshots**
Below is the gif of bug
![issue_manik_systers](https://user-images.githubusercontent.com/39883547/47261471-ad062980-d4ed-11e8-8

[2018-10-20 23:30] Manik1094 commented on #79
I would like to work on this issue.

[2018-10-21 00:03] isabelcosta commented on #79
@manik1094 this is valid but you worked on a PR related to this. Either you can add a check and fix this bug there on the PR where you add a calendar to the date, or you send one after that one is merged. Once I get less busier I'll merge your PR, if every requested change was done.

[2018-10-21 17:19] #56 closed

[2018-10-21 17:48] isabelcosta commented on #79
@Manik1094 I edited the issue description to reflect what should be done and to match the issue template.

[2018-10-21 17:49] isabelcosta commented on #79
Do you want to fix this? @Manik1094

[2018-10-21 17:52] Manik1094 commented on #79
Not able to understand second one @isabelcosta

[2018-10-21 17:54] isabelcosta commented on #79
@Manik1094 When you get into the screen, the end date is editable. Only once I select a date, using the calendar, the editText gets disabled. Can you test that?

[2018-10-21 17:56] Manik1094 commented on #79
@isabelcosta This is already implemented in that PR

[2018-10-21 18:05] isabelcosta commented on #79
@Manik1094 Can you please test that manually in the app? your code was merged, so you can check that on the development branch.

If you see here in your PR https://github.com/systers/mentorship-android/pull/73/files#diff-5144519f391ea1b5725242a9be93e9ccR52 that you only disable the editText, on the onDateSet() method of calendar picker. So only when I click the calendar and pick a date, you'll dis

[2018-10-22 17:51] Manik1094 commented on #79
@isabelcosta So you want that end date field should be disabled in beginning only  and default date should be set of 1 month from the current date  ?

[2018-10-22 17:58] isabelcosta commented on #79
@Manik1094 I would prefer to the field to have manual edition *always* disabled. Not just after picking a date, but also in the beginning, in this way the User cannot put an invalid date, because it will be done by picking in the calendar. What do you think doesn't this make sense?

To avoid the user to send a request without date, or an invalid one, maybe this should be set for the user. If you c

[2018-10-22 18:02] Manik1094 commented on #79
@isabelcosta OK , I will do this

[2018-10-22 18:07] Manik1094 commented on #79
@isabelcosta so there is no need to pick a date from calendar manually?

[2018-10-22 18:26] isabelcosta commented on #79
@Manik1094 if the user desires to change the date, the user should click the calendar to change the date. Can you think of the user experience? Do you think it makes sense? If you think differently, we can discuss more, I'm totally ok with that. No need to do just what I'm saying :)

[2018-10-22 18:53] Manik1094 commented on #79
@isabelcosta Yes I got what you are saying and also solved this issue

[2018-10-22 19:06] #60 closed

[2018-10-22 19:06] #76 closed

[2018-10-22 19:24] isabelcosta opened #81 "Update Current Relation screen when cancellation is successful"
## Description
As a user of the system,
I need to see the current relation screen with no relation details when the relation is canceled,
so that I can have a good User Experience when I cancel a mentorship relation.

Related to bug reported #62

## Acceptance Criteria
### Update [Required]
- [ ] Put view into empty state when a relation cancelation goes well

## Definition of Done
- [ ] All of th

[2018-10-22 19:27] Rimjhim28 commented on #81
Hey @isabelcosta, can I take up this issue??

[2018-10-22 19:46] isabelcosta commented on #81
Yes go ahead @rimjhim28

[2018-10-23 19:03] Rimjhim28 commented on #81
Hey @isabelcosta I think I have located the area of change but I am to figure out how to actually fix the issue. Can you please help me a bit here.

[2018-10-24 19:08] isabelcosta commented on #81
@Rimjhim28 Yes, where do you need help? The main file you should be concerned with is RelationFragment, that's where the UI is done for presenting a user's Current Relation. This PR has a possible solution to it (https://github.com/systers/mentorship-android/pull/65). You want to detect when the cancellation was successful you will receive an update on a variable which is being observed. once that

[2018-10-24 19:09] haroldadmin commented on #64
I'd like to work on this issue!

[2018-10-24 19:15] isabelcosta commented on #64
@haroldadmin okay! Go ahead ;)

[2018-10-24 21:01] Rimjhim28 commented on #18
@isabelcosta Can I work on this?

[2018-10-25 00:02] isabelcosta commented on #21
Closing this, because this screen is completed, even though it needs some UI improvements

[2018-10-25 00:02] #21 closed

[2018-10-25 00:08] isabelcosta commented on #68
By mistake I created a duplicated issue #81, closing this one because #81 already has some discussion.

[2018-10-25 00:08] #68 closed

[2018-10-26 00:05] isabelcosta commented on #23
@m-murad Sorry, I did not see this message of yours :O
I have some of this done here: [Tech Stack Wiki Page](https://github.com/systers/mentorship-android/wiki/Tech-Stack)
I will close this, even though the wiki can always be improved.

[2018-10-26 00:05] #23 closed

[2018-10-26 00:10] isabelcosta commented on #18
@Rimjhim28 You have a pending PR, although the review does not depend totally on you, try to implement improvements on it when needed.

You can work on this issue while you wait for the other PR to be merged... If you have any doubt about this just ask!

[2018-10-27 20:57] #81 closed

[2018-10-30 16:45] isabelcosta commented on #62
Solved with PR #83

[2018-10-30 16:45] #62 closed

[2018-10-30 22:12] m-murad opened #85 "Refactor code to remove duplicacy"
**Describe the bug**
There is a lot of duplicacy in the project (especially in the POJO files). This needs to be fixed

[2018-10-31 12:05] #85 closed

[2018-11-01 19:51] m-murad opened #87 "Refactor the ProfileFragment and EditProfileFragment to make the UI look good."
## Description
As a user of Mentorship System,
I need to have a good UI compliant following a set of standards (such as [Material Design](https://material.io/design/)),
so that I can have a good user experience.

The UI of the `ProfileFragment` is not [Material Design](https://material.io/design/) compliant. Because the `EditTexts` have been disabled the text is faded. Also, fields with no data ar

[2018-11-01 22:42] isabelcosta opened #88 "Requests List does not update when I delete a request"
## Description
As a user,
I need to see the correct list of requests,
so that I can see and act on them.

The Mentorship Request list does not update the list when I delete a mentorship request.

**Steps to reproduce:**
1. Go to Requests Screen
2. Go to Request Detail Screen of a request sent by the logged user
3. Delete this request
4. When returning to the list, the request is still there
    -

[2018-11-01 22:54] isabelcosta opened #89 "Members List does not have an empty state"
## Description
As a user,
I need to see a message when there are no users,
so that I can have a nice user experience in the Members Screen.

Show a message when the Members List is empty.
To do this you can see other examples, for examples for the lack of requests in the Requests screen

## Mocks

<img src="https://user-images.githubusercontent.com/11148726/47884490-d5185580-de28-11e8-9e7e-4f4b2e1

[2018-11-01 23:58] Rimjhim28 commented on #88
Hey @isabelcosta, can I work on this?

[2018-11-02 08:48] isabelcosta commented on #88
Sure @Rimjhim28 :)

[2018-11-02 17:15] mohak1283 commented on #87
Can I work on this issue?

[2018-11-02 19:11] isabelcosta commented on #87
@mohak1283 I'll be working on this issue, because I worked in the update profile screen before.

[2018-11-02 19:29] mohak1283 commented on #87
Okay @isabelcosta :+1:

[2018-11-02 22:33] #52 closed

[2018-11-06 18:34] mohak1283 commented on #59
For this issue has the backend api been updated? @isabelcosta

[2018-11-06 18:40] Rimjhim28 commented on #88
ThankYou @isabelcosta! I had my exams on. Will send a PR soon. :)

[2018-11-06 19:45] mohak1283 opened #91 "Decrease one extra step while sending request."
**Is your feature request related to a problem? Please describe.**
When user wants to send request to any other user then he has to go to the MemberProfileActivity from MembersFragment. The problem here is that the user has to go through one additional step while sending request to someone.
1. First go to members list. Click on any other member he/she wants to send request to
2. Then MemberProfile

[2018-11-06 19:57] isabelcosta commented on #91
@mohak1283 can you please raise this issue on Slack, in this way more people can see this and give their opinion.

[2018-11-06 19:58] isabelcosta commented on #88
@Rimjhim28 cool :)

[2018-11-06 20:21] mohak1283 commented on #91
Shared on Slack @isabelcosta :+1:

[2018-11-07 13:38] isabelcosta commented on #59
@mohak1283 no it isn't. It isn't done nor planned. So it needs discussion and someone willing to work on this :)

[2018-11-07 18:44] haroldadmin commented on #24
I'd like to work on this issue!

[2018-11-07 18:49] isabelcosta commented on #24
Great @haroldadmin :)

You may have to do some workaround with the Profile Update feature because it's not working properly now, but you can explore and play around in your fork with the testing the API.

@m-murad this can be worked on already right?
You added the URL necessary to upload an image to AWS, right?

[2018-11-07 19:11] haroldadmin commented on #24
I'm not familiar with how the backend works, but I can work on the android app in the meantime. I'm using a personal AWS account to test it for now.

[2018-11-07 19:20] isabelcosta commented on #24
@haroldadmin you don't need to use backend, just how to send a request to update a profile within the Android application, and when you sent the PUT /user request, you want to update `photo_url` field, I'm not sure how it works the Amazon S3 api, but I'm thinking you upload and then you have to update on our backend calling PUT /user with photo_url. Then whenever we want to show the user photo, we

[2018-11-07 19:30] haroldadmin commented on #24
Yes, that's what I had in mind.

We can request the user to select an image using a simple intent. This image will then be uploaded to the S3 storage service, and it's URL would be retrieved. The app will then post this url to the mentorship-backend server in the current user's profile.
There's some file handling involved with this, because the intent doesn't return a file path but a content URI w

[2018-11-08 04:20] haroldadmin opened #92 "Update kotlin to version 1.3.0"
## Description
As a developer,
I need to update kotlin version to the latest,
so that I can work with the latest stable version of kotlin.

The project uses kotlin version 1.2.71. Version 1.3.0 was released on October 29 with some new features. More details can be found here: [Release announcement](https://blog.jetbrains.com/kotlin/2018/10/kotlin-1-3/)

## Acceptance Criteria
### Update [Required]

[2018-11-08 11:00] haroldadmin opened #94 "Add HTTPS support to backend elastic beanstalk server"
I'm not sure if this is the correct place to file this issue, but this affects devices running Android P.

**Describe the bug**
The backend server on Elastic Beanstalk currently does not support HTTPS. All the debug-build app communication with the server currently happens over this URL: `http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/`.
However, [Android P defaults to TLS connect

[2018-11-08 12:45] isabelcosta commented on #92
@haroldadmin thank you for proposing this improvement!
Just be aware that usually you first have to wait on maintainers approval before submitting a PR. Please keep this in mind for the next issues. This issue is fairly simple so I don't see a big problem, but if you were to suggest other bigger changes, it would be best to wait for approval. Also to keep consistency we follow the issue templates

[2018-11-08 12:58] isabelcosta commented on #92
@haroldadmin I changed the description, can you see it?

[2018-11-08 12:59] isabelcosta commented on #94
@haroldadmin thank you for reporting this. I see it has to do with Android as well, but the HTTPS thing is more of a backend issue, right?

[2018-11-08 13:40] haroldadmin commented on #92
Yes. Thank you!

[2018-11-08 13:42] haroldadmin commented on #94
I have filed an issue on the backend repository as well.

[2018-11-08 18:51] Rimjhim28 commented on #88
@isabelcosta With the current change in backend I am facing a hard time visualizing this issue.
Will it be fine if I work on it after the backend is fixed?

[2018-11-09 16:52] haroldadmin commented on #24
## Status Update
I have implemented the following features into the app now:
1. The Profile fragment has an image view for displaying the user profile picture, [like this](https://files.slack.com/files-pri/T08C86GE8-FE0AAGW5D/screenshot_20181109-023152.png). The grey icon in the picture is a placeholder, which is used while the actual picture is loading, or if the user has not set a picture.
2. Ta

[2018-11-12 00:50] #92 closed

[2018-11-12 01:18] isabelcosta opened #95 "Cannot update mentor and mentee availability"
**Describe the bug**
I can no longer change User's availability to mentor and be a mentee, in the android app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile Update Screen'
2. Click on 'Edit icon'
3. Change availability to be mentor or mentee, and save changes
4. Update that screen (go to another screen and come back) and changes won't be done. Also you won't see a message sa

[2018-11-12 01:40] isabelcosta opened #96 "Replace auto-generated KotlinDocs with proper documentation"
## Description
As a developer,
I need to have proper KotlinDocs,
so that I can maintain a well-documented codebase.

The codebase has classes documented by the creator instead of having proper documentation regarding the class itself.

Here's an example on `MentorshipApplication.kt` file:
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Find all places in classes with that use auto-gener

[2018-11-12 01:44] #79 closed

[2018-11-12 02:30] isabelcosta commented on #24
@haroldadmin thank you for such a detailed analysis of this problem 🙌
Just as @m-murad said on Slack, I hope we can discuss this further in a Community Open Session.
If you don't manage to go, I'll make sure to talk raise this issue there.

[2018-11-12 03:00] haroldadmin commented on #24
@isabelcosta Thank you! My exams are approaching so I might not make it there, but I'll try my best 😊

[2018-11-12 03:02] isabelcosta commented on #24
@haroldadmin No problem at all, I understand! I want to have @m-murad there, so we might talk sooner or later about this, it depends on everybody's availability. I'll update you if we get to discuss this.

[2018-11-12 17:04] mohak1283 commented on #95
Can I work on this issue? @isabelcosta

[2018-11-12 17:06] m-murad commented on #95
@mohak1283  you can start working to fix this issue.

[2018-11-12 17:20] mohak1283 commented on #95
Okay @m-murad :+1:

[2018-11-12 18:21] mohak1283 commented on #95
@m-murad What you are checking in this if condition?
![doubt](https://user-images.githubusercontent.com/35039342/48367105-c017ae00-e6d5-11e8-8c2f-9ea85c62154a.PNG)

[2018-11-13 19:24] mohak1283 opened #98 "Improve UX in MemberProfileActivity"
**Is your feature request related to a problem? Please describe.**
In the MembersFragment, list of all users are displayed and when user clicks on any user MemberProfileActivity opens up. The problem I found here is that in the MemberProfileActivity when the member is neither available to mentor nor needs mentoring, then also sendRequestActivity open up on clicking of "Send Request" Button which I

[2018-11-13 20:34] isabelcosta commented on #98
@mohak1283 I totally understand this and agree with it! A suggestion I have is the button could be set to the disabled state.

Also as a note, according to the current business logic, when a user1 is currently in a mentorship relation, other user2 cannot send a request to user1. This is something that could be solved later on backend, and then on Android.

Regarding giving this to first-timers, I

[2018-11-13 20:54] mohak1283 commented on #98
Okay so let me do this @isabelcosta :+1:

[2018-11-13 21:06] isabelcosta commented on #87
This was solved with PR #86

[2018-11-13 21:06] #87 closed

[2018-11-14 05:00] #95 closed

[2018-11-18 18:39] mohak1283 opened #100 "Add Delete Account feature"
## Description

As a user,
I need an option to delete my account,
so that I can Delete My Account from this Android application.

In this Android application, there is not an option to delete the user account.
I would like to introduce delete account feature in this Android application.

If this feature has been added to the backend, then I would like to work on this issue.
And additionally, I wou

[2018-11-18 19:15] isabelcosta commented on #100
@mohak1283 Thank you for reporting this :) I mentioned this issue on Slack because this feature is already done on Backend, so it can be integrated on Android.

The issue description is unclear. Before working on this you should fix this. You can follow [this template](https://github.com/systers/mentorship-android/blob/develop/.github/ISSUE_TEMPLATE/user-story.md) If you have an idea of how to imp

[2018-11-18 19:26] isabelcosta opened #101 "Add change password feature"
## Description
As a user,
I need to have change password feature in the Android app,
so that I can change my password.

## Mocks

_Whoever works on this can suggest a UI for this, and put an image on comments section_

## Acceptance Criteria
### Update [Required]
- [ ] Change Password option in Settings screen
- [ ] Use PUT /user/change_password API

## Definition of Done
- [ ] All of the required

[2018-11-18 19:38] isabelcosta commented on #75
@mohak1283 will let a newcomer take care of this issue and then the delete account can be open from here

[2018-11-18 19:43] isabelcosta commented on #88
@Rimjhim28 I think the problem you were having is fixed. Do you have any update on this issue?

[2018-11-18 19:49] mohak1283 commented on #100
Updated the issue @isabelcosta :+1:  Have a look

[2018-11-18 19:57] isabelcosta commented on #100
@mohak1283 you didn't completely follow the template, so I edited the description. Can you fill in the blanks?

Also, I have a suggestion what if you do Settings screen #75 instead of this issue? Because this is dependant on the settings screen and we like to keep PRs focused on one small issue. If you do the other issue we can leave this for `first-timers-only`, what do you think?

[2018-11-18 20:10] mohak1283 commented on #100
I have updated the issue description and mockup :+1: @isabelcosta
And Regarding assigning this issue to first timer, It would be great.
I will work on some another issue. Let **first-timers ** work on this

[2018-11-18 20:10] mohak1283 commented on #75
Cool @isabelcosta :+1:

[2018-11-18 20:11] isabelcosta opened #102 "Create confirmation dialog when cancelling a relation"
## Description
As a user of Mentorship System,
I need to have an extra step to cancel a relation,
so that I can be sure of the action I'm choosing.

## Mocks

_Whoever works on this can suggest a UI for this, and put an image on comments section_

## Acceptance Criteria
### Update [Required]
- [ ] Cancel a relation will only happen after the user confirms this action
- [ ] Show a confirmation Dial

[2018-11-18 20:13] isabelcosta commented on #75
Sorry, I said a newcomer could take care of this, but on another hand, other issues are dependant on this, and since you wanted to work on the other... I suggested that you would work on this one. Do you still want to @mohak1283 ?

[2018-11-18 20:15] isabelcosta commented on #100
@mohak1283 check my comment on #75 you can work there if you want.

[2018-11-18 20:18] mohak1283 commented on #75
Okay, will work on this issue :+1: @isabelcosta

[2018-11-18 20:21] mohak1283 commented on #75
In this issue, I also need to add the delete account feature? @isabelcosta

[2018-11-18 20:32] isabelcosta commented on #53
**For whoever's interested in this issue:** This code is partially done on PR #72. You can check the code and review comments on PRs #72 and #90

[2018-11-18 20:43] isabelcosta opened #103 "Create confirmation dialog to logout from the app"
## Description
As a user of Mentorship System,
I need to have an extra step to log out from the app,
so that I can be sure of the action I'm choosing.

## Mocks

_Whoever works on this can suggest a UI for this, and put an image on comments section_

## Acceptance Criteria
### Update [Required]
- [ ] Logout from the app will only happen after the user confirms this action
- [ ] Show a confirmation

[2018-11-18 20:49] mohak1283 commented on #75
Or I have to only create UI of SettingsActivity? @isabelcosta

[2018-11-18 20:52] isabelcosta commented on #75
@mohak1283 I think SettingActivity is enough. In this way, the PR will be focused on the new UI instead of the API integration as well.

[2018-11-18 20:59] mohak1283 commented on #75
Okay @isabelcosta :+1:

[2018-11-18 21:47] mohak1283 opened #105 "Resend Email feature while Registering"
**Is your feature request related to a problem? Please describe.**
Sometimes, when the user is signing up in the Android app,  the verification email does not comes. So, the Android app should have resend email feature so that verification email is sent again.
As a user,
I need to have resend email feature in the Android app,
so that I can register in the Android app.

### Acceptance Criteria

###

[2018-11-18 21:48] mohak1283 commented on #105
Can I work on this issue? @isabelcosta

[2018-11-18 22:01] isabelcosta commented on #105
@mohak1283 you tend to do a mix of templates, not following one or another :O

I'm curious, you keep putting this... do you think this is needed in the template? You can suggest incorporating this to the templates, to the community in an open session if you want.
[code]

[2018-11-18 22:05] mohak1283 commented on #105
Sorry for this @isabelcosta should I remove it now?

[2018-11-18 22:07] isabelcosta commented on #105
@mohak1283 no need to be sorry. I left it there, what I'm asking is if you think this is relevant for the issue. If you think it is you can suggest to the community in a Community Open Session. I already edited the description and left it there, it does no harm.

On another topic, did you see what @m-murad [mentioned here on Slack](https://systers-opensource.slack.com/archives/CAE8QK41L/p154255348

[2018-11-18 22:11] mohak1283 commented on #105
Okay I will suggest this in Community Open Session :+1:
And regarding @m-murad idea, Yes it sounds like a great idea will implement this :+1:

[2018-11-18 22:14] isabelcosta commented on #105
Ok, I'm not sure how this will be done, because I see snack bar disappearing right away, but maybe it can show up longer. If you decide to do it like that, can you update your acceptance criteria or the description to reflect what you want to do @mohak1283 ?

[2018-11-18 22:16] isabelcosta commented on #105
Also, try to work on an issue at a time ;) you already have to in the pipeline, there is no rush in this ;) @mohak1283

[2018-11-18 22:18] mohak1283 commented on #105
Okay @isabelcosta will keep in mind :+1:
Actually we can specify little longer to display snackbar, But it will be not that much longer.
Yes you are right that it will be disappeared right away So what do you think where to keep resend email option? @isabelcosta .

[2018-11-18 22:31] isabelcosta commented on #105
@mohak1283 right now I have no idea :P Maybe you can think a bit more on this and @m-murad can suggest something ;)

[2018-11-19 20:42] mohak1283 commented on #105
Okay will try to include this option where appropriate @isabelcosta :+1:

[2018-11-19 23:49] mohak1283 commented on #105
@isabelcosta I have added the mockup of Resend Email option.
What do you think? Should I place it here only or somewhere else?

[2018-11-19 23:58] isabelcosta commented on #105
@mohak1283 Maybe below sign up button?
Then when clicking there, the app could open a dialog or a screen to type the email?

CC @m-murad

[2018-11-20 00:08] #75 closed

[2018-11-20 00:19] mohak1283 commented on #105
Yeah, This would be a great idea @isabelcosta :+1:
Will implement this :+1:

[2018-11-20 00:33] isabelcosta commented on #105
@mohak1283 this is not exactly what @m-murad suggested, so I'm not sure if he has something to say about this approach. You can start working on it, but I guess you can also wait, not sure...

[2018-11-20 02:13] m-murad commented on #105
The button should say "Resend email" and should  be on the snack bar which says email not verified

[2018-11-20 02:19] m-murad commented on #105
We can make the snackbar appear for longer (maybe indefinitely until dismissed).

[2018-11-20 12:25] isabelcosta commented on #105
Ok @m-murad so to make clear the idea is to: when the user registers and then tries to login, but hasn't verified the email, when it shows the snackbar showing that something went wrong (if resend email), then in the snackbar it shows a button?

[2018-11-21 12:10] isabelcosta opened #106 "Make Settings icon position always on the right"
## Description
As a user,
I need to have the settings icon always in the same position,
so that I can have an appropriate user experience when transitioning screens.

One of the screens, "My Profile", has one more icon on the top. The new icon goes to the far right of the action bar, instead of the left of the settings icon. This leads to a weird transition between screens, where the settings icon

[2018-11-21 20:03] isabelcosta opened #107 "Settings screen misses in-app back button"
## Description
As a user,
I need a back button on settings screen,
so that I can understand the navigation level I'm in.

## Mocks

<img src="https://user-images.githubusercontent.com/11148726/48865574-eae5be80-edc7-11e8-8637-759b0c838ad5.png" alt="settings screen" width="260"/>

## Acceptance Criteria
### Update [Required]
- [ ] Put a back button in the action bar of Settings screen

## Definitio

[2018-11-22 08:39] m-murad opened #108 "Bidirectional observability in EditProfileFragment"
**Describe the bug**
Bidirectional observability on data-binding object in `EditProfileFragment` is not activated for all fields. Instead, we are using the old school approach of attaching listeners.

**Expected behavior**
Bidirectional observability should be activated on all fields.

[2018-11-22 08:52] m-murad opened #110 "Add validation in EditProfileFragment"
**Describe the bug**
The user while editing the profile can leave any field blank. This should not be allowed. We need to add validations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to EditProfileFragment.
2. Edit name and leave it blank.
3. Save the profile.
4. The profile is updated.

**Expected behavior**
Incorrect details should not be saved.

**Additional context**
Add validatio

[2018-11-22 12:50] #108 closed

[2018-11-29 19:14] isabelcosta commented on #94
@haroldadmin I will close this because its not something to be done on Android repo and also you already created the issue in the backend repo ;)

[2018-11-29 19:14] #94 closed

[2018-11-29 19:26] haroldadmin commented on #24
## Status Update

Through community discussion, it has been decided that the best way to implement this feature would be to not handle communication to AWS using the mobile app. Instead, the mentorship-backend server should handle it. So we're currently waiting on file upload functionality to be added to the backend server. When it is done, the app will upload the profile pictures to the backend s

[2018-11-29 19:50] isabelcosta opened #112 "Need UI/UX Wireframes to improve Send Request feature"
## Description
As a developer,
I need UI/UX wireframes regarding the decrease of too many steps to send a request,
so that I can have good UX around sending a request to a mentor/mentee.

Original issue that brought up this concern: https://github.com/systers/mentorship-android/issues/91

We need some options to reduce the steps of a user that sends a mentorship request to another user.

**If you

[2018-11-29 19:58] isabelcosta commented on #91
@mohak1283 I brought up this concern of yours on Community Open Session and everyone agreed that this feature requires too many steps. We decided to create another issue #12 for people interested in UX and UI design, suggest ideas for this. We came up together with some suggestions which are there ;)

Thank you for bringing this issue up!

[2018-11-29 20:09] isabelcosta opened #113 "Handle app with token has expired"
## Description
As a user of the Android app,
I need logout automatically when the token is expired,
so that I can login again and get a new session token.

Verify if login has expired and logout from the app, maybe show an alert dialog before?! **Implementation is open for discussion**

## Mocks

![image](https://user-images.githubusercontent.com/11148726/49248763-67088380-f412-11e8-977a-d2028813f

[2018-12-02 15:23] thegypsydev commented on #110
I would like to contribute to the project by resolving this

[2018-12-02 15:51] thegypsydev commented on #110
I tried this whenever I leave anything blank it doesn't update that in the profile neither does it show any msg like field can't be left blank

[2018-12-03 07:43] m-murad commented on #110
Please send a PR, someone will review the code

[2018-12-07 19:52] baghaii commented on #106
I would like to work on this task.

[2018-12-07 19:55] isabelcosta commented on #106
Great! Go ahead and submit a PR once you solve the issue @baghaii

[2018-12-08 10:09] #106 closed

[2018-12-09 06:15] m-murad commented on #110
@207ashu
You still working on this?

[2018-12-09 09:26] thegypsydev commented on #110
Yeah, I was working on it, but couldn't resolve it, I'm also having my exams right now, so couldn't give enough time to it. Please make it available for others.

[2018-12-10 13:22] haroldadmin commented on #110
I would like to work on this issue @m-murad

[2018-12-11 04:39] m-murad commented on #110
Go ahead and send a PR

[2018-12-11 06:17] haroldadmin commented on #110
@m-murad I have created pull request to fix this issue. Please review it when you can.

[2018-12-11 17:43] haroldadmin opened #116 "Cache User Profile and Relations in a MainViewModel shared by all fragments"
**Is your feature request related to a problem? Please describe.**
In the current implementation of the mentorship app, **everytime** a user navigates to any screen other than home, a network request is fired off. The user has to wait until this request is complete to be able to do anything.

**Describe the solution you'd like**
Cache the results of these main network calls (such as fetching the u

[2018-12-11 17:43] haroldadmin commented on #116
I would like to work on this issue, and I would appreciate some discussion regarding this by the community. @m-murad @isabelcosta

[2018-12-11 19:20] chhavi1614 commented on #107
I would like to work on this issue !!

[2018-12-12 05:02] m-murad commented on #107
@chhavi1614 please send a PR

[2018-12-12 21:07] isabelcosta commented on #110
Thank you for submitting the PR :) But be aware of "first timers only" issues. @haroldadmin

[2018-12-13 04:30] haroldadmin commented on #110
Whoops, I guess I didn't see that. I will take care now onwards.

[2018-12-13 23:33] #107 closed

[2018-12-14 13:32] chhavi1614 commented on #103
I would like to take up this issue.

[2018-12-14 14:16] isabelcosta commented on #103
@chhavi1614 this is a first timer only labeled issue, this means that it is available for people who never contributed to this repo. In this way we can give opportunities for other to contribute :) Can you please pick one that does not have this label?

[2018-12-14 14:17] chhavi1614 commented on #103
@isabelcosta sure:)

[2018-12-15 12:58] chhavi1614 commented on #113
I want to work on this issue.

[2018-12-15 13:02] isabelcosta commented on #113
Hey @chhavi1614 go ahead!

[2018-12-15 13:15] m-murad commented on #113
Can we put to his on hold. This is not how expired tokens are handled. This needs to be discussed.

[2018-12-15 13:32] isabelcosta commented on #113
Sure @m-murad! In fact @chhavi1614 can bring this up on slack for furtherer discussion, and when you have some free time you can help us understand that. It's with timers right? A timer running in the background to detect when the toke  has expired. I wrote in the description saying it needed discussion.

[2018-12-15 23:40] isabelcosta opened #119 "Log out feature keeps the back navigation bug"
**Describe the bug**

When I logout the app I got to Login Screen and if I then click the back button, I'll go to the Main Screen, which requires authentication. Requests following this event, give a "Authorization Token missing" which is normal because the logout feature deletes the token locally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Settings" while logged in
2. Click on "

[2018-12-15 23:48] isabelcosta opened #120 "Order mentorship requests by creation date"
## Description

As a user,
I need mentorship requests ordered in a predicted way (by creation date),
so that I can browse the mentorship requests easily.

## Mocks

Here you can see the most recent mentorship request sent by me, in the middle of the list.

![image](https://user-images.githubusercontent.com/11148726/50048428-b9f56280-00c3-11e9-86ca-62ebbc09c3a9.png)

## Acceptance Criteria
### Upda

[2018-12-19 05:39] haroldadmin commented on #18
@Dilu9218 @isabelcosta I would like to work on this.

In the inital version of this feature I would just like to implement it as it has been shown in the UI mockup. However, I would like to work on improving the design in the future.

[2018-12-19 09:29] isabelcosta commented on #18
@Rimjhim28 did you work on this? Do you have any updates? If not we can pass this to @haroldadmin

[2018-12-19 09:33] haroldadmin commented on #18
@isabelcosta @Rimjhim28 I'm sorry, I should have asked first. I assumed that the issue was available since there had been no activity for a few months. My apologies.

[2018-12-19 09:55] isabelcosta commented on #18
No need to apologize @haroldadmin :) You're right that this issue hasn't been active.

[2018-12-19 10:41] haroldadmin commented on #20
@isabelcosta Since I'm not currently sure if Issue #18 is available, and my PR for mentorship-backend Issue 120 is pending review, I would like to work on this.

[2018-12-20 18:07] Rimjhim28 commented on #18
Apologies @isabelcosta @haroldadmin! I was occupied a bit.
I will work on this and will send a PR asap.

[2018-12-21 11:41] Isfaaq commented on #57
Hello. Can I work on this issue?

[2018-12-21 17:19] m-murad commented on #113
@isabelcosta, @chhavi1614 or anyone who is interested in this or wants to fix this, please go through [this article](https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/).

[2018-12-25 19:29] isabelcosta commented on #113
@chhavi1614 let us know if you want to take on this issue, and if you read @m-murad 's article, I read quickly and this gives me the impression, we need to do something on the backend.
cc @m-murad correct me if I'm wrong, in this way we need to know so that we can put this on hold, and open an issue on backend.

[2018-12-26 05:12] m-murad commented on #113
@isabelcosta
You are right, things will have to be implemented on the backend.

[2018-12-26 11:26] Rimjhim28 commented on #88
Hello @isabelcosta!
I am working on this. I will send a PR asap

[2018-12-26 15:57] chhavi1614 commented on #113
@isabelcosta I am learning how to handle token and getting familiar with the backend and i think it will take some time till then you can put this on hold and open an issue on backend ...
Also it would be great if you @isabelcosta and @m-murad  can guide me a little on how to proceed with this issue..

[2018-12-26 21:37] isabelcosta commented on #113
Ok @chhavi1614 I will create the issue in the backend if you want to take on the issue feel free to leave there a comment to say you want that issue. We have no problem at all if it takes time for you to understand the backend, that's totally understandable :) We'll guide you as we get time to do so, don't worry. Feel free to keep asking questions either here or on the Slack.

[2018-12-28 10:31] shiv07tiwari commented on #119
@isabelcosta  Can I work on this ?

[2018-12-28 11:59] isabelcosta commented on #119
Hey, @shiv07tiwari yes you can :)

I see you already sent a PR, and I will review it once I get a chance. But be aware that we ask of contributors to ask first, then when the maintainers approve that you work on it, you can send the PR. This helps us manage the issues, and confirm that the issue is still valid for you to work on. Here's a [guide on getting started here](https://github.com/systers/

[2018-12-28 12:00] shiv07tiwari commented on #119
Okay sure I will remember it. Sorry !

[2018-12-28 12:01] isabelcosta commented on #119
Great @shiv07tiwari ! No need to apologize :)

[2018-12-28 15:18] #119 closed

[2018-12-28 15:28] shiv07tiwari commented on #49
@isabelcosta  Is this issue open ?

[2018-12-28 15:34] isabelcosta commented on #49
@shiv07tiwari yes it is. Since there are no updates on the PR, this one is available. Do you want to work on this?

[2018-12-28 15:46] shiv07tiwari commented on #49
@isabelcosta Yes I can work on this.
Are their any particular design mocks I should follow ?
Also, what all contents do you need in the about section.

[2018-12-28 15:53] isabelcosta commented on #49
@shiv07tiwari I added some tips on the issue description. You may have to look up information regarding the app to make the screen (on GitHub Wiki, any documentation you can find, ...)

[2018-12-28 15:54] shiv07tiwari commented on #49
Okay, I will work on this.

[2018-12-28 16:00] shiv07tiwari opened #124 "Changes in colour scheme."
**Is your feature request related to a problem? Please describe.**
Guidelines suggest that the colour of the toolbar and the bar above toolbar(Which shows battery percentage, etc.) should have similar colours, taskbar being a bit lighter.
But in the app, taskbar is purple, and the bar above is blue which looks abrupt.
**Describe the solution you'd like**
Changing the colours, like the taskabar to

[2018-12-28 20:00] isabelcosta commented on #124
I think this happens because of AnitaB.or colors scheme. There are three primary colors in the app defined [here](https://github.com/systers/mentorship-android/blob/develop/app/src/main/res/values/colors.xml).

Here's the colors guidelines:

![image](https://user-images.githubusercontent.com/11148726/50526621-2cf6d400-0adb-11e9-8c87-a6976cb3fbdb.png)

Do you understand? When I defined the three pr

[2018-12-28 21:05] shiv07tiwari commented on #124
@isabelcosta  Yes I saw the primary and other colours in code.
But don't you think instead of this, we can change colour scheme to a widely accepted pattern :
![image](https://user-images.githubusercontent.com/38163725/50528076-3a7b8080-0b12-11e9-92c0-2e94382b5987.png)
![image](https://user-images.githubusercontent.com/38163725/50528122-81697600-0b12-11e9-899d-2dd646f46421.png)
![image](https://us

[2018-12-29 13:06] shiv07tiwari commented on #49
@isabelcosta  The UI I am designing will look better and profeesional if i use card view using implementation 'com.android.support:cardview-v7:27.1.1', is it okay ?
Also, i think adding links for github repo and slack is nice, so should I use the icons for them ?
![image](https://user-images.githubusercontent.com/38163725/50538808-b372ea80-0b9b-11e9-8c1b-09eeb74648ef.png)

[2018-12-29 14:32] isabelcosta commented on #88
@Rimjhim28 since you'll be working on the task feature which is pretty big (4 PRs big), can you leave this for some other contributor?

[2018-12-29 14:40] isabelcosta commented on #124
I get what you're saying @shiv07tiwari 🤔 What if we switched the orther of the primary colors? the assignment? We could get the darker blue on the top and the lightest blue on the App bar. I'm not sure @shiv07tiwari What do you think? You can ask for more feedback on #mentorship-system on Slack :)

[2018-12-29 14:52] shiv07tiwari opened #125 "Create Feedback screen"
**Is your feature request related to a problem? Please describe.**
We should provide the feature to submit the feedback. I see the option in settings, but it is not implemented yet.

**Describe the solution you'd like**
Implement a method to receive a feedback, either through gmail or something else.
@isabelcosta

[2018-12-29 14:56] shiv07tiwari commented on #124
Sure @isabelcosta  that's a nice fix. Also, because we don't have a particular colour theme right now, we can apply Blue as a default colour, which users can later change using theme (Which we can provide later in settings.)

[2018-12-29 15:03] shiv07tiwari commented on #124
@isabelcosta  Should i make this change ?

[2018-12-29 15:06] isabelcosta commented on #124
What is the exact change you're thinking of doing? @shiv07tiwari

[2018-12-29 15:13] shiv07tiwari commented on #124
@isabelcosta  I will make the toolbar colour blue, and the above bar's colour a bit dark in shade (blue).
![image](https://user-images.githubusercontent.com/38163725/50539701-824de680-0baa-11e9-8f49-4f7cf8cf572b.png)

[2018-12-29 15:24] isabelcosta commented on #125
What we thought initially for this feature was to have users send feedback through the app, to the backend. So this will have to be implemented on the backend. This issue should be created on the backend.

[2018-12-29 16:22] shiv07tiwari commented on #125
Okay, so should I open a issue on the backend, and when it is solved, we can add the functionality in app. @isabelcosta

[2018-12-29 16:39] isabelcosta commented on #49
I don't have a problem with the implementation, is that the newer version? If yes you just have to update the dependency version :)

Regarding links to the slack and github I like it :)

Regarding the UI itself, can you do a quick mock up ui of what you're thinking? I'm not a fan of those card views for every option, but I might be "wrong". Once you do that UI share it here please.
@shiv07tiwari

[2018-12-29 17:04] shiv07tiwari commented on #49
@isabelcosta  This is the design i made right now. Looks good ?
(Changed AboutActivity to About Us)

![image](https://user-images.githubusercontent.com/38163725/50540545-d0b6b180-0bb9-11e9-8fd6-190e931e8f81.png)
![image](https://user-images.githubusercontent.com/38163725/50540546-d44a3880-0bb9-11e9-8721-5de29fe49e24.png)

[2018-12-29 17:16] isabelcosta commented on #49
Are you on slack? If yes can you share those designs there to have more input from the community? If you're not there I can share them as well @shiv07tiwari

[2018-12-29 17:33] shiv07tiwari commented on #49
Yes i am. I shared them. :)

[2018-12-29 19:51] isabelcosta commented on #88
Is that ^^ ok with you? I'll make this available @Rimjhim28 :)

[2018-12-29 22:53] isabelcosta commented on #125
@shiv07tiwari yes you can. When creating the issue, use the "User Story" template, please. I'll add anything if I see it in needs additional information :)

[2018-12-29 23:02] isabelcosta commented on #124
As discussed on Slack, let's hold this off for when we rethink the UI and UX design of the app ;) I will close this issue for now. This is related to #57 sort of.

Thank you @shiv07tiwari for bringing this up!

[2018-12-29 23:02] #124 closed

[2018-12-29 23:38] isabelcosta commented on #116
@haroldadmin I completely forgot about this. Have you started a discussion on Slack?

[2018-12-30 00:12] shiv07tiwari commented on #125
Isue opened at bakcend https://github.com/systers/mentorship-backend/issues/170 @isabelcosta

[2018-12-30 00:15] shiv07tiwari commented on #88
@isabelcosta  Can I look into this issue ? This can help me understand the backend as well.

[2018-12-30 01:17] isabelcosta opened #127 "Add click effect to each option on Settings screen"
## Description

As a user,
I need clean and interactive UI,
so that I can have a pleasant user experience.

Currently, when you click an item in the settings screen you don't have any click feedback. Be aware that the only option working right now is the "Logout" one.
Also, it would be nice if each option had an icon attached (maybe?).

You can see [Material Design for lists](https://material.io/d

[2018-12-30 01:35] isabelcosta commented on #88
@shiv07tiwari sure you can :)

[2018-12-30 04:50] haroldadmin commented on #116
I did bring this up during a community session. There were some concerns regarding how much data can we cache, and it was suggested I investigate this. I haven't been able to find time to do this, but I want to include this as a part of my GSOC proposal.

[2018-12-30 05:02] isabelcosta commented on #116
Ok got it :)

[2018-12-30 08:23] mohak1283 commented on #112
What's the status of this @isabelcosta ?

[2018-12-30 14:43] isabelcosta commented on #112
No one has stepped up yet to help with thi issue @mohak1283

[2018-12-30 19:35] isabelcosta opened #128 "Add Code of Conduct file into .github folder"
## Description

As a contributor,
I need a code of conduct on the repository,
so that I can learn about the code of conduct before contributing to the project.

You can copy the [code of conduct file presented on systers/mentorship-backend .github folder](https://github.com/systers/mentorship-backend/blob/develop/.github/code_of_conduct.md), and paste to a new file in the same folder for this repo

[2018-12-31 14:02] shiv07tiwari commented on #127
Hey, this can be implemented by a first timer with the help of - https://stackoverflow.com/questions/7175873/click-effect-on-button-in-android
Also, instead of giving a toast that the functionality is not available, can we disable the click for those buttons ?
@isabelcosta

[2018-12-31 14:17] isabelcosta commented on #127
@shiv07tiwari thank you for the tip :) sure we could do that as well.

[2018-12-31 18:09] #110 closed

[2018-12-31 19:41] baghaii commented on #53
I would like to work on this issue.

[2018-12-31 19:43] isabelcosta commented on #53
@baghaii great! Go ahead :) feel free to ask any questions if you have any doubt

[2018-12-31 21:10] #18 closed

[2018-12-31 21:26] Rimjhim28 opened #132 "Fetch and List tasks from a Mentorship relation"
## Description
As a user,
I need to see my mentorship relation's tasks,
so that I can know what my mentor has planned for me.

This is a follow-up issue for pull request #121.
In the previous PR UI component for adding a new task was added but the code to implement a full backend interaction and update the backend is still left.

## Mocks

![image](https://user-images.githubusercontent.com/1114872

[2018-12-31 21:34] isabelcosta commented on #132
Make sure that the "Add a new task" whole area is clickable, not only the "+" sign. The sign and the text should all behave like a button showing some feedback when clicking. @Rimjhim28

[2018-12-31 21:46] isabelcosta opened #133 "Hide Details and Tasks tabs on Current Relation screen empty state"
## Description
As a user,
I need have a correct UI,
so that I can understand the app functionalities.

Tasks are attached to a mentorship relation. So the empty state in that screen should also hide the "Details" and "Tasks" tabs

## Mocks

![image](https://user-images.githubusercontent.com/11148726/50568091-00de8b80-0d45-11e9-8230-4001222b7c13.png)

As you can see in the image the empty state sho

[2019-01-01 07:01] mohak1283 commented on #133
Can I work on this issue @isabelcosta?

[2019-01-01 12:08] isabelcosta commented on #133
I already asked you for changes on the resend email feature are those done? @mohak1283 after that you can

[2019-01-01 19:08] mohak1283 commented on #133
@isabelcosta In this task, I have to check that if the tasks that are fetched from backend are empty then I do not have to show these two tabs? Right? I just have to show the empty state. Right?

[2019-01-01 19:18] isabelcosta commented on #132
@Rimjhim28 In this issue you can integrate the GET /tasks as well. I forgot about this. I will change this issue's description to reflect that.

[2019-01-01 19:23] isabelcosta commented on #133
I think that if `GET /mentorship_relations/current` shows that there's no relation, you won't show the tabs, so you won't show neither "Details" nor "Tasks" tab. Then you won't need to call tasks API. Makes sense? @mohak1283

[2019-01-01 19:41] mohak1283 commented on #133
Yeah, it makes sense now :+1: Can I start working on this from tomorrow? @isabelcosta

[2019-01-01 19:42] isabelcosta commented on #133
yes, of course @mohak1283

[2019-01-01 19:46] mohak1283 commented on #133
And one more thing, I was thinking in this way like, RelationPagerFragment class in which the tablayout is setup with viewpager, can I check in that class only, by using RelationViewModel class object and calling that method, If it's returning not null then only I will setup the viewpager? Is that right approach? @isabelcosta

[2019-01-01 20:11] isabelcosta commented on #132
@Rimjhim28 I updated the issue description. Before creating new tasks you can list tasks.
Remember to test this you need an ongoing mentorship relation and some tasks. For these tasks you can create them using the backend API here: http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/

If you need me to create tasks just tell me.

[2019-01-01 20:16] isabelcosta commented on #133
Which is the fragment parent that is instantiated from the bottom navigation? I guess that will be the one calling the API. if you get from there that the relation does not exist, then don't build the tabs layout. Makes sense? @mohak1283

[2019-01-01 20:33] mohak1283 commented on #133
Yeah, it is RelationPagerFragment only, which is instantiated from the bottom navigation.

[2019-01-02 15:37] shiv07tiwari opened #136 "Profile Section UI Changes"
**Is your feature request related to a problem? Please describe.**

As a user, I believe that in the Profile section, instead of opening another dialog to edit my details, the TestFields should convert to an edit text option, which I can save later.

**Describe the solution you'd like**

Clicking on edit : -
1. Changes the screen to various edit text fields, which 2 bottom buttons: save and exit

[2019-01-02 16:22] ananyaarun commented on #128
Can i work on this issue @isabelcosta ?

[2019-01-02 16:44] isabelcosta commented on #128
Yes @ananyaarun :) go ahead!

[2019-01-02 20:01] #128 closed

[2019-01-02 20:10] isabelcosta opened #138 "Add Reporting Guidelines file into .github folder"
## Description

As a contributor,
I need reporting guidelines on the repository,
so that I can learn about the reporting guidelines if someone violates the code of conduct.

You can copy the [reporting guidelines file presented on systers/mentorship-backend .github folder](https://github.com/systers/mentorship-backend/blob/develop/.github/reporting_guidelines.md), and paste to a new file in the sa

[2019-01-02 21:01] isabelcosta commented on #136
@shiv07tiwari the UI was like that before, but then we changed.
Instead of doing that I would suggest that the current UI would be fixed, to show label + value with dividers. Without using EditTexts at all (which is what is being used right now). Using text views, something to appear like this, although following material design.

_______________
Name
Isabel
_______________
Occupation
Maintainer
_

[2019-01-03 12:06] shiv07tiwari commented on #136
Yes we can do that.
I was asking about how will the user then edit these details ?
Because i think the dialog for changing the details can be replaced by something else ?
@isabelcosta

[2019-01-03 23:14] shiv07tiwari commented on #136
Any suggestions ? @isabelcosta

[2019-01-04 13:09] haroldadmin commented on #20
@isabelcosta Can I work on this now?

[2019-01-04 13:34] isabelcosta commented on #20
Yes you can @haroldadmin :)

[2019-01-05 23:10] #88 closed

[2019-01-06 04:45] haroldadmin commented on #136
@shiv07tiwari We recently underwent a heavy refactoring effort to change the EditProfile flow by introducing a DialogFragment. I think it was @m-murad who took up the initiative to improve that flow. It would sort of bring us back to square one if we now remove the editing dialog.

I actually face this issue in one of my own apps, Resumade. The editing flow in this app is very similar to what you

[2019-01-06 09:58] shimonanverma commented on #127
Hey, I'm a first timer and would like to work on this. Can you please assign this issue to me.

[2019-01-06 12:39] isabelcosta commented on #127
Yes @shimonanverma you can work on this :) send a pull request once you are ready and if you have any questions regarding this issue feel free to ask them.

[2019-01-07 00:51] isabelcosta commented on #136
@shiv07tiwari I agree with @haroldadmin suggestion for implementation. Do you understand it @shiv07tiwari? Adjusting "My Profile" page to be just a layout to see details, without having edittext view look?

[2019-01-07 05:17] jashpreet commented on #127
Hey , Can i work on this Issue ?

[2019-01-07 21:09] isabelcosta commented on #26
This following icon was designed by participants of the 2018's edition of GHC Open Source Day:

![image](https://user-images.githubusercontent.com/11148726/50793524-693ae900-12c0-11e9-9e90-a27ab1071b47.png)

[2019-01-09 15:40] shiv07tiwari commented on #103
Can I do this @isabelcosta ?

[2019-01-09 15:47] isabelcosta commented on #103
@shiv07tiwari this is for people new to this repo. Just like I said here: https://github.com/systers/mentorship-android/issues/103#issuecomment-447337915

[2019-01-09 15:47] shiv07tiwari commented on #103
Okay sure.

[2019-01-09 16:08] shiv07tiwari commented on #57
@isabelcosta What do we need to do in this issue ?

[2019-01-09 21:57] isabelcosta commented on #132
@Rimjhim28 do you have any updates on this?

[2019-01-09 22:21] isabelcosta commented on #127
@shimonanverma do you have any updates on this issue? Tell us if you need any help

[2019-01-10 13:26] shimonanverma commented on #127
hey @isabelcosta  I'm having some trouble with opening the project in android studio. Everytime I try to build , it gives me an error
""
Plugin [id: 'org.gradle.kotlin.kotlin-dsl', version: '0.15.6'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositories (could not resolve plugin artifact 'org.gradle.kotlin.kotlin-dsl:o

[2019-01-10 15:11] Rimjhim28 commented on #132
Hey @isabelcosta, I am almost done. I will send a PR latest by tomorrow.
Can you please add some tasks in the backend so that I can check if the code is working fine.

[2019-01-10 21:38] isabelcosta commented on #127
Oh. I don't understand it. How did you run the app? @shimonanverma
Can you share screenshots? If you want you can share this on Slack as well, so that more people can try to help you?

[2019-01-10 21:51] isabelcosta commented on #132
@Rimjhim28

Use this user:
- user: catarina
- password: 12345678

I created this tasks:

![image](https://user-images.githubusercontent.com/11148726/50999038-2af03480-1521-11e9-99a0-3a02d0d4138b.png)

Here's [how you can login on Swagger](https://github.com/systers/mentorship-backend/wiki/Log-in-using-Swagger-UI) (if you need to). Try to learn how to create things on [Swagger UI](), because you ma

[2019-01-10 22:04] isabelcosta commented on #57
@shiv07tiwari honestly I don't remember the exact reason, so now I would say that the idea is to improve the last designs I made during GSoC 2018. You can see this [wiki page](https://github.com/systers/mentorship-android/wiki/User-Interface-Design), with links to the design images. The current screens are very simplistic, they can be improved. This would require some UI mock ups

[2019-01-10 22:17] isabelcosta commented on #132
@Rimjhim28 I update those tasks and task with id = 2, is marked as achieved. So be aware that in your UI, you'll have to show that task under "Achievements" section

[2019-01-11 09:16] Rimjhim28 commented on #132
@isabelcosta Can you please specify what value is supposed to be passed in ```{request_id}``` when using ```/mentorship_relation/{request_id}/tasks``` and how should I get the value.

[2019-01-11 13:21] shimonanverma commented on #127
I opened the project in android studio and while running the app this error showed up. I'm attaching screenshot.
![screenshot from 2019-01-12 00-17-36](https://user-images.githubusercontent.com/33563309/51035998-d9ec4900-15d1-11e9-9f6e-ccb2931d8ddd.png)

[2019-01-11 15:16] jashpreet commented on #103
Hey , I am a first-timer , Can i work on this issue ?

[2019-01-11 15:23] isabelcosta commented on #103
Sure @jashpreet! Let us know if you need any help. There are other dialogs already created in the app, so you already have examples :)

[2019-01-12 08:32] Rimjhim28 commented on #132
Also, can you please specify where exactly is the task marked as achieved so that it should be seperatedin the list.

[2019-01-12 15:02] jashpreet commented on #103
Hey @isabelcosta , I have implemented the changes and have sent a PR request . Can u please review it and let me know if any changes are required ?
Thank-you!

[2019-01-15 00:01] isabelcosta commented on #127
@shimonanverma which Android API version are you running? Can you share this on Systers Open Source Slack? Do you have access? I never got that error, but others might have. If you cannot share it there, tell me and I can share it.

[2019-01-15 00:24] isabelcosta commented on #132
@Rimjhim28

When `GET /mentorship_relations/current` relation is fetched, for the "Details" tab, it will return this response:

![image](https://user-images.githubusercontent.com/11148726/51149663-036bd580-185b-11e9-9817-da52fae321c5.png)

You can see the `request_id` there, it is the `id` field.

I'm not sure I understood your doubt, but in the response you can see the `is_done` field, that indic

[2019-01-15 08:26] Rimjhim28 commented on #132
@isabelcosta I am not sure if there is something wrong with the parameters passes but everytime I try to fetch the tasks I keep getting this error:

![error](https://user-images.githubusercontent.com/26908195/51167763-5bdbbb00-18cd-11e9-9f5e-ef7cbe5651dc.png)

[2019-01-15 14:56] isabelcosta commented on #132
@Rimjhim28 there isn't any relation with ID equal to 0. Did you put that to 0 on purpose? If you put 4, you'll get a response

[2019-01-15 15:51] rutvij2811 commented on #103
@isabelcosta Please remove the available tag from this issue as it is being solved by @jashpreet. I was thinking of trying this out but then saw a PR related to the same issue.

[2019-01-15 16:07] isabelcosta commented on #103
@rutvij2811 you're totally right! Thank you for the notice :)

[2019-01-15 21:06] isabelcosta commented on #132
@Rimjhim28 did you see my message ^^ I edited it, because I misspelled your GitHub id 🙈

[2019-01-16 06:37] Rimjhim28 commented on #132
Yes @isabelcosta I read your comment.
I did put 0 there purposely but ony after checking the value return by relationViewModel. Anyways, I will try again. Thank You helping out! :)

[2019-01-18 19:36] Lavanyagaur22 commented on #127
Hello, I'm a first timer and would like to work on this. Can you please assign this issue to me :)

[2019-01-18 19:39] Lavanyagaur22 commented on #102
Hello, I am a first timer. Can you please assign me this issue. I would like to work on it.

[2019-01-18 19:47] isabelcosta commented on #127
Hey @Lavanyagaur22 👋  this issue is being worked on by @shimonanverma for now. Can you pick other "first timers only" issue? There are plenty [available issues for newcomers](https://github.com/systers/mentorship-android/issues?q=is%3Aissue+is%3Aopen+label%3A%22Status%3A+Available%22) ;)

[2019-01-18 20:05] isabelcosta opened #142 "Add scroll bar to Members List screen"
## Description
As a user,
I need scroll bar on Members List screen,
so that I can be aware of the list length.

## Acceptance Criteria
### Update [Required]
- [ ] Add scroll bar to Members List screen

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.5 hours

[2019-01-19 17:13] Rimjhim28 commented on #132
@isabelcosta I need some help! When I try to post a request on backend, I am getting this error.

![desc_error](https://user-images.githubusercontent.com/26908195/51430070-97fb7c80-1c3b-11e9-827f-b5dcd1fee5ce.png)

[2019-01-19 17:23] isabelcosta commented on #132
I'm glad you asked for help @Rimjhim28 🎉
I think I know what your problem is, and I can do a small review before you submit a PR (I can comment on your files, squash the commit so that I can comment on a commit with all of your changes)

Can you share the link to your fork's branch you're working on?

From the Swagger UI, you can see that what the **backend is expecting** is:
[code]

And **you are

[2019-01-19 18:18] shimonanverma commented on #127
hey @isabelcosta  i tried a lot to solve the error , but i can't. I'm not working on this issue anymore. Can you please make this issue available again.

[2019-01-20 10:46] shaliniv16 commented on #142
@isabelcosta can I work on this issue?

[2019-01-20 12:38] shaliniv16 commented on #101
@isabelcosta can I work on this issue?

[2019-01-20 13:21] isabelcosta commented on #101
@shaliniv16 both this issue and #142 are meant for first-time contributors to this repo, so we can give a chance to newcomers to contribute to this repo and meanwhile learn our Open Source Workflow. This can be seen by the usage of the label `First Timers Only`.

I see you submitted a PR for #142, so as a newcomer which one do you want to work on? This issue or the one you submitted the issue? If

[2019-01-20 13:45] isabelcosta commented on #127
@shimonanverma thank you so much for updating me on it! I'm worried about why can't you run that. I would love to help you solve that. I'll make this available again.
I will share your screenshot on our Slack just to know if anyone has experienced that and knows the solution.

@Lavanyagaur22 if you're still interested you can work on this :)

[2019-01-21 11:54] shaliniv16 commented on #101
I want to work on the issue which I have submitted the PR for.

[2019-01-21 12:01] isabelcosta commented on #101
OK :) Then please address my comments on your PR @shaliniv16

[2019-01-21 17:59] Rimjhim28 commented on #132
Thank you so much @isabelcosta! I did most of the things. The only one that is left to get the correct ```request_id```
Now, I have explicitly mentioned 4. The code works perfectly with the account you had created to help me out.
Here's the link to the branch:  https://github.com/Rimjhim28/mentorship-android/tree/task
Can you suggest a way to get the correct request id, please?

[2019-01-22 14:39] sashrikakaur commented on #127
Hey, I'm a first timer and would like to work on this. If this issue is not being worked on can you please assign it to me?

[2019-01-22 18:26] IshitaAg commented on #120
Hey I'm a first timer and am interested in working on this issue.Can you please assign it to me?

[2019-01-22 20:08] isabelcosta commented on #120
@IshitaAg yes sure! I won't be able to officially assign you on GitHub as you're not a part of the organization yet. But I will remove the "Status: Available", because I know you will be working on it ;)

[2019-01-22 20:27] isabelcosta commented on #127
@sashrikakaur yes sure. You can work on it, since I got no other responses.

[2019-01-23 05:30] arpi-r commented on #89
Hey, I'm a first timer
Could I work on this? @isabelcosta

[2019-01-23 13:37] rutvij2811 commented on #142
I have a small doubt @isabelcosta
Is it like enclosing the layout of that activity within ScrollView ?

[2019-01-23 13:41] rutvij2811 commented on #142
Never mind. It seems the issue is resolved.

[2019-01-23 17:17] Lavanyagaur22 commented on #127
Sorry @isabelcosta for delay:/. @sashrikakaur In case of any problem, I would love to help you out.
Thanks :) . I would solve another one. No problem :)

[2019-01-23 20:18] isabelcosta commented on #127
@Lavanyagaur22 no problem about the delay :) I'm sure you'll be able to solve other issues!

[2019-01-23 20:20] #103 closed

[2019-01-23 20:31] isabelcosta commented on #142
@rutvij2811 No problem, there are plenty of other issues you can work on 😄
Regarding your question, I think you can see the solution in the pull request ;) It wasn't about making the list scrollable, but adding the scroll icon.

[2019-01-26 18:05] Shritesh99 commented on #112
Will work in this issue.

[2019-01-26 18:09] mohak1283 commented on #112
@Shritesh99 I think you should first post the screenshot of the UI/UX here before working on this issue, because UI/UX feature in the app needs to be community acceptable. Good luck :+1:

[2019-01-27 06:18] mustaqmustu opened #148 "Change the UI of home screen of user who is not yet participated in any activity."
**Is your feature request related to a problem? Please describe.**
home screen UI of user who is not under any mentor or not participated in any activity is very dull It is looking like
![image](https://user-images.githubusercontent.com/43813438/51797422-536a7500-2229-11e9-83d0-3f52296d083f.png)

**Describe the solution you'd like**
Make an attractive home screen UI.

[2019-01-27 06:20] mustaqmustu commented on #148
I want to work on it.

[2019-01-27 06:33] ghost commented on #26
can I do this adding feature to app

[2019-01-27 06:39] ghost commented on #26
![icon](https://user-images.githubusercontent.com/43701798/51797591-5450d600-222c-11e9-9f31-3c941cbe1968.JPG)

[2019-01-27 08:27] ghost commented on #142
can I work on this @isabelcosta

[2019-01-27 08:29] ghost commented on #142
![scroll](https://user-images.githubusercontent.com/43701798/51798630-b36a1700-223b-11e9-966a-dc9b11022b50.jpg)

is this issue is about like this only

[2019-01-28 11:32] mustaqmustu opened #150 "In edit profile section,Default profile pic is looking odd."
In edit profile section,Default profile pic is looking odd.
It looks like:
![image](https://user-images.githubusercontent.com/43813438/51833736-54310300-231e-11e9-8ad3-cdfd3a6f8acd.png)
add a pic like:
![image](https://user-images.githubusercontent.com/43813438/51834304-e1c12280-231f-11e9-9d64-63c28d1bef29.png)

[2019-01-28 11:32] mustaqmustu commented on #150
I want to work on it.

[2019-01-28 12:37] Chromicle opened #151 "changed the colour theme of members and settings so user can easily understand"
## DESCRIPTION
as before all the themes of all activities are the same so it is not user eco-friendly about that
## TYPE OF CHANGE WANT
change the themes of activities of members , settings so it looks different

## QUALITY ASSURANCE
add a new feature
so for that feature user can know which activity he is in by easily without  seeing the name on top of the bar

before it looks like this

![membera

[2019-01-28 13:27] ghost commented on #151
i want to work in this

[2019-01-28 18:22] ak8527 commented on #101
**@isabelcosta** can i work on this issue ?

[2019-01-28 21:03] ak8527 commented on #101
![deepinscreenshot_20190129022756](https://user-images.githubusercontent.com/40576656/51866120-14920780-236e-11e9-84d5-5b9f2e89fc5a.png)
![deepinscreenshot_20190129022841](https://user-images.githubusercontent.com/40576656/51866125-1a87e880-236e-11e9-98bb-7800917efc9d.png)

**@isabelcosta**  This is ui for changing password. So i want to know if i can work on this issue.

[2019-01-28 23:51] isabelcosta commented on #151
@prabhakar369 thank you for your interest in contributing to the project!

Your feature request isn't very clear and needs discussion within the community, what you're proposing is to change completely the theme. For now, there are other priorities for the app, so changing the UI without community discussion isn't an option.

I will close the PR you submitted since it wasn't approved yet. If you f

[2019-01-29 00:00] isabelcosta commented on #138
@Shritesh99 thank you for your interest in solving this issue! It is a good practice and what we expect from contributors, to **leave here a comment asking or saying you'll work on this issue**. If anyone asked before you I would have assigned it to that person.

[2019-01-29 00:08] isabelcosta commented on #142
@prabhakar369 since @shaliniv16 is working on this, its best if you work on other issues.

[2019-01-29 00:25] isabelcosta commented on #101
@ak8527 thank you for your interest and presenting your approach 🎉
Yes you can work on this! Submit a PR once you're finished with the issue.

[2019-01-29 00:31] ghost commented on #26
@Isabelcosta please review this

[2019-01-29 00:33] isabelcosta commented on #26
@prabhakar369 this issue is more about deciding the icon for the application, than adding the icon. Once the icon is decided we can add it to the app. So this needs some discussion on Slack. You can bring this up on the #mentorship-system channel.

[2019-01-29 00:36] ghost commented on #26
Ok @Isabelcosta I will ask in slack so please assign this issue for me

[2019-01-29 00:37] ghost commented on #26
That to I added the picture of Systers community one only you seen right

[2019-01-29 00:39] #142 closed

[2019-01-29 00:42] isabelcosta commented on #26
The problem is that the picture you added isn't an icon for the mentorship app. You can ask about the icon I put in a comment of this issue, and ask if it is a good final icon, or design one and propose another.

[2019-01-29 01:09] isabelcosta commented on #132
Left this comment on one of your commits: https://github.com/Rimjhim28/mentorship-android/commit/334b7d678b1731584c952acc6d04d246f51f441b#r32096714

@Rimjhim28 , @mohak1283 is doing something that will help you on your PR #134 , because the Relation fragment will be able to pass the request details to the tabs fragments.

[2019-01-29 01:10] isabelcosta commented on #89
@arpi-r I have been gone for some days. Are you still interested in this issue? If yes, you can totally work on this :)

[2019-01-29 02:53] arpi-r commented on #89
Yes I'm still interested. I'll work on it

[2019-01-29 11:15] ghost commented on #127
can I work on this issue

[2019-01-29 11:22] isabelcosta commented on #127
@prabhakar369 it depends... @sashrikakaur are you working on this? Do you need any help?

[2019-01-29 12:17] ghost commented on #127
@isabelcosta  yeah it made 7 days back know i solved this issue in my local repository

[2019-01-29 12:21] ghost commented on #127
![about](https://user-images.githubusercontent.com/43701798/51907962-5c587380-23ee-11e9-8fd3-fc814431472a.jpg)
  @isabelcosta i did like this when we that text view it happen like that

[2019-01-29 12:29] ghost commented on #138
can i work on this issue @isabelcosta

[2019-01-29 12:42] mustaqmustu opened #154 "In edit profile section,if user removes his/her bio,bio is not updated,Its still showing the old one."
**Describe the bug**
In edit profile section,if user removes his/her bio,bio is not updated,Its still showing the old one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit profile'
2. Click on 'bio'
3. remove the bio and click save.
4. See error

**Expected behavior**
Bio must be empty after removing.

**Screenshots**
![ezgif com-video-to-gif 2](https://user-images.githubuserconte

[2019-01-29 14:05] sashrikakaur commented on #127
@isabelcosta I created a pr request for this issue. Please review it and let me know the changes that need to be done.  PR #145

[2019-01-30 02:15] arpi-r commented on #89
@isabelcosta could you please review my PR

[2019-01-31 00:23] isabelcosta commented on #154
@mustaqmustu thank you so much for testing out the app and reporting this!
Although this bug is valid, I just tested it on the [Backend API](http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/), and it seems this is a bug from the backend, so it should be reported on the backend and solved there. Do you mind reporting this on the [backend repo](https://github.com/systers/mentorship-ba

[2019-01-31 00:39] ak8527 commented on #101
@isabelcosta should i have to pass changepassword object containing username, currentpassword and
newpassword to change_password api?

[2019-01-31 00:49] isabelcosta commented on #101
@ak8527 You'll need to understand Swagger documentation available here: http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/
Here is the information you need (this image if from the Swagger documentation I shared above)

![image](https://user-images.githubusercontent.com/11148726/52022675-e0475400-24f1-11e9-9773-9505c7340bf6.png)

[2019-01-31 15:46] shaliniv16 commented on #59
@isabelcosta can I work on it?

[2019-01-31 15:53] isabelcosta commented on #59
Sure @shaliniv16 but this has to be implemented on the backend first. And needs discussion on its implementation. Do you want to work on it on the backend?

[2019-02-01 15:52] mustaqmustu commented on #154
yeah.

[2019-02-01 22:42] shiv07tiwari commented on #50
@isabelcosta Can I take up this issue ?

[2019-02-02 03:10] isabelcosta commented on #50
@shiv07tiwari i would prefer you solved your current PRs before you jumped into a new issue. I'll try to help you tomorrow, but meanwhile do a quick search on how to solve merge conflicts. That's something important to know

[2019-02-02 08:48] shiv07tiwari commented on #50
@isabelcosta I know how to resolve merge conflicts.
But you said I need to amend the commit, which is giving an error when I am trying to solve the issue.

[2019-02-02 12:04] isabelcosta commented on #154
This issue is already reported here: https://github.com/systers/mentorship-backend/issues/189

[2019-02-02 12:04] #154 closed

[2019-02-03 08:49] arpit73 opened #156 "Bug: "Please check internet connection" error when submitting for sign up"
Bug: "Please check internet connection" error when submitting for sign up.

Steps to reproduce:
1. Select the sign up option.
2. Submit

The app doesn't pick up on available internet connection.

[2019-02-03 18:51] ak8527 commented on #156
Is your device android version 9? Because android pie does not allow communication through http and only allow throught https [.]
(https://medium.com/@son.rommer/fix-cleartext-traffic-error-in-android-9-pie-2f4e9e2235e6)

[2019-02-03 18:54] heyitsarpit commented on #156
yes I'm on android 9.

[2019-02-04 20:20] #138 closed

[2019-02-04 21:29] isabelcosta opened #157 "Provide UI solution to show tasks from past relations"
## Description
As a user,
I need know the history of my past mentorship relations,
so that I can understand my past accomplishments and how they relate to my past relations.

Would be nice to see the tasks related to the past mentorship relations. There can be a lot of ways to show this.
Options I thought of:
- show tasks specific to a mentorship relation on the Mentorship Relation screen, that co

[2019-02-05 20:21] #89 closed

[2019-02-05 23:54] isabelcosta commented on #156
@arpit73 Can you provide more information on this bug and follow the Bug Report issue template please? Template is https://github.com/systers/mentorship-android/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2019-02-06 00:31] ak8527 commented on #157
@isabelcosta When i send request it show mentorship relation minimum duration is 4 week . I cant send request?
Also can i work on this issue.

[2019-02-07 17:32] haroldadmin opened #160 "Migrate app to AndroidX namespace"
**Is your feature request related to a problem? Please describe.**
The app currently uses support library v28 in its dependencies. However, going forward all support libraries will be released under the AndroidX namespace, so we need to update our project with the new naming scheme to be able to update to future support library versions.
[Introduction to AndroidX](https://android-developers.google

[2019-02-07 17:32] haroldadmin commented on #160
If maintainers approve this issue, I'd like to work on it.

[2019-02-07 21:17] ak8527 opened #162 "Login on pressing enter on keyboard"
**Describe the bug**
After filling username and password and clicking enter on the keyboard it hides. It is bad for ui/ux. Instead of hiding the keyboard, it will login.

**To Reproduce**
Steps to reproduce the behavior:
    1. Go to Login
    2. Fill the username then fill the password and press enter on the keyboard
    3. It dismiss the keyboard.

**Expected behavior**
After entering password o

[2019-02-08 15:56] Chromicle opened #164 "Cannot add new item in tasks after some point"
As a user, I want to be able to create more tasks.
so i can get all the tasks which to do

**ABOUT ISSUE**
When we go on adding the new items, after a certain limit, I am unable to add a new item(the "+add new item" isn't appearing.)

![screenshot_20190208-210612_systers mentorship](https://user-images.githubusercontent.com/43701798/52489084-6006aa00-2be7-11e9-9a0e-d920b3c06e99.jpg)

**ACCEPTANCE

[2019-02-08 16:22] ghost commented on #127
@isabelcosta  can i work on this issue as he can not doing the changes from past 8 days

[2019-02-08 17:17] sashrikakaur commented on #127
@isabelcosta I am working on this issue but I need help. If @prabhakar369  has completed the issue you can assign it to him. I would love to get some help to see how it's done.

[2019-02-08 18:25] ak8527 commented on #164
@isabelcosta  can i work on this?

[2019-02-09 05:17] ghost commented on #164
Iam already working on this @ak8527

[2019-02-09 05:37] ghost commented on #157
yeah @ak8527 it should be minimum 4 duration week o, you have to put the relation more than four weeks
and if the person is already on relationship with others then also you cannot send the request to him

[2019-02-10 08:39] ghost commented on #50
I does not understand this issue can you explain me @isabelcosta

[2019-02-10 10:13] isabelcosta commented on #50
@Chromicle We want to have in the future some tutorials screens to show how to navigate the app. We won't start implementing this without some mockups showing the UI / UX design of this feature.

**Example:** When I think of tutorial screens I think of a screen with a page indicator on the bottom, and 3 steps, for example, one showing how to see member profiles, another showing how to send a reque

[2019-02-10 11:18] isabelcosta commented on #164
@Chromicle and @ak8527 this is being worked by @Rimjhim28 . Right now, Rimjhim is handling the List Tasks feature and is a little dependant on a refactor @mohak1283 is doing. So the tasks present on the app are static right now. I will close this issue since its going to be solved soon when #132 #133 are done.

[2019-02-10 11:18] #164 closed

[2019-02-10 11:19] isabelcosta commented on #164
Nonetheless, @Chromicle thank you 🙌 for reporting this, its a valid problem, but is already being solved

[2019-02-10 11:22] isabelcosta commented on #162
@ak8527 I just read this issue now and I understand as valid. So you can work on it. But be aware that before sending a PR it is recommended to validate the issue and show that you want to work on it, so that maintainers can manage the issues as PRs.
If it was not valid I would close your PR and issue.

[2019-02-10 11:48] isabelcosta commented on #157
@mohak1283 I don't remember when you did the PR to set a minimum to the calendar for the end dat of a mentorship relation, did you count the 4 weeks? Could this be an edge case because of February month days count?

[2019-02-10 11:49] isabelcosta commented on #157
@ak8527 can you address my request changes on 2 of your PRs before looking into other issues?

[2019-02-10 11:50] mohak1283 commented on #157
@isabelcosta Actually, @Manik1094 did that feature

[2019-02-10 11:56] isabelcosta commented on #157
Ups thank you @mohak1283 ;)

@Manik1094 do you remember this?

This can be seen through the code (its open sourced 😝 ), but I'm focusing now on answering comments on PRs and issues, if anyone can take a look at this, and if it is a bug, I would appreciate a lot!

[2019-02-10 12:23] isabelcosta commented on #127
@sashrikakaur I left a comment on your PR asking in what do you need help ;)

[2019-02-10 12:41] isabelcosta commented on #160
@haroldadmin thank you for proposing this. I had no idea about this thing. So this is a big refactor in the app? I'm ok with this. You're planning to do this in one PR right?

cc @m-murad

[2019-02-10 15:55] asankova commented on #96
Can I work on this? @isabelcosta

[2019-02-10 15:57] isabelcosta commented on #96
Sure @gingerkirsch you can work on this ;) Feel free to ask any questions if you have any ;)

[2019-02-10 19:38] #162 closed

[2019-02-11 04:35] haroldadmin commented on #160
@isabelcosta This will not be a huge refactor, as most of the changes will only be in import statements. Yes, I want to do it in one PR. That being said, almost all files in the app that deal with Android specific components will change a little.

Android Support Libraries have had a lot of trouble with their naming scheme. The versioning is not apparent, and there are just too many of them to kee

[2019-02-11 16:20] ghost opened #166 "When phone is rotated cancel button and notes are getting overlapped"
## Description

As a user, when we have large notes in the details toolbar and when we rotated the phone the cancel button and the notes are getting overlapped

**Expected Behaviour**
The app should retain its same state after the device is rotated.

**Testing Device**
Device: Samsung j8
OS : 8.0.0 API 26

**Screenshots**
![screenshot_20190211-213054_systers mentorship](https://user-images.githubu

[2019-02-11 17:25] ghost commented on #166
I made a pull request on this @Isabelcosta please review it

[2019-02-11 19:48] isabelcosta commented on #160
Cool @haroldadmin. I see @m-murad already approved with a 👍 😝 You can work on it.

[2019-02-11 20:05] #101 closed

[2019-02-11 20:09] isabelcosta opened #168 "Add test emulators to Travis CI configuration"
## Description
As a developer,
I need run tests with TravisCI,
so that I can make sure a build is passing the tests before getting merged.

If you're not sure of how to do this, take a look at [this comment from another contributor](https://github.com/systers/mentorship-android/pull/131#issuecomment-459584221).

## Mocks

N/A

## Acceptance Criteria
### Update [Required]
- [ ] Add test emulators t

[2019-02-11 20:10] isabelcosta commented on #168
@m-murad I followed your comment from https://github.com/systers/mentorship-android/pull/131#issuecomment-459081682

[2019-02-11 21:13] ak8527 commented on #166
@Chromicle are you working on this (#166)?

[2019-02-12 00:30] #96 closed

[2019-02-12 00:51] gingerkirsch opened #169 "Locate all files with "no newline at end of file" issue and fix those"
## Description

As a developer,
I need to put the newline as a last character in files (if it is allowed by the file format),
so that I can maintain a good style of the codebase and I will not be shown "No newline at end of file" warnings when doing a git diff.

Why is it considered a good style to add newline at the end of file:
- it is something that historically comes from the C language standa

[2019-02-12 10:40] haroldadmin commented on #166
@Chromicle Before making Pull Requests on issues, please wait for them to be approved first. It ensures that maintainers know about the problem, and they might suggest some additional details/fixes so that they can be included in the PR.

[2019-02-12 10:49] ghost commented on #166
oh !! from the next time onwards i fallow that
apologize for this

[2019-02-12 12:29] ghost commented on #168
can i work on this issue @isabelcosta

[2019-02-12 16:20] ghost opened #170 "Missing Scroll bar for all the tool bars in requests fragment"
**DESCRIPTION**
As a user,
I need scroll bar on all the toolbars in requests fragment
So that I can be aware of the list length.

**ACCEPTANCE CRITERIA**
#### Update [Required]
- [ ] Add scroll bars to all the toolbars in the request fragment

**Definition of done**
- [ ] All the three toolbars must have the scrollbars
 - [ ] Approval by one mentor

[2019-02-12 22:01] isabelcosta commented on #169
@gingerkirsch I added the `## Description` line that was missing from the Issue template you adapted ;)

Thank you for reporting this, I was aware that this could be done but never got the chance to create this.
I will make this a "First Timers Only" issue 🎉

[2019-02-12 22:31] KING-SID commented on #169
Hey @gingerkirsch! I'd like to take up this issue, can you assist me on how I can go about solving it? i.e. How do I search for files with the "no new line at end of file" issue? Thank you in advance!
^I guess you can tell that I am pretty new to all this haha, I'd really appreciate any help/guidance

[2019-02-12 23:30] asankova commented on #169
Hello @KING-SID , so you should check all files and then place the cursor in the end. Imagine a text file - if you walk down with cursor and can reach a separate line with no text means the file is correct. If the most far place the cursor can get contains text - you need to hit enter :) But only once, otherwise git diff will show you read lines for everything that goes extra. Before commit you do

[2019-02-13 11:58] ghost commented on #166
@isabelcosta can you say is this issue is correct and I solved this issue of PR #167 can you please review it is there any changes please inform me

[2019-02-13 12:54] ghost opened #171 "by changing the fragments tasks are getting deleting automatically"
**DESCRIPTION**
As a user,
when I add a new task and move to another fragment, the newly added task isn't getting saved when I return back to it.

issue reference  #132

**MOCKS**
![171](https://user-images.githubusercontent.com/43701798/52712333-433cee80-2fba-11e9-9d0c-8f2cdd1aa31b.gif)

**ACCEPTANCE CRITERIA**
**Upadte[required]**
- [ ] When we return back to tasks fragment, the newly added task

[2019-02-13 13:02] ghost commented on #170
@isabelcosta can you review  this issue, as we want the scroll bars know

[2019-02-13 13:04] ghost commented on #169
@gingerkirsch  did you assign this issue to @KING-SID or is it free

[2019-02-13 14:00] isabelcosta commented on #169
@Chromicle this is a first timers only issue, you have a PR already in place and I'm thinking it's valid not sure, I have to check it later. So please choose issues not labeled as "First timers only"

[2019-02-13 17:23] KING-SID commented on #169
@gingerkirsch  Thanks for letting me know, I will get right to it! How do I get assigned to a task?

[2019-02-13 17:42] asankova commented on #169
@KING-SID you should request to work on this feature and then it is up to maintainer to decide if you can proceed with it or not.

[2019-02-13 17:48] KING-SID commented on #169
@gingerkirsch Thanks for letting me know!

**To the maintainers:**
I would like to work on this feature, kindly let me know if I can proceed with it. It's relatively simple and I think it would be a great way for me to begin contributing to Systers!

[2019-02-13 19:33] Shubham1304 commented on #169
Hello! I would like to take up this issue. I am completely new to this so can someone please help me out in figuring out how to go about this.??
Thanks in advance!!

[2019-02-13 19:39] Shubham1304 commented on #127
Is this issue still available? If yes, I would like to work on it!

[2019-02-13 20:48] Shubham1304 commented on #100
Is this issue available? I am interested to take up this issue!!

[2019-02-13 23:07] ak8527 commented on #171
@isabelcosta can i work on this?

[2019-02-14 01:21] ak8527 commented on #171
@Chromicle are you working on this issue?

[2019-02-14 06:20] ghost commented on #171
@ak8527 currently i am not working, but i can not assign this issue to you the one of the mentor has to decide it

[2019-02-14 08:33] ak8527 commented on #171
ok, i will ask the mentor , if he can assign me this.

[2019-02-14 08:34] ak8527 commented on #171
@isabelcosta  can i work on this issue?

[2019-02-14 10:15] ghost commented on #171
ok then!!

[2019-02-14 12:51] shiv07tiwari commented on #50
@isabelcosta Can I solve this please ? I will manage the parallel PRs by branches.

[2019-02-15 11:04] ghost commented on #112
@isabelcosta can I work on this issue, I had one plan to how to implement it by easily and user eco-friendly

[2019-02-15 11:19] KING-SID commented on #169
Hey @gingerkirsch @isabelcosta  I have submitted a pull request that solves the issue. What are the next steps to getting it reviewed and merged? Please give me any feedback that could help me improve the PR if it is lacking in any way. Thank you!!!

[2019-02-15 12:35] ghost commented on #112
![kkk](https://user-images.githubusercontent.com/43701798/52857024-ed984b80-314b-11e9-8d77-199757991171.png)

by long pressing the member we automatically send the request to the particular person

by clicking on that we can directly go to the intent of  to **Send Request**

[2019-02-15 15:56] ghost commented on #26
[ic_launcher.zip](https://github.com/systers/mentorship-android/files/2869876/ic_launcher.zip)

how this type of app icons @isabelcosta

[2019-02-15 16:49] mustaqmustu opened #175 "When there is no data connection,App crashes when we press edit profile button"
**Describe the bug**
When there is no data connection,App crashes when we press edit profile button

**To Reproduce**
Steps to reproduce the behavior:
1. Off the data connection
2. Open the app and click on edit profile
3. See error

**Expected behavior**
app must not crash...rather than crashing it will be better to toast a message regarding data connection

**Screenshots**
![ajay](https://user-i

[2019-02-16 13:17] mustaqmustu opened #176 "In user Login screen,username text view is not properly placed,Its overlapping with systers logo in some devices"
**Describe the bug**
In user Login screen,username text view is not properly placed,Its overlapping with systers logo in some devices

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login screen
2. See error
3.Change the orientation
4.see error

**Expected behavior**
It should not overlap.May be using a Scroll View can fix it.

**Screenshots**
![photo_2019-02-16_18-43-36](https://user-

[2019-02-16 13:29] #148 closed

[2019-02-16 15:20] ghost opened #177 "Misalignment of username and password whilst in landscape mode."
## Description
**Describe the bug**
When the device is switched to landscape mode, username and password gets misaligned.

**Expected behavior**
App should retain it state i.e username and password should be aligned whilst in landscape mode.

**Testing device:**

* Device: Samsung j8 API 26
* OS: Android - 8.1.0

**Screenshots**

![loginuser](https://user-images.githubusercontent.com/43701798/5290

[2019-02-16 15:20] ghost commented on #177
Can I work on it @isabelcosta

[2019-02-17 19:47] YashishDua commented on #175
Can I take up this issue?

[2019-02-17 19:48] YashishDua commented on #176
Can I take up this issue?

[2019-02-17 19:52] YashishDua opened #179 "Updating Theme on Material Guidelines"
**Describe the bug**
Currently, the app has too many faults in terms of Material Design. Let's take all design corrections one by one. Primary, Primary Dark and Accent colors need to be aligned to Material Guidelines.

**To Reproduce**
Steps to reproduce the behavior:
The whole App reflects the issue.

**Expected behavior**
Good visual colors.

[2019-02-18 02:33] ghost commented on #179
@YashishDua I already asked about changing UI themes in slack, before putting this type of issues we should ask in slack as all the mentors should accept it

[2019-02-18 04:51] mustaqmustu commented on #175
Yes you can work on it once @isabelcosta approves it

[2019-02-18 04:52] mustaqmustu commented on #176
No im already working on it

[2019-02-18 08:53] YashishDua commented on #179
@Chromicle Thanks for letting me know the process as I was not aware of it.

[2019-02-18 08:55] YashishDua commented on #176
Where are the issues assigned?

[2019-02-18 12:18] ghost opened #180 "Toast message or snack bar does not appear upon exiting the app"
## Description

**Actual Behaviour**
If the user clicks the back button,  the app exits without showing the Toast message or snack bar

**Expected Behaviour**
Toast or snack bar should appear upon clicking back button twice.

**Steps to reproduce it**
Click back button from the app's home screen.

[2019-02-18 12:54] Aditya185 commented on #57
I want to work on this issue

[2019-02-18 15:52] Aditya185 opened #181 "The UI of this android app is very simple white background"
![screenshot_20190218-192031](https://user-images.githubusercontent.com/31539068/52962433-41f93080-33c3-11e9-8704-3bac515cd43c.jpeg)

the login page or any other page should be attractive

the UI of this android app should be changed.

[2019-02-18 15:54] Aditya185 commented on #180
I would like to work on the issue

[2019-02-18 17:01] m-murad commented on #180
A dialog should only be shown when there is a critical action that can't be undone easily eg logout, ending a relationship etc.
A dialog to confirm if the user wants to exit is not necessary

[2019-02-18 17:02] m-murad commented on #180
I would suggest double press back to exit with a toast. You can update the same issue if you want to work

[2019-02-19 02:39] ghost commented on #180
Yeah !! Ok I will put the Toast message or snack bar. And I will continue to work on @m-murad

[2019-02-19 02:40] ghost commented on #180
@Aditya185 I am working on this issue and completed most of the part you can find any other issues

[2019-02-19 08:21] mohak1283 commented on #100
Yes this issue is available @Shubham1304
You can work on it :+1: Good luck :+1:

[2019-02-19 08:23] mohak1283 commented on #181
Hii @Aditya185 UI/UX changes in the app are discussed first in the slack community and if majority of members agreed to the specified UI/UX, then the changes can be done.
So, I would suggest you to suggest the UI in the slack channel first :+1:

[2019-02-19 08:38] Aditya185 commented on #181
i don't know about slack channel

[2019-02-19 13:16] jenpaff commented on #120
hi ! is this issue still available?

** edit: sorry I only just got the thing with the available label

[2019-02-19 15:59] ghost opened #185 "New feature : refreshing members screen list easily"
## DESCRIPTION
**Actual Behaviour**
If we want to refresh the member's list to get new members we should click on members icon then it will give the new ones.
**Expected Behaviour**
Add the feature that by dragging down the member's screen list the members should refresh

## Acceptance Criteria
**Update [Required]**
* [x]  Add SwipeRefreshLayout so that will refresh the member's screen list

**Def

[2019-02-19 18:20] somenath1435 opened #186 "Change UI according to Material Design guidelines"
## Description
The color of status bar is not according to Material Design guidelines.
It should be relevant to toolbar color.
## Mocks
Current look:-
![whatsapp image 2019-02-19 at 11 48 00 pm 1](https://user-images.githubusercontent.com/43093724/53037777-1a789580-34a1-11e9-9ba3-aaf87786e6e0.jpeg)

## Acceptance Criteria
### Update [Required]
- [x] Change status bar color

## Definition of Done
-

[2019-02-19 19:37] #102 closed

[2019-02-20 11:34] mustaqmustu opened #188 "In request detail page,When orientation is changed,notes and status of request are not entirely appearing according to the screen size of the device"
**Describe the bug**
In request detail page,When orientation is changed,notes and status of request are not appearing according to the screen size of the device

**To Reproduce**
Steps to reproduce the behavior:
1. Go to requests
2. Click on all
3. select one request
4. change the orientation
5.see the error

**Expected behavior**
Notes and status of request must appear.Adding a scroll bar will fi

[2019-02-20 12:23] ghost opened #189 "No list item divider in members list."
## Description

In members screen list,  there is no list item divider for each member(recycler view). These dividers are often used to separate different list items and to specify the boundaries of each list item layout which is clickable. This gives a positive user experience.

## Acceptance Criteria
### Update [Required]
* [ ]  Add the list item divider in members screen list.

## Definition of

[2019-02-20 14:59] ghost opened #190 "When device is changed it orientation tasks are automatically increasing"
## Description
In the tasks when the device is changed to landscape mode the initial 3 tasks are getting reloaded once again so it became 6 tasks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tasks
2. Change the device into landscape mode
3. once again come back to portrait mode
4. See error

**Expected behavior**
The initial tasks should remain the same if we change the orientation

[2019-02-20 20:16] #20 closed

[2019-02-21 11:36] Aditya185 commented on #181
#182....... please check this pull request for reference.

[2019-02-21 11:45] mustaqmustu opened #192 "Add scroll bar for tasks"
**Describe the bug**
Add scroll bar for tasks

[2019-02-21 20:47] isabelcosta opened #193 "Change the expected expiry timestamp serialized name"
## Description

Current POST /login response returns expiry timestamp as `access_expiry` instead of just `expiry`. This should be changed on the class that represents the Login response.

Current response:
[code]

Make login response class match the actual response

## Acceptance Criteria
### Update [Required]
- [ ] Change login response according to current REST API model.

## Definition of Done

[2019-02-21 21:13] isabelcosta commented on #169
Fixed on PR #191

[2019-02-21 21:13] #169 closed

[2019-02-21 21:13] somenath1435 commented on #193
@isabelcosta I'm a first timer. I want to work on this

[2019-02-21 21:22] isabelcosta commented on #151
WIll close this to inactivity

[2019-02-21 21:22] #151 closed

[2019-02-21 21:24] isabelcosta commented on #186
@somenath1435 this issue is similar to #151 and does not provide much context and explanation. This is a design issue, I would prefer if you presented a case to why you want to change the UI. There's a lot of UI improvements that can be made on the app, and there are already some issues for it. If you really think this should be done, please present more explanation on it. I will close this for no

[2019-02-21 21:24] #186 closed

[2019-02-22 14:29] somenath1435 commented on #193
@isabelcosta Can you tell the name of login class?

[2019-02-23 10:04] haroldadmin commented on #181
@Aditya185 Hello Aditya. It looks like you have only changed the background to a gradient for the login and signup activity. Don't you think this reduces legibility of the text fields? Also, don't you think this causes visual inconsistency with the design of the rest of the app?

Besides these problems, please also wait for admins to approve an issue before submitting a PR for it. Also, please mak

[2019-02-23 17:08] F20170604 commented on #54
@isabelcosta Is this issue available?

[2019-02-23 17:23] Lavanyagaur22 opened #194 "Display an empty screen in Current Relation Fragment when internet connection is not there."
**Is your feature request related to a problem?**
It looks very odd when the internet connection is not there and the user has some relations, then instead of displaying the current relations (which actually needs to be fetched from the database which is to be implemented later) it displays the message "You are not in a current mentorship relation" which might confuse the user.

**Describe the sol

[2019-02-23 17:30] Lavanyagaur22 commented on #194
I would like to work on the issue :). This would improve the UI a bit I guess! @isabelcosta @m-murad

[2019-02-24 05:57] Shubham1304 commented on #100
Hey! @mohak1283 As I read the delete account feature has been implemented in backend. Can you please help me to give me a lead on that as I was having some difficulty in that... Thanks in advance

[2019-02-24 10:53] mustaqmustu commented on #188
@isabelcosta can i work on this

[2019-02-24 10:57] Lavanyagaur22 commented on #98
Hey, @mohak1283 is this issue solved or can I work on this? :)

[2019-02-24 10:58] Lavanyagaur22 commented on #98
Also @isabelcosta told me that you were facing some problems while squashing the commits. Can I help you in that?

[2019-02-24 11:33] mohak1283 commented on #98
Hey @Lavanyagaur22 I have sent the PR for this issue because in that PR, @isabelcosta mentioned that regarding this feature, community discussion is required, and also, she post that in the slack channel too, but there no one replied yet. That's why this PR is open yet.

[2019-02-24 11:35] mohak1283 commented on #100
Hey @Shubham1304 what difficulty are you facing?

[2019-02-24 11:43] isabelcosta commented on #193
Yes you can work on that. I can't recall the name of the class, I would suggest you look at the code I'm sure you'll be able to find it @somenath1435

[2019-02-24 11:45] isabelcosta commented on #168
I have yet to see some PRs you created, but I think some may be valid since this a first timers only issue it's best to let them available of other first timers @Chromicle I'll get back to your issues once I get a chance

[2019-02-24 12:03] ghost commented on #168
@isabelcosta Ok then ! Thank you but I made some of the issues also can you please review it so I can made PRs on that

[2019-02-24 14:12] Shubham1304 commented on #100
I read the code in SettingsActivity and then read SignUpActivity to understand the api calls being made to register a user. From there I went to SignUpViewModel then to authDataManager then to authService and found out that to register a user apiManager.authService.register(register) is being returned. Now I am stuck here as I don't know what call to make to clear the data and flags associated wit

[2019-02-24 17:03] mohak1283 commented on #100
Hey @Shubham1304 I think you need to just make the delete api call and just send the intent to SignUpActivity because all the user data is deleted from backend when you call that api. And none of the user data is saved inside the app, so you don't need to clear the data from your side. It will be automatically deleted from backend.

[2019-02-24 21:35] isabelcosta commented on #194
What @mohak1283 is doing on PR https://github.com/systers/mentorship-android/pull/134 it's not exactly what you're mentioning here. Let's wait for this PR to be merged and then figure out that. Is that ok @Lavanyagaur22 ?

[2019-02-24 23:25] isabelcosta commented on #166
This issue is valid @Chromicle . But be mindful of what @haroldadmin said. If you submitted an issue not valid and then you did a PR about it, I would have to close and discard your work.

[2019-02-24 23:32] isabelcosta commented on #192
@mustaqmustu can you explain a bit more the bug you're reporting?

[2019-02-25 02:45] ghost commented on #166
@Isabelcosta that is what reason I Did not send any PRs regarding my further issues
Apologised for this

[2019-02-25 10:56] mustaqmustu commented on #192
as there is no scroll view..add new task is not appearing in tasks.So it will be better to add scroll view
![20190225_162101](https://user-images.githubusercontent.com/43813438/53332749-196cbb80-391a-11e9-9c1a-2dcefb208261.gif)

[2019-02-25 14:39] Lavanyagaur22 commented on #194
Here "this" you are referring to PR #134? A bit confusion :/. Should I work on this issue now and create a PR or look up for another one and start working on it because actually, I have almost completed the code for the above-mentioned issue. Can you please clear it to me as to what I have to do now :) @isabelcosta.

[2019-02-25 14:52] ghost opened #195 "App crashes when there is no network connection if we press send request button"
## Description

**Describe the bug**
In Members profile screen, if the network connection is not there when clicked on Send request button the app is crashing

**Expected behavior**
When there is no network if the user click on any member the should not show the details of the particular member and show the toast or snack bar that "there is no network connection"

**To Reproduce**
Steps to reprodu

[2019-02-25 14:53] ghost commented on #195
@isabelcosta can I work on this thank you!

[2019-02-25 19:21] Lavanyagaur22 commented on #136
@isabelcosta Can I work on this issue to improve the UI of the profile section because no one is working on this issue right now. Plus in the edit user-profile section we can change the input type of edit text to multiline to improve the UI further :). Plus in the profile section, sub-sections can be made for social media links as well.

[2019-02-25 19:33] Aditya185 commented on #189
@Chromicle ,I have added the list item divider in members screen list.
Here , below is the screenshot after adding the divider.
![screenshot_20190226-003507](https://user-images.githubusercontent.com/31539068/53363341-3c22c280-3962-11e9-948e-4bfd3da22ca2.jpeg)

[2019-02-25 19:44] Aditya185 commented on #189
please approve me,so that i can send pull request

[2019-02-26 00:32] ghost commented on #189
@Aditya185 I already specified that I am Working on It if any mentor approved this issue I will semd the PR now itself

[2019-02-26 08:41] Lavanyagaur22 opened #197 "feat : Create a push notification whenever the user gets a new mentorship request."
**Is your feature request related to a problem? Please describe.**
Whenever the user gets a new mentorship request, no notification is received by the user rather than the user has to, again and again, check the Requests tab to get updated.

**Describe the solution you'd like**
To solve the above problem, a simple push notification should be sent to the user to notify about any new incoming reques

[2019-03-04 00:09] isabelcosta commented on #54
This issue is open again for anyone who wishes to contribute :)

[2019-03-04 00:30] isabelcosta commented on #179
@YashishDua can you explain more about want you want to fix in the app?
I understand the app needs a lot of UI retouches, but we need UI mockups for this and a bit more specific information.

[2019-03-04 00:40] isabelcosta commented on #166
This is open again :) it was partially done here #167 (for anyone looking to contribute)

[2019-03-04 00:43] isabelcosta commented on #189
This needs to be discussed on Slack since this is a Design issue. Anyone with Design experience or curiosity can give an opinion on this :)

[2019-03-04 00:52] isabelcosta commented on #180
This is open! For any contributor: please check @m-murad 's suggestions on this issue.
In doubt ask for clarifications.

Some work was done in PR #184

[2019-03-08 19:18] ak8527 commented on #195
@isabelcosta can i work on this issue?

[2019-03-08 19:22] isabelcosta commented on #195
Yes you can @ak8527

[2019-03-09 16:32] ak8527 commented on #190
@isabelcosta can i work on this issue?

[2019-03-11 22:52] realrufans opened #201 "App crashes if user isn't confirmed ."
**Describe the bug**

Application crashes when logging in with an unverified or unregistrerd user.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Login with:
[code]
3. See application crashing

**Expected behavior**

Open the main screen with logged user, or show an error message if the user is not unverified or registered.

**Screenshots**

GIF: https://img.esteem.ws/dzlvz2

[2019-03-11 22:53] realrufans opened #202 "Delete account button"
The delete account button isn't clickable.

[2019-03-13 21:40] isabelcosta commented on #202
@realrufans thank you for filling an issue for this, but the lack of button feedback on Settings screen (e.g.: click effect) is being worked on PR #145 . Regarding the actual feature, this is available to work on, you can see the issue described here #100
Also, please follow the Issue template when reporting a bug or new feature.
I will close this because this is a known issue, reported on other i

[2019-03-13 21:40] #202 closed

[2019-03-13 21:47] #160 closed

[2019-03-13 23:08] isabelcosta opened #203 "App deployed to apk branch does not run on my device."
**Describe the bug**

The apk generated by Travis CI isn't working on an Android device, but when I run the app directly from Android Studio (with the latest commit) it runs well.

Log from the apk generated by Travis CI:
[code]
(...)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/systers/mentorship-android/blob/apk/app-debug.apk'
2. Install the apk on your device

[2019-03-13 23:44] haroldadmin commented on #203
@isabelcosta May I work on this? I'll need to investigate this to find what's causing this error.

[2019-03-13 23:45] isabelcosta commented on #203
sure @haroldadmin I mentioned a possible solution on travis. Thank you!

[2019-03-14 10:51] haroldadmin commented on #203
I've been trying to find what's causing this issue, and apparently Travis is not the problem here. I updated the Travis config file to use android pie SDK, but the error persists. As it turns out, the issue was actually with the version of constraint layout library. More info [here](https://stackoverflow.com/questions/50783810/error-inflating-class-androidx-constraintlayout-widget-constraintlayout

[2019-03-14 21:42] #203 closed

[2019-03-14 22:03] isabelcosta commented on #185
Not sure if this should be implemented for now. Users don't come that fast. It isn't a thing that keepd changing. And since @ghost is not here, I'll close this one.

[2019-03-14 22:03] #185 closed

[2019-03-14 22:07] isabelcosta commented on #49
This is open again for new people to this repository.
If anyone gets stuck on this, PR #126 has some work done.

[2019-03-14 23:10] isabelcosta commented on #181
@Aditya185 this issue is not clear enough. I'm aware that there's a lot of improvements that can be made in terms of the design of the app. I will close this since there are other issues addressing this design problem.

[2019-03-14 23:10] #181 closed

[2019-03-17 12:37] isabelcosta commented on #190
@ak8527 yes you can work on this

[2019-03-17 12:48] isabelcosta commented on #194
@Lavanyagaur22 sorry for the late reply. @mohak1283 is implementing an empty state screen for when the user is not in relation. I'm not sure if it fixes the issue for when there's not an internet connection. So that's why I thought it was better to wait for the PR to be merged. Does it make sense?

[2019-03-20 20:24] #133 closed

[2019-03-20 20:59] isabelcosta opened #205 "App is crashing when navigating to Current Relation screen"
**Describe the bug**

App is crashing when a user navigates to the Current Relation screen from the bottom navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run application
2. Login user
3. Click the middle option on bottom navigation (3rd)
4. See App crashing error

**Expected behavior**

App should show the "Current Relation" screen

**Crash Log**

[code]

**Smartphone (please co

[2019-03-20 21:09] isabelcosta commented on #201
I tried this out @realrufans and the app does not crash when I log in with an unverified user :/
I used this user:
[code]

Did I understand your report well? Also when reporting a bug can you please follow the **Bug Report** template we have, so I can understand better what the issue is?

[2019-03-20 21:50] isabelcosta commented on #127
This is available now @Shubham1304 , are you still interested in this issue?

[2019-03-21 02:54] realrufans commented on #201
Yes, you got the report right. I'm sorry for not using the right template.

And for the bug, I was still able to reproduce it. I'm on Android 8.1 (it crashed while trying to login with the username and password you provided). I also tried it with Android 5.1, the app crashed while trying to load MainActivity.

Here's the apk I installed on both Devices https://github.com/systers/mentorship-android

[2019-03-22 15:55] pranay2063 commented on #205
Hi @isabelcosta, can I attempt this? I am new to open source.

[2019-03-22 16:00] pranay2063 commented on #205
This indeed seems to be a problem related to androidx migration. I read a blog mentioning the same https://blog.danlew.net/2018/11/14/the-reality-of-migrating-to-androidx/.

[2019-03-22 23:45] isabelcosta commented on #205
Sure @pranay2063! Go ahead! The migration went well I think, you just have to use the right clãs for text view that is giving the error.

[2019-03-25 23:44] isabelcosta commented on #201
@realrufans You can still follow the template and edit the description of this issue ;) Here's a screenshot of how to do it:

![image](https://user-images.githubusercontent.com/11148726/54961137-7084a100-4f57-11e9-9674-6530db19fb98.png)

**Template:** https://raw.githubusercontent.com/systers/mentorship-android/develop/.github/ISSUE_TEMPLATE/bug_report.md

I'll edit the description a bit.
Followin

[2019-03-25 23:50] isabelcosta commented on #201
@realrufans I added some information to the description, if you could add some more it would be great ;)

[2019-03-26 00:33] realrufans commented on #201
Updated.

[2019-03-26 21:21] #205 closed

[2019-03-26 22:08] isabelcosta opened #207 "Current Relation empty state has erratic behavior"
## Describe the bug

- The message, for when the current logged in user isn't in a current mentorship relation, shows on the screen when the user is in a relation.
- Also the message is showing up twice in the screen immediatly after a user cancels the relation.
- Tabs are showing up when the user cancels the relation, this should not happen.

## To Reproduce

**Testbed:** 2 users in a mentorship

[2019-03-26 22:16] isabelcosta commented on #53
fixed with PR #131

[2019-03-26 22:16] #53 closed

[2019-03-31 17:52] jenpaff commented on #207
Hey ! Is it okay if I work on this one ?

[2019-03-31 17:55] jenpaff commented on #197
Hey I'd be very interested in having a go at this issue, would that be okay?

[2019-03-31 18:06] isabelcosta commented on #207
Yes @jenpaff you can work on this :)
If you have any doubt about this issue feel free to ask any questions.

[2019-03-31 18:10] isabelcosta commented on #197
@jenpaff I already assign you to #207 issue (its best to work/focus on one issue at the time)
Also, this issue isn't approved yet, it needs discussion. Right now I have no idea about how this could be done... if any work should be done on the backend and etc.

[2019-03-31 18:13] isabelcosta commented on #201
**For anyone that is interested in this issue:** try to reproduce this bug before starting to work on this. If you get this bug as well, you can share information about it on this issue, and even work on solving it if you want

[2019-04-08 21:14] jenpaff commented on #207
Just a quick update: It took me a while to get everything set up (sorry about that). As for my progress, I fixed the bug such that the message is not shown when there is a relation and only shown once when the relation is cancelled. I will be looking into hiding the tabs when a relation is cancelled.

[2019-04-09 21:23] jenpaff commented on #201
Hi ! I just tested it and it looks alright to me, I get a "Please verify your email before you log in ".
![login-test](https://user-images.githubusercontent.com/5339211/55836441-cdb74f80-5b1e-11e9-9836-1e27dc72a8c8.gif)
@isabelcosta

[2019-04-10 00:04] isabelcosta commented on #207
@jenpaff thank you so much for posting an update. I really appreciate that!
I have been a bit busy these days, as soon as I get a chance I'll take a look at your PR :)

[2019-04-11 16:33] jenpaff commented on #127
@isabelcosta can I take this one please?

[2019-04-13 18:17] isabelcosta commented on #127
Sure @jenpaff :)

[2019-04-14 00:46] #207 closed

[2019-04-17 12:45] jenpaff commented on #127
update: I'm actually done from my part, just waiting for some feedback on slack if the icons & the click effect are okay, feel free to give me some feedback too and i'll send you the PR @isabelcosta
![click-effect-settings](https://user-images.githubusercontent.com/5339211/56288610-6b161300-611f-11e9-83ba-f6fdb5b829b7.gif)

[2019-04-17 23:32] isabelcosta commented on #127
I love the icons @jenpaff 🙌 The click effect, maybe is just me but what I thought was the click area of the "button" reaching the full width and reaching the top of the area above or the area below. An example would be the Outlook app, on the settings, it is like that. When I click the "Notifications" option, the area occupies the full width of the screen and the height is equidistant, and right n

[2019-04-18 05:28] jenpaff commented on #127
@isabelcosta sure, I can update that :)

[2019-04-18 05:52] jenpaff commented on #127
Hi @isabelcosta I've updated the height of the effect on your request (see gif). Always feel free to give me feedback until it looks perfect no matter how small :)

![click-effect-settings2](https://user-images.githubusercontent.com/5339211/56339449-9e53b300-61ae-11e9-9e99-e0cf62cd64c3.gif)

[2019-04-18 06:03] jenpaff commented on #136
@isabelcosta Can I take this one next? Would it be okay to add some simple design changes or should I not bother yet? I would like to do something along those lines
![android-profile-screen-example](https://user-images.githubusercontent.com/5339211/56339806-fc34ca80-61af-11e9-9a85-37f33597d8d2.png)

But I'm happy to leave it for now, if you would rather wait for approved UI/UX design for the profi

[2019-04-21 15:53] isabelcosta commented on #127
@jenpaff thank you for fixing it according to my feedback 🎉 Your feedback and opinions are totally welcome here, as other people's opinions are ;) That's just how I imagined that screen. If you feel it could be different let me know we can reach a middle ground (I'm not a UX expert :P)

I would take an extra margin you have above "about" option so that the about distances are the same as the other

[2019-04-21 16:44] isabelcosta commented on #201
Thank you so much @jenpaff for testing this!
@realrufans I would suggest you'd download the most recent apk here, to see if the issue remains: https://github.com/systers/mentorship-android/raw/apk/app-debug.apk

I'll leave this open in case anyone else wants to test this.

[2019-04-21 16:44] realrufans commented on #201
Okay. On it

[2019-04-21 16:50] realrufans commented on #201
Same issue.  You're sure it's the latest apk file?
Because I saw version 1 from the app info

[2019-04-22 06:54] jenpaff commented on #127
Do you mean minimize the marginTop from the about textview? It's android:layout_marginTop="24dp" and the others are android:layout_marginTop="16dp". I hadn't changed it though, it was like that before.

[2019-04-29 22:17] isabelcosta commented on #127
@jenpaff I've been a bit off these days. I just left a comment on your PR.

[2019-04-30 12:25] rjain90 commented on #193
@isabelcosta I'm a first timer and I would like to work on this.

[2019-04-30 17:59] isabelcosta commented on #193
Sure @rjain90 ! Go ahead ;)

[2019-04-30 18:48] isabelcosta opened #210 "Create a mentorship relation task"
## Description
As a user,
I need to create a new task for the relation,
so that I can register what my mentee's tasks are.

Make "Create a new task" action work with the Backend.

_Whoever takes this issue is free to enhance the issue and make it great in terms of UI look and feel._

Follow up of #121
Related to #132

## Mocks

![tasks tab on Mentorship Relation screen](https://user-images.githubu

[2019-04-30 18:56] isabelcosta opened #211 "Update / Achieve mentorship relation task"
## Description

As a user,
I need be able to mark a task as completed,
so that I can update my mentor that a task was achieved and keep a history of my progress.

Make "Achieve a task" action work with the Backend.

_Whoever takes this issue is free to enhance the issue and make it great in terms of UI and UX look and feel._

Follow up of #121
Related to #132

## Mocks

![tasks tab on Mentorship R

[2019-04-30 19:01] isabelcosta opened #212 "Delete a mentorship relation task"
## Description

As a mentor/mentee,
I need be able to delete a task,
so that I can adjust the tasks list expectations with my mentor/mentee.

## Mocks

_Feel free to think about a UI/UX solution for this feature_
This action will have to come from Tasks screen.

## Acceptance Criteria
### Update [Required]
- [ ] Make use of "Delete task" Backend REST API method
- [ ] Present a Design mock up for t

[2019-05-01 06:13] rjain90 commented on #177
Can I work on this @isabelcosta ?

[2019-05-01 12:23] isabelcosta commented on #177
@rjain90 thank you for your interest in this issue, but can you first address my review and then come back to other issues?
Also, can you look into another issue which is not "First Timers Only", just because this issue is simple for newcomers to take on since you already took one simple it would be great if you choose one without that label.

[2019-05-02 09:37] jenpaff commented on #210
can i have a go at this please ? @isabelcosta

[2019-05-03 07:53] rjain90 commented on #190
@isabelcosta Can I work on this?

[2019-05-06 07:38] rjain90 commented on #190
Hey @isabelcosta can I start working on this?

[2019-05-06 08:23] isabelcosta commented on #190
Yes you can @rjain90!

[2019-05-07 20:27] #193 closed

[2019-05-07 21:38] isabelcosta commented on #210
Sure @jenpaff ! But don't forget to finish the other PR. I just need you to fix the extra commits that are showing up on your PR.

[2019-05-08 06:33] jenpaff commented on #210
@isabelcosta yes, of course! i reverted the commit! hope it's all good now

[2019-05-08 17:19] ak8527 commented on #211
@isabelcosta can i work on this issue?

[2019-05-09 10:08] rjain90 commented on #190
@isabelcosta changing the orientation on the tasks page caused a crash for me. RelationFragment is missing a default constructor, so the system is not able to restore the fragment on its own. The default constructor was removed in PR #134

[2019-05-12 00:17] isabelcosta commented on #190
Thank you for the investigation. Are you talking about this line of code https://github.com/systers/mentorship-android/pull/134/files#diff-667023708ac26b5c73f4468c91116ae2L17 ? @rjain90

[2019-05-12 00:18] isabelcosta commented on #211
@ak8527 can you first address my comments on the other PR, just so that you aren't split into two issues at the same time. After that, you sure can :)

[2019-05-12 00:18] isabelcosta commented on #210
@jenpaff ok I'll check that out

[2019-05-12 15:28] rjain90 commented on #190
@isabelcosta Yes thats the problem code.

[2019-05-15 22:38] #127 closed

[2019-05-19 15:50] sidvenu commented on #177
Hey! Can I work on this issue? @isabelcosta

[2019-05-19 15:53] sidvenu commented on #120
@isabelcosta can I work on this issue? I am trying to familiarise myself with this repo by doing a few small issues

[2019-05-19 16:38] isabelcosta commented on #177
Yes, you can @sidvenu :)

[2019-05-19 17:51] rjain90 commented on #190
@isabelcosta Any updates on this?

[2019-05-21 17:12] sidvenu commented on #201
@realrufans The logcat dump is pretty hard to navigate. Can you try running the app yourself and sending the relevant crash trace here?

[2019-05-21 17:15] realrufans commented on #201
@sidvenu okay. I will clone the repo on AS then copy the error from the logcat tab.

[2019-05-21 17:46] sidvenu commented on #176
@isabelcosta is this issue available to take?

[2019-05-21 18:56] sidvenu commented on #212
Should both the mentee and the mentor have the power to delete a task?

[2019-05-21 20:09] rjain90 commented on #180
@isabelcosta I'd like to take this up

[2019-05-22 13:24] jenpaff commented on #210
@isabelcosta íf it's okay I will start working on this, my other PR is already merged :)

[2019-05-22 18:41] isabelcosta commented on #210
Yes you can work on that @jenpaff

[2019-05-22 18:43] isabelcosta commented on #212
@sidvenu for now, from the backend side, there's no restriction on that. So it still has to be decided.
On the Android app, for now, you can assume both mentee and mentor can delete tasks.

[2019-05-22 18:46] isabelcosta commented on #180
Sure @rjain90 you can :)

[2019-05-22 18:47] sidvenu commented on #212
I have submitted a PR for an earlier issue I took. Can you review that so that I can take this issue up?

[2019-05-22 18:49] isabelcosta commented on #120
@sidvenu can you try to choose another one, since you've already picked up a "First Timers Only" labeled issue? Because this issue is fairly simple for people who never contributed to this repo.

[2019-05-22 20:02] isabelcosta commented on #212
I'll check the PR when I get some time. You can start looking into this issue if you want :) @sidvenu

[2019-05-23 15:26] jenpaff commented on #210
@isabelcosta update: i'm gonna do some changes to the UI since I've got some ideas, is that okay? Just seen that #211 is depending on my issue

[2019-05-23 15:57] isabelcosta commented on #210
Can you just give an idea of what you're planning to do, so that I or others can give some feedback (if it is a bug change in the UI) @jenpaff

[2019-05-23 16:00] jenpaff commented on #210
sure ! i'll draw up a mock up and post it on slack @isabelcosta

[2019-05-25 17:54] SaumyaSingh1 opened #217 "Update logo of the Application"

[2019-05-25 17:59] sidvenu commented on #212
@isabelcosta I'd like to try this task. I have a doubt as well. If I am going to change the UI of the Tasks layout in this issue, what if it isn't consistent with the other issues (like Creating a task) in this Tasks screen itself?

[2019-05-25 18:07] sidvenu commented on #217
Hey @SaumyaSingh1!

Welcome to Systers. Please read [Contribution Guidelines](https://github.com/systers/mentorship-android/blob/develop/.github/CONTRIBUTING.md) before creating an issue. When creating an issue, you have a few options:
<img src="https://user-images.githubusercontent.com/18738527/58373083-a3421a00-7f45-11e9-8077-3b50f8ec8974.png" width="400">
For this issue, I think `Feature Reques

[2019-05-25 18:48] saumya1singh commented on #217
Okay @sidvenu

[2019-05-26 04:38] SaumyaSingh1 commented on #217
@sidvenu  Please review the PR #218 .

[2019-05-26 07:35] SaumyaSingh1 commented on #217
Please check the PR @kamaulynder

[2019-05-26 07:38] saumya1singh commented on #192
can I take up the issue @mustaqmustu

[2019-05-28 19:12] isabelcosta commented on #212
@sidvenu I understand your doubt :/ I haven't thought about that yet. Can you show a suggestion for the UI/UX to delete a task before implementing? I'm open for changes.

[2019-05-28 19:19] #177 closed

[2019-05-28 22:45] jenpaff commented on #210
@isabelcosta I've managed to create the feature, I only did very small UI changes: i created a new task dialog as mentioned in the issue and removed the horizontal line in between (see gif attached). The creating new tasks call is implemented and I'm ready to send you a PR, but how can I test if the data had been stored properly in the backend without having the get tasks method implemented yet?
I

[2019-05-29 16:33] realrufans commented on #201
After cloning the project on AS, and running the project, I didnt get any error from Logcat. But the app still crashes. Maybe I have to close this issue till I am able to get the logcat.

![image](https://user-images.githubusercontent.com/33923021/58574351-b439a680-8237-11e9-9170-3290a969e8b0.png)

[2019-05-29 16:38] realrufans commented on #201
After I changed the logcat filter from Error to Debug, I got this;

[code]

[2019-05-29 17:18] saumya1singh commented on #127
@isabelcosta
Still no clicklistener is attached to the  About , Feedback and Delete my Account Options in SettingsActivity.

[2019-05-29 17:27] sidvenu commented on #201
@realrufans I suggest reopening this issue. can you add a `Log.d("CommonUtils.kt", response.toString())` before the return function and post the Logcat here?

[2019-05-29 17:29] sidvenu commented on #212
@isabelcosta I was thinking of going for something like this: [GIF](https://camo.githubusercontent.com/df11f2a298e5c3aa843f63e81516cdb01e04e019/687474703a2f2f7777332e73696e61696d672e636e2f6d773639302f36313064633033346a7731656a703362736b36747667323039353032626a74632e676966), except it'd have just the delete icon.

[2019-05-29 19:12] saumya1singh commented on #49
@isabelcosta  I want to work on this issue .

[2019-05-29 19:13] saumya1singh commented on #49
Is this open ?

[2019-05-29 19:14] isabelcosta commented on #49
@SaumyaSingh1 this is open and available yes if you want to work on it you can. Do you want to?

[2019-05-30 08:17] saumya1singh commented on #49
Yes , I want to work on it :)

[2019-05-31 07:39] sidvenu commented on #212
Update: I am done with the getting the data from the server part, just have to finish off the tasks fragment to have the delete option

[2019-06-05 06:27] jenpaff commented on #210
hey! @isabelcosta can you please check my comment? I'd like to test my code properly before i send off a PR :) sorry for bothering you!

[2019-06-05 07:39] isabelcosta commented on #210
@jenpaff I'll try to look at your comment this week, in the meanwhile post here a screens hot of all your input of this request and post it on slack to see if anyone from the community can help you out. No need to be sorry. It is OK to send reminders.

[2019-06-05 15:39] rjain90 opened #221 "Changing orientation on Relation screen crashes the app"
**Describe the bug**
On the home page, if I change the orientation of the app, it crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Login with:
[code]
3. Press Relation at the bottom tab
4. Rotate the phone
5. See application crashing

**Expected behavior**
The app should run as usual

**Smartphone (please complete the following information):**
 - Device: OnePlus 3T
 -

[2019-06-05 19:28] isabelcosta commented on #210
@jenpaff here's at least 2 guides (links) I wrote about how to use our Swagger UI to test the backend, and there's also a live demonstration.
https://github.com/systers/mentorship-backend/wiki/Using-Backend-Swagger-UI
Can you also post here the fields you're giving as input to get the data you want?
@sidvenu can you also show me what are you putting in the input fields of swagger UI, in your respe

[2019-06-05 21:31] sidvenu commented on #210
@isabelcosta I must admit it, I thought the backend page was just for reference and for trying out different API points without an actual account... I did not know it is an actual interactive application that works just like in the app we are making.

Thanks for clearing it up!

[2019-06-05 21:38] isabelcosta commented on #210
No problem! I'm really glad you understand that now ;)

That Swagger UI actually interacts with the backend code and database. You can register a user and perform all the actions you would in the current android app and can do even more. You'll be able to see Backend responses to your requests ;)
You can see this in my demo which is in the wiki page I shared. You can play a bit with it also if you

[2019-06-06 07:01] jenpaff commented on #210
@isabelcosta thanks, I only checked the mentorship-android wiki and didn't look through the backend-wiki. Either way, I made a very silly mistake, I forgot to add "Bearer " in front of the access token, that's why it was invalid ! Basically I finished the implementation and wanted to test if the tasks I'm creating are also stored in the database correctly . so when I add the task, and then I call

[2019-06-08 16:29] isabelcosta commented on #132
@Rimjhim28 are you still working on this? I'm asking because we have 2 contributors already working on task feature (create and delete task), and it's sort of depending on this. If you aren't available for this we can leave this for another contributor, I think that's completely fine :)

[2019-06-08 18:11] Rimjhim28 commented on #132
Yes, my university exams are on!
If anyone is interested and available please let them work on the issue. I will get back to the community when I am free. :)

[2019-06-09 18:35] isabelcosta commented on #201
@realrufans thank you for putting out the error output here 🙌

I suspect that this error:
[code]

happens when the JSON format we are expecting isn't what comes from the server. We have to know which data structure is causing this, I suspect it is Login class that holds the access token and expiry token. I'm not sure...

[2019-06-09 19:21] isabelcosta commented on #132
Ok @Rimjhim28 ! Thank you for the update. I'll make this available for now, once you're free and interested let me know if you still want to work on this ;)

The whole discussion we had on this issue can help others finish this feature ;) Thank you for your efforts here!

Good luck with your exams! 💪

[2019-06-09 19:22] isabelcosta commented on #210
I'm glad you figured out what wasn't working 🎉

Regarding the List tasks feature, that is frozen for now, I know that would help both you and @sidvenu with your features.

#132 is now available for contributors to take on, hopefully, someone can tackle this and unblock you both!

[2019-06-12 07:16] jenpaff commented on #210
@isabelcosta So should we wait until someone else works on the fetch and List task? I'm also happy to pick it up, but I think @sidvenu also said he would like to do it

[2019-06-12 07:25] jenpaff commented on #132
hey! i'm happy to work on this, in order to unblock my other #210 if it's okay

[2019-06-12 11:00] jenpaff commented on #210
@isabelcosta @sidvenu FYI: I managed to fix what was missing for the creation of new tasks and it works fine now! :) I just sent a PR! Thanks for being patient with me

[2019-06-12 11:06] jenpaff commented on #132
i'd be happy to take over once my PR is approved @isabelcosta

[2019-06-20 02:43] yatri1609 commented on #49
@isabelcosta can I take this up?

[2019-06-20 04:54] saumya1singh commented on #49
@yatri1609  I have already submitted  a PR . After finalising the design isabelcosta will merge it . I guess I am right @isabelcosta .

[2019-06-20 18:49] isabelcosta commented on #49
@yatri1609 , @SaumyaSingh1 is working on it. I just haven't had time to check this out. I forgot to remove the "Status: Available" label. Just removed it! Feel free to look at other issues :)

[2019-06-21 04:30] SaumyaSingh1 commented on #180
Is the issue still open ? I want to work on it 🙈 @isabelcosta

[2019-06-25 23:16] yatri1609 commented on #166
@isabelcosta I would like to work on this. Can I do it ?

[2019-06-26 11:07] gingerkirsch opened #224 "General improvements on master branch - fix broken build and get A on Codacy check"
**Describe the bug**
Codacy automation code review tool gives grade F on the master branch. Build seem to be broken on Travis.

**To Reproduce**
Check the Codacy and Travis badges on the project

**Expected behavior**
We should always aim at grade A and passing build at all the branches.

**Screenshots**
https://imageshack.com/i/pm8ZlYiBp

[2019-06-26 11:08] asankova commented on #224
I would like to investigate it myself if possible

[2019-06-26 21:29] isabelcosta commented on #224
@gingerkirsch thank you for your interest in solving this :) But this isn't an issue, because the F is for the master branch, which only has 2 files. It does not have the "production" code

![image](https://user-images.githubusercontent.com/11148726/60216283-890b9c80-9861-11e9-88f6-2d4966ed165e.png)

You may see the 2nd line in the table gives an A on Codacy. So once we merge from develop to maste

[2019-06-26 23:46] isabelcosta commented on #166
Yes @yatri1609 you can :D thank you for your interest here!

[2019-06-30 09:59] isabelcosta commented on #224
Actually now I'm seeing that mentorship backend does not have an F for master branch.
![image](https://user-images.githubusercontent.com/11148726/60395085-05ce9d00-9b26-11e9-9c14-93280e9147b5.png)

If you manage to figured this out, please let us know :) @gingerkirsch

[2019-06-30 10:42] isabelcosta commented on #132
@jenpaff I rather wait for this issue and then check your PR. Do you want to complete this issue? Feel free to do so. I'll be sure to check your PR for this as soon as I can, so that yours and @sidvenu 's work can continue.
Thank you so much @jenpaff and @sidvenu for your patience through out this process!

[2019-06-30 10:58] isabelcosta commented on #63
@Shritesh99 before sending a PR please let us know you're going to be working on this, just so I can be aware of which issues are being worked on and let others know. I'm reviewing your PR now

[2019-07-01 13:29] jenpaff commented on #132
Yes if that's okay, I'll take this one! Shouldn't take too long. Do you want me to work on a separate branch ? It would be easier for me to do it in my create-new-task branch :) Then both can be tested easily in one branch. but obviously I'm also happy to do it in a separate one

[2019-07-01 13:36] isabelcosta commented on #132
@jenpaff it would be nice if you do that in a separate branch, to keep the PR small and focused, for me and others to review. Once you finish the task, I'll do my best to review as soon as I can. Ping me once you submit it.

[2019-07-01 13:44] jenpaff commented on #132
@isabelcosta okay I'm on it :)

[2019-07-07 20:17] #49 closed

[2019-07-08 19:16] isabelcosta opened #225 "Add a back button on About screen top bar"
## Description
As a user,
I need to have visible back navigation on About screen,
so that I can understand navigation level I'm in.

The task here is to add a back button and the appropriate navigation to the top bar of About screen.

**This is meant for first timers only to this repository**

## Mocks

The icon should be on the top bar:

![About Us screen screenshot](https://user-images.githubuse

[2019-07-08 19:23] isabelcosta opened #226 "Change title of About page to show user is in the About page"
## Description
As a user of the app,
I need to have "About" text on About screen title,
so that I can be aware of the screen I'm at.

Title of About screen should express the context of the application, should indicate to the user which screen is open.

**This is meant for first timers only to this repository**

## Mocks

![Current state of About screen top bar](https://user-images.githubuserconte

[2019-07-09 17:49] victorvicari commented on #225
In progress

[2019-07-09 18:04] isabelcosta commented on #225
Okay @victorvicari , let me know if you need any help. Since you're a first-time contributor to this repo, be sure to read the CONTRIBUTING.MD ;)

[2019-07-09 19:30] #225 closed

[2019-07-13 04:22] beccadaniel commented on #54
Hi @isabelcosta Can I be assigned this issue? I'm a first timer

[2019-07-13 04:25] beccadaniel commented on #54
Hi @isabelcosta  Can I be assigned this issue? I'm a first timer and might need some help getting started also.

[2019-07-13 12:54] isabelcosta commented on #54
Sure you can @beccadaniel ! I would recommend regarding the implementation to try it yourself, but if you want some inspiration you can also check PR #77 which was almost done. You can also see on the README how to set up your project.

Let me know if you need any help.

[2019-07-13 13:21] beccadaniel commented on #54
Sure @isabelcosta I'll get started right away!

[2019-07-13 18:55] #54 closed

[2019-07-31 20:03] #132 closed

[2019-09-19 18:36] haroldadmin commented on #116
Closing this as this is not a good design decision.

[2019-09-19 18:36] #116 closed

[2019-09-20 16:40] isabelcosta commented on #116
Interesting @haroldadmin :thinking: Thank you for updating the issue!
If you have other ideas feel free to create other issues and start discussions.

[2019-10-03 15:28] rgu0011 commented on #226
Hi, I'm at OSD and will be taking this issue.

[2019-10-03 18:15] isabelcosta opened #233 "Restrict minimum date of calendar"
## Description
As a user,
I need have enabled dates on calendar that I can select,
so that I can minimize risk of choosing incorrect dates.

The idea here is to restrict the date of the calendar on "Send Request" screen so that no one selects a past date for the end date, thus improving user experience.

At least dates from past should be disabled.

## Mocks

![image](https://user-images.githubuse

[2019-10-03 18:27] isabelcosta opened #235 "Open dialog when user tries to delete mentorship request"
## Description
As a user,
I need confirmation dialog,
so that I can avoid deleting a request by mistake.

The idea is to show a confirmation dialog, where the user can confirm its desire to delete the mentorship request or cancel the action.

You can check out other dialogs from the app, e.g.: when logging out.

## Acceptance Criteria
### Update [Required]
- [ ] Show a confirmation dialog when a u

[2019-10-03 18:48] rgu0011 commented on #233
I will go ahead and take this issue.

[2019-10-03 18:56] #226 closed

[2019-10-03 19:36] anushaprem29 opened #237 "A mentor gets an option to be a mentee"
**Describe the bug**
I assigned myself to be a mentor in the app. When I tried sending a request to another person, I had an option to be a mentor or a mentee. I think as I am a mentor, I can be only a mentor to the other person.
The same thing is for a mentee as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Members and select a member who is available to be a mentor or a mente

[2019-10-03 20:40] isabelcosta commented on #237
That makes a lot of sense @anushaprem29 ! Thank you for reporting this 🙌
The expected behavior seems correct :)
Do you wish to work on this or leave this for other contributors?

[2019-10-09 16:40] SAITARUN55 opened #241 "Improving User Interface of Login Page"
**Is your feature request related to a problem? Please describe.**
I would like to improve the User Interface of Login Page

**Describe the solution you'd like**
By using Image Vector Assets, radius for Buttons and background image with respect to the pic

**Describe alternatives you've considered**
As of now, Nothing

**Additional context**
![Screenshot_2019-10-09-21-26-45-403_org systers mentors

[2019-10-13 13:11] geekanamika commented on #235
Hey @isabelcosta Can I work on this issue?

[2019-11-05 10:24] rachittt opened #244 "Bug: "Please check your internet connection" error comes when signing up in Android 9"
**Describe the bug**
After filling up the 'Sign-up' form properly and submitting, an error saying "Please check your internet connection comes up. Even when i have a well working internet connection

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign Up'
2. Fill the form properly
3. Click on 'Sign Up' button
4. See error

**Expected behavior**
A toast like message will appear saying

[2019-11-05 14:04] ashar-7 commented on #244
Fixed in #243

[2019-11-13 08:12] Manik1094 commented on #235
@isabelcosta Can I work on this issue ?

[2019-11-13 20:48] #217 closed

[2019-11-14 08:13] Manik1094 commented on #237
@isabelcosta @anushaprem29 I can work on this issue .

[2019-11-14 09:04] Manik1094 opened #246 "Changing orientation on Signup Screen resets the value written in EditText fields"
**Describe the bug**
On the Signup Page, if I change the orientation of the app after entering the values in all the five EditTexts, the values in EditText got reset.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Signup Page
2. Enter values in EditText
3. Change the orientation of the app
4. See error

**Expected behavior**
On changing the orientation of the app, the values in EditTe

[2019-11-20 17:25] isabelcosta commented on #235
@geekanamika @Manik1094 sorry, I have been low on time!
@geekanamika are you still interested? you can work if you want. If you're not interested let us know :)
@Manik1094 I'm asking @geekanamika first for being the first to manifest interest here.

[2019-11-20 17:26] Manik1094 commented on #235
Okay, no issues @isabelcosta

[2019-11-20 17:27] isabelcosta commented on #237
@Manik1094 you can work yes, as @anushaprem29 did not show interest to work on it.
@anushaprem29 thank you again for reporting!

[2019-11-20 17:28] Manik1094 commented on #237
Okay, I will send the PR when I'm done with this issue @isabelcosta

[2019-11-20 17:30] isabelcosta commented on #246
@Manik1094 this issue is super valid! Thank you so much for reporting this 🎉
 Feel free to work on it, when you finish the other issue, or if you'd like to start with this one, its ok :)

[2019-11-20 17:31] Manik1094 commented on #246
Okay @isabelcosta

[2019-11-20 17:39] isabelcosta commented on #188
@mustaqmustu seems valid issue :)
Thank you for reporting this 🙌
You can go ahead and work on it!

[2019-11-20 17:42] isabelcosta commented on #188
Hum I just saw i must have lost this issue (its from february). @mustaqmustu if you're still interested let us know. I'll put as a first timer issue until you manifest interest in working on this.

[2019-11-20 17:44] isabelcosta commented on #170
I don't fully understand this issue 🤔 and know I can't ask this to the author of the issue. So I'm closing this one. If this becomes and issue again, hopefully someone will report it again.

[2019-11-20 17:44] #170 closed

[2019-11-20 17:52] isabelcosta commented on #194
this is not an issue anymore from what I see in the app, right @Lavanyagaur22
I will close this for now, if you or anyone see's there is still an issue regarding this, please let me know here

[2019-11-20 17:52] #194 closed

[2019-11-20 18:10] zoman-anamika commented on #235
@isabelcosta Since GCI is about to start, we can use it as a GCI task :) What's your say?

[2019-11-20 18:13] geekanamika commented on #235
Since GCI is about to start, @isabelcosta We can use small issues to create tasks. What do you think?

[2019-11-20 18:50] isabelcosta commented on #235
Sure @geekanamika I haven't thought about this that way. Sure we can use this as a gci task :)

[2019-11-20 19:05] mustaqmustu commented on #188
Yes, i will work on it @isabelcosta

[2019-11-21 20:04] #156 closed

[2019-11-21 21:30] isabelcosta commented on #244
@rachittt can you please confirm if this is still an issue now that @ashar-7 's fix #243 was merged?

[2019-11-24 06:17] rchtgpt commented on #244
@isabelcosta this issue is fixed. you can close it :)

[2019-12-01 18:45] Rimjhim28 opened #250 "Create a confirmation dialog when accepting / rejecting / delete request"
**Is your feature request related to a problem? Please describe.**
As of now the mentorship requests can be accepted or rejected as soon as the accept or reject button is pressed.

**Describe the solution you'd like**
Create warning dialog boxes that appear when the buttons are pressed. For example, when the user first clicks on the "Accept" button instead of directly accepting the request a dialo

[2019-12-01 18:52] #244 closed

[2019-12-01 18:53] m-murad commented on #244
Fixed in #243

[2019-12-01 19:00] Rimjhim28 opened #251 "Add a blank check on Notes field while sending mentorship request"
**Describe the bug**
While sending mentorship requests, notes field can be just filled with spaces and sent. The notes field appears a blank space to the person to whom the request is sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Member Profile of any member
2. Click on "Send Request" button
3. Fill in all the required details
4. In the Notes field just add blank spaces
5. The

[2019-12-03 10:43] ashar-7 commented on #251
I'm working on the task rn
Edit: I'll submit the task when my previous task is approved

[2019-12-03 12:08] bartekpacia commented on #250
I'm willing to work on implementing this.

[2019-12-03 15:16] namrata-jha opened #263 "Fix lint errors."
## Description
Maintainers need to remove lint errors in code to improve code structure and application performance.

## Acceptance Criteria
One category of lint error has to be removed.

## Definition of Done
- [ ] At least one lint error category is removed.
- [ ] Approval by 1 mentor.

[2019-12-03 16:26] bartekpacia opened #266 "Members search"
**Is your feature request related to a problem? Please describe.**
In `members` tab, all app users are displayed at once. Aside from this solution being sub-optimal, it also makes it difficult for users to search for a specific mentor.

**Describe the solution you'd like**
I'd suggest implementing a text area (e.g [SearchView](https://developer.android.com/reference/android/widget/SearchView) in a

[2019-12-04 15:37] asawesome07 commented on #250
i am willing to work on implementing this

[2019-12-05 07:08] laxyapahuja commented on #251
I'm working on this task.

[2019-12-05 13:10] daksha-aeer commented on #250
Working on it!

[2019-12-06 12:51] uehara1107 commented on #250
I want to tackle this challenge.

[2019-12-09 06:55] asawesome07 opened #317 "implementing adding tasks functionality from app"
**Is your feature request related to a problem? Please describe.**
Right now it is impossible to add and assign tasks to the mentee if 2 users are in a mentorship relation.

this is a feature request from app documentation: [Required] List tasks from mentor to mentees (checklist)

**Describe the solution you'd like**
Adding backend code for that Calls the API for POST/task so that the task is actu

[2019-12-09 23:41] bartekpacia opened #324 "Bump dependencies versions and add their respective KTX variants"
**Describe the bug**
Project is using a bit outdated libs (for example `androidx.lifecycle:lifecycle-viewmodel:2.0.0` when `2.2.0-rc03` is available). They should be kept up-to-date to be receive newest featues and fixes.

Furthermore, considering that all of our code is written in Kotlin, we should take advantage of `ktx` versions of those libs. That will enable us to write better, more idiomatic

[2019-12-10 09:55] asawesome07 opened #325 "Add filter button to members tab"
**Is your feature request related to a problem? Please describe.**
Right now there's no way to filter through the list of members in the members tab and see for eg. only the list of mentors, or say list of mentees.

this is a feature request from app documentation:
[Required] mentees can check the list of available mentors
[Required] Mentors can see the list of members who need mentorship (accordi

[2019-12-10 23:19] bartekpacia opened #328 "Structuring by type. Why?"
Currently the whole codebase is structured `by type` e.g we have `activities`, `adapters` and so on.
However, from what I've read in the books and on the net, "structure by type" approach isn't advised.

**Some resources**
[Package by type, -by layer, -by feature](https://proandroiddev.com/package-by-type-by-layer-by-feature-vs-package-by-layered-feature-e59921a4dffa)

[Very interesting article by

[2019-12-11 12:08] daksha-aeer opened #331 "App crashes when edit profile button is pressed without letting REST API data load or when app is offline"
**Describe the bug**
Sometimes data from the backend is slow to load. In such cases pressing Edit Profile button causes app to crash. Some exception handling should be added for network issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn internet off
2. Go to **My Profile** section
3. Click on **Edit Profile button**
4. See error
The error can also be randomly seen if data from serv

[2019-12-11 22:46] asawesome07 opened #334 "Add negotiation and final confirmation page for accepting mentor relationship requests"
**Is your feature request related to a problem? Please describe.**
Right now, upon clicking accept button in a mentor relationship request, the relation straightaway starts, without any discussions between the mentor and mentee. We need to add a negotiations phase between the 2 where they can iron out details such as: agreement on the period of mentorship, the best days to contact each other in wh

[2019-12-11 22:51] asawesome07 opened #335 "Giving mentors ability to review task checked by mentee before marking task complete"
**Is your feature request related to a problem? Please describe.**
Right now, when a mentee checks a task in a relationship, it is marked complete instantly. Instead, It should go to the mentor for review and approval.

this is a feature request from app documentation: [Required] The mentors can agree if the elements on the checklist can be checked only by the mentee or must be approved.

**Descri

[2019-12-12 21:16] asawesome07 opened #337 "Alternate ways to log in"
**Is your feature request related to a problem? Please describe.**
Right now, the only way to login in into the app is through the login/password combo for the account the user created. But it would be better if the application also provided other alternatives to log in using, for eg google, facebook, systers slack data, systers mailing list data etc.

this is a feature request from app documentat

[2019-12-13 06:12] devansh-299 commented on #331
Can I work on this issue?

[2019-12-13 08:48] devansh-299 opened #340 "Landscape orientation in settings activity"
**Describe the bug**
Landscape orientation in settings activity hides certain content of the layout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Change orientation of your device to landscape

**Expected behavior**
A scrollview should have been used

**Screenrecording**

![GIF-191213_141123](https://user-images.githubusercontent.com/46667021/70786603-0ba5fb00-1db3-11ea-9

[2019-12-13 11:22] devansh-299 opened #343 "Settings activity orientation changes not handled"
**Describe the bug**
On changing the orientation the alert dialog box and the dialog fragment used in the activity close .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings activity
2. Click on Logout / Change Password
3. Change orientation in each case
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenrecording**

![GIF

[2019-12-14 13:07] ilya-maier opened #349 "Add tests to the project"
**Is your feature request related to a problem? Please describe.**
As of now, there are only 2 tests for SIgnUp and Login Activities and there are a lot of functions that were added, so the project needs more tests.

**Describe the solution you'd like**
Add tests for other Activities/Fragments/Features

**Describe alternatives you've considered**
One could test themselves but it wouldn't be that p

[2019-12-14 17:13] devansh-299 commented on #325
Can I work on this issue?

[2019-12-14 17:18] Hardik0403 opened #351 "No filter option for mentors in Member's tab"
**Describe the bug**
No filters available for mentors to search for mentees based on certain mentee's needs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Member's Tab'
2. Search for a filter option.
3. See error

**Expected behavior**
There should be an option of filter available in the Members tab through which a mentor can set filters of mentee's needs to search for specific mente

[2019-12-14 17:18] Hardik0403 opened #352 "No filter option for mentees in Member's tab"
**Describe the bug**
No filters available for mentees to search for available mentors among the total members.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Member's Tab'
2. Search for a filter option.
3. See error
![issue#](https://user-images.githubusercontent.com/58501114/70852120-b9083400-1ec3-11ea-89c0-b14424090647.jpeg)

**Expected behavior**
There should be an option of filte

[2019-12-14 23:41] bartekpacia opened #354 "Multiplatform support: evaluate Flutter"
**Is your feature request related to a problem? Please describe.**
As of now, we only have an Android app. That's good, because [Android powers 3/4 of world's mobile devices](https://gs.statcounter.com/os-market-share/mobile/worldwide). However, the remaining 25% of iOS users is a lot, and I think we should at least take some steps to bring Systers Mentorship to them.

**Describe the solution you'

[2019-12-15 01:16] bartekpacia commented on #335
This also needs some integration on the backend. How would we know whether the mentee is allowed to mark tasks as completed?
The relation model would need a new property, like `independent_mentee: [bool]`

[2019-12-15 01:45] Hardik0403 opened #356 "Listing of tasks from.mentors to the mentees."
**Describe the bug**
When a mentor assigns a new task to a mentee, the task doesn't show up under the Task's tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Relation->Tasks tab'
2. Click on '+' button
3. Add a new task
4. See error

**Expected behavior**
The task should appear under the tasks tab of both mentor's and mentee's account.

**Screenshots**

**Smartphone (please comple

[2019-12-15 12:09] bartekpacia commented on #356
[It's because the API isn't integrated yet](https://github.com/systers/mentorship-android/blob/e9cfa35cf39cecb7df12cce4546c66744f793800/app/src/main/java/org/systers/mentorship/viewmodels/TaskViewModel.kt#L81-L95).

[2019-12-15 17:48] rudrakshjhalanii07 commented on #356
@bartekpacia
Yes I know that. But this was part of a task in GCI-19

[2019-12-15 17:49] bartekpacia commented on #356
Ah, okay then :)

[2019-12-15 18:08] rudrakshjhalanii07 commented on #250
I am working on it.

[2019-12-15 19:06] IlyaMaier opened #361 "Login Page: Blank Space doesn't let user to sign in"
**Describe the bug**
When user logs in, he can put a blank space at the end of the email (most often by clicking on autofill on the keyboard) or at the end of the password field, which could be more user-friendly, if the app would delete the blank spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'LoginActivity / Login Page'
2. Click on 'Email or Password field'
3. Scroll down to

[2019-12-17 08:51] Hardik0403 opened #373 "Login screen not properly set for landscape orientation"
**Describe the bug**
In the login screen, when the orientation changes to landscape, the username field and the logo image overlaps, and the Sign up button doesn't show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login screen'
2. Rotate the device to landscape mode.
3. See error

**Expected behavior**
The username/email field should appear below the logo of Systers and the Sig

[2019-12-17 23:26] bartekpacia opened #378 "Dark mode support"
**Is your feature request related to a problem? Please describe.**
In Android 10, system-wide Dark Mode setting has been introduced. Apps are generally encouraged to implement dark mode option, so that when user enables Dark Mode, app adheres to it.

### Current behavior
When I enable Dark Mode, nothing happens, app theme doesn't change. However, Dark Mode can be forced by using Developer Options.

[2019-12-18 06:11] daksha-aeer commented on #331
@isabelcosta I've made a pull request for this issue https://github.com/systers/mentorship-android/pull/379 . This is part of my general contribution and not under GCI.  I think this a major issue and should be patched.

[2019-12-18 06:35] daksha-aeer opened #380 "Remove AndroidJUnit4 in instrumentation tests"
**Is your feature request related to a problem? Please describe.**
The android project has a few instrumentation tests to see if Sign Up and Login work. While looking at the code I encountered this message that **'AndroidJUnit4' is deprecated**.

![image](https://user-images.githubusercontent.com/50169911/71061273-aa54a200-218d-11ea-88ca-64c18256375b.png)

In fact I found out that the tests run pr