[2020-05-30 12:23] isabelcosta commented on #537
@bartekpacia @annabauza is this still wanted? Or do we close it and postpone it

[2020-05-30 15:17] bartekpacia commented on #537
I'd say it's now the perfect time to do this, because Android Studio 4.0 is out with official support for Gradle KTS.

[2020-05-30 22:04] MariamKotob commented on #120
What I've reached up to now about resolving the issue:
- Read an article on how to implement the code.
- Read about how to create a new branch for a repo.
- Carefully study the previously closed PRs about this issue.

[2020-06-01 17:00] devansh-299 commented on #661
Please go through [this thread](https://github.com/anitab-org/mentorship-android/pull/675#issuecomment-618081752) before working on this issue

[2020-06-01 17:22] rahulshah456 commented on #709
@isabelcosta I would like to work on this issue

[2020-06-01 17:30] isabelcosta commented on #709
@rahulshah456 sure, but for that, I will unassign you from this one https://github.com/anitab-org/mentorship-android/issues/24

[2020-06-01 17:30] isabelcosta commented on #709
this one is actually a higher priority 🤩  @rahulshah456

[2020-06-01 17:34] rahulshah456 commented on #709
yeah sure as that PR was already on Hold due to some backend related PR.

[2020-06-02 18:19] #679 closed

[2020-06-02 18:25] vj-codes commented on #224
Closing since codecacy check gives an A.

[2020-06-02 18:25] #224 closed

[2020-06-02 18:46] mayburgos commented on #707
This is a duplicate issue of #444. Closing this issue. Also, I'll update the PR sent to this issue to include #444 instead.

[2020-06-02 18:46] #707 closed

[2020-06-02 18:54] vj-codes commented on #405
Closing since now password is encrypted now.

[2020-06-02 18:54] #405 closed

[2020-06-02 19:13] mayburgos commented on #241
I am closing this issue for the following reasons:
- No maintainer approved this issue.
- Admins/Maintainers discussed improving UI as a whole redesign on the UX of the app, not small changes.
- The button change goes against AnitaB branding guidelines. (We use [boxes](https://community.anitab.org/), not round buttons.)

[2020-06-02 19:13] #241 closed

[2020-06-03 02:13] rahulshah456 commented on #709
@isabelcosta I have created a new pull request regarding this issue please take a look at it.

[2020-06-03 05:17] aditmehta9 commented on #666
@AyushSatyam Making it available because of inactivity.

[2020-06-03 05:18] aditmehta9 commented on #613
@Sommie09 Making it available because of inactivity.

[2020-06-03 18:49] vj-codes commented on #570
Closing since the status bar is in sync with the current version of app.

[2020-06-03 18:49] #570 closed

[2020-06-05 03:24] MariamKotob commented on #649
I would love to work on this. please, assign to me @anitab-org/open-source-progs-managers

[2020-06-05 18:20] #660 closed

[2020-06-05 19:12] #623 closed

[2020-06-05 21:02] pknotfound commented on #685
@isabelcosta Any updates?

[2020-06-05 21:03] pknotfound commented on #695
@m-murad Sorry for inactivity
I will try to send a PR till this weekend

[2020-06-05 21:06] Priyansh-Kedia opened #714 "Locally store user profile info"
In the current app, whenever the profile section is opened, an API call is made.
This kind of API calling abuses the use of API. As the profile info is just small texts, they can be stored locally so that every time profile is opened,  there is no API call

**Describe the solution you'd like**
Store profile information locally and update it accordingly

[2020-06-05 21:07] pknotfound commented on #714
@isabelcosta @m-murad May I work on this

Also as this is related to calls to the backend API, @mtreacy002 your reviews would be helpful

[2020-06-05 21:27] Priyansh-Kedia opened #715 "Dagger injection"
**Is your feature request related to a problem? Please describe.**
Dagger is a dependency injection framework provided by Google. The use of dagger will greatly reduce the boilerplate code in the application.
Using dagger with viewmodels can help providing the repos very easily and remove the need to write redundant code.

**Describe the solution you'd like**

Use Dagger Injection to inject all de

[2020-06-05 21:27] pknotfound commented on #715
@isabelcosta @m-murad Please guide.

[2020-06-06 09:05] pknotfound commented on #704
Hello @devansh-299
Can you please explain the issue?
I do not quite understand it.

[2020-06-06 12:13] vj-codes commented on #649
Assigning you @MariamKotob
Happy coding!

[2020-06-06 12:51] devansh-299 commented on #715
@Priyansh-Kedia this is a great idea! It will surely reduce boilerplate and make code more testable.

[2020-06-06 12:52] pknotfound commented on #715
@devansh-299 Yes
It is a very helpful tool made by google

[2020-06-06 12:53] mayburgos commented on #715
@Priyansh-Kedia Can you update this issue to our template?

[2020-06-06 12:55] mayburgos commented on #715
@anitab-org/mentorship-managers @anitab-org/mentorship-android-maintainers  Is this issue valid (aside from the template not being used)?

[2020-06-06 13:58] vj-codes commented on #710
@mtreacy002 since you have submitted a PR should I assign this issue to you?

[2020-06-06 17:48] vj-codes commented on #688
@isabelcosta @foongminwong @mayburgos  Can I work on this?

[2020-06-06 21:44] devptyagi commented on #714
@isabelcosta  @foongminwong  If this one's available, I'd like to work on it.

[2020-06-06 21:51] devptyagi commented on #688
@isabelcosta @foongminwong  I'd like to work on this.

[2020-06-07 08:20] aditmehta9 commented on #396
Closing this issue because this issue will be solved if [373](https://github.com/anitab-org/mentorship-android/issues/373) is fixed.

[2020-06-07 08:20] #396 closed

[2020-06-07 11:43] pknotfound commented on #714
@devptyagi
I was waiting for approval on this issue
Nevertheless, can you discuss the approach?

[2020-06-08 04:07] foongminwong commented on #688
I'll first assign to @vj-codes (let us know if you have any questions) , if there's no update later, I'll assign to you @devptyagi :)

[2020-06-08 05:08] vj-codes commented on #688
Sure thanks @foongminwong

[2020-06-08 14:35] vj-codes commented on #586
Closing again since PR #422 is merged.

[2020-06-08 14:35] #586 closed

[2020-06-08 19:24] rahulshah456 commented on #24
@aditmehta9 please unassign me from this issue and add the label onHold because this issue depends on [#200](https://github.com/anitab-org/mentorship-backend/pull/200) which has some major merge conflicts. As I want to work on other high priority issues.

[2020-06-08 19:37] aditmehta9 commented on #24
Ok

[2020-06-09 06:22] mtreacy002 commented on #714
Can you share your thoughts on how you'll store it locally,  @Priyansh-Kedia?

[2020-06-09 06:23] pknotfound commented on #714
Hello @mtreacy002
I was thinking of storing the profile info you preferences in android

[2020-06-09 06:24] pknotfound commented on #714
The thing is
At this time, whenever we open the profile fragment, API call is made.
I think that it is a wrong use of API calling as the information does not change

[2020-06-09 06:35] mtreacy002 commented on #710
I don't actually have the bandwidth atm, @vj-codes , sorry 😄 . But it's open for anyone in case they want to work on it 😉

[2020-06-09 06:36] mtreacy002 commented on #714
That makes sense. Are you thinking of using cache or something like that?

[2020-06-09 06:37] pknotfound commented on #714
Yes
In the local caches

[2020-06-09 06:46] mtreacy002 commented on #714
sounds good to me, but we need maintainers or @anitab-org/coding-team  approval first so you can start working on it.

[2020-06-09 06:47] pknotfound commented on #714
Yeah
Thanks for your reviews @mtreacy002

[2020-06-09 06:50] aditmehta9 commented on #714
@Priyansh-Kedia do you want to work on this issue?

[2020-06-09 06:50] pknotfound commented on #714
Yes

[2020-06-09 06:51] aditmehta9 commented on #714
Assigned.

[2020-06-09 06:51] pknotfound commented on #714
Thanks @aditmehta9

[2020-06-11 07:43] devansh-299 opened #719 "Bottom navigation moves up"
**Describe the bug**
In `Members` fragment, bottom navigation bar moves up when soft-keyboard is shown while searching for members. The bottom navigation bar shouldn't have moved up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Members Fragment
2. Click on Click on search bar on the top
3. Observe that bottom navigation bar moves up

**Expected behavior**
The bottom navigation bar s

[2020-06-11 09:22] DhaneshShetty commented on #663
@aditmehta9 Can I work on this?

[2020-06-11 09:23] aditmehta9 commented on #663
Yes

[2020-06-11 10:48] vj-codes commented on #719
@devansh-299 what solution would you like to say for this issue?If the bottom nav bar doesnt move up it will be hidden behind the keyboard as an alternative  should the search open a new page?

[2020-06-11 14:47] DhaneshShetty commented on #645
@aditmehta9 Can I work on this?

[2020-06-11 15:54] aditmehta9 commented on #645
Yes

[2020-06-11 16:34] devansh-299 commented on #719
@vj-codes I guess bottom nav being hidden should be no problem. I have never seen bottom navigation getting moved up because of soft keyboard in any application

[2020-06-12 19:55] vj-codes commented on #575
@Priyansh-Kedia are you available to work on this?

[2020-06-12 19:57] pknotfound commented on #575
@vj-codes
I was observing the coding team
According to these conversations there, I think this issue can be marked as a first Timers issue
What do you think?

[2020-06-13 08:35] rahulshah456 commented on #398
@aditmehta9 @isabelcosta  I would like to work on this issue

[2020-06-13 08:38] rahulshah456 commented on #337
@vj-codes @aditmehta9  I would like to work on this issue

[2020-06-13 09:36] vj-codes commented on #337
Assigning you.Happy coding! @rahulshah456

[2020-06-13 09:42] aditmehta9 commented on #398
Yes @rahulshah456

[2020-06-13 10:03] isabelcosta commented on #398
@aditmehta9 @rahulshah456 actually this still needs work on the backend because of chat feature, and this will be developed during GSoC if I'm not mistaken. So can we put this on hold, and you @rahulshah456 can focus on other issues?

[2020-06-13 10:05] rahulshah456 commented on #398
yeah sure @isabelcosta

[2020-06-13 10:06] isabelcosta commented on #398
@aditmehta9 maybe we should take the available status as well, and just leave the on hold, what do you think?

[2020-06-13 10:07] aditmehta9 commented on #398
Yes @isabelcosta I will remove Available label

[2020-06-13 10:09] #663 closed

[2020-06-13 10:11] #680 closed

[2020-06-13 10:12] isabelcosta commented on #398
Thank you @aditmehta9 🎉
I am glad it makes sense to you

[2020-06-13 13:01] devansh-299 commented on #337
@rahulshah456 can you please describe your approach for this issue? As I think this issue needs to be discussed and approved before working on it

[2020-06-16 08:41] rahulshah456 commented on #661
@aditmehta9 I would like to work on this issue

[2020-06-16 08:55] rahulshah456 commented on #337
@devansh-299 I am thinking of making a new social login/logout endpoint in mentorship backend which will handle all third party auth like **Google, Facebook & Twitter**. There are some flask libraries that can be used to achieve this behavior.

And for this feature implementation, I will soon create a new issue in the mentorship-backend with my overall approach and that can be discussed in the **Z

[2020-06-16 09:23] aditmehta9 commented on #661
Ok @rahulshah456

[2020-06-16 17:29] devansh-299 commented on #337
I think before proceeding, you should validate this issue with any of the project admins as it's going to involve a lot of work at both back-end and at user-facing applications

[2020-06-16 19:25] vj-codes commented on #113
Closing since this feature is implemented in current version.

[2020-06-16 19:25] #113 closed

[2020-06-16 19:35] vj-codes commented on #392
closing as it is a duplicate of issue #59

[2020-06-16 19:35] #392 closed

[2020-06-16 19:42] vj-codes commented on #719
@devansh-299 same issue occurs when a user tries to enter password in login screen , the contents are shifted upward.
Can you add it in this issue or shall I create another one?

[2020-06-17 00:00] MariamKotob commented on #613
@bartekpacia since you already worked on it and submitted your PR I'm assigning the issue to you.

[2020-06-19 15:56] vj-codes commented on #373
Closing since the login screen is set properly in current version of app.

[2020-06-19 15:56] #373 closed

[2020-06-19 17:14] DhaneshShetty commented on #657
@vj-codes @aditmehta9 Can I work on this?

[2020-06-19 17:20] vj-codes commented on #657
Assigning you, happy coding! @DhaneshShetty

[2020-06-20 02:06] devansh-299 commented on #719
@vj-codes I cannot reproduce the issue you pointed out. Also, in my opinion, shifting of elements other than bottom navigation bar shouldn't be an issue

[2020-06-20 07:17] rahulshah456 opened #724 "Bottom navigation to change fragment only if activated fragment is different"
**Is your feature request related to a problem? Please describe.**
Currently when a user clicks an item in the bottom navigation the fragment related to the item activates. But if the user again clicks on the same bottom navigation item the fragment again changes regardless of already active in the current state.

**Describe the solution you'd like**
When the user clicks on the already active bott

[2020-06-20 09:41] DhaneshShetty commented on #724
@rahulshah456 Can I work on this?

[2020-06-20 09:41] DhaneshShetty commented on #724
@rahulshah456 Can I work on this?

[2020-06-20 11:03] MariamKotob commented on #724
This a valid issue. I'm assigning it to you @DhaneshShetty Enjoy.

[2020-06-20 11:26] MariamKotob commented on #724
@DhaneshShetty I'm so sorry I forgot to check if rahul wants to fix it.
I'm unassigning you until @rahulshah456's response.

[2020-06-20 12:22] rahulshah456 commented on #724
@MariamKotob yes you can assign to @DhaneshShetty, its good if he wants to work on it.

[2020-06-20 14:05] MariamKotob commented on #195
@ilya-maier I'm assigning this issue to you since it's approved issue and you already implemented a PR.

[2020-06-20 22:19] MariamKotob commented on #399
I'm not so experienced with RxJava and coroutines but I did search about and coming to think you're right. I think it's available issue and a nice enhancement to the project.
Thanks for raising the issue.

[2020-06-21 00:26] isabelcosta commented on #631
Opening up this again, as the PR that was open could not be tested. @Priyansh-Kedia you did great work that can be continued by someone else or sent over on a PR by you. Either way let us know if you are still interested in this PR.

For anyone who wants to take this on, this PR https://github.com/anitab-org/mentorship-android/pull/653 completed the issue :)

[2020-06-21 04:27] MariamKotob commented on #668
removing the assignment due to lack of activity.

[2020-06-21 04:30] MariamKotob commented on #603
Do you still want to work on this, @gaurivn?

[2020-06-21 05:22] MariamKotob commented on #510
This issue is related to #709 which implemented by PR #712 but yours is more generalized. I believe we should start with the official library.
Do you think we can merge the work for these two issues?

[2020-06-21 06:12] MariamKotob commented on #608
I can't reproduce the issue on my side as @Priyansh-Kedia said. So I'm closing this issue.

[2020-06-21 06:12] #608 closed

[2020-06-21 06:16] gaurivn commented on #603
@MariamKotob yes, I would like to work on it.

[2020-06-21 06:19] MariamKotob commented on #430
@anitab-org/mentorship-managers can someone reproduce this bug and check its availability? as I'm not able to try this ATM. Also recheck the labels if you can.

[2020-06-21 06:54] MariamKotob commented on #540
Shouldn't this be an issue in the backend repo? If I'm wrong please correct it.

[2020-06-21 07:47] MariamKotob commented on #380
@anitab-org/mentorship-managers can someone check the availability of this issue?
If available please approve and assign to @daksha-aeer, else just close it.
Thanks!

[2020-06-21 07:54] gaurivn commented on #665
@Sanika1999 , are you working on it

[2020-06-21 08:11] MariamKotob commented on #470
Closing since it's already solved in the current version of the app.

[2020-06-21 08:11] #470 closed

[2020-06-21 08:18] MariamKotob commented on #324
@anitab-org/mentorship-android-maintainers I don't have a clue.. can anyone add his opinion here?

[2020-06-21 08:31] MariamKotob commented on #667
The app plays members screen very well and it doesn't crash anymore -I guess it has been solved in the backend- which is why I'm closing this issue.

[2020-06-21 08:31] #667 closed

[2020-06-21 08:34] pknotfound commented on #631
Sure @isabelcosta
I would send a new PR for the same

[2020-06-21 08:47] MariamKotob commented on #63
@Priyansh-Kedia yes it's available if you still interested ping us here.

[2020-06-21 08:51] MariamKotob commented on #603
@gaurivn assigned. Enjoy it.

[2020-06-21 08:52] gaurivn commented on #603
Thank you :)

[2020-06-21 08:54] MariamKotob commented on #166
@Priyansh-Kedia are you still interested?

[2020-06-21 09:06] pknotfound commented on #631
@isabelcosta
This is the new PR
Please review

[2020-06-21 09:42] pknotfound commented on #63
Yes I would like to work on this

[2020-06-21 09:44] pknotfound commented on #166
I am not sure of the problem
The screenshot attached is not visible

[2020-06-21 10:20] pknotfound commented on #63
Can you please tell me what needs to be done here
Cause the keyboard in not hiding, but what condition should we be putting to hide it?

[2020-06-21 15:18] Sanika1999 commented on #665
yes got busy sorry couldn't update

[2020-06-21 15:53] devptyagi commented on #719
Anyone working on this issue?

[2020-06-21 23:36] MariamKotob commented on #399
Making this available again if anyone interested in this issue.

[2020-06-22 00:29] MariamKotob commented on #719
@devansh-299  you're right you have a point here. The navigation bar being shifted like that isn't so user friendly but I also don't think hiding it behind the keyboard would be the best solution actually most applications open a new popup for the search functionality. I'm not sure if that's the recommended way but that' what I've observed.  you can check the search in google play app for example.

[2020-06-22 00:35] MariamKotob commented on #719
As Devansh said I can't reproduce this either. Are you sure that it's still an issue in the current version? If yes please upload a GIF so we can understand.

[2020-06-22 00:43] MariamKotob commented on #719
Up to now, it's still in discussion. Let me check if @devansh-299  wants to work on it first. Else I'll assign it to you. Please, be patient.

[2020-06-22 00:59] MariamKotob commented on #63
I'm not fully aware of how this should be fixed. If I were to make it I would start with the closed PRs opened in the past for this issue #316 and #146 or just hit a google search. Don't feel heavy, you can take as much time as you need untill you understand it.

I also would suggest you solve the same problem for login activity if you get comfortable with it.

[2020-06-22 05:52] pknotfound commented on #63
I am sorry I was not clear before
I needed to ask you that when should the keyboard disappear?
Like when the user has input their password or what?

[2020-06-22 05:55] pknotfound commented on #63
This is quite simple to do, but the thing is, what should be the condition in which the keyboard should hide?
For example, if I have entered my password, and then am entering the password again (confirm password), should it close then, if yes, then on which condition should it close? One condition can be, that when the user has re-entered the correct password, then we can close the keyboard automa

[2020-06-22 10:13] MariamKotob commented on #719
For more clarification; what I meant is this emty view appears after tapping search bar on the contacts app.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/31371219/85275341-7cc01c80-b480-11ea-9282-3641c081a595.gif)

[2020-06-22 16:00] devptyagi commented on #719
@MariamKotob Okay sure! No Problem. :)

[2020-06-22 17:52] devansh-299 commented on #719
@devptyagi you can work on this issue

[2020-06-22 17:54] devansh-299 commented on #719
@MariamKotob yeah that's also a good approach, but I think we should discuss this with the community before going with this approach

[2020-06-22 17:54] devansh-299 commented on #719
Thanks

[2020-06-22 22:34] MariamKotob commented on #510
Now, this issue is duplicated. As per disscussion on Zulip we'll go with #709.

[2020-06-22 22:34] #510 closed

[2020-06-23 00:00] MariamKotob commented on #719
Sure let's move this discussion to Zulip.

[2020-06-23 00:23] MariamKotob commented on #599
This issue will be solved by #613.

[2020-06-23 00:23] #599 closed

[2020-06-23 21:32] #645 closed

[2020-06-24 10:54] rahulshah456 commented on #661
@devansh-299 while showing a confirm dialog to go back the EditProfileFragment dialog will close and destroyed automatically as only one dialog can be visible at a time so if a user clicks **No** in the confirm dialog, now the EditProfileFragment dialog will not have the unsaved changes as it is destroyed already.
So how should I proceed with this implementation

[2020-06-24 20:23] aditmehta9 commented on #175
Closing this issue because it is subset of [331](https://github.com/anitab-org/mentorship-android/issues/331) and that issue has pull request sent.

[2020-06-24 20:23] #175 closed

[2020-06-25 05:44] MariamKotob commented on #331
This is available again for everyone.

[2020-06-25 05:57] MariamKotob commented on #331
This issue can't be reproduced in the current version of the app. I suppose the problem has already been solved so I'm closing this issue.

[2020-06-25 05:57] #331 closed

[2020-06-25 20:53] MariamKotob commented on #166
Hi @Priyansh-Kedia,
At first, I'm sorry for the late response.
At last, I just found that another issue with a PR, are already open here #492 about the same problem while the issue is clearer. So I have to close this one.
I'm extremely sorry for taking up so much of your time. Wish you to continue searching in the available issues and find one that matches your style.
See you on another issue!

[2020-06-25 20:53] #166 closed

[2020-06-25 21:01] MariamKotob commented on #492
@arvindnegi1 I've assigned the issue to you since you already opened a PR.
I'll make sure to check the PR soon.

[2020-06-25 21:33] MariamKotob commented on #63
I think it should be when the user taps in the clear (white) area of the screen beside the confirm password.
Also again sorry for slow interaction.

[2020-06-26 05:30] pknotfound commented on #63
Thank you for the clarification

[2020-06-27 13:07] HaripriyaB commented on #661
@anitab-org/mentorship-android-maintainers  this issue was discussed in coding open session and Decided to close this issue as accidental back presses may lead to loss of changes made and the profile edit is a dialog box and having a dialog box over it is not feasible. So closing this....

[2020-06-27 13:07] #661 closed

[2020-06-27 14:52] #724 closed

[2020-06-27 14:59] #649 closed

[2020-06-27 15:34] #657 closed

[2020-06-27 19:40] vj-codes commented on #388
Closing since a  toast message - "something went wrong " is displayed in current version of app.

[2020-06-27 19:40] #388 closed

[2020-06-27 19:45] vj-codes commented on #195
@MariamKotob unassigning Ilya due to inactivity and making it availabe again.

[2020-06-27 19:57] vj-codes commented on #189
Closing since list item divider is present in current version .

[2020-06-27 19:57] #189 closed

[2020-06-27 20:10] vj-codes commented on #588
Closing since README has screenshots of app currently.

[2020-06-27 20:10] #588 closed

[2020-06-27 20:43] MariamKotob commented on #195
Yeh, sure but also please consider closing the old PR.

[2020-06-27 20:43] MariamKotob commented on #195
Sorry, for clicking close accidentally

[2020-06-28 10:36] anesabml commented on #666
Hi, @aditmehta9 can I work on this issue?

[2020-06-28 10:41] aditmehta9 commented on #666
Sure

[2020-06-28 12:36] vj-codes commented on #719
I would prefer a new empty view @MariamKotob @devansh-299

[2020-06-28 14:50] mahmoudashrafmohamed opened #729 "Refactor view model and Rx"
Is your feature request related to a problem? Please describe.
it will greatly reduce the boilerplate code in the application.
make app more efficient and reduce using Much RAM.
make viewmodel code more readable and easy to understand

Describe the solution you'd like
i will make base clase for view model and make some extentions to imrove code quality and dispose Rx java Disbosable
and improve wo

[2020-06-28 16:24] sanchi0204 commented on #678
can I work on this issue?

[2020-06-28 16:26] sanchi0204 commented on #644
Can I work on this issue?

[2020-06-28 17:25] vj-codes commented on #729
@mahmoudashrafmohamed Please correct all grammatical errors and add an alternatives if applicable to the issue.

[2020-06-28 17:42] sanchi0204 commented on #575
can I work on this issue?

[2020-06-28 22:06] MariamKotob commented on #575
@sanchi0204 I'm afraid this issue is not available anymore since text is already centered in the current version.
I'm closing this and wish you to find a more suitable issue for yourself check the [Available issues.](https://github.com/anitab-org/mentorship-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22Status%3A+Available%22)
See you soon!

[2020-06-28 22:06] #575 closed

[2020-06-28 22:27] MariamKotob commented on #729
I'd love toad two more points:

- Is your issue related to [#399](https://github.com/anitab-org/mentorship-android/issues/399)?

- Can you add details for exactly what you're planning to do and why? If there are available resources for us to review and make the decission, can you refer to them?

[2020-06-29 07:55] mahmoudashrafmohamed commented on #729
@MariamKotob no, We can stay with RxJava, it works, and it gives power for app by its operators.
i want only to improve code, add the best way to change between threads and make our project available to scaled easily.

[2020-06-29 08:06] mahmoudashrafmohamed commented on #729
done

[2020-06-29 08:07] mahmoudashrafmohamed commented on #729
@vj-codes done

[2020-06-29 09:48] MariamKotob commented on #644
@sanchi0204 assigned to you. Enjoy it.

[2020-06-29 14:14] sanchi0204 commented on #644
Please review my pull request. I have made a new pull request as per the advised changes.

[2020-06-29 18:38] HaripriyaB commented on #719
Even I do prefer a separate view for search feature.

[2020-06-29 22:59] Kavya-24 commented on #665
@Sanika1999  Are You still working on this?

[2020-06-30 10:04] vj-codes commented on #729
@mahmoudashrafmohamed It's better!Jjust a minor change please capitalise 'i' in the issue . And as @MariamKotob suggested please could you provide some resources too.

[2020-06-30 14:16] sanchi0204 commented on #668
Can I work on this issue ?

[2020-06-30 14:21] sanchi0204 commented on #592
Can I work on this issue?

[2020-06-30 14:23] sanchi0204 commented on #664
Is this feature available to work? Because in my version of application, button press effect is very much visible.

[2020-06-30 14:29] sanchi0204 commented on #378
Can I work on this issue?

[2020-06-30 14:34] sanchi0204 commented on #57
Can I work on improving the UI of the app?

[2020-07-01 07:18] devansh-299 commented on #729
That's actually a good idea. The issue seems valid to me

[2020-07-01 07:19] devansh-299 commented on #719
It seems that the new window approach is the one to proceed with. So should I modify the existing issue or open a new one and close this?

[2020-07-01 08:48] rahulshah456 commented on #504
@devansh-299 @aditmehta9   I would like to work on this issue.

[2020-07-01 08:50] rahulshah456 commented on #494
@devansh-299 I would like to work on this issue if available

[2020-07-01 09:04] pknotfound commented on #715
@MariamKotob
What do you think of this issue?

[2020-07-01 09:06] pknotfound commented on #504
@rahulshah456
This issue has been resolved in a different PR
You can check the link I have provided in the comments above

[2020-07-01 09:09] rahulshah456 commented on #504
ok I get it

[2020-07-01 09:44] Abdelaty commented on #715
@Priyansh-Kedia Can you use Hilt instead of dagger?
Hilt was introduced earlier this month by google
Check it https://developer.android.com/training/dependency-injection/hilt-android

[2020-07-01 10:58] bartekpacia commented on #504
@Priyansh-Kedia If it's already implemented, then this one should be probably closed.

[2020-07-01 10:58] #504 closed

[2020-07-01 10:59] pknotfound commented on #715
Yeah @Abdelaty
Hilt can be used
But the thing that I was thinking was, that we should move progressively in this context
That is why I suggested dagger

What do you think?

[2020-07-01 11:49] vj-codes commented on #57
@sanchi0204 Sure. I would also suggest to discuss your ideas on Zulip before sending a PR here.

[2020-07-01 22:34] #613 closed

[2020-07-02 07:17] MariamKotob commented on #494
Assigned to you. Enjoy it.

[2020-07-02 07:21] MariamKotob commented on #719
I guess it would be too vague for others if you modify this issue. I'd prefer you to open a new one.

[2020-07-02 07:36] vj-codes commented on #180
Closing since double press and exit with a toast message is implemented in current version.

[2020-07-02 07:36] #180 closed

[2020-07-02 07:56] MariamKotob commented on #378
Assigned to you. Enjoy! 🎉

[2020-07-02 08:03] vj-codes commented on #378
@sanchi0204  Please work on one issue at a time , could you choose between this or the UI/UX one ?After one issue is over you can continue with the other!

[2020-07-02 10:22] sanchi0204 commented on #378
I would first work on UI/UX issue and then shift to dark mode issue.

[2020-07-02 11:27] vj-codes commented on #378
Cool thanks:)

[2020-07-02 11:40] devansh-299 opened #732 "New Window for Searching Members"
**Is your feature request related to a problem? Please describe.**
Yes, currently whenever the soft-keyboard is shown for searching the members, the bottom navigation bar moves up which shouldn't have occurred. As per the discussion over [here](https://github.com/anitab-org/mentorship-android/issues/719#issuecomment-647203243) the community decided to go with a separate window(with no bottom navig

[2020-07-02 11:42] devansh-299 commented on #719
Closing this as #732 addresses the updated problem

[2020-07-02 11:42] #719 closed

[2020-07-02 12:43] devansh-299 commented on #63
@Priyansh-Kedia are you still working on this issue?

[2020-07-02 19:57] pknotfound commented on #63
Yeah @devansh-299
Will send a PR soon

[2020-07-03 06:38] Abdelaty commented on #715
Yes we should start working on it, but it will be a huge change in the code and will case a lot of merging conflicts for the current working PRs . So do you have a plan to start working on it?
@Priyansh-Kedia

[2020-07-03 06:41] pknotfound commented on #715
Yes
It will change almost each and every file of the current code
I would like to ask if it is possible to not merge any PR before the PR for this branch?

[2020-07-03 06:42] pknotfound commented on #715
If that is possible, I will be able to send a PR within the next two days

[2020-07-03 07:40] Abdelaty commented on #715
@isabelcosta

[2020-07-03 08:33] MariamKotob commented on #732
Thanks for raising the issue.
You can start working on it or make available for other contributors.

[2020-07-04 19:01] vj-codes commented on #665
@Sanika1999 unassigning you due to inactivity.Please comment here whenever you are available:)

[2020-07-06 17:22] gaurivn commented on #603
I'm working on it, will send a PR soon.

[2020-07-08 10:31] pknotfound commented on #715
@Abdelaty
Can you tell me the status on this issue?

[2020-07-09 18:34] #120 closed

[2020-07-11 18:55] vj-codes commented on #644
Closing since PR has been merged.

[2020-07-11 18:55] #644 closed

[2020-07-11 19:01] vj-codes commented on #573
hey @Priyansh-Kedia how long would it take to send a PR again as discussed?

[2020-07-11 19:03] pknotfound commented on #573
@vj-codes
I will try to send a PR by tomorrow

[2020-07-11 19:16] aditmehta9 commented on #98
@mohak1283 I am making this issue available please claim if you want to work.

[2020-07-11 20:48] aditmehta9 commented on #171
I am making it available please claim this issue if anyone want to work.

[2020-07-12 09:40] pknotfound commented on #171
@aditmehta9
How do you think this should be addressed?

[2020-07-13 06:26] aditmehta9 commented on #171
I can't understand what you are asking but for refernce look through reference issues and pull request above mentioned.

[2020-07-13 06:59] pknotfound commented on #171
Yeah @aditmehta9 , I understood the issue
I was just asking you that what approach do you think can be used to solve this?

[2020-07-13 08:17] aditmehta9 commented on #171
I haven't figured out yet.

[2020-07-13 17:47] pknotfound commented on #171
@aditmehta9
I think we should be mentioning a way this can be solved so that if anyone takes up this issue has an idea as to how this should be done.

[2020-07-13 18:12] #709 closed

[2020-07-13 18:17] #666 closed

[2020-07-13 18:21] #688 closed

[2020-07-13 18:55] anesabml commented on #666
Thank you for accepting this pull request, it's my first open-source contribution.

[2020-07-14 16:56] gaurivn commented on #603
I don't have enough bandwidth to complete atm so making it available.

[2020-07-14 17:44] sanchi0204 commented on #378
I have submitted my PR for UI/UX issue. Can I work on this now?

[2020-07-15 07:34] vj-codes commented on #378
@sanchi0204 Sorry but this is a 'first timers only' issue,and since you have already contributed , you cant work on this:(
You can claim any other  available issues!

[2020-07-15 12:05] eraditya1024 commented on #430
@MariamKotob Can I try my hands on this issue if this issue is open (or not yet resolved) ?

[2020-07-15 12:23] eraditya1024 commented on #665
@vj-codes @gaurivn Can I work on this issue ?

[2020-07-15 16:45] eraditya1024 commented on #665
@gaurivn Hello. I have tried to resolved this bug on [PR 734](https://github.com/anitab-org/mentorship-android/pull/734). Please review them.
EDIT: Updated with requested changes [here](https://github.com/anitab-org/mentorship-android/pull/738).

[2020-07-15 17:03] ydasc815 opened #735 "Maladaptive about page on small screen devices"
**Describe the bug**
I tested this app on a Nexus one device with resolution 480 x 800 (hdpi) (shown in image on left, the right one being a device with resolution 1440 x 2560 (560dpi)). The components on this page aren't adaptive with screen size as shown below.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Home page
2. Click on Settings button
3. Open About page
4. See error

**Ex

[2020-07-15 23:38] isabelcosta opened #736 "Add links to documentation on README"
## Description
As an interested contributor,
I need to clearly know where I can find documentation about the app,
so that I can learn more about the project.

Note: I am doing this to test the apk generation.

## Acceptance Criteria
### Update [Required]
- [ ]  Add to README link to wiki

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimatio

[2020-07-16 19:40] #736 closed

[2020-07-16 20:19] isabelcosta opened #739 "Create GitHub Actions that runs same steps as TravisCI"
## Description
As a maintainer,
I need to use GitHub Actions workflow,
so that I can follow community standards.

We want to try GitHub Actions, and if this goes well deprecate TravisCI usage.

## Acceptance Criteria
### Update [Required]
- [ ] Use GitHub actions to perform same steps as TravisCI does now

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 men

[2020-07-18 12:29] vj-codes opened #740 "UI/UX Improvements"
**This issue is divided into two parts and is a combination of  issues #50  #378
Multiple people can be assigned , but a contributor should work  on ONE part at a time.**

### 1) Create Tutorial screens design
As a developer,
I need to have mockups for Tutorial screens,so that I can develop them.

**Solution -**
Create Tutorial screen design and content.

**Estimation -**
4 hours

### 3) Dark mode

[2020-07-18 12:31] vj-codes commented on #378
Closing since all UI/UX issues are merged into  #740

[2020-07-18 12:31] #378 closed

[2020-07-18 12:31] vj-codes commented on #136
Closing since all UI/UX issues are merged into #740

[2020-07-18 12:31] #136 closed

[2020-07-18 12:32] vj-codes commented on #112
Closing since all UI/UX issues are merged into #740

[2020-07-18 12:32] #112 closed

[2020-07-18 12:32] vj-codes commented on #51
Closing since all UI/UX issues are merged into #740

[2020-07-18 12:32] #51 closed

[2020-07-18 12:32] vj-codes commented on #50
Closing since all UI/UX issues are merged into #740

[2020-07-18 12:32] #50 closed

[2020-07-18 12:33] rahulshah456 commented on #98
@isabelcosta @aditmehta9  I would like to work on this issue

[2020-07-18 12:42] aditmehta9 commented on #98
Sure but please read above discussion before working on. I cannot assign you now because my laptop is in repairing so you can start working on.

[2020-07-18 12:49] rahulshah456 commented on #98
ok @aditmehta9 i will start working on this but please update asap

[2020-07-18 13:21] sanchi0204 commented on #740
I would like to work on the first issue : Create Tutorial screens design

[2020-07-18 13:41] vj-codes commented on #740
Sure, assigning you @sanchi0204
Happy designing!

[2020-07-18 22:45] isabelcosta commented on #112
@rahulshah456 what you showed in the picture is very beautiful. I'm sorry I took so long to respond.

[2020-07-18 22:51] gaurivn commented on #739
@isabelcosta, I would like to work on this.

[2020-07-18 22:56] isabelcosta commented on #739
Cannot wait to see you @gaurivn  do this 🤗
Good luck!

[2020-07-18 23:03] gaurivn commented on #739
Thank you, I will try my best

[2020-07-18 23:08] isabelcosta commented on #739
@gaurivn please reach ou if you get stuck in any way. I don't know much of GitHub actions but can try to help just as other community members. By the way @Techno-Disaster did a github actions workflow for Flutter :)

[2020-07-18 23:12] gaurivn commented on #739
Sure thank you @isabelcosta I will ask you both if I need help

[2020-07-19 16:39] eraditya1024 commented on #740
@vj-codes Hello. I would like to work on the 3rd issue : Design for Dark mode support.

[2020-07-19 20:29] annabauza opened #741 "Change application id from org.systers.mentorship to org.anitab.mentorship"
**Describe the bug**
Since we migrate our apps from systers account to AnitaB_org bundles identifiers should reflect that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'app/build.gradle'
2. Find 'android -> defaultConfig -> applicationId '
3. See application id refers to systers

**Expected behavior**
Application Id should refer to anitab
Application id should be org.anitab.mentorsh

[2020-07-19 20:30] annabauza commented on #741
@isabelcosta does it looks correct?

[2020-07-19 21:10] vj-codes commented on #740
@ydasc815 hey assigning you
Happy designing!

[2020-07-20 02:47] ydasc815 commented on #740
Can I get the current design files for this app?

[2020-07-20 17:19] anna4j commented on #741
@annabauza can I take this up?

[2020-07-20 17:21] annabauza commented on #741
Just need confirmation from @isabelcosta or @mayburgos

[2020-07-20 17:22] annabauza commented on #741
@anna4j i thought you alredy contributed. This is a first time issue.

[2020-07-20 17:45] anna4j commented on #741
@annabauza oh I'm a first-timer for this project😅😅  but it's okay I understand no problem 😊

[2020-07-20 18:13] isabelcosta commented on #741
@annabauza I think it's okay. I think we can go with this.
cc @mayburgos

[2020-07-22 09:39] vj-codes commented on #573
@Priyansh-Kedia hey
How's the PR going?

[2020-07-23 14:49] jivthesh commented on #741
@isabelcosta can i  work on this i am new commer to anitab

[2020-07-24 10:47] vj-codes commented on #741
@anna4j Do you want to work on this issue?Otherwise it can be assigned to the next contributor.

[2020-07-24 10:48] vj-codes commented on #740
How's the PR going ? @sanchi0204 @ydasc815

[2020-07-24 10:49] vj-codes commented on #739
How's the PR going? @gaurivn

[2020-07-24 11:04] anna4j commented on #741
@vj-codes ya I've opened a PR for this issue

[2020-07-24 11:04] eraditya1024 commented on #740
@vj-codes I'm working on it. Will share a couple of screens soon with the design team. Got a little busy with my internship.

[2020-07-24 11:27] vj-codes commented on #741
@jivthesh Hey, sorry but this issue was already assigned .You can contribute by working on other available issues.

[2020-07-24 11:48] sanchi0204 commented on #740
I am working on it.
Just wanted to confirm that I shall have tutorial as a viewpager or as a spotlight(describing each icon specifically while having others hidden under dark background)

[2020-07-24 13:53] vj-codes commented on #740
Isabel had explained -
**Example**: When I think of tutorial screens I think of a screen with a page indicator on the bottom, and 3 steps, for example, one showing how to see member profiles, another showing how to send a request, another showing how to see/edit the user profile.
**Goal**: This issue is meant for someone to do mock-up designs of tutorials screens that a user can check to understan

[2020-07-25 23:50] rahulshah456 commented on #732
@aditmehta9 @MariamKotob I would like to work on this issue.

[2020-07-26 05:51] eraditya1024 commented on #735
@vj-codes Please review the validity of this issue, so that I can start working on it.

[2020-07-26 06:10] aditmehta9 commented on #732
Sure

[2020-07-26 12:11] vj-codes commented on #735
@anitab-org/mentorship-managers Can someone check this issue on their side and approve its validity?Thanks!

[2020-07-28 19:57] gaurivn commented on #739
Working on it will send a PR soon

[2020-07-29 18:42] sanchi0204 commented on #740
I have prepared the mocks. How can I get them reviewed?

[2020-07-30 10:16] vj-codes commented on #740
@sanchi0204 Share them on zulip and tag Isabel and design team will do mostly:)

[2020-07-31 03:26] gaurivn commented on #739
I don't have the bandwidth to complete working on GitHub actions, therefore making it available.

[2020-08-01 12:13] aditmehta9 commented on #668
Yes.

[2020-08-01 12:14] aditmehta9 commented on #430
Yes, please consider above chat and pull request before proceeding.

[2020-08-01 19:03] isabelcosta commented on #739
@gaurivn no problem at all! Thank you for letting us know 🙏

[2020-08-02 20:40] vj-codes commented on #573
@Priyansh-Kedia making it available due to inactivity

[2020-08-03 19:02] vj-codes commented on #740
How's it going? @ydasc815

[2020-08-03 19:24] vj-codes commented on #739
@isabelcosta hey!May I work on this?

[2020-08-04 03:12] eraditya1024 commented on #740
Initiated design discussion on zulip ! Suggestions welcomed.

[2020-08-04 13:37] HaripriyaB opened #744 "New task floating action button not visible"
**Describe the bug**
The floating action button is not visible on screen in tasks tab of relation page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Relation
2. Click on tasks tab
3. Scroll down to see that add new task button is not visible

**Expected behavior**
Visibility of add task button

**Screenshots**
<img src = "https://user-images.githubusercontent.com/34762451/89300287-9

[2020-08-04 13:54] HaripriyaB commented on #744
I wish to take this up.

[2020-08-04 18:44] isabelcosta commented on #739
Sure @vj-codes  :)

[2020-08-05 08:20] HaripriyaB commented on #744
@anitab-org/coding-team can anyone assign this to me pls.

[2020-08-05 08:32] eraditya1024 commented on #744
Assigned #744 to @HaripriyaB
Good luck !

[2020-08-05 11:07] aakankshaa23 commented on #195
Can I work on this?

[2020-08-05 16:44] vj-codes commented on #195
Assigning you @aakankshaa23
Happy coding!

[2020-08-05 21:04] vj-codes opened #746 "Add badges in Readme.md"
## Description
As a developer,
I need to see the badges symbolising the our communication channel
Resources: check out badges in Readme.md of  https://github.com/anitab-org/anitab-org.github.io

### Acceptance Criteria

- [ ] Update [Required]
- [ ] Add badges

### Definition of Done

- [ ]  All of the required items are completed.
- [ ]  Approval by 1 mentor.

### Estimation
30 min

[2020-08-06 17:07] aakankshaa23 commented on #195
Can someone please review my PR?

[2020-08-06 17:29] isabelcosta commented on #195
@aakankshaa23 can you submit a pull request? As a reviewer, we usually review pull requests instead of commits. Let me know if you need any help with it :)

[2020-08-06 17:31] aakankshaa23 commented on #195
@isabelcosta  Thanks for reply. I submitted a pull req today only https://github.com/anitab-org/mentorship-android/pull/747

[2020-08-07 10:43] aakankshaa23 opened #748 "App crashes when we click on send request Button before the profile is loaded."
**Describe the bug**
On clicking any member in the member list page, and before complete loading of the description of member, if we click send request button, then app crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Members
2. Click on any member
3. Before the page is loaded, click on send request
4. App crashes

**Expected behavior**
App should not crash, instead when the pag

[2020-08-07 10:44] aakankshaa23 commented on #748
Can i work on this?

[2020-08-07 20:35] Abdelaty commented on #746
I agree with you @vj-codes it will be a small good change.
And While I was checking the readme.md file I saw that the 'open-source love' badge URL was deleted so it can be added also in this issue
![image](https://user-images.githubusercontent.com/23483020/89686159-1c851d00-d8fe-11ea-9782-26670e0df486.png)

[2020-08-07 20:42] vj-codes commented on #746
Sure! @Abdelaty
Just to be more precise for contributors should I add the list of all badges to be added in the issue or the way how it's now is clear?

[2020-08-08 03:51] eraditya1024 commented on #748
Go ahead. Good luck !

[2020-08-09 04:34] CodeChamp-SS commented on #746
@vj-codes can you please tell which badges need to be added ?😅

[2020-08-09 08:27] vj-codes commented on #746
Yupp!

[2020-08-09 08:41] CodeChamp-SS commented on #746
pls tell, then i may be able to take up this issue

[2020-08-09 10:38] Abdelaty commented on #746
@vj-codes yes I think it's clear.

[2020-08-09 19:44] vj-codes commented on #746
Hey @CodeChamp-SS the issue has been updated
Would you like to work on this?

[2020-08-10 03:47] CodeChamp-SS commented on #746
ya sure i'll work on this issue

[2020-08-10 16:03] vj-codes commented on #739
@isabelcosta I found this , is it the correct resource to begin with?
https://docs.github.com/en/actions/language-and-framework-guides/building-and-testing-java-with-gradle#introduction

[2020-08-11 18:08] #665 closed

[2020-08-12 16:47] vj-codes opened #751 "Create a code_of_conduct.md file"
As a developer ,
I need to update the repository with all proper links and documents.
1)Create a  new code_of_conduct.md file that has the same content as http://systers.io/code-of-conduct
2) And then update the code of conduct link in **Readme.md**>>Contributing section as well as in **Contributing.md**  .

### Acceptance Criteria

- [ ]  Update [Required]

### Definition of Done

- [ ]  All of t

[2020-08-13 09:44] Frenzyritz13 opened #752 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-13 10:00] vj-codes commented on #752
@Frenzyritz13 why is only bug_report.md mentioned in the message?there's feature_request and user story template too.
Suppose a user makes the first issue as a feature request , is there a possible way to display only the remaining 2 templates by the bot and not all 3? Just a suggestion:)

[2020-08-13 10:25] Frenzyritz13 commented on #752
That does make sense, I will try to find out why does it only mention the bug_report. Although I feel it is to point to the right resource in case a first-timer takes up an issue and then runs into bugs while completing the tasks. I will check and get back anyway.

[2020-08-15 04:36] 19-pragya commented on #751
can i work on this

[2020-08-17 12:17] #328 closed

[2020-08-17 20:27] aditmehta9 commented on #668
Are you working on this issue?

[2020-08-17 20:51] prayutsu commented on #741
I want to work on this issue

[2020-08-17 20:53] prayutsu commented on #399
I want to work on this issue

[2020-08-18 05:52] anna4j commented on #741
@prayutsu Hey! You can work on this issue, but make sure you send in the Pull Request after 1st September so that you can be eligible for our Open Source Hack program.
More details about the event:  https://anitab-org.github.io/events/open-source-hack/

[2020-08-18 06:02] prayutsu commented on #741
Okay, I will send PR after 1st September

[2020-08-18 08:31] sanchi0204 commented on #668
Yes. I am. Will submit the PR within a day or two

[2020-08-18 17:46] #744 closed

[2020-08-19 09:15] anna4j commented on #693
@vj-codes hey, is this new feature approved? I'm not asking because I want to work on it, I was just curious...

[2020-08-19 09:28] anna4j commented on #732
@rahulshah456 Could you please update your progress?

[2020-08-19 09:31] anna4j commented on #715
@isabelcosta Could you please check the validity of this issue?

[2020-08-19 11:27] vj-codes commented on #693
@anna4j Its just an idea, won't be implemented in version-1 atleast also will need huge changes. And in my opinion its a bit off topic/theme of mentorship system.

[2020-08-21 00:37] isabelcosta commented on #715
@anna4j its tough to know. I know dependency injection is a good thing to house and have, i just haven't seen yet anyone taking this issue and sending a PR, to see its result. And this can totally help the code become more testable as @devansh-299 said.
I would suggest following the User Story template here instead of the feature request though. So ultimately i think this is valid, but a very hard

[2020-08-21 00:43] isabelcosta commented on #693
@vj-codes correct, this is out of scope, its a nice idea, but the app still has to mature and be used before we jump into this. I will close it for now :) Thank you both @anna4j and @vj-codes for keeping this repo up to date 🙌

[2020-08-21 00:43] #693 closed

[2020-08-21 08:08] pknotfound commented on #715
@isabelcosta You are absolutely correct, this would require a lot of refactoring.

Also as @Abdelaty suggested, I researched more about Hilt, and we can directly use Hilt too.
I would be able to submit a PR within two days this weekend.

This would ensure that the code is more robust and would also make redundant code scarce.

[2020-08-22 06:48] anna4j opened #753 "Hide “Delete account” button from Settings"
**Is your feature request related to a problem? Please describe.**
We don't want to allow the users to delete their accounts as it messes the DB at the backend.

**Describe the solution you'd like**
Hide the delete account option from the UI from the **Settings Page**

[2020-08-22 07:58] anna4j commented on #732
@rahulshah456 unassigning due to inactivity

[2020-08-22 08:05] anna4j commented on #715
@Priyansh-Kedia Since you're working on this issue, I'm assigning you to it

[2020-08-22 08:12] anna4j commented on #704
@devansh-299 Could you please add a few resources so that contributors can take this up? Thanks

[2020-08-22 08:25] anna4j commented on #685
@isabelcosta What is to be done about the email field in the Feedback form?

[2020-08-22 08:40] pknotfound commented on #715
@anna4j
As of this time, I am not working on this issue, because it is still under discussion and not yet approved.

[2020-08-22 08:46] anna4j commented on #615
@vj-codes is this a valid issue? Or should it be closed?

[2020-08-22 08:54] anna4j commented on #592
@sanchi0204 are you interested still?

[2020-08-22 09:20] anna4j commented on #430
@ydasc815 Please update your progress

[2020-08-22 09:27] anna4j commented on #324
@isabelcosta is this a valid issue?

[2020-08-22 09:36] anna4j commented on #63
@Priyansh-Kedia Please update your progress

[2020-08-22 09:49] sanchi0204 commented on #592
I tested the app and found that one can scroll in settings activity. I also saw the xml file and it contains a scroll view for the same.

[2020-08-22 09:54] pknotfound commented on #63
@anna4j
The process is still unclear for the same.

[2020-08-22 10:10] anna4j commented on #63
@Priyansh-Kedia But you said you'll send a PR soon in the last message. Why didn't you ask for clarification then? Is there anything the coding-team can help you with?

[2020-08-22 10:12] pknotfound commented on #63
@anna4j
Yes, I would need some more clarification.

[2020-08-22 12:55] prayutsu commented on #741
Hey @anna4j what are the minimum eligibility criteria to participate in open-source-hack?

[2020-08-22 15:16] anna4j commented on #741
@prayutsu there is no such criteria.

[2020-08-23 08:35] garimasingh128 opened #754 "Changing the app icon"
**Is your feature request related to a problem? Please describe.**
As of now, the app icon is the default android icon that the android studio provides. We can change it to a custom icon maybe a logo of AnitaB organization.

**Describe the solution you'd like**
Change the app icon to a custom logo.

See issue #26 for more information on how to create a custom logo and then apply it to the app icon

[2020-08-23 08:43] garimasingh128 opened #755 "The navigation tabs in Mentorship requests page can't be swiped properly."
**Describe the bug**
When I go to the mentorship requests page, I can't swipe the navigation tabs containing Pending, Past, and All options properly.
![Screenshot_2020-08-23-14-07-21-78](https://user-images.githubusercontent.com/44302373/90974635-99dd9e00-e54a-11ea-93d2-3571966d83bf.jpg)

**Expected behavior**
The tabs should be swipeable and should swiftly move when we drag to the other tabs.

**

[2020-08-23 10:49] sanchi0204 opened #756 "Sign Up button is enabled when checkbox checked; despite the empty fields of user information."
**Describe the bug**
The sign up button in Sign Up page is enabled when the checkbox for terms and conditions is checked; despite the empty fields of user information.

**Expected behavior**
The sign up button should not be enabled until all user information is correctly entered; user chooses his/her option to become a mentor, mentee or both and agrees to follow terms and conditions of AnitaB.org(

[2020-08-23 10:54] sanchi0204 opened #757 "Replace any hard-coded strings present in the application"
**Description**
Application contains hard-coded strings in many files.

**Expected behavior**
Hard-coded strings must be fixed via proper replacement with the strings in strings.xml  file. This will make it easier to have app localization in different languages in the future.

[2020-08-23 11:00] sanchi0204 opened #758 "Replace the existing screenshots with the newly updated layout screenshots in the Readme.md file"
**Description**
The screenshots in the Readme.md file don't specify for the new features and changes done in the app.

**Expected behavior**
Add new screenshots of app layouts and about new features.
eg: onboarding screens, filter members etc.

Download the app apk [here](https://github.com/anitab-org/mentorship-android/raw/apk/app-debug.apk)

[2020-08-23 11:03] sanchi0204 opened #759 "Add about the new features added to the application in the Readme.md file"
**Description**
Documentation does not count the new features and changes done to the application.

**Expected behavior**
eg: Write about the feature of filter members, Addition of onboarding screens etc. under the features section in document

[2020-08-23 14:26] sanchi0204 opened #760 "Add attribute of content description to all widgets to make app Talkback compatible"
**Is your feature request related to a problem? Please describe.**
Tested the app for accessibility and found that the app is not compatible for Talk back feature in Android; generally used by visually impaired.

**Describe the solution you'd like**
Adding the content description attribute for all widgets can solve the problem. This will provide user a basic idea for every widget clicked.

**Addit

[2020-08-23 17:46] anna4j commented on #757
@sanchi0204 Hey, it would be great if you could also provide an example just to make it easier

[2020-08-23 17:49] anna4j commented on #754
@garimasingh128 hey please include this link in the current issue. Because these 2 issues go hand in hand. So the app icon needs to be created and then applied
https://github.com/anitab-org/mentorship-android/issues/26

[2020-08-23 18:48] vj-codes commented on #754
@garimasingh128 @anna4j hey the design team was working on logo redesign and a new one has already been fixed so I'll close this issue.Here's the new logo!
![Logo-2](https://user-images.githubusercontent.com/60894542/90986275-303baf00-e59f-11ea-8397-db0a6e382a50.png)

[2020-08-23 18:48] #754 closed

[2020-08-23 19:02] #26 closed

[2020-08-23 19:04] anna4j commented on #754
@vj-codes  Let's create a new issue to set this as our App icon because currently, it's a default icon.

[2020-08-23 19:09] garimasingh128 opened #761 "The search on the search mentors and mentees page does not works."
**Describe the bug**
When I try to search any mentor by his/her name, the search gives no results even though he/she is present in the list as seen without a filter.

**Expected behavior**
Searching should be functional.

**Screenshots**
![Screenshot_2020-08-24-00-35-27-88_184af3f6adcdf091d91f35c3acb0ce61](https://user-images.githubusercontent.com/44302373/90986672-38e1b480-e5a2-11ea-955c-8c37fe3a

[2020-08-23 19:12] garimasingh128 opened #762 "Non functionality of the profile picture change."
**Describe the bug**
I should be able to put up a profile picture when I go to my profile. As of now, the current apk does not allow me to do so.

**Expected behavior**
It should have an edit icon image which redirects to my gallery and allows me to change my profile picture.

**Screenshots**
![Screenshot_2020-08-24-00-34-50-90_184af3f6adcdf091d91f35c3acb0ce61](https://user-images.githubuserconten

[2020-08-23 19:19] vj-codes commented on #762
Closing since its a duplicate of #591

[2020-08-23 19:19] #762 closed

[2020-08-23 19:21] vj-codes commented on #754
@anna4j sure:)

[2020-08-23 19:26] vj-codes commented on #235
Closing since issue #250 deals with same.

[2020-08-23 19:26] #235 closed

[2020-08-23 19:36] vj-codes commented on #761
Closing since its a duplicate of #594 and a PR #633 is already sent.

[2020-08-23 19:36] #761 closed

[2020-08-23 19:38] vj-codes commented on #758
@sanchi0204 since this a a first timers issue , adding the link to download the apk of mentorship system will be helpful for new contributors :)

[2020-08-23 20:10] BirajGupta commented on #760
Hi,
I'm new to android open source.
Would like to start by working on this issue, can I work on it?
@claim

[2020-08-23 20:24] rpattath opened #763 "Confirm dialog box when deleting a request"
**Describe the bug**
Confirm dialog box when deleting a request

**To Reproduce**

![untitled](https://user-images.githubusercontent.com/26095715/90987958-0a8db600-e55d-11ea-85a0-2c3d313002d6.gif)

**Expected behavior**
A confirmation before deleting the request

[2020-08-23 20:33] rpattath opened #764 "Documentation - "How to run unit tests" - under README"
**Describe the bug**
Documentation  - "How to run unit tests" - under README

**Expected behavior**
Clear steps on how to run the existing unit tests.

**Steps to run unit tests**

1. Connect Android device or open the emulator
2. On terminal type ./gradlew clean build connectedAndroidTest --stacktrace
3. Wait for the tests to complete
4. See the complete report ../mentorship-android/app/build/rep

[2020-08-23 20:38] rpattath commented on #590
@Prakash-sa any updates?

[2020-08-23 20:43] rpattath opened #765 "Documentation - How to test using emulator and apk"
**Describe the bug**
Documentation - How to test using emulator and apk

**Expected behavior**
An elaborate documentation about how a new tester can test the app using apk and emulator.

**Acceptance Criteria**
- [ ] This [doc](https://github.com/anitab-org/mentorship-android/wiki/How-to-test-the-application) should be updated with instructions and screenshots/gifs.

[2020-08-23 21:08] rpattath opened #766 "UI test automation"
**Is your feature request related to a problem? Please describe.**
Research and come up with a shortlist of UI test automation tools.

**Describe the solution you'd like**
A list of UI test automation tools that is best suited for this project. For example, Selandroid, Android UI Automater, Robotium, etc.

[2020-08-23 21:50] isabelcosta commented on #715
@anna4j thank you so much for your help managing this!

[2020-08-23 21:53] isabelcosta commented on #704
@anna4j I tried to change the title to make this more clear, this is about making the tests which are failing pass.

[2020-08-23 22:10] isabelcosta commented on #685
@anna4j, for now, we should just have the email ID of the current user, and have the field disabled. This is a temporary solution until we have a redesign of the screens :)

[2020-08-23 22:14] isabelcosta commented on #324
@anna4j actually I am not sure 🤔 Could you please ask for help of Android devs on Zulip?

[2020-08-24 04:30] CodeChamp-SS commented on #763
Can i take up this issue ?

[2020-08-24 04:36] sanchi0204 commented on #740
@vj-codes This is a generic issue. Can we split it into multiple smaller issues so that they can be addressed during OSH?

Because even if we add the OSH Label here; it might not be filtered under "no assignees" .
What do you think?

[2020-08-24 04:43] sanchi0204 commented on #760
This issue is under Open Source Hack Program. Your contribution will count to this program only if you make contribution after 1 September'20.

You can know more about the program [here](https://anitab-org.github.io/events/open-source-hack/)

[2020-08-24 04:44] CodeChamp-SS commented on #756
@vj-codes, @sanchi0204  Is this issue available ? I can take up this issue if yes

[2020-08-24 04:45] sanchi0204 commented on #758
Sure! Thank you for suggesting that @vj-codes

[2020-08-24 05:37] eraditya1024 commented on #758
May I work on this in the OSH duration ? @vj-codes

[2020-08-24 05:58] BirajGupta commented on #760
Ok thanks,
I'll work on some other for now.

[2020-08-24 08:48] sanchi0204 commented on #756
This issue is under Open Source Hack Program. It will be great if you make your contribution under this program. Your contribution will count to this program only if you make contribution after 1 September'20.

You can know more about the program [here](https://anitab-org.github.io/events/open-source-hack/)

[2020-08-24 09:50] vj-codes commented on #740
@sanchi0204 actually earlier all were old separate issues but no one was claiming them so it was suggested in the project manager's session to merge them all.
But if separating again benefits OSH sure go ahead!

[2020-08-24 11:10] sanchi0204 commented on #740
Okay!Thankyou @vj-codes

[2020-08-24 11:11] sanchi0204 opened #767 "Profile Section UI Changes"
**Description-**

As a user,
I believe that in the Profile section, instead of opening another dialog to edit my details, the TestFields should convert to an edit text option, which I can save later.

**Solution -**

Come up with various options for this part of Profile Section

**Estimation -**

4 hours

[2020-08-24 11:14] sanchi0204 opened #768 "Improve UI/UX Design to improve Accessibility"
**Description-**

As a user,
I need user-friendly UI/UX, so that I can use the app more efficiently.
Improve UI in order to enable a disabled or impaired person to use that app successfully.
Examples of accessibility concerns:

text to talk for blind people
colorblindness issue

**Solution -**

Come up with UI screens or UX samples showing improvements with regard to Accessibility

**Estimation -*

[2020-08-24 11:19] sanchi0204 opened #769 "Need UI/UX Wireframes to improve Send Request feature"
**Description-**

As a developer,
I need UI/UX wireframes regarding the decrease of too many steps to send a request, so that I can have good UX around sending a request to a mentor/mentee.
Original issue that brought up this concern: [#91](https://github.com/anitab-org/mentorship-android/issues/91)

**Solution-**

Solution [#1](https://github.com/anitab-org/mentorship-android/issues/1): button on

[2020-08-24 11:19] vj-codes commented on #568
Closing since the issue no longer persists.Tested [here](https://drive.google.com/file/d/1VR6y4W-t9EPGiRokzBpLF0OeOU8dKyqC/view?usp=sharing)

[2020-08-24 11:19] #568 closed

[2020-08-24 11:30] vj-codes commented on #758
@ydasc815 hey sorry but this a first timers only issue,and you have already made your 'first' contribution to this repo! Do look for other available issues and comment to claim it:)

[2020-08-24 11:30] sanchi0204 commented on #740
@vj-codes can you please edit this issue. I have opened new issues for parts 2, 4 and 5.
So I think they should be removed as of now.

[2020-08-24 13:38] CodeChamp-SS commented on #756
oh k, so shall I start working on the issue ?

[2020-08-24 17:01] BirajGupta commented on #758
Can I work on this issue?
@claim

[2020-08-24 20:23] atharwa-24 commented on #753
Hi @anna4j
I would like to work on this one
Participant of osh

[2020-08-24 20:46] atharwa-24 commented on #751
I would like to work on it
Participating in OSH

[2020-08-24 21:53] Sommie09 commented on #753
I would love to work on this

[2020-08-24 21:56] Sommie09 commented on #751
I'm participating in OSH, would love to work on this

[2020-08-24 22:07] Sommie09 commented on #753
Could I work on this issue?
I'm participating in OSH

[2020-08-24 22:07] Sommie09 commented on #63
Could I work on this issue?
I'm participating in OSH

[2020-08-24 22:54] Sommie09 commented on #769
I would love to work on this, I'm participating in OSH

[2020-08-24 22:56] Sommie09 commented on #767
I would love to work on this issue

[2020-08-24 23:00] Sommie09 commented on #765
I would love to work on this, I am participating in OSH

[2020-08-24 23:01] Sommie09 commented on #764
I would love to work on this, I am participating in OSH

[2020-08-24 23:01] Sommie09 commented on #764
@rpattath

[2020-08-24 23:02] Sommie09 commented on #760
I would love to work on this, I am participating in OSH

[2020-08-24 23:04] Sommie09 commented on #759
I would love to work on this, I am participating in OSH

[2020-08-24 23:06] Sommie09 commented on #758
I would love to work on this, I am participating in OSH @sanchi0204 I'm a first-timer

[2020-08-25 02:37] Devanshi-123 commented on #759
Can i work on this?

[2020-08-25 04:01] anna4j commented on #753
@atharwa-24 Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can als

[2020-08-25 04:02] anna4j commented on #753
@Sommie09 I have to tell you the same thing that I told @atharwa-24  :)

[2020-08-25 04:10] garimasingh128 opened #770 "Adding password check while entering the passwords."
**Describe the bug**
Currently, the password check only occurs when the user presses the OK button. It would be better if the check can be present at the time of writing the passwords.

**Expected behavior**
- Add a password check at the time of writing the password.
- If the old and new passwords don't match, add a message at runtime instead of after pressing the OK button.

**Screenshots**
<img

[2020-08-25 04:14] anna4j commented on #63
@Sommie09 Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also

[2020-08-25 04:18] garimasingh128 opened #771 "Centering the Find members div in the Relation tab."
**Describe the bug**
Currently, the Find relations button and the text above it is slightly shifted to the bottom instead of the center in the relations tab. This looks quite absurd according to UX principles.

**Expected behavior**
- Centre both of these text area and the button in the centre of the screen.

**Screenshots**
<img src="https://user-images.githubusercontent.com/44302373/91122506-22c

[2020-08-25 04:25] garimasingh128 opened #772 "Adding the filter option in the title bar"
**Describe the bug**
Currently, the filter option in the Members tab is present when we click on the three dots on the title bar. As a first-time user, I sometimes miss that facility of filtering provided to me just because it is not visible on the first screen.

**Expected behavior**
- Add a filter icon beside the search icon so that the user can know that we can filter at the first instance.
- T

[2020-08-25 04:29] garimasingh128 opened #773 "Improving the profile section"
**Describe the bug**
Currently, the profile section has fields that have very light grey colour. For users with less than normal visual sight, this may pose an issue. Therefore, the text should be of black colour to maintain an uniformity in the whole application.

**Expected behavior**
- Change the colour of all fields to #000000
- Give proper colour to the switches like red for off and green for

[2020-08-25 04:31] anna4j commented on #664
@sanchi0204 Ya I just checked, it works for me too!

[2020-08-25 04:32] #664 closed

[2020-08-25 04:35] garimasingh128 commented on #769
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-25 04:36] garimasingh128 commented on #759
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-25 04:36] garimasingh128 commented on #751
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-25 04:43] anna4j commented on #547
Closing this issue right now, because it's open in the backend. Once approved there, we can open a new one here!

[2020-08-25 04:43] #547 closed

[2020-08-25 07:41] Sommie09 commented on #773
Looking forward to working on this by 1st September

[2020-08-25 07:41] Sommie09 commented on #772
Looking forward to working on this by 1st!

[2020-08-25 07:42] Sommie09 commented on #771
Looking forward to working on this by 1st!

[2020-08-25 07:44] Sommie09 commented on #770
Looking forward to working on this by 1st!

[2020-08-25 07:45] Sommie09 commented on #768
Looking forward to working on this by 1st!

[2020-08-25 07:45] Sommie09 commented on #765
Looking forward to working on this by 1st!

[2020-08-25 07:46] Sommie09 commented on #764
Looking forward to working on this by 1st!

[2020-08-25 07:47] Sommie09 commented on #757
Looking forward to working on this by 1st!

[2020-08-25 07:47] Sommie09 commented on #756
Looking forward to working on this by 1st!

[2020-08-25 07:47] Sommie09 commented on #753
Looking forward to working on this by 1st!

[2020-08-25 08:15] CodeChamp-SS commented on #771
willing to take up this issue, if available

[2020-08-25 08:38] sanchi0204 opened #774 "Search bar in members intent is not working"
**Describe the bug**
The Search option in Members Activity is not working as it doesn't show the filtered results based on entered text. Post clicking the image button; members are not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members'
2. Click on 'Search Image Button'
3. Search for a member
4. See error

**Expected behavior**
On entering the text to search a particular

[2020-08-25 10:58] anna4j commented on #774
https://github.com/anitab-org/mentorship-android/issues/594
Hi @sanchi0204 This issue already exists with a PR and is currently on hold, but is worked upon.
So I'm closing this one :)

[2020-08-25 10:58] #774 closed

[2020-08-25 11:01] anna4j commented on #773
@garimasingh128 Actually, this issue will need a little approval from the maintainers and design team based on the new design. Currently closing this because it has not been discussed.

@vj-codes what do you think?

[2020-08-25 11:05] anna4j commented on #772
@garimasingh128 This is again a feature that needs to be discussed. Also, just by adding icon filtering won't happen directly. This is a backend issue

@vj-codes  What do you think?

[2020-08-25 11:16] anna4j commented on #757
@Sommie09 You can be assigned to only one issue at a time, So I think you should make up your mind about which issue you want to work on :)

[2020-08-25 11:19] #773 closed

[2020-08-25 11:20] Sommie09 commented on #757
@anna4j My bad!, this first. Then others from another category :)

[2020-08-25 11:22] anna4j commented on #757
@Sommie09 Assigning you, send in your PR after 1st.
Happy coding :)

[2020-08-25 11:23] anna4j commented on #771
@CodeChamp-SS Sure! Send in your PR after 1st :)

[2020-08-25 11:28] CodeChamp-SS commented on #771
sure

[2020-08-25 11:31] CodeChamp-SS commented on #763
willing to take up this issue, if available

[2020-08-25 11:36] sanchi0204 commented on #759
Assigning you the issue. Make sure you make a PR after Sept 1 else your contribution will not count for OSH.
Happy Coding

[2020-08-25 11:37] Sommie09 commented on #757
Thank you! Would work on it right away

[2020-08-25 11:44] Sommie09 commented on #766
I would love to work on this issue on the 1st Of September, I am a first-timer
And an Open Source Hack participant @rpattath

[2020-08-25 11:45] Sommie09 commented on #765
I'm a first-timer as well @rpattath

[2020-08-25 12:33] ankita1964 commented on #759
Hey @sanchi0204 Can I work on this issue?

[2020-08-25 13:18] dhivyasundart commented on #758
I m also a first timer..I would like to try it @sanchi0204

[2020-08-25 13:36] vj-codes commented on #772
@anna4j the filter feature is partially implemented on backend but my main thought was that the refresh button is applied on every page of the app, removing it for members will make it inconsistent.
This can be given a thought while redesigning though:)

[2020-08-25 16:10] atharwa-24 commented on #753
@anna4j I had completed this task!!!

[2020-08-25 16:17] anna4j commented on #753
@atharwa-24 Assigning you! Send in a PR after 1st though :)

[2020-08-25 16:20] atharwa-24 commented on #753
Thanks @anna4j

[2020-08-25 16:21] Sommie09 commented on #765
Rounding up my documentation write up @rpattath

[2020-08-25 16:22] Sommie09 commented on #756
@sanchi0204 task completed!

[2020-08-25 16:32] Sommie09 commented on #765
Would love to send in a PR on the 1st!

[2020-08-25 16:34] Sommie09 commented on #764
@rpattath, drafting out the documentation for unit tests, would love to send in a PR on the 1st!

[2020-08-25 16:38] Sommie09 commented on #760
@sanchi0204. I am done with this task and would love to send in a PR on the 1st! I'm a first-timer in open source as well

[2020-08-25 16:42] Sommie09 commented on #755
@garimasingh128  I'm participating in the OSH program from 1st September. I would love to send in a PR on the 1st as I have found the bug! I'm a first-timer in open source as well

[2020-08-25 16:43] Sommie09 commented on #751
@garimasingh128 I am done with the issue, and I would love to send in a PR on the 1st!
I'll be back then

[2020-08-25 16:46] garimasingh128 commented on #751
I think you should get it assigned to yourself first before creating a PR right away on 1st Sept. @anna4j please correct me if I am wrong.

[2020-08-25 16:51] Sommie09 commented on #751
@garimasingh128 I would wait for orders first, wouldn't want to break any rules 😃 I'm just trying to show my interests

[2020-08-25 16:55] garimasingh128 commented on #751
No issues @Sommie09 It's always great to have participants like you! :)

[2020-08-25 16:57] Sommie09 commented on #751
@garimasingh128 Okay!! It's my first time contributing, and I'm happy to see there are loads of things I would work on. A really big motivation

[2020-08-25 17:02] atharwa-24 commented on #751
True @Sommie09

[2020-08-25 17:13] sanchi0204 commented on #756
@CodeChamp-SS assigning you since you claimed first. But make sure to make a PR after 1st September

[2020-08-25 17:16] siddheshkothadi commented on #741
Hey @anna4j I would like to work on this issue

[2020-08-25 17:22] siddheshkothadi commented on #763
Hey @rpattath I would like to work on this issue

[2020-08-25 17:25] siddheshkothadi commented on #758
Even I would like to work on this issue

[2020-08-25 17:33] isabelcosta commented on #704
@devansh-299 does this command`./gradlew clean build connectedAndroidTest --stacktrace` run the Android Espresso tests (user interface tests)?

[2020-08-25 17:45] BirajGupta commented on #380
can I work on the issue during OSH as the signupActivity still shows the deprecation message.
@claim

[2020-08-25 18:04] CodeChamp-SS commented on #756
thanks

[2020-08-25 18:07] anna4j commented on #759
@ankita1964 hey! Issues are assigned to anyone who claims them first. But there are plenty of other issues to look for!

[2020-08-25 18:09] sanchi0204 commented on #758
Assigning to @dhivyasundart as you claimed first and as @Sommie09 has already been assigned an issue.

But make sure you submit the PR after Sept 1st to make your contribution count for OSH

[2020-08-25 19:10] #545 closed

[2020-08-25 19:17] #772 closed

[2020-08-25 19:18] anna4j commented on #752
@Frenzyritz13 Any updates?

[2020-08-25 19:22] anna4j commented on #735
@ydasc815 Hey if you think this is a bug, please work on it and create a PR. We'll then review it and test it

[2020-08-25 19:30] anna4j commented on #430
unassigning due to inactivity

[2020-08-25 19:36] vatsalkul opened #776 "feat: Implement task comments"
## Description
As a user, I may want to discuss the details of a particular task so that I can complete the task efficiently and quick.

## Mocks
As of now, task comment is implemented in Mentorship iOS. PR [link](https://github.com/anitab-org/mentorship-ios/pull/106)
Screenshots:
<img width="300" alt="Screen Shot 2020-07-31 at 1 51 22 AM" src="https://user-images.githubusercontent.com/31164725/88

[2020-08-25 19:36] rpattath opened #777 "Write “Send Request” screen Espresso test"
Write “Send Request” screen Espresso test

**Describe the solution you'd like**
Unit tests to cover Send mentorship request feature of the app.

The tests would go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/systers/mentorship)

[2020-08-25 19:40] rpattath opened #778 "Write “My Profile” screen Espresso test"
**Is your feature request related to a problem? Please describe.**
Write “My Profile” screen Espresso test

Describe the solution you'd like
Unit tests to cover "My profile" feature of the app.

The tests would go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/systers/mentorship)

[2020-08-25 19:45] #763 closed

[2020-08-25 19:46] rpattath commented on #763
This is a duplicate of https://github.com/anitab-org/mentorship-android/issues/250

[2020-08-25 19:47] rpattath commented on #349
Duplicate of #777

[2020-08-25 19:48] garimasingh128 opened #779 "Enhancement of the UI of the login screen"
**Describe the bug**
Currently, when the user first opens the application, the login screen appears. The login screen has a layout in which all UI elements are present. The layout ends above the screen leaving a greyish area below it.

**Expected behavior**
- Match parent the parent layout so that the UI looks cleaner.

**Screenshots**
<img src="https://user-images.githubusercontent.com/44302373/9

[2020-08-25 19:50] #349 closed

[2020-08-25 19:51] garimasingh128 opened #780 "Provide a forgot password facility during login."
**Describe the bug**
Currently, when the user first opens the application, the login screen appears. The login screen does not have a forgot password facility for users who don't remember their passwords.

**Expected behavior**
- Provide a simple text "Forgot password" below the login division which sends an OTP or a link to our registered email to reset our password again

**Screenshots**
<img sr

[2020-08-25 19:54] garimasingh128 opened #781 "Disabling the Login button until the user has filled his/her credentials"
**Describe the bug**
Currently, when the user first opens the application, the login screen appears. The login screen has a login button that remains active at all times, unlike the signup page which has the signup button which remains inactive until the credentials are filled by the user.

**Expected behavior**
- Disable the login button until the credentials are not entered by the user to mainta

[2020-08-25 19:58] garimasingh128 opened #782 "Adding runtime checks to signup page for the credentials"
**Describe the bug**
Currently, when the user fills his/her credentials in the signup page and presses the signup button, he/she gets notified whether the credentials are valid or not.

**Expected behavior**
- Add runtime validations for the following when the user is typing the inputs:
1. Username availability
2. The correctness of the email format
3. Matching of the passwords

**Screenshots**
<i

[2020-08-25 20:03] garimasingh128 opened #783 "Adding a better screen when the email confirmation link is pressed"
**Describe the bug**
Currently, when the user fills his/her credentials in the signup page and presses the signup button, he/she gets a confirmation link on his/her registered email. When it is pressed, it leads us to a simple JSON response. Instead of that we can have a better-looking confirmation screen.

**Expected behavior**
- Create the design for the confirmation screen
- Implement it in cod

[2020-08-25 20:17] vatsalkul opened #784 "fix: Use dashboard endpoint instead of home"
## Description
As a developer, I need to use /dashboard api endpoint to show the data on app dashboard.
Backend currently have an endpoint called /dashboard which is supposed to use by frontend apps in order to show the dashboard of a user.
Not only the count, it includes important details about every relationship (pending, accepted, rejected, cancelled, completed)

## Acceptance Criteria

### Upd

[2020-08-25 20:17] rpattath commented on #766
Duplicate of #704

[2020-08-25 20:17] #766 closed

[2020-08-25 21:22] rpattath opened #785 "Edit profile in landscape mode works differently than portrait mode"
**Describe the bug**
Edit profile in landscape mode works differently than portrait mode

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile and click the pencil icon on the top
2. Change orientation to landscape mode
3. Edit a field

**Expected behavior**
Save should be an option as soon as a field is updated

**Screenshots**

![untitled (2)](https://user-images.githubusercontent.

[2020-08-26 03:18] siddheshkothadi commented on #781
Hey @garimasingh128 I would like to work on this issue.

[2020-08-26 04:17] CodeChamp-SS commented on #779
the layout containing all the ui elements has a white background, won't it be better to match the background of the layout with that of the parent background instead of resizing the layout ?

[2020-08-26 04:31] garimasingh128 commented on #779
Ya, you can go for either of the ways! Just make it look better.

[2020-08-26 04:32] garimasingh128 commented on #781
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-26 04:33] CodeChamp-SS commented on #779
so can i take up this issue ?

[2020-08-26 04:37] garimasingh128 commented on #779
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-26 04:38] CodeChamp-SS commented on #779
sure

[2020-08-26 05:37] siddheshkothadi commented on #781
Okay thanks 🙂, looking forward to contribute on 1st September!

[2020-08-26 07:06] prayutsu commented on #741
@anna4j Can you please assign it to me now?

[2020-08-26 13:36] Hyper-Matrix commented on #779
Is there any chance I can be assigned this for OSH?

[2020-08-26 14:41] swaraj961 commented on #781
Hey Can you assign me this issue on 1st September when this hack began thanks looking forward to work on it.

[2020-08-26 14:44] swaraj961 commented on #780
Hey Can you assign me this issue on 1st September when  this hack began thanks looking forward to work on it.

[2020-08-26 15:03] swaraj961 commented on #769
Wow seems good Can you assign me this issue on 1st September when this hack began thanks looking forward to work on it.

[2020-08-27 02:34] yashhalgaonkar commented on #784
Hey, @vatsalkul I would like to work on this for OSH.

[2020-08-27 06:03] vatsalkul commented on #784
@yashhalgaonkar thanks for showing interest in contributing to mentorship android 🎉. The program OSH will start from 1 September. Once the program starts you can work on this

[2020-08-27 09:28] CodeChamp-SS commented on #771
![Screenshot_1598516608](https://user-images.githubusercontent.com/52480794/91423022-97928100-e875-11ea-9ca9-740744662ca4.png)
![Screenshot_1598516653](https://user-images.githubusercontent.com/52480794/91423025-98c3ae00-e875-11ea-9996-869219309637.png)

how does it look now ?

i've posted ss of 2 different devices

[2020-08-27 09:48] CodeChamp-SS commented on #771
![ss1](https://user-images.githubusercontent.com/52480794/91423387-17205000-e876-11ea-8830-a749057d4b71.png)
![ss2](https://user-images.githubusercontent.com/52480794/91423406-1b4c6d80-e876-11ea-910e-f9243785eba6.png)

does it look fine now ??

i've included ss of 2 different devices and tested on 2 more devices, i think it looks better now

[2020-08-27 10:14] anna4j commented on #771
Yup looks good :)

[2020-08-27 10:21] vatsalkul commented on #171
Is this a valid issue! I am not facing this problem! @anitab-org/coding-team @anitab-org/qa-team

[2020-08-27 11:36] vatsalkul commented on #171
This is is no longer valid

[2020-08-27 11:36] #171 closed

[2020-08-27 16:56] swaraj961 commented on #782
Hey I'm looking forward to work on this issue can you assign me this on 1st of sept thanks

[2020-08-27 16:57] swaraj961 commented on #770
Hey if this issue is not yet assigned i'm looking forward to work on this can you assign me this on 1st thanks

[2020-08-27 17:02] garimasingh128 commented on #782
Sure @swaraj961. I'll assign you this issue on 1st. Remember to create a PR for the first issue before asking to be assigned to the next one. All the best.

[2020-08-27 17:09] swaraj961 commented on #782
Sure thanks @garimasingh128

[2020-08-27 17:26] nitish-awasthi commented on #758
Hi! @sanchi0204  can I work on this issue for OSH?

[2020-08-27 19:58] Hyper-Matrix commented on #672
Can I be assigned this issue as a part of OSH?

[2020-08-27 20:05] Hyper-Matrix commented on #668
Can I be assigned this issue for OSH?

[2020-08-27 20:05] Hyper-Matrix commented on #250
Can I be assigned this issue for OSH?

[2020-08-28 11:24] rpattath commented on #765
Hi @Sommie09 all the OSH issues will be assigned starting 1st September. I can definitely assign this to you as long as you are not working on any other issue at that time.

[2020-08-28 11:27] ashwinijha6 commented on #785
@rpattath I would like to work on this issue as an OSH participant

[2020-08-28 11:28] rpattath commented on #764
@Sommie09 sure I can assign on the 1st of Sept. Please keep in mind that you will be assigned only 1 issue at a time until a PR is created for that issue.

[2020-08-28 11:33] Sommie09 commented on #765
That'll be great @rpattath Everything is set!!!

[2020-08-28 11:35] Sommie09 commented on #764
Great @rpattath PR's would be created on the 1st
As everything is already set!
Thank you

[2020-08-28 12:58] maharishi1 commented on #757
can I work on this issue from 1st Sept?

[2020-08-28 13:45] maharishi1 commented on #444
please assign me this task on 1st Sept.

[2020-08-28 18:46] sanchibansal340 opened #786 "Create a reporting_guidelines.md"
## Description
As a user, I need to modify the reporting guidelines, so that I can seek for help when necessary.
1. The content should be consistent with [Reporting Guidelines](https://github.com/anitab-org/mentorship-flutter/blob/develop/.github/reporting_guidelines.md)
2. And then update the code of conduct link in **Readme.md**>>Contributing section.
3. Add the updated Reporting Guidelines file

[2020-08-28 18:59] BirajGupta commented on #780
Hey I was asking if I could open an issue on the feature on zulip and did not know it already exists.
Can I work on it  if no one is assigned.
@claim

[2020-08-28 19:33] garimasingh128 commented on #780
Sure @BirajGupta. I just saw your comment on Zulip. We can assign multiple people on a single issue but we will merge the PR with the best implementation. So I will assign this to both of you, of course on or after 1st. :)

[2020-08-28 23:41] garimasingh128 opened #787 "Storing the data locally without going online."
## Description
As an user of the app, sometimes I may need to check my profile or requests but network connection may not be available. So my profile data, requests and such other information should be stored locally in my phone. For example in Whatsapp, you can check the chats even if you're offline. In the same way, I should be able to check my stats on the app without going online. We can use r

[2020-08-29 02:22] eraditya1024 commented on #591
@isabelcosta @anna4j @sanchi0204 Can I work on this issue as a part of OSH ?

[2020-08-29 04:19] SHITIZ-AGGARWAL commented on #786
hello @sanchibansal340 i would like to work on this

[2020-08-29 05:36] anna4j commented on #591
Sure I'll assign you on 1st Sept @ydasc815

[2020-08-29 07:34] sanchi0204 commented on #668
Sure! I will assign you on Sept 1st

[2020-08-29 07:38] sanchi0204 commented on #758
This issue has already been assigned.
You may explore other issues for OSH

[2020-08-29 09:04] utkzas commented on #786
hey can i also work on this?

[2020-08-29 09:12] faznan3nazer commented on #779
I would like to work on this issue...can you please assign this to me for Open-Source Hack?

[2020-08-29 09:36] CodeChamp-SS commented on #779
![ss1](https://user-images.githubusercontent.com/52480794/91633812-f3d9da00-ea08-11ea-9247-9f1401737893.png)
![ss2](https://user-images.githubusercontent.com/52480794/91633813-f50b0700-ea08-11ea-83f7-ffc1dddace95.png)

@garimasingh128 I think it looks better now, what do you think ?

[2020-08-29 12:08] niyati-n commented on #787
Can you assign this issue to me for OSH ?

[2020-08-29 12:20] aditmehta9 commented on #767
We will assign you this issue on 1st Sep. because of OSH

[2020-08-29 12:31] aditmehta9 commented on #492
Unassigning @arvindnegi1 becuase you haven't made the changes in PR that was asked. Please claim again if you want to once you are active.

[2020-08-29 12:34] aditmehta9 commented on #399
OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution

[2020-08-29 12:35] aditmehta9 commented on #399
@prayutsu assigning you because you have claimed first and please look at the PR sent earlier before starting.

[2020-08-29 12:38] sanchibansal340 commented on #786
Comment on 1st September and I will assign it to you.

[2020-08-29 12:40] aditmehta9 commented on #380
OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-29 12:41] prayutsu commented on #399
So, please assign it on 1st

[2020-08-29 12:41] aditmehta9 commented on #250
Yes of course. OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-29 12:41] aditmehta9 commented on #399
ok

[2020-08-29 12:42] aditmehta9 commented on #787
Yes of course. OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-29 12:42] aditmehta9 commented on #785
Yes of course. OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-29 12:44] aditmehta9 commented on #779
@Hyper-Matrix @faznan3nazer Yes of course. OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-29 12:45] aditmehta9 commented on #770
@Sommie09 @swaraj961 Great enthusiasm!! OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue. And claim another issue after sending PR for the previous one. There are plenty of issues.

[2020-08-29 12:52] aditmehta9 commented on #672
Yes of course. OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-29 13:16] aditmehta9 commented on #105
@Priyansh-Kedia do you still want to work on this issue I hadn't assigned this issue to you at that time because you were working on multiple issues.

[2020-08-29 19:27] vj-codes commented on #739
@anna4j Is this a good OSH issue?If yes ,I would like to make it available for others

[2020-08-30 06:22] maharishi-01 commented on #781
Hello @garimasingh128 , Can I work on this issue? please assign me.

[2020-08-30 06:23] maharishi-01 commented on #782
Can I work on this issue? please assign me this issue on 1st Sept.

[2020-08-30 09:45] anna4j commented on #739
Sure looks good to me! @vj-codes

[2020-08-30 10:04] anna4j opened #788 "Change App name to "Mentorship System""
**Describe the bug**
Currently, the Application name is set to "Systers Mentorship"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to apk branch on mentorship-android
2. Download latest app-debug.apk of the App
3. Realize that the App name is Systers Mentorship

**Expected behavior**
Application name should be set to **Mentorship System**

**Screenshots**
![IMG_20200830_153048](https://u

[2020-08-30 10:19] anna4j opened #789 "Research on Dagger or Hilt usage"
**Is your feature request related to a problem? Please describe.**
Dagger is a dependency injection framework provided by Google. The use of dagger will greatly reduce the boilerplate code in the application.
Using dagger with view models can help to provide the repositories very easily and remove the need to write redundant code.

**Describe the solution you'd like**
Conduct research and investig

[2020-08-30 10:20] #715 closed

[2020-08-30 10:29] anna4j opened #790 "Perform an audit of Accessibility problems in App"
**Is your feature request related to a problem? Please describe.**
Perform an audit of Accessibility problems the app has. Consider various scenarios that are hampering the User Experience. Also, come with ways these problems can be fixed. Possible technologies that can be used etc.

**Describe the solution you'd like**
Submit all the problems and solutions in a Markdown file under **/docs/spikes*

[2020-08-30 10:39] anna4j opened #791 "Documentation about the App Architecture"
**Is your feature request related to a problem? Please describe.**
Write documentation about the architecture being used in the app. Go through the codebase in [Mentorship Android](https://github.com/anitab-org/mentorship-android) and [Mentorship Backend](https://github.com/anitab-org/mentorship-backend) to understand how the features, database, and APIs are being built.

**Describe the solution y

[2020-08-30 10:48] anna4j opened #792 "Write “Current Relation” screen Espresso test (a)"
Write “Current Relation” screen (**scenario: when there is no relation**) Espresso test

**Describe the solution you'd like**
Unit tests to cover the Current Relation feature of the app, when no relation is present.

The tests would go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/systers/mentorship)

Acceptance criteria:

- [ ] Connect Android d

[2020-08-30 10:51] anna4j opened #793 "Write “Current Relation” screen Espresso test (b)"
Write “Current Relation” screen (**scenario: when there is relation**) Espresso test

**Describe the solution you'd like**
Unit tests to cover the Current Relation feature of the app, when there is a relation present.

The tests would go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/systers/mentorship)

Acceptance criteria:

- [ ] Connect Android

[2020-08-30 10:54] anna4j opened #794 "Write “Edit Profile” screen Espresso test"
Write “Edit Profile” screen Espresso test

**Describe the solution you'd like**
Unit tests to cover the Edit Profile feature of the app.

The tests would go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/systers/mentorship)

Acceptance criteria:

- [ ] Connect Android device or open the emulator
- [ ] On terminal type ./gradlew clean build connect

[2020-08-30 10:56] pknotfound commented on #715
@anna4j
Why is this issue closed?

[2020-08-30 10:57] pknotfound commented on #715
This is still under consideration.
This issue has not been worked on since a long time because it would make a huge change in the application code and thus required discussion before approval

[2020-08-30 11:02] anna4j commented on #715
@Priyansh-Kedia We've decided to open a new one for the same

[2020-08-30 11:06] anna4j commented on #704
@rpattath Hey! Is this issue supposed to be closed too since we're opening smaller UI Espresso test issues already?

[2020-08-30 11:12] anna4j commented on #740
@vj-codes Yup please edit those.

[2020-08-30 11:22] SHITIZ-AGGARWAL commented on #789
hello @anna4j I would like to work on this , should i comment on it again on 1st Sept

[2020-08-30 11:24] anna4j opened #795 "Redesign: Send Request screen"
Provide a re-design of the **Send Request** screen in the App
**TIP**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we want in this screen.

**Kindly follow the** [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3D0obDAGnkHZ1u7nhZ87/view)

 **Descr

[2020-08-30 11:29] anna4j opened #796 "Redesign: Current Relation screen"
Provide a re-design of the **Current Relation screen** (when the user has no relation and when the user has relation)

**TIP**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we want in this screen.

**Kindly follow the** [AnitaB.org Branding Guidelines](https://drive.google.com

[2020-08-30 11:32] anna4j opened #797 "Redesign: Members list screen"
Provide a re-design of the **Members list screen**

**TIP**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we want in this screen.

**Kindly follow the** [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3D0obDAGnkHZ1u7nhZ87/view)

 **Describe the so

[2020-08-30 11:36] anna4j commented on #789
@SHITIZ-AGGARWAL Ya sure please do that

[2020-08-30 14:00] atharwa-24 commented on #788
I would like to work on it ~OSH

[2020-08-30 16:08] prayutsu commented on #788
@anna4j I would like to work on it.

[2020-08-30 16:20] prayutsu commented on #794
@anna4j I would like to work on this, please assign this to me on 1st

[2020-08-30 16:26] BirajGupta commented on #780
@garimasingh128 sure thanks

[2020-08-30 16:28] BirajGupta commented on #380
@aditmehta9 sure i'll take care of that next time....thanks

[2020-08-30 16:41] prayutsu commented on #787
I could also work on it, so kindly assign it to me, if in case @blackcrabb is unable to take up this issue.

[2020-08-30 16:53] niyati-n commented on #787
@garimasingh128 i would like to work on this issue

[2020-08-30 18:23] rpattath commented on #704
@anna4j no this is for the current failing tests which is a still an issue. This [issue](https://github.com/anitab-org/mentorship-android/issues/349) was closed and broken down to smaller issues for new espresso tests to be added.

[2020-08-31 03:35] DhaneshShetty commented on #735
@anna4j Can I work on this issue?

[2020-08-31 04:32] anna4j commented on #735
@DhaneshShetty sure assigning it to you!

[2020-08-31 05:49] maharishi-01 commented on #672
I want to work on this issue. could you please assign me?

[2020-08-31 05:51] aditmehta9 commented on #672
Yes of course. OSH starts on 1st September. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution and please tag project managers to claim issue.

[2020-08-31 05:55] aditmehta9 commented on #672
Before working on the issue please see the above discussion.

[2020-08-31 06:10] SHITIZ-AGGARWAL commented on #797
hello @anna4j i would like to work on this issue in OSH ,  I have a doubt ,whether we have code and design the interface or just provide a design idea

[2020-08-31 06:41] anna4j commented on #797
Just the design. This is a non coding issue

[2020-08-31 15:16] DhaneshShetty commented on #767
I would like to work on this issue for OSH,if available.

[2020-08-31 15:49] siddheshkothadi commented on #781
Hey @garimasingh128 , I've solved this issue.
Would love to send a Pull Request for this one!

[2020-08-31 17:47] Sommie09 commented on #757
DONE! Would be sending my PR in a few hours @anna4j

[2020-08-31 17:49] Sommie09 commented on #765
DONE! Could I send my PR in a few hours? @rpattath

[2020-08-31 18:24] justdvnsh commented on #792
Hi @anna4j Can I work on this issue as a participant of OSH. I have already created a commit. I'll issue a pull request as soon as I am assigned this issue.

[2020-08-31 18:30] raksh543 commented on #788
I am willing to work on this issue

[2020-08-31 18:30] raksh543 commented on #786
I am willing to work on this issue

[2020-08-31 18:30] bhumikasharma29 commented on #788
Please assign this to me.

[2020-08-31 18:30] SHITIZ-AGGARWAL commented on #786
Hello @sanchibansal340 ,since OSH has begun i would like to work on this
I am new to open source so please guide me
Really excited to work with the organisation

[2020-08-31 18:31] SHITIZ-AGGARWAL commented on #789
Hello @anna4j , since OSH has begun, I would like to work on this issue
I am new to open source so please guide me
Really excited to work with the organisation

[2020-08-31 18:31] SHITIZ-AGGARWAL commented on #797
Hello @anna4j , since OSH has begun, I would like to work on this issue
I am new to open source so please guide me
Really excited to work with the organisation

[2020-08-31 18:32] ashwinijha6 commented on #785
@rpattath  & @aditmehta9
 I would like to work on this issue as an OSH participant

[2020-08-31 18:33] Abjcodes commented on #768
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:33] Abjcodes commented on #769
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:34] Sommie09 commented on #741
Hello @anna4j I am done with this issue, please could I send in a PR now? It's already 1st

[2020-08-31 18:34] Sommie09 commented on #788
@anna4j I'm done with this and I would love to send in a PR now please, as an OSH participant which starts today

[2020-08-31 18:34] niyati-n commented on #795
@anna4j Can you assign it to me. it's 1sept

[2020-08-31 18:34] Abjcodes commented on #759
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Abjcodes commented on #758
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Sommie09 commented on #760
Hello, Could I be assigned this? so I could send my PR now? I'm done with the task @sanchi0204

[2020-08-31 18:35] SHITIZ-AGGARWAL commented on #796
Hello @anna4j , since OSH has begun, I would like to work on this issue
I am new to open source so please guide me
Really excited to work with the organisation

[2020-08-31 18:35] maharishi-01 commented on #770
Can I work on this issue? Could you please assign me.

[2020-08-31 18:35] Sommie09 commented on #678
Hello @anna4j I am done with this issue, please could I send in a PR now? It's already 1st

[2020-08-31 18:36] Sommie09 commented on #764
Hello @rpattath  I am done with this issue, please could I send in a PR now? It's already 1st

[2020-08-31 18:36] Sommie09 commented on #755
Hello @garimasingh128  I am done with this issue, please could I send in a PR now? It's already 1st

[2020-08-31 18:36] bhumikasharma29 commented on #797
@anna4j I would like to work on this issue for OSH. Please assign this issue to me.

[2020-08-31 18:37] Hyper-Matrix commented on #779
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:37] raksh543 commented on #783
@garimasingh128 I am willing to work on this issue.

[2020-08-31 18:37] Sommie09 commented on #765
Hello @rpattath  I am done with this issue, please could I send in a PR now? It's already 1st

[2020-08-31 18:38] Sommie09 commented on #668
Hello @sanchi0204  I am done with this issue, please could I send in a PR now? It's already 1st

[2020-08-31 18:39] Abjcodes commented on #791
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:39] Hyper-Matrix commented on #672
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:39] Sommie09 commented on #751
It's time!! PleaseCould I get assigned to send a PR, I'm done with all my issues

[2020-08-31 18:40] Hyper-Matrix commented on #781
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:40] bhumikasharma29 commented on #786
I would like to work on this issue. I am a first time contributor. Please guide me.

[2020-08-31 18:40] Hyper-Matrix commented on #250
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:43] Abjcodes commented on #765
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:45] Abjcodes commented on #751
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:47] Sommie09 commented on #741
<img width="695" alt="Screen Shot 2020-08-31 at 7 46 18 PM" src="https://user-images.githubusercontent.com/38994167/91755241-b3be5700-ebc2-11ea-9fc1-659b1c374237.png">

[2020-08-31 18:48] Abjcodes commented on #774
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:49] Abjcodes commented on #757
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:50] Sommie09 commented on #788
<img width="574" alt="Screen Shot 2020-08-31 at 7 49 11 PM" src="https://user-images.githubusercontent.com/38994167/91755503-22031980-ebc3-11ea-8d66-b8b51adac046.png">
the Hardcoded string would be moved to strings.xml file

[2020-08-31 18:52] garimasingh128 commented on #783
@anna4j Can you suggest some design or ask the @anitab-org/design-team for some ideas for this?

[2020-08-31 18:53] aditmehta9 commented on #250
Yes

[2020-08-31 18:54] Sommie09 commented on #741
<img width="599" alt="Screen Shot 2020-08-31 at 7 54 02 PM" src="https://user-images.githubusercontent.com/38994167/91755882-bf5e4d80-ebc3-11ea-9f9d-abfada9ce522.png">
Code has been refactored as well

[2020-08-31 18:55] Sommie09 commented on #741
<img width="564" alt="Screen Shot 2020-08-31 at 7 55 04 PM" src="https://user-images.githubusercontent.com/38994167/91755978-e583ed80-ebc3-11ea-83f9-58a70269ef86.png">

[2020-08-31 18:55] vj-codes commented on #796
@SHITIZ-AGGARWAL assigning you .
Happy designing!

[2020-08-31 18:55] aditmehta9 commented on #672
Sure, but please send PR for the previous issue before claiming this.

[2020-08-31 18:56] prayutsu commented on #741
@anna4j Kindly assign the issue to me as I claimed it first

[2020-08-31 18:56] vj-codes commented on #795
Assigning you @blackcrabb
Happy designing!

[2020-08-31 18:56] SHITIZ-AGGARWAL commented on #796
thanks a lot

[2020-08-31 18:56] aditmehta9 commented on #672
Please send PR for the issue you are assigned before working on this

[2020-08-31 18:57] Sommie09 commented on #757
Sorry @Abjcodes It was assigned to me, and I've sent in a PR

[2020-08-31 18:58] vj-codes commented on #797
Since @SHITIZ-AGGARWAL is assigned another issue , it'll be assigned to the person next in line.

[2020-08-31 18:59] vj-codes commented on #797
Assigning you @bhumikasharma29
Happy designing!

[2020-08-31 18:59] aditmehta9 commented on #785
Sure

[2020-08-31 19:01] niyati-n commented on #795
Thankyou @vj-codes

[2020-08-31 19:01] vj-codes commented on #791
Assigning you @Abjcodes
Happy documenting!

[2020-08-31 19:02] aditmehta9 commented on #759
Please claim another available issue this issue was assigned before you claimed.

[2020-08-31 19:05] vj-codes commented on #788
@Sommie09 sorry this issue will be assigned to the person who claimed it first.Please delete the screenshot as it tell contributors the solution and avoid working on issues before you are assigned.Thanks!

[2020-08-31 19:05] atharwa-24 commented on #751
Hey @vj-codes I would like to work on this~OSH

[2020-08-31 19:06] vj-codes commented on #788
Assigning you @atharwa-24
Happy coding!

[2020-08-31 19:06] atharwa-24 commented on #788
thanks @vj-codes

[2020-08-31 19:06] aditmehta9 commented on #794
Ok

[2020-08-31 19:08] ashwinijha6 commented on #793
@annaj I would like to work on this as an OSH participant

[2020-08-31 19:09] aditmehta9 commented on #792
Assigned.

[2020-08-31 19:10] anna4j commented on #793
Hey I've already assigned you to a backend issue. You can claim one issue at a time :) @ashwinijha6

[2020-08-31 19:10] aditmehta9 commented on #787
Assigned.

[2020-08-31 19:11] aditmehta9 commented on #784
Assigned.

[2020-08-31 19:12] vj-codes commented on #751
@atharwa-24 You have another issue assigned , please work on one issue at a time.Send A PR for the same issue and then claim another one:)

[2020-08-31 19:13] anna4j commented on #757
@Sommie09 can't see your PR

[2020-08-31 19:14] aditmehta9 commented on #770
Yes.

[2020-08-31 19:15] aditmehta9 commented on #767
Sure.

[2020-08-31 19:15] Sommie09 commented on #757
It's been sent @anna4j

[2020-08-31 19:15] atharwa-24 commented on #751
ok cool @vj-codes

[2020-08-31 19:18] swaraj961 commented on #782
@garimasingh128 I have already setup the repo locally it's finally 1st September hope now i can start working on this.

[2020-08-31 19:18] ashwinijha6 commented on #793
ok I'll continue with that one. Will try this issue if not assigned to anyone after 3 days

[2020-08-31 19:19] anna4j commented on #741
@prayutsu okay assigning you, hope you're not assigned elsewhere

[2020-08-31 19:19] vj-codes commented on #787
@aditmehta9 @blackcrabb is already assigned #795 first so unassigning for now.
@blackcrabb Please work on one issue at a time and once done claim another .Thanks!

[2020-08-31 19:19] anna4j commented on #741
@Sommie09 kindly work on one issue at a time and send in a PR only when assigned :)

[2020-08-31 19:20] anna4j commented on #793
You can try this one once you've sent a PR for that one:)

[2020-08-31 19:21] Sommie09 commented on #741
Definitely! @anna4j that's fine

[2020-08-31 19:21] anna4j commented on #757
Okay awesome! @Sommie09

[2020-08-31 19:22] ashwinijha6 commented on #793
ya sure @anna4j :)

[2020-08-31 19:23] anna4j commented on #783
@garimasingh128 you could checkout the redesign issues I've opened and include the branding guidelines in this issue. That'll defenitely help :)

[2020-08-31 19:25] anna4j commented on #678
I think you've been assigned to a different issue right now

[2020-08-31 19:27] anna4j commented on #789
You've already been assigned to an issue currently right? Please send in a PR on completing that one first. Then I can assign you to the next one

[2020-08-31 19:27] anna4j commented on #789
Sure!

[2020-08-31 19:28] Sommie09 commented on #678
@anna4j I'm rounding it up to send in a PR to get merged. I would love to submit this to please?

[2020-08-31 19:29] Sommie09 commented on #764
Thank you @rpattath I would send in a PR soon!!

[2020-08-31 19:30] rpattath commented on #751
@Sommie09 you can work on only 1 issue at a time. So unassigning. Submit a PR for your existing issues

[2020-08-31 19:31] Sommie09 commented on #757
Great! @anna4j I'll be waiting for a merge

[2020-08-31 19:32] Sommie09 commented on #751
Okay @rpattath currently waiting for a merge

[2020-08-31 19:39] justdvnsh commented on #778
Hi @rpattath @aditmehta9 . I would like to work on this issue as a participant of OSH. Can I be assigned to this issue ? I have started working on this issue and would be sending a pull request most probably by tomorrow or day after.

[2020-08-31 19:40] rpattath commented on #751
@Sommie09 since you have created a PR for your other issue. You can work on this issue now

[2020-08-31 19:41] rpattath commented on #764
@Sommie09 please sent a PR for the other issue assigned to you.

[2020-08-31 19:43] rpattath commented on #765
@Abjcodes and @Sommie09 looks like you are working on another issue.

[2020-08-31 19:43] aditmehta9 commented on #787
Thanks! I didn't noticied.

[2020-08-31 19:44] Sommie09 commented on #751
Hello @rpattath I would need a little more description to clarify what I've done. Thank you

[2020-08-31 19:45] Sommie09 commented on #751
The links open exactly the same document

[2020-08-31 19:45] iofall opened #801 "Write Espresso test for "Logout""
Write an Espresso test for “Logout” dialog feature **(scenario: When one clicks logout in the Settings screen and confirms, will they get to the Login screen)**

**Describe the solution you'd like**
Espresso tests to cover the **Logout feature** of the app, on the Settings screen.

The tests would go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/

[2020-08-31 19:47] Sommie09 commented on #765
Okay, once they get merged I would like to submit this as I'm done with it. @rpattath
<img width="695" alt="Screen Shot 2020-08-31 at 7 46 18 PM" src="https://user-images.githubusercontent.com/38994167/91760375-2f240680-ebcb-11ea-80cf-a2b49fcdd513.png">

[2020-08-31 19:52] vj-codes commented on #788
Making it available as @atharwa-24 is no longer a first time contributor.
@atharwa-24 please claim other available issues.

[2020-08-31 19:54] Sommie09 commented on #788
I would really love to send a PR for this once my previous PR's gets merged please @vj-codes ? Please

[2020-08-31 19:56] Sommie09 commented on #788
Please @vj-codes

[2020-08-31 19:56] vj-codes commented on #788
@Sommie09 thank you for your interest , but as you too have opened a PR , you are no longer eligible for this issue , sorry.
Feel free to claim other available ones.

[2020-08-31 20:00] vj-codes commented on #790
@anna4j I completed the backend issue, I would like to work on this.Thanks!

[2020-08-31 20:08] Sommie09 commented on #755
@garimasingh128 I would love to submit for this once my PR's gets merged, please. I have found a solution to the bug by setting an offscreenpage limit.I would appreciate it I get assigned later on. Thank you

[2020-08-31 20:09] atharwa-24 commented on #794
I would like to work on it

[2020-08-31 20:16] anna4j commented on #790
Okay go ahead :)

[2020-08-31 20:20] vj-codes commented on #790
@anna4j there's no docs/spikes folder 🤣
Should I create one and then add the file?
If yes ,I can do it tomr , pretty late night now:)

[2020-08-31 20:48] sanchi0204 commented on #768
Assigning you @Abjcodes . Happy Coding!

[2020-08-31 20:52] sanchi0204 commented on #769
Assigning you @swaraj961

[2020-08-31 20:56] sanchi0204 commented on #758
This issue has already been assigned on first come, first served basis. Please explore other issues.

[2020-08-31 21:05] sanchi0204 commented on #786
Assigning you @utkzas since @SHITIZ-AGGARWAL has already been assigned an issue.

[2020-08-31 21:07] sanchi0204 commented on #787
Assigning you @prayutsu

[2020-08-31 21:10] sanchi0204 commented on #760
@Sommie09 its good that you have completed the task but I cannot assign you the issue as you have already been assigned other issues for which you haven't raised a PR yet.

Moreover, I suggest you to follow the program guidelines in future and not work on an issue until assigned.

[2020-08-31 21:13] sanchi0204 commented on #782
Assigning you @maharishi1 as @swaraj961 has already been assigned another issue

[2020-08-31 21:14] Sommie09 commented on #760
Okay @sanchi0204 Thank you so much, this has been noted.
I would check back after my PR has been merged.

[2020-08-31 21:16] sanchi0204 commented on #781
Assigning you @siddheshkothadi .

[2020-08-31 21:21] iofall opened #803 "Write Espresso Test for "Change Password" (a)"
Write an Espresso test for the “Change Password” dialog feature (a) **(Scenario: ”Check whether errors are shown when the password is weak”)**

**Describe the solution you'd like**
Espresso tests to cover the **Change Password** feature of the app, on the Settings screen, when the password is weak.

The tests will go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/andr

[2020-08-31 21:21] sanchi0204 commented on #779
Assigning you @faznan3nazer  since @CodeChamp-SS and @Hyper-Matrix have already been assigned an issue

[2020-08-31 22:02] iofall opened #804 "Write Espresso Test for "Change Password" (b)"
Write an Espresso test for the “Change Password” dialog feature (b) **(Scenario: ”Check whether errors are shown when the two password fields do not match”)**

**Describe the solution you'd like**
Espresso tests to cover the **Change Password** feature of the app, on the Settings screen, when the two password fields do not match.

The tests will go [here](https://github.com/anitab-org/mentorship-a

[2020-08-31 22:21] iofall opened #805 "Write "Request Detail" Screen Espresso test (a)"
Write an Espresso test for the “Request Detail” Screen (a) **(Scenario: ”If a request is sent by me, I should only see the `delete` button”)**

**Describe the solution you'd like**
Espresso tests to cover the **Request Detail** screen of the app, when a request is sent by me.

The tests will go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/syster

[2020-08-31 22:33] iofall opened #806 "Write "Request Detail" Screen Espresso test (b)"
Write an Espresso test for the “Request Detail” Screen (b) **(Scenario: ”If a request is received by me, I should see only the `accept` & `reject` buttons”)**

**Describe the solution you'd like**
Espresso tests to cover the **Request Detail** screen of the app, when a request is received by me.

The tests will go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/android

[2020-08-31 23:22] iofall opened #807 "Redesign: My Profile / Edit Profile screen"
Provide a re-design of the **My Profile / Edit Profile** screen (Just the UI mockup, no need to code it out)

**Tip**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we want on this screen.

**Remember to follow the** [AnitaB.org Branding Guidelines](https://drive.google.com/fil

[2020-08-31 23:27] iofall opened #808 "Redesign: Request Detail screen"
Provide a re-design of the **Request Detail** screen (Just the UI mockup, no need to code it out)

**Tip**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we need on this screen

**Remember to follow the** [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfG

[2020-08-31 23:37] iofall opened #809 "Redesign: Members screen"
Provide a re-design of the **Members** screen (The screen where you get a list of all the members). (Just the UI mockup, no need to code it out)

**Tip**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we need on this screen

**Remember to follow the** [AnitaB.org Branding Guide

[2020-08-31 23:49] iofall opened #810 "Redesign: About screen"
Provide a re-design of the **About** screen (Just the UI mockup, no need to code it out)

**Tip**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we need on this screen

**Remember to follow the** [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3D0o

[2020-08-31 23:51] iofall opened #811 "Redesign: Feedback screen"
Provide a re-design of the **Feedback** screen (Just the UI mockup, no need to code it out)

**Tip**: You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we need on this screen

**Remember to follow the** [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3

[2020-09-01 02:24] swaraj961 commented on #782
@sanchi0204  Hey i was wondering this issue would be assigned to me as @garimasingh128  had mentioned here. I've already step this and looking into codebase but you have assigned me UI/Ux issue which no one have ever mentioned would be going to assignment me before.

[2020-09-01 03:04] TreavVasu commented on #788
I would like to work on it if this issue is still available  @vj-codes

[2020-09-01 04:33] anna4j commented on #790
Ya it's not there. You'll have to create it :)

[2020-09-01 04:39] anna4j commented on #788
Sure go ahead! @TreavVasu

[2020-09-01 04:52] bhumikasharma29 commented on #797
Thank you @vj-codes. I will start working on this.

[2020-09-01 05:40] anna4j commented on #789
Unassigning you since you are already assigned to another issue @SHITIZ-AGGARWAL Please don't claim other issues before you finish the one you're already assigned to :)

[2020-09-01 05:41] Aditiwebd commented on #590
I want contribute.Please assign this issue to me.

[2020-09-01 05:49] anna4j commented on #760
@Sommie09 You don't need to wait for your PR to be merged. You only have to wait until it has been approved by a mentor. So please comment on the PR and ask mentors to review it. Also, do make sure you have linked the issue to that PR so we know which PR fixes which issue.

[2020-09-01 05:51] anna4j commented on #785
@ashwinijha6 you have already been assigned to a backend issue. so unassigning you here :)

[2020-09-01 05:54] anna4j commented on #770
unassigning @maharishi1 since you're already assigned to another issue

[2020-09-01 06:00] anna4j commented on #787
he's already assigned to another issue

[2020-09-01 06:07] anna4j commented on #741
@prayutsu you can't open a PR unless you're assigned to that issue. You're already assigned to an issue now

[2020-09-01 06:13] prayutsu commented on #741
But you assigned it to me

[2020-09-01 06:17] maharishi-01 commented on #770
Hi @anna4j , but I am working on this issue since morning and my work is almost done(My PR is ready). please reassign me else Done till now will be useless.

[2020-09-01 06:19] anna4j commented on #741
@prayutsu haha I also wrote, "hope you're not assigned elsewhere". Now if you were assigned that issue after I assigned you to this, that isn't right either.

[2020-09-01 06:20] anna4j commented on #794
@aditmehta9 Please make sure that participants don't get assigned to multiple issues :)

[2020-09-01 06:22] anna4j commented on #782
@swaraj961 assigning you here and removing you from UI/UX one. Does that work?

[2020-09-01 06:24] anna4j commented on #770
Alright, I understand the work that goes in :)
But please don't claim multiple issues before you finish the one you're working on

[2020-09-01 06:25] anna4j commented on #769
@swaraj961 I've assigned you to the other one you wanted to work on

[2020-09-01 06:29] aditmehta9 commented on #770
What other issues he is assigned in this repository?

[2020-09-01 06:29] swaraj961 commented on #782
Yes sure thanks

[2020-09-01 06:35] swaraj961 commented on #769
Thanks

[2020-09-01 06:39] justdvnsh commented on #803
Hi @iofall @aditmehta9 . I would love to work on this issue. Can I take up this issue as a participant of OSH ? I would also love to take Issue #804 with , since both the tests would be made in one single file. Can you please assign me these issues ?

[2020-09-01 06:43] aditmehta9 commented on #803
I am not sure please ask @vj-codes or @iofall or @sakshi1499 because you are assigned other issue.

[2020-09-01 06:46] vj-codes commented on #807
I would like to work on this.

[2020-09-01 06:53] vj-codes commented on #803
@justdvnsh hey , please work on one issue at a time . Although the changes are made in same file , it's difficult for reviewers later to review and approve PRs with huge changes.
You are already assigned #792 , after you complete that one , you can work on this.
And for #804 , just comment that you're interested and would like work after current issue is done:)

[2020-09-01 06:55] justdvnsh commented on #803
@vj-codes Sure.

[2020-09-01 06:59] vj-codes commented on #803
@justdvnsh since you've created a PR for #792 , would you like to work on this?

[2020-09-01 07:01] justdvnsh commented on #803
@vj-codes That's why I commented on this issue 😅. But then I thought, I can work when my current PR gets accepted.  Yes for sure. Please assign me this issue. I'd love to work on this issue.

[2020-09-01 07:08] vj-codes commented on #803
@justdvnsh I saw your PR after commenting here.Otherwise would have assigned earlier:)

[2020-09-01 07:09] justdvnsh commented on #803
@vj-codes No Problem. Thank You !

[2020-09-01 07:23] SHITIZ-AGGARWAL commented on #789
sure , I will keep that in mind
Can I apply for this after creating PRs for others

[2020-09-01 07:32] anna4j commented on #789
Sure!

[2020-09-01 08:19] CodeChamp-SS commented on #771
@anna4j can you please reassign me to this issue ? I was about to submit my pr and just saw you unassigned me :-(
I've made the required changes already

[2020-09-01 08:24] CodeChamp-SS commented on #779
@sanchi0204 can you please assign me to the issue ? i've already worked on the issue and my pr is ready to be made.
I've submitted my pr for the other issue already :-)

[2020-09-01 08:28] CodeChamp-SS commented on #756
@sanchi0204 please review the pr

[2020-09-01 08:30] niyati-n commented on #795
@vj-codes Is there any deadline to it?

[2020-09-01 08:39] vj-codes commented on #795
@blackcrabb no deadline as such but submit before 30th Sept for OSH and keep updating your progress after every 3 days if it's taking long.

[2020-09-01 08:39] anna4j commented on #795
@blackcrabb before 30th September

[2020-09-01 08:44] anna4j commented on #771
I had unassigned because I saw that you had been already assigned to a different issue. But since you just opened a PR for that one, I can now assign you to this. One issue at a time, that's why

[2020-09-01 08:47] CodeChamp-SS commented on #771
oh.. ok, thanks for reassigning me :-)

[2020-09-01 08:57] Hyper-Matrix commented on #672
Can I be assigned this again as I have submitted all my PRs, I have also completed my work regarding this issue.

[2020-09-01 10:02] maharishi-01 commented on #678
can i work on this issue? please assign me.

[2020-09-01 10:31] yash2189 commented on #810
Can I try working on this?

[2020-09-01 10:32] yash2189 commented on #811
can I try working on this?

[2020-09-01 10:38] maharishi-01 commented on #732
The thing is, in the current app the search feature is not working. As per this issue, I have to create only a separate window for a search? I just trying to understand this issue.

[2020-09-01 10:40] niyati-n commented on #795
@anna4j  One more query.
I need to redesign the elements already there or i can add some also.

[2020-09-01 10:42] Hyper-Matrix commented on #810
I would like to work on this.

[2020-09-01 10:43] rpattath commented on #778
@justdvnsh will assign this issue to you after you have a PR for #803

[2020-09-01 11:00] anna4j commented on #795
I think it's better to redesign the already existing features. If you have ideas you can mention them on Zulip separately

[2020-09-01 11:02] SHITIZ-AGGARWAL commented on #809
@iofall  I would like to work on this

[2020-09-01 11:05] anna4j commented on #732
Yes that's correct @maharishi1

[2020-09-01 11:06] anna4j commented on #678
You're already working on that search issue. Please complete that and then claim other issues :)

[2020-09-01 11:06] SHITIZ-AGGARWAL commented on #796
@anna4j @vj-codes I have completed my design but I am not able to find docs/ui folder , please help me

[2020-09-01 11:08] vj-codes commented on #796
@SHITIZ-AGGARWAL right you need to create a the docs and ui folder and then update accordingly.

[2020-09-01 11:10] maharishi-01 commented on #678
No, ma'am I just asked the question there. So, could you please assign me this issue?

[2020-09-01 11:12] vj-codes commented on #796
@anna4j is it possible that some manager/maintainer creates the docs and respective folder and get it merged by this week.
The contributors will be creating a new folders in each PR and by the end of the month while merging would it be a problem or not?
 What say?

[2020-09-01 11:23] SHITIZ-AGGARWAL commented on #796
@vj-codes so should I wait for updates

[2020-09-01 11:32] anna4j commented on #796
@SHITIZ-AGGARWAL no don't wait. As of now create docs folder and ui folder inside it.

[2020-09-01 11:33] anna4j commented on #796
Ya @vj-codes I agree. Let's raise this on Zulip and on Mentorship Android weekly osh meeting if it's not created by then

[2020-09-01 11:59] vj-codes commented on #796
@anna4j I'm not a OSH mentor to attend the meeting we have our project managers meeting on Sat, I guess it best to discuss on zulip:)

[2020-09-01 12:20] Hyper-Matrix commented on #672
Can someone reassign me?

[2020-09-01 12:48] SHITIZ-AGGARWAL commented on #796
@anna4j @vj-codes
please review this #820  ,if I uploaded the file correctly or not

[2020-09-01 12:54] 96RadhikaJadhav commented on #786
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:01] 96RadhikaJadhav commented on #759
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:03] iofall commented on #807
@vj-codes you are already assigned to issues on other repos of OSH. Make sure you are working on only one issue at a time. Once you have made a PR to those, comment here and I will assign this issue to you.

[2020-09-01 13:06] garimasingh128 commented on #759
Hi @96RadhikaJadhav. The issue is already assigned to @Devanshi-123. Please claim another issue. There are plenty of them available.

[2020-09-01 13:15] 96RadhikaJadhav commented on #758
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:25] Sommie09 commented on #678
Hello @anna4j could I send a PR for this much later, I'm done with all my issues. I'm waiting for reviews

[2020-09-01 13:28] Sommie09 commented on #757
Hello @sanchi0204 when could I send a PR for my other issue?

[2020-09-01 13:28] Sommie09 commented on #678
Please @anna4j I commented first Please

[2020-09-01 13:30] Sommie09 commented on #755
Please @garimasingh128 I could fix this, I'm experiencing some review delays on my previous PR

[2020-09-01 13:40] Sommie09 commented on #751
@anna4j I would need a little more description to clarify what I've done. Thank you, the task doesn't look so clear
The links open exactly the same document
Thank you

[2020-09-01 13:40] sanchi0204 commented on #758
Assigning you! Happy documentation

[2020-09-01 13:41] sanchi0204 commented on #758
This issue has already been assigned on first come, first served basis. Please explore other issues.

[2020-09-01 13:41] anna4j commented on #755
@Sommie09 you are already assigned to an issue by @rpattath. Please don't claim so many issues before completing the previous ones

[2020-09-01 13:43] Sommie09 commented on #755
@anna4j I would need a little more description to clarify what I've done. Thank you, the task doesn't look so clear
The links open exactly the same document
Thank you #751

[2020-09-01 13:43] anna4j commented on #678
@Sommie09 please don't comment on other issues, it's against the guidelines to "reserve" them for the future. There are plenty of available issues so don't worry :)

@maharishi1 assigning you to this.

[2020-09-01 13:44] Sommie09 commented on #755
That's what's holding me back from sending a PR

[2020-09-01 13:44] garimasingh128 commented on #755
@Sommie09 You must have the earlier PR reviewed and merged before getting the next issue assigned to you!

[2020-09-01 13:45] Sommie09 commented on #755
Ohh, okay. I would wait then. Thank you for the clarity @garimasingh128

[2020-09-01 13:46] anna4j commented on #751
I didn't understand, please elaborate a little. how can I help you? :) @Sommie09

[2020-09-01 13:46] sanchi0204 commented on #779
I am sorry @CodeChamp-SS but it has been already assigned. Please explore other issues to work on

[2020-09-01 13:49] garimasingh128 commented on #751
@Sommie09 You have to create a code of conduct for mentorship android. You can take help from http://systers.io/code-of-conduct. The content should be similar but you can make changes accordingly. Then add the link to the code of conduct you created to README and CONTRIBUTING.md files. It can have lines like "Please adhere to our code of conduct which can be found [here]()."

_Let us know in case

[2020-09-01 13:49] sanchi0204 commented on #786
This issue has already been assigned. Please explore other issues.
I suggest you to filter the issues under OSH with "No Assignee " tag

[2020-09-01 13:52] sanchi0204 commented on #757
Could you pls link the issue you are referencing to

[2020-09-01 13:55] Sommie09 commented on #757
#751 , When am I free to send a PR for this?

[2020-09-01 13:58] anna4j commented on #757
You can send it whenever you're done solving it

[2020-09-01 13:59] anna4j commented on #796
@SHITIZ-AGGARWAL next time onwards write fixes[issue number] instead of "solving" in the PR description. Just follow the template :) This will link the PR to this issue

[2020-09-01 14:01] CodeChamp-SS commented on #771
@anna4j @garimasingh128 please review my pr

[2020-09-01 14:01] Sommie09 commented on #751
This is way clearer now @garimasingh128 although the CONTRIBUTING.md files haven't been created

[2020-09-01 14:03] CodeChamp-SS commented on #789
@anna4j i would like to work on this issue, can i take it up ?

[2020-09-01 14:06] garimasingh128 commented on #751
Check it out [here](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md).

[2020-09-01 14:08] Sommie09 commented on #751
Thank you so much @garimasingh128

[2020-09-01 14:08] SHITIZ-AGGARWAL commented on #796
Sure , I will keep that in mind ,thanks a lot

[2020-09-01 14:10] anna4j commented on #789
@CodeChamp-SS @SHITIZ-AGGARWAL assigning you both since this is a research issue and the more information we get out of your PRs the better

[2020-09-01 14:21] SHITIZ-AGGARWAL commented on #789
thanks a lot for the opportunity

[2020-09-01 14:22] CodeChamp-SS commented on #789
thanks 👍

[2020-09-01 14:26] titiksha01 commented on #789
@anna4j Hello, I would like to work on this issue. Can I also be assigned this? Thank You...

[2020-09-01 14:45] namratadas1 commented on #811
May I work on this?

[2020-09-01 14:57] iofall commented on #811
@yash2189 you are already assigned to another issue [#343](https://github.com/anitab-org/mentorship-backend/issues/343) in mentorship-backend. Please ensure that you are working on one issue at a time. I'm assigning @namratadas1 to this one, but we can take multiple PRs for this issue so once you are done @yash2189 feel free to comment and I will assign you.

[2020-09-01 15:07] iofall commented on #809
@SHITIZ-AGGARWAL you are already working on another issue. Let me know once you are done, I will assign this to you. Remember to work on only one issue at a time. Thanks!

[2020-09-01 15:10] anna4j commented on #789
@titiksha01 Could you perhaps look for another research issue or any other available issue? I don't want to crowd this issue up :) You can filter out issues according to the label you like. Let me know and I'll assign you :)

[2020-09-01 15:14] iofall commented on #810
Please work on only one issue at a time, comment here when you are done with your current issues and I will assign you to this. Thanks!

[2020-09-01 15:33] actualpriyanshu commented on #739
Hey, I would like to work on it and give it a try.
Please help if I get stuck somewhere

[2020-09-01 15:52] Sommie09 commented on #751
@garimasingh128 I can't seem to create a PR until my previous task is merged

[2020-09-01 15:57] siddheshkothadi commented on #810
Hey @iofall , I've sent a PR for an other OSH issue that was previously assigned to me. Can you please assign this issue to me so that I can start working on it?

[2020-09-01 15:58] anna4j commented on #739
@priyanshuone6 assigning you :)

[2020-09-01 16:01] iofall commented on #810
@siddheshkothadi Great! Assigning you

[2020-09-01 16:01] anna4j commented on #751
@Sommie09 in order to resolve this just create a different branch and commit for new PR from that

[2020-09-01 16:02] Sommie09 commented on #751
Okay @anna4j I'll do just that

[2020-09-01 16:21] justdvnsh commented on #803
Hi. @iofall  @vj-codes. I have create the PR. But I am facing one issue. I created another branch for this issue since my previous commits is yet to be reviewed. Thus, I tracked only the latest file. But in the commit my previous commits have also been added File which was made in my previous commit. Can you please help me out on this ?

[2020-09-01 16:23] justdvnsh commented on #804
Hi @iofall @vj-codes . Can I be assigned this issue ? I have created PR for Issue #803 .

[2020-09-01 16:24] vj-codes commented on #804
Assigning you @justdvnsh
Happy coding!

[2020-09-01 16:25] justdvnsh commented on #804
@vj-codes Thanks !!

[2020-09-01 16:28] aditmehta9 commented on #672
Ok

[2020-09-01 16:38] Sommie09 commented on #751
Done @anna4j

[2020-09-01 16:48] iofall commented on #803
@justdvnsh I am not sure what you mean. If I understand correctly - You made a branch for working on #803 and you created a PR from that branch. Now I think you accidentally added additional commits to this for working on #804 right?

[2020-09-01 17:10] justdvnsh commented on #803
Yes You understood the problem correctly @iofall . Just that, I was assigned issue #792 before this . So I created a PR for it. Now while working for this issue (#803), I created another branch, from which I created a PR recently. But in that PR I can see commits which I made to solve issue #792.

[2020-09-01 17:19] iofall commented on #803
Oh ok I see. For #792 you directly committed from the develop branch. So when you created a new branch using `git checkout -b somename`, it already had the commits you had previously created on the develop branch.

We can fix this checkout - https://stackoverflow.com/questions/1338728/delete-commits-from-a-branch-in-git#:~:text=git%20rebase%20%2Di%20HEAD~%3C,Voila! After dropping the commit, push

[2020-09-01 17:25] iofall commented on #803
Or maybe the above solution could be a bit complex. You could also add a new commit which removes the file and then push it. This will probably be easier, since we squash all commits before merging.

[2020-09-01 17:28] justdvnsh commented on #803
Thanks @iofall . I'll check that out and update you accordingly.

[2020-09-01 17:33] iofall commented on #803
While you are at it, remember to follow the guidelines for making commit messages https://github.com/anitab-org/mentorship-android/wiki/Commit-Message-Style-Guide

[2020-09-01 17:57] rajraman786 commented on #741
hey @anna4j
can i work on this ?

[2020-09-01 18:29] anna4j commented on #741
Sure @rajraman786

[2020-09-01 18:36] titiksha01 commented on #789
@anna4j Okay sure... I'll search for some other issue...

[2020-09-01 18:59] raksh543 commented on #760
@sanchi0204 I am willing to work on this issue.

[2020-09-01 19:00] anna4j commented on #760
Sure @raksh543

[2020-09-01 19:09] Hyper-Matrix commented on #672
Thanks @aditmehta9

[2020-09-01 19:25] Hyper-Matrix commented on #810
@iofall I placed this PR only after submitting all my PR's.

[2020-09-01 19:26] Hyper-Matrix commented on #807
@iofall I would like to work on this issue, can you please assign it to me?

[2020-09-01 19:36] iofall commented on #807
Oh ok I can see your new PR, please close #818

Whenever working on a new issue you should create a new branch for that issue. I am assigning this issue to you. Remember to follow the [Commit Message Style Guide](https://github.com/anitab-org/mentorship-android/wiki/Commit-Message-Style-Guide) and the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/C

[2020-09-01 20:01] justdvnsh commented on #804
@iofall @vj-codes Made a PR for this issue as well.

[2020-09-01 20:03] justdvnsh commented on #801
Hi @iofall @vj-codes . Can I be assigned this issue ?

[2020-09-01 20:06] iofall commented on #810
@Hyper-Matrix Don't worry, we can have multiple PRs for this issue, I have assigned you to another issue. Once you are done I can assign you to this.

[2020-09-01 20:07] iofall commented on #801
Sure! 🔥

[2020-09-01 20:10] Hyper-Matrix commented on #807
@iofall Thanks, I have placed a new PR for #818 from my Local branch.

[2020-09-01 20:28] justdvnsh commented on #801
@iofall Added PR for this issue !!

[2020-09-01 20:28] HariniJeyaraman commented on #810
@iofall can you please assign me this issue ? I don't have any issues assigned so far. Almost all the beginner's issues have been assigned already

[2020-09-01 20:33] iofall commented on #810
@HariniJeyaraman assigning you to this. Don't worry, some of the issues can have multiple PRs against them, just make sure you only work on one issue at a time and follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md)

[2020-09-01 20:36] justdvnsh commented on #778
Hi. @rpattath . Can I work on this issue now ?

[2020-09-01 20:42] HariniJeyaraman commented on #809
@iofall I would like to work on this issue. I don't have any issues assigned so far. Would love to contribute. Also, could you please guide me on how to use the apk file given in the description

[2020-09-02 03:23] HeroicHitesh commented on #791
I would like to work on this issue. Please assign me this issue when it's free.

[2020-09-02 03:24] HeroicHitesh commented on #590
I would like to work on this issue under OSH. Please assign me this issue when it's free.

[2020-09-02 03:27] HeroicHitesh commented on #764
I would like to work on this issue under OSH. Please assign me this issue when it's free.

[2020-09-02 04:28] anna4j commented on #791
@HeroicHitesh hey please look for another issue! Plenty of them are available

[2020-09-02 04:40] HeroicHitesh commented on #557
@isabelcosta @vj-codes @anna4j I would like to work on this issue under OSH. Please assign me this issue if it's up for grab.

[2020-09-02 04:42] anna4j commented on #557
Sure go ahead!

[2020-09-02 06:08] BirajGupta commented on #380
@aditmehta9 hey,  I've made a PR regarding this issue making the relevant changes.Please review:)

[2020-09-02 06:10] aditmehta9 commented on #380
Thanks, this PR will be reviewed by coding team and QA team. It will be merged at the end of Sept.

[2020-09-02 06:17] BirajGupta commented on #380
@aditmehta9 Sure. Thanks

[2020-09-02 06:25] heyanurag commented on #758
Is this issue available now? I am a first time contributor?

[2020-09-02 06:30] Aditiwebd commented on #809
I would like to work on this issue for OSH.

[2020-09-02 06:31] Aditiwebd commented on #808
I would like to work on this issue.Please assign it to me.

[2020-09-02 06:51] iofall commented on #809
@Aditiwebd assigned you!

[2020-09-02 06:52] Aditiwebd commented on #809
Thank you :smiley:

[2020-09-02 06:54] iofall commented on #809
@HariniJeyaraman I have assigned you to #810, comment here once you are done and I will assign you to this.

[2020-09-02 06:59] rishika1802 commented on #492
I want to work on this issue as part of OSH

[2020-09-02 07:13] aakankshaa23 commented on #785
Can I work on this Issue as part of OSH?

[2020-09-02 07:31] anna4j commented on #785
Sure @aakankshaa23

[2020-09-02 07:49] rishika1802 commented on #806
I want to work on this issue as part of OSH

[2020-09-02 08:11] sanchi0204 commented on #758
@dhivyasundart are you working on this?

[2020-09-02 08:59] Tushika25 commented on #590
I would like to work on this issue. Thank You!!!

[2020-09-02 09:01] Tushika25 commented on #791
I would like to work on this issue. Thank You!!!

[2020-09-02 09:12] iofall commented on #806
@rishika1802 assigned you. Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md). Happy coding 💻 !

[2020-09-02 09:36] rak108 commented on #764
Hello, I would like to take this issue up.
Please assign!

[2020-09-02 09:54] anna4j commented on #791
Please comment on issues with tag "status: available" and with no assignees. This one is taken already :)

[2020-09-02 09:57] Anmollenka commented on #764
I would like to work on this issue under OSH.Please assign me this issue when it's free.

[2020-09-02 11:02] yash2189 commented on #811
@iofall sure , I have the mock-up ready for the feedback screen will comment once I finish the issue assigned to me.

[2020-09-02 11:43] niyati-n commented on #795
Hey @anna4j  . I am done with my design. I asked on zulip but nobody replied to me. I have added one element .
Can I make a PR?

[2020-09-02 12:04] dhivyasundart commented on #758
Yes.. I'm looking into it

[2020-09-02 12:45] kritikaparmar-programmer commented on #805
I want to work on this issue as part of OSH. Please assign me.

[2020-09-02 12:55] prayutsu commented on #794
@aditmehta9 @anna4j As there are no espresso tests for fragments in the project. It seems very difficult to write the test. I am trying hard to fix this but I need your help now.
[code]
I am trying to test the launching of the fragment but it gives me an
![Screenshot from 2020-09-02 18-24-27](https://user-images.githubusercontent.com/54636525/91983641-98ca1f00-ed49-11ea-9db1-1f12e1a84ad5.png)
erro

[2020-09-02 12:59] anna4j commented on #795
Ya sure go ahead. You can open a PR whenever you're done no need to ask :)
You can also add a Figma URL or document the attributes of your components in a markdown file in your PR
@blackcrabb

[2020-09-02 13:02] anna4j commented on #794
@rpattath please help us out here 😅

[2020-09-02 13:12] Sommie09 commented on #755
Hello @garimasingh128 I've submitted all my issues, could I be assigned this please?

[2020-09-02 13:13] Sommie09 commented on #808
Hello @iofall I have interest in this issue, once my other PR's gets merged. Thank you !

[2020-09-02 13:14] DhaneshShetty commented on #573
@vj-codes @anna4j Can I work on this for OSH?

[2020-09-02 13:22] anna4j commented on #573
@DhaneshShetty have you opened a PR for your previous issue?

[2020-09-02 13:23] DhaneshShetty commented on #573
Yes I have @anna4j

[2020-09-02 13:24] anna4j commented on #573
Okay let me just quickly review it and get back to you

[2020-09-02 13:32] anna4j commented on #573
Go ahead with it! @DhaneshShetty assigning you
You can also comment on PR so that I or other mentors know that you've completed your previous issue :)

[2020-09-02 13:39] anna4j commented on #755
Sure :) @Sommie09

[2020-09-02 13:42] Sommie09 commented on #755
@anna4j  thank you!, would send in a PR soon

[2020-09-02 13:45] Pranjal9999999 commented on #808
I would like to work on this

[2020-09-02 13:55] Pranjal9999999 commented on #811
I would like to work on it under-OSH

[2020-09-02 14:05] yash2189 commented on #811
Can I please work on this now as currently no other issues assigned to me

[2020-09-02 14:06] yash2189 commented on #810
Can I work on this now? Since I have no other issues assigned to me.

[2020-09-02 14:12] Pranjal9999999 commented on #783
If this issue is still open I would like to work on it-OSH

[2020-09-02 14:21] yash2189 commented on #783
Can I work on this if it's available?

[2020-09-02 14:41] anna4j commented on #783
@Pranjal9999999 assigning you

[2020-09-02 14:42] anna4j commented on #783
Hey! Please look for another issue :)

[2020-09-02 14:45] garimasingh128 commented on #783
I just updated the Additional content. @Pranjal9999999 Please check it out before progressing!

[2020-09-02 14:51] Pranjal9999999 commented on #783
Yes I  will take care of the description.Any other specific requirements, shall I add a background image.

[2020-09-02 15:01] garimasingh128 commented on #783
Ya, you can be as creative as you want. Just follow the branding guidelines and try to be a little simple in design as the rest of the app is! :)

[2020-09-02 15:02] Pranjal9999999 commented on #783
Can I give the solution in a png format.

[2020-09-02 15:04] garimasingh128 commented on #783
Ya png/jpeg is the minimum requirement but you can also try a Figma URL or an Adobe XD link if you want to proceed further as it would be easier for us to make changes in the future.

[2020-09-02 15:18] TreavVasu commented on #765
I have a pr on issue 788  but it still under review so can I work on this? @rpattath

[2020-09-02 15:45] rpattath commented on #764
@HeroicHitesh please open a PR for https://github.com/anitab-org/mentorship-android/issues/791 to which you have already been assigned to.

[2020-09-02 15:49] rpattath commented on #764
@rak108 I have assigned this issue to you.
@Anmollenka let me know if you have trouble getting assigned to some other issue. In that case I can assigned you to this issue as well. We are accepting multiple PRs for an issue.

[2020-09-02 15:56] FullBinaryAlchemist commented on #793
Can this issue be assigned to me?

[2020-09-02 16:07] anna4j commented on #793
@FullBinaryAlchemist sure

[2020-09-02 16:14] Anmollenka commented on #764
@rpattath I have received any issue to work on.

[2020-09-02 16:14] BirajGupta commented on #780
@garimasingh128 hey
I've been working on the issue and have done some work implementing the architecture for forgot password functionality.
Could you assign me this issue so I could make a PR soon for this if no one is assigned?

[2020-09-02 16:15] Anmollenka commented on #764
@rpattath I haven't received any issue to work on.

[2020-09-02 16:18] garimasingh128 commented on #780
As @swaraj961 commented before you, I would give him a fair chance to take up this issue. @swaraj961 Can you confirm whether you are assigned to any other issue or not and would like to work on this?

[2020-09-02 16:21] swaraj961 commented on #780
Hi, yes you can assigned it to @BirajGupta  as  I'm working on another issue that i've been assigned. Thanks for asking i appreciate that .

[2020-09-02 16:37] iofall commented on #811
@yash2189 Assigning you! @Pranjal9999999 you can take this up after you are done with your current issue.

[2020-09-02 16:39] iofall commented on #808
@Aditiwebd @Pranjal9999999 assigned to other issues comment here when done with those and I will assign you this one. Thanks!

[2020-09-02 16:42] iofall commented on #805
@kritikaparmar-programmer  assigned you. Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md). Happy coding 💻 !

[2020-09-02 16:43] garimasingh128 commented on #780
Assigned to @BirajGupta . All the best.

[2020-09-02 16:45] rpattath commented on #764
@Anmollenka assigned ! Enjoy documenting :+1:

[2020-09-02 16:50] HeroicHitesh commented on #764
@rpattath I am not assigned to #791 you can check there some other person is assigned the issue before me.

[2020-09-02 17:02] BirajGupta commented on #780
Thanks  @garimasingh128 for assigning this to me.
Could you clarify me on whether this issue asks just to implement the Forgot password text below login on the UI as mentioned in "Expected Behaviour" or the app functionality for the same also. I'm working on functionality part also.
So,I made two branches where in one I've implemented only the UI part and in other I'm half way through the function

[2020-09-02 17:20] rpattath commented on #764
@HeroicHitesh I am really sorry. That was my bad. Would you like to be the second contributor for https://github.com/anitab-org/mentorship-android/issues/765 ? I can help you if you have any questions.

[2020-09-02 17:29] Pranjal9999999 commented on #783
![20200902_225347_0000](https://user-images.githubusercontent.com/65165363/92016322-cf1a9500-ed6f-11ea-9352-1812330646ec.png)
Is it okay do you require any changes @garimasingh128

[2020-09-02 17:44] Anmollenka commented on #764
@rpattath I am unable to find the report mentioned in point 4.Can you please help me with it.

[2020-09-02 17:45] raksh543 commented on #760
@sanchi @anna4j I wanted to ask that do contentDescripton attribute needs to be added in textViews and editText widget too?

[2020-09-02 17:53] kritikaparmar-programmer commented on #805
Hey @iofall , I'm facing some system issues while running this project !! I'm unassigning myself from this issue! Sorry for the inconvenience..

[2020-09-02 17:54] garimasingh128 commented on #780
Please implement both the UI and the functionality for forgot password. You can do so on a single branch if you like. @BirajGupta

[2020-09-02 17:56] garimasingh128 commented on #783
Looks good. I have a few suggestions:
- You can add a text like "Kindly go to the app and login again" or something like this
- Instead of having a square image in the centre, a blurred image in the whole background will be okay and the logo can be put at the side. But make sure it is clearly visible.

@anna4j @vj-codes You have any suggestions?

[2020-09-02 18:01] iofall commented on #805
Okay @kritikaparmar-programmer no worries, you can ask questions on Zulip as well if you are having any problems with the setup

[2020-09-02 18:22] rpattath commented on #764
@Anmollenka did you run the command on step 2 ? It will take a few minutes to complete. If that command has run then the report should be generated.

[2020-09-02 18:22] yash2189 commented on #811
@iofall Do I need to redesign the feedback screen entirely? Or would it be fine if I change certain aspect? Since the "Send Feedback" button is the only one that does not have a proper size and text , I have just changed only that one. Is it ok?

[2020-09-02 18:31] justdvnsh commented on #704
Hi. @rpattath @anna4j . I'd like to take up the task. Can I be assigned this issue ?

[2020-09-02 18:36] iofall commented on #811
We want to look at new design ideas, not just fixes for the current one. So @yash2189 please redesign the entire screen.

[2020-09-02 18:38] iofall commented on #704
We could split this up as well, there are about 8 tests that are failing. 1 test for the `SignUpActivity` and 7 tests for the `LoginActivity`

[2020-09-02 18:40] vj-codes commented on #783
@Pranjal9999999 @anna4j @garimasingh128 I am not sure about using the word systerhood as the content was done when the organization was Systers and not Anitab.org.

@Pranjal9999999 please provide a web mode and phone mode comparative image too just to make sure it looks good on all sizes:)
And what is the source of image?

[2020-09-02 18:41] sanchi0204 commented on #760
Yes @raksh543. The purpose is to make the app talkback compatible. You may search a bit about Talkback feature in Android phones to know better.

[2020-09-02 18:41] HeroicHitesh commented on #764
No Issues

Yeah sure

Yeah, I will be needing that as I am not an android developer/tester but with your help, I may learn some new stuff.

[2020-09-02 18:46] rpattath commented on #764
@HeroicHitesh Sure ! could you comment on that issue, for some reason I cannot find you there when I am trying to assign.

[2020-09-02 18:46] avinashbest commented on #808
I would like to work on this.

[2020-09-02 18:55] avinashbest commented on #807
I would like to work on it.

[2020-09-02 18:55] iofall commented on #808
@avinashbest assigning you! Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md)

[2020-09-02 18:56] siddheshkothadi commented on #810
@iofall I've sent a PR for this issue.
Can you please review it?
Any improvements that you can suggest?

[2020-09-02 18:57] avinashbest commented on #797
I would like to work on it.

[2020-09-02 19:01] iofall commented on #810
@siddheshkothadi no comments from me, waiting for review from others. Good work! You can claim other issues if you like and unassign yourself from this one.

[2020-09-02 19:03] iofall commented on #807
@avinashbest assigned you to another issue, please comment after finishing that one, I'll assign you!

[2020-09-02 19:05] siddheshkothadi commented on #810
Okay, thanks @iofall 🙂

[2020-09-02 19:08] anna4j commented on #797
Please look for issues with available tag and no assignees :)

[2020-09-02 19:09] abhishekrawe commented on #603
please assign this work to me

[2020-09-02 19:15] abhishekrawe commented on #807
i would like to work on it , please assign the work for me

[2020-09-02 19:17] captain-aman-11 commented on #769
I want to work on this issue. Assign this to me

[2020-09-02 19:20] iofall commented on #807
@abhishekrawe assigning you. Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md). Thanks!

[2020-09-02 19:22] anna4j commented on #769
Sure

[2020-09-02 19:32] avinashbest commented on #808
@iofall Thanks for assigning me, I would like to know that whether I have to follow the previous UI theme or I'm free to use theme which I will extract some color palate from the logo?

[2020-09-02 19:33] iofall commented on #808
This is a redesign of the screen so feel free to change the theme.

[2020-09-02 19:40] justdvnsh commented on #704
@iofall Yes. We can make one issue for Signup tests and one for login tests

[2020-09-02 19:56] arjungarg07 commented on #788
@anna4j Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-02 19:59] arjungarg07 commented on #786
@sanchibansal340 Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-02 20:04] anna4j commented on #788
Hey! You can filter out issues with "status available" tag and having no assignees. You could filter out issues by whichever category you want to work on. I can't assign you to this one because it has been fixed and the fix just needs a review.

[2020-09-02 20:05] HeroicHitesh commented on #765
@rpattath I would like to work on this issue under OSH. Please assign me this issue.

[2020-09-03 01:54] Anmollenka commented on #764
@rpattath

Working on it.

[2020-09-03 03:23] Pranjal9999999 commented on #783
Ok I will instead put a blurred backdrop with the logo. Please tell me the exact text you want on the screen. I will provide you with the source.

[2020-09-03 03:27] Hyper-Matrix commented on #807
@iofall This is my new PR (#841 )Please review it if possible. I have made all the relevant changes.

[2020-09-03 04:25] raksh543 commented on #760
@sanchi @anna4j I have created the [PR](https://github.com/anitab-org/mentorship-android/pull/840).
Please review.

[2020-09-03 04:39] rubyruins commented on #811
@iofall , may I work on this under OSH?

[2020-09-03 04:40] rubyruins commented on #810
@iofall , may I work on this issue under OSH?

[2020-09-03 04:41] raksh543 commented on #760
@anna4j as the changes have been approaved, can i move to some other issue? Or i have to wait until it is merged?

[2020-09-03 04:43] anna4j commented on #760
Merging will take place after OSH is over. So you can move to a new issue :)

[2020-09-03 04:46] iofall commented on #810
@rubyruins Assigning you! Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md) and feel free to ask any questions either on Zulip or here. Thanks!

[2020-09-03 04:49] rak108 commented on #764
Thanks! Will get started now.

[2020-09-03 05:57] rak108 commented on #765
Hey @rpattath , my 2nd step keeps failing, saying out of 20 executable tasks it performs only 19 and then the build fails. I tried finding errors in the program, but all i found were an excessive amount of warnings, no errors as such. How do i proceed?

[2020-09-03 05:57] rak108 commented on #764
Hey @rpattath , my 2nd step keeps failing, where the error is: "Execution failed for task ':app:kaptDebugKotlin'" and then the build fails. I tried finding errors in the program, but all i found were an excessive amount of warnings, no errors as such. How do i proceed?

[2020-09-03 06:31] madhhuurrii commented on #492
I want to work on this issue as this is my first time in opensource , can u please assign me this issue? @aditmehta9

[2020-09-03 06:37] madhhuurrii commented on #492
I want to work on this issue as a first timer @aditmehta9 ,please aassign me this issue..

[2020-09-03 06:50] Aditiwebd commented on #805
I would like to work on this issue.Please assign it to me.

[2020-09-03 06:51] aditmehta9 commented on #492
You are assigned an issue already so assigning @madhhuurii

[2020-09-03 06:58] aditmehta9 commented on #805
Yes, Remember to follow the Contributing Guidelines. Happy coding 💻

[2020-09-03 07:21] vj-codes commented on #797
@anna4j how about assigning more people to UI issues like 4-5 as diff contributors may come up with different ideas and the final might be a combo of best parts of all PRs. What say?

[2020-09-03 07:23] anna4j commented on #797
Okay sure let's do that!

[2020-09-03 08:23] vj-codes commented on #780
@anna4j @garimasingh128  This feature needs to be first updated on backend and then on frontend .There is a PR dealing with the same on backend which is not yet merged and unless it's merged there will be conflicts and build will subsequently fail

[2020-09-03 08:25] anna4j commented on #780
@vj-codes putting issue on hold till then. Thanks for informing 🙌

[2020-09-03 08:43] BirajGupta commented on #780
Thanks for informing. As the issue in on hold I'm unassigning myself from it as the code contribution won't be relevant.

[2020-09-03 08:47] TreavVasu commented on #765
@rpattath would you like to review this : https://github.com/TreavVasu/mentorship-android/wiki/How-to-test-the-application
Currently My draft looks like this (I thought best to consult before PR)

[2020-09-03 08:59] AprameyaGupta commented on #768
I would like to contribute in this as a part of OSH. Can you assign this issue to me?

[2020-09-03 10:40] madhhuurrii commented on #492
Sorry I am not able to solve the issues @aditmehta9

[2020-09-03 11:50] vatsalkul commented on #784
@yashhalgaonkar Are you working on this? If you have issues, feel free to reach out to zulip channel: http://anitab-org.zulipchat.com/

[2020-09-03 11:59] HeroicHitesh commented on #765
@TreavVasu Looks good to me. @rpattath your inputs?
@rpattath Also, if this much content looks good I can create a similar Wiki in macOS so we can have 3 sections covering Linux, macOS, and Windows. Just a thought.

[2020-09-03 13:03] Abjcodes commented on #768
I have completed my other assignments. Can you assign me this issue?

[2020-09-03 13:05] aditmehta9 commented on #794
I am not good at Espresso testing. If you have doubts or you are stuck you can ask on Zulip.

[2020-09-03 13:11] yash2189 commented on #811
Please review my PR @iofall
I have designed the mockup in Adobe XD is that fine?

[2020-09-03 13:17] prayutsu commented on #794
@aditmehta9 Actually I found out a solution but I am waiting for #838 to get merged. As it already contains the files that I need. So, to avoid duplicacy, let that PR get merged first.

[2020-09-03 13:59] anna4j commented on #794
Actually it might take a while to get merged. Most probably after OSH is over

[2020-09-03 14:01] rishika1802 commented on #492
I want to work on this issue as part of OSH

[2020-09-03 14:56] Pranjal9999999 commented on #783
Can you provide me the text that you want in the message @garimasingh128

[2020-09-03 14:59] garimasingh128 commented on #783
Yeah! Sorry for the late response. I think it should say something like "Your email is confirmed. Welcome to AnitaB mentorship initiative. Please progress to the application to login." Of course, you can change words and take inspiration from confirmation mails we get normally.

[2020-09-03 15:15] Hyper-Matrix commented on #63
@anna4j Can I be assigned this issue?

[2020-09-03 15:47] anna4j commented on #63
Sure

[2020-09-03 16:07] utkzas commented on #786
@sanchibansal340  I have made the changes. Please check  #845

[2020-09-03 16:45] utkzas commented on #554
can this issue be reopened? I would like to work on this issue. I want to make some changes related to markdown for better readability @isabelcosta

[2020-09-03 16:49] utkzas commented on #751
please review @anna4j

[2020-09-03 16:55] utkzas commented on #811
Can I work on this issue? My previous issue is done. I don't have any issue to work upon now. @iofall

[2020-09-03 16:56] utkzas commented on #810
I wonder, how will you make use of the mockup? what's the benefit if you are not making us code it out? just curious

[2020-09-03 16:56] anna4j commented on #751
@utkzas You're not assigned to this issue and you haven't created a PR here, I'm not sure what you want me to review 🤔

[2020-09-03 16:57] utkzas commented on #808
I want to work on this issue

[2020-09-03 16:58] utkzas commented on #809
Can anyone tell me what software do we use to make use of UI mockups? I have a UI mockup. should i code it or is there any tool available to do it?

[2020-09-03 17:00] rubyruins commented on #810
@utkzas, I guess they are having multiple PRs open for the issue to get a few mockups to choose from, and then code the one which suits the best!

[2020-09-03 17:05] utkzas opened #848 "Update CONTRIBUTING.md"
CONTRIBUTING.md needs to be updated with proper use of markdown syntax and hyperlinks need to be created instead of writing links to ensure better readability.

**To Reproduce**
Steps to reproduce the behavior:
Open CONTRIBUTING.md

**Required**
* *hyperlinks* need to be created instead of writing links
* make text *easily readable* by adding markdown syntax
* remove *grammatical errors* (if any)

[2020-09-03 17:07] utkzas commented on #808
Please assign it to me @iofall

[2020-09-03 17:08] utkzas commented on #788
Please assign this issue after current assignee

[2020-09-03 17:12] utkzas commented on #751
Sorry, I was supposed to write it somewhere else had written it here by mistake @anna4j

[2020-09-03 17:22] FullBinaryAlchemist commented on #793
@anna4j I have finished reading and getting a superficial understanding of the Backend API mentioned in the [docs](https://docs.google.com/document/d/1qDTJK-ItAaek5ZBSLd4i8ShxLDcU5D2b4ZdIBTNxEJM/edit#) and [app main idea](https://github.com/anitab-org/mentorship-android/wiki/Main-Base-Concepts) . I'm now going through the App documentation and will be delving into the codebase soon. Any pointers f

[2020-09-03 17:24] isabelcosta commented on #554
@utkzas can you be more specific about the type of changes you are planning on working on? Feel free to create a new issue and be specific about your suggestions so maintainers & managers can validate it :)

[2020-09-03 17:38] rpattath commented on #764
@rak108 yes your second step will fail because there are some tests that are failing as of now. But some tests are passing, if you take a look at the report you will be able to see that. So the expectation is your test should not fail.

[2020-09-03 17:44] isabelcosta commented on #704
@iofall that is a nice idea :) if you could create those issues and link it here in a comment that would be amazing

[2020-09-03 17:45] anna4j commented on #793
Nope go ahead. If you need any assistance let us know

[2020-09-03 17:48] sanchi0204 commented on #768
Sure

[2020-09-03 18:01] atharwa-24 commented on #848
I would like to do it!!

[2020-09-03 18:02] #848 closed

[2020-09-03 18:06] anna4j commented on #848
@utkzas [CONTRIBUTING.md](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md)

What changes exactly are you suggesting in this file? Please elaborate a little, I've temporarily closed the issue to avoid confusion

[2020-09-03 18:08] rpattath commented on #765
@TreavVasu amazing work :tada: , please create a PR.

@HeroicHitesh do you think the steps are different on MacOS and Windows? If so, can you take @TreavVasu's PR and add the Windows and Mac parts to it?

[2020-09-03 18:10] iofall commented on #808
I think we could use another PR for this, assigning you @utkzas! Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md) and the [Commit Message Style Guide](https://github.com/anitab-org/mentorship-android/wiki/Commit-Message-Style-Guide)

[2020-09-03 18:23] anna4j opened #849 "Set App icon"
As of now, the app icon is the default android icon that the android studio provides.

**Describe the solution you'd like**

Change it to the following:
![image](https://user-images.githubusercontent.com/43845261/92152612-98f91600-ee40-11ea-9850-390a8d53e24b.png)

[2020-09-03 18:44] anna4j opened #850 "Fix Login/Sign Up page content"
**Describe the bug**
Since we have migrated our apps from Systers account to AnitaB.org App should reflect that.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the App
2. Land on Login/ Sign Up Page
3. See error on top of the screen

**Expected behavior**
The logo should say **AnitaB.org Open Source** instead of Systers Open Source

**Screenshots**
If applicable, add screenshots to

[2020-09-03 18:52] pallavisavant commented on #544
could you pls assign this to me ,i would like to work on this thanks

[2020-09-03 19:04] justdvnsh commented on #849
Hi @anna4j . I'd like to work on this issue. Can I be assigned this issue ?

[2020-09-03 19:06] anna4j commented on #849
Sure :)

[2020-09-03 19:13] dhivyasundart commented on #758
@sanchi0204 I have submitted a PR. could you check it?If there are any changes Ill do it.

[2020-09-03 19:24] justdvnsh commented on #849
So @anna4j . How can i get this icon ?

[2020-09-03 19:27] vj-codes commented on #790
Update : I completed other issues and this one is done partially , PR likely to come tomr:)

[2020-09-03 19:56] anna4j commented on #849
@vj-codes Could you provide the image, please?

[2020-09-03 20:01] vj-codes commented on #849
@anna4j provide the image as in?

[2020-09-03 20:15] anna4j commented on #849
I mean a Figma development link or something. Or should he just right click and save as png the image that's in the issue description?

[2020-09-03 20:17] justdvnsh commented on #794
@prayutsu Hi. I think you should try this without launchFragment method. Since the fragment testing library needs jvm 1.8 and currenty the project is based on jvm 1.6 #838 is my PR. Firstly I also used fragment testing library, but it would give you a hard time most probably simply because of the jvm version.

[2020-09-03 20:21] HeroicHitesh commented on #765
@rpattath the steps will be the same for testing APKs using an emulator on any platform, but I was asking should we provide image/gif of the same steps for various OS so that it feels familiar for the particular OS user.

Adding this might be useful for users as some might think that this will not work on my OS as I am using some other OS compared to Linux.

But on second thought we can't cover al

[2020-09-03 20:21] prayutsu commented on #794
hey @justdvnsh, actually I also tried another way but That also gives the same error. ```Intent could not be launched within 45 seconds```. I even turned off the animations of my physical device.

[2020-09-03 20:23] justdvnsh commented on #794
Let me check !! @prayutsu

[2020-09-03 21:05] vj-codes commented on #849
@Sonal240 made it from the design team and mostly @anna4j  she can help, it's there on zulip too but the original one is with @Sonal240 .

[2020-09-03 21:24] rubyruins commented on #810
Hi, @iofall. I've just opened a PR for this issue! Can you please review it?

[2020-09-03 21:40] justdvnsh commented on #794
[code]

[2020-09-03 21:43] justdvnsh commented on #794
Try this code. @prayutsu . The tests are running just fine. Here in the code, Since, the edit profile is a dialog fragment, hence I am waiting for the swipe refresh to stop loading since, it has the window focus. Once It stops loading, I click the edit profile button and click the cancel button. Plus, you would not have to change any other file.

![Screenshot from 2020-09-04 03-07-33](https://user

[2020-09-03 21:46] justdvnsh commented on #849
Should I download it from here only ? Save Image as png from the issue description itself ?

[2020-09-03 21:53] faznan3nazer commented on #779
docs/ui does not exist under the repo so I am unable to create a PR for this issue. Can you please help me with this
.

[2020-09-03 21:55] prayutsu commented on #794
@justdvnsh Awesome buddy!! Thank you so much!

[2020-09-03 21:56] prayutsu commented on #794
Now I can add more tests to it

[2020-09-03 22:03] justdvnsh commented on #794
@prayutsu . No problems mate.

[2020-09-03 22:03] prayutsu commented on #794
![Screenshot from 2020-09-04 03-32-54](https://user-images.githubusercontent.com/54636525/92178076-5bf04c00-ee5f-11ea-8061-7a23e2db90c1.png)
But why is it failing on my system

[2020-09-03 22:05] justdvnsh commented on #794
@prayutsu Yeah. Now you just need to add different test cases . Thats why I added the opening of dialogue fragment in before block so that it gets executed before all your tests. So just add different test cases. This code has only one drawback that the test take around 4-6 seconds to run, due to ```Thread.sleep()```

[2020-09-03 22:10] prayutsu commented on #794
That would be fine but I don't know why it's failing on my system.

On Fri, 4 Sep 2020, 3:35 am Divyansh Dwivedi, <notifications@github.com>
wrote:

[2020-09-04 03:13] rak108 commented on #764
@rpattath But my report isnt being generated either, so I am facing difficulties trying to figure this out.

[2020-09-04 03:38] yashhalgaonkar commented on #784
@vatsalkul yes I am working on it. I will reach out if I have any issue.

[2020-09-04 03:41] yashhalgaonkar commented on #850
@anna4j Can you assign this to me?

[2020-09-04 03:56] justdvnsh commented on #794
@prayutsu I think, since you've changed dependencies, this is happening. Try removing all of your changes from buil.gradle

[2020-09-04 04:24] raksh543 commented on #850
@anna4j I am willing to work on this issue.

[2020-09-04 04:37] anna4j commented on #850
Sure @yashhalgaonkar

[2020-09-04 04:39] anna4j commented on #849
Let me ask the designer about the assets once again. Till then I'm putting the issue on hold

This might take a day, so should I unassign you so that you can work on a different issue? Or would you like to wait?

[2020-09-04 05:16] anna4j commented on #849
Hey, @justdvnsh  it will actually take a little more time than I expected. The logo is ready but has to be run by the marketing department once. So this issue will be on hold till we get approval.
Sorry for the inconvenience, please look for another issue :)

[2020-09-04 05:51] TreavVasu commented on #765
I honestly don't know how to pr a wiki I tried searching but the methods aren't working can you help? (well I really wanted to do this one )
Here's my wiki of forked file :
https://github.com/TreavVasu/mentorship-android.wiki.git

Working link: https://github.com/TreavVasu/mentorship-android/wiki/How-to-test-the-application

@rpattath

[2020-09-04 05:52] justdvnsh commented on #849
@anna4j No Problem

[2020-09-04 05:56] prayutsu commented on #794
okay, I'll try that

[2020-09-04 06:02] prayutsu commented on #794
hey @justdvnsh, let's get connected on zulip first

[2020-09-04 06:06] justdvnsh commented on #794
@prayutsu Sure.

[2020-09-04 06:31] prayutsu commented on #794
I saw that private messages are not allowed in this organization. So, we can discuss it here only. Actually earlier tests didn't even launch the app, but this time it's opening the edit profile fragment but after that nothing happens. It is simply failing.
![Screenshot from 2020-09-04 11-30-46](https://user-images.githubusercontent.com/54636525/92206931-efe50680-eea5-11ea-9794-8bc1f4373c50.png)

[2020-09-04 06:41] justdvnsh commented on #794
@prayutsu Can you share the error message ? What is the error ? It is working fine on my device !

[2020-09-04 07:50] prayutsu commented on #794
[code]

[2020-09-04 07:54] prayutsu commented on #794
@justdvnsh
![Screenshot from 2020-09-04 13-21-03](https://user-images.githubusercontent.com/54636525/92214083-84089b00-eeb1-11ea-8705-e779fd9f4fc0.png)

[2020-09-04 08:35] Mrinmoy-Aus commented on #850
@anna4j i am willing to work on the issue

[2020-09-04 08:49] anna4j commented on #850
Please look for issues with "status available" tag and no assignees

[2020-09-04 09:31] samyukthagopalsamy commented on #26
@isabelcosta can I work on creating the icon? I'm actually willing to take part in the GHC open source hack.

[2020-09-04 09:33] anna4j commented on #26
Hey this issue is closed. Moreover the icon has been designed too
But you can look for open issues labelled "Open Source Hack" and "status available" label

[2020-09-04 09:35] samyukthagopalsamy commented on #26
Ohh my mistake. Thanks for the quick reply.

[2020-09-04 09:38] DhaneshShetty commented on #494
@anna4j @MariamKotob I would like to work on this issue

[2020-09-04 10:11] anna4j commented on #494
Go ahead!

[2020-09-04 12:26] justdvnsh commented on #794
@prayutsu Are the animations turned off ? please check once.

[2020-09-04 13:18] prayutsu commented on #794
Yupp they are off. Now I am thinking of deleting my local project and set
it up again. I'll let you know if the problem persists.
Thanks!

On Fri, 4 Sep 2020, 5:57 pm Divyansh Dwivedi, <notifications@github.com>
wrote:

[2020-09-04 13:26] SHITIZ-AGGARWAL commented on #789
hello @anna4j , I researched about the issue  and I am ready to start the documentation, I wanted to ask about how to organise my document

like should I only include  about solution, best practices, issues etc
 (  Dependency Injection -> dagger-2 and hilt )

or should I also include about  how dagger came to be(about it's history) and then tell about its solutions, best practices,  issues
( DI ->

[2020-09-04 13:29] anna4j commented on #789
First solution looks good. We need all the information that would be relevant in case we decide to switch up the codebase and actually adapt dagger

[2020-09-04 13:52] justdvnsh commented on #794
@prayutsu Yes please do that. I am assuming that this problem is due to the changed buil.gradle file

[2020-09-04 13:58] CodeChamp-SS commented on #789
i am currently researching on dagger-hilt and how it can be applied with architecture of the app, so i'll take 2-3 more days to understand it fully so that i can point out the best practices as well as the drawbacks :-)

[2020-09-04 14:12] yashhalgaonkar commented on #850
@anna4j That logo is a png file hardcoded into the UI. Where can I get the new logo?

[2020-09-04 14:32] anna4j commented on #850
I'll get back to you soon

[2020-09-04 14:36] Mrinmoy-Aus commented on #850
![mentorship_system_logo](https://user-images.githubusercontent.com/54744863/92250978-c8179200-eee9-11ea-9a8e-122c3a03ccd1.png)
@anna4j I just edited and tweaked the logo is it going to work?

[2020-09-04 14:58] Mrinmoy-Aus commented on #850
![Screenshot_2020_0904_202433](https://user-images.githubusercontent.com/54744863/92253247-e3d06780-eeec-11ea-80c5-403301a59c14.jpg)
@anna4j i edited the Splash Screen and now it looks like this is it ok?

[2020-09-04 16:26] maharishi-01 commented on #685
can I work on it?  please assign me.

[2020-09-04 16:48] utkzas commented on #786
Please check #855 or #845 I can't understand which one of these was correct way of updating work on a already made PR

[2020-09-04 17:29] anna4j commented on #685
Absolutely go ahead

[2020-09-04 17:32] anna4j commented on #850
If the font size of "AnitaB.org" could match "Open Source" it would be great

[2020-09-04 18:14] faznan3nazer commented on #779
docs/ui - that folder is not available, where do I create a pr for this issue?

[2020-09-04 18:54] rpattath opened #856 "Document workflow of the app - Create tasks for a relation and complete the task"
**Is your feature request related to a problem? Please describe.**
Document workflow of the app - Create tasks for a relation and complete the task. This will cover the workflow with screenshots all the way from registration to sending a request to accepted request to create tasks and completion

**Describe the solution you'd like**
An md file under docs folder.

[2020-09-04 18:56] rpattath commented on #765
@HeroicHitesh that will be only a 1 line change and I cannot accept that amount of work for OSH. Would you like to work on https://github.com/anitab-org/mentorship-android/issues/856, if so please comment on it asap.

[2020-09-04 19:40] FullBinaryAlchemist commented on #793
Okay, so I have finished cloning and need some guidance about what kind of tests to implement.

- I saw in the SignUpActivity, that they were simulating the UI inputs to check for different kinds of password combinations but for Current relations how do I go around doing that for Current Relationship?  Specifically, which object(s) do I simulate?
- In the app documentation, it is mentioned that a

[2020-09-04 19:54] garimasingh128 commented on #779
Can you elaborate which docs/ui folder? You can simply modify [this](https://github.com/anitab-org/mentorship-android/blob/develop/app/src/main/res/layout/activity_login.xml) and make a PR.

[2020-09-04 19:55] prayutsu commented on #794
@justdvnsh Still not working :(

[2020-09-04 19:56] prayutsu commented on #794
It shows the same error

[2020-09-04 20:05] anna4j commented on #793
These test cases look good to me. @iofall are we missing something?

[2020-09-04 20:59] rpattath commented on #779
@garimasingh128 for UI issues aren't OSH participants expected to create a PR with the figma url in an md file under docs/ui? But docs/ui does not exist under the repo.
cc: @anna4j

[2020-09-04 21:17] garimasingh128 commented on #779
I don't think this is a design issue. This is a UI issue in which you simply have to extend the grey background present in the background so that the weird separation between white and grey backgrounds is not created. So, you can simply modify the Login Activity XML file and resolve the issue simply by making the background match parent,

[2020-09-04 23:25] isabelcosta commented on #751
@Sommie09 I will unassign you here since you are already working on a "first timers only" issue https://github.com/anitab-org/mentorship-android/issues/757

Also, I will fix the issue description, because we already have a CODE_OF_CONDUCT, which is under `.github`, and instead of creating a new one, this one should be up to date. cc @anna4j and @vj-codes

[2020-09-04 23:56] iofall commented on #793
Hey @FullBinaryAlchemist there is no difference between the `Current Relations` screen for when a user is a `mentor` or a `mentee`. Both can create and mark tasks, refer [Wiki](https://github.com/anitab-org/mentorship-android/wiki/Main-Base-Concepts). Both screens are identical, regardless of who is viewing it. So I think:
1. This one looks good but when there is a relation present, `needsMentorin

[2020-09-04 23:56] iofall commented on #793
Also answering the questions:

I think you only need to simulate the inputs which in this case will be for creating the tasks.

Yes no approval is needed for this from the other party, at least that is the current implementation.

[2020-09-05 02:45] Mrinmoy-Aus commented on #850
![output](https://user-images.githubusercontent.com/54744863/92296214-bec11080-ef4f-11ea-8b1f-6866a84327cf.jpg)
@anna4j  I have been working on it since yesterday i have fixed the font size also can you please review it and assign the task to me.

[2020-09-05 05:00] yashhalgaonkar commented on #784
@vatsalkul There is no achievement field in /dashboard endpoint. So what should I display in the existing achievement section in the UI?

[2020-09-05 05:02] Mrinmoy-Aus commented on #850
@anna4j can the task be assigned to me? I am doing it since yesterday and have edited the splash screen as required and also fixed the font size.

[2020-09-05 05:09] siddheshkothadi commented on #739
Can I work on this issue?

[2020-09-05 06:12] yashhalgaonkar commented on #784
@vatsalkul Even the name field is missing in /dashboard endpoint.

[2020-09-05 06:12] HeroicHitesh commented on #856
@rpattath I would like to work on this, please assign this to me.

[2020-09-05 06:33] HeroicHitesh commented on #765
I can completely understand your point, and so I think this issue doesn't require multiple assignees. If @TreavVasu is unable to complete it I'll work on it until then, I'll wait.

Yeah sure, I have commented there.

[2020-09-05 08:18] blackcrabb commented on #856
@rpattath  I would like to work on this please assign it to me

[2020-09-05 08:40] anna4j commented on #739
Sure go ahead

[2020-09-05 08:44] anna4j commented on #850
Okay so I didn't read the username of @argho28 and I thought the person whom I had assigned was sending the screenshots and recordings.
For future issues please don't do this. Work on an issue only when you're assigned to it.
Right now I'm assigning you to this issue because I don't want to waste the hard work you've put in. But please next time onwards you can't be assigned after you've made the

[2020-09-05 08:45] anna4j commented on #850
In this case we'll be reviewing both PRs by @argho28 as well as @yashhalgaonkar
So @yashhalgaonkar you can keep updating me about your progress too

[2020-09-05 09:05] Sommie09 commented on #751
Okay @isabelcosta does this mean my contribution no longer counts?

[2020-09-05 09:37] vatsalkul commented on #784
@yashhalgaonkar Achievements means, task which has been completed. tasks_done can be interpreted as achievement.

[2020-09-05 09:41] anna4j commented on #751
No we'll still acknowledge your efforts, don't worry about it 😊

[2020-09-05 09:42] vatsalkul commented on #784
@yashhalgaonkar What mentorship ios does is, it fetches dashboard and profile when logging in so the name is accessible from profile api. There is no need to use profile api on dashboard as of now. Just fetch dashboard and do not update name on screen (app will show just welcome). We can raise issue on mentorship backend for the same.

[2020-09-05 09:46] vatsalkul opened #857 "Document: Write a blog about “How mentorship system can help people in this global pandemic""
Write a blog about “How mentorship system can help people in this global pandemic” Explain about the ways in which one can learn new skills with the help of a mentor even in this pandemic.

[2020-09-05 09:50] yashhalgaonkar commented on #784
@vatsalkul Got it. Thanks

[2020-09-05 09:50] vatsalkul opened #858 "design: Infographic about mentorship system"
**Is your feature request related to a problem? Please describe.**
Make an Infographic about mentorship system

**Describe the solution you'd like**
Send a png or svg file of the infographic

**Resources**
AnitaB-org Mentorship Backend Wiki: https://github.com/anitab-org/mentorship-backend/wiki

[2020-09-05 10:02] Pranjal9999999 commented on #783
Where do I add the path for the image, in which file.

[2020-09-05 10:05] garimasingh128 commented on #783
@anna4j Can you tell? There's no docs/UI present currently.

[2020-09-05 10:16] Aditiwebd commented on #590
I have been assigned another issue, If it's ok with you i would love to work on this also.

[2020-09-05 10:17] anna4j commented on #783
You can add the png of image to docs/ui folder. You'll have to create that folder on your fork.
Also if you want to specify details you can write that in a .md file which will also be added to docs/ui folder

[2020-09-05 10:18] anna4j commented on #783
One small change I completely didn't notice it before. It's "AnitaB.org Open Source" instead of "Systers"

[2020-09-05 10:19] Pranjal9999999 commented on #783
i have taken this logo from the project itself

[2020-09-05 10:20] anna4j commented on #783
Ya the project one is getting updated too. I guess you can leave this as it is now

[2020-09-05 10:36] niyati-n commented on #857
Can i take this issue @vatsalkul  for OSH

[2020-09-05 11:53] atharwa-24 commented on #858
I would like to work on it!!~OSH

[2020-09-05 11:55] atharwa-24 commented on #858
Can you explain a bit more about the task!!

[2020-09-05 12:08] rubyruins commented on #858
Could you explain a bit more about the issue? I would like to work on it under OSH!

[2020-09-05 12:26] yash2189 commented on #858
Can you explain more about this please. I would like to work on this.

[2020-09-05 12:38] BirajGupta commented on #732
@aditmehta9  Hey, can I work on the issue if no one is assigned?

[2020-09-05 12:40] anna4j commented on #732
Sure @BirajGupta

[2020-09-05 16:16] justdvnsh commented on #776
Hi @aditmehta9 @vatsalkul . I'd like to take up the issue. Can I be assigned this issue ?

[2020-09-05 16:18] rpattath commented on #765
@TreavVasu would you be able to create a folder name docs and put your changes in an md file under that folder?

[2020-09-05 16:24] TreavVasu commented on #765
Sure then  should I just put them all together and only send a pr right ?

[2020-09-05 16:34] iofall commented on #811
@namratadas1 What is your status?

[2020-09-05 16:35] rpattath commented on #764
@rak108 do you have the emulator running when you are running the gradlew command?

[2020-09-05 16:35] iofall commented on #810
@HariniJeyaraman what is your status?

[2020-09-05 16:38] iofall commented on #808
@utkzas, @avinashbest what is the status of your PR?

[2020-09-05 16:39] iofall commented on #807
@abhishekrawe what is the status of your PR?

[2020-09-05 16:39] iofall commented on #806
@rishika1802 how is the PR going, are you still working on this?

[2020-09-05 16:39] rpattath commented on #764
@Anmollenka any update on this issue?

[2020-09-05 16:52] justdvnsh commented on #776
Hi @aditmehta9 . Can you also, please connect with me on the mentorship app and give me some tasks so that I can make the comments part. Currently I do not have any relations neither i am assigned any tasks ( in the app )

[2020-09-05 16:57] Anmollenka commented on #764
@rpattath I am having some problem on packages.

[2020-09-05 16:57] Anmollenka commented on #764
Still trying it.

[2020-09-05 16:58] Anmollenka commented on #764
Will surely update you by tomorrow

[2020-09-05 17:05] Anmollenka commented on #764
@rpattath mam the error i:-
Failed to install the following Android SDK packages as some licences have not been accepted.
So I am trying to install the missing components using the Android Studio SDK Manager.

[2020-09-05 17:19] yash2189 commented on #811
@iofall can you please review the PR #844 again I have added the necessary links.

[2020-09-05 18:32] aditmehta9 commented on #776
I am sorry. Recently I had reset my mobile. And app isn't installed on my mobile. So, please ask someone else.

[2020-09-05 18:37] justdvnsh commented on #776
@vatsalkul @iofall ..could you ?

[2020-09-05 18:59] iofall commented on #776
I would recommend setting a dummy test user and deleting after you are done with the issue.

[2020-09-05 19:04] justdvnsh commented on #776
@iofall But how would I verify the email ?

[2020-09-05 19:06] vatsalkul commented on #857
Sure! @blackcrabb Go ahead. Share the link to your blog post after completion.

[2020-09-05 19:09] iofall commented on #776
You can use a temporary email service

[2020-09-05 19:11] justdvnsh commented on #776
@iofall Okay. I'll set it up by tomorrow and update here. Please then assign some tasks in the app to me so that I can implement this feature.

[2020-09-05 19:12] vatsalkul commented on #858
@atharwa-24 I am assigning this to you. Infographics are graphic visual representations of information. Add details of mentorship system to the infographic. It can be used for marketing purpose of this app. @rubyruins @yash2189 You may also work on this.

[2020-09-05 19:17] vatsalkul commented on #776
@justdvnsh In order to make this feature efficiently I would recommend you to make two accounts (It is not necessary that anyone else is free when you want to test task comments), make a secondary email id if you only have one.

[2020-09-05 19:18] justdvnsh commented on #776
@vatsalkul cool

[2020-09-05 19:40] yash2189 commented on #858
Please correct me if I'm not wrong . So this would be like a poster that'd help to promote the mentorship application.
Can we prototype the same using any UI/UX application?

[2020-09-05 20:32] Mahnoor123-Fatima commented on #858
can you assign this to me?

[2020-09-06 02:16] Mrinmoy-Aus commented on #850
@anna4j I have submitted a PR against this issue yesterday  can you please after reviewing approve it?

[2020-09-06 06:16] rak108 commented on #764
@rpattath Yeah i have the app open and running on my device when i run the command

[2020-09-06 06:28] utkzas commented on #786
@sanchibansal340  should i consider the issue to be solved now?

[2020-09-06 06:30] sanchibansal340 commented on #786
Yes, all the PR's will be merged after the program ends.

[2020-09-06 06:31] utkzas commented on #786
Okay 👍

[2020-09-06 06:49] utkzas commented on #808
I'm on it. Just need few more hours. I'll raise the PR by EOD

[2020-09-06 07:15] #631 closed

[2020-09-06 07:43] rak108 commented on #764
@rpattath I tried uninstalling the IDE and installing again, and even forked and cloned again but this is a persisting issue.

[2020-09-06 09:50] niyati-n commented on #857
I wanted to ask that the link you are referring can be in doc also?

[2020-09-06 13:48] alivabasa commented on #157
Can i work on this for OSH ?

[2020-09-06 14:45] isabelcosta commented on #751
+1 to what @anna4j said :)
@Sommie09 this is just about leaving an opportunity to beginners to contribute through "first timers only", since these issues are explicitly left for people who have not contributed yet to the project.

[2020-09-06 14:51] iofall commented on #811
Unassigining @namratadas1 due to inactivity.

[2020-09-06 14:52] iofall commented on #811
We could use another PR for this issue if anyone wants to claim it!

[2020-09-06 14:54] iofall commented on #810
Unassigning @HariniJeyaraman due to inactivity.

[2020-09-06 14:54] iofall commented on #810
We could use one more PR for this issue if anyone wants to claim it. Thanks!

[2020-09-06 15:04] yash2189 commented on #810
can I try working on this @iofall ?

[2020-09-06 15:05] yash2189 commented on #856
May I try working on this?

[2020-09-06 15:05] yash2189 commented on #811
@iofall Is my PR ready to merge #844 ?

[2020-09-06 15:20] prayutsu commented on #794
@aditmehta9 I am unassigning myself as I am not able to figure out a solution, you can assign this issue to @justdvnsh .
I'll try working on other issues

[2020-09-06 17:22] yash2189 commented on #858
Can you please clear my doubt. I'm willing to work on this @vatsalkul

[2020-09-06 17:29] justdvnsh commented on #794
@aditmehta9 @anna4j I'd like to carry this issue. It is already solved with me. I just have to create a PR.

[2020-09-06 17:32] iofall commented on #810
Ok go ahead!

[2020-09-06 17:33] iofall commented on #805
@Aditiwebd what is your status on this?

[2020-09-06 17:34] iofall commented on #806
@rishika1802 what is your status on this?

[2020-09-06 17:44] anna4j commented on #794
Go ahead!

[2020-09-06 17:46] Aditiwebd commented on #805
I am working on it.I will complete it soon.