[2021-01-30 04:27] epicadk commented on #1065
Btw the bug is present throughout the app not only the members screen. I think it's because of the collapsing toolbar.

[2021-01-31 08:14] vj-codes commented on #1065
Assigning you  @epicadk
Happy coding!
The bug as far as my observation is not on home and current relation screen, otherwise present on others

[2021-01-31 10:36] ahk4815 commented on #714
solving this issue will take some more time. Can it get extended to a couple of days more?

[2021-01-31 10:49] pknotfound commented on #714
How are you planning to do it @ahk4815

[2021-01-31 13:44] ahk4815 commented on #714
Thanks @Priyansh-Kedia  for asking .A PreferenceManager class is already present in the project. I would be adding the functions of updating and fetching user's profile details in the preferenceManager class. Since the profile data is of custom <User> class, it would be required to convert this into json string and upload in the shared preference according to this [ Custom Object in preference ](h

[2021-01-31 13:47] pknotfound commented on #714
Don't you think datastore should be used instead of preference manager, as datastore provides type safety and is main thread safe.
Also shared preferences has been deprecated.

What do you think @vj-codes @isabelcosta

[2021-01-31 14:09] ahk4815 commented on #714
Yeah Shared Preference is depreciated. A Preference Manager class for SharedPreference was already present in the current project for authorization related work. So i thought of implementing the same for this issue.
But datastore is currently preferred over sharedPreference for the reason stated by @Priyansh-Kedia. So i can work with the same for this issue.

[2021-01-31 14:10] pknotfound commented on #714
Sounds good
What do you think @vj-codes

[2021-01-31 15:59] epicadk commented on #714
Datastore is still in alpha ,I think we should wait for a stable release before using it.
Also I don't see the deprecation warning for shared preferences in the [docs](https://developer.android.com/reference/android/content/SharedPreferences) can you share the link where you saw the shared preference deprecated warning?
Are you talking about the PreferenceManager class ,because that has been depre

[2021-01-31 19:49] vj-codes commented on #741
Unassigning you @rajraman786 due to inactivity.

[2021-01-31 20:02] aakarshvats638 commented on #933
I would like to work on this issue @rpattath

[2021-01-31 20:07] vj-codes commented on #933
@aakarshvats638 hey I guess I missed closing this issue, this issue was created for Open Source Hack only and is not available right now .
Do go through other available issues :)
Also if you are insterested in contributing towards design , you can join the Design Open Session and our community on [Zulip](https://anitab-org.zulipchat.com/) chat🚀

[2021-01-31 20:07] #933 closed

[2021-02-01 06:29] epicadk commented on #1065
Fixed it however it's only one line that needs to be changed so should this be marked as a good first issue or should I create a pr?

[2021-02-01 08:43] aakarshvats638 commented on #1061
@isabelcosta I would like to work on this issue.

[2021-02-01 08:45] aakarshvats638 commented on #1028
I would like to work on this issue

[2021-02-01 10:09] aditmehta9 commented on #1028
This issue can be assigned to only First Time contributor and you have already sent [PR](https://github.com/anitab-org/mentorship-android/pull/1070).

[2021-02-01 10:53] ahk4815 commented on #714
For updating the user's profile, two tasks needs to be performed:
Firstly, an API call which is updating the details
Secondly, the user's data in the Shared Preference needs to be updated as well.

The API call feature is already implemented in the current project. Incase the device is offline(not connected to internet) the API call will fail but the shared preference feature will store the info i

[2021-02-01 13:53] epicadk commented on #1044
Possible duplicate of #758 @aditmehta9 @vj-codes

[2021-02-01 15:43] Zulfa210 commented on #741
I would like to work on this issue.
Can you please assign me, as it is my first time?

[2021-02-01 16:52] vj-codes commented on #741
Assigning you @Zulfa210
Happy coding!

[2021-02-01 16:56] vj-codes commented on #1044
@epicadk nah this only deals with adding the screenshot of settings in which the delete acc button is not seen
#758 is general on and the PR linked also doesn't have the updated ss

[2021-02-01 16:58] vj-codes commented on #1065
@epicadk first timers 🚀
I'll remove your assignment :(

[2021-02-01 16:59] vj-codes commented on #1065
Can you delete/edit the previous comment , the file name makes it more easier

[2021-02-01 17:03] Zulfa210 commented on #741
Thank you so much!!

[2021-02-01 17:08] epicadk commented on #1044
Okay cool. : )

[2021-02-01 17:36] vj-codes commented on #1066
@epicadk @Priyansh-Kedia hey is this still valid or should be closed? 👀

[2021-02-01 17:45] aakarshvats638 commented on #795
I would like to work on this issue if it is available.

[2021-02-01 17:49] aakarshvats638 commented on #748
I would like to work on this issue if it is available @vj-codes

[2021-02-01 17:53] vj-codes commented on #748
Assigning you @aakarshvats638
Happy coding!

[2021-02-01 17:55] vj-codes commented on #795
@aakarshvats638 not available right now , assigned you another issue that you've claimed

[2021-02-01 17:55] #795 closed

[2021-02-01 17:57] epicadk commented on #1066
I think it should be closed but upto @Priyansh-Kedia

[2021-02-01 17:59] epicadk commented on #980
@vj-codes should this issue also be closed?

[2021-02-01 18:03] vj-codes commented on #980
@epicadk this comes under research not redesigning , will keep it open but if there's no one claiming it later it'll probably be closed.
What say?

[2021-02-01 18:11] epicadk opened #1072 "Feature : setup Stale bot to close inactive Prs"
### Is your feature request related to a problem? Please describe.

Currently there are a lot of inactive prs and issues.

### Describe the solution you'd like

Install stalebot to mark (or close) inactive issues/pull requests.

### Additional context

Doc [here](https://probot.github.io/apps/stale/)

[2021-02-01 18:11] vj-codes commented on #1066
@Priyansh-Kedia your thoughts?

[2021-02-01 18:13] pknotfound commented on #1066
I think this is a valid issue and needs to be registered.

But @epicadk has a PR which needs to be merged before I guess

[2021-02-01 18:16] epicadk commented on #1072
@isabelcosta This will require your approval as it is a github app that needs to be installed to the repository.

[2021-02-01 18:19] vj-codes commented on #1072
@epicadk I wouldn't say the PRs are inactive, earlier this repo had like 10-15 open PRs but after open source hack the number of open PRs is a bit overwhelming and there aren't many who were helping with reviews like ya!
Your thoughts?

[2021-02-01 18:23] vj-codes commented on #57
Closing issue as there's going to be redesigning of the app soon and this will surely be taken care of later

[2021-02-01 18:23] #57 closed

[2021-02-01 18:24] epicadk commented on #1072
That's true but isn't it a neat feature to have?

[2021-02-01 18:28] vj-codes commented on #190
Cannot reproduce this issue on my end in the current apk , after one one confirmation this will be closed.
@epicadk can you confirm , thanks?

[2021-02-01 20:57] #1039 closed

[2021-02-02 11:31] shubhamgarg21156 commented on #741
Can i work on this issue? It's my First issue.

[2021-02-02 13:12] dhruvmendiratta6 commented on #1065
Can I work on this?

[2021-02-02 16:14] vj-codes commented on #1065
Assigning you @dhruvmendiratta6
Happy coding!

[2021-02-02 17:45] epicadk commented on #741
Sorry the issue has been assigned and pr has been opened.

[2021-02-02 18:26] epicadk commented on #190
Hey sorry I was busy today. I will get back to you tomorrow. : )

[2021-02-02 19:02] isabelcosta commented on #444
@ahk4815 do you still want to work on this? If so I can assign to you.
@vj-codes we can work on this as a implementation under the hood thing, and the design for it, can be changed later :)
Thank you for bringing this to my attention on QA session @epicadk !

[2021-02-02 19:50] #805 closed

[2021-02-02 19:52] #806 closed

[2021-02-02 19:52] dhruvmendiratta6 commented on #1065
I applied the following diff to the code:
[code]

Even though it appears to work the tests don't pass.

[2021-02-02 19:59] #782 closed

[2021-02-02 20:02] isabelcosta opened #1074 "Use string from resources on SignUp activity"
## Description
As a developer,
I need to avoid using hardcoded strings in the app activities and fragments,
so that I can optimize for internationalization (strings for multiple languages).

From this old PR https://github.com/anitab-org/mentorship-android/pull/954, strings were added to the Sign Up activity in a hardcoded manner. The strings should come from the resources because of the internati

[2021-02-02 20:08] isabelcosta opened #1075 "Fix sections that are not up to date on Code of Conduct"
## Description
As a  contributor,
I need code of conduct to be up to date,
so that I can follow it accordingly.

Some sections are not up to date with the latest version of our code of conduct. Please make it same as https://github.com/anitab-org/anitab-org.github.io/blob/develop/docs/code_of_conduct.md

## Acceptance Criteria
### Update [Required]
- [ ] Update code of conduct according to latest

[2021-02-03 08:23] epicadk commented on #1074
Would this not be covered under #757 ?

[2021-02-03 14:27] justdvnsh commented on #190
@vj-codes Nope. Cannot produce the bug on my side too !!

![anita_borg_issue_190](https://user-images.githubusercontent.com/29144058/106760601-014f5c00-665a-11eb-9ad8-430daa5e640f.png)

[2021-02-03 15:07] #190 closed

[2021-02-03 16:35] epicadk commented on #190
Thankyou @justdvnsh : )

[2021-02-03 16:50] Preshit-Joshi commented on #1074
Hey,I would like to work on this issue.

[2021-02-03 16:54] epicadk commented on #1065
Which tests are you talking about? If they are the existing tests then yes some of them fail and that is a know issue. You can create a pr.

[2021-02-03 17:04] justdvnsh commented on #190
@epicadk no worries

[2021-02-03 19:47] #741 closed

[2021-02-03 20:15] isabelcosta commented on #1074
@epicadk did not know that issue was broad and not specific to a file. I guess, because this was introduced with a recent merge, we can leave this to a newcomer. thank you for pointing that out!

[2021-02-03 20:35] isabelcosta commented on #1074
@Preshit-Joshi its yours to work on :) please only change the hardcoded values mentioned in this issue

[2021-02-04 05:43] varunvjha commented on #1075
Can I work on this issue?

[2021-02-04 08:22] epicadk commented on #1075
Hey consider asking on zulip.

[2021-02-04 12:30] dhruvmendiratta6 commented on #1065
Tests are not running (locally), it shows the following:
[code]

[2021-02-04 13:32] vj-codes commented on #1075
Assigning you @varunvjha
Happy documenting!

[2021-02-04 14:25] varunvjha opened #1079 "Reporting Guidelines missing"
## Description
The link in [Code of Conduct](https://github.com/anitab-org/mentorship-android/blob/develop/docs/CODE_OF_CONDUCT.md) for Reporting Guidelines is missing, i.e there is an issue with this link http://github.com/anitab-org/mentorship-android/blob/develop/docs/REPORTING_GUIDELINES.md which should redirect to a Reporting Guidelines file in the docs.

## Acceptance Criteria
### Update [Re

[2021-02-04 15:04] epicadk commented on #1065
Can you open a pr anyways so we can check help you out?

[2021-02-04 17:56] epicadk commented on #1061
Can I work on this?

[2021-02-04 20:07] dhruvmendiratta6 commented on #1065
@epicadk Already did

[2021-02-05 05:53] epicadk commented on #1065
Please link the issue to the pr.

[2021-02-05 07:39] vj-codes commented on #1061
@CodeChamp-SS @aakarshvats638 is anyone of you still interested to work on this?
@epicadk since they claimed the issue first, it'll be assigned to either one if they reply, but if there's no response you'll be assigned to this, sounds good?

[2021-02-05 09:54] dhruvmendiratta6 commented on #1065
It already shows up in linked pull requests

[2021-02-05 10:42] epicadk commented on #1065
Oops didn't see that sorry.

[2021-02-05 13:31] aakarshvats638 commented on #1061
I am working on another issue of this repo so I can't take this issue.

[2021-02-05 17:21] Sanika1999 commented on #1061
@vj-codes  @isabelcosta  Can I work on this?

[2021-02-05 17:49] Sanika1999 opened #1080 "Docs : Why use MVVM architecture missing"
**Describe the bug**
The why use MVVM architecture is missing in the documentation.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/mentorship-android/wiki/Tech-Stack
2. Scroll down to Why use MVVM architecture?

**Screenshots**
![image](https://user-images.githubusercontent.com/51399803/107069695-54671180-6808-11eb-9a84-8eeea0f189c0.png)

**Additional co

[2021-02-05 18:17] vj-codes commented on #1061
Assigning you @epicadk
Happy coding!
@Sanika1999 hey this issue isn't available since @epicadk claimed it first , do go through other available issues for a nice start:)

[2021-02-06 11:58] CodeChamp-SS commented on #1061
yea I was interested.. but it's ok if the issue has already been assigned

[2021-02-07 18:37] werainkhatri commented on #1028
I would like to work on this issue

[2021-02-07 18:40] aditmehta9 commented on #1028
Sure.

[2021-02-07 20:38] haran2248 commented on #1080
I am not able to clone the wiki locally.Is there any way to do this?Can you guide me?

[2021-02-07 20:48] Sanika1999 commented on #1080
Hi @haran2248 I guess you can clone it to your local machine using git clone https://github.com/anitab-org/mentorship-android.wiki.git

[2021-02-07 20:50] haran2248 commented on #1079
I think the problem has been fixed in the develop branch.Please go through the ReadMe file again

[2021-02-07 20:51] Sanika1999 commented on #1080
![image](https://user-images.githubusercontent.com/51399803/107159138-40f8a980-69b4-11eb-87b7-2b15e0581e06.png)
This is where I found it just scroll down on the page

[2021-02-08 06:31] haran2248 commented on #1080
Cool I work on this Thanks @Sanika1999

[2021-02-08 06:33] Sanika1999 commented on #1080
@haran2248 You have to be assigned this issue first try asking on zulip and someone will assign it to you

[2021-02-08 18:20] epicadk commented on #674
@isabelcosta I think prs linked to #1061 will solve this. what do you think?

[2021-02-08 19:43] aditmehta9 commented on #672
Thanks for noticing @epicadk it is present.

[2021-02-08 19:44] #672 closed

[2021-02-08 23:31] #1075 closed

[2021-02-08 23:33] #1074 closed

[2021-02-08 23:36] #1028 closed

[2021-02-09 03:43] epicadk commented on #777
Can I work on this?

[2021-02-14 21:23] vj-codes opened #1083 "Move docs from mentorship-android wiki to docusaurus"
## Description

**Is your feature request related to a problem? Please describe.**

As of now, the whole documentation for mentorship-android is in the wiki.

**Describe the solution you'd like**

Moving to docusaurus will be great - https://docusaurus.io/. Also this is the direction all AnitaB.org open source projects are heading to.

## Acceptance Criteria

- [ ] Move documentation to Docusaurus

[2021-02-14 21:24] vj-codes commented on #1083
I would like to work on this if the issue is approved :)

[2021-02-14 21:50] isabelcosta commented on #1083
yap @vj-codes 🤗  Will assign it to you!

[2021-02-15 09:11] vj-codes commented on #751
@aditmehta9 hey can you make this issue available again ?
Both linked PRs are not fixing this.

[2021-02-15 09:12] vj-codes commented on #1079
@aditmehta9 this is duplicate of #786 , thus the issue should be closed.
@varunvjha thank you for creating the issue :)

[2021-02-15 09:49] aditmehta9 commented on #1079
Thanks, for noticing I will close.

[2021-02-15 09:49] #1079 closed

[2021-02-15 09:51] aditmehta9 commented on #751
Sure. I have doubt does this [PR](https://github.com/anitab-org/mentorship-android/pull/1078) completes this issue?

[2021-02-16 17:34] epicadk commented on #1080
@haran2248 Welcome to the community. Do you still want to work on this?

[2021-02-16 17:43] haran2248 commented on #1080
Hey @epicadk Ill try to work on it.If you want you can also try to come up with a fix

[2021-02-16 17:51] epicadk commented on #1080
assigning you. Happy Documenting :).

[2021-02-17 07:13] kartikeysaran commented on #1058
Can i work on this ?

[2021-02-17 08:52] epicadk commented on #1058
Hello @kartikeysaran Welcome to the community. Please go through the contributing guidelines. It clearly mentions that you should not open a pull request for an issue that has not been assigned to you. It is okay since you are new to the community but please keep this in mind next time. Assigning you. Good luck :).

[2021-02-17 10:45] kartikeysaran commented on #1058
Okay , thanks will tc of that next time

[2021-02-17 10:49] kartikeysaran commented on #1053
Can i work on this issue ?

[2021-02-17 15:37] epicadk commented on #1053
Sure , but can you just use the delegator instead ? @kartikeysaran

[2021-02-18 18:30] epicadk commented on #756
I still think we shouldn't disable the button. If the user misses something we can display an error that will indicate they have misses filling up the particular field instead of letting the user figure out on their own what they have missed. Thoughts @vj-codes @isabelcosta

[2021-02-18 18:54] vj-codes commented on #756
@epicadk usually the button is enabled only after there's no error in the inputs filled. So can we first check all fields and until then it'll be disabled.
As a user I would really find it annoying if I click on register and then the error fills the screen so agree with you

[2021-02-18 19:02] epicadk commented on #756
Well I still think we shouldn't disable the button.
Can we add this to the mentorship system sync-up session agenda @isabelcosta ?

[2021-02-18 19:11] vj-codes commented on #803
Closing as issue is solved #836

[2021-02-18 19:11] #803 closed

[2021-02-18 19:48] isabelcosta commented on #756
@epicadk yes you can bring to sync up session, and also get feedback from design contributors in the community. Feel free to bring this to #design stream :)
I didn't fully think about this yet

[2021-02-18 19:52] #1058 closed

[2021-02-19 06:54] kartikeysaran commented on #1053
Okay i will use delegator

[2021-02-19 09:49] kartikeysaran commented on #1025
If this issue still not solved can i work on this ?

[2021-02-19 12:45] epicadk commented on #1025
I will discuss this in the mentorship session and then get back to you. You can take up any other issues in the mean time :).

[2021-02-19 16:07] kartikeysaran opened #1086 "Forgot password option In login menu"
**Is your feature request related to a problem? Please describe.**
Currently the application doesn't have a forgot password feature in login menu , this feature should be implemented asap

**Describe the solution you'd like**
a "forgot password" button should be displayed which on clicking shows a window where user can provide there registered email id and there after verification of the user prov

[2021-02-19 16:08] kartikeysaran commented on #1086
If this issue is verified i would like to work on this

[2021-02-19 16:12] kartikeysaran commented on #689
Is this issue open is yes i would like to work on this

[2021-02-19 16:47] vj-codes commented on #1086
@kartikeysaran it's valid but a duplicate of #780 also this feature needs to be implemented of backend first which is in progress so I'll close the issue , thank you for creating it :)

[2021-02-19 16:47] #1086 closed

[2021-02-19 17:00] epicadk commented on #689
I think we would need to implement this in the backend. Not sure why @mayburgos removed the label. @isabelcosta @vj-codes  can you confirm?

[2021-02-20 04:23] kartikeysaran commented on #740
Is this issue still available

[2021-02-20 04:28] kartikeysaran commented on #732
Can i work on this issue ?

[2021-02-20 04:30] kartikeysaran commented on #729
Is this issue still available

[2021-02-20 04:31] epicadk commented on #732
This issue is not available. Please find one which is marked `status : Available`

[2021-02-20 04:34] kartikeysaran commented on #704
This issue should be updated as currently we have removed the Travis CI from our code

[2021-02-20 04:36] epicadk commented on #729
it is however it makes no sense to have this open if we are going to shift to kotlin co-routines #399 . Pinging @vj-codes @isabelcosta.

[2021-02-20 04:37] epicadk commented on #704
@kartikeysaran nice catch. @devansh-299 can you update the issue?

[2021-02-20 04:40] kartikeysaran commented on #729
Oh okay then we should close this issue

[2021-02-20 04:46] epicadk commented on #729
I'll leave that to the maintainers. But yes I think we should close either one the the issues.

[2021-02-20 04:51] kartikeysaran commented on #980
i would like to work on this

[2021-02-20 04:53] epicadk commented on #980
Assigning you . Good Luck. : ) @kartikeysaran

[2021-02-20 04:54] kartikeysaran commented on #865
This can be a good first issue and if no one is working on this i will update this quick

[2021-02-20 04:55] epicadk commented on #980
@vj-codes should I remove the status available or not? 😅

[2021-02-20 04:56] kartikeysaran commented on #864
Issues #865 and #864 are same on of these can be closed @vj-codes

[2021-02-20 04:56] epicadk commented on #865
It has not been marked as a good first issue. Do you think it should be marked as first timers only?

[2021-02-20 04:58] kartikeysaran commented on #865
Yes it should be

[2021-02-20 04:58] epicadk commented on #864
Nope they aren't you can check again. Although I think they were separated for the purpose of OSH.

[2021-02-20 05:03] kartikeysaran commented on #864
#864 is for filtering member using Interests and #865 is for location i think both of them can be merged as we can create a toast message "No result found" irrespective of the filter what do you say ?

[2021-02-20 05:17] vj-codes commented on #980
@epicadk yes

[2021-02-20 05:19] vj-codes commented on #864
@kartikeysaran yes they are almost the same but they were separated for OSH

[2021-02-20 05:32] kartikeysaran commented on #864
@vj-codes Oh okay

[2021-02-20 12:06] epicadk opened #1087 "Feature : Remove isDone from task model"
### Is your feature request related to a problem? Please describe.

[This](https://github.com/anitab-org/mentorship-backend/pull/909#issuecomment-782606221) pull request open on the backend remove is_done from the api

### Describe the solution you'd like

Remove is done from the user task model

### Describe alternatives you've considered

You don't have to remove isDone completely just calculate

[2021-02-20 14:18] epicadk opened #1088 "Feature: Use jetpack navigation component"
**Is your feature request related to a problem? Please describe.**

Currently we have a custom implementation for navigation.

**Describe the solution you'd like**

Use jetpack Navigation component.

**Additional context**

It is a very well documented library and using it would also reduce bugs due to navigation in our code.

[2021-02-20 14:28] aditmehta9 commented on #740
No, this issue is assigned.

[2021-02-20 16:34] CodeWithSouma opened #1089 "The application is crashing while opening"
**The application is crashing while opening**

![20210220_220129](https://user-images.githubusercontent.com/38830139/108602315-5d8add80-73c7-11eb-8a53-075d04feca20.gif)

**Smartphone (please complete the following information):**
 - Device:  MI Note 3
 - OS: MIUI 8.5

[2021-02-20 18:06] epicadk commented on #1089
Can you post the android version?
If it is less than 7.0 then it is a know issue. #430.

[2021-02-20 18:27] epicadk commented on #1089
I looked up the device you mentioned and noticed the latest version is below android 7. Closing this issue as it is a duplicate of #430. If you think they are not related I will open it again.

[2021-02-20 18:27] #1089 closed

[2021-02-21 04:20] CodeChamp-SS commented on #1087
I would love to take up this issue if it's still available :-)

[2021-02-21 04:37] epicadk commented on #1087
You'll have to wait till one of the maintainers approves the issue. cc @isabelcosta @vj-codes

[2021-02-21 08:14] CodeChamp-SS commented on #1087
yea i know np

[2021-02-21 10:00] vj-codes commented on #1087
Issue valid as discussed on backend

[2021-02-21 10:00] vj-codes commented on #1087
Assigned you @CodeChamp-SS
Happy coding!

[2021-02-21 18:20] CodeChamp-SS commented on #1087
@vj-codes done :-)

[2021-02-21 22:04] isabelcosta commented on #704
Actually, at the time it was travis CI, changing the description not mentioning travis would not be true. This issue still represents the major priority which is having tests passing.

[2021-02-22 07:07] kartikeysaran opened #1092 "Formatting Strings.xml structure"
**Is your feature request related to a problem? Please describe.**
Currently the string in strings.xml are not segregated / arranged , for the sake of convenience it can be segregated / arranged on this basis of alphabetical order

**Describe the solution you'd like**
Formatting the strings.xml on the basis of alphabetical order

**Describe alternatives you've considered**
We can also segregate th

[2021-02-22 07:15] kartikeysaran opened #1093 "Currenly hardcoded dimensions are being used in most of the Layouts"
**Describe the bug**
Most of the layouts are currently using hardcoded dimensions

**Solution**
Using dimensions from dimens.xml

[2021-02-22 07:44] epicadk commented on #1092
I think arranging them according to subgroups is a better idea.

[2021-02-22 07:49] epicadk commented on #1093
I think this would come under redesign of all the screens and there are already issues open for the same. Closing this for now. @vj-codes if you think is different please re-open it. : )

[2021-02-22 07:49] #1093 closed

[2021-02-22 08:05] jeeva2812 commented on #1092
I am willing to work on this. Can you please assign it to me? @epicadk  @kartikeysaran

[2021-02-22 08:11] epicadk commented on #1092
@jeeva2812 Assigning you. Good luck. : )

[2021-02-22 09:27] jeeva2812 commented on #1092
I have given a PR. Please do review @epicadk  @kartikeysaran

[2021-02-22 10:10] DhaneshShetty commented on #1088
Would like to work on this, once made available.

[2021-02-22 10:17] epicadk commented on #1088
Not sure if you can claim issues before they are made available.

[2021-02-22 12:28] devansh-299 commented on #704
@epicadk @isabelcosta if Travis CI has been removed and if needed, I can update the description of this issue to meet the current status of UI tests. Please let me know if any changes are to be made.

[2021-02-22 16:45] vj-codes commented on #689
@epicadk yes this is a backend issue , `backend issue` label was removed because the label was going to be deleted from the list of all labels and as you can see it doesn't exist now.
[#170](https://github.com/anitab-org/mentorship-backend/issues/170) deals for the same on backend.

[2021-02-22 22:43] isabelcosta opened #1095 "Delete .github/ISSUE_TEMPLATE folder"
## Description

As a org admin / maintainer,
I need to maintain 1 version of issue templates used in the organization,
so that I can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the repositor

[2021-02-23 00:06] #856 closed

[2021-02-23 06:05] vj-codes commented on #1095
@isabelcosta what about pull request template?

[2021-02-23 11:19] vj-codes commented on #1083
Update : still working on it , will create a PR after 26th feb

[2021-02-23 11:19] vj-codes commented on #1080
@haran2248 any updates ?

[2021-02-23 11:52] kartikeysaran commented on #714
I am working on this issue

[2021-02-23 20:19] isabelcosta commented on #1095
@vj-codes the pull request I am delaying for now, because we have little differences between repos in their checklist, for example on backend we have a check item regarding updating swagger documentation, on android we a item regarding kotlin docs. So for now, we don't need to touch that file. Thank you for bringing this up!

[2021-02-23 21:30] #1024 closed

[2021-02-23 21:57] #953 closed

[2021-02-24 07:10] epicadk opened #1098 "Bug : fix login and signup tests to expect buttons disabled."
### **Describe the bug**

Currenlty, The sign up and login tests expect that the signup and login buttons are enabled even when some fields are empty. However as discussed in the mentorship session the buttons should be disabled when the user has not filled up all the required fields.
**To Reproduce**

1. Run the existing ui tests.

### **Expected behavior**

Tests should take into account this be

[2021-02-24 16:22] CodeChamp-SS commented on #755
@vj-codes I would love to work on this issue if its still available :-)

[2021-02-24 16:59] epicadk commented on #755
I think migrating to viewpager 2 should also fix this issue, for which #695 is open . Not a 100% sure though.

[2021-02-24 17:37] kartikeysaran commented on #1088
Can i work on this issue

[2021-02-24 19:51] epicadk commented on #1088
@isabelcosta since it's a possible future feature can it be assigned now or should we wait?

[2021-02-24 20:34] isabelcosta commented on #1088
@vj-codes what was your thought behind possible future feature?
All I know is that it isn't a priority, so it can be worked on now, but in terms of reviews, it will have less priority over other tasks. So if we assign, we should assign first to @DhaneshShetty

[2021-02-24 21:36] vj-codes commented on #1088
@isabelcosta what I meant was the navigation currently is alright for the MVP, we do have some features like forgot password, feedback email, resend email for verification, upload profile, improving ui, passing the tests that are necessary as compared to jetpack navigation.
I'm not saying this can't be done now but  as a user I wouldn't have a prblm with the current navigation but it'll be a huge

[2021-02-25 02:27] CodeChamp-SS commented on #755
ya i was also thinking the same, viewpager 2 should fix this, but i'll have to try and see

[2021-02-25 02:28] CodeChamp-SS commented on #755
i can take up #695 too if it's available

[2021-02-25 04:31] epicadk commented on #755
You can't take both. We'll see if migrating to viewpager2 fixes this if not I'll assign you.

[2021-02-25 04:41] epicadk commented on #755
Can't assign both to you sorry. I'll assign this one. Happy coding : ).

[2021-02-25 04:46] epicadk commented on #1088
I agree with @vj-codes  although I do want to point out that if we want to add more tests to android then jetpack navigation is easier to test.

[2021-02-25 09:06] CodeChamp-SS commented on #755
@epicadk @vj-codes i've also updated the gradle version and the kotlin version along with the other dependency changes required to migrate to viewpager2 as they were too old so is it fine ? or shall I let them be same ?

[2021-02-25 13:06] CodeChamp-SS commented on #755
@epicadk @vj-codes please review the pr :-) I think now the swiping b/w navigation tabs works smoothly

[2021-02-26 03:05] CodeChamp-SS commented on #864
@vj-codes I would love to take up this issue if it's available :-)

[2021-02-26 03:27] CodeChamp-SS commented on #419
@aditmehta9 can you please assign it to me ? I would love to work on this issue

[2021-02-26 10:40] aditmehta9 commented on #419
Sure

[2021-02-26 14:22] epicadk commented on #864
I think this can be marked as a good first issue @vj-codes what say?

[2021-02-26 15:34] CodeChamp-SS commented on #419
@aditmehta9 done. Please review the pr

[2021-02-26 16:32] CodeChamp-SS commented on #419
I also noticed a bug while testing this pr : I've no pending requests but still on the home page it shows 1 Pending request which is also visible in the demo video. I am not able to reproduce it as of now but there may be a bug regarding this.

[2021-02-28 08:12] kartikeysaran commented on #787
If this issue is still open , Can i work on this ?

[2021-02-28 08:15] kartikeysaran commented on #434
Can i work on this ??

[2021-02-28 08:33] kartikeysaran opened #1103 "Adding a get location button in EditProfile Fragment"
![Capture](https://user-images.githubusercontent.com/55613721/109412261-f7a4e400-79cc-11eb-8ce9-27907e0fe650.JPG)
**Is your feature request related to a problem? Please describe.**
In EditProfileFragment currently we have to enter location manually , we can place a get location button 📍 next to it which can automatically detect the location of the user

**Describe the solution you'd like**
Adding

[2021-02-28 08:38] epicadk commented on #434
Removing status available as this needs to be implemented on the backend first.

[2021-02-28 08:38] epicadk commented on #787
Sorry a pr has already been created. Removing status available

[2021-02-28 08:41] epicadk commented on #1103
There are other issues related to the edit profile fragment that have to be solved before this can be tested to putting this on hold.
For example : - https://github.com/anitab-org/mentorship-backend/issues/596

[2021-02-28 08:44] epicadk commented on #1103
Also since this is a new feature it needs to be approved by @isabelcosta

[2021-02-28 13:17] CodeChamp-SS commented on #695
@epicadk @vj-codes in issue #755 i've migrated viewPager to viewPager2 so is this issue still available to be worked upon ? If yes i would love to take it up :-)

[2021-02-28 15:32] isabelcosta commented on #1088
agree with your points, let's leave this for now and focus on bigger issues :)
cc @vj-codes @epicadk

[2021-03-01 04:29] epicadk commented on #695
This can be put on hold till the Viewpager2 pr is merged.

[2021-03-01 05:18] CodeChamp-SS commented on #695
hmm ok.

[2021-03-01 09:53] kartikeysaran commented on #615
Can i work on this issue !

[2021-03-01 09:53] kartikeysaran commented on #668
Can i work on this issue !

[2021-03-01 09:54] kartikeysaran commented on #695
Can i work on this

[2021-03-01 10:51] epicadk commented on #695
This issue is on hold. Please find one that is marked as status available.

[2021-03-01 18:46] epicadk commented on #668
I think we already have a similar issue with a pr open #756. As a similar action item was assigned to @vj-codes I will leave the decision to her, but I think that working on this issue at this stage would only cause merge conflicts.

[2021-03-01 19:11] vj-codes commented on #668
I think we can close this as the PR linked above checks if fields are filled or not , however the validities are checked only after the button is enabled and clicked.
What we discussed in the mentorship session is to simultaneously validate them and a separate issue will be opened for the same later , so do you agree to close this @epicadk?

[2021-03-02 04:02] epicadk commented on #668
Yes makes sense.

[2021-03-02 09:28] #668 closed

[2021-03-02 15:20] AkinchanKushwaha commented on #1095
Hi, @Isabel-S  I would like to work on this issue. : )

[2021-03-02 15:24] vj-codes commented on #1095
Assigning you @AkinchanKushwaha
Happy documenting!

[2021-03-02 17:40] vj-codes commented on #796
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:40] #796 closed

[2021-03-02 17:40] vj-codes commented on #808
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:40] #808 closed

[2021-03-02 17:40] vj-codes commented on #810
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:40] #810 closed

[2021-03-02 17:41] vj-codes commented on #811
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:41] #811 closed

[2021-03-02 17:44] vj-codes commented on #740
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:44] #740 closed

[2021-03-02 17:45] vj-codes commented on #901
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:45] #901 closed

[2021-03-02 17:48] vj-codes commented on #779
Closing as the issue no longer appears in the current apk.
![login ss](https://user-images.githubusercontent.com/60894542/109691544-8ff9bf00-7bad-11eb-9b3d-76412a99a11a.jpg)

[2021-03-02 17:48] #779 closed

[2021-03-02 17:51] vj-codes commented on #797
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:51] #797 closed

[2021-03-02 17:51] vj-codes commented on #783
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:51] #783 closed

[2021-03-02 17:52] vj-codes commented on #768
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:52] #768 closed

[2021-03-02 17:53] vj-codes commented on #769
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:53] #769 closed

[2021-03-02 17:54] vj-codes commented on #767
Closing as it was discussed to close all  redesign UI related issues and PRs from OSH

[2021-03-02 17:54] #767 closed

[2021-03-02 18:23] vj-codes commented on #434
@isabelcosta @epicadk I had created this issue back during GCI 2019 when I wasn't familiar with the backend at all hah
so will put it on hold as we have more important issues to solve first :)

[2021-03-02 20:12] isabelcosta commented on #1083
@vj-codes will unassign due to inactivity and also as part of past ambassadors need to do more work to receive the certificate, and @Frenzyritz13 signed up to finish this up.

[2021-03-03 09:58] epicadk opened #1106 "Feature : Dependency injection with dagger/hilt"
**Is your feature request related to a problem? Please describe.**

As someone who wants to write tests for the app dependency injection with hilt/dagger will make it much easier as explained [here](https://softwareengineering.stackexchange.com/questions/140992/is-dependency-injection-essential-for-unit-testing#). It is also listed under best practices according to the [docs](https://developer.and

[2021-03-03 09:59] epicadk commented on #1106
@isabelcosta opened the issue as suggested in yesterdays open session. I can take this up : ).

[2021-03-03 12:28] CodeChamp-SS commented on #1106
@epicadk I can take up this issue if it's approved and available, I've also done research on implementing hilt in the app during OSH :-)

[2021-03-03 12:56] epicadk commented on #1106
As I also wanted to work on this it is kind of a conflict of interest so I'll leave the decision with the maintainers @vj-codes @isabelcosta

[2021-03-04 08:22] justdvnsh commented on #1106
Well, I was also wondering to take up this issue @epicadk.

[2021-03-04 08:25] justdvnsh commented on #1072
@vj-codes I'd agree with @epicadk here, on this one. I'd like to work on this, if this issue is made available

[2021-03-04 08:27] justdvnsh commented on #704
@isabelcosta @epicadk Any updates on this ? Let's get this over with !

[2021-03-04 08:28] kartikeysaran opened #1107 "Closing the Feedback Activity on successfull feedback submission"
Currently on successful feedback submission there is a toast message stating Successfully submitted Feedback which is very obscure , rather we can close the Feedback Activity with a dialog showing Success feedback submission making it more clear for the user that the response has been recorded

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Feedback Activity
2. Fill in all the details

[2021-03-04 08:30] kartikeysaran commented on #1106
This will be a nice feature to add ! @epicadk 🙌

[2021-03-04 08:34] epicadk commented on #704
Yes the prs have been created they only need to be reviewed.

[2021-03-04 08:49] vj-codes commented on #1106
Ideally, the issue is assigned to the contributor who claimed it first , ie @epicadk
But since this is a huge issue and will probably take more time and refactoring maybe it can be divided into parts
I'm not much aware but it was suggested that hilt is a better option than dagger long back
So is it possible to divide this issue? @epicadk

[2021-03-04 09:10] epicadk commented on #1106
It would be great if we can divide it into parts however I am not sure how we can do that. Even if we do manage to do that I'm not sure we'll be able to work on these parts simultaneously. Does anyone have any suggestions? @justdvnsh @CodeChamp-SS

P.s hilt has only recently launched its beta so if it wouldn't have been a good idea to use hilt before as alpha APIs are constantly changing and aren'

[2021-03-04 09:17] justdvnsh commented on #1106
@vj-codes  Undoubtedly, dagger hilt is the way to go, since it makes DI and testing a breeze all while maintaining the security issues. But I agree with @epicadk, I don't think that It could be divided into multiple parts. Most of what we can do, it to create an issue, for simply adding the library, and then other issue for refactoring the whole app. But that would be cumbersome. Since, once we st

[2021-03-04 09:23] vj-codes commented on #1072
@epicadk I think Isabel had said a few comments about this issue in one of the open sync up session , don't remember exactly , what's the state of this issue ?

[2021-03-04 09:27] epicadk commented on #1072
I don't think we discussed this issue in the sync up session. Will bring it up in the next one and let you know.

[2021-03-04 09:31] justdvnsh commented on #704
@epicadk Then, I'll review them in the coming days. Let's get this issue over with, since this issue has been opened for way too long now !

[2021-03-04 09:31] CodeChamp-SS commented on #1106
@vj-codes I agree with @epicadk and @justdvnsh  that it would't be easy to divide the issue into pieces. I was eager to work on this issue as I had also done research on this topic in OSH and had looked into implementing hilt in the app, but it's ok if the issue has to be assigned to one who claimed it first :-)

[2021-03-04 09:33] justdvnsh commented on #1072
@epicadk cool !

[2021-03-04 09:41] epicadk commented on #704
I'll link the pr's here #817 #1099

[2021-03-04 10:10] justdvnsh commented on #704
Thanks. Will update about them on Zulip.

[2021-03-04 13:20] epicadk commented on #1107
Please limit the size of the image so we can view it properly on all devices. You can use the markdown `img` tag.

[2021-03-04 13:23] epicadk commented on #1107
Marking this as available as it isn't exactly a new feature.

[2021-03-04 21:26] #1095 closed

[2021-03-05 07:06] AkinchanKushwaha commented on #1107
I would like to work on this.

[2021-03-05 07:51] epicadk commented on #1107
You have already contributed to the repository before so this cannot be assigned to you as it is marked as `first timers only`

[2021-03-05 09:36] DhaneshShetty commented on #685
@vj-codes Can I take this up?

[2021-03-06 10:03] kartikeysaran commented on #685
@vj-codes @epicadk i have created a pr #1109 which saves the user profile locally once it is merged the email address can be fetched from there !

[2021-03-06 10:05] kartikeysaran commented on #777
Can i work on this issue if available ?

[2021-03-06 10:19] epicadk commented on #777
I just added a review to your latest pr and have requested some changes. Please make those first : ).

[2021-03-07 07:37] kartikeysaran commented on #704
Reviewed the PR's LGTM !

[2021-03-07 09:35] CodeChamp-SS opened #1110 "After refreshing any tab in Requests Page, the respective tab should be displayed"
### Describe the bug
On refreshing through either past or all tab in the requests page, the user is redirected to the pending tab (as seen in the video), which shall not happen.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Requests page'
2. Swipe down to refresh either PAST or ALL tab
3. See the problem

### Expected behavior
The same tab should be displayed after refreshing too.

[2021-03-07 09:35] CodeChamp-SS commented on #1110
I would like to take up this issue if it's approved.

[2021-03-07 09:58] kartikeysaran commented on #777
Until the pr #1109 gets reviewed can i take this issue up !?

[2021-03-07 18:33] CodeChamp-SS commented on #777
@kartikeysaran I think you'll have to first make the requested changes in your previous pr, then only you'll be assigned another issue :-)

[2021-03-07 18:40] CodeChamp-SS commented on #777
@epicadk @rpattath I would love to take up this issue if it's available

[2021-03-08 15:34] Frenzyritz13 commented on #1083
Update on this: There are some errors while starting the server for testing. Working on that.

[2021-03-08 17:18] epicadk commented on #1083
What server are you talking about?

[2021-03-09 20:11] isabelcosta commented on #557
So as discussed in Mentorship System Sync Up session, we don't need this, as the Terms and Conditions includes the requirement that the user has to be above 13 years old :) https://anitab.org/terms-of-use/
Thank you @gaurivn @epicadk @vj-codes 🙌🏾 for your help here! It's always a pleasure working with you all.

[2021-03-09 20:12] #557 closed

[2021-03-10 21:04] AkinchanKushwaha commented on #1103
Hi, can I work on this?

[2021-03-10 23:00] #1061 closed

[2021-03-10 23:03] #758 closed

[2021-03-10 23:06] #923 closed

[2021-03-10 23:09] #755 closed

[2021-03-11 00:29] kartikeysaran commented on #1103
The issue is on hold please wait until the issue gets approved @AkinchanKushwaha

[2021-03-11 18:23] vj-codes commented on #1080
Unassigning @haran2248 due to inactivity.

[2021-03-14 06:14] Frenzyritz13 commented on #1083
When we start running and it gets hosted on the local port. Almost done though. Should create a pull request in a couple of days.

[2021-03-14 16:55] #770 closed

[2021-03-14 16:58] #1087 closed

[2021-03-16 20:10] epicadk commented on #674
Closing this as #1061 was merged.

[2021-03-17 08:27] #674 closed

[2021-03-20 12:52] #1065 closed

[2021-03-20 13:00] #792 closed

[2021-03-20 13:03] #756 closed

[2021-03-20 14:12] isabelcosta commented on #1083
@Frenzyritz13 yes, please create the PR so we can review :)

[2021-03-20 17:30] Frenzyritz13 commented on #1083
Working on it. Having a little trouble with the branches. Will keep you updated.

[2021-03-27 23:25] isabelcosta opened #1113 "Add all-contributors bot configuration"
## Description

As a maintainer,
I need to configure [all-contributors](https://allcontributors.org/) bot,
so that I can better recognize contributors and leaders of this project.

- https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]
- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration
- [ ] Add first contributors

[2021-03-27 23:31] #1113 closed

[2021-03-27 23:32] isabelcosta commented on #1113
@all-contributors please add @isabelcosta for code, maintenance, test, doc and design

[2021-03-27 23:36] isabelcosta commented on #1113
@all-contributors please add @vj-codes for maintenance and design

[2021-03-27 23:39] isabelcosta commented on #1113
@all-contributors please add @devkapilbansal for maintenance, test, review, userTesting

[2021-03-27 23:41] isabelcosta commented on #1113
@all-contributors please add @epicadk for code, test, review and userTesting

[2021-03-27 23:43] isabelcosta commented on #1113
@all-contributors please add @gaurivn for maintenance, review

[2021-03-27 23:46] isabelcosta commented on #1113
@all-contributors please add @vj-codes for review and userTesting

[2021-03-30 16:13] vj-codes opened #1121 "Research/Brainstorm about Mentorship-System redesign"
## Description
As a designer,
I need to understand the process and progress of designing Mentorship System.

## Acceptance Criteria
### Update [Required]
- [ ] Links to any mocks or documentation with respect to design should be mentioned.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2021-03-30 16:14] vj-codes commented on #1121
Self assigning myself as discussed with Isabel .

[2021-04-03 06:44] unc0ded commented on #1107
I'm new here, I'd like to work on this.

[2021-04-03 08:18] epicadk commented on #1107
assigned 👍🏼 @unc0ded

[2021-04-04 12:43] isabelcosta commented on #1083
@Frenzyritz13 do you need any help?

[2021-04-05 06:01] Frenzyritz13 commented on #1083
Yes, I am stuck at the last step I think. Give me a couple of more days. I should be able to tell you exactly what's going wrong.

[2021-04-05 06:24] vj-codes commented on #1083
@Frenzyritz13 do update your progress every 3 days as mentioned in the community guidelines

[2021-04-05 15:13] unc0ded commented on #1050
[Spotless](https://github.com/diffplug/spotless/tree/main/plugin-gradle) could be used to set up formatting for kotlin (using ktlint) and also XML (using the prettier plugin). Spotless helps configure these easily. And github actions can be configured to run the auto-formatter.

[2021-04-05 15:40] epicadk commented on #1050
I'll change the issue description would you like to work on it?

[2021-04-05 15:48] unc0ded commented on #1050
Sure, I can work on it.

[2021-04-05 18:58] #957 closed

[2021-04-05 19:01] #857 closed

[2021-04-05 19:03] #789 closed

[2021-04-06 13:34] unc0ded commented on #1050
Hi @epicadk just wanted to give you an update:
Since kotlin code style advises against wildcard imports, kotlin synthetic forms a major part of the refactoring needed. I think it would be better if #1047 (PR #1051) was first merged as it would save me hundreds of lines of manually importing each xml element in every activity/fragment.

[2021-04-06 14:06] epicadk commented on #1050
You can disable wildcard imports for kotlin synthetic.

[2021-04-06 14:22] unc0ded commented on #1050
Resolved it. Thanks!

[2021-04-07 18:50] epicadk opened #1124 "Bug : Remove Jcenter"
### Is your feature request related to a problem? Please describe.

Jfrog recently announced the deprecation and upcoming retirement of JCenter.

### Describe the solution you'd like

Remove Jcenter as a repository

### Additional context

https://developer.android.com/studio/build/jcenter-migration

[2021-04-08 18:37] epicadk commented on #1124
High priority issue.

[2021-04-08 18:52] epicadk commented on #1124
Kinda conflicted here. Seems like a good first issue but we also need to get it fixed soon.

[2021-04-09 14:50] Frenzyritz13 commented on #1083
Hey, apologies for missing out on this guideline.
My progress right now is just sorting through the different links and documents and making sure that the hierarchy of document makes sense.

[2021-04-10 05:39] epicadk opened #1125 "Add link to the mentorship project roadmap to Readme"
### Is your feature request related to a problem? Please describe.

The roadmap contains the progress and the goals of the project

### Describe the solution you'd like

Add the roadmap link to Readme. The project is at the organization level.

[2021-04-11 05:10] ManishPanwar556 commented on #1092
@epicadk I want to work on this issue, as I am a beginner in open source contribution please give me a chance to work on this issue

[2021-04-11 05:16] kartikeysaran commented on #1092
Just Make sure you go through #1094 once

[2021-04-11 05:18] ManishPanwar556 commented on #1092
@kartikeysaran I have to sort the strings.xml file by name only?

[2021-04-11 05:38] ManishPanwar556 commented on #1092
Do I have to sort them in groups also ?@epicadk

[2021-04-11 05:44] ManishPanwar556 commented on #1092
@kartikeysaran I found a plugin AndroidXmlSorter through which we can sort the strings.xml by its name

[2021-04-11 05:49] epicadk commented on #1092
@ManishPanwar556 assigning you. Good luck.

[2021-04-11 05:50] ManishPanwar556 commented on #1092
do I have to add them in a group also?

[2021-04-11 06:03] ManishPanwar556 commented on #1092
I have sorted the strings.xml by its name @epicadk

[2021-04-11 06:05] epicadk commented on #1092
Cool. Can you open a pr ?

[2021-04-11 11:56] #1092 closed

[2021-04-11 11:58] #785 closed

[2021-04-11 12:01] #1107 closed

[2021-04-11 12:18] isabelcosta commented on #791
Will close this for now

[2021-04-11 12:18] #791 closed

[2021-04-11 12:19] isabelcosta commented on #981
Will close this for now, however we still have to think about the Admin view of the app.
cc @anitab-org/mentorship-maintainers

[2021-04-11 12:19] #981 closed

[2021-04-11 12:24] #765 closed

[2021-04-11 12:33] isabelcosta commented on #678
Closing this as it's not a feature we're thinking of having now (read this comment https://github.com/anitab-org/mentorship-android/pull/823#issuecomment-817300069)

[2021-04-11 12:33] #678 closed

[2021-04-11 12:40] isabelcosta commented on #98
Closing due to https://github.com/anitab-org/mentorship-android/pull/743#issuecomment-817301252

[2021-04-11 12:40] #98 closed

[2021-04-11 13:15] ManishPanwar556 commented on #1110
I would like to work on this issue @epicadk

[2021-04-11 14:13] epicadk commented on #1110
Sorry, @ManishPanwar556 it's a first-timers-only issue and you have already contributed to the repository before.

[2021-04-13 13:36] ravi5175 commented on #1080
Can i work on this issue??

[2021-04-13 13:39] devkapilbansal commented on #1080
Assigning you 👍

[2021-04-13 13:41] devkapilbansal commented on #1080
@ravi5175 this issue is marked as 'first-timers-only'.
Since you already opened a PR on this repository you can't work on this issue.
Please look for other issues

[2021-04-13 13:46] ravi5175 commented on #1103
Can i work on this issue??

[2021-04-13 15:24] Frenzyritz13 commented on #1083
I am mostly done with all the sorting of the documents in the right order. Will create a request before my next update.

[2021-04-14 12:55] aditmehta9 commented on #866
@ritvij14 are you still working on this issue?

[2021-04-14 13:32] vj-codes commented on #866
@aditmehta9 #884 was created by @ritvij14 but then it was closed by the author and no update was made since then so making the issue available again
@aditmehta9 thank you for asking the update:)

[2021-04-14 14:18] aditmehta9 commented on #748
@aakarshvats638 are you still working on this issue?

[2021-04-14 14:24] aditmehta9 commented on #710
@somayaj do you still want to work on this issue?

[2021-04-14 21:30] #1053 closed

[2021-04-14 21:31] #794 closed

[2021-04-15 06:37] #980 closed

[2021-04-17 13:16] isabelcosta commented on #1083
@Frenzyritz13 can you create the PR, in that way we can give you feedback already :) I really don't mind in progress PRs :)

[2021-04-17 13:20] isabelcosta commented on #776
@justdvnsh I'm assigning you again, because of this comment https://github.com/anitab-org/mentorship-android/pull/977#issuecomment-821813610
If you can't work on this it's 100% fine, just let us know how it's going. Happy to help!

[2021-04-19 15:30] justdvnsh commented on #776
@epicadk Here I wanted to ask something. When implementing the TaskDetail Activity to show the comments, do we mark the task as completed in the detail activity ?? Currently, the tasks are being shown as a list along with checkboxes, to mark them as complete.

[2021-04-20 16:51] Marvel999 commented on #1124
Hello sir/mam,
Can I work on this issue?
Thank you

[2021-04-20 16:56] Marvel999 commented on #1110
I would like to work on this issue @epicadk

[2021-04-20 17:37] epicadk commented on #1124
Sure, No need for sir / mam.

[2021-04-20 17:54] Marvel999 commented on #1124
@epicadk Thank you, What should I do only remove Jcenter() from Project build.gradle file and also remove the dependency(related to Jcenter()) from Module build.gradle file if any code is dependent(come error) on that dependency what should I do with that code(error).

[2021-04-20 18:06] epicadk commented on #1124
Replace it with mavenCentral()

[2021-04-20 18:42] Marvel999 commented on #1124
@epicadk ya done thank you, Please review PR
https://github.com/anitab-org/mentorship-android/pull/1127

[2021-04-20 20:02] epicadk commented on #1110
Hi sorry, this is a `first timers only` issue and you have already contributed to this repository before. Please find another issue to work on.

[2021-04-21 10:25] Marvel999 commented on #1110
ok

[2021-04-21 10:30] Marvel999 commented on #778
@epicadk can I work on this issue? please assign.

[2021-04-21 11:25] Marvel999 commented on #685
@vj-codes @epicadk can I work on this issue?

[2021-04-21 11:38] epicadk commented on #778
Sorry the contributor has reopened the pr.

[2021-04-21 13:03] Marvel999 commented on #685
@epicadk Thank you can you provide me project structure related documents.

[2021-04-21 15:55] epicadk commented on #685
I'm sorry. Not aware of any. I think @isabelcosta would be able to help you out. cc @anitab-org/mentorship-maintainers

[2021-04-21 19:50] Frenzyritz13 commented on #1083
That would be great. I will create an inprogress PR tomorrow and keep completing it. Thank you!

[2021-04-22 05:41] Marvel999 commented on #685
@isabelcosta @anitab-org/mentorship-maintainers Please provide me so the resources to understand the project better. @epicadk can I store user information in Sharedpreferences?

[2021-04-22 05:55] epicadk commented on #685
Sure you could. Also for the resources you may have better luck asking on zulip.

[2021-04-22 06:29] Marvel999 commented on #685
ok

[2021-04-22 12:44] vj-codes commented on #685
@Marvel999 how about disabling the email field and just displaying the id which we can take from the profile ?
This was suggested in the comments above and sounds like a good way
If you have any suggestions you can share them here or we have a mentorship project session on this Saturday :)

[2021-04-22 17:42] Marvel999 commented on #685
ya sounds good let me check the code. Where I will link to the mentorship session?

[2021-04-22 17:43] epicadk commented on #685
Zulip

[2021-04-22 17:44] Marvel999 commented on #685
Cool

[2021-04-22 20:30] Marvel999 commented on #685
@epicadk @vj-codes Done Please review my PR.

[2021-04-23 03:30] amlannandy commented on #866
@epicadk Hello! Can you please assign this to me?

[2021-04-23 03:38] epicadk commented on #866
@amlannandy done. Good luck.

[2021-04-23 06:25] amlannandy commented on #866
Thanks!

[2021-04-23 17:21] justdvnsh opened #1130 "Member Screen does not work after searching for a user"
### Describe the bug
When we search for a user in the Member Fragment, and then go back to the Member screen, it does not load the members automatically.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Members Screen
2. Click on Search
3. Search someone
4. Close the search screen

### Expected behavior
After the search screen is closed, the members should be loaded automatically.

###

[2021-04-23 17:32] vj-codes commented on #1130
@justdvnsh thank you for creating this issue , however it's a duplicate of #594 so will close this:)

[2021-04-23 17:32] #1130 closed

[2021-04-25 11:17] vj-codes commented on #1083
@Frenzyritz13 unassigning due to inactivity due to[ this comment](https://github.com/anitab-org/bridge-in-tech-web/issues/186#issuecomment-826306811)

[2021-04-25 11:27] Marvel999 commented on #1103
@epicadk Can I work on this issue?

[2021-04-25 11:33] Frenzyritz13 commented on #1083
Hey, can I claim it again if there is no activity?

[2021-04-25 12:25] epicadk commented on #1103
It's on hold. Find issues marked with status available

[2021-04-25 16:18] vj-codes commented on #1083
@Frenzyritz13 hey sure but can you create a draft PR at least with your progress so it won't be considered as inactive

[2021-04-26 09:24] amlannandy commented on #866
@epicadk Hey. I might not be able to work on this right now due to some other engagements. Unassigning myself so that others interested can pick it up.

[2021-04-26 17:40] ravi5175 commented on #793
@vj-codes can i work on this issue??

[2021-04-26 17:41] devkapilbansal commented on #793
Sure @ravi5175

[2021-04-26 18:00] ravi5175 commented on #793
thanks @devkapilbansal

[2021-04-29 12:09] ravi5175 commented on #793
@devkapilbansal i have completed the test cases but need some more time to make a pull request

[2021-05-06 13:07] ravi5175 opened #1131 "Realign "Add Task" Floating Action Button on Relation TASKS Tab"
### Describe the bug
"Add Task" FAB(Floating Action Button) is used to add task by the Mentor for the Mentee in Mentorship-Android Application,
currently, Task tab need to scrolled to access Add Task FAB.

### To Reproduce
Steps to reproduce the behavior:
1. Login Mentorship-Android App
2. Select Relation
3. Select Task Tab
4. Scroll down to access Add Task FAB

### Expected behavior
"Add Task" FA

[2021-05-06 17:36] epicadk commented on #1131
Would you like to work on this?

[2021-05-06 17:37] epicadk commented on #1131
Also since @vj-codes is looking after the design, do you approve?

[2021-05-07 02:21] ravi5175 commented on #1131
@epicadk i will like to work on this issue

[2021-05-07 04:15] vj-codes commented on #1131
@ravi5175 nice catch and thank you for creating the issue although this was supposed to be fixed by #745 it still exists
Assigning you,
Happy coding!

[2021-05-07 19:00] isabelcosta commented on #1124
thank you @epicadk for keeping this project up to date ❤️

[2021-05-07 19:01] #1124 closed

[2021-05-08 03:42] ravi5175 commented on #1131
@vj-codes @epicadk there had been some slight miscalculations for this issue, at first Task Tab Layout is using a Relative Layout, placing the Add Task button at the bottom, it seems like the fault was at this point but it is due to the app bar layout in main activity layout. App Bar Layout is actually causing the Nested Sroll View to scroll itself while expanding or collapsing. Since, Nested Scro

[2021-05-08 05:11] shivamparihar12 commented on #1110
Hi, I would like to work on this issue @epicadk

[2021-05-08 06:39] epicadk commented on #1110
assigned : ).

[2021-05-10 12:35] shivamparihar12 commented on #1110
I am going to be honest, after trying for 2 days I still don't know how to rectify this issue. Is there anyone who can help me?

[2021-05-10 15:21] epicadk commented on #1110
Have you been able to replicate it?

[2021-05-11 05:21] shivamparihar12 commented on #1110
yes

[2021-05-11 20:53] vj-codes opened #1132 "Update all references of systers used in the project to anitab.org"
### Is your feature request related to a problem? Please describe.
As the org is now named as anitab.org , wherever the word systers is used should be updated to anitab.org

### Describe the solution you'd like
Change the name of folder, packages, files etc which uses the systers

### Describe alternatives you've considered
no alternative

[2021-05-13 22:17] #1050 closed

[2021-05-15 14:04] #752 closed

[2021-05-15 14:13] epicadk opened #1133 "Add Isabel Costa as a codeowner"
### Additional context

https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

[2021-05-15 14:20] isabelcosta commented on #1133
Cool, do you want to do this 😃 ?

[2021-05-15 14:21] epicadk commented on #1133
Sure.

[2021-05-15 14:52] #1063 closed

[2021-05-15 16:02] #537 closed

[2021-05-15 21:27] #1133 closed

[2021-05-19 02:26] FahedHermoza opened #1136 "Bug: Sign up a new user"
### Describe the bug

Always I want sign up a new user the app crash and closed the screen of sign up without any message of error.
### To Reproduce
Steps to reproduce the behavior:
1. Go to Sign Up
2. Complete the informations
3. Click on Sign Up button
4. See error the sign up screen will close without message. In the log of android studio of retrofit I can see "HTTP 500 Internal Server Error".

[2021-05-19 16:33] vj-codes commented on #1132
if no one claims in 2-3 days , can I work on this even though it's an easy task but the project needs to be updated and in sync withthe org

[2021-05-19 17:03] vj-codes commented on #1136
@FahedHermoza thank you for creating the issue, it is a problem with mentorship-backend which once solved, you will be able to register successfully.
Shall I ping you after the bug is fixed?

[2021-05-19 17:18] FahedHermoza commented on #1136
@vj-codes Great.

[2021-05-22 06:37] epicadk commented on #1136
@isabelcosta tests run fine and tried registering on a local instance, it works fine. Probably an issue with the deployed version. Can you take a look?

[2021-05-22 13:42] isabelcosta commented on #1131
Thank you for working on fixing this!
As we discussed on the Mentorship System call, I'll close this since we are about to change this UI soon 🤗
cc @ravi5175 @epicadk

[2021-05-22 15:17] #1131 closed

[2021-05-23 06:31] unc0ded commented on #1088
Hi, is this available now? I'd like to work on it if possible.

[2021-05-23 06:33] epicadk commented on #1088
Marking available as discussed yesterday.

[2021-05-23 06:34] epicadk commented on #1088
@DhaneshShetty @kartikeysaran  would you like to work on this?

[2021-05-23 06:35] epicadk commented on #1088
if they don't respond I'll assign this to you.

[2021-05-23 06:41] CodeChamp-SS commented on #1088
@epicadk my schedule is packed up right now, I won't get much time to fix this, feel free to assign @DhaneshShetty or @unc0ded :)

[2021-05-23 06:47] epicadk commented on #1088
Oops seems like I tagged you by mistake sorry.

[2021-05-23 06:49] CodeChamp-SS commented on #1088
it's fine, no problem 🙂

[2021-05-24 03:35] epicadk commented on #1088
@unc0ded assigning you

[2021-05-24 03:55] FahedHermoza commented on #1136
@epicadk I checked it and the error persists.
<img width="1175" alt="Captura de Pantalla 2021-05-23 a la(s) 22 53 15" src="https://user-images.githubusercontent.com/8326973/119294327-d1809000-bc19-11eb-8abd-2656a299f6cb.png" width="500">

[2021-05-24 04:00] epicadk commented on #1136
Yes that's because the android app uses the deployed version.

[2021-05-24 18:44] isabelcosta commented on #1136
related to https://github.com/anitab-org/mentorship-backend/issues/1109
Thank you @FahedHermoza for contributing by reporting the bug :)

[2021-05-28 15:38] Ankit-akumar opened #1137 "Improvement in responses provided to user"
### Is your feature request related to a problem? Please describe.

I have just started exploring this project and was **testing the apk** provided in the User Interface design. I was **trying to sign up** for the app and started **giving some random/invalid inputs**. I felt that **how the user is notified about the mistakes he/she did can be improved.**

### Describe the solution you'd like

 For

[2021-05-28 16:00] epicadk commented on #1137
Thanks. We should add validations on the fornt end as well. Would you like to work on this?

[2021-05-28 17:13] Ankit-akumar commented on #1137
Yeah sure that would be great.
I believe I would have to alter the validateDetails method accordingly.

[2021-05-28 19:03] Ankit-akumar commented on #1137
@epicadk These are the rules I have implemented ->
1) The username should consist of 6 to 30 characters inclusive.
2) The username can only contain alphanumeric characters and underscores (_)
Anything else?

[2021-05-28 19:17] epicadk commented on #1137
You can find the server side validation [here](https://github.com/anitab-org/mentorship-backend/blob/develop/app/utils/validation_utils.py). Please try to match them.

[2021-05-28 20:09] Ankit-akumar commented on #1137
The max and min length of any field is not mentioned there. Could you please verify once?

[2021-05-29 04:10] epicadk commented on #1137
I think you can find them there https://github.com/anitab-org/mentorship-backend/tree/d9dcb53da75583b3693b2e917db1ab8c54576a46/app/api/validations

[2021-05-29 08:15] Ankit-akumar commented on #1137
I have made the changes as per the links you provided. And as said in the readme I ran the tests. On testing, I saw some test cases are failing. But I don't think this has anything to do with the changes I made (these tests were already failing before I made the changes). Moreover, the build also fails because of a lot of deprecation warnings. Shall I open the PR?

[2021-05-29 08:58] epicadk commented on #1137
Yup open the pr. We are looking into those.

[2021-05-29 11:44] Ankit-akumar commented on #1047
@epicadk is there any progress on this? If no then I would like to work on this.

[2021-05-29 12:32] epicadk commented on #1047
Status on hold cc @annabauza

[2021-05-29 13:18] isabelcosta commented on #603
Closing because it's not a priority now and explained here https://github.com/anitab-org/mentorship-android/pull/969#issuecomment-850832298

Will add a label for possible future feature

[2021-05-29 13:39] isabelcosta commented on #1088
@unc0ded , we just discussed in the weekly meeting and @epicadk brought up this issue. I think you could start working on this with regards to the bottom navigation.

I still don't know what this entails, but would be good to see a PR up (in case you want to try this out), and see how complex this is, and if people contributing to this repository could learn and adjust to starting using this featu

[2021-05-29 13:45] unc0ded commented on #1088
Hi, I have started working on it, one of the main challenges to implementing this fully is the sheer number of activities (that could possibly be better suited as fragments). Navigation component works better in the single activity - multiple fragment architecture that google is also trying to push. Maybe converting some of the activities to fragments can be considered as a separate issue, to impr

[2021-05-29 14:55] Ankit-akumar commented on #1137
hey, @epicadk I have opened the PR for the same. Please review [this](https://github.com/anitab-org/mentorship-android/pull/1138)

[2021-05-29 14:56] epicadk commented on #1088
Yes this is what we had discussed in the open session as well. We can create separate issues

[2021-05-29 18:34] epicadk opened #1139 "Use jetpack compose in Login"
### Describe the solution you'd like

Use jetpack compose in login activity

### Describe alternatives you've considered

https://developer.android.com/jetpack/compose

### Additional context

Send pr to ui-jetpack-compose

[2021-05-31 15:39] Acash512 opened #1141 "Error icon overlaps with password toggle icon in password and confirm password editTexts in SignUpActivity"
### Is your feature request related to a problem? Please describe.
When the text in the confirm password editText doesn't match the Password, an error is displayed but the error icon overlaps the toggle password icon as evident in the screenshot attached. Moreover when the password is not strong enough and the user click the sign up button, an error message is displayed below Password text field b

[2021-05-31 17:32] epicadk commented on #1141
I remember this being reported before, can't seem to recall where though cc @vj-codes.

@Acash512 Would you like to work on it?

[2021-05-31 17:58] Acash512 commented on #1141
Yes, definitely!

[2021-05-31 18:52] epicadk commented on #1141
Good luck

[2021-05-31 18:59] Acash512 commented on #1141
Thankyou @epicadk , I have a doubt though, shall I set errors on TextInputLayouts for other fields too or just the password ones, I guess the former would be better as far as the user interface is concerned

[2021-05-31 19:05] epicadk commented on #1141
Sure you can set relevant errors on other layouts as well. Just remove the visibility toggle from the confirm password.
Please update the issue title and description accordingly.

[2021-05-31 19:08] Acash512 commented on #1141
There is no need to remove the visibility toggle, we can just avoid showing the error icon which causes the problem.

[2021-05-31 19:11] epicadk commented on #1141
Generally the confirm password doesn't have a visibility toggle cc @anitab-org/mentorship-designers

[2021-05-31 19:13] Acash512 commented on #1141
Even if I remove it from Confirm password, the issue will persist in the Password text field as evident in the second screenshot that I have attached

[2021-05-31 19:25] epicadk commented on #1141
Yeah, remove the error icon form the Password field and the toggle from the confirm password field

[2021-05-31 19:29] Acash512 commented on #1141
<img src ="https://user-images.githubusercontent.com/53511962/120233861-53089b80-c274-11eb-8fe4-1a41c99159c3.jpeg" width =350/>
This is how it looks now, please take a look @epicadk

[2021-05-31 19:32] Acash512 commented on #1141
It would be better if we keep the toggle in confirm password too from user's perspective, I myself enter it wrong sometimes in the confirm password field, and if I could see it, it would be much better.

[2021-06-01 03:31] epicadk commented on #1141
Hmm, maybe we can discuss this in the design open session. cc @annabauza

[2021-06-01 07:08] kartikraj commented on #1080
Hi @epicadk,  i would like to work on this  .

[2021-06-01 11:29] kartikraj commented on #1080
@epicadk , I am trying to push but it shows access denied . I guess you need to add me as collaborator for wiki.

[2021-06-01 11:31] devkapilbansal commented on #1080
Hi @kartikraj you need to fork the repository and do changes in your forked copy. After that open a PR. You are not supposed to make changes here.

[2021-06-01 11:41] kartikraj commented on #1080
@devkapilbansal  Actually , i did but i couldnt see wiki files in my forked repo. Then on searching i got to know that wiki files cannot be forked, only collaborators of wiki have the permission by default & to update wiki we need to push changes directly .

[2021-06-01 11:58] devkapilbansal commented on #1080
Ohh ohkay, then please create a document and share it's link or a markdown file in the PR instead.

[2021-06-01 12:15] kartikraj commented on #1080
[Tech-Stack.md](https://github.com/anitab-org/mentorship-android/files/6576066/Tech-Stack.md)
This is the file i have updated in wiki .

[2021-06-01 12:20] Acash512 commented on #1141
Shall I send the pr @epicadk, for the above changes?

[2021-06-01 12:21] kartikraj commented on #1080
You can also change permission for wikis for time being so i can  push becuz this has to do nothing with main repo.[link](https://docs.github.com/en/communities/documenting-your-project-with-wikis/changing-access-permissions-for-wikis)

[2021-06-01 12:29] epicadk commented on #1141
Yup go ahead.

[2021-06-01 12:44] vj-codes commented on #1080
@kartikraj hey can you try and clone the wiki locally by this link and see if it works?
https://github.com/anitab-org/mentorship-android.wiki.git

[2021-06-01 12:49] kartikraj commented on #1080
@vj-codes  Yes I have cloned the same  and made changes, but it asks for persmission to push.
You can change permission for wiki which is restricted. This may help :[changing access permission for wikis](https://docs.github.com/en/communities/documenting-your-project-with-wikis/changing-access-permissions-for-wikis)

[2021-06-01 12:54] Acash512 commented on #1141
I have created a pr @epicadk, you may review

[2021-06-01 12:58] devkapilbansal commented on #1080
Nvm, we are going to soon move documentation to gh-pages. Then these problem will not happen.  @kartikraj it is not possible to give permissions as collaborators.

[2021-06-01 13:00] epicadk commented on #1080
Even we aren't allowed to edit the WIKI 😅

[2021-06-01 13:21] kartikraj commented on #1080
oh okay.

[2021-06-06 16:15] vj-codes opened #1144 "Update welcome_bot.yml to config.yml"
### Describe the bug
Welcome bot PR was merged recently but it does not seem to be working as the name of the file is welcome_bot.yml instead of config.yml as mentioned in the official docs
Updating the file name will get the bot working as expected.

[2021-06-07 20:12] #399 closed

[2021-06-08 05:56] nidhisingh-1 commented on #1144
I renamed the file to config.yml. #firsttimer

[2021-06-08 06:01] vj-codes commented on #1144
@nidhisingh-1 hey thanks for the PR but before creating a PR, make sure to claim the issue so it's assigned to you as mentioned in the community guidelines next time onwards.
I'm assigning the issue to you now :)

[2021-06-08 06:02] nidhisingh-1 commented on #1144
Okay! I will keep that mind :)
Thanks.

[2021-06-08 11:06] #1144 closed

[2021-06-08 22:56] #1137 closed

[2021-06-12 14:03] nidhisingh-1 commented on #1125
Can I work on this?

[2021-06-12 17:51] epicadk commented on #1125
Sorry, This issue is for first timers only. It isn't really blocking and we are in no rush to fix this so I guess we'll keep this available to first time contributors. You can look at other issues that are not marked first timers only.

[2021-06-14 19:13] devptyagi commented on #1047
Is it still available? If yes, I'd like to work on it. @epicadk @isabelcosta @annabauza

[2021-06-14 19:25] epicadk commented on #1047
Sure.

[2021-06-15 14:59] vj-codes commented on #1080
@kartikraj any update about this? You can create a `.md file ` and commit the changes instead

[2021-06-15 15:42] kartikraj commented on #1080
Okay. Only the Tech stack document right?

[2021-06-17 08:26] kartikraj commented on #1080
i have created PR please check @vj-codes

[2021-06-17 15:13] devkapilbansal commented on #1080
@kartikraj why not any PR is linked to this issue?

[2021-06-17 15:33] kartikraj commented on #1080
oh sry, done now

[2021-06-25 15:53] ayushi790 commented on #866
Hii @vj-codes, I would like to work on this issue. Can you please assign it to me?

[2021-06-25 17:34] vj-codes commented on #866
Assigning you @ayushi790
Happy coding!

[2021-06-27 09:33] saigoud25 commented on #1125
I want to work on this, can you help me where to start?

[2021-06-27 15:44] epicadk commented on #1125
The Mentorship roadmap is under organization level projects. Just create a new section in the readme and add the link over there.

[2021-06-30 05:36] epicadk opened #1148 "Review branch protection rules"
### Is your feature request related to a problem? Please describe.

Branch protection rules haven't been reviewed for a while now

### Describe the solution you'd like

Review branch protection rules and update if required

### Describe alternatives you've considered

### Additional context

https://docs.github.com/en/enterprise-server@3.0/github/administering-a-repository/defining-the-mergeabilit

[2021-07-03 13:06] vj-codes commented on #1125
@saigoud25 any updates here?

[2021-07-03 14:32] saigoud25 commented on #1125
I'm working on it. It will be completed soon.

[2021-07-03 14:45] saigoud25 commented on #1125
I forked the repo, now I had a doubt. Can you share the link to add in the Readme file??

[2021-07-03 14:46] saigoud25 commented on #1125
Can you share the Roadmap link to add in Readme file?

On Sat, 3 Jul 2021 at 18:37, Vaishnavi Joshi ***@***.***>
wrote:

[2021-07-03 14:47] saigoud25 commented on #1125
Can you share the Roadmap link to add in Readme file?

[2021-07-04 06:08] sanchibansal340 commented on #786
Hi @isabelcosta Can I work on this issue?

[2021-07-04 09:37] epicadk commented on #1125
You can find the Mentorship roadmap under organization level projects.

[2021-07-11 19:24] saigoud25 commented on #1125
sorry, I am unable to find the link. Can anyone help me to find the link so I can continue??

[2021-07-21 05:21] Yash-Raj-Singh commented on #865
@vj-codes Can you assign this task to me?

[2021-07-21 05:47] vj-codes commented on #865
Assigning you @Yash-Raj-Singh
Happy coding!

[2021-07-22 04:47] Yash-Raj-Singh commented on #1044
Please assign this task to me. Thanks :)

[2021-07-22 04:49] vj-codes commented on #1044
Assigning you @Yash-Raj-Singh
Happy documenting!

[2021-07-22 04:50] vj-codes commented on #1044
Removing the first timers label as it's open since long

[2021-07-22 21:09] #1044 closed

[2021-07-29 10:35] Yash-Raj-Singh opened #1151 "Filter Functionality Not Working Properly"
### Describe the bug

In Member Page, the list having users do not have all the users to show in recycler view, due to which Filter Functionality is not working properly.
(If you use logcat to check the size of user list before passing it in recycler view, it generally shows 20 or 40 but the database has way more users than that.)
For example - There are users present in the database with Location

[2021-07-29 10:41] Yash-Raj-Singh commented on #864
@vj-codes It seems to be same as previous one, So can you assign it to me?

[2021-07-29 15:24] Yash-Raj-Singh commented on #1072
@epicadk To setup stale, the admin must first install probot stale in this repo then only stale's .yml file will work. Isn't it?

[2021-07-29 15:27] epicadk commented on #1072
Yes. But we've decided against it in the mentorship session. Closing it, we could reopen it should the need arise in the future. cc @isabelcosta

[2021-07-29 15:29] Yash-Raj-Singh commented on #1072
@epicadk Ok,  So for now there is no need of Stale in this repo. Right?

[2021-07-29 16:00] #1072 closed

[2021-07-29 16:02] vj-codes commented on #1125
@saigoud25 here's the link https://github.com/orgs/anitab-org/projects/2
Are you still interested in working on this?

[2021-07-31 13:37] vj-codes commented on #866
@ayushi790 any updates here?

[2021-07-31 13:43] isabelcosta commented on #1151
Thank you so much for such a detailed issue description 🙌🏾  @Yash-Raj-Singh

[2021-08-07 13:51] vj-codes commented on #864
Assigning you @Yash-Raj-Singh
Happy coding!

[2021-08-07 13:52] isabelcosta commented on #1148
Thank you for bringing this up on sync up session @epicadk !

Just for future reference, we updated the rules for `develop` branch.
![image](https://user-images.githubusercontent.com/11148726/128602471-98dc31c7-2936-4f1e-a63c-b533ea70fe2e.png)

The link helped https://docs.github.com/en/enterprise-server@3.0/github/administering-a-repository/defining-the-mergeability-of-pull-requests/managing-a-br

[2021-08-08 05:59] Arsh069 opened #1152 "Login Issue"
After successfully signing up for the app I am not able to login with my credentials it keeps on giving the message that "Username or password wrong"

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Login Page'
2. Click on 'Sign Up'
3. Scroll down to 'Login option after signing up'
4. See error

It should have successfully log me In

### Desktop (please complete the following informati

[2021-08-08 12:28] Yash-Raj-Singh commented on #1152
@vj-codes I guess this issue was mentioned earlier also. Isn't it?

same as this : [Sign up issue](https://github.com/anitab-org/mentorship-android/issues/1136)

[2021-08-08 12:44] Arsh069 commented on #1152
I didn't find this issue in the mentioned issues so I have raised it

[2021-08-08 13:20] vj-codes commented on #1152
@Arsh069 have you verified your email? If the email is verified, then only you will be able to successfully log in.
Also, may I know how did you register the user - through the app or deployed backend, because the signup endpoint is not working at both

[2021-08-08 13:37] Arsh069 commented on #1152
@vj-codes
Yes my email is verified.
I was trying to register through the app

[2021-08-17 20:53] #865 closed

[2021-08-19 04:18] epicadk commented on #1151
Thanks! This is a backend issue.

[2021-08-19 04:21] epicadk commented on #1151
This seems like a backend issue. Does the backend support filters? @anitab-org/mentorship-maintainers

[2021-08-26 08:52] raksh543 commented on #760
@sanchi0204 I am willing to continue with this issue.

[2021-09-02 03:37] Yash-Raj-Singh commented on #1083
@vj-codes @devkapilbansal I would like to work on this documentation part. Can you please assign it to me?

[2021-09-02 03:39] devkapilbansal commented on #1083
Sure @Yash-Raj-Singh assigning you

[2021-09-05 12:25] isabelcosta commented on #1151
@epicadk as we discussed together in the mentorship session, we are trying to achieve that there in the backend. So in progress :D

[2021-09-05 12:46] isabelcosta opened #1155 "Remove Travis and Codacy badges table from README"
## Description

As a contributor,
I need to update README status badges,
so that I can keep the documentation up to date.

The app is no longer being deployed to Travis or using Codacy, so we should update the README.

## Mocks

![README table for status](https://user-images.githubusercontent.com/11148726/132127260-c210c195-9f22-4ba8-b38c-93760f64cbc5.png)

## Acceptance Criteria
### Update [Requi

[2021-09-05 15:42] kulloveth commented on #1155
Can this been assigned to me @isabelcosta ? Meanwhile after registration I couldn't sign in. Kept throwing the something went wrong error although I'm not sure if the registration was successful since there was no confirmation message shown. After loading the login screen just appeared.

[2021-09-05 15:45] isabelcosta commented on #1155
@kulloveth it's yours :) Regarding registration, we are having some trouble in the backend with Sign Up, so I can provide a couple logins, I will share on Zulip and ping you there

[2021-09-13 18:21] #1155 closed

[2021-09-14 17:02] vj-codes commented on #1152
@Arsh069 is it not resolved yet? I tried to reproduce the issue on my side but couldn't, login is working just as expected.

[2021-09-14 18:19] vj-codes opened #1157 "Add Docusaurus badge on readme"
## Is your feature request related to a problem?

The project's documentation is using Docusaurus, add its badge on top of the readme with other badges present similar to what is done on [stem-diverse-tv's repo](https://github.com/anitab-org/stem-diverse-tv)

## Describe the solution you'd like

Add badge on the readme

[2021-09-18 13:30] #1083 closed

[2021-09-18 13:36] isabelcosta opened #1159 "Add github action deploy key to project"
## Description

Add GitHub action deploy key to project in order to deploy docusaurus website.

- https://github.com/anitab-org/mentorship-android/blob/develop/.github/workflows/docs.yml#L39
- https://github.com/anitab-org/mentorship-backend/pull/841#issuecomment-808741268
- https://docs.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github

[2021-09-22 18:32] Fr1x3 commented on #1157
Hi, can I be assigned this.

[2021-09-23 04:26] Jayita10 commented on #1157
Sorry @Fr1x3, I overlook your comment. If you want to contribute on this issue, please inform. I will close my PR :)

[2021-09-23 04:53] vj-codes commented on #1157
@Jayita10 Welcome to the community!
So sorry but as per the community guidelines one must be assigned to a specific issue before creating a PR and since @Fr1x3 claimed it first, your PR will be closed.
You can go through other available issues and comment to claim it and someone from the organization will soon assign it to you:)
Sounds good?

[2021-09-23 04:53] vj-codes commented on #1157
Assigning you @Fr1x3
Happy documenting!

[2021-09-23 05:00] Jayita10 commented on #1157
Yeah Sure! I will be happy to contribute on some good first issues

[2021-09-25 13:21] #1141 closed

[2021-09-25 13:59] isabelcosta commented on #1159
This worked really well 🙌🏾  https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions

Here it is live! https://anitab-org.github.io/mentorship-android/

Thank you @vj-codes for helping me with this! 🤗

[2021-09-25 14:06] #1159 closed

[2021-09-26 09:57] #1157 closed

[2021-10-01 07:08] vj-codes opened #1163 "Upgrade issue template to issue forms"
### Is your feature request related to a problem? Please describe.
GitHub has recently rolled out a public beta for their issue forms feature. This would allow you to create interactive issue templates and validate them 🤯.
https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/

[2021-10-01 07:09] vj-codes commented on #1163
@isabelcosta what do you think about this?
If a nice idea, I would like to on this

[2021-10-03 07:07] epicadk opened #1166 "Use paging 3 for members list"
### Is your feature request related to a problem? Please describe.

Currently we are using a custom endless recycler view listener

### Describe the solution you'd like

Use the paging 3 library instead.

### Describe alternatives you've considered

NA

### Additional context

https://developer.android.com/topic/libraries/architecture/paging/v3-migration

[2021-10-08 18:56] isabelcosta opened #1167 "Add link with icon to our AnitaB.org Open Source Medium"
## Description

As an admin,
I need our Medium blog to be in the social media links on Docusaurus,
so that I can promote our blog to our contributors.

We want to see the medium link to our AnitaB.org Open Source on the Docusaurs page footer.
Our Medium publication: https://medium.com/anitab-org-open-source
Our Docusaurus documentation: https://anitab-org.github.io/mentorship-android

## Mocks

Yo

[2021-10-08 20:15] isabelcosta commented on #1125
Will unassign due to lack of response.
Feel free to claim if you wish to work on this again @saigoud25 :)

[2021-10-08 20:19] isabelcosta commented on #1110
@shivamparihar12 Are you still interested in working on this? I don't have an idea of how to fix this, but someone in the community could have. If you're still interested do ask on Zulip or let us know what you found out so far.

Do you know what is causing the bug? Which parts of the code are causing this?

[2021-10-08 20:35] bosankus commented on #1167
Hi @isabelcosta,
I am new to open source and would like to work on this. Will you share some more details on which screen you want the footer to implement ?

[2021-10-08 20:43] isabelcosta commented on #1167
Yes of course! I will assign it to you. @bosankus

Regarding more details, the footer is common on every page of the documentation https://anitab-org.github.io/mentorship-android. So if you go there, and scroll down, you'll encounter that footer with those social media icons.

A trick to find the place where you should do your changes is to search in the repository, the link to the other social me

[2021-10-08 20:45] bosankus commented on #1167
@isabelcosta  I guess I chose wrong issue. My domain is android, so I thought you need some changes on android screen. Am sorry but I misunderstood.

[2021-10-08 20:46] isabelcosta commented on #1167
No worries @bosankus this is a change to Docusaurus documentation. And this specific change is HTML-based. I will unassign, feel free to pick another issue from this repository. We need a lot of improvements to the app. I can tag you in some if you'd like.

[2021-10-08 20:47] bosankus commented on #1167
Sure. I am searching there. Will ping when I find any. Thanks for understanding.

[2021-10-08 20:48] isabelcosta commented on #1167
No worries, thank you for being honest 🤗 that is super helpful for a maintainer 🙌🏾 @bosankus

[2021-10-10 03:00] shivamparihar12 commented on #1110
Yes @isabelcosta , I would love to solve this. So, I could be of some use to the community.

These screenshots are from the `RequestsFragemnt.kt`.

I could be wrong here but according to me this function `fetchNewest()` should call `srlRequest.isrefreshing = false` at the end
![Screenshot (705)](https://user-images.githubusercontent.com/73793609/136679577-1e503a7f-f74e-4d91-85cb-2b3365b6ea24.png)

[2021-10-11 18:16] AidaIssayeva commented on #1125
@isabelcosta can you please assign this issue to me

[2021-10-11 18:25] vj-codes commented on #1125
Assigning you @AidaIssayeva
Happy documenting!

[2021-10-11 23:29] AidaIssayeva commented on #1125
@vj-codes @isabelcosta opened the PR above ⬆️ , let me know if it looks good.

Thank you!

[2021-10-12 07:56] bosankus commented on #757
Hi @isabelcosta Is this issue workable ?

[2021-10-13 04:06] bosankus commented on #757
On it  ⚡

[2021-10-13 08:46] bosankus commented on #757
Hi @isabelcosta @epicadk I have opened a PR. Can you kindly review. Please let me know if I missed out something.
Thanks.

[2021-10-14 02:16] kaykaym01 commented on #1167
Hi @isabelcosta, I'm new to open source. Could I take on this task?

[2021-10-14 06:01] midsu commented on #1167
May I work on this issue if it is still open?

[2021-10-14 07:07] isabelcosta commented on #1167
@midsu it's not available at the moment, since it is assigned to @kaykaym01  :)
Feel free to look other issues across the organization

[2021-10-14 07:13] msaini28r commented on #1167
I have solved the issue please check it.

[2021-10-14 11:19] msaini28r commented on #1167
@kaykaym01 are you working on this issue?

[2021-10-14 22:42] isabelcosta commented on #1167
@msaini0r, @kaykaym01 got assigned today. So I think they're working on this :)

[2021-10-15 03:20] msaini28r commented on #1167
@isabelcosta please review the changes and merge it.

[2021-10-15 12:12] bosankus commented on #757
@epicadk added commit.
Ran spotless. Only getting one issue in SendRequestActivity.kt on line 11:
import kotlinx.android.synthetic.main.activity_send_request.*

Auto importing on any view adds this line.

[2021-10-17 10:37] #1132 closed, assigned to vj-codes

[2021-10-17 12:49] #1125 closed

[2021-10-17 13:46] isabelcosta commented on #1167
@kaykaym01 I will unassign the ticket, due to lack of response (as per our guidelines we consider that the contributor is no longer interested after 3 days without updates). Feel free to look into other issues if you're interested in contributing in the future :)

@midsu are you still interested in this issue? If, yes let us know so we can assign it to you, if not interested, I can assign it to @m

[2021-10-21 18:36] msaini28r commented on #1167
@isabelcosta can you assign me on this?

[2021-10-22 08:39] isabelcosta commented on #1167
@kaykaym01 unassigned you this issue due to lack of updates. Feel free to look for other issues if you're still interested in contributing :)

@msaini0r I assigned to you!

[2021-10-22 13:08] SubhraPriyadarshinee commented on #866
Hey, is anyone working on this? The issue is still there with no update so I thought of asking. If not, can you assign it to me?

Thank You.

[2021-10-22 13:50] vj-codes commented on #866
Unassigning you @ayushi790 due to inactivity

[2021-10-22 13:51] vj-codes commented on #866
Assigning you @SubhraPriyadarshinee
Happy coding!

[2021-10-24 18:50] SubhraPriyadarshinee commented on #866
Hello, I have made my PR  #1173 , please check and tell if anything is wrong.

[2021-10-25 15:14] SubhraPriyadarshinee commented on #879
Hey, can I work on this?

[2021-10-26 04:38] bosankus commented on #757
Hi @isabelcosta , can you kindly approve the PR.
Actually I want to start with another issue. Can't until this gets green.
Thanks.

[2021-10-26 09:16] isabelcosta commented on #879
@SubhraPriyadarshinee , @epicadk assigned to you :)

[2021-10-26 14:35] SubhraPriyadarshinee commented on #879
Has started working on it😊

[2021-10-29 02:25] kaykaym01 commented on #1167
Sorry for not doing the PR. I had to check with my job and make sure they were fine with me contributing to open source. Should have communicated that earlier.

[2021-10-31 03:31] bosankus commented on #732
Hi @epicadk , I would like to take up this issue. Can you assign it to me ?

[2021-10-31 08:21] vj-codes commented on #732
Assigning you @bosankus
Happy coding!

[2021-10-31 11:50] bosankus commented on #732
On it.

[2021-11-01 04:29] bosankus commented on #732
Hi @vj-codes , Wanted to ask, can I add BindingAdapter for the new screen of searching ?

Reason: managing loading states and error handeling becomes little easy for MVVM pattern and goes as per google suggested method.

Though there is nothing as such introduced yet into the code base. So, can you confirm ?

[2021-11-01 04:47] vj-codes commented on #732
@epicadk hey can you answer the above question please :)

[2021-11-01 04:49] epicadk commented on #732
If we're sticking to XML then we could consider this, however I think this should be in a separate.

[2021-11-01 05:19] bosankus commented on #732
Yes, it can be in a separate issue, I feel the same. However, the reason I asked you is because when creating a new screen for a purpose, following databinding can be beneficial for the future solution. And when created separate issue in future, the same can be continued for other screens too.
@epicadk @vj-codes

[2021-11-01 06:12] epicadk commented on #732
Depends on whether we stick to XML or migrate compose (which was a point of focus at the android dev summit '21) . Also even if we don't migrate there are other options like viewbinding.

[2021-11-01 07:47] bosankus commented on #732
Got it.

[2021-11-03 03:28] bosankus commented on #732
Hi @epicadk @vj-codes ,
Since I am adding replacing another fragment (eg: SearchMemberFragment) with MemberFragment, there is a problem happening with onBackPressed implemented on MainActivity, it is not working.
So, I am adding a "Cancel" button on new SearchMemberFragment, which onClick, will remove the fragment and go back to previous one i.e MemberFragment. However disabling back press on Sear

[2021-11-03 12:57] bosankus commented on #732
The above scenario will be resolved if I use an activity instead of a search fragment.

Now, will you be able to suggest me, I should use fragment or activity for the search member screen. ?

[2021-11-05 04:53] bosankus commented on #732
@vj-codes @epicadk any suggestions for the above thoughts?

[2021-11-05 06:08] epicadk commented on #732
Definitely do not use an activity , just use a fragment and open a new issue for the problem

[2021-11-06 12:29] bosankus commented on #732
Copy that @epicadk

[2021-11-11 07:58] bosankus commented on #732
@epicadk @vj-codes
Facing issue in espresso testing for the new added fragment.
I am trying to replace the fragment by this way

[code]

But the test is running forever, not even opening the member fragment.

If I remove the line to perform click on search icon from member fragment. The test gets pass.

What wrong am I doing? Can you help ?

[2021-11-12 01:25] bosankus commented on #1166
@epicadk Can I work on this ?

[2021-11-16 17:25] YvesKalume opened #1175 "Bug : the application is not supposed to crash because of a server error"
### Describe the bug

an internal error makes the application crash when a new user tries to signup

### To Reproduce
Steps to reproduce the behavior:
1. Go to Sign Up
2. Complete the informations
3. Click on Sign Up button
4. See error the sign up screen will close without message. In the log of android studio you can see "HTTP 500 Internal Server Error".

### Expected behavior

an error that som

[2021-11-16 17:31] epicadk commented on #1175
Can someone validate this? @anitab-org/mentorship-testers

Also if this is the case why doesn't this work? https://github.com/anitab-org/mentorship-android/blob/c06975106b5d08eab09e8e0afc9c48ac92bd49e9/app/src/main/java/org/anitab/mentorship/viewmodels/SignUpViewModel.kt#L29-L35

[2021-11-16 17:39] yveskalume commented on #1175
@epicadk although there is a try catch in the viewmodel, you have to add another one in the AuthManager and throw an exception in the catch scope

[2021-11-16 17:53] yveskalume commented on #1175
Can i open a PR ?

[2021-11-17 04:42] epicadk commented on #1175
Sure

[2021-11-17 07:50] bosankus commented on #1166
@epicadk @isabelcosta Can I start working on this ? Can I get assigned?

[2021-11-18 21:10] vj-codes commented on #1166
@bosankus hey assigning you
Happy coding!

[2021-11-19 17:39] Rohit-2602 opened #1177 "feat: Migrate SharedPreferences to DataStore"
### Is your feature request related to a problem? Please describe.
Currently, we are using SharedPreference which work on the UI thread

### Describe the solution you'd like
Use DataStore, which is suggested by official Documentation as well.

### Describe alternatives you've considered
Nothing...

### Additional context
https://developer.android.com/topic/libraries/architecture/datastore

[2021-11-19 20:06] vj-codes commented on #1177
@Rohit-2602 would you like to work on this?

[2021-11-20 04:05] Rohit-2602 commented on #1177
@vj-codes yes

[2021-11-21 10:49] JasVavdiya commented on #760
Hi @epicadk
I'm new to android open source.
Would like to start by working on this issue, can I work on it?

[2021-11-21 11:01] JasVavdiya commented on #1152
I facing same issue right now
I not able to login.

[2021-11-21 11:02] JasVavdiya commented on #1152
@vj-codes please tell me how to verify email.

[2021-11-23 19:41] vj-codes commented on #1175
Yes the issue is valid, @YvesKalume thank you so much for reporting it :)

[2021-12-03 04:33] bosankus commented on #1166
Implemented feature from issue #1174 will be updated in this issue via future commits.

[2022-01-16 19:10] siddhbhardwaj commented on #866
Hi, Can I work on this issue?

[2022-01-18 07:57] eleensmathew commented on #751
Hi is this issue still open? I would like to work on it.

[2022-01-18 13:57] YvesKalume opened #1183 "Use refreshVersion to manage Gradle dependencies"
### Is your feature request related to a problem? Please describe.
Life is too short to google for dependencies and versions, instead of managing gradle dependencies form buildSrc we can use refreshVersion

### Describe the solution you'd like
See [https://jmfayard.github.io/refreshVersions/](https://jmfayard.github.io/refreshVersions/)

[2022-01-27 14:25] vj-codes commented on #1166
Closing as duplicate of #1166

[2022-01-27 14:26] vj-codes commented on #1148
Closing as the rules were updated during sync up session, screenshot attached above

[2022-01-27 14:26] #1148 closed

[2022-02-05 17:38] eleensmathew commented on #1167
Hi is this issue still open?

[2022-02-07 18:37] isabelcosta commented on #1167
yes, do you want to take this up? I'll assign to you, if you're not interested I can unassign ;)

[2022-02-07 18:38] eleensmathew commented on #1167
I'm interested

[2022-02-08 04:05] eleensmathew commented on #1167
Hi I created the pull request https://github.com/anitab-org/mentorship-android/pull/1186. Can you please review it and give me feedback?

[2022-03-21 05:59] bosankus commented on #1166
@vj-codes apology for making it late. am already working on this issue. and already made few commits on my branch.
Can I continue and deliver as soon as possible?

[2022-07-01 17:12] tinniaru3005 opened #1195 "Improvement in the 'Contributing part of the README.md'"
### Insert a space between the hyperlink and the next word

### To Reproduce
Steps to reproduce the behaviour:
1. Go to [README.md](https://github.com/anitab-org/mentorship-android#readme)
2. Scroll down to 'Contributing'
3. Insert space between the underlined part

### Screenshots

![Contributing 2](https://user-images.githubusercontent.com/62856848/176939427-9e449832-8b52-49f4-9ded-f2b9ce32fdfc.

[2022-07-01 17:46] tinniaru3005 opened #1196 "Add Description on dependency download"
### Add a description on how to download the dependencies in Android Studio

### To Reproduce
Steps to reproduce the behaviour:
1. Go to [Open the project in Android Studio](https://github.com/anitab-org/mentorship-android/wiki/Open-the-project-in-Android-Studio)
2. Add a description of how to download dependency while setting up the project on your local system.
3. Mention how to do so if Android

[2022-07-01 19:01] Tanushka11 commented on #1195
Hii @tinniaru3005 can you assign me this issue?

[2022-07-01 19:06] tinniaru3005 commented on #1195
Ya sure :) Go for it.

[2022-07-01 19:22] Tanushka11 commented on #1195
Hii @tinniaru3005 I have made a PR (https://github.com/anitab-org/mentorship-android/pull/1197) kindly, Review.

[2022-07-01 19:31] moazfarrukh commented on #1196
Can i take this issue?

[2022-07-01 19:36] tinniaru3005 commented on #1196
Ya sure :)

[2022-07-01 21:44] tinniaru3005 commented on #1195
Hey @Tanushka11. I have reviewed it. The changes are fine. :)

[2022-07-04 11:21] moazfarrukh commented on #1196
I am very sorry my knowledge regarding this issue was not enough, i wasn't able to work on it. I should've done more research on this subject before accepting it. I think someone else would do a better job on it than me.

[2022-07-04 12:59] tinniaru3005 opened #1198 "Improvement in the README.md"
### Hyperlink a few pages in the 'Features' section of the README.md

Link the underlined parts in the screenshot to the respective pages.

### To Reproduce
Steps to reproduce the behaviour:
1. Go to [mentorship-android](https://github.com/anitab-org/mentorship-android)
2. Go to the 'Features' part of the README.md file
3. Hyperlink the pages and make the changes as shown.
4. [terms and conditions

[2022-07-04 13:06] tinniaru3005 commented on #1196
Hey @moazfarrukh . No worries. You can definitely check out the other issues with the label 'open source hack'. If you want to work on them, I will be more than happy to assign them to you. If you have any doubts you can reach us out on the [zulip](https://anitab-org.zulipchat.com/) chat. Open source hack is for participants like you who want to start contributing :)

[2022-07-05 11:32] #1195 closed

[2022-07-05 11:49] znamazbayeva commented on #1198
Hello! Can you assign me to this issue?

[2022-07-05 15:52] tinniaru3005 commented on #1198
Hey @znamazbayeva . Welcome to Open Source Hack. Sure I am assigning. If you have any doubts you can reach us at [Zulip chat](https://anitab-org.zulipchat.com/) :)

[2022-07-05 17:11] tinniaru3005 opened #1199 "Add screenshot of the feedback page"
### Add a screenshot of the feedback page in the 'Screenshots' part of the README.md file

### To Reproduce
Steps to reproduce the behaviour:
1. Go to [mentorship-android GitHub repository](https://github.com/anitab-org/mentorship-android)
2. Go to README.md
3. Go to Screenshots
4. Click on [this link](https://github.com/anitab-org/mentorship-android/raw/apk/app-debug.apk) to download the app to y

[2022-07-06 01:01] abhilipsasahoo03 commented on #1199
Hello, I'd like to have this issue assigned to me.

[2022-07-06 01:05] tinniaru3005 commented on #1199
Hey @abhilipsasahoo03. Welcome to Open Source Hack. Sure I am assigning. If you have any doubts you can reach us at [Zulip chat](https://anitab-org.zulipchat.com/) :)

[2022-07-06 03:50] abhilipsasahoo03 commented on #866
Hello, I'd like to work on this issue! @vj-codes kindly assign it to me

[2022-07-06 04:19] VidhiBhatt01 commented on #1167
Hey, if this issue is open can you please assign it to me

[2022-07-06 04:23] harshita214 commented on #1198
Hey, Can I work on this also??

[2022-07-06 04:25] harshita214 commented on #1167
Hey, I am interested to take the issue if its open

[2022-07-06 10:33] tinniaru3005 opened #1200 "Feedback page text color change"
### Describe the bug

Change the colour of "Send us your feedback!" on the Feedback page from black to #55111109

### To Reproduce
Steps to reproduce the behaviour:
1. Click on [this link](https://github.com/anitab-org/mentorship-android/raw/apk/app-debug.apk) to download the app to your android system
2. Username: string2, Password: 12345678
3. Log in
4. Go to Settings (top right corner)
5. Go to

[2022-07-06 11:01] tinniaru3005 opened #1201 "Improvement in the Features part of the README.md"
### Describe the bug

Grammatical errors in the 'Features' part of the README.md file. Make the required changes.

### To Reproduce
Steps to reproduce the behaviour:
1. Go to [mentorship-android](https://github.com/anitab-org/mentorship-android)
2. Go to the 'Features' part of the README.md file
3.  Go to [Grammarly](https://app.grammarly.com/)
4. Check for grammatical errors
5.  Make the required

[2022-07-06 11:09] tinniaru3005 commented on #1198
Hey @harshita214 . Welcome to Open Source Hack! Currently, this issue is already assigned. But you can definitely check out other issues with the label Open Source Hack. If you are interested, comment there and I will be glad to assign it to you. If you have any doubts you can reach us at [Zulip chat](https://anitab-org.zulipchat.com/) :)

[2022-07-06 12:12] samiksha-14 commented on #1201
Hello! Can you assign me this issue?

[2022-07-06 12:17] tinniaru3005 commented on #1201
Hey @samiksha-14 . Welcome to Open Source Hack. We are glad to have you here. Sure, I am assigning. If you have any doubts you can reach us at [Zulip chat](https://anitab-org.zulipchat.com/) :)

[2022-07-06 14:10] samiksha-14 commented on #1201
Hi @tinniaru3005
I have made a PR [(1202)](https://github.com/anitab-org/mentorship-android/pull/1202) kindly, Review :)

[2022-07-06 15:51] pypas commented on #1200
Hi, can you assign this to me?

[2022-07-06 15:54] tinniaru3005 commented on #1200
Hey @pypas . Welcome to Open Source Hack! We are glad to have you here. Sure, I am assigning. If you have any doubts you can reach us at [Zulip chat](https://anitab-org.zulipchat.com/) :)

[2022-07-06 15:58] tinniaru3005 commented on #1201
Hey @samiksha-14 . Thanks for making those changes. I have suggested a few small changes. Do make them and then I can approve :)

[2022-07-07 07:20] shrutityagi4102 commented on #1201
Hi @tinniaru3005 can you assign this issue to me ?

[2022-07-07 07:21] shrutityagi4102 commented on #1199
Hi, @tinniaru3005 can you assign this issue to me?

[2022-07-07 07:23] shrutityagi4102 commented on #1167
Hi, @isabelcosta  can you assign this issue to me?

[2022-07-07 07:31] tinniaru3005 commented on #1201
Hey @shrutityagi4102. Welcome to Open Source Hack. This issue is currently assigned. You can look at the other issues with the label Open Source Hack which are not yet assigned. If you want to work on then you can ask in the chat and we will be glad to assign it to you. :)

[2022-07-07 12:29] samiksha-14 commented on #1201
Hi @tinniaru3005 , who else can I ask for a review? It would be very helpful if you can tell.

[2022-07-07 12:35] tinniaru3005 commented on #1201
Hey @vj-codes and @vatsalkul. Can you please review the PR https://github.com/anitab-org/mentorship-android/pull/1202 and suggest any changes if required so that it can be merged. :)

[2022-07-11 06:19] pratyaksh1610 commented on #1196
@tinniaru3005 I would like to work on this issue.
.
.
.
Thankyou
Pratyaksh

[2022-07-11 16:23] vj-codes commented on #866
Assigning you @abhilipsasahoo03
Happy coding!

[2022-07-11 16:24] vj-codes commented on #1196
Assigning you @pratyaksh1610
Happy coding!

[2022-07-11 16:26] moazfarrukh commented on #1196
You mistakenly assigned the wrong person

[2022-07-11 16:28] pratyaksh1610 commented on #1196
@vj-codes assigned the wrong person.

[2022-07-11 16:29] pratyaksh1610 commented on #1196
And one doubt, as in where to add the documentation regarding the issue

[2022-07-11 16:47] tinniaru3005 commented on #1196
Hey, @pratyaksh1610 I have assigned the issue. Welcome to the community! For a bit more detail on the issue if you don't download certain dependencies you won't be able to run the set-up and work on the project on your local system. You can add it in the docs folder with a suitable title as a .md file. I hope that clears your doubt. For more details, you can reach us out on [zulip chat](https://an

[2022-07-12 13:20] tinniaru3005 opened #1208 "Add why MVVM architecture is used"
### Describe the bug

Add a description about why we are using MVVM architecture for this project

### To Reproduce
Steps to reproduce the behaviour:
1. Go to [Tech Stack.md](https://github.com/anitab-org/mentorship-android/blob/develop/docs/docs/Tech%20Stack.md)
2. Go to 'Why use MVVM architecture?' at the bottom
3. Add a small description of what is MVVM architecture and why we are using it here

[2022-07-13 04:52] abhilipsasahoo03 commented on #1208
Hey @tinniaru3005 I'd like to work on this issue. Can you give some insight on what points to include, such as MVVM architecture (with diagram), advantages it holds over MVP and MVC pattern, implementation? Anything else?

[2022-07-13 05:39] tinniaru3005 commented on #1208
Hey @abhilipsasahoo03 . Thanks for your interest in contributing to the community. I have assigned the issue to you. There are no such rules. You can do it on your way. Make it short, simple and easy to understand. Use Grammarly to avoid grammatical errors. You can write 2 to 3 lines on what is MVVM architecture. If you can use a diagram to explain then that's amazing. Then mention in points why w

[2022-07-13 05:58] tinniaru3005 opened #1209 "Changes in 'About' part"
### Describe the bug

In the 'About' part of the application, change 'Our Github link' to 'Our GitHub Repo'

### To Reproduce
Steps to reproduce the behavior:
1. Click on [this link](https://github.com/anitab-org/mentorship-android/raw/apk/app-debug.apk) to download the app to your android system
2. Username: string2, Password: 12345678
3. Log in
4. Go to Settings (top right corner)
5. Go to 'Abou

[2022-07-13 06:31] tinniaru3005 opened #1210 "Login successful message change"
### Describe the bug

Change the message from 'Logging successful' to 'Login Successful'

### To Reproduce
Steps to reproduce the behaviour:
1. Click on [this link](https://github.com/anitab-org/mentorship-android/raw/apk/app-debug.apk) to download the app to your android system
2. Username: string2, Password: 12345678
3. Log in
4. You can see the message 'Logging successful' on the screen
5. Chan

[2022-07-13 10:58] Chandra-Sekhar-Bala commented on #1210
Hey @tinniaru3005 , I'd like to work on this issue.

[2022-07-13 11:05] tinniaru3005 commented on #1210
Hey @Chandra-Sekhar-Bala . Welcome to the community! I have assigned the issue. :)

[2022-07-13 20:39] Chandra-Sekhar-Bala commented on #1210
Thanks @tinniaru3005 😀 I'm happy to be here.

[2022-07-13 20:52] Chandra-Sekhar-Bala commented on #1209
Working on this one. It's similar as like before. Assign this to me.

[2022-07-13 20:54] tinniaru3005 commented on #1209
Hey @Chandra-Sekhar-Bala . Thanks for your interest in contributing. I have assigned it to you. :)

[2022-07-13 21:39] Chandra-Sekhar-Bala commented on #1209
Thanks @tinniaru3005,
 one thing can you please share your twitter or something I need some guidence apart from
```anitab-org```

[2022-07-14 12:14] pratyaksh1610 commented on #1196
@tinniaru3005 I have made a PR. Pls review.
.
.
Thankyou
Pratyaksh

[2022-07-30 14:31] Swastyy commented on #1209
Hi @tinniaru3005 , Can I do this? if ofcourse @Chandra-Sekhar-Bala you are doing some other tasks?

[2022-07-30 19:51] tinniaru3005 commented on #1209
Hey, I guess @Chandra-Sekhar-Bala has already solved this issue and sent a PR. You can look at the other issues which are not assigned to anyone. You can ask me in the comments to assign and I will do it. Thanks for your interest in contributing to the community. :)

[2022-08-25 17:35] SrijanShovit commented on #786
I would like to try on this issue @sanchibansal340
Could you please assign it to me if it's still open

[2022-10-01 11:55] vj-codes opened #1216 "Redesign the Home Screen"
### Is your feature request related to a problem? Please describe.
We are planning to redesign the app following our brand guide as well as material design.

### Describe the solution you'd like
Create a prototype of the Home Screen with a different perspective and layout.

### Current Page

![](https://user-images.githubusercontent.com/63957920/107955205-84aa6f00-6fc3-11eb-95c7-4db92f18f6df.jpeg)

[2022-10-01 12:15] vj-codes opened #1217 "Redesign Porfile Page"
### Is your feature request related to a problem? Please describe.
We are planning to redesign the app following our brand guide as well as material design.

### Describe the solution you'd like
Create a prototype of the Profile Page with a different perspective and layout.

### Current Page

![](https://user-images.githubusercontent.com/63957920/107955253-94c24e80-6fc3-11eb-9463-39aa50cb382c.jpeg

[2022-10-01 12:17] vj-codes opened #1218 "Redesign Members screen and Member Profile page"
### Is your feature request related to a problem? Please describe.
We are planning to redesign the app following our brand guide as well as material design.

### Describe the solution you'd like
Create a prototype of the Redesign Members screen with a different perspective and layout.

### Current Page

![](https://user-images.githubusercontent.com/63957920/107955249-9429b800-6fc3-11eb-9a67-9a9cda

[2022-10-01 12:24] vj-codes opened #1219 "Redesign Requests Page and Send Requests Page"
### Is your feature request related to a problem? Please describe.
We are planning to redesign the app following our brand guide as well as material design.

### Describe the solution you'd like
Create a prototype of the requests and send requests page with a different perspective and layout.

### Current Page

![](https://user-images.githubusercontent.com/63957920/107955259-95f37b80-6fc3-11eb-9e4

[2022-10-01 12:27] vj-codes opened #1220 "Redesign Settings and About Us page"
### Is your feature request related to a problem? Please describe.
We are planning to redesign the app following our brand guide as well as material design.

### Describe the solution you'd like
Create a prototype of the settings and about us page with a different perspective and layout.

### Current Page

![](https://user-images.githubusercontent.com/63957920/107955260-95f37b80-6fc3-11eb-8862-4e0

[2022-10-01 12:46] #1210 closed

[2022-10-03 08:27] Chandra-Sekhar-Bala commented on #1210
@vj-codes can you please add hacktoberfest labal?

[2022-10-03 16:15] bosankus commented on #1183
Hi @yveskalume, @vj-codes & @isabelcosta  Can I work on this ?

[2022-10-03 16:16] bosankus commented on #1166
Hi @vj-codes I have made the changes and want to create a PR for this from my forked repo. Can I get this re-assigned to me ?
You can check my updated code here: https://github.com/bosankus/mentorship-android/tree/paging3-member-list

[2022-10-05 08:27] HoraceHuang-ui commented on #1219
Hi @vj-codes may I ask which param is prioritized? I'm going to choose one as a main title with emphasized font. Mentor / mentee / end date / note plz?

[2022-10-10 07:37] cchigo commented on #1220
hi, can i work on this

[2022-10-13 09:31] Ichchhie commented on #1216
Is it possible to get the branding guidelines?

[2022-10-17 02:35] tinniaru3005 commented on #1220
Hey @cchigo, thanks for your interest in contributing to the organization. You have been assigned. You can start working on the changes.

[2022-10-18 18:03] #1201 closed

[2022-11-04 19:13] #1208 closed

[2022-11-12 14:07] rishujam commented on #1175
Hey, Is this project still being maintained?

[2022-11-12 16:21] vj-codes commented on #1175
Hey yes being maintained