[2019-12-18 11:42] daksha-aeer commented on #373
I had this issue as well. The signup button was not reachable when testing on a low resolution phone. Glad someone fixed it

[2019-12-19 07:51] polalab opened #388 "Login Page: not able to see the toast on login page"
**Describe the bug**
Sometimes when the user tries to log in and gives the wrong password or username the toast message about the wrong password and username shows on the bottom of the screen and is covered by the keyboard. (It happened to me when trying to log using emulator, I am not able to test it on a real device, unfortunately)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to logi

[2019-12-19 11:32] rudrakshjhalanii07 commented on #378
I was thinking of the same issue and was about to raise it..!😅

[2019-12-19 13:41] vaishnavi-29 opened #391 "Arranging the members tab in alphabetical order for a better convenience of the users and adding the user in the tab too."
**Is your feature request related to a problem? Please describe.**
Currently the members tab is all scattered and it is really easier to search for a member if it was arranged in alphabetical order.Also , the user should be included in the members tab which isn't available now.

**Describe the solution you'd like**
Members should be arranged in alphabetical order and it will be more convenient is

[2019-12-19 13:50] vaishnavi-29 opened #392 "Add forgot password and forgot email feature"
**Is your feature request related to a problem?
Many a times users forget their passwords or sometimes even e-mail ids through which they have created the account.Thus , a recover email or password would be considered more user friendly .

**Describe solutions you've considered**
A button enabling the user to restore the password or email id through which they have logged in.

View of the login pa

[2019-12-21 09:39] daksha-aeer opened #396 "Instrumentation tests fail due to lack of scrolling"
**Describe the bug**
While trying the instrumentation tests in the mentorship android project, i found that they fail in some devices and pass on others. I discovered that in small screen devices, Espresso framework is unable to click the sign up / login buttons causing failure. Adding scrolling functionality in tests could fix this issue.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2019-12-22 16:54] Hardik0403 opened #398 "Chat feature between the mentor and the mentee."
**Is your feature request related to a problem? Please describe.**
How it would be if the mentor and the mentee in relation could chat with one another.
Right now there is no feature of communication between members in relation. Not only this will help in building a sense of mutual relationship between the members in relation, but it will also lead to effective mentorship to be delivered to the me

[2019-12-22 21:15] bartekpacia commented on #398
That's a very good idea I've been thinking about recently, too.
I've made some mockups, they might serve as a reference.
![Relation - Talk](https://user-images.githubusercontent.com/40357511/71327420-8d5efc80-2508-11ea-9281-6de49632b6c7.png)

[2019-12-22 21:48] bartekpacia opened #399 "Use Coroutines instead of RxJava"
**Is your feature request related to a problem?**
This isn't a problem *per se*, but rather a suggestion on how we can be even more `Kotlin-ish`.

Currently the app relies heavily on RxJava. It's great, but in Android world coroutines are gaining momentum and... it would be a nice GCI task, to have RxJava code replaced with equivalent Coroutine-based code/

**Describe alternatives you've considere

[2019-12-23 01:08] rudrakshjhalanii07 commented on #398
I feel like we're thinking on the same track😅
Anyway, really good work on the design part👍

[2019-12-24 00:05] ilya-maier opened #405 "Add encryption for password field"
**Is your feature request related to a problem? Please describe.**
As a user and as a developer, I want the app to have the best security practices. As of now, we are just passing the user's password with any encryption and only when it arrived at the backend it's hash would be saved.
This requires some code changes on the backend: [issue](https://github.com/systers/mentorship-backend/issues/312)

[2019-12-24 00:26] bartekpacia commented on #405
I'd go with the alternative 🤑

Great issue, tho.

[2019-12-24 00:27] ilyamaier commented on #405
Thanks, @bartekpacia
We could discuss the possibilities of selling the data in my private office tomorrow :)

[2019-12-27 00:28] IlyaMaier opened #419 "Add NetworkStateReceiver"
**Is your feature request related to a problem? Please describe.**
As of now, the user can't use the app without the internet and she/he gets a SnackBar message saying: "Please check your internet connection." And the problem is that when the user turns mobile data / wifi on, she/he needs to update the current fragment by clicking on it. It would be more user-friendly if the data would be loaded a

[2019-12-27 09:03] bartekpacia commented on #419
You mean offline?🤪

[2019-12-27 09:53] ilyamaier commented on #419
Oh, yes! Thank you! :sweat_smile:

[2019-12-27 20:08] ilya-maier opened #421 "Add password security check"
This is a copy of [issue #22](https://github.com/systers/mentorship-backend/issues/22) on the backend. As described in #405 it would be better to encrypt the password, which makes the issue [#22](https://github.com/systers/mentorship-backend/issues/22) on the backend meaningless, as we will pass the encryptes string and therefore check should happen in the android app.

## Description
As a user,
I

[2019-12-27 20:09] IlyaMaier commented on #405
@isabelcosta @m-murad please check out the same issue on the android. Because of the password encryption, this issue could be closed. Thank you in advance!

[2019-12-27 20:20] isabelcosta commented on #405
@IlyaMaier for this to work, this depends on an issue from backend right? Can you link it in this issue description please?
Even when we setup the backend to use https connection, you think this would be still needed?

[2019-12-27 20:22] isabelcosta commented on #421
@IlyaMaier Your issue seems very appropriate to do in the frontend :) I just delayed this at least on the backend to facilitate the use of dummy passwords for testing purposes.

Can you clarify which sort of validation you would do? Which would be the minimum requirements for a strong password for the app?

[2019-12-27 20:25] ilyamaier commented on #421
I've updated the description :)

[2019-12-27 20:27] ilyamaier commented on #405
Sorry, that comment should be on another issue. But I have still added the link in the description.
I don't think that if we will use https, that it would 'save' the password.

[2019-12-27 20:29] isabelcosta commented on #405
Also I'm just hesitant on this because then to test the backend, and create quick accounts with testing passwords... would we still be able to easily create accounts on SwaggerUI, just by typing there the password. our we would have to create the SHA256 hash and put it on swagger? @IlyaMaier

[2019-12-27 20:30] ilyamaier commented on #405
No, it would work perfectly fine on SwaggerUI, because we are not changing any relevant code on the backend. We just need to make the password length bigger.

[2019-12-27 20:32] ilyamaier commented on #405
@isabelcosta it doesn't create any problems at all, because the encrypted passwords are like the original ones. They wouldn't be the same if passwords weren't the same. So it is like to rotate a password or something like that. It will still keep things easy. :)

[2019-12-27 20:33] ilyamaier commented on #421
@isabelcosta could you please review my PR, only if you have time? I think the issue on the backend could be closed.

[2019-12-27 22:44] bartekpacia commented on #328
@m-murad @isabelcosta  I'd really like to hear your opinion on this topic :)

[2019-12-28 19:02] isabelcosta commented on #405
64 character-length bigger, right?
Just one last thing, if we create a test user on Android app and then want to use the Swagger uI with this user, we then have to create the SHA256 of the password we submitted initially. @IlyaMaier

[2019-12-28 19:07] IlyaMaier opened #430 "App crashes in SplashScreenActivity on low API phones"
**Describe the bug**
On the devices with API below 24 the app crashes on opening the app. (because of mentorship_system_logo.png which is located in drawable-v24 folder)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main menu of the phone/emulator'
2. Click on 'The app icon'
3. See error

**Expected behavior**
The app should be opened.

**Screenshots**
![Screenshot_1577559653](https

[2019-12-28 19:44] ilyamaier commented on #405
@isabelcosta
Yeah. It should be 64 characters long.
You are right, if we were using the Swagger UI after creating a user on Android, we will have to use the SHA256 of the password. But AFAIK if we use the Swagger UI that means we run the backend locally, which means that we need to change the link in the Android app when we creating a retrofit instance in order to use the backend that we run local

[2019-12-28 19:57] bartekpacia commented on #116
Hi @isabelcosta, I think that functionality stated described in this issue is not only a good decision - [it's recommended by android docs](https://developer.android.com/jetpack/docs/guide#cache-data).
If you agree, can you please reopen this issue or should I create a new one?

[2019-12-29 14:39] meenakshi-dhanani commented on #120
Can I work on this issue? @isabelcosta

[2019-12-30 21:30] vaishnavi-29 opened #434 "Add report or block user"
**Is your feature request related to a problem? Please describe.**
The report or block feature will be a technique used to reduce spam ,rude and mean behaviour of the users on the mentorship application.

**Describe the solution you'd like**
Adding a new report/block feature for users

**Describe alternatives you've considered**
Autofiltering done on the server

[2020-01-01 02:33] bartekpacia commented on #434
As of now, there's no possibility to directly communicate between users besides notes in Relationship Request, so it's not a big deal currently imo.

Regarding implementation: I thought of creating a separate db table called `blockers` which would contain `blocker_id` and `blocked_id`. During actions like fetching lists of users etc, we could filter the output using data from that `blockers` table

[2020-01-02 07:46] daksha-aeer commented on #120
+1 first I thought that mentorship requests for 2020 were not visible. Then I saw that they aren't chronologically arranged.

[2020-01-02 20:23] bartekpacia opened #444 "Suboptimal SplashScreen implementation"
**Describe the bug**
When the app is started, [`SplashScreenActivity`](https://github.com/systers/mentorship-android/blob/develop/app/src/main/java/org/systers/mentorship/view/activities/SplashScreenActivity.kt) opens up. Its purpose is to give user visual feedback while they are waiting for the app to load. However, after inspecting code in the aforementioned activity I have to say that it isn't

[2020-01-02 22:54] isabelcosta commented on #444
The great tutorial you mention should have a link? @bartekpacia

[2020-01-02 22:55] bartekpacia commented on #444
Oops, facepalm...of course, link added!

[2020-01-04 14:20] Kavya-24 commented on #241
May I work on it?

[2020-01-04 14:26] SAITARUN55 commented on #241
I had already raised a PR

[2020-01-07 16:31] bartekpacia opened #470 "Truncated user name"
**Describe the bug**
When the name of the user to which we want to send a relationship request is very long, it gets truncated.

![send request bug](https://user-images.githubusercontent.com/40357511/71911011-3cd7d800-3173-11ea-9b93-419c846918f3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Search for a user with very long name
3. Tap on that user
4. Tap "send request"

[2020-01-11 16:12] vaishnavi-29 opened #492 "Disorientation of cancel button and note text of current relation screen in landscape mode"
**Describe the bug**
When the current relation screen is changed from portrait to landscape orientation the cancel button overlaps with the note text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Current Relation Screen
2. Scroll down to Cancel Button
3. Change orientation from portrait to landscape
4. Notice the overlapping of cancel button error

**Expected behavior**
The cancel bu

[2020-01-12 21:17] arvindnegi1 opened #494 "Long text cutting off in bottomNavigationView"
**Describe the bug**
Long text cut off in BottomNavigationView only when tab is selected. On unselect text display properly.

**To Reproduce**
Steps to reproduce the behavior:

1.Select Members tab or Request Tab in bottom navigation view

**Expected behavior**
On select item from bottom navigation view text should not cut off and display properly.

**Screenshots**
- member text cutting off
![errm

[2020-01-12 22:00] arvindnegi1 commented on #492
@vaishnavi-29  are you working in issue?
if not, I would like to work on issue.

[2020-01-13 04:02] Menina294 opened #496 "Issue with Downloading App "Unfortunatly, Mentorship System has stopped.""
**Describe the bug**
The issue I have is that whenever I try to download the "Mentorship-System" app, I get a pop-up that says "Unfortunatly, Mentorship-System has stopped"on my tablet.

**To Reproduce**
Steps to reproduce the behavior:
1. I forked and cloned the project.
2. I then opened the project in Android Studio.
3. I then sync the project with Gradle files.
4. After that, I would click the

[2020-01-13 04:48] vaishnavi-29 commented on #492
Yes I am working on the isse but would be glad if u join on working the
issue to!

On Mon, 13 Jan 2020, 3:30 am Arvind Negi, <notifications@github.com> wrote:

[2020-01-13 19:52] vaishnavi-29 commented on #492
Heyy @arvindnegi1  how do u think this issue could be solved?

[2020-01-13 20:50] arvindnegi1 commented on #492
@vaishnavi-29 you can use nested scroll view in fragment_relation_pager.xml.
I implemented it . It is working fine but you raised the issue so I didn't put the pull request.

[2020-01-13 20:54] vaishnavi-29 commented on #492
@arvindnegi1 you can raise the the pull request as this issue is not a part of GCI and anyone can actually contribute to this issue.

[2020-01-13 20:59] arvindnegi1 commented on #492
@vaishnavi-29 it's fine thanks,you try to solve if you have some problem then I will make pr. @vaishnavi-29 happy coding.

[2020-01-13 21:00] vaishnavi-29 commented on #492
@arvindnegi1 yeah I'm not going to create a PR until GCI ends though.Happy Coding to u too:-)

[2020-01-14 01:20] bartekpacia commented on #496
Hi @Menina294 :)
It happens due to splash screen image being in `drawable-v24` folder, not the generic `drawable`.
This was already described in [this PR](https://github.com/systers/mentorship-android/issues/430).

[2020-01-14 18:08] bartekpacia opened #504 "Migrate to ViewPager2"
**Is your feature request related to a problem?**
[ViewPager2](https://developer.android.com/jetpack/androidx/releases/viewpager2) has been available for almost a year now, and during that time it has become stable and is now recommended by the Android Team. It has many advantages over the classic `ViewPager`, most notable being that the ViewPager2 is built on RecyclerView, which means it has acce

[2020-01-15 13:17] bartekpacia opened #510 "Paging"
**Is your feature request related to a problem? Please describe.**
Currently, data fetched from the backend at once, in full (for example a list of all users or a list of particular user's relations). As the data produced by users grows, it will become a more and more serious problem – longer fetching times, waste of network bandwidth and worse performance.

**Describe the solution you'd like**
I'

[2020-01-15 19:30] isabelcosta commented on #494
@arvindnegi1 thank you for reporting this issue :) I'll take a look at your PR once I reserve some time to review code :)

[2020-01-19 14:42] namrata-jha opened #527 "Write Espresso test for LoginActivity."
## Description
As a contributor,
I need Espresso UI test for LoginActivity,
so that I can minimize bugs in the application.

## Acceptance Criteria
### Update [Required]
- [ ] Test has been created for LoginActivity.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-01-19 14:44] vaishnavi-29 opened #528 "About Screen not properly set for landscape orientation"
**Describe the bug**
The About Screen of the Settings Menu is deformed when it is changed from portrait to landscape orientation

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Setting Page
2. Click on About Button
3. Observe the screen carefully
4. Now change to landscape orientation
5. See error

**Expected behaviour**
The About Screen, when changed to landscape orientation, was exp

[2020-01-19 19:39] polalab opened #530 "Back button for sign up activity"
**Is your feature request related to a problem? Please describe.**
After a user gets to the Sign-up page they have to scroll all the way down to see a button that can redirect them to the Login page again. There is no such a button at the top of the page so when a user taps on the Sign-up button by a mistake they might get frustrated to not be able to go back to the Login page.
![Screenshot_157946

[2020-01-19 20:05] polalab commented on #528
I have covered this issue in this pull request: #408

[2020-01-19 20:08] vaishnavi-29 commented on #528
woah got it @polalab

[2020-01-20 13:47] bartekpacia opened #537 "Use Kotlin Script for Gradle build files"
**Is your feature request related to a problem?**
It's possible to use [Kotlin Script](https://kotlinexpertise.com/run-kotlin-scripts-from-kotlin-programs/) to write Gradle build files. Kotlin Script (`*.kts` file extension) has several advantages over [Groovy](http://groovy-lang.org/) we currently use, namely:
- using the same language for everything
- advanced code completion support from the An

[2020-01-20 20:50] vaishnavi-29 commented on #434
just saw this comment , ig the notifs were off.IMO its a good way to implement the issue. @bartekpacia

[2020-01-21 08:26] daksha-aeer opened #540 "[Program:GCI] Precision loss while storing end date timestamp"
**Describe the bug**
The Relationship class reads relationship data from the backend and converts the end date to float format. However this leads to loss of precision.This may cause an incorrect date to be displayed to the user after conversion to DateTime format.. This also creates problems for sorting or filtering mentorship requests. [In a previous task](https://github.com/systers/mentorship-a

[2020-01-24 04:08] daksha-aeer opened #543 "Changeable end dates of mentorship relation"
**Is your feature request related to a problem? Please describe.**
If a student completes all the tasks given by a mentor before the end date and wants to be under the mentorship of a different mentor having a different set of skills, then that isn’t possible unless the mentor or mentee cancels the relation. But if the relation is cancelled then in the home page, it won’t show it in the completed

[2020-01-24 04:16] daksha-aeer opened #544 "Alterable notes"
**Is your feature request related to a problem? Please describe.**
When a mentee/mentor sends a request, they can send notes. But these notes can’t be altered in the future. So if someone wants to make a change to what they sent as it may have been incomplete or might have had typos, they can’t and that can get frustrating.

**Describe the solution you'd like**
My suggestion is that the notes shou

[2020-01-24 04:32] daksha-aeer opened #545 "Confusing request tab"
**Is your feature request related to a problem? Please describe.**
In this tab of the app, there are three columns available, pending, past and all, which make it confusing for the users.

**Describe the solution you'd like**
I feel like the three tabs should be pending, sent and received and there should be an option at the top of the page which will allow the user to view all the relations.

![I

[2020-01-24 08:34] robotjellyzone commented on #392
Hi @isabelcosta can i work on this issue if this has not been taken  by anyone ?

[2020-01-24 11:06] annabauza commented on #537
There is not too many examples yet of advance scripts like building multiple dimensions or loading dynamic libraries based on file tree. In other hand this project is not complicated and maybe it's worth to give it a go.

[2020-01-24 11:07] bartekpacia commented on #537
I have to agree, it's still quite a new feature.
Maybe we should wait for Android Studio 4.0 which will officially support `*.kts` build files?

[2020-01-24 12:06] robotjellyzone opened #546 "Adding One Touch Sign In Feature"
**Is your feature request related to a problem? Please describe.**

It is always a very tedious task to use keyboard and type a long (sometimes, if it follows a specific pattern)  password and that email id or username just to open that app. Also, remembering the entire password with username/mail-id (when nowadays we have so many ids and passwords to remember) is a very complex task and then anot

[2020-01-24 12:08] robotjellyzone commented on #546
I want to start working on this @isabelcosta although i have already started with some functionality but still in order to complete it i want your opinion .

[2020-01-24 13:33] daksha-aeer opened #547 "Availability in multiple languages"
**Is your feature request related to a problem? Please describe.**
The mentorship application's main goal is to connect women interested in tech from all over the world of different ages and from different walks of life. It would be easier for the women to use the app if it was available in their native language.

**Describe the solution you'd like**
My solution is that the app should have a multi

[2020-01-24 13:54] daksha-aeer opened #548 "Search option for mentorship requests"
**Is your feature request related to a problem? Please describe.**
There is a possibility that a mentee/mentor has received a lot of requests but is still looking for a specific one in the relations tab. It might take her a while before she finds the one she's looking for.

**Describe the solution you'd like**
 There should be a search option in the request tabs. That way the mentor/mentee can jus

[2020-01-25 01:25] bartekpacia commented on #546
Hello @robotjellyzone! It looks very reasonable and useful. However, I'd wait for the current Pull Requests to be merged (after the GCI contest). It is highly probable that there'll be a lot of changes in the codebase, especially that there was quite a few GCI tasks related to improving the login flow.
I'm not a maintainer or anything, but that's what I'd do if I were you :)

[2020-01-25 05:04] robotjellyzone commented on #546
Hi @bartekpacia great to see you here ☺️
Yeah, I know PRs are yet to be merged into the code base, but don't worry the coding team and other mentors of GCI are still in this process of merging those PRs after they will find the best one among them to merge!!
Its great to see that you are still contributing outside the GCI, keep doing this 👍👍

[2020-01-25 08:30] robotjellyzone commented on #398
So, @isabelcosta can I work on this issue if this has not been taken by anyone?

[2020-01-25 18:39] bartekpacia commented on #546
@robotjellyzone Okay, so good luck with this feature :)
BTW Did you take part in GCI?

[2020-01-26 05:52] robotjellyzone commented on #546
No, I was the mentor in GCI :D

[2020-01-26 14:56] isabelcosta commented on #546
Hi @robotjellyzone I have no current understanding of how this would work technically and i don't have current bandwidth to look at your PR related to this, once it is done. I would like to first give priority to merging code from GCI, and have that solved, and only then focused on other contributions.
So if you wish to start contributing, I don't mind, but you might then get some merge conflicts

[2020-02-01 05:22] CheshtaK commented on #246
Fixed by PR #454

[2020-02-01 05:22] #246 closed

[2020-02-03 15:08] vaishnavi-29 commented on #392
Heyy @robotjellyzone  ig this issue ain't taken up by anyone yet

[2020-02-03 15:25] robotjellyzone commented on #392
Hi, Vaishnavi great to see you here :) . Yeah, i know this has not been taken up by anyone but just saying to confirm from isabel costa and i know she is busy because of many gci prs that are yet to be merge !!
But still thanks for your reply  👍

[2020-02-04 07:13] CheshtaK commented on #343
Fixed by PR #403

[2020-02-04 07:13] #343 closed

[2020-02-07 05:15] mayburgos commented on #340
Resolved with #401

[2020-02-07 05:15] #340 closed

[2020-02-07 05:15] mayburgos commented on #100
Resolved with #401

[2020-02-07 05:15] #100 closed

[2020-02-07 21:56] isabelcosta opened #553 "Change any reference from systers organization to anitab-org on README links"
## Description

Change any reference from `systers` to `anitab-org` on README links.
Places you might find this: TravisCI and commit style guide link

Please follow out [Commit Message Style Guide](https://github.com/anitab-org/mentorship-backend/wiki/Commit-Message-Style-Guide)

## Acceptance Criteria
### Update [Required]
- [ ] Change references from `systers` to `anitab-org`

## Definition of D

[2020-02-10 18:22] isabelcosta opened #554 "Update CONTRIBUTING.md adding project specific guidelines"
## Description
As an open source contributor,
I need updated CONTRIBUTING.md,
so that I can know what is the desired procedure when contributing to the repository.

What to update?
- Communication channel (mention Zulip website and proper channels)
- Follow Commit Message Style Guidelines
- Have an issue matching the problem the PR is fixing (preferable)
- When submitting a PR with changes to UI,

[2020-02-11 23:54] isabelcosta opened #555 "Disable send request button if the person is not available to be mentor and mentee"
## Description

When a person's profile is clicked upon on the Members page, the "Send Request" button is always working irrespective of the person's ability. After entering all the fields for request and pressing the "Send request" button, an error comes up if the person is unavailable. For a member who is not available to mentor and be a mentee, disable the "Send Request" button present on the M

[2020-02-12 00:04] isabelcosta opened #556 "Logout a user when JWT expires"
## Description

When a user logs in, then the user is issued a JSON Web Token(JWT).
If the token expires the user cannot make requests and the server sends a 401 error code.
Detect an expired token using Okhttp Authenticator and logout the user. You can read more

_taken directly from a Google Code-in task_

## Acceptance Criteria
### Update [Required]
- [x] Logout a user when JWT expires

## Defi

[2020-02-12 00:15] isabelcosta opened #557 "Add a Date of Birth field in Sign Up and Profile Page"
## Description

- Add a date of birth (DOB) field restricting the minimum age to be 13 years old.
- Restrict the user from signing up if he/she is less than 13
- Similarly, add a DOB field in the My Profile and Edit Profile page.

_taken directly from a Google Code-in contest task_

## Acceptance Criteria
### Update [Required]
- [ ] Add DOB restricted to 13 y/o on Registration and Profile screen

[2020-02-12 00:21] isabelcosta opened #558 "Fix the overlap between text and button on Request Detail Screen"
## Description

As of now when a particular request is viewed in the landscape mode with a long text on the note section, the delete button overlaps with the text. View the screenshot. In this task, you are required to fix the overlap.

## Mocks

![overlap image](https://user-images.githubusercontent.com/26908195/71485681-4fc7df80-2838-11ea-9487-8a3ecd91a8b8.jpeg)

## Acceptance Criteria
### Updat

[2020-02-12 10:34] CheshtaK commented on #221
Fixed by PR #409

[2020-02-12 10:34] #221 closed

[2020-02-13 00:43] isabelcosta opened #559 "Add a default profile picture"
## Description

Add a default profile picture to the "Edit Profile" screen.

## Acceptance Criteria
### Update [Required]
- [ ] Modify the Edit Profile Fragment xml file to include a default profile picture.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hour

[2020-02-16 12:34] annabauza opened #562 "endpoint /mentorship_relation/send_request does not validate users id"
**Describe the bug**
When mentor_id to mentee_id is invalid Internal server error occurs (500)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to localhost try out'/mentorship_relation/send_request.'
2. Send mentorship relation request with non existing  ` "mentor_id": 0`, or `"mentee_id": 0`.
3. See internal server error

**Expected behavior**
Backend should return bad request with info

[2020-02-16 13:18] annabauza commented on #562
Closing due to wrong repo.

[2020-02-16 13:18] #562 closed

[2020-02-17 21:03] annabauza opened #563 "Retain values typed in EditText in EditProfile Dialog on orientation change"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to "Profiles" tab in BottomNavigationView
2. Click Edit profile icon in ProfileFragment
3. Type text in any EditText in EditProfileDialog
4. Rotate your device Text that is typed in EditText are lost, retain that text on orientation change

**Expected behavior**
R

[2020-02-17 21:36] Buddhiprabha commented on #555
Fixed with https://github.com/anitab-org/mentorship-android/pull/464

[2020-02-17 21:36] #555 closed

[2020-02-17 22:32] isabelcosta commented on #558
Fixed with #425 🎉

[2020-02-17 22:32] #558 closed

[2020-02-17 22:32] isabelcosta commented on #233
Fixed with #339 🎉

[2020-02-17 22:32] #233 closed

[2020-02-17 22:34] isabelcosta commented on #528
Fixed with #410 🎉

[2020-02-17 22:34] #528 closed

[2020-02-17 22:35] isabelcosta commented on #251
Fixed with #291 !

[2020-02-17 22:35] #251 closed

[2020-02-17 22:36] isabelcosta commented on #176
Fixed with #489 🎉

[2020-02-17 22:36] #176 closed

[2020-02-17 22:36] isabelcosta commented on #559
Fixed with #287 🎉

[2020-02-17 22:36] #559 closed

[2020-02-18 21:09] annabauza opened #565 "Add localhost_debug BuildType"
**Is your feature request related to a problem? Please describe.**
Add ability to test against localhost by just selecting target build.

**Describe the solution you'd like**
Add build type to app gradle called `localhost_debug`
move variables from BaseUrl class to build types:
[code]
Add localhost url pointing from virtual machine `"http://10.0.2.2:5000"` for `localhost_debug`.
Refactor `BaseUrl`

[2020-02-20 17:34] gaurivn commented on #553
I would like to work on this issue.

[2020-02-20 17:42] isabelcosta commented on #553
Go ahead @gaurivn :)

[2020-02-21 08:46] refactor-droidyy commented on #557
@isabelcosta can i work on this?

[2020-02-21 14:35] jddeep commented on #563
@annabauza @mayburgos @rgu0011 @isabelcosta May I proceed with fixing this?

[2020-02-21 15:54] jddeep opened #568 "bug: Home Screen gets reformed on home nav button click"
**Describe the bug**
bug: Home Screen gets reformed on home nav button click even though we are on the HomePage itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home'
2. Click on 'Home' again.
3. See error

**Expected behavior**
The Fragment should only be reformed only if we are navigating from other fragment.

**Screenshots**

![ezgif](https://user-images.githubusercontent.co

[2020-02-21 16:07] strongrunner opened #570 "Status bar not in sync with app theme color"
The status bar doesn't matches with the application. This problem is due to not have set the status bar color/ not changing the colorPrimaryDark in accordance with color "aubergine" in colors.xml.
![Screenshot_2020-02-21-20-40-32-674_org systers mentorship 1](https://user-images.githubusercontent.com/39822483/75050548-2e126e00-54f2-11ea-96d8-acca422797da.png)

Fix: Change the colorPrimaryDark

[2020-02-21 16:39] rohanprasadofficial commented on #570
i would like to work on it @strongrunner

[2020-02-21 16:39] jddeep opened #571 "bug: Slack Channel button still exists in About section"
**Describe the bug**
bug: Slack Channel button still exists in About section.

**To Reproduce**
Go to About from settings icon.

**Expected behavior**
Zulip button should be there and the link should be of the Zulip channel.

**Screenshots**
<img src="https://user-images.githubusercontent.com/43133646/75053165-cf9bbe80-54f6-11ea-93ce-4b0733869e42.png" width=300 />

[2020-02-21 16:40] rohanprasadofficial commented on #571
I would like to work on it @jddeep

[2020-02-21 16:42] jddeep commented on #571
@rohanprasadofficial I am working on it.

[2020-02-21 16:50] jddeep commented on #543
@daksha-aeer @isabelcosta @mayburgos @rgu0011 Could I work on this?

[2020-02-21 16:58] jddeep commented on #545
@isabelcosta @daksha-aeer @rgu0011 @mayburgos Can I send over a PR for this?

[2020-02-21 17:03] jddeep opened #573 "bug: Password change confirmation button enabled only when some password is entered"
**Describe the bug**
bug: Password change confirmation button enabled only when some password is entered

**To Reproduce**
Go to settings and Change password

**Expected behavior**
The button should be disabled at first and then should get enabled once user enters some password.

**Screenshots**

<img src="https://user-images.githubusercontent.com/43133646/75055040-4c7c6780-54fa-11ea-9449-5b4daf16

[2020-02-21 17:04] jddeep commented on #573
I am working on this.

[2020-02-21 17:40] devanshi7799 commented on #573
can i work on this?

[2020-02-21 17:45] devanshi7799 commented on #392
can i work on this??

[2020-02-21 17:49] devanshi7799 commented on #388
is this issue open? I would like to work on this one

[2020-02-21 18:06] vj-codes commented on #392
Yea sure @devanshi7799

[2020-02-21 18:08] devanshi7799 opened #574 "Set the background to white."
**Describe the bug**
The background colour of login page and splashActivity page is not same.

**To Reproduce**
Steps to reproduce the behavior:
Open the login page.

**Expected behavior**
The background colour must be set to white (same as the logo background colour) or the background of logo must be made transparent

**Screenshots**
![WhatsApp Image 2020-02-21 at 11 37 25 PM](https://user-images

[2020-02-21 18:08] strongrunner opened #575 "bug: Text content in about section skewed"
**Description**
Text in the about section is accumulating towards left

**To Reproduce**

1.Go to the settings page
2.Click on About Button
3.Observe the screen carefully

**Expected Behavior**
Text is spread uniformly in portrait orientation

**How to Solve**
Spread the outermost layout containing the text to match the parent width with padding

Screenshot
![Screenshot_2020-02-21-23-28-30-706_org

[2020-02-21 18:10] devanshi7799 commented on #574
i am working on this

[2020-02-21 18:11] devanshi7799 commented on #544
I would like to work on this

[2020-02-21 18:23] devanshi7799 commented on #557
@isabelcosta i would like to work on this.

[2020-02-21 18:53] Prakash-sa commented on #574
i have done that.

[2020-02-21 19:16] Prakash-sa commented on #26
![web_hi_res_512](https://user-images.githubusercontent.com/35262074/75064270-9f5f1a80-550c-11ea-84d5-6c23558827c5.png)
Can we make this icon for app.

[2020-02-21 20:48] da-nish opened #578 "There is no scroll down in signin activity"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign in activity'
2. Click on 'username field'
3. Scroll down to 'password field'
4. See error

**Expected behavior**
After putting the username, user can goto password field through scroll down without closing the keyboard but now there is no scroll down so that us

[2020-02-22 02:31] jddeep commented on #575
Not sure what's the problem was here. The text is left aligned.

[2020-02-22 02:32] jddeep commented on #575
Also why are 2 PRs directed to this?

[2020-02-22 06:23] devanshi7799 commented on #574
@Prakash-sa i was working on this one. I was about to make the PR.

[2020-02-22 06:43] devanshi7799 commented on #235
@isabelcosta  i this issue still open? i would like to work on this one

[2020-02-22 06:48] devanshi7799 commented on #91
@isabelcosta can i work on this?

[2020-02-22 06:53] Prakash-sa commented on #574
But i have already made that due to some issue it doesn't show on this.

[2020-02-22 09:29] Rita-Okonkwo commented on #556
Hi @isabelcosta nice e-meeting you. Is this issue available?

[2020-02-22 09:45] Prakash-sa opened #583 "Make UI for Feedback in Settings."
**Is your feature request related to a problem? Please describe.**
There is no UI for Feedback in Settings section.

**Describe the solution you'd like**
Make an Activity for Feedback.

**Describe alternatives you've considered**
Anything for submitting feedback.

[2020-02-22 09:46] Prakash-sa commented on #583
I am working on this.

[2020-02-22 09:57] Prakash-sa commented on #575
I cure that by textAligment ="center"

[2020-02-22 12:15] AminullahTajMuhammad opened #585 "Add ScrollView in Login Screen."
**Describe the bug**
When the keyboard open Screen should be scrollable for good user experience.

**Expected behavior**
When user is filled the login fields user should not have to close keyboard. It scroll up and click the login button.

**Screenshots**
![Screenshot_2020-02-22-17-13-11-01_184af3f6adcdf091d91f35c3acb0ce61 1](https://user-images.githubusercontent.com/43150539/75092264-c6aef980-559

[2020-02-22 12:36] thatfedupguy commented on #235
@isabelcosta is there a chatroom for organization members on gitter or some other channel.

[2020-02-22 12:40] AminullahTajMuhammad commented on #585
@sunjunkie  can i do this issue?

[2020-02-22 12:41] thatfedupguy commented on #175
@YashishDua are you still working on this ?

[2020-02-22 12:45] YashishDua commented on #175
No.

[2020-02-22 12:46] thatfedupguy commented on #175
then, I am taking up this issue

[2020-02-22 12:59] Prakash-sa commented on #585
This is already done. This https://github.com/anitab-org/mentorship-android/issues/578

[2020-02-22 13:02] Prakash-sa commented on #583
@isabelcosta can you provide your review for ui.

[2020-02-22 15:22] AminullahTajMuhammad commented on #585
Is any one working on this issue?

[2020-02-22 15:29] AminullahTajMuhammad commented on #398
I want to working on this issue for gsoc.

[2020-02-22 15:29] AminullahTajMuhammad commented on #398
Who is the mentor for gsoc 2020.

[2020-02-22 15:45] isabelcosta commented on #556
Hey @Rita-Okonkwo , this is not available as it was part of Google Code in task, and I just merged this fix into the `gci-dev` branch. Once all the work from GCI is merged, we will merge this branch to `develop` so that everyone is up to date on the development of the app. Some issues may arise from this merge, and then there will be more issues for contributors to solve :)
Thank you for your inte

[2020-02-22 15:46] isabelcosta commented on #556
Closed due to #475 merge 🎉

[2020-02-22 15:46] #556 closed

[2020-02-22 15:52] dhruv-singhal-github commented on #585
Hello, someone has already worked it out, it may be visible once pull requests are merged, you can start working on some other issue if you like.
: )
Happy Contributing

[2020-02-22 16:16] Prakash-sa commented on #585
Yes I have done that.

[2020-02-22 16:31] isabelcosta opened #586 "Re-design Members Page"
## Description

As a user of the app,
I need a nice user interface and maybe some animations,
so that I can have a user experience within the app.

The idea is to redesign the Members page.
This issue was inspired by [this GCI task](https://codein.withgoogle.com/tasks/4844110989492224/).

## Mocks

No mocks, be as creative as you want!

## Acceptance Criteria
### Update [Required]
- [ ] Provide de

[2020-02-22 17:10] isabelcosta opened #588 "Create App walkthrough GIFs"
## Description

Create App walkthrough GIFs.
Taken from [Create Systers Mentorship App Walkthrough GIFs](https://codein.withgoogle.com/tasks/5681086273683456/) task

## Acceptance Criteria
### Update [Required]
- [ ] Create GIFs showing application walkthrough

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
N/A hours

[2020-02-22 17:15] isabelcosta commented on #588
These are GIFs representing the current app walkthrough, showing the current state of the android application user interface from GCI participant. Sharing this here, because it can be useful for anyone to understand the current state of the app.

[App_Walkthrough_1](https://user-images.githubusercontent.com/11148726/75096331-8bf89180-5596-11ea-8c7c-0ffb2cb921c3.gif)
[App_Walkthrough_2](https://use

[2020-02-22 18:03] robotjellyzone commented on #398
Hi @AminullahTajMuhammad, soo sorry but this is one of those issues where I am working but you can create your own issues or feel free to take those that have not been taken up by anyone!!

[2020-02-22 18:11] thatfedupguy commented on #586
@isabelcosta  can I work on this?

[2020-02-22 18:12] tusharr-98 commented on #586
plus is there a chatroom for the organization members?

[2020-02-22 18:59] Prakash-sa commented on #586
@isabelcosta We can make this kind of view for member page. We have to add little details regarding name and other fields which can be added in xml and recyclerview. We can also add fall down animation in it .
![ezgif com-optimize](https://user-images.githubusercontent.com/35262074/75097461-06460780-55d1-11ea-8efb-beff730d319b.gif)

[2020-02-22 20:05] AminullahTajMuhammad commented on #588
@isabelcosta Can I do this?

[2020-02-22 22:42] isabelcosta commented on #588
@AminullahTajMuhammad this is sort of already done, I created this to document publicly a Google Code in task that was done, and could be useful for other people to see. So this is not available and I will close it now. Or do you think there is anything to do here?

[2020-02-22 22:48] isabelcosta opened #590 "Create documentation to explain how to use server running locally when testing Android app"
## Description
As an app developer,
I need to have a backend server up and running,
so that I can test the Android app, for fetching data.

So there can be times when the server is down, but you can still test the Android app, if you run a server locally within the same IP network that your device is using.

We need a document, can be a markdown file (e.g.: gist on GitHub, or a markdown file you p

[2020-02-22 22:51] AminullahTajMuhammad commented on #398
@robotjellyzone Okay bro no problem.

[2020-02-22 22:57] AminullahTajMuhammad commented on #588
@isabelcosta But app walkthrough doesn't show in the application.

[2020-02-22 22:58] #585 closed

[2020-02-22 22:59] isabelcosta commented on #588
in the repository, you mean? it does not have too I think. We are still merging work from GCI, but with the GCI PRs you will see images of the screens showing up in the README of the repository @AminullahTajMuhammad

[2020-02-22 23:09] AminullahTajMuhammad commented on #588
@isabelcosta you are talking about application walkthrough gif which is added in README for visit the application for new comer.

[2020-02-22 23:31] isabelcosta commented on #557
@devanshi7799 @refactor-droidyy this will be solved with PR #461 . Thank you for your interest on this!

[2020-02-23 01:14] isabelcosta opened #591 "Upload Profile Picture option for users in EditProfile"
## Description
As a user of the Android app,
I need to be able to upload a profile picture,
so that I can complete my user profile.

Taken from this [Google Code in task](https://codein.withgoogle.com/tasks/4959726316552192/)

The user should be able to upload a local image to the Android app.

Related to #24

## Acceptance Criteria
### Update [Required]
- [ ] Implement uploading image to User Pro

[2020-02-23 05:44] thatfedupguy commented on #591
Can I work on this?

[2020-02-23 05:53] tusharr-98 opened #592 "No scroll view in Settings Activity"
**Describe the bug**
User is not able to scroll the page in landscape mode as there is no scroll view in activity_signup.xml file.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in and turn on landscape mode
2. Click on 'Setting icon' on the top right corner
3. Try to scroll down
4. See error

**Expected behavior**
User should be able to scroll the page.

**Screenshots**
![Screenshot_20

[2020-02-23 05:53] thatfedupguy commented on #592
I will be working on this.

[2020-02-23 11:36] Prakash-sa commented on #591
@isabelcosta can i work on this?

[2020-02-23 11:37] Prakash-sa commented on #590
@isabelcosta because i have done that i can write this in documentation. Can i work on this?

[2020-02-23 17:52] isabelcosta commented on #565
Closed with merge of #593

[2020-02-23 17:52] #565 closed

[2020-02-23 18:48] isabelcosta commented on #590
@Prakash-sa go ahead with it :)

[2020-02-23 20:17] annabauza opened #594 "[After GCI'19] Search feature is not working"
**Describe the bug**
After merging all GCI search feature is not working as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to members
2. Click on search icon
3. Type in username which exists
4. See the list is empty
5. Press cross to cancel search
6 See list is not reverted

**Expected behavior**
Search shows existing users by username or name

**Screenshots**

| <img width="399

[2020-02-23 21:32] isabelcosta opened #595 "Create warning dialog boxes to accept and reject mentorship requests"
## Description

Taken directly from [this Google Code-in task](https://codein.withgoogle.com/tasks/4983979728437248/)
As of now the mentorship requests can be accepted or rejected as soon as the accept or reject button is pressed. In this task, you are required to create warning dialog boxes that appear when the buttons are pressed. For example, when the user first clicks on the "Accept" button in

[2020-02-23 21:33] isabelcosta commented on #595
Ups this was already created here https://github.com/anitab-org/mentorship-android/issues/250
Will close this

[2020-02-23 21:33] #595 closed

[2020-02-23 21:39] isabelcosta opened #596 "Integrate WebView on About screen"
## Description

_taken directly from a Google Code in contest task_

Click on any card item (e.g.: "Our Github Link") and that link will open in web browser You have to open the links of every card in the app itself with the help of WebView.

## Acceptance Criteria
### Update [Required]
- [ ] Open links on About screen as webview

## Definition of Done
- [ ] All of the required items are completed

[2020-02-24 06:29] m-murad commented on #596
Instead of opening in a webview first check if there is an app that supports the like eg open slack link in slack app, GitHub link in GitHub app.
Of the app is not installed then open the link in a Chrome Custom Tab

@isabelcosta what do you think?

[2020-02-24 06:40] m-murad commented on #596
@AnuthaDev @ashar-7 Don't send PRs straight away. First claim the issue and once a maintainer approves then send a PR.

@ashar-7 Don't send multiple PR (in this case #274 and #295) for the same issue. Also fix the first PR if you want to make some changes.

[2020-02-24 07:12] jddeep commented on #563
@m-murad Have a look here

[2020-02-24 07:12] jddeep commented on #543
@m-murad Have a look here

[2020-02-24 07:12] jddeep commented on #545
@m-murad Have a look here

[2020-02-24 08:10] m-murad commented on #545
@jddeep lets discuss if the community wants these changes, if it make sense to everyone?
@isabelcosta @mayburgos what do you think about this?

[2020-02-24 08:15] m-murad commented on #543
@daksha-aeer this needs changes on the backend first.
Closing this for now, create a feature request on the backend project. Mention this issue there. Once its implemented on the backend we can open this and then you can send a PR

[2020-02-24 08:15] #543 closed

[2020-02-24 08:20] m-murad commented on #563
I guess this has been fixed in GCI. If so please close this issue.
@isabelcosta please confirm this.

@jddeep check if its fixed or wait for a maintainers conformation, then you can send a PR

[2020-02-24 10:42] annabauza opened #599 "Add new task button is too low"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Relations tab
2. Scroll down
3. See floating button is covered by bottom bar

**Expected behavior**
Add task button is always visible and not dependent on scroll

**Screenshots**
<img width="401" alt="Screenshot 2020-02-24 at 10 32 55" src="https://user-images.github

[2020-02-24 12:22] ashar-7 commented on #596
What do you guys think about using [FinestWebView](https://github.com/TheFinestArtist/FinestWebView-Android)?
It would provide a better user experience.

[2020-02-24 12:27] jddeep commented on #571
@isabelcosta @mayburgos Could you please give an approval here?

[2020-02-24 12:31] jddeep commented on #599
@annabauza Could I work on this?

[2020-02-24 13:01] annabauza commented on #599
@jashpreet this is after gci which mean we need to merge gci-dev into develop branch first. I'm aiming one more week on merges. Thanks and sorry :)

[2020-02-24 14:21] m-murad commented on #596
I would say 👎
This is not being maintained actively, there are a lot of open issues which have not been addressed.

[2020-02-24 14:24] m-murad commented on #571
@isabelcosta @annabauza @mayburgos
Are we doing away with slack permanently?

[2020-02-24 14:27] m-murad commented on #568
@jddeep The same issue exists with other fragments all should be solved together.
How do you plan to solve this for all tabs?

[2020-02-24 20:58] isabelcosta commented on #125
The creation of the screen is done with #268 , the integration with a future API dedicated to this will come later.

[2020-02-24 20:58] #125 closed

[2020-02-24 21:02] isabelcosta opened #601 "Put all strings from FeedbackActivity on strings.xml"
## Description

FeedbackActivity has a lot of hardcoded strings in the code. These strings should be put into `strings.xml` because it is a good practice and to enable future internationalization features on this text.

## Acceptance Criteria
### Update [Required]
- [ ] Move all hardcoded strings from FeedbackActivity to `strings.xml`

## Definition of Done
- [ ] All of the required items are comp

[2020-02-25 09:06] Rita-Okonkwo commented on #601
Hello @isabelcosta please can I work on this?

[2020-02-25 09:10] Rita-Okonkwo commented on #554
Hello @isabelcosta please can I work on this?

[2020-02-25 09:13] Rita-Okonkwo commented on #596
Hello please has this been worked on? I would love to work on this

[2020-02-25 12:51] pratikghule commented on #601
I wanted to do this but I am unable to find the feedback activity! Can you help?

[2020-02-25 13:04] Rita-Okonkwo commented on #601
Hello @pratikghule i already commented on the issue. I’m waiting for @isabelcosta approval to work on it. I think she has to finish merging PRs from GCI. Thanks

[2020-02-25 13:15] dhruv-singhal-github commented on #235
@isabelcosta this is a must feature, can I work on this?

[2020-02-25 13:24] sidvenu commented on #212
@isabelcosta Was this issue done by Systers' GCI Students or can I continue working on this issue?

[2020-02-25 14:01] pratikghule commented on #601
yes I have come to know that all these GCI19 issues are done and only the finish work is remain... after that they'll close it! Welcome.

[2020-02-25 17:59] isabelcosta commented on #554
@Rita-Okonkwo this one is assigned to me, since I have been working with the project long enough to understand what are the guidelines of this project :) Please try to find another issue to solve. Thank you for your interest in helping on this issue 🙌

[2020-02-25 19:27] isabelcosta commented on #601
@Rita-Okonkwo you can work on this once we merge the work from GCI, which is almost done ;)
thank you for your interest @Rita-Okonkwo @pratikghule

[2020-02-25 19:28] isabelcosta commented on #596
This is already done @Rita-Okonkwo :) Once GCI is merged, this will go with the code.

[2020-02-25 19:30] isabelcosta commented on #596
This can be done after all of GCI is merged :)

[2020-02-25 20:24] AminullahTajMuhammad commented on #588
@isabelcosta can I add these ScreenShots in README.

[2020-02-25 20:48] isabelcosta commented on #588
I think there's no need for now because the README already will have screenshots. I'll maybe put this on Wiki 🤔 I'm not sure right now 🤔
Can you find another issue to solve for now @AminullahTajMuhammad ? Also, because I'm focusing now on merge GCI tasks.

[2020-02-25 23:09] isabelcosta opened #603 "Save login credentials using Credentials API"
## Description

_taken from a Google Code in task_

When a user logs in, the credentials are not saved. If the user has to reinstall the app, they have to type the credentials again.

## Acceptance Criteria
### Update [Required]
- [ ] Integrate "Smart Lock for Passwords" to save the user credentials.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-02-26 09:13] Prakash-sa opened #606 "Remove semicolon in AboutActivity."
**Describe the bug**
There is semicolon in AboutActivity. Semicolon(;) token is not required in Kotlin.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Android Studio
2. Click on AboutActivity
3. See error

**Expected behavior**
Remove the semicolon.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2020-02-26 11:05] pratikghule opened #608 "mentoship android app crashed/crashes when build and run on android studio 3.6 (new update as on 26/02/2020)"
**mentorship app crashes when run from android studio 3.6**
I forked , cloned and run the mentorship project from github to my local machine ..., It successfully build the project but after a successfull install the app runs and Crashes. Its a java runtime error.

**Expected behavior**
App simply crashes

**Desktop (please complete the following information):**
 - Android OS
 - Version 5.1

**Smar

[2020-02-26 12:56] m-murad commented on #608
@pratikghule Please include the crash log here so that we can see what the issue is.

[2020-02-26 12:58] m-murad commented on #606
@Prakash-sa
Nice catch, this makes sense.
But from next time please wait for a maintainers to approve the issue before sending a PR

[2020-02-26 13:07] Prakash-sa commented on #606
@m-murad ok.

[2020-02-26 13:39] pratikghule commented on #608
02/26 19:06:09: Launching 'app' on GiONEE M5 lite CDMA.
$ adb shell am start -n "org.systers.mentorship/org.systers.mentorship.view.activities.SplashScreenActivity" -a android.intent.action.MAIN -c android.intent.category.LAUNCHER
Connected to process 17305 on device 'gionee-m5_lite_cdma-AQHMSSFU99999999'.
Capturing and displaying logcat messages from application. This behavior can be disabled in

[2020-02-26 13:42] pratikghule commented on #608
![Screenshot (4)](https://user-images.githubusercontent.com/19855008/75350109-ee6dcc80-58cb-11ea-9d64-ab9fefb37963.png)
![Screenshot (5)](https://user-images.githubusercontent.com/19855008/75350114-f168bd00-58cb-11ea-8031-31af594504f7.png)

[2020-02-26 14:02] Prakash-sa commented on #608
You can view this https://github.com/anitab-org/mentorship-android/issues/430 for app crash.

[2020-02-26 21:44] Rita-Okonkwo commented on #601
yayyy! thank you so much @isabelcosta . Please how will we know when the work from GCI has been merged?

[2020-02-26 21:50] isabelcosta commented on #601
Yes, sure! I or @anitab-org/admins will let the community know, we are almost there ;)

[2020-02-26 21:52] Rita-Okonkwo commented on #554
Thank you so much for your response @isabelcosta
I also noticed that the open source license is not part of the readme. Is it something I can include?

[2020-02-26 21:54] isabelcosta commented on #554
Sure @Rita-Okonkwo :) Good suggestion! can you create an issue for you to add the license to the README, following one of the templates? then you can start working on it

[2020-02-26 21:54] Rita-Okonkwo commented on #601
Thanks once again @isabelcosta

[2020-02-26 21:57] Rita-Okonkwo commented on #554
yayy! thank you so much for your response, I will do that. Please is there an existing license for this project?

[2020-02-26 21:58] isabelcosta commented on #554
Sure in the root of the project, you can see the license :) @Rita-Okonkwo

[2020-02-26 22:05] Rita-Okonkwo opened #609 "License in README"
**Is your feature request related to a problem? Please describe.**
This is an open source android application repository. For this repository to truly be open source, it needs to be licensed so that others are free to use, change and distribute the software.  The license should also be included in the repository README

**Describe the solution you'd like**
I will like to include the license in the

[2020-02-26 22:06] Rita-Okonkwo commented on #609
I would love to start working on it.
Cc @isabelcosta

[2020-02-26 23:53] Rita-Okonkwo commented on #609
Hi @isabelcosta . Here is the PR: https://github.com/anitab-org/mentorship-android/pull/610

[2020-02-27 09:56] pratikghule commented on #601
thanks @isabelcosta

[2020-02-27 09:57] pratikghule commented on #601
thanks

[2020-02-27 09:57] pratikghule commented on #601
thanks @isabelcosta

[2020-02-27 15:50] jddeep commented on #568
@m-murad There are two options either creating boolean vars for each fragments OR updating the function to check whether there is already an instance of the fragment created, if yes no need to create a new instance. What do you suggest?

[2020-02-27 23:40] isabelcosta commented on #212
I have no idea at the moment, lets see once the gci branch is merged :)

[2020-02-28 11:52] m-murad commented on #606
Fixed in GCI, closing this.

[2020-02-28 11:52] #606 closed

[2020-02-28 13:14] sidvenu commented on #594
Hey @annabauza @isabelcosta! Can I work on this issue?

[2020-02-28 13:24] sidvenu commented on #212
@isabelcosta I just had a look through the repo after merging - sounds like this wasn't done during GCI.

Relevant file: https://github.com/anitab-org/mentorship-android/blob/develop/app/src/main/java/org/systers/mentorship/remote/services/TaskService.kt

If this indeed hasn't been done, I would like to continue working on this issue.

[2020-02-28 13:31] m-murad commented on #594
@sidvenu
You can work on this issue. Before sending the PR can you tell what has gone wrong and why the search isn't working.

[2020-02-28 13:39] m-murad commented on #212
@isabelcosta Can we discuss tasks that are related to deleting entities, I want to confirm what exactly we are doing when deleting entities like user or relationships.

[2020-02-28 16:03] aaliyah03 commented on #591
Hi @isabelcosta I would like to work on this!

[2020-02-28 16:05] aaliyah03 commented on #553
Hi, I would like to work on the remaining tasks if possible?

[2020-02-28 17:50] #553 closed

[2020-02-29 11:25] Abdelaty opened #612 "Internal Server Error Response"
**Describe the bug**
When I'm trying to login or even signup, I got Internal Server Error Message in the debugging box.
I've attached a screenshot of the debugging box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login Screen'
2. Click on 'Login'
3. See error

**Expected behavior**
Normal Login or signup

**Screenshots**
![Screenshot_1582975311](https://user-images.githubuserconte

[2020-03-01 04:21] mtreacy002 commented on #612
Hi @Abdelaty,

I had the same issue before. At the moment, perhaps connection to the http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com is down. But I just found out how to test our app locally.

If you already forked the mentorship-backend, you just need to set the FLASK_ENVIRONMENT_CONFIG to 'local' (make sure you pull the latest code from repo). Then run the backend server.

On the

[2020-03-01 04:36] mtreacy002 commented on #612
The next problem for us is the confirmation email didn't get recognised because it has problem connecting to localhost.

- error message when confirmation link was clicked from confirmation email:

<img width="472" alt="Screen Shot 2020-03-01 at 3 28 45 pm" src="https://user-images.githubusercontent.com/29667122/75619575-ea92c080-5bd1-11ea-951c-1e69e7ad90a2.png">

- error message when I try to log

[2020-03-01 04:52] vatsalkul commented on #612
Hey! @mtreacy002 as you are testing the app locally, you need to sign in with your email id on your local machine and then open the link. I hope it will help!

[2020-03-01 04:55] mtreacy002 commented on #612
Hi @vatsalkul, can you please be specific in which space I need to sign in with my email id and which link I need to open? Thanks.

Note: I just tried to sign in in emulator with email id as you said still get the same response that I need to confirm my email.

Hi again @vatsalkul. I have tried to open this link on the laptop, I even open my email inside Safari browser and still have the same erro

[2020-03-01 05:01] vatsalkul commented on #612
@mtreacy002 After running the server on local machine i.e. your laptop, open the confirmation link which was sent during signup of mentorship app on your laptop.
As the server is hosted locally the url you are receiving on your email needed to be open by machine where the server is hosted! If you are still facing some issue... HMU on zulip

[2020-03-01 06:09] mtreacy002 commented on #612
Hi again, I solved the email confirmation by changing the IP 127.0.0.1 instead of 10.0.2.2. So, you'd receive link like this:

http://10.0.2.2:5000/user/confirm_email/Im10cmVhY3kwMDJAZ21haWwuY29tIg.ETzGPA.XD4bqgCfHQ1Z-sKlcUiXQYbbbXw

Now, change it to this

http://127.0.0.1:5000/user/confirm_email/Im10cmVhY3kwMDJAZ21haWwuY29tIg.ETzGPA.XD4bqgCfHQ1Z-sKlcUiXQYbbbXw

then you'll see this

<img width="

[2020-03-01 21:23] mtreacy002 commented on #612
@Abdelaty, @vatsalkul has kindly created a word doc on how to set up back-end & front-end [here](https://docs.google.com/document/d/15dQ_m0GWpnCyA-4EYTUYgbyIiZFfMoxbxPQ9PP3KxG0/edit?usp=sharing). Thanks, @vatsalkul for the info. 👍

[2020-03-01 21:37] Abdelaty commented on #612
Thank you @mtreacy002 for your response, And thank you @vatsalkul  very much for this doc. It will make the set-up easy for all the newcomers.

[2020-03-02 23:45] Sommie09 opened #613 "Create an onBoarding Screen for the app"
**Is your feature request related to a problem? Please describe.**
I want to have an interesting overview of what the app does before signing up

**Describe the solution you'd like**
To create onboarding screens to enlighten users on what the application does

**Describe alternatives you've considered**
Voice Introductions
The onboarding screens should come before the sign-up page
![Screenshot_158

[2020-03-02 23:46] Sommie09 commented on #613
@isabelcosta Could I start working on this?

[2020-03-03 01:04] mtreacy002 opened #614 "Bug: Mismatch mentor/mentee availability in My profile and Send Request"
**Describe the bug**
I created 2 users, user A available as Mentee only and user B available as Mentor only. When I login as user A and tried to send request for B to be my mentor, I've got error saying 'both users are only available to mentor'. This bug does not exist in the reverse scenario (when I login as B try to send request to A to be my mentee).

**To Reproduce**
Steps to reproduce the beh

[2020-03-03 06:04] mtreacy002 commented on #612
Just wanna mentioned that this issue might be related to #590 of Android and [#466](https://github.com/anitab-org/mentorship-backend/issues/466) of Backend. There is also another PR #605 of Android for Documentation on running server locally. We probably have to wait for an admin/ a mentor to confirm which one will be adopted. I haven't try #605, but maybe this is one of the case where 'there is m

[2020-03-03 06:17] Sunil16202 commented on #613
I am going to do this.

[2020-03-03 08:10] Sommie09 commented on #613
@isabelcosta I am doing this, can I have a confirmation

[2020-03-03 08:26] m-murad commented on #613
@sommie09 you can go ahead and start working on this. Share some ideas here and on zulip before sending a PR.

[2020-03-03 09:26] Sunil16202 commented on #613
What should be the onBoarding image, please let me know.

[2020-03-03 09:28] m-murad commented on #613
you can discuss this on Zulip with the community.

[2020-03-03 14:16] annabauza commented on #571
Yes this one is good! Approved!

[2020-03-03 16:25] sidvenu commented on #594
I'm still working on this issue - it took me some time to set up the local server. Trying to find the issue now.

[2020-03-03 16:27] jddeep opened #615 "enable data binding in ChangePasswordFragment"
enable data binding in ChangePasswordFragment. Since we are following the MVVM arch. we need to declare the layout as the former so that we can use its features(Binding Adapters,etc.)

**Additional context**
Following MVVM architecture for our app.

[2020-03-03 16:28] pknotfound commented on #614
May I work on this issue?

[2020-03-03 16:28] jddeep commented on #615
@m-murad @annabauza Please have a look. May I go ahead with this?

[2020-03-03 16:28] pknotfound commented on #613
@m-murad May I work on this?

[2020-03-03 16:31] m-murad commented on #615
I don't think we need a DataBinding in this fragment.
DataBinding is used when we need to display some data or react to continuous change of multiple feilds.

[2020-03-03 16:32] pknotfound commented on #608
May I work on this?

[2020-03-03 16:33] jddeep commented on #615
@m-murad But in PR #598 I was suggested of using BindingAdapters :thought_balloon:

[2020-03-03 16:34] pknotfound commented on #601
May I work on this issue?

[2020-03-03 16:34] pknotfound commented on #599
@isabelcosta Can I work on this issue?

[2020-03-03 16:35] m-murad commented on #615
I didn't suggest it, I guess we should discuss this on zulip

[2020-03-03 16:35] pknotfound commented on #592
@mayburgos @isabelcosta May I work on this?

[2020-03-03 16:36] jddeep commented on #599
@annabauza any updates?

[2020-03-03 16:36] jddeep commented on #615
Okay

[2020-03-03 16:38] pknotfound commented on #578
May I work on this?

[2020-03-03 16:39] pknotfound commented on #575
May I work on this?

[2020-03-03 16:40] pknotfound commented on #573
May I work on this?

[2020-03-03 16:41] pknotfound commented on #571
May I work on this?

[2020-03-03 16:41] pknotfound commented on #570
May I work on this?

[2020-03-03 16:42] pknotfound commented on #568
May I work on this?

[2020-03-03 16:43] pknotfound commented on #563
Is this still available?
May I work on this?

[2020-03-03 16:44] pknotfound commented on #548
May I work on this?

[2020-03-03 16:44] pknotfound commented on #547
Is this still available?
May I work on this?

[2020-03-03 16:46] pknotfound commented on #546
Is this still available?
May I work on this?

[2020-03-03 16:47] pknotfound commented on #545
Is this issue still available?
May I work on this?

[2020-03-03 16:47] pknotfound commented on #544
May I work on this?

[2020-03-03 16:48] pknotfound commented on #530
Is this still available?
May I work on this?

[2020-03-03 16:49] pknotfound commented on #510
May I work on this?

[2020-03-03 16:50] pknotfound commented on #496
May I work on this?

[2020-03-03 16:53] pknotfound commented on #405
Is this issue still available?
May I work on this?

[2020-03-03 16:54] m-murad commented on #613
This issue has been assigned to sommie09

[2020-03-03 16:54] pknotfound commented on #398
Is this issue still available?
May I work on this?

[2020-03-03 16:57] Sunil16202 commented on #613
but I am working on it from tomorrow.

[2020-03-03 16:57] pknotfound commented on #392
May I work on this?

[2020-03-03 16:57] pknotfound commented on #391
May I work on this?

[2020-03-03 16:59] pknotfound commented on #388
Is this issue still available?
May I work on this?

[2020-03-03 17:00] pknotfound commented on #378
Is this issue still available?
May I work on this?

[2020-03-03 17:02] pknotfound commented on #373
Is this issue still available?
May I work on this?

[2020-03-03 17:03] pknotfound commented on #361
Is this issue still available?
May I work on this?

[2020-03-03 17:04] pknotfound commented on #356
Is this issue still available?
May I work on this?

[2020-03-03 17:09] pknotfound commented on #335
Is this issue still available?
May I work on this?

[2020-03-03 17:11] pknotfound commented on #237
@isabelcosta Is this issue still available?
May I work on this?

[2020-03-03 17:12] pknotfound commented on #235
@isabelcosta Is this issue still available?
May I work on this?

[2020-03-03 17:14] pknotfound commented on #171
@mayburgos @isabelcosta Is this issue still open?
May I work on this?

[2020-03-03 17:14] pknotfound commented on #166
@isabelcosta Is this issue still available?
May I work on this?

[2020-03-03 17:15] robotjellyzone commented on #546
Hi there, sorry it's not available as I have already created a solution for this but was waiting till all the GCI PRs get merge so that it may not arise any conflicts.

I think all the prs of GCI are merge so I am just correcting my current solution!!

[2020-03-03 17:15] pknotfound commented on #150
Is this issue still available?
May I work on this?

[2020-03-03 17:16] pknotfound commented on #63
Is this issue still available?
May I work on this?

[2020-03-03 17:17] pknotfound commented on #24
Is this issue still open?
May I work on this?

[2020-03-03 17:19] pknotfound commented on #105
Is this issue still open?
May I work on this?

[2020-03-03 17:23] m-murad commented on #615
I guess using DataBinding here would be an engineering overkill, not needed.

[2020-03-03 17:46] jddeep commented on #615
Agreed. Let's see what @annabauza has thoughts about this :)

[2020-03-03 19:16] Priyansh-Kedia opened #616 "Proper Alignment for Sign Up Page"
**Describe the bug**
The Sign Up Page is not properly aligned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Login Page
2. Click on Sign Up button

**Expected behavior**
The alignment should be proper.
**Screenshots**
![WhatsApp Image 2020-03-04 at 12 08 45 AM](https://user-images.githubusercontent.com/52661249/75810892-76167800-5db1-11ea-8096-e7f244ae8363.jpeg)

**Smartphone (pl

[2020-03-03 19:16] pknotfound commented on #616
I am working on this issue.

[2020-03-03 19:27] pknotfound commented on #616
Please review this PR https://github.com/anitab-org/mentorship-android/pull/617#issue-383131718

[2020-03-03 20:50] m-murad commented on #616
@Priyansh-Kedia
Don't send a PR without a maintainer approving the issue.

[2020-03-04 00:29] #609 closed

[2020-03-04 00:45] isabelcosta opened #618 "Create a 'Find Members' button on Current Relation page"
## Description

_taken directly from GCI contest tasks_

Currently, the 'Relation' tab shows a simple text message when there are no mentorship relations
Add a 'Find Members' button that follows the app's theme to navigate the user to the Members tab.

## Acceptance Criteria
### Update [Required]
- [ ] Add a 'Find Members' button to Current Relation screen

## Definition of Done
- [ ] All of the r

[2020-03-04 00:47] isabelcosta commented on #618
This issue has already 3 pull requests that were sent to this project. In this case, we need help reviewing the PRs and selecting the most appropriate to merge. I will reference the PRs here, soon.
Feel free to contribute by reviewing these PRs and choosing one.

[2020-03-04 00:52] isabelcosta commented on #618
Ups, I had not notice that a PR was already merged 🙈
Closes #273
Closes #288

[2020-03-04 00:52] #618 closed

[2020-03-04 00:59] isabelcosta commented on #614
@mtreacy002 I have no idea why this may be happening. This seems like a really good catch, so thank you for reporting this 🎉  If you wish to work on this, then go ahead. This sounds like an issue from Backend side, right? If yes, can you please create an issue there and refer to this Android issue there?

[2020-03-04 01:01] mtreacy002 commented on #614
Thanks, @isabelcosta. Ok, I will create issue there and start working on it. 👍

[2020-03-04 02:17] mtreacy002 commented on #614
@Priyansh-Kedia, is it ok if I try to work on this issue first? If I feel lost in the process, I will definitely ask your help. 😉

[2020-03-04 02:39] pknotfound commented on #613
@m-murad Thanks.

[2020-03-04 02:44] pknotfound commented on #616
@m-murad I will surely keep that in mind.
Could you please review this?

[2020-03-04 02:55] pknotfound commented on #614
@mtreacy002 Sure, I'd be happy help.

[2020-03-04 02:57] mayburgos commented on #592
@Priyansh-Kedia Please focus on your GSoC application. I haven't seen you complete the [Student Instructions](https://github.com/anitab-org/anitab-org.github.io/wiki/GSoC-2020-Student-Instructions) or attend our [Open Sessions](https://anitab-org.zulipchat.com/#narrow/stream/224798-gsoc/topic/Open.20Sessions.20.26.20Project.20Feedback) to pitch your GSoC ideas.

Please utilize all the resources we

[2020-03-04 03:15] mayburgos commented on #574
@devanshi7799 Continue to work on the PR. Thank you for catching this.

It was rude of @Prakash-sa to ignore your comment. I've assigned you to the issue and closed their PR.

[2020-03-04 03:17] mayburgos commented on #575
@jddeep Because no one is waiting for an approval of the issue and no one is waiting for an issue to be assigned.

I'm trying to clean up all the PRs that did not receive any approval.

[2020-03-04 03:26] jddeep commented on #568
@mayburgos Can you approve the issue here and get me assigned on it? I was busy with some of my other commitments. Will join the next open sessions to discuss some of my ideas and future of the project. Thanks.

[2020-03-04 03:27] jddeep commented on #599
@mayburgos Can you approve the issue here and get me assigned on it?

[2020-03-04 03:28] jddeep commented on #573
@mayburgos Can you approve the issue here and get me assigned on it? I was busy with some of my other commitments. Will join the next open sessions to discuss some of my ideas and future of the project. Thanks.

[2020-03-04 05:21] m-murad commented on #613
@sunil16202 please don't work on an issue until a maintainer assignes it to you.
The person who reported to the issue wants to work on it

[2020-03-04 09:56] pknotfound commented on #583
@m-murad @isabelcosta
Is this issue still open?
May I work on this?

[2020-03-04 09:57] pknotfound commented on #570
@m-murad @isabelcosta
Is this issue still open?
May I work on this?

[2020-03-04 09:58] pknotfound commented on #568
@jddeep
Are you working on this?

[2020-03-04 09:58] pknotfound commented on #563
@m-murad @isabelcosta
Is this issue still open?
May I work on this?

[2020-03-04 10:00] pknotfound commented on #612
@mtreacy002
I am facing the same issue.
Could you please guide me through it?

[2020-03-04 11:00] annabauza commented on #615
I'll leave the decision to @isabelcosta as she is the maintainer.

[2020-03-04 11:13] mtreacy002 commented on #612
@Priyansh-Kedia, you should look at [this google doc](https://docs.google.com/document/d/15dQ_m0GWpnCyA-4EYTUYgbyIiZFfMoxbxPQ9PP3KxG0/edit?usp=sharing) posted by @vatsalkul on Zulip. It is pretty detail and helpful. Let me know if you still facing issue. I'll be back again tomorrow around 8am AEST (Australian Eastern Standard Time). 😉

[2020-03-04 11:22] m-murad commented on #583
@Priyansh-Kedia
1. Commenting the same thing on multiple issues is creating a lot of unnecessary noise, please refrain from doing this.
2. Before commenting please go through the previous comments and see if the issue has been assigned to someone else. If it's assigned then its common sense that is is unavailable for other members.

What I suggest is that you run the projects and try finding a bug

[2020-03-04 11:25] m-murad commented on #568
@jddeep
`updating the function to check whether there is already an instance of the fragment created`
this makes more sense. Can you make sure (maybe its already happening) that whenever a new fragment is displayed the last fragment is destroyed?

Please send a PR for this

[2020-03-04 11:29] m-murad commented on #573
@jddeep, as you are already working on #568 and some other issues, let @Priyansh-Kedia take this one

@Priyansh-Kedia how would you fix this?

[2020-03-04 11:39] m-murad commented on #599
@jddeep you can send a PR for this.
Also don't work on multiple issues at once, other members including @Priyansh-Kedia are finding it hard to claim issues. You shouldn't work on more than 2 issues at once, let others contribute aswell.

[2020-03-04 11:52] m-murad commented on #530
@Priyansh-Kedia @Prakash-sa
Saying that `SignUpActivity` should be a child of `LoginActivity` is incorrect. In a user flow both activities will appear on the same level.

[code]

`SignUpActivity` is not the child of `LoginActivity`, this issue doesn't make sense.

@isabelcosta what do you think, I guess we can close this.

[2020-03-04 12:01] m-murad commented on #574
@Prakash-sa please don't send PRs if someone else opened the issue and wants to work on it.

[2020-03-04 12:07] m-murad commented on #616
What do you plan on improving here?

[2020-03-04 12:13] pknotfound commented on #616
@m-murad
The sign up and login buttons are not properly aligned and tend towards the right of the screen.
They should be in the horizontal centre.

[2020-03-04 12:31] pknotfound commented on #583
I will take care of it.
Thanks.

[2020-03-04 14:22] jddeep commented on #599
Sure @m-murad

[2020-03-04 14:34] jddeep commented on #568
@m-murad Sure

[2020-03-04 14:35] jddeep commented on #573
@m-murad Agreed.
@Priyansh-Kedia You can go ahead.

[2020-03-04 15:09] Sunil16202 opened #619 "App icon is missing for this Mentorship app."
app icon is missing, this should be present.

![image](https://user-images.githubusercontent.com/23363511/75893618-1bd0f200-5e59-11ea-889b-b234c72cbb11.png)

[2020-03-04 15:10] Sunil16202 commented on #619
I want to do this, please assign this task to me.

[2020-03-04 15:20] Sunil16202 commented on #612
Is this issue resolved?
I am not able to Signup because of that, I can't explore inside the app.

[2020-03-04 17:25] devanshi7799 commented on #574
@mayburgos @m-murad thank you so much

[2020-03-04 18:38] vj-codes commented on #392
@Priyansh-Kedia  sure

[2020-03-04 18:39] pknotfound commented on #392
@vj-codes Thanks.
Will send a PR soon.

[2020-03-04 18:49] #554 closed

[2020-03-04 19:11] isabelcosta commented on #212
@m-murad the delete operation on backend side is really deleting the entity from the database (permanent way) Should we be doing this differently?

[2020-03-04 19:21] m-murad commented on #212
No, that's not something that is done, maybe we can discuss this sometime.

[2020-03-04 19:26] isabelcosta commented on #212
Once you have time can you create a topic on Zulip for discussing that? @m-murad

[2020-03-04 19:49] isabelcosta commented on #619
@Sunil16202 whenever submitting a new issue, please follow our issue templates that come when you create the PR. I noticed you erased the whole content. Also, what would be the icon you would put there. We still have to decide on that. I will close this issue since it is dependant on #26 .

[2020-03-04 19:49] #619 closed

[2020-03-04 19:54] isabelcosta commented on #601
Sorry @Rita-Okonkwo I forgot to get back to this issue. Since you contributed already and this is first timers only issue, can you look for other issues, please?

@pratikghule are you still interested in this issue? If yes, let me know so I can assign this to you

[2020-03-04 21:19] Rita-Okonkwo commented on #601
Hi @isabelcosta  yes please I will look for other issues so first timers can have a chance to contribute

[2020-03-04 21:57] mtreacy002 commented on #612
@Priyansh-Kedia and @Sunil16202, Can you please specify where you come across the issue when you are following the document above? Screenshots would be helpful.

[2020-03-04 22:01] pknotfound commented on #612
@mtreacy002 I followed the link provided by you but could not resolve my issue.
The virtual environment shows error when tried to activate.
The error shows that bin folder does not exist.

[2020-03-04 22:19] pknotfound commented on #573
@m-murad I would put an if condition check for the empty password fields.
If they will be empty then on click of button there user will be asked to input something in the fields.
I will be applying the textchangedlistener to it.

[2020-03-04 22:44] mtreacy002 commented on #612
@Priyansh-Kedia, I think it might be related to the virtual environment you are using. For me, I'm using the virtualenvwrapper. For this type of venv I need to set all information in the .bash_profile (such as the project home directory and location for the venv scripting file, the location of venvs folder, etc). In my case, if these don't get set up properly, I will get errors. More info can be f

[2020-03-04 23:07] mtreacy002 commented on #612
@Priyansh-Kedia, there is also another discussion on Zulip about[ other PR](https://github.com/anitab-org/mentorship-android/pull/605#discussion_r387971656) that provide alternative way to run server locally

[2020-03-05 03:21] pratikghule commented on #601
Yes I would love to do it!

[2020-03-05 03:47] jddeep commented on #616
Not sure what's the problem here. Maybe we don't need this rn :thinking:

[2020-03-05 05:32] m-murad commented on #616
I guess the buttons are not aligned properly.
@Priyansh-Kedia you reopen #617 and make any changes if required. A maintainer will review it soon.

[2020-03-05 05:33] pknotfound commented on #616
Alright @m-murad .

[2020-03-05 07:20] Sunil16202 commented on #563
I want to work on this, please assign this task to me.

[2020-03-05 07:23] Sunil16202 commented on #548
Please assign this task to me, till now I didn't get any assigned task.

[2020-03-05 07:24] Sunil16202 commented on #544
Please assign this task to me, till now I didn't get any assigned task.

[2020-03-05 07:27] Sunil16202 commented on #504
Please assign this task to me, till now I didn't get any assigned task.

[2020-03-05 07:28] Sunil16202 commented on #510
Please assign this task to me, till now I didn't get any assigned task.

[2020-03-05 07:28] Sunil16202 commented on #547
Please assign this task to me, till now I didn't get any assigned task.

[2020-03-05 07:28] Sunil16202 commented on #603
Please assign this task to me, till now I didn't get any assigned task.

[2020-03-05 09:17] m-murad commented on #573
What we are doing now is using the default buttons provided by the AlertDialog APIs.
You will need to remove these buttons and add custom buttons in the dialog layout. Then user the textChangedListener on the new password fields.

[2020-03-05 09:19] pknotfound commented on #573
@m-murad The problem also gets solved by using textchangedlistener on the default AlertDialog.

[2020-03-05 09:21] m-murad commented on #573
but you will not be able to enable or disable the default buttons, you will have to use custom buttons for that.

[2020-03-05 09:32] pknotfound commented on #573
@m-murad I am attaching a clip for what changes I have done till now.
Please suggest.

![WhatsApp Video 2020-03-05 at 2 54 16 PM](https://user-images.githubusercontent.com/52661249/75967802-5fc40580-5ef2-11ea-84db-6d22b4a5bad1.gif)

[2020-03-05 09:34] m-murad commented on #573
Yes, makes sense you can send a PR for review

[2020-03-05 09:34] pknotfound commented on #573
@m-murad Thanks.
Sending PR right away.

[2020-03-05 09:38] pknotfound commented on #573
@m-murad @mayburgos
https://github.com/anitab-org/mentorship-android/pull/621#issue-384165223
This is the PR for the same.
Please review.
Thanks

[2020-03-05 10:20] jddeep opened #623 "bug: The Settings screen elements should be spaced evenly and enlarged"
**Describe the bug**
The Settings screen elements should be spaced evenly and enlarged

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings in the app

**Screenshots**
<img src="https://user-images.githubusercontent.com/43133646/75972250-1d51f700-5ef9-11ea-9276-0ca4f025c725.png" width=300 />

[2020-03-05 10:22] jddeep commented on #623
@m-murad @isabelcosta @mayburgos Issue approval please

[2020-03-05 15:25] pknotfound commented on #575
@mayburgos May I work on this issue?

[2020-03-05 17:47] m-murad commented on #623
makes sense, please send a PR for this

[2020-03-05 18:32] isabelcosta commented on #623
Makes total sense, this was undone by GCI work :/

[2020-03-05 18:49] #571 closed

[2020-03-05 19:43] isabelcosta commented on #601
i will assign it to your then :) @pratikghule

[2020-03-05 20:26] isabelcosta commented on #212
Closing this issue after a really interesting [discussion on Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/deleting-entities/near/189829182).
Thank you @m-murad for your insights!

[2020-03-05 20:26] #212 closed

[2020-03-05 21:39] isabelcosta opened #624 "Change some activities parent class to BaseActivity"
## Description

Based on [this review on GCI work](https://github.com/anitab-org/mentorship-android/pull/604#discussion_r384467339).

Classes that need this change are:
- `app/src/main/java/org/systers/mentorship/view/activities/FilterActivity.kt`
- `app/src/main/java/org/systers/mentorship/view/activities/FeedbackActivity.kt`

## Acceptance Criteria
### Update [Required]
- [ ] Change mentioned Cl

[2020-03-05 21:52] isabelcosta opened #625 "Fix typo on LoginActivityTest"
## Description

Fix this little typo mentioned in [this Code Review](https://github.com/anitab-org/mentorship-android/pull/604#discussion_r384333254).

If you find any other feel free to fix it as well!

## Acceptance Criteria
### Update [Required]
- [ ] Fix typo

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2020-03-05 22:44] mtreacy002 commented on #614
@Priyansh-Kedia, I might take some time off from this coz I need to start my GSoC20 proposal 😀.  Are you still available to work on the issue? If not, I will open it to everyone on Zulip. But the PR might need to be submitted through backend repo if this is a backend related bug. I have opened an issue at backend (issue [#477](https://github.com/anitab-org/mentorship-backend/issues/477).

[2020-03-05 23:03] mayburgos commented on #548
@Priyansh-Kedia @Sunil16202 Please stop spamming the issues. You've copied and pasted the same message on several different issues.

Sunil, you haven't followed any of the directions we provided on our [Profile Page](https://summerofcode.withgoogle.com/organizations/4752039663370240/) and our [Wiki](https://github.com/anitab-org/anitab-org.github.io/wiki/GSoC-2020-Student-Instructions). If you're

[2020-03-05 23:04] pknotfound commented on #548
I will take care of it mam.

[2020-03-06 08:09] ranaaditya commented on #625
@isabelcosta  can you review my PR #626 . I have FIx this issue .

[2020-03-06 08:36] ranaaditya commented on #624
@isabelcosta  can you review my PR #627 , i have fix this issue in my PR .

[2020-03-06 12:18] m-murad commented on #624
@ranaaditya from next time don't send a PR until the issue has been assigned to you.

[2020-03-06 12:31] isabelcosta commented on #624
@ranaaditya both PRs are first timers only issues, I will close the other PR you sent, since you already work on this one. And just as @m-murad said, please don't send PRs before they are assigned to you.

[2020-03-06 15:34] jddeep commented on #623
PR sent. Thanks.

[2020-03-06 18:10] pknotfound commented on #614
@mtreacy002 Thanks for the opportunity, but at this time I have taken up multiple issues myself.
I might not be able to take this up right now.
Thanks.

[2020-03-06 18:13] isabelcosta commented on #614
@mtreacy002 @Priyansh-Kedia I will leave this issue open then :) I really appreciate you two not overcommitting and updating here that you will not work on this issue. So thank you !

[2020-03-06 18:22] isabelcosta commented on #548
@m-murad should this be implemented on frontend before being implemented on backend?

[2020-03-06 18:50] m-murad commented on #548
@isabelcosta
Search API only makes sense when pagination is implemented on the backend (results are returned in batches) eg 1-50, 51-100, etc.
If I'm not wrong what we are doing now is returning the complete list at once so the mobile client has all the relations which can be queried locally.

So we have two options
1. Either implement the search locally on clients. or
2. Implement pagination on t

[2020-03-06 18:51] isabelcosta commented on #352
Close due to merge #511

[2020-03-06 18:51] #352 closed

[2020-03-06 18:51] isabelcosta commented on #351
Close due to merge #511

[2020-03-06 18:51] #351 closed

[2020-03-06 18:51] isabelcosta commented on #325
Close due to merge #511

[2020-03-06 18:51] #325 closed

[2020-03-06 18:56] #361 closed

[2020-03-06 20:05] sidvenu commented on #594
Just a status update - I was caught up with quite a lot of work the past few days, I'll be done with the issue by this weekend.

[2020-03-06 20:06] isabelcosta commented on #594
Cool @sidvenu ! thank you so much for the update :)

[2020-03-07 06:13] ranaaditya commented on #603
i am working on this issue .

[2020-03-07 07:49] ranaaditya commented on #624
@m-murad  since no one was working on it so i send pr but from next time i will take care about what you said .

[2020-03-07 08:38] ranaaditya commented on #624
@m-murad  updated  my pr

[2020-03-07 19:06] naveennvrgup opened #631 "Last item of recycler view hiding behind bottom navbar"
**Describe the bug**
In *relation* and *members* screens the last member of recycler view is always hiding behind the bottom navbar. This abstracts the view of the interests and briefs of that member item. The problem can be solved by proper layout. (In the screenshot we cant view sophia fully and its the last item. No more bottom scroll possible)

**To Reproduce**
Visit *Relation* and *Members* s

[2020-03-07 19:08] naveennvrgup commented on #631
Please assign this task to me

[2020-03-07 19:18] naveennvrgup opened #632 "New task button is hidding behind bottom nav bar"
**Describe the bug**
In relation screen -> tasks tab. The new tasks FAB is hidding behind the bottom navbar. The reduces the visibility of the FAB.

**To Reproduce**
Visit relation screen -> tasks tab.

**Expected behavior**
Pin the FAB little to the top of the current position.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercon

[2020-03-07 19:19] naveennvrgup commented on #632
Please assign this issue to me.

[2020-03-08 10:57] sidvenu commented on #594
`MembersAdapter` has a `userList` and a `filteredUserList`. The `filteredUserList` is what is shown to the user.

When a search term is entered, an object of `MembersAdapter` class is created. But, whenever `MembersAdapter` is created, the `userList` is set in the object, but `filteredUserList` is empty (`filteredUserList = mutableListOf<User>()`). So, only an empty list is used to show the member

[2020-03-09 06:18] devanshi7799 commented on #574
@mayburgos sorry i took much time create this PR. I was having my midsem exams so was not able to work on it. Thanks :))

[2020-03-09 11:42] pratikghule commented on #601
Hi @isabelcosta  I have made all the changes as told and this one would work well.

[2020-03-09 12:15] jddeep commented on #632
This has been solved.

[2020-03-09 12:16] jddeep commented on #615
@isabelcosta Thoughts on this please.

[2020-03-09 18:59] bartekpacia commented on #504
@Sunil16202 It's been already done in #538

[2020-03-09 20:26] Rethran commented on #624
Can I habe this issue?

[2020-03-09 20:30] isabelcosta commented on #624
yes @Rethran

[2020-03-09 23:24] isabelcosta opened #635 "Change the backend host URL to temporary one"
## Description
As a android developer,
I need stable backend,
so that I can focus on android development.

I managed to deploy the backend on Heroku here: https://mentorship-backend-temp.herokuapp.com/ while we don't have the issue with Backend on AWS fixed.

Is it worth it changing this now? I think yes, because android developers should not depend on running the backend to work on the android si

[2020-03-09 23:25] isabelcosta commented on #635
@m-murad @annabauza can I have your opinions here?

[2020-03-10 05:36] naveennvrgup commented on #632
Oh! thanks for the info bro. I am closing this issue then.

[2020-03-10 05:36] #632 closed

[2020-03-10 14:11] naveennvrgup commented on #635
Since we have docker img ready for the mentorship-backend I suggest we can encourage people to use it for android developement until we have a fix to the hosting problem? Just saying.

[2020-03-10 14:14] naveennvrgup commented on #635
I am sure you know this but just reminding. running it on open port serves it on the whole network.

`flask run --host=0.0.0.0`

[2020-03-10 14:14] isabelcosta commented on #635
@naveennvrgup My concern with that is that, still with Docker, some contributors are having issues with it. So if they want to be focused on Android, they should be able to (without worrying too much with backend setup)

[2020-03-11 14:32] AminullahTajMuhammad commented on #613
@m-murad @isabelcosta is this issue is still available?

[2020-03-11 21:26] isabelcosta commented on #635
Due to the uncertainty, of when the issue will be solved, and because some students are facing issues understanding how to work with the android app and change the link, I create a PR for this.

[2020-03-13 09:43] sonishreyas commented on #625
Can i work on this?

[2020-03-13 09:49] sonishreyas commented on #392
May i work on this?

[2020-03-13 19:43] vj-codes commented on #392
Yea sure @sonishreyas

[2020-03-13 21:19] sonishreyas commented on #392
@vj-codes Thanks will send the PR soon

[2020-03-13 23:05] isabelcosta commented on #625
yes you can @sonishreyas  :)

[2020-03-14 07:01] sonishreyas commented on #625
@isabelcosta I have generated the PR please provide a review.

[2020-03-14 08:48] #635 closed

[2020-03-14 08:54] Sanika1999 commented on #625
Hi I can I work on this?

[2020-03-14 10:13] pknotfound commented on #631
@isabelcosta May I work on this issue?

[2020-03-14 10:15] pknotfound commented on #613
@Sommie09 Are you still working on this?

[2020-03-14 10:41] isabelcosta commented on #625
@Sanika1999 this issue is already assigned to @sonishreyas . Can you please pick another issue?

[2020-03-14 11:22] isabelcosta opened #639 "Fix generate apk script"
## Description

apk is not being generated for the app. I suspect this is because the travis slug has not changed to anitab.org yet on `generate-apks.sh` script.

With so many commits to `develop` branch in the past months, I found it strange that the last apk was generated 4 months ago.

![image](https://user-images.githubusercontent.com/11148726/76681036-3ee06c00-65e6-11ea-8b6d-937d9ce80f5d.png)

[2020-03-15 08:42] sonishreyas commented on #591
@isabelcosta Can i work on this?

[2020-03-15 08:59] sonishreyas commented on #392
@vj-codes @isabelcosta Do i also need to make changes to the backend or can i use Firebase for this ?

[2020-03-15 11:43] Kavya-24 opened #641 "Bug : Complete Contents not visible in Profile Page"
**Describe the bug**
The complete contents of the scroll View in the Profile Page are not visible in the scroll Vie.

**To Reproduce**
Steps to reproduce the behavior:
 1) Visit Profile Page
2) Scroll down

**Expected behavior**
Visibility of the following fields:
 * Organization
 * Interests
 * Skills

**Screenshots**

![Problem-SS1](https://user-images.githubusercontent.com/54931749/76700648-9c0

[2020-03-15 11:48] Kavya-24 commented on #641
@isabelcosta @m-murad  Can I work on this?

[2020-03-15 11:54] Kavya-24 commented on #631
May I work on this issue?

[2020-03-15 13:04] isabelcosta opened #642 "Update Contact section"
## Description

The contact section still references Slack instead of Zulip.
It could be the same as it is on [mentorship-backend README](https://github.com/anitab-org/mentorship-backend#contact)

## Acceptance Criteria
### Update [Required]
- [ ] update Contact section

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
20 min

[2020-03-15 13:37] kbhardwaj123 commented on #642
@isabelcosta can i take up this issue

[2020-03-15 13:39] naveennvrgup commented on #631
sure go ahead @Priyansh-Kedia

[2020-03-15 13:46] isabelcosta commented on #642
Sure @kbhardwaj123 :)

[2020-03-16 05:22] pknotfound commented on #631
Thanks @naveennvrgup

@m-murad Could you please approve this issue?

[2020-03-16 14:07] Komal7209 commented on #430
Could you assign this task to me

[2020-03-16 14:09] ilyamaier commented on #430
@Komal7209 I am not a mentor :) you should ask @isabelcosta @m-murad @annabauza or the other mentors.

[2020-03-16 18:36] #625 closed

[2020-03-16 21:49] #639 closed

[2020-03-16 22:09] isabelcosta commented on #639
This fixed the problem 🎉 !

[2020-03-16 22:12] isabelcosta commented on #612
@Abdelaty can you test this again (or @mtreacy002 @vatsalkul @Priyansh-Kedia )
I think this may no longer be happening.
Current APK: https://github.com/systers/mentorship-android/raw/apk/app-debug.apk

[2020-03-16 22:14] isabelcosta commented on #583
I think issue is done now. I will close this, if anyone disagrees please let me know so I can re open this.

[2020-03-16 22:14] #583 closed

[2020-03-16 22:32] mtreacy002 commented on #612
Hi @isabelcosta, I have tried this and can confirm that I have no issue signing up. Thanks for fixing this. 🤗
<img width="382" alt="Screen Shot 2020-03-17 at 9 28 50 am" src="https://user-images.githubusercontent.com/29667122/76805157-38463480-6832-11ea-9473-7e0222b75e36.png">

[2020-03-16 22:38] mtreacy002 commented on #612
I think if anyone else could also confirm this (@Abdelaty or @vatsalkul or @Priyansh-Kedia) that'll be great.

[2020-03-16 22:38] isabelcosta commented on #612
Thank you so so much @mtreacy002 🙏
I will close this issue then, since I also tested this :D

[2020-03-16 22:39] mtreacy002 commented on #612
Cool : 😎 👍

[2020-03-16 22:40] #612 closed

[2020-03-16 23:06] j-kon opened #644 "User Interface"
The image on the first screen of the mentorship app is not supposed to have a white background, because some android 10 users can switch to the dark mode and the image will be showing white background.

It suppose to be a transparent background.

[2020-03-16 23:11] Abdelaty commented on #612
It's still happening when I'm trying to sign-up
![WhatsApp Image 2020-03-17 at 01 21 31](https://user-images.githubusercontent.com/23483020/76807631-ab798780-67ed-11ea-891d-d930f9363c05.jpeg)

[2020-03-16 23:13] isabelcosta commented on #612
@Abdelaty have you downloaded and installed the most recent version of the app? I will check the logs though

[2020-03-16 23:14] Abdelaty commented on #612
@isabelcosta Yes, this is the new APK, I'm away from my PC so I can't build a one and post logs.
Sorry for that!

[2020-03-16 23:14] isabelcosta commented on #612
Oh my 😱 I see the issue now, this is another one though:
[code]

![image](https://user-images.githubusercontent.com/11148726/76807340-f7bbcc00-67db-11ea-881a-b37d3f029a82.png)

[2020-03-16 23:18] j-kon opened #645 "Back Button For Sign Up Page"
**Is your feature request related to a problem? Please describe.**
After signing up the app won't go back to login rather it exits the app.

**Describe the solution you'd like**
I can make the app go back to the login page after successful sign-up.

![anitaB](https://user-images.githubusercontent.com/29250756/76807481-c85d8d00-67e4-11ea-90a5-693a9351bf0e.gif)

[2020-03-16 23:21] isabelcosta commented on #612
what a silly mistake 🤦‍♀ So your email is > 30 characters long, which in the backend code it is supposed to be shorter
👉  https://github.com/anitab-org/mentorship-backend/blob/develop/app/database/models/user.py#L26

@Abdelaty thank you for testing even when we closed the issue and therefore shining a light on this issue! Do you want to create a bug report on the Backend repository? I can do it, I

[2020-03-16 23:25] Abdelaty commented on #612
😄  Sorry for that, Yes sure I think there's too many emails with more than 30 letter. as an example my email or any organization name like:
@theportalagency.com it's more than 18 letter without adding a name or a user id.

[2020-03-16 23:27] isabelcosta commented on #612
Very good observation @Abdelaty ! No need to be sorry, that was a great test to do that highlighted a "bug" in the app (bug or poor design decision on the email limit size).
So thank you 🙏 and congrats on finding a bug ;)

[2020-03-16 23:30] mtreacy002 commented on #612
Wahhh.... Good catch @Abdelaty. I'm glad you bring it up. mine must have been pretty short as I use nickname only.. 😊

[2020-03-16 23:32] Abdelaty commented on #612
I have another short mail. But I'm using this for just signup while testing 😄.

[2020-03-16 23:33] mtreacy002 commented on #612
Lucky you did, otherwise the bug would sneaked in without us realising it... 🤣

[2020-03-16 23:35] isabelcosta commented on #612
Very true @mtreacy002

[2020-03-16 23:39] isabelcosta commented on #612
I would love if you could report the issue @Abdelaty . Feel free to include the images and logs I provided in the comments ;) Let me know if you need any help with it

[2020-03-16 23:47] Abdelaty opened #646 "Email length limitation"
**Describe the bug**
An Internal server error happens when I'm trying to make a signup with my email which is longer than 30 letter 😄

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Signup Screen'
2. Enter any email more than 30 letter.
4. See error

**Expected behavior**
A normal registration.

**Screenshots**
![WhatsApp Image 2020-03-17 at 01 21 31](https://user-images.githubusercon

[2020-03-17 00:42] sonishreyas commented on #392
@vj-codes @isabelcosta Can you please review my PR?

[2020-03-17 20:26] AminullahTajMuhammad commented on #645
@j-kon  should I Working on this issue.

[2020-03-17 20:27] AminullahTajMuhammad commented on #631
@Priyansh-Kedia I want to working on this issue.

[2020-03-17 20:28] pknotfound commented on #631
@AminullahTajMuhammad
I am actually waiting for approval on this issue.

[2020-03-17 20:39] AminullahTajMuhammad opened #648 "[Bug] Redesign setting screen"
**Describe the bug**
Setting screen components are quite small. It gives difficulty to click like when I clicked 'about' it clicked feedback.

**Expected behavior**
Redesign this screen are increase sizes of components

**Screenshots**
![WhatsApp Image 2020-03-18 at 1 36 52 AM](https://user-images.githubusercontent.com/43150539/76899301-1217a780-68b9-11ea-8f35-8d5e58393e55.jpeg)

**Smartphone (ple

[2020-03-17 20:39] AminullahTajMuhammad commented on #648
@m-murad I want to working on this issue.

[2020-03-17 20:55] m-murad commented on #648
@AminullahTajMuhammad
Thanks for open the issue. But this has already been reported #623
Please check the existing issues before opening a new issue.

[2020-03-17 20:55] #648 closed

[2020-03-17 21:02] m-murad commented on #631
This issue is there with all fragments in the MainActivity. This should be fixed for the activity and not for the fragments specifically.

@Priyansh-Kedia you can go ahead and send a fix for this.
@Kavya-24 @AminullahTajMuhammad sorry but Priyansh was here first.

[2020-03-17 21:31] AminullahTajMuhammad opened #649 "[Bug] Fix the size of github and zulip button in about screen"
**Describe the bug**
In about screen the size of github and zulip button are large.

**Expected behavior**
Decrease the size of github and zulip buttons.

**Screenshots**
![WhatsApp Image 2020-03-18 at 2 28 37 AM](https://user-images.githubusercontent.com/43150539/76903788-738f4480-68c0-11ea-8972-bae1409ced6e.jpeg)

**Smartphone (please complete the following information):**
 - Device: [e.g. Oppo

[2020-03-17 21:32] AminullahTajMuhammad commented on #649
@m-murad I want to work on this issue.

[2020-03-17 23:02] isabelcosta commented on #612
just for cross reference, here it is the issue created by @Abdelaty 🎉 https://github.com/anitab-org/mentorship-backend/issues/504

[2020-03-18 06:02] Kavya-24 opened #651 "Dimen Size"
**Feature**
Missing Sizes in Res Files.

May I work on this?

[2020-03-18 07:07] pknotfound commented on #631
Thank you @m-murad
Here is the PR for the same https://github.com/anitab-org/mentorship-android/pull/653#issue-390257390
Please check.

[2020-03-18 07:09] Kavya-24 commented on #623
Can I work on this? @m-murad

[2020-03-18 08:05] Kavya-24 commented on #631
@m-murad  #641  is of profile fragment , which is not wrapped in a RecyclerView. Not corrected by the code change of #653
Attached a pr #654

[2020-03-18 08:08] pknotfound commented on #631
@Kavya-24 These are two different issue, thank you for pointing this out anyway.
I think this issue and the profile fragment issue have to be raised and resolved separately.
I have tried to fix the recyclerview issue.
Thanks again for your input.

[2020-03-18 08:14] Kavya-24 commented on #631
@Priyansh-Kedia  Thank You too for the RecyclerView Issue.

[2020-03-18 08:22] Kavya-24 opened #655 "Bug: Typo in FeedBack Activity"
**Describe the bug**
Typo in Feedback Activity

**Screenshot**
![WhatsApp Image 2020-03-18 at 13 45 58](https://user-images.githubusercontent.com/54931749/76939808-19719c00-691f-11ea-861b-7c3ad5bf6b8e.jpeg)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings Activity
2. Click on Feedback

**Smartphone :**
 - Device: OPPO F11

Can I work on fixing this?

[2020-03-18 12:03] isabelcosta commented on #655
Can you please say in the issue description of what and where the typo is? I don't see it 🤔 @Kavya-24

[2020-03-18 12:10] pknotfound commented on #655
@isabelcosta
I think @Kavya-24 is referring to the typo in 'below' in the third line.
The line is "Let us know in the field bellow"

[2020-03-18 14:56] Kavya-24 commented on #655
@isabelcosta
1) The spelling of 'below'
2) Capitalization of 'd' of Describe

[2020-03-18 14:56] Kavya-24 commented on #655
@Priyansh-Kedia . ThankYou.

[2020-03-18 15:16] atm1504 commented on #392
First, check if there is an API to do so or not. If API is not available then create an issue in the backend repository.

[2020-03-18 16:14] pknotfound commented on #578
@m-murad If this issue is open and available, may I work on this?

[2020-03-18 16:16] pknotfound commented on #570
@strongrunner Are you seeking approval on this issue?

[2020-03-18 17:47] m-murad commented on #578
@Priyansh-Kedia you can send a PR for this

[2020-03-18 17:48] m-murad commented on #578
@Priyansh-Kedia I guess the ScrollView was added in one of the previous PRs.
I'm closing this, if I'm wrong please comment here and I will open this.

[2020-03-18 17:48] #578 closed

[2020-03-18 17:53] m-murad commented on #651
@Kavya-24 please follow the issue template while opening issues. Also, wait for a maintainer to approve the issue before sending the PR.
I'm closing this, you can update the issue description and reopen the same issue (don't create a new issue).

[2020-03-18 17:53] #651 closed

[2020-03-18 17:53] pknotfound commented on #578
@m-murad I guess the PR was not approved.

[2020-03-19 11:30] Chinmay-KB commented on #57
I would like to be assigned this enhancement. I will provide high fidelity wireframes(possibly using Adobe XD) and if it is good enough, i'll go ahead with implementing those

[2020-03-19 12:16] Mehulipal opened #657 "Contents of Feedback page hiding behind Keypad"
**Describe the bug**
In Feedback page, when the keypad pops up for filling the 'Message' and 'Your email ID' fields, it hides the contents like 'Category' field and 'SEND FEEDBACK' button.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Tap the 'Settings' button on the top right corner.
3. Go to 'Feedback' page.
4. Place cursor on 'Message' or 'Your email ID' field.
5. Keypa

[2020-03-19 12:17] Mehulipal commented on #657
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 12:36] Mehulipal opened #658 "Colours of Status bar and Title bar are out of sync in Settings page"
**Is your feature request related to a problem? Please describe.**
Colours of Status bar and Title bar are out of sync in Settings page, which makes the UI of the page unattractive.

**Describe the solution you'd like**
I would like to change the colour of the title bar, so that it is in sync with the colour of status bar.

**Describe alternatives you've considered**
Alternatively, the colour of t

[2020-03-19 14:02] Mehulipal commented on #658
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 14:04] pknotfound commented on #658
@Mehulipal
I think this issue has already been raised https://github.com/anitab-org/mentorship-android/issues/570#issue-569044641

Please correct me if I am wrong.

[2020-03-19 14:12] connie-reinholdsson commented on #120
Hello. I'm a first time contributor. Can I work on this issue? @isabelcosta

[2020-03-19 14:29] connie-reinholdsson commented on #655
Hello. I'm a first time contributer - happy to pick this up if possible? @isabelcosta

[2020-03-19 14:32] Mehulipal opened #659 "Distorted About Page"
**Describe the bug**
The About page looks distorted, as shown in the GIF attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Tap the 'Settings' button on the top right corner.
3. Go to 'About' page.
4. The distorted text contents and website links can be seen in About page.

**Expected behavior**
The text contents and website links in About page needs to look organized

[2020-03-19 14:48] connie-reinholdsson opened #660 "App crashes when typing in search window for under Members tab"
**Describe the bug**
App crashes due to `kotlin.UninitializedPropertyAccessException: lateinit property userList has not been initialized` in `MemberFragment`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Members` tab
2. Click on Search icon,
3. Start typing...
4. See error: `kotlin.UninitializedPropertyAccessException: lateinit property userList has not been initialized` in `Member

[2020-03-19 14:49] connie-reinholdsson commented on #660
I will work on this if that's ok? @isabelcosta  👍

[2020-03-19 14:54] Mehulipal commented on #659
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 15:05] Mehulipal opened #661 "Back Button does not work in Edit Profile Page"
**Describe the bug**
Back Button does not work in Edit Profile Page, as shown in the attached GIF.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Tap the 'Profile' tab.
3. Profile Page appears. Tap the 'Edit Profile Page' button on top.
4. Edit Profile Page appears. Press the 'Back Button'.
5. Same page remains opened.

**Expected behavior**
On pressing Back Button, Edit Pr

[2020-03-19 15:06] Mehulipal commented on #661
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 18:50] Mehulipal opened #662 "Internal Server Error in Send Request page"
**Describe the bug**
On pressing 'SEND REQUEST' button in Send request page, 'Internal Server Error' is shown in snackar sometimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Tap on 'Members' tab. Members page opens.
3. Tap on any member from the recycler view. Member Profile page opens.
4. Tap on 'SEND REQUEST' button. Send request page opens.
5. Tap on 'SEND REQUEST'

[2020-03-19 18:51] Mehulipal commented on #662
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 20:51] Mehulipal opened #663 "'Send request' to be changed into 'Send Request' in Send request Title Bar"
**Describe the bug**
As shown in the screenshots attached, Title Bar of other pages have all the letters beginning in caps. But 'Send request' is an exception to it.
**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Tap on 'Members' tab. Members page opens.
3. Tap on any member from the recycler view. Member Profile page opens.
4. Tap on 'SEND REQUEST' button. Send request page

[2020-03-19 20:51] Mehulipal commented on #663
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 21:23] Mehulipal opened #664 "Adding Button Press effect to buttons in Settings Page"
## Description
As a user,
I need to have the Button Press effect on pressing buttons in Settings Page,
so that I can have better experience of using the application.

## Mocks
![mom1](https://user-images.githubusercontent.com/54908756/77116225-d403ba80-6a55-11ea-9923-f59199b23b76.gif)

## Acceptance Criteria
### Update [Required]
- [ ] Add Button Press effect to buttons in Settings Page

## Defini

[2020-03-19 21:24] Mehulipal commented on #664
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 21:56] Mehulipal opened #665 "Title not visible entirely in Mentorship Requests Title Bar"
**Is your feature request related to a problem? Please describe.**
In Mentorship Requests Title Bar, title is not visible entirely.
**Describe the solution you'd like**
The font size of the title 'Mentorship Requests' can be reduced.

**Describe alternatives you've considered**
The title can be changed from 'Mentorship Requests' to a shorter title with lesser number of characters but with similar

[2020-03-19 21:56] Mehulipal commented on #665
@m-murad @isabelcosta May I work on this issue?

[2020-03-19 22:14] Mehulipal opened #666 "Enhancement of spacing in Current Relation Page"
**Is your feature request related to a problem? Please describe.**
Improper spacing exists between 'To do' and 'Achievements' fields in Current Relation page.

**Describe the solution you'd like**
'Achievements' field needs to be shifted below, to make space between 'No tasks' and 'Achievements'.

**Describe alternatives you've considered**
Alternatively, hint 'No tasks' of 'To do' field can be sh

[2020-03-19 22:15] Mehulipal commented on #666
@m-murad @isabelcosta May I work on this issue?

[2020-03-20 07:45] PatilShreyas opened #667 "Members - Timeout Exception and Crash"
**Describe the bug**
Exception - `java.net.SocketTimeoutException: timeout` is occurring while seeing 'Members' section. That's why crash is occurring as mentioned here - #266 and #660.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members' section

**Expected behavior**
It should load verified user's data in the `RecyclerView`

**Smartphone (please complete the following informatio

[2020-03-20 08:02] Kavya-24 commented on #651
@m-murad  May I work on this?

[2020-03-20 08:12] robotjellyzone commented on #392
Hi @sonishreyas you can't use firebase directly here with the present Database, so, please think over it again :)

[2020-03-20 08:29] sonishreyas commented on #392
Ok will check the backend

[2020-03-20 09:54] robotjellyzone commented on #659
@Mehulipal I think there is already an issue with PR here #649

[2020-03-20 11:50] Kavya-24 opened #668 "Feat: Display of errors in the syntax of SignUp Activity"
**Is your feature request related to a problem? Please describe.**
When signing up in the app,  if all the fields are non empty and have data that is not in the appropriate simultaneously, it tells us to make changes separately.

**Describe the solution you'd like**
For example if the syntax of the name and password is not correct, it should tell us to correct it both simultaneously in the error.

[2020-03-22 02:09] isabelcosta commented on #662
@Mehulipal do you know what the cause is for this bug?

[2020-03-22 16:04] naseemali925 opened #670 "Feature: Adding Back stack for maintaining the order of visited destinations."
**Is your feature request related to a problem? Please describe.**
When I open the app `Home` is selected by default. Then I select the Navigation items in some random order ex. `Home -> Profile -> Requests -> Members -> Relation`. So when I press back button it should replace the fragments in the order `Relation -> Members -> Requests -> Profile -> Home` and then exit. But now it always moves to

[2020-03-22 21:15] Sommie09 commented on #613
Yes, i am

[2020-03-23 08:41] pknotfound commented on #613
Thanks for the information.

[2020-03-23 18:52] isabelcosta commented on #667
@PatilShreyas I think this could be fixed through using pagination on the backend API. What do you think? Only after this would be implemented on the backend (work in progress), we could integrate this new feature. Let me know what you think

[2020-03-23 18:59] isabelcosta commented on #661
Make sense @Mehulipal :) I will assign this to you

[2020-03-23 19:03] #624 closed

[2020-03-23 19:11] isabelcosta commented on #655
Got it @Kavya-24 ! Do you wish to work on this?
If yes, let me so I can assign this to you, if not let me know so that I can assign it to @connie-reinholdsson
If this does not get assigned to you, I'm sure we will have more first-timers only issues, I am going now over them.

[2020-03-23 19:35] isabelcosta commented on #649
@AminullahTajMuhammad I understand now what this is about, so I approve this. I will assign this to you, so feel free to re open your PR.

[2020-03-23 19:40] isabelcosta commented on #659
thank you @robotjellyzone this is indeed a duplicated issue. Thank you @Mehulipal for reporting anyways :) But make sure you are not reporting already existing issues

[2020-03-23 19:40] #659 closed

[2020-03-23 20:42] AminullahTajMuhammad commented on #649
@isabelcosta I want to reopen this PR.

[2020-03-23 21:13] Mehulipal commented on #659
@isabelcosta Ma'am, I will certainly take care from next time. Thank you so much.
@robotjellyzone Thanks for enlightening :)

[2020-03-23 21:57] AminullahTajMuhammad opened #671 "[Bug] Scroll View is not working properly in Feedback Screen."
**Describe the bug**
ScrollView is not working on the Feedback screen. Like when I want to write a feedback message keyboard is when and I want to click send button I have to close keyboard first and then continue further process like add category of feedback and then click on the send button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Setting Screen'
2. Click on 'Feedback'

**Ex

[2020-03-23 22:41] AminullahTajMuhammad opened #672 "Show discard alert dialog in Feedback Screen."
**Describe the bug**
In the feedback screen when I add rating and suddenly I close this screen it shows the dialog for confirmation that you are closing this screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SettingScreen'
2. Click on 'FeedBack'

**Expected behavior**
When the user fills any of the components of Feedback and goes back without submitting the feedback then It show

[2020-03-23 22:42] AminullahTajMuhammad commented on #670
@naseemali925  I works fine on my Device.

[2020-03-24 02:24] PatilShreyas commented on #667
Yes. If this is implemented in backend it'll be great for this app. Because
it's really taking more that 20 seconds (I'm having slow internet
connectivity). If pagination is implemented, performance will be good.

On Tue 24 Mar, 2020, 12:22 AM Isabel Costa, <notifications@github.com>
wrote:

[2020-03-24 06:46] inaseem commented on #670
@AminullahTajMuhammad I tested the code also and as of now there is no back stack maintained. I don't know how you are testing this. 😕

Could you please attach a GIF to show if this works fine on your device?

[2020-03-24 07:38] pknotfound commented on #667
@PatilShreyas I tried to reproduce the issue.
I don't think that this issue is due to internet connectivity
SocketTimeoutException occurs when the API is unable to be reached which can be more than due to just connectivity issues.
I think the application is unable to read data from the backend that is not due to connectivity issues.

Please correct me if I am wrong.
Thanks

[2020-03-24 09:08] Kavya-24 commented on #655
@isabelcosta  I would like to work on this :)

[2020-03-24 09:20] isabelcosta commented on #655
@Kavya-24 I just assigned this to you, feel free to submit a PR once you are ready.

[2020-03-24 11:22] PatilShreyas commented on #667
@Priyansh-Kedia I didn't mentioned like it's occurring due to Internet connectivity. `SocketTimeoutException` occurs when members list isn't loaded within 10 seconds. That's why Crash is also occurring while searching.

[2020-03-24 11:26] pknotfound commented on #667
@PatilShreyas
Yes the exception occurs when the list is not loaded within 10 seconds.
Do you think this is an issue from the backend side?

[2020-03-24 11:28] pknotfound commented on #667
Also, I think that the loading speed is also not due to internet connectivity.
I have a good internet connection, yet the list does not load for 10 seconds, after which exception occurs.

[2020-03-24 12:13] PatilShreyas commented on #667
Yes. I have solved this issue on my system. I've updated code for that. I
just increased Timeout of OkHttp client to 1 minutes.

Root of this project is ofcourse backend. Backend has so much data of users
which takes time to response. That's why it happens.

On Tue 24 Mar, 2020, 4:58 PM Priyansh Kedia, <notifications@github.com>
wrote:

[2020-03-24 12:25] pknotfound commented on #667
Yes, I think that would fix the problem for now.

[2020-03-24 14:37] inaseem commented on #670
@isabelcosta @foongminwong I would love your response on this feature. Can I work on this feature?

[2020-03-25 10:08] Kavya-24 opened #674 "Bug: Unavailability of WebPage for sharing Code of Conduct"
**Describe the bug**
Page not found on clicking email share on Code of Conduct

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'About'
3. Scroll down to 'Code of Conduct'
4. Click on "Share this (email option)"

**Expected behavior**
It is supposed to ask us an email through which we can share and hence redirect to a mailing platform if possible

**Screenshots**

[2020-03-29 09:06] Kavya-24 opened #676 "Bug : SignUp with mentor/mentee being unchecked"
**Describe the bug**
When signing in, it does not wait for the user to input whether he wants to be a mentor or a mentee

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign Up'
2. Complete all the details except the check boxes of being mentor/mentee
3. 'Sign Up'

**Expected behavior**
It should prompt the user to input what she wants to be, a mentor or mentee, or ask to fill it late

[2020-03-29 09:15] Kavya-24 opened #677 "Bug : Wrong subscript of error when username/email is empty during Login"
**Describe the bug**
The subscript says "Username cannot be empty"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login'
2. Click on 'Login'
3. See error

**Expected behavior**
The error when username/email is empty should be "This field can not be empty" or "Username/Email cannot be empty"

**Screenshots**

![WhatsApp Image 2020-03-29 at 14 40 59](https://user-images.githubuserconte

[2020-03-29 09:28] Kavya-24 opened #678 "Feat : Confirm Dialog on exiting the application"
**Is your feature request related to a problem? Please describe.**
As a user, I should be asked whether I want to exit the application

The following toast could be replaced by dialog box instead, asking for confirmation to exit the app
![WhatsApp Image 2020-03-29 at 14 49 01](https://user-images.githubusercontent.com/54931749/77845455-c7593200-71cc-11ea-9223-3102879feaa1.jpeg)

**Describe the sol

[2020-03-29 09:48] Kavya-24 opened #679 "Bug: Required error not visible in Confirm password field"
**Describe the bug**
Required error  is not visible in Confirm password field when it is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SignUp'
2. Click on the Terms and Conditions Checkbox
3. Click signUp
4. See the error: Missing error in confirmed password field

**Expected behavior**
It should display something like, "Confirmed password cannot be empty"

**Screenshots**
![

[2020-03-29 11:38] Kavya-24 opened #680 "Bug: Save not working when no changes detected in Edit Profile"
**Describe the bug**
When the profile undergoes no change, then the user will want to save the current state of the app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'Edit'
3. Click on "Save"
4. See error

**Expected behavior**
The user should be able to exit the dialog box on clicking save, without any changes being performed

**Screenshots**
![ezgif com-video-

[2020-03-29 19:26] isabelcosta commented on #676
Very very interesting @Kavya-24 ! How do you propose fixing this? I see 2 possible solutions for this:
- Either change the backend to require the user to select at least on of these options and return error
- You make this part of the signup, a single option required part. Example: 3 options, which is required to be filled: Mentor, Mentee, Both.

What are your thoughts on this?

[2020-03-29 19:27] isabelcosta commented on #676
I can assign this to you :)

[2020-03-30 09:11] rahulshah456 opened #681 "Feature: Only show one page when user never have any requests in Requests Page"
**Is your feature request related to a problem? Please describe.**
Current Implementation of requests page will create RequestsPagerAdapter even if users don't have any mentorship requests. This creates useless 3 empty pages in RequestsPagerAdapter.

**Describe the solution you'd like**
Show the user that there are no pending, past or other requests and show a button to navigate to Members Page to

[2020-03-30 09:29] Kavya-24 commented on #676
@isabelcosta We may add three options (in form of check boxes), available to be a
1) Mentor
2) Mentee
3) Both

We may give the user a direction that he may change it as well, and selecting one of these is a necessary condition. By this I propose of adding a small warning/statement saying that "Note : You may change this preference later"

[2020-03-30 09:34] rahulshah456 opened #682 "Feature: show current relations page only when user is in a 1:1 relation"
**Is your feature request related to a problem? Please describe.**
Currently, the mentorship app only supports one relation between mentor-mentee so if any user is not in relation this current relation page shows you are not in a relation.

**Describe the solution you'd like**
showing a page every time which only has data when the user is in a relationship is not a good idea. Therefore I'm suggest

[2020-03-30 12:54] Kavya-24 opened #683 "Feat : Prompt user to login if he enters an already existing username and email during signUp"
**Is your feature request related to a problem? Please describe.**
As an user of Mentorship-App, if a user enters a username and email that is already registered, it is possible that the associated account belongs to him only. He should be prompted to login if he wants

**Describe the solution you'd like**
A snackbar to be shown if both USERNAME and EMAIL are already registered, asking the user if

[2020-03-30 13:27] Ruchika06 opened #684 "After login redirect to previous page"
After login the previously opened page should be opened and not the homepage

[2020-03-30 13:32] #684 closed

[2020-03-31 07:01] pknotfound commented on #680
Hey @Kavya-24
I think this issue should be solved by disabling the save button when no changes have been made.
This would help improving the user experience as save button on no data change can be a little misguiding.
Correct me if I am wrong @isabelcosta @m-murad

[2020-03-31 09:08] Priyansh-Kedia opened #685 "Automatically add email in the Feedback form"
## Description
The current feedback form in the mentorship application asks for email id. This way users can also put email id of someone else and submit a feedback.
The email id should be self populated with the email id of the user logged in currently.

## Mocks
## Before
![WhatsApp Image 2020-03-31 at 2 00 50 PM](https://user-images.githubusercontent.com/52661249/78004958-81c97000-7358-11ea-9c8

[2020-03-31 09:09] pknotfound commented on #685
@m-murad @isabelcosta
May I work on this issue?

[2020-04-01 10:07] mtreacy002 commented on #614
Hi @isabelcosta, I found the bug. It's in the Android UI, not at [backend #477](https://github.com/anitab-org/mentorship-backend/issues/477). Can I please send the pull request?

[2020-04-01 10:29] robotjellyzone commented on #59
@isabelcosta if you don't mind can I start working on this feature as since we are left with almost one month. so, can I start working on this as I would definitely be able to complete this feature so, can I work upon it  ?

[2020-04-01 10:33] robotjellyzone commented on #59
@isabelcosta  @mayburgos I would definitely work on both backend part for its working and frontend for button part as it will then be an as good start for me to understand the backend code. So I am willing to work upon it  :)

[2020-04-01 11:52] mtreacy002 commented on #614
Sorry, still have to find the bug first. I'll work on it if it's ok with you... maybe i'll start tomorrow, need a good night sleep 1st for now... 😃 😴

[2020-04-01 15:26] robotjellyzone commented on #683
I think for this there is already a login button below signup button and it shows the prompt also that the "user with email already exists" so, I think maybe this issue won't have much priority as its more of just adding a text in the already present toast.

[2020-04-01 15:35] robotjellyzone commented on #680
Hi @Kavya-24 @Priyansh-Kedia  its not an error , after saving the modification, there is a **REFRESH** button at the top right corner where three dots are there, so if you press that refresh button , you will see all the changes will get reflected In your profile .

[2020-04-01 15:56] robotjellyzone commented on #674
Hi @Kavya-24 it's not a bug as since the app is not available for offline mode that's why you are unable to open that webpage of **code of conduct** without internet connection but with the internet connection you will definitely be able to open it up [as I have verified it myself]

[2020-04-01 16:00] robotjellyzone commented on #672
@AminullahTajMuhammad do you have the screenshot of that toast/dialog that you got when you tried to go back without filling up the complete information as In my case, I have checked it twice but it is not showing any dialog/toast about which you are talking. So, it would be great to share that screenshot here to make things more clear.

[2020-04-01 16:05] robotjellyzone commented on #671
Hi @AminullahTajMuhammad the scroll bar is working smoothly in my case hmm... so may be there would be some version or screen size conflicts

[2020-04-01 16:07] Kavya-24 commented on #674
@robotjellyzone #674 is about unavailability of web page when **email share** is clicked in **code of conduct**  in the presence of internet. Attached is the gif
![ezgif com-video-to-gif (5)](https://user-images.githubusercontent.com/54931749/78159692-8711e200-7460-11ea-844a-0360b203f58b.gif)

Also, in the absence of internet if we share by any medium, Facebook for example, it will lead to unavail

[2020-04-01 16:14] Kavya-24 commented on #680
When the user clicks at the edit profile option, and **does not**  make any changes in it, then on clicking the "save" button, he should be able to save the data. In other words the dialog box should simply dismiss. #680 is on that.

[2020-04-01 16:20] robotjellyzone commented on #674
Hi @Kavya-24 I think this **code of conduct** is just there so that every user of the app should know what conducts he/she needs to fulfill during their mentorship period . For sharing anything related to misconduct to the community , this feature of **Report Violation** is yet to be done as said in Project Idea list . And also email feature will lead to other app such as email app. So, part of co

[2020-04-01 16:26] robotjellyzone commented on #680
Oh!! @Kavya-24 my bad, I didn't understand it well. But I think if there is no change in your profile then it would be fine to just use a **Cancel button** but yeah, you then never know the behavior of your user of the app

[2020-04-01 16:26] pknotfound commented on #680
@Kavya-24
I think the save button should be disabled if no change have been made as enabling the save button even if the user has not made any changes can be a little misguiding.
What do you think?

[2020-04-01 18:09] Kavya-24 commented on #674
@robotjellyzone  Noted :)

[2020-04-01 18:10] Kavya-24 commented on #680
Yes, the user might expect the "Save" to work as well

[2020-04-01 18:13] Kavya-24 commented on #680
Yes, it can be ambiguous to have "save" enabled in case no change is observed.  "Save" can be disabled in that case. Or, the edit dialog box can be simply dismissed on no change when "save" is clicked :D

[2020-04-01 21:34] AminullahTajMuhammad commented on #672
@robotjellyzone I am saying that we should create a confirmational alert dialog for this screen. Like when a user goes back without filling full feedback an alert dialog would be shown there.

[2020-04-01 21:37] AminullahTajMuhammad commented on #671
@robotjellyzone In my case when I open the keyboard to write on any field, it's not working.

[2020-04-02 10:36] gaurivn commented on #603
Is anyone still working on this issue? If not, please assign to me.

[2020-04-02 11:24] mtreacy002 commented on #614
Hi @isabelcosta . I've fixed the bug.. Gonna push the PR now. 😉

[2020-04-02 21:43] gaurivn commented on #112
I would like to work on this issue.

[2020-04-05 19:40] isabelcosta opened #688 "Create a bulleted list of features the app has on the README"
## Description
As a contributor,
I need to know the app's features,
so that I can know more about the app before working on it.

The README has practical information on how to contribute to the app and a small description of the app, but misses some information about the features it has, like see members of the app, send mentorship request.

## Acceptance Criteria
### Update [Required]
- [ ] Add a

[2020-04-05 21:42] isabelcosta commented on #683
I agree with @robotjellyzone 's point :)

[2020-04-05 21:43] isabelcosta commented on #684
@Ruchika06 doesn't this happen?

[2020-04-05 21:46] isabelcosta commented on #685
@Priyansh-Kedia I would argue another thing. Is this field even needed? Thinking about when this becomes implemented on the backend, we only need to send the id of the user in the request body right? My suggestion would be to take this field from the form. What do you think @Priyansh-Kedia ?
If you agree i am ok with you working on this :) Just let me know so I can assign this to you

[2020-04-05 22:06] isabelcosta commented on #672
@AminullahTajMuhammad I agree with this change :)

It's true that I don't quite understand the toast mentioned here:

But I understand the solution suggested here, to show a dialog asking if the user pretends to discard the changed.

cc @robotjellyzone

[2020-04-05 22:16] isabelcosta commented on #674
@m-murad now I understand why using webviews is not the best option 🙈 I didn't see an issue as I wasn't aware this could happen. Now I'm thinking that the button should really forward the user to a browser on the device 🤔
cc @robotjellyzone @Kavya-24 what do you all think?

[2020-04-05 22:20] isabelcosta commented on #677
Agreed! @Kavya-24 thank you for reporting this bug 🎉  would you like to work on it?
Regarding the message, I think being explicit it's always best, so "Username/Email cannot be empty" would be more useful for the end-user.
Let me know if you want to be assigned to this?

[2020-04-05 22:37] isabelcosta commented on #681
Not sure why but I am indecisive on this 🤔 I will request advice on our Zulip community.

[2020-04-05 22:42] isabelcosta commented on #682
Hum 🤔 it can be confusing to sometimes have that option and other times not. I will ask for more opinions on our Zulip community

[2020-04-05 22:47] isabelcosta commented on #631
I approve of this issue! Thank you @naveennvrgup for taking the initiative to "assign" the issue to the first contributor, @Priyansh-Kedia , that requested to work on this :) I agree with implementing this. Also thank you all for reviewing and approving the issue :)

[2020-04-05 23:11] isabelcosta commented on #530
I guess we can close it, this was like this for a reason, thank you for explaining it so well here @m-murad

[2020-04-05 23:11] #530 closed

[2020-04-06 06:00] inaseem commented on #670
@isabelcosta @foongminwong I would love your response on this. :smile:

[2020-04-06 06:59] pknotfound commented on #685
@isabelcosta
I think this field should be shown to the user so that the user is well informed that they will be receiving an email on the particular email id.
For example, I myself have 2 different email id. It might be possible that I do not remember the email id I used to login to the mentorship app. So it would be helpful if I am being shown the email id that I will be receiving mail on.

I hop

[2020-04-06 07:22] pknotfound commented on #530
@isabelcosta
Can I take up this issue?

[2020-04-06 11:35] Kavya-24 commented on #677
@isabelcosta Yeah sure, I would work on this :)

[2020-04-06 12:48] Kavya-24 opened #689 "Feat: Allow users to get a copy of their feedback"
**Is your feature request related to a problem? Please describe.**
As a user of mentorship-android, I might want to get a copy of the feedback that I provided.

**Describe the solution you'd like**
Extract the text that has been entered as feedback and store it on the database. Use Flask libraries to implement mail features

**Additional context**
May I work on the frontend part of this?

[2020-04-06 14:04] thatfedupguy commented on #688
@isabelcosta Can I take up this issue?

[2020-04-06 14:10] pknotfound commented on #689
@Kavya-24
I also thought of this a while back.
I think that this would be an issue for the backend and just creating the front end would not suffice as we will not be able to get any information regarding the feedback unless and until the backend does not have the proper data structures to carry it.

What do you think?

[2020-04-06 15:05] isabelcosta commented on #688
Go ahead :) @tusharr-98

[2020-04-06 16:23] #421 closed

[2020-04-06 17:03] isabelcosta commented on #530
@Priyansh-Kedia this issue is closed since maintainers did not approve this. Have you looked at other issues?

[2020-04-06 17:11] Kavya-24 commented on #689
@Priyansh-Kedia  What I thought was that if we could store the feedback sent to the organization in some way or the other (a string of text for example) and embed this , we may be able to send the email.  I don't know if this is possible as I am not yet familiar with how Flask backend will be working but I think it can be taken into consideration after looking at the following article.
https://ove

[2020-04-06 17:16] pknotfound commented on #530
@isabelcosta
I looked into other issues as well. Though I thought that this issue is a genuine one which should be implemented, hence was asking for approval.

[2020-04-06 17:20] pknotfound commented on #689
@Kavya-24
Yes, flask uses SQLAlchemy and SMTP for the delivery of the mails.
What I am saying is that I do not think that there is a field in the current database to hold the feedback forms according to the users.
Also, the idea of storing messages as a string is good, but how do you think of doing that?

[2020-04-06 18:44] pknotfound commented on #685
@isabelcosta
I was going through the code for FeedBack activity and found out that the backend code for feedback has been left blank currently.
Can this be raised as another issue by someone from the backend?

[2020-04-06 18:49] isabelcosta commented on #685
@Priyansh-Kedia do you mean creating an issue on this repo about integrating backend API?
You can do it, but until there is the backend implementation of it, this is blocked.
Feel free to create the issue here :)

[2020-04-06 18:51] pknotfound commented on #685
@isabelcosta
Implementing this on the backend has to be done by someone from the backend only

Till then, may I populate the email field with the email with which the user logged in (The current issue)?

[2020-04-06 18:53] isabelcosta commented on #685
Interesting 🤔 I would accept two solutions:
- autofill the field instead of just filling the hint. Then if the email is correct the user does not have to change it.
- removing that field and assume the email the user register for the system is the one. Remember that in this way, in the backend we don't need to store an additional email, we don't need to deal with that data at all.

I will post thi

[2020-04-06 18:54] pknotfound commented on #685
Sure
According to me the first option should be implemented due to the reason mentioned.
But please ask for reviews on Zulip and tell me how it has to be implemented.

Thanks

[2020-04-06 19:02] isabelcosta commented on #685
@Priyansh-Kedia in some time we may get some more feedback and see how it goes.

[2020-04-06 19:08] isabelcosta commented on #530
@Priyansh-Kedia did you see @m-murad explanation on why we choose to go with the UI that is presented now? We purposely did not add a back button because login and Sign up are considered both at the same level, there is even a button to go for both screens inside both screens. Let me know if you feel the same way

[2020-04-06 19:34] jotharman commented on #685
@isabelcosta i am interested in working on the backend part of this. Should I create an issue there?

[2020-04-06 19:45] isabelcosta commented on #685
@jotharman I think that the issue is already created there. Can you please check that before creating a new issue? Also if the issue exists can you ask to work on it, in case it is not assigned to anyone yet. Then I can assign this to you :)

[2020-04-06 20:02] jotharman commented on #685
@isabelcosta okay sure :)

[2020-04-06 20:26] isabelcosta commented on #670
Not sure if it makes sense within the main screen that contains the fragments, bottom options. I feel that back button in that context should lead to closing/move to background the app. @m-murad @foongminwong @annabauza any thoughts on this?

[2020-04-06 20:51] m-murad commented on #670
The back button should
1. Exit the app if you are on the HomeFragment.
2. Take you directly to the HomeFragment if you are on some other fragment.

What I think is not right with approach that the author of issue is suggesting -
Imagine a user has been using the app for 15mins and has visited all the fragments multiple times (let's say 100), now to exit the app user should press the back button 10

[2020-04-06 22:47] mtreacy002 commented on #670
Hi all. I agree with @m-murad that a 'Home' button (which we already have as Home icon on bottom left of navbar)should  bring us back to the Homepage of the application. But in terms of the '<' or 'Back' button that will bring us back to the previous screen, I agree that this function is needed coz it could be useful for if the user change their mind and just want to go one step backward.
However,

[2020-04-07 08:05] pknotfound commented on #530
@isabelcosta , I did not read @m-murad 's explanation on the issue before.
Thank you so much to make me read it and learn something new related to flow of the application

[2020-04-07 10:25] isabelcosta commented on #685
I have another thought about this, regarding it email field being pre filled and disabled or not show there at all. I posted this on Zulip today.

[2020-04-07 10:46] pknotfound commented on #685
Yeah, others might suggest something even better.
I will wait for your review.

[2020-04-07 12:54] rahulshah456 commented on #681
I have read all the reviews in Zulip and having these tabs always is also good. This issue is just an idea for first-time users i.e. special case nothing else.
BTW I'm closing this issue now...

[2020-04-07 12:54] #681 closed

[2020-04-07 12:58] rahulshah456 commented on #682
I have created this issue because 2 screens are empty when the user first opens the application. But nevermind, It will confuse some users at last.

[2020-04-07 12:58] #682 closed

[2020-04-07 12:58] isabelcosta commented on #681
@rahulshah456 I still see a good idea here, if the user has no requests they can be redirected to members screen with a button just like you showed in your mock. Do you wish to create an issue for that?
Even though this is closed I really appreciate that you created the issue and started a conversation in this specific part of the UI. Closing this does not mean this was in vain :)

[2020-04-07 13:04] isabelcosta commented on #682
this issue started a good conversation on Zulip for sure ;)

[2020-04-07 13:33] rahulshah456 commented on #681
@isabelcosta  as of now requests page with 3 tabs will always be visible so adding a redirect button to members page will be in all three pages i.e. 3 redirect buttons. While there is already a redirect button on the current relations page if user is not in any relation at the moment. So, there will be 4 redirect buttons and do you think this a good idea?

[2020-04-07 14:33] inaseem commented on #670
Thank you @isabelcosta @m-murad @mtreacy002 for your comments. @m-murad you are correct to say that if a user keeps on navigating and switches too many times/around 100 times then it would be a trouble to go to Home as it would require too many Back/UP events.

### Possible Solution(s)
1. We can pop items from the BackStack until the top of the Stack matches the selected Navigation Items entry.

#

[2020-04-07 18:25] #655 closed

[2020-04-08 07:29] AminullahTajMuhammad commented on #672
@isabelcosta Should I do this?

[2020-04-08 13:48] m-murad commented on #672
Regarding this screen
This screen dosn't make sense.

Bugs and suggestions for this app are recorded on GitHub. What are we using this screen for?
Why are we asking for the email id of the user, we already have that?

@isabelcosta @annabauza
this is not needed, what do you think?

[2020-04-09 11:52] Priyansh-Kedia opened #691 "Updated profile does not show if the fragment is not refreshed"
**Describe the bug**
When the user updates their profile information, On pressing save button, the updated profile is not fetched.
To fetch the updated profile the user has to refresh the profile.

**Expected behavior**
The updated profile should be automatically fetched on click of save button.
**Screenshots**
### Before
![WhatsApp Video 2020-04-09 at 5 20 24 PM](https://user-images.githubusercon

[2020-04-09 11:53] pknotfound commented on #691
@isabelcosta
May I work on this issue?

[2020-04-09 12:13] isabelcosta commented on #672
@m-murad I think there is no harm in having it. In my opinion, this screen is a nice to have, where a user can give feedback about the app, to the admins/creators of the app. Feedback like comments about the app, like "do they enjoy the app?", "is the app useful?", a way for users to give feedback about the app.

The Bugs and suggestions I agree that maybe are not necessary on the screen (this was

[2020-04-09 12:18] isabelcosta commented on #691
not sure but i think this is being fixed on another issue

[2020-04-09 12:22] m-murad commented on #672
The is standard of collecting feedback/review about the app, that is done on the playstore.

There are two ways app ask for review/rating.
1. Show a dialog asking if the user would like to rate/review the app, if user presses yes (s)he is taken to the playstore page.

2. Show a rating bar inside the app. If the user gives good rating (s)he is taken to playstore to give the ratings. If the user giv

[2020-04-09 12:27] pknotfound commented on #691
@isabelcosta
I checked other issues but could not find any of them fixing this.
Please guide.

[2020-04-09 12:50] robotjellyzone commented on #59
Hi, I am still working on this issue !! [just a reminder] :)

[2020-04-09 13:00] isabelcosta commented on #691
From Zulip conversations I understand that this is an issue :)

[2020-04-09 13:01] pknotfound commented on #691
@isabelcosta
I will submit a PR soon.
Thanks

[2020-04-09 13:01] mtreacy002 commented on #691
Hi @Priyansh-Kedia and @isabelcosta. I've tested the issue and can confirm what @Priyansh-Kedia referred to. The bug does exist and not showing the update upon profile changes submitted by user. 😉

[2020-04-09 16:21] vibhuti019 opened #693 "Blogs and Feed Frame In App"
We can add a blog(tech blog) or news feed(About the organization) frame in our app.
It will aware the users about the latest trends in technology and the latest events being held by the organization.

[2020-04-09 18:07] robotjellyzone commented on #693
@vibhuti019 i think for this, there is a portal where any new user/anyone can get the latest news about the organisation :)

[2020-04-09 18:11] robotjellyzone commented on #679
@Kavya-24 i think although it's not showing up this **can't be empty** message but even then it won't allow to be empty as to **confirm password** it has to match it up with the above given password so, it will automatically won't allow it to be empty :) what do you think !

[2020-04-09 18:15] robotjellyzone commented on #666
@Mehulipal i think this issue too small to be work upon as its just about adding a spacing !! what do you think as i think this mainly depends upon the screen of the app as well so, may show different spacing in different screen size apps

[2020-04-09 18:20] robotjellyzone commented on #657
According to me , since there is a scroll bar present then it would not be an issue to see the content of feedback area :) what do you think !

[2020-04-10 05:12] Kavya-24 commented on #679
@robotjellyzone What #679 was that in case the user clicks signUp with all the fields empty, it should show  **Confirmed Password should not be empty**. To accommodate this, we ll have to use a separate logic to check if this field is null. In all other cases, where there is an input in this confirmed password field, we will check if it matches the mentioned password.

[2020-04-10 05:21] Kavya-24 commented on #683
@robotjellyzone  @isabelcosta  Noted :)

[2020-04-10 05:49] Kavya-24 commented on #689
@Priyansh-Kedia  We could create a <String, String> multimap in this, so as to store the email as the key with a particular string associated with it if you are talking about the data structures in particular :)

[2020-04-10 05:50] Kavya-24 commented on #680
@isabelcosta  @m-murad @foongminwong  Can I work on this?

[2020-04-10 07:25] pknotfound commented on #689
That is what I was thinking, you will have to store the key value pair somewhere, and for that you will need API endpoints to coordinate with the backend, and as far as I know, the current backend is not populated with methods for the particular issue.
Your issue, nevertheless will be helpful (If it is completed completely).

Please correct me if I am wrong.

[2020-04-11 15:56] gaurivn commented on #168
I would like to work on this issue.

[2020-04-12 07:36] robotjellyzone commented on #59
hi, i am still working on this :)

[2020-04-12 12:24] isabelcosta commented on #59
@robotjellyzone thank you for the updates. Let me know if you need any help :)

[2020-04-12 16:08] isabelcosta commented on #168
@gaurivn go ahead :) I will assign this to you

[2020-04-12 17:40] #642 closed

[2020-04-13 12:34] robotjellyzone commented on #59
Hi, @isabelcosta I will definitely ask if I need your help. Actually I am a beginner in backend kind of things, so, I am just figuring out what all changes I need to do in the backend and in the frontend. Since there are so many files used in backend [all relating to each other] so, I am taking my time and modifying or adding code one by one in each file .... This actually requires adding code for

[2020-04-14 14:35] Priyansh-Kedia opened #695 "Set off screen page limit in Viewpager"
**Describe the bug**
The requests page uses a Viewpager to show the pending, past and all requests.
Offscreenpagelimit should be set in this case as we have just three pages and all of them can be kept active at once.
This would save time in data fetching as there will be less time spent to create the new views as the user goes back and forth.

[2020-04-14 14:35] pknotfound commented on #695
@m-murad
Please share you views.

[2020-04-14 15:05] m-murad commented on #695
Makes sense to me, we can do some major refactoring here.
Can you use the ViewPager2 library to implement this. The offScreenPageLimit can be set to 2.

But before that please follow the issue template and update the description

[2020-04-14 15:10] pknotfound commented on #695
@m-murad
Yes I think migrating to ViewPager2 would be good as it is adds enhanced functoinalities.

How do you think I should proceed?

I will update the issue description.

[2020-04-14 15:27] m-murad commented on #695
Update the issue description.
Replace ViewPager with ViewPager2 in the project.

[2020-04-14 15:30] Priyansh-Kedia commented on #695
Alright @m-murad

[2020-04-14 15:31] pknotfound commented on #695
@m-murad
I think there is an issue for migrating to ViewPager2.
What should be done in that case?

[2020-04-14 17:30] pknotfound commented on #695
[This](https://github.com/anitab-org/mentorship-android/issues/504#issue-549731976) is the issue.

[2020-04-14 18:18] robotjellyzone commented on #59
Hi @isabelcosta @annabauza  till now I am done with creating the backend api for this recovery feature, and from now on I will be moving on to creating its frontend feature, but I have a little confusion that should a create a separate issue for adding PR for my backend api or should I just continue with adding PR of frontend & backend both same in one PR for this same issue?

[2020-04-15 09:11] robotjellyzone commented on #59
Hi @isabelcosta @annabauza  i have one more confusion since i am sending a reset link in the email for reset password, so where should i redirect that link to... as right now there is not web version of this app, so should i direct that link to a new web form [which i have to create] or should i direct it to the screen of the app where user can enter a new password, [but for this i need your help]

[2020-04-15 11:52] robotjellyzone commented on #59
Till now i have added the backend api for **forgot password** [to send reset link to the email]  and for **reset password**  [to make new password] as shown in the images below :

1. The below images shows those two end points created :-
![2020-04-15 (5)](https://user-images.githubusercontent.com/36916536/79336039-a6207180-7f40-11ea-8481-f3bf28dd7c7d.png)

2. This shows of forgot password endpoint

[2020-04-15 19:47] Mehulipal commented on #657
@robotjellyzone Once the keypad pops, the scroll view does not work, hence we fail to scroll down and reach the fields under Message field. Please check!!

[2020-04-15 19:54] Mehulipal commented on #666
@robotjellyzone I appreciate your point. Nonetheless, UI/UX features determine how an app appeals the user. This bug, as found by me ha been specifically tested in Device: Honor 9N. Thanks:)

[2020-04-16 16:02] robotjellyzone commented on #662
Hi @isabelcosta @Mehulipal i think i found the cause of the error/bug [but still not the solution] , I ran that backend code i found the error as shown in the following :

![2020-04-16](https://user-images.githubusercontent.com/36916536/79479704-ccbad700-802a-11ea-91c4-fcbf603c21c2.png)

I think this is the cause of getting **internal server error** , I think the presence of  **, [comma]** at the

[2020-04-17 14:13] vibhuti019 commented on #693
I wish to add this in the mentorship app.
It will contain some tech blogs also which will surely be guide for all of them.

[2020-04-18 03:48] mtreacy002 commented on #662
Hi @Mehulipal, @robotjellyzone and @isabelcosta. I think I may have found the bug (at least in my testing these things happened).
It might be because of the default mail used in your testing (not sure if you're testing with local or dev environment. Maybe the mail inbox you're using is full or something).
I said this because of these things:
- when I used gmail as default email, it resulted in int

[2020-04-18 06:01] robotjellyzone commented on #662
Hmm.. that's strange @mtreacy002 as i am getting a different error of **Failed to decode Json Object** at my end while sending request ? 🤔

[2020-04-18 06:05] robotjellyzone commented on #662
I used swagger to send the request rather than the front end using app... Can you please check at your end using swagger also to confirm this @mtreacy002 ? so, that i can be sure may its only an error at my end ??

[2020-04-18 06:16] mtreacy002 commented on #662
I haven't checked on Swagger. But I believe this is due to the fact that the Dao method of mentorship relation (create_mentorship_relation) is supposed to return a string message but the response from SMTP exception is not is Unicode string but a byte sequence as explained [here](https://stackoverflow.com/questions/36212905/python-3-is-not-json-serializable) which is why you're getting the JSON de

[2020-04-18 06:20] mtreacy002 commented on #662
@isabelcosta , shouldn't we be using this SMTP error responses, after all it is the SMTP process that giving us the error instead of the HTTP? It's just I still haven't figure out how to place the response code message into the namespace (@someentity_ns.response) bcoz I only was able to catch the message after the event was raised the exception, not before... 😂

[2020-04-18 06:27] robotjellyzone commented on #662
You are getting this on while registering the user or while sending request ...? as i can see that from you screenshot that you are getting this **Type Error** while regsitering the user ... whereas in my case i am just getting this error only while sending the request to the mentor from mentee.....??

[2020-04-18 06:33] robotjellyzone commented on #662
Also, I think this error **Application-Specific-Password-Required** just means that Gmail accounts if used for non-gmail accounts will require some special passwords for their access therefore for such situations you need to set **App Passwords** if you are using your Gmail account for sending emails as a host mailer...
If you set that app password , you won't be getting this type of error ...

[2020-04-18 06:42] mtreacy002 commented on #662
Same concept, both are using SMTP process. The difference is on Registration, my code was using unicode string as response but create_mentorship_relation is using byte string as response.

On this, I did the gmail on high settings just to reproduce the bug and see the error behaviour on frontend (internal server err) 😉. I'll do the same if I want to make/test the create mentorship relation interna

[2020-04-18 06:45] robotjellyzone commented on #662
I just want you to make sure whether you are also getting the same error[which i am getting]  while sending request to create relation ? I didn't made any modification at all .. but still got this error

[2020-04-18 06:48] mtreacy002 commented on #662
I can do a quick test now on Swagger, but I have one question though, what did you put as end date? It has to be on Float.... I hate playing with dates-float conversions.... lol 😂

[2020-04-18 06:50] mtreacy002 commented on #662
which environment you are testing this on? local or dev?
also, which email address? if gmail, with high or low settings?

[2020-04-18 06:53] mtreacy002 commented on #662
if this (internal server error) happens while you and @Mehulipal testing it on dev environment, it could be that default email used by @isabelcosta has some issue (that does not necessarily caused by gmail security settings as I also faced the same error using mail.com as shown on the test above)

[2020-04-18 06:56] robotjellyzone commented on #662
Hmmm.... that's interesting which i was not aware about , i was using dev environment , ok lets see what happens if we use **local** one... 🤔 . are you using **local** as well ?

[2020-04-18 06:57] mtreacy002 commented on #662
Yes, I did those tests on local env... 😉

[2020-04-18 06:58] mtreacy002 commented on #662
wait... I need to cook for the family now... will be back soon.... 😂

[2020-04-18 06:59] robotjellyzone commented on #662
Great & Hardworking mom.. 👍 🤗

[2020-04-18 08:35] mtreacy002 commented on #662
I'm back... have you give it a try, @robotjellyzone ?

[2020-04-18 08:52] robotjellyzone commented on #662
Hi yeah, @mtreacy002 you were right its working on **local** part , now i am testing and trying to find the reason for getting the **Internal Server Error** in the frontend part as well !!

Yeah, here is this on the swagger :-
![2020-04-18](https://user-images.githubusercontent.com/36916536/79632930-fd605500-817f-11ea-8b1f-876ad30a0809.png)

[2020-04-18 09:07] robotjellyzone commented on #662
Hi @Mehulipal i don't know why you were getting this **Internal Server Error** may be you were testing on **Dev** [as said by @mtreacy002 ] Try to test it on **local** part ...

See i am not getting any error :
![request sent successfully](https://user-images.githubusercontent.com/36916536/79633272-07835300-8182-11ea-866c-d67223cb3eba.png)

[2020-04-18 09:09] robotjellyzone commented on #59
Also, @isabelcosta can i remove that **slack** part/section from frontend & backend as well as i think since slack is no more used then it will be fine to remove it from every section of app as well ..

[2020-04-18 09:25] mtreacy002 commented on #662
Hey @robotjellyzone . My access token won't work. do you know why?

[2020-04-18 09:26] mtreacy002 commented on #662
Keeps saying invalid. But I copy paste from when I login as that user. ☹️

[2020-04-18 09:30] robotjellyzone commented on #662
Can you share the screenshot @mtreacy002? May be its not allowing  you to login or it may be you didn't confirmed that mail id as earlier you said that you had lot of stack of emails which were unread and may be that's why you didn't read that mail to confirm your id for app

[2020-04-18 09:35] mtreacy002 commented on #662
this one, I did confirm the email. This is on local server

this is the error

<img width="981" alt="Screen Shot 2020-04-18 at 7 32 02 pm" src="https://user-images.githubusercontent.com/29667122/79634043-7cb74e00-81ab-11ea-9bf8-9c8ac99a6de0.png">

and this is my login user and the token

<img width="961" alt="Screen Shot 2020-04-18 at 7 34 11 pm" src="https://user-images.githubusercontent.com/2966

[2020-04-18 09:35] mtreacy002 commented on #662
this test is on local server

[2020-04-18 09:38] mtreacy002 commented on #662
and here's the user data in database...

<img width="604" alt="Screen Shot 2020-04-18 at 7 37 42 pm" src="https://user-images.githubusercontent.com/29667122/79634155-24cd1700-81ac-11ea-8824-d9bde65f0dfb.png">

[2020-04-18 09:42] robotjellyzone commented on #662
Hi @mtreacy002 i got it , while you give access token you have to first write **Bearer** then write/paste your access token !! this will resolve your error !! Even if you see the description which is **Authentication access token. E.g.: Bearer <access_token>** then you can see that you have to write Bearer then <access_token>

[2020-04-18 09:48] mtreacy002 commented on #662
hehehehe.... ooo, that's why... I even tried refreshing and clearing the browser beforehand, silly me ☺️ Thanks, @robotjellyzone . I gave it a try and the message was sent successfully...

<img width="945" alt="Screen Shot 2020-04-18 at 7 45 21 pm" src="https://user-images.githubusercontent.com/29667122/79634417-7fb33e00-81ad-11ea-802b-922d0d74b645.png">

Now I'm gonna try the dev server

[2020-04-18 10:00] mtreacy002 commented on #662
Just curious... who did you sent the request to on the dev server?

[2020-04-18 11:16] robotjellyzone commented on #662
Hi @mtreacy002 you can create two to three users yourself [by registering different email ids] and then send your request [to yourself 😄 ][although seems very weired]

[2020-04-18 11:58] mtreacy002 commented on #662
I see what you mean now @robotjellyzone after seeing what @isabelcosta did just now in the Ask Me Anything meeting... 😉. Thanks again. So, @Mehulipal , I think we have discussion open now on [Zulip chat](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/SMTP.20exceptions.20and.20implications/near/194540406) to discuss about SMTP related errors (just like the one you ha

[2020-04-18 12:04] mtreacy002 commented on #662
Btw, @Mehulipal, both @robotjellyzone and I think you got the internal server issue due to some internet problems. It might be just a temporarily issue. But regardless, we still need to take precautionary steps on our code to deal with the aftermath of the issue properly (such as resending email ability and not allowing any modification to the database when this thing happens. 😉

[2020-04-18 12:07] isabelcosta commented on #662
Thank you for updating the issue @mtreacy002

[2020-04-18 12:12] mtreacy002 commented on #662
No worries, @isabelcosta. Glad if I can be of any help to @Mehulipal. Plus this issue relates to my current PR, that's why I'm also curious on why and how to approach it... I'm also happy to collaborate with @robotjellyzone to help with troubleshooting this issue.

[2020-04-18 13:06] m-murad commented on #504
@Priyansh-Kedia the PR was opened during in Jan.
I guess you can ask the PR author is (s)he is planning to complete the work if you can complete this.

[2020-04-18 13:09] pknotfound commented on #504
Alright @m-murad

[2020-04-18 13:11] pknotfound commented on #504
@bartekpacia
Are you still working on the PR for this issue.
I have opened a similar issue and would want to continue my work if you are not working on this.
[This](https://github.com/anitab-org/mentorship-android/issues/695#issue-599621341) is the link to the issue I have created.

[2020-04-18 13:23] bartekpacia commented on #504
Hi, this PR is completed. I migrated all ViewPagers to ViewPagers2. I see that there are some merge conflicts, so if you want to work on this from the scratch, then go on, if not, I'll just fix the conflicts and it should be good to go.

[2020-04-18 18:38] pknotfound commented on #504
Hello @bartekpacia if you have set up with everything, I am not sure what would be right to do.
@m-murad What should be done according to you on this?

[2020-04-19 19:50] gaurivn commented on #168
@isabelcosta , I am working on this issue. Could you please tell what do I replace the 'type' with in the pull request I am going to create for this issue

[2020-04-19 21:46] isabelcosta commented on #168
It seems like chore, but test is also good :) @gaurivn

[2020-04-20 00:55] Mehulipal commented on #662
@mtreacy002 @robotjellyzone Really really indebted to you for helping me out with the issue :).....Actually I got stuck in the backend ..........My bad :(
As mentioned by @mtreacy002 I am joining the stream on SMTP related errors
@mtreacy002 @robotjellyzone Since the motive of open sourcing is learning, I really appreciate the inputs from you guys.......was a lot of learning for me.........Thank y

[2020-04-20 11:55] robotjellyzone commented on #662
Hi @Mehulipal if you think that it was not an issue/bug then feel free to close this issue :) I think @isabelcosta will then remove that label of **BUG** and **Availability** status labels as well :)

[2020-04-20 18:38] isabelcosta commented on #59
I really like your detailed explanation on how you designed and implemented this feature 👏 , I think this is ready for you to submit PR? Is it? I think I told you in an AMA (not sure), that you could create the web page to reset the password 🤔

I have no problem with you taking time, you were learning, that is exciting 😄

What is the slack part you are mentioning? What is this related with? @robot

[2020-04-20 18:51] #691 closed

[2020-04-20 18:54] #677 closed

[2020-04-20 19:00] #616 closed

[2020-04-21 14:08] robotjellyzone commented on #59
Hi @isabelcosta sorry, i am just stuck unexpectedly in my university's work as they gave a quick deadline to submit project report and give presentations and other stuffs but i promise will soon update you regarding the PR ... Sorry for late reply as well 😓 and yeah, i will create a different issue as if you remember in your AMA i asked that whether the SLACK is still available but then you said N

[2020-04-23 15:47] vj-codes commented on #688
@isabelcosta Can I work on this issue?

[2020-04-23 20:44] vj-codes opened #697 "Disorientation of GitHub link button and Zulip link button in About section"
**Describe the bug**
The GitHub link button and Zulip button appear way to large as compared to other buttons in the About menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Systers mentorship
2. Click on Settings
3. Scroll down to About Menu
4. See error

![Screenshot_2020-04-24-02-27-26-552_org systers mentorship](https://user-images.githubusercontent.com/60894542/80148991-7ffb7100

[2020-04-24 05:34] Kavya-24 commented on #697
Hey @vj-codes. This issue has already been opened (#649) and a pull request  has already been associated with it #650

[2020-04-24 12:45] vj-codes commented on #697
Yeahh I'll close it.

[2020-04-24 12:46] #697 closed

[2020-04-24 13:25] #676 closed

[2020-04-26 11:51] robotjellyzone commented on #59
Hi @isabelcosta sorry for late reply , now i am free [from all those project work of university] I am sending PR at the backend side for this issue by referencing it rather then creating a new issue on backend as it will take your much time ... Also, i am not going to add that html form to update password i thought i would just allow user to use swagger ui to reset its password ... But later on wh

[2020-04-29 06:02] Kavya-24 commented on #680
@isabelcosta Can I work on this?

[2020-04-29 06:04] Kavya-24 commented on #679
@isabelcosta  @m-murad Can I work on this?

[2020-05-01 17:34] isabelcosta commented on #662
@robotjellyzone I am wondering, are you able to do this? as part of our open source teams? If you are please be free to do that :) if not I can do it

[2020-05-01 17:38] robotjellyzone commented on #662
Oh!! yeah i will do it but its i think good to ask it first to others who added it @isabelcosta , was just taking a kind of permission :) also, should i close it as well ?

[2020-05-01 17:52] robotjellyzone commented on #662
Hi @Mehulipal I am closing this issue but If you think that you are still facing this issue then feel free to open this issue again and then we will discuss more on it or you can take the help on zulip as well :)

[2020-05-01 17:52] #662 closed

[2020-05-01 18:16] isabelcosta commented on #662
👏 @robotjellyzone

[2020-05-02 15:40] #601 closed

[2020-05-02 20:02] isabelcosta commented on #680
Yes you can work on this @Kavya-24 ! I read the discussion, and I am not sure about the best away to do it. But I like @Priyansh-Kedia on disabling the button for sure.

[2020-05-03 07:44] inaseem commented on #678
Hi @Kavya-24 , I am not sure if this will enhance user experience. In most of the top apps like PayTm, etc they also have the same Toast. The intent here is to inform the user that on the next `UP/Back` application will be closed. Showing a Dialog asking if you want to exit when the user already wants to is just an extra overhead. What do you think?

[2020-05-03 07:50] inaseem commented on #670
@isabelcosta @m-murad Could you please take a look and give your feedback.

[2020-05-03 09:58] Kavya-24 commented on #678
@naseemali925 This was a **feature suggestion** to a case, where the user might fail to notice the exit application toast. Also,  it will make the user aware that he is indeed exiting the application and not by mistake. What do you think?

[2020-05-03 16:10] bartekpacia commented on #693
It will need a big amount of both on the frontend & backend. For newsfeed to work, we'd need:
– let users publish post (how a post would uploaded & stored in a DB)
– let users add others as friends, so we can somehow customize the newsfeed
– flagging mechanism to take down inappropriate content fast (+ making some users moderators)
– lots of other stuff

In general, what I'm saying is this is a ve

[2020-05-03 16:21] isabelcosta commented on #250
I just want to mention that PR #600 has useful reviews that can help next contributor to work on this :)

[2020-05-03 16:37] bartekpacia commented on #663
@Mehulipal Sorry for the late response. Sure, go ahead, it's such a small change so no worries.

[2020-05-03 16:45] robotjellyzone commented on #693
oh my goodness !! @bartekpacia you have added so many labels , can you tell me more about this epic label ?

[2020-05-03 16:48] bartekpacia commented on #693
I'm also surprised by the number of available labels, so I decided to add every that applies here.

I thought that "Epic" means something very hard which requires a lot of planning, am I right? If I did something incorrectly, could you remove the "wrong" labels?

[2020-05-03 16:52] robotjellyzone commented on #693
ok, i think , its good to remove epic and backend issue as these are according to me somewhat misleading :)

[2020-05-03 17:43] inaseem commented on #678
@Kavya-24 Okay I get your point. But would you like it that every time you want to close the app with 2 `BACK/UP` press a pop up shows up saying `Hey do you wanna close the app?` Would that be a better experience or just informing the use with a little Toast is better? This is what I have in mind.

[2020-05-03 18:51] Kavya-24 commented on #678
🤔🤔 Yeah. That is also right. We'll let this issue subside till the time mentors give a thought about it as well @naseemali925  :)

[2020-05-03 21:46] vj-codes commented on #665
Heyy @Mehulipal by title do you mean only the top bar ? The bottom nav bar also does not show the complete title .Can I raise another issue abt the bottom nav bar ? @Kavya-24 @isabelcosta

[2020-05-03 23:35] bartekpacia commented on #504
@Priyansh-Kedia Hey, do you still want to work on this? If yes, then you're welcome :D

[2020-05-03 23:55] bartekpacia commented on #660
@connie-reinholdsson @PatilShreyas Any of you want to work on this?

[2020-05-03 23:58] bartekpacia commented on #644
I think was raised a long time ago (during the GCI contest).
There's no other way around this than designing a new logo (with transparent background or a completely new one).

[2020-05-04 00:01] bartekpacia commented on #641
@Kavya-24 Would you still like to work on this? If yes, then go on :)
I see that you've already done this but the PR was closed. You can create a new one and use the code you've already written :)

[2020-05-04 00:08] bartekpacia commented on #685
Because of no new responses I'll assume this is open :)

[2020-05-04 00:09] bartekpacia commented on #668
@Kavya-24 Sorry for the very delayed response. Do you still want to fix this? If yes, then I'll assign you.

[2020-05-04 06:05] Kavya-24 commented on #665
@vj-codes  Go ahead for creating the issue :) Please do ask the mentors to approve this issue before sending a PR. Also, do provide what solution you would use to tackle this problem :)

[2020-05-04 06:34] Kavya-24 commented on #641
@bartekpacia  Yeah, sure. I'll do it right away :)

[2020-05-04 06:56] Kavya-24 commented on #668
@bartekpacia Yeah Sure ;D

[2020-05-04 08:43] vibhuti019 commented on #693
I have did some work on technical documentation I have not included the add friend part but I have worked on uploading post , flagging (inappropriate) and likes for the post.

[2020-05-04 09:29] robotjellyzone commented on #641
hi @Kavya-24 were you assigned for this issue by @isabelcosta ? or should i assign you ? as there was assignment so, it was said in contribution guidelines that one can't work until they are assigned for that issue @bartekpacia  !! i hope you can understand @Kavya-24

[2020-05-04 09:44] bartekpacia commented on #641
It's my bad @robotjellyzone, what I wrote sounded like assignment (and it was, in fact). I think it's okay, thanks for your contribution @Kavya-24 :)

[2020-05-04 09:56] robotjellyzone commented on #641
@bartekpacia  You can follow this [contribution guidelines here](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md) and this guideline says every issue must be first validated by its maintainer ie @isabelcosta so, without that you won't work.

[2020-05-04 10:01] robotjellyzone commented on #641
Also, @Kavya-24 are you contributing first time here as this first-timers issue will be only for those who are contributing first time here [as in guidelines] if i am not wrong @isabelcosta ?

[2020-05-04 10:19] bartekpacia commented on #641
@robotjellyzone I checked the Insights > Contributors tab, and there were no commits from Kavya.

[2020-05-04 10:23] robotjellyzone commented on #641
Hi @bartekpacia this is the PR which is merged --> https://github.com/anitab-org/mentorship-android/pull/686 of @Kavya-24

[2020-05-04 10:33] Kavya-24 commented on #641
@bartekpacia This is not my first-time contribution as stated by @robotjellyzone. I might have missed this tag while doing it. And, there has been probably some confusion if this issue had been approved by maintainers.  @isabelcosta Please suggest what to do hereafter🤔

[2020-05-04 10:41] AyushSatyam commented on #666
@Mehulipal, can I work on this issue

[2020-05-04 10:55] bartekpacia commented on #641
You're right. I have looked at Insights > Contributors of mentorship-flutter 🤦‍♂️
I'm sorry for that, still learning to help maintaining those 3 repositories.

[2020-05-04 11:01] bartekpacia commented on #693
Okay. In such a case I think you should create a new PR in which you'll describe your architectural solution for this feature, add links to the docs etc.

wdyt @robotjellyzone @isabelcosta

[2020-05-05 17:00] vj-codes opened #701 "Requests title not visible on the bottom navigation bar"
**Describe the bug**
On the mentorship request screen the title is not visible completely on the bottom navigation bar .
Only **"Re-"** is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Systers Mentorship
2. Click on Mentorship Requests tab
3. See error
![Screenshot_2020-05-05-21-15-55-106_org systers mentorship](https://user-images.githubusercontent.com/60894542/81092499-4

[2020-05-06 09:43] #641 closed

[2020-05-06 16:11] vj-codes commented on #685
Are you still working on this issue? @Priyansh-Kedia

[2020-05-06 16:21] HaripriyaB commented on #679
@Kavya-24 go ahead, assigning it to you.

[2020-05-06 17:02] pknotfound commented on #685
@vj-codes I am waiting for an approval and the idea on how to be doing it.
I was also hoping for approval on changing the architecture of the app
If I get approval on that, then you can take this up.

Thanks

[2020-05-06 17:13] vj-codes commented on #685
Cool! I asked so i could add a label to the issue :) @Priyansh-Kedia

[2020-05-06 21:11] aditmehta9 commented on #24
@Priyansh-Kedia I have assigned this issue to you because no one else has commented on this issue for a long time. 👍

[2020-05-06 21:15] aditmehta9 commented on #263
I am closing this issue because the pull request is merged.

[2020-05-06 21:15] #263 closed

[2020-05-06 21:22] aditmehta9 commented on #317
Closing the issue because it is solved by [PR521](https://github.com/anitab-org/mentorship-android/pull/521)

[2020-05-06 21:22] #317 closed

[2020-05-06 21:34] aditmehta9 commented on #664
@Mehulipal I have assigned this issue to you.

[2020-05-08 12:43] isabelcosta commented on #317
@aditmehta9 thank you for triaging this!

[2020-05-09 09:03] devptyagi commented on #660
Is this still available?

[2020-05-09 10:40] devptyagi opened #702 "BUG: App Crashes when you click on 'Edit Profile' button before the profile data is loaded."
**Bug Description:**
When you click the Edit Profile button in the profile fragment, The App will crash if the user data has not been loaded yet. The Logcat window shows:
'kotlin.UninitializedPropertyAccessException: lateinit property user has not been initialized'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile Fragment'
2. Click on the Pen Icon at the top (The Edit Profile B

[2020-05-09 10:43] devptyagi commented on #702
@m-murad @isabelcosta May I send a PR with the FIX for the above issue?

[2020-05-09 10:45] devptyagi commented on #702
@bartekpacia May I work on this?

[2020-05-09 10:56] bartekpacia commented on #660
@devptyagi Yes, it is. I can feel that you want to work on this, so I'll assign you and you can start working on this right away. If that's not the case, just write and I'll unassign.

[2020-05-09 11:28] bartekpacia commented on #702
@devptyagi I've assigned you to another issue, please finish it first and them I'll be happy to assign you here.

[2020-05-09 12:06] devptyagi commented on #702
@bartekpacia Okay, I've already sent a PR for the other issue. Once that one is accepted, I'll fix this issue too.

[2020-05-09 16:51] devptyagi commented on #702
@bartekpacia  Please review my pull request (PR #703 ), I'd like to work in this issue after that, please don't assign this one to anyone else.

[2020-05-09 17:17] devansh-299 opened #704 "Espresso Tests Failing"
**Describe the bug**
After updating the `.travis.yml` in the PR - [link](https://github.com/anitab-org/mentorship-android/pull/696), many UI tests are failing (detailed report is [here](https://travis-ci.org/github/anitab-org/mentorship-android/builds/682552624)). The tests themselves or the code needs to be updated so that the tests do not fail.

**To Reproduce**
Steps to run the tests locally
1.

[2020-05-09 18:42] Kavya-24 commented on #679
Hey @HaripriyaB , I am a bit busy with a few college assignments to do this as of now. Would you assign this to someone else for the moment if possible :'(

[2020-05-09 19:03] bartekpacia commented on #702
@devptyagi Let's say that PR #703 is complete :) Good luck with this!

[2020-05-09 19:10] HaripriyaB commented on #679
@Kavya-24 no problem. Would u mind to assign me for this issue? I haven't contributed for this project yet so I can take it.

[2020-05-10 09:30] Kavya-24 commented on #679
@HaripriyaB  Yeah sure, go ahead :)

[2020-05-10 19:19] isabelcosta commented on #704
@devansh-299 thank you for creating this :) Are you interested in working on this, or leave it for another contributor? Either way is fine, i just want to know if it should be assigned to you or labeled as available

[2020-05-11 05:34] devansh-299 commented on #704
@isabelcosta My experience with UI testing is not so good :sweat_smile: . Please label it as available

[2020-05-11 11:33] HaripriyaB commented on #679
[Issue](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Kotlin.20Issue/near/197071260) while attempting to resolve this issue.

[2020-05-11 20:37] isabelcosta commented on #704
My UI testing is not very good as well 🙈

[2020-05-11 21:08] aditmehta9 commented on #645
I am assigning this issue to you because you have commented first.

[2020-05-11 21:23] aditmehta9 commented on #586
I think this issue is solved in PR[422](https://github.com/anitab-org/mentorship-android/pull/422)

[2020-05-11 21:34] aditmehta9 commented on #658
@Mehulipal I think similar issue is opened earlier #570 so I'm closing it for now.

[2020-05-11 21:34] #658 closed

[2020-05-11 22:36] vj-codes commented on #671
@AminullahTajMuhammad This is already covered in issue #657 .
@isabelcosta Which issue would be more appropriate to keep? (this or #657 )

[2020-05-12 20:04] devansh-299 opened #707 "enh: Using theme for implementing SplashScreen"
**Describe the bug**
The current implementation of splash screen is not suggested as it completely defies the sole purpose of using SplashScreens which is to tackle ColdStart (for reference see [this](https://medium.com/@shishirthedev/the-right-way-to-implement-a-splash-screen-in-android-acae0e52949a) article). There's no need to create a separate layout file for the `SplashScreenActivity` as load

[2020-05-12 20:05] devansh-299 commented on #707
@isabelcosta I would like to work on this issue

[2020-05-16 10:03] abha224 commented on #666
@AyushSatyam You can go ahead and work on this issue. :)

[2020-05-16 21:05] aditmehta9 commented on #24
@Priyansh-Kedia since you haven't shown any activity for this issue so I have to make available to someone else. And another reason is you are assigned two other issues.

[2020-05-16 21:12] aditmehta9 commented on #50
@shiv07tiwari I am assigning this issue to you because you commented first.

[2020-05-16 21:20] aditmehta9 commented on #179
@YashishDua since there hasn't been any activity on this issue. I am closing it.

[2020-05-16 21:20] #179 closed

[2020-05-16 21:24] aditmehta9 commented on #180
Since no one else is working on this issue and you are the last commenter, this issue is assigned to you.

[2020-05-16 21:38] aditmehta9 commented on #188
Sorry @mustaqmustu for your efforts but it is solved by [PR425](https://github.com/anitab-org/mentorship-android/pull/425).

[2020-05-16 21:38] #188 closed

[2020-05-16 21:55] aditmehta9 commented on #192
@mustaqmustu closing this issue because it is solved by [PR521](https://github.com/anitab-org/mentorship-android/pull/521).

[2020-05-16 21:55] #192 closed

[2020-05-18 18:25] HaripriyaB commented on #701
@vj-codes are u available to work on this issue?

[2020-05-18 20:52] aditmehta9 commented on #266
Closing this issue because it is solved by [PR318](https://github.com/anitab-org/mentorship-android/pull/318)

[2020-05-18 20:52] #266 closed

[2020-05-18 21:17] aditmehta9 commented on #527
This issue is solved by [PR536](https://github.com/anitab-org/mentorship-android/pull/536) so I am closing it.

[2020-05-18 21:17] #527 closed

[2020-05-19 04:32] vj-codes commented on #608
heyy @Priyansh-Kedia are you available to work on this?I'll assign you if available.

[2020-05-19 13:08] pknotfound commented on #608
@vj-codes I could not reproduce this issue on my side

[2020-05-19 13:10] pknotfound commented on #24
Hey @aditmehta9
I could not be active for some time due to personal reasons
I would very much like to work on the issues

[2020-05-19 13:31] aditmehta9 commented on #24
Of course, I am assigning this issue to you.

[2020-05-19 18:51] isabelcosta commented on #707
In my opinion, the splash screen should either be removed, because we have no setup of the app in the beginning or add animation (e.g.: icon fading or bouncing). I thought of animation after hearing @HaripriyaB talking in the Mentorship Android bi-weekly.

[2020-05-19 19:56] pknotfound commented on #24
@aditmehta9
Hey I am sorry
I was quite unclear on my message before
The thing is I commented on this issue when I was on early phase of GSoC without realising that this is a backend task
Sorry for making a confusion and the inconvenience caused

I would be working on Android Issues

[2020-05-19 20:23] aditmehta9 commented on #24
It's Okay no problem. So should I make it available for others?

[2020-05-19 20:31] pknotfound commented on #24
Sure
Please do
Also if you are handling issue for Mentorship android, could you please help me with an issue?

[2020-05-19 20:35] aditmehta9 commented on #24
I would love to help but currently, my university lecture and projects are going on. So I am partly looking into the issues. However, you can ping the coding team or have a discussion on zulip if any doubt

[2020-05-19 20:59] pknotfound commented on #24
@aditmehta9
I actually wanted to work on dependency injection in the application
Who do you suggest I should ask?

[2020-05-20 06:43] mayburgos commented on #210
Solved by #231 & #521

[2020-05-20 06:43] #210 closed

[2020-05-20 06:44] mayburgos commented on #211
Solved by #521

[2020-05-20 06:44] #211 closed

[2020-05-20 06:48] mayburgos commented on #391
Solved by #511

[2020-05-20 06:48] #391 closed

[2020-05-20 19:38] pknotfound commented on #695
Hello @m-murad
What should you think should be done in this issue?

[2020-05-20 19:40] m-murad commented on #695
You can go ahead and send a PR for this

[2020-05-20 19:41] m-murad commented on #504
Closing this, will be fixed in #659

[2020-05-20 19:42] vj-codes commented on #701
yeah sure @HaripriyaB

[2020-05-20 19:51] pknotfound commented on #695
Ok

[2020-05-20 20:03] HaripriyaB commented on #701
Actually there is a PR already present solving this issue. [PR](https://github.com/anitab-org/mentorship-android/pull/495)

[2020-05-20 20:32] vj-codes commented on #701
I'll close the issue now. @HaripriyaB

[2020-05-20 20:51] rahulshah456 commented on #112
hey @isabelcosta I would like to work on this issue

[2020-05-20 20:52] techno-disaster commented on #112
@rahulshah456 we will have to keep this on hold until we figure out the pagination issue.

[2020-05-20 20:59] vj-codes commented on #563
@annabauza It works fine now so I am closing this issue.

[2020-05-20 21:00] #563 closed

[2020-05-20 21:02] vj-codes commented on #547
@Priyansh-Kedia @Sunil16202 anyone available to work on this?

[2020-05-20 21:05] vj-codes commented on #546
@robotjellyzone are you still working on this?

[2020-05-20 21:11] vj-codes commented on #150
@mustaqmustu since its solved now I'm closing this issue.

[2020-05-20 21:11] rahulshah456 commented on #112
@Techno-Disaster yeah ok we can work on this issue later, but I want to share my design oh this issue

@isabelcosta
These are my UI/UX for send request page with mini bottom sheet when the user clicks on someone on the member's page.
In this bottom sheet, the user can send requests, recommendations, and view full profile of the clicked user.

![Frame 152 (2)](https://user-images.githubusercontent.

[2020-05-20 21:13] pknotfound commented on #547
@vj-codes
Could you please tell that how many languages we are targeting here?
Cause this can be a big issue if we depend on some fields in connection with the backend

[2020-05-20 21:13] #150 closed

[2020-05-20 21:16] vj-codes commented on #50
@aditmehta9 the person you assigned has not responded yet and not active in the community so I'm labelling it as available again.

[2020-05-20 21:23] aditmehta9 commented on #50
Okay.

[2020-05-20 21:44] rahulshah456 commented on #24
@aditmehta9 @isabelcosta  I would like to work on this issue.

[2020-05-20 21:47] vj-codes commented on #547
@HaripriyaB  @gaurivn IG I need some help here, how many languages do u guys think should be there?or maybe a drop down button allowing user to choose a lang from the available ones

[2020-05-20 21:48] aditmehta9 commented on #24
You can ask coding team or on zulip.

[2020-05-20 21:49] aditmehta9 commented on #24
ok

[2020-05-21 06:53] aditmehta9 commented on #434
@vaishnavi-29 do you want to work on this issue?

[2020-05-21 06:58] aditmehta9 commented on #540
@daksha-aeer do you want to work on this issue?

[2020-05-21 07:08] aditmehta9 commented on #596
I am closing this issue because it is merged by [PR295](https://github.com/anitab-org/mentorship-android/pull/295)

[2020-05-21 07:08] #596 closed

[2020-05-21 07:31] aditmehta9 commented on #171
@ak8527 I am assigning this issue to you as you commented first.

[2020-05-21 07:39] aditmehta9 commented on #235
@Manik1094 do you want to solve this issue?

[2020-05-21 08:09] aditmehta9 commented on #120
@meenakshi-dhanani I am assigning this issue to you because you have commented first.

[2020-05-21 08:17] aditmehta9 commented on #613
@Sommie09 are you still working on this issue?

[2020-05-21 08:27] aditmehta9 commented on #664
@Mehulipal are you working on this issue?

[2020-05-21 08:27] aditmehta9 commented on #663
@Mehulipal are you working on this issue?

[2020-05-21 08:28] aditmehta9 commented on #645
@AminullahTajMuhammad  are you working on this issue?

[2020-05-21 09:55] gaurivn commented on #547
@vj-codes , [this](https://github.com/anitab-org/mentorship-android/pull/550#pullrequestreview-410361253) should help. I am not sure too regarding the number of languages.

[2020-05-21 17:46] pknotfound commented on #24
@aditmehta9 Could you please tell me how to reach the coding team?

[2020-05-21 18:24] robotjellyzone commented on #546
No @vj-codes this feature needs to be done only in future [as far as i understood the current working of the mentorship-app] as there are many related issues to be done before this like third party auth, recovery password feature so, i think this features needs more discussion .

[2020-05-21 20:06] aditmehta9 commented on #24
You can ping @ coding-team on zulip.

[2020-05-21 22:58] vj-codes commented on #701
@HaripriyaB I just noticed that Requests is displayed when the user in on any other page .But if the user is on Mentorship Requests page only Re- is displayed .(at least on my device)
Please check it and approve as I have reopened the issue as of now.
Thanks in advance!

[2020-05-21 23:01] vj-codes commented on #201
Since the app no longer crashes I am closing the issue.

[2020-05-21 23:01] #201 closed

[2020-05-21 23:08] vj-codes commented on #237
Since users can be both mentor and mentee (as of now) this issue is being closed

[2020-05-21 23:08] #237 closed

[2020-05-21 23:11] vj-codes commented on #241
@Kavya-24 are you available to work on this?

[2020-05-21 23:16] vj-codes commented on #334
Same as issue #250 .Being a duplicate issue its being closed.

[2020-05-21 23:16] #334 closed

[2020-05-22 04:14] menina763 commented on #496
I think I'll close this issue due to the fact that it's old.

[2020-05-22 04:14] #496 closed

[2020-05-22 05:52] vj-codes commented on #354
Since there's a flutter and ios version created as of now , this issue is being closed.

[2020-05-22 05:53] #354 closed

[2020-05-22 06:55] HaripriyaB commented on #701
But the [PR](https://github.com/anitab-org/mentorship-android/pull/495) mentioned is not yet merged. If this issue still persist while testing this [PR](https://github.com/anitab-org/mentorship-android/pull/495) then report in that particular PR. This issue is marked closed because it is duplicate of [this issue](https://github.com/anitab-org/mentorship-android/issues/494). Hope you understood now

[2020-05-22 08:13] devansh-299 commented on #671
@AminullahTajMuhammad its working fine for me. Closing this issue

[2020-05-22 08:13] #671 closed

[2020-05-22 09:21] #701 closed

[2020-05-23 13:04] Sanika1999 commented on #665
Hi can I work on this?  @anitab-org/mentorship-managers

[2020-05-23 18:15] gaurivn commented on #665
Sure @Sanika1999

[2020-05-24 12:49] daksha-aeer commented on #540
I actually can't right now. I worked on it when I participated in Google Code In

[2020-05-24 18:10] aditmehta9 commented on #540
Ok

[2020-05-24 18:11] aditmehta9 commented on #664
@Mehulipal I am making it available to everyone because there hasn't been any activity.

[2020-05-24 18:14] aditmehta9 commented on #645
@AminullahTajMuhammad I am making it available to everyone because there hasn't been any activity.

[2020-05-24 18:15] aditmehta9 commented on #663
@Mehulipal I am making it available to everyone because there hasn't been any activity and it is First Timers only.

[2020-05-24 18:31] aditmehta9 commented on #666
@AyushSatyam are you still working on this issue?

[2020-05-24 19:55] aditmehta9 commented on #356
I think it is solved by [PR521](https://github.com/anitab-org/mentorship-android/pull/521). So I am closing it.

[2020-05-24 19:56] #356 closed

[2020-05-24 20:04] aditmehta9 commented on #335
@asawesome07 I am closing this issue because similar issue is opened by @bartekpacia and he has sent PR for it.

[2020-05-24 20:04] #335 closed

[2020-05-24 20:08] aditmehta9 commented on #544
@Sunil16202 do you want to work on this issue?

[2020-05-25 08:39] rahulshah456 commented on #24
@aditmehta9 @isabelcosta currently mentorship-android User data model doesn't have photo_url to update and acquire user profile pic
So should I add this field or there is another workaround

[2020-05-25 13:10] isabelcosta opened #709 "Use pagination feature on Members screen"
## Description

As a user,
I need to see the list of members in the mentorship system,
so that I can select my mentor/mentee.

The backend API specification:

![image](https://user-images.githubusercontent.com/11148726/82815291-c7a24080-9e90-11ea-90e2-af747a2c33cf.png)

Nice to know:
- The default number of users is 10, and the default page is 1
- When the list as reached the end, it will simply r

[2020-05-26 06:34] techno-disaster commented on #707
@isabelcosta  but a splash screen is useful to cold start the app. I'm not sure what you mean by "no setup of the app"

[2020-05-26 15:07] #614 closed

[2020-05-27 03:52] mtreacy002 opened #710 "Feat: User Registration input validations"
**Is your feature request related to a problem? Please describe.**
At the moment mentorship-system has the following issues in regard to user input validation on the event of user's Registration:
1. It does not implement the same input validations for frontend (SignUpActivity.kt line 84 - function: validateDetails()) and backend (validation_utils.py). This needs to be consistent.
1. To achieve res

[2020-05-27 10:31] techno-disaster commented on #685
wow the feedback form works on android client?
good to know will bring it up in todays flutter session :)

[2020-05-27 15:25] SanketDG commented on #710
Some thoughts:

Even though it'd be ideal to "standardize" the validation across all of AnitaB's projects, the general consensus is it's not advised.

The reasons are very simple. Every project and abstraction (in the loose sense of the word, this could mean a website, an API, a mobile application) is unique in its own way.

_A simple example where this standardization would not be uniform is an A

[2020-05-27 17:48] MariamKotob commented on #120
Since no one actively working on this issue can you assign it to me, @aditmehta9 ?

[2020-05-27 17:52] meenakshi-dhanani commented on #120
Assigned it to you @MariamKotob. Happy coding!

[2020-05-27 20:08] aditmehta9 commented on #24
Sorry @rahulshah456  , for the late reply because my project presentation was going on. I am not sure about it please ask in Zulip about it

[2020-05-27 20:52] isabelcosta commented on #24
This is dependent on https://github.com/anitab-org/mentorship-backend/pull/200

[2020-05-27 20:54] rahulshah456 commented on #24
@isabelcosta this issue has some conflicts so should I work on this backend issue

[2020-05-28 00:53] mtreacy002 commented on #710
@SanketDG, wowww.... that's such a great input... Thanks heaps... I'm glad you cleared up the `misconception` I've had with

On your pointer

I [initially was thinking](https://github.com/anitab-org/mentorship-android/pull/687#discussion_r412614400
) to put a wrapper in the current validation_utils.py of mentorship-backend. But since this wrapper is no longer needed (coz we have to validate both c

[2020-05-28 15:03] SanketDG commented on #710
Could you expand on this? `npm` libraries can only be imported through JS code, so I am not sure what you mean here.

Gotcha, but I don't get the details of it, how do we call `Backend.validation_utils.is_username_valid(name)`, which is Python code from  Kotlin?

[2020-05-28 17:12] #702 closed

[2020-05-28 18:37] Sanika1999 commented on #665
hi I have a laptop issue so wasn't able to update will try to solve this asap

[2020-05-28 23:30] mtreacy002 commented on #710
As I mentioned. I've never used github packages before (in fact, I've never had real-world experience in IT all together as I'm only a noob), so I can't answer your questions on the details of how to achieve this. I'm hoping someone with more experience in this area could help us (which is why I open the [zulip discussion](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/to

[2020-05-30 11:16] abha224 commented on #171
@ak8527 Are you still working on this issue? Pls ping here so that we know if we can open it for others in case you are not working on this.

[2020-05-30 11:17] #574 closed