[2020-09-06 17:54] rubyruins commented on #858
Yes please, even I would like to know. Also, do we put all the information from the wiki in the infographic? Once we are done, which folder should we add it to?

[2020-09-06 18:24] justdvnsh commented on #794
@anna4j Cool Thanks.

[2020-09-06 20:08] vj-codes opened #864 "Add toast message when no user with common interests is found"
**Is your feature request related to a problem? Please describe.**
When a user tries to filter members feature using `Interests` and no member is found after filtering ,
only a blank screen is displayed .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members page'
2. Click on 'Filter'>> 'Interests'>> 'Type design' and apply
3. See error

**Describe the solution you'd like**
Add a pr

[2020-09-06 20:11] vj-codes opened #865 "Add toast message when no user with common location is found using filter"
**Is your feature request related to a problem? Please describe.**
When a user tries to filter members feature using `Location` and no member is found after filtering ,
only a blank screen is displayed .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members page'
2. Click on 'Filter'>> 'Location'>> 'Type pune' and apply
3. See error

**Describe the solution you'd like**
Add a proper

[2020-09-06 20:14] vj-codes opened #866 "Add toast message when no user with common skills is found using filter"
**Is your feature request related to a problem? Please describe.**
When a user tries to filter members feature using `Skills` and no member is found after filtering ,
only a blank screen is displayed .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members page'
2. Click on 'Filter'>> 'Skills'>> 'Type documenting' and apply
3. See error

**Describe the solution you'd like**
Add a pro

[2020-09-06 20:26] vj-codes opened #867 "Filter users by non case sensitive inputs"
**Is your feature request related to a problem? Please describe.**
As a user,
When I filter a user by location with `india` and` India ` , I  get different results .
Same is the case with Skills and Interests filter. This is not the correct implementation of the filter feature.

**Describe the solution you'd like**
Make the filter of Skills, Location and Interests non case sensitive so that when I

[2020-09-06 21:34] atharwa-24 commented on #864
@vj-codes I would like to work on it ~OSH

[2020-09-06 21:49] vj-codes commented on #864
@atharwa-24 I would like to wait for @anna4j 's suggestion and then assign it :)

[2020-09-06 23:26] sharur7 commented on #866
I want to work on this issue

[2020-09-07 01:49] Mrinmoy-Aus commented on #865
Can this task be assigned to me I have completed my previous task?

[2020-09-07 01:53] Mrinmoy-Aus commented on #850
@anna4j I have submitted a PR against this issue and I have changed the branch name to sign-up and also elaborately discussed my solution and now can you please review and approve it.

[2020-09-07 02:01] Mrinmoy-Aus commented on #864
can this task be assigned to me?

[2020-09-07 02:03] Mrinmoy-Aus commented on #866
can this task be assigned to me?

[2020-09-07 02:04] Mrinmoy-Aus commented on #867
I want to work in OSH can this be assigned to  me?

[2020-09-07 02:34] Anmollenka commented on #764
@rpattath I am facing the same issue as @rak108 .It is showing "Execution failed for task ':app:kaptDebugKotlin'"  and the report is not being generated.

[2020-09-07 02:38] ankit-saraf commented on #864
@vj-codes I am new at one source contribution and is looking for my first issue. Can you please assign this to me?

[2020-09-07 02:39] ankit-saraf commented on #865
@vj-codes I am new at one source contribution and is looking for my first issue. Can you please assign this to me?

[2020-09-07 02:40] ankit-saraf commented on #867
@vj-codes I am new at one source contribution and is looking for my first issue. Can you please assign this to me?

[2020-09-07 02:45] DhaneshShetty commented on #867
@vj-codes Would like to work on this ,if available

[2020-09-07 02:45] DhaneshShetty commented on #867
@vj-codes Would like to work on this ,if available

[2020-09-07 02:59] ritvij14 commented on #866
@vj-codes I haven't been assigned any issue yet, can I please take this one?

[2020-09-07 03:09] ritvij14 commented on #865
I haven't been assigned any issue yet, can I please take this one?

[2020-09-07 04:02] anna4j commented on #864
Go ahead! Assigning you @atharwa-24

[2020-09-07 04:04] anna4j commented on #864
@ankit-saraf and @argho28 please look for a different issue. We assign on first come first serve basis here :)

[2020-09-07 04:24] Mrinmoy-Aus commented on #867
@vj-codes I have completed my previous Fix 850. I will like to work on it can this be assigned to me ?

[2020-09-07 04:24] Mrinmoy-Aus commented on #866
@vj-codes I cam completed my previous task can this be assigned to me?

[2020-09-07 04:59] swaraj961 commented on #751
Hi can i take this ?

[2020-09-07 05:01] Mrinmoy-Aus commented on #865
@vj-codes I have completed previous Fix 850 I will like to work on this OSH can this be assigned to me ?

[2020-09-07 05:06] garimasingh128 commented on #751
@swaraj961 Assigned to you. Read the above comments for clarity on what is needed to be done. All the best.

[2020-09-07 05:12] swaraj961 commented on #751
Thanks @garimasingh128  yes will go through it

[2020-09-07 05:18] vj-codes commented on #865
Assigning you @argho28
Happy coding!

[2020-09-07 05:20] vj-codes commented on #867
Assigning you @ankit-saraf
Happy coding!

[2020-09-07 06:06] Pranjal9999999 commented on #783
Can you please review the pr.

[2020-09-07 06:17] vj-codes commented on #866
Assigning you @ritvij14
Happy coding!

[2020-09-07 06:21] ritvij14 commented on #866
@vj-codes I have a doubt since this is given 2 category tags, will it be counted for both or for one only? For Open Source Hack.

[2020-09-07 06:25] iofall commented on #811
@yash2189 I think so, don't worry about it. I think another reviewer is yet to review it.

[2020-09-07 06:26] vj-codes commented on #866
This will come under coding @ritvij14
User interface is added as an additional category ,so that it's easy to understand.
UI issues for OSH are mostly redesigning the app

[2020-09-07 06:26] ritvij14 commented on #866
@vj-codes alright. Thanks for the clarification

[2020-09-07 06:31] vj-codes commented on #809
@iofall @anna4j how is this different from? #797

[2020-09-07 06:32] vj-codes commented on #791
@Abjcodes how's the PR going?

[2020-09-07 06:40] anna4j commented on #809
Ya it's the same. But it's okay we already have a PR. we'll have more designs

[2020-09-07 07:03] vj-codes commented on #809
I would like to work on this

[2020-09-07 07:05] anna4j commented on #809
Sure why not ^_^

[2020-09-07 07:25] garimasingh128 commented on #783
Hey @Pranjal9999999  If you have created a PR then you can move on to the next issue. The pull requests would be reviewed over the course of time.

[2020-09-07 07:32] iofall opened #868 "Fix failing SignUpActivity Test"
Fix the failing tests for `SignUpActivity`. Currently the tests for the `SignUpActivity.kt` fail due to:
1. The wrong string being checked for `EMPTY_USERNAME_ERROR`
2. Additionally, tests pass when run individually (individual test functions) but fail when the entire Espresso test is run. Some research suggested that this could be caused due to the backend network calls. This could potentially be

[2020-09-07 08:12] Pranjal9999999 commented on #783
Yeah sure. Thanx!.

[2020-09-07 08:14] iofall opened #869 "Fix the failing LoginActivity Espresso test (a)"
Fix the failing test for `LoginActivity`

**Describe the solution you'd like**
Fix the failing Espresso test `testLoginButtonWhenOnlyUsernameIsIncorrect` in `LoginActivityTest.kt`. There are 2 changes:
- Wrong string is being checked in the snackbar
- Due to calls to the backend API, the test for checking the snackbar gets executed before the response from the backend is received.  A quick fix is

[2020-09-07 08:39] iofall opened #870 "Fix the failing LoginActivity Espresso test (b)"
Fix the failing test for `LoginActivity`

**Describe the solution you'd like**
Fix the failing Espresso test `testLoginButtonWhenOnlyPasswordIsIncorrect` in `LoginActivityTest.kt`. There are 2 changes according me **(Needs Investigation)**:
- Wrong string is being checked in the snackbar, even when incorrect credentials are entered we only get "Session token expired ..."
- Due to calls to the back

[2020-09-07 09:46] ritvij14 commented on #866
@vj-codes I have just started exploring this project and this is my first issue so I thought I should confirm before sending the PR.
In the `Members.kt` file, the `updateUserList()` function uses the `getFilteredUsers()` function to get a list of users according to the filters in the search query.
In this, I see if-else conditions for checking filters like location and skills, so is this the part

[2020-09-07 11:54] rpattath commented on #544
Hi @pallavisavant any update on a PR for this issue? Let me know if you need any help.

[2020-09-07 11:56] rpattath commented on #157
@alivabasa assigned to you !

[2020-09-07 12:11] Sommie09 commented on #755
@anna4j having a hard time fixing this issue, been on it for a while now.
I am trying to halt all loading for the two fragments while on the first fragment

[2020-09-07 12:11] swaraj961 commented on #751
@garimasingh128  Hi I go through it and found that all I've to do is to update the code of conduct file in .github folder with the same context i've been refered - https://github.com/anitab-org/documentation/blob/master/Contributing/CODE_OF_CONDUCT.md  right ?

[2020-09-07 12:14] anna4j commented on #755
Oh I see. Anything I could help you with?

[2020-09-07 12:26] garimasingh128 commented on #751
Yeah you just have to update the existing one and make it relevant.

[2020-09-07 12:43] rpattath commented on #764
@Anmollenka @rak108 did you try to run the gradlew command before you made any changes to the code (soon after clone)? I see that the command runs fine for me from my develop branch. Does both of you have your emulator working fine?

[2020-09-07 14:13] yash2189 commented on #810
@iofall  please review my PR #872 .
I wasn't able to add a gif . Is it mandatory?
If yes then can you please tell me if there's an alternative to peek recorder since I use Windows.
However I have provided a figma link

[2020-09-07 15:07] swaraj961 commented on #751
@garimasingh128 Hey, do check my PR i've updated it :)

[2020-09-07 16:28] swaraj961 commented on #858
Hi, can i work on this ?

[2020-09-07 16:45] siddheshkothadi commented on #739
Hey @anna4j , I've almost completed this task. But I have a doubt... Currently, the built apk is pushed to the repo's **apk** branch only if the repository is **anitab-org/mentorship-android** , not on any other forked repositories. So, should I keep it the same or should I also enable forked repositories to be able to generate apk's on their respective **apk** branch ?

[2020-09-07 16:57] anna4j commented on #739
Umm no I don't think enabling apk generation on forked repos is required

[2020-09-07 17:05] siddheshkothadi commented on #739
Thanks @anna4j !
It's just an if statement, so (in case) if anyone wants to generate those APKs.. he/she can just uncomment that line from the workflow file of the forked repo. I'll mention how to do that in the file itself. Will send a PR soon!

[2020-09-07 17:22] siddheshkothadi commented on #739
One more doubt @anna4j ... Should I remove **.travis.yml** and **generate-apks.sh** before sending the PR?

[2020-09-07 17:37] anna4j commented on #739
@isabelcosta

Could you please confirm this?

[2020-09-07 17:44] rak108 commented on #764
@rpattath Hey i made no changes t the code at all..and yeah the emulator i mean well i use my android phone directly, and do the command while connected still isnt working. I'll try forking again if itll make a difference but I doubt it..

[2020-09-07 17:47] vj-codes commented on #739
@anna4j it's @isabelcosta :)

[2020-09-07 18:46] rpattath commented on #764
Ok that maybe the issue. Are there any challenges to using the emulator? This is demo on how to setup the [emulator](https://anitab.zoom.us/rec/play/tJctd7j5rDk3SNWRtwSDUPUtW9XoJqis0iVL_fYFyBm1UyEKN1GmMrIaZ7RtkSCpQ2h7N8MOIMZc5wCD?startTime=1591118799000&_x_zm_rtaid=YOJgJH4BSZ65HhkWHNkhzg.1592773256165.ad77a44e5d4c2e726317ba090ee629b9&_x_zm_rhtaid=385). Let me know if there are any difficulties.

[2020-09-07 18:53] rpattath commented on #856
@yash2189 looks like you are already assigned to https://github.com/anitab-org/mentorship-android/issues/858. Once you have PR for that issue, I can see if i can assign this issue to you.

[2020-09-07 18:56] ankit-saraf commented on #867
@vj-codes Mam I had solved the issue and I am ready to create a pull request. Can you please tell me is there any specific point I need to keep in mind before creating a pull request?

[2020-09-07 19:11] vj-codes commented on #867
@ankit-saraf yes
1) Remeber to commit changes from a suitable branch other than develop ,It's always a good implementation to do so.
2) Follow our [commit message style guide](https://github.com/anitab-org/mentorship-android/wiki/Commit-Message-Style-Guide)
3) Do add screenshots/gifs in `How has this been tested ` part of the PR , it's  better and easy for reviewers to review/approve PRs
And don't

[2020-09-07 19:14] ankit-saraf commented on #867
@vj-codes Thank you, Vaishnavi. I will keep these points in mind.

[2020-09-07 19:47] ankit-saraf commented on #867
@vj-codes I had created a pull request. Please review it.

[2020-09-08 03:41] Abjcodes commented on #791
@vj-codes Sorry for the delay. I am working on another issue. You can unassign me and give it to someone else.

[2020-09-08 04:33] rak108 commented on #764
Okay I'll try that now.

[2020-09-08 04:34] ankit-saraf commented on #857
Hey @blackcrabb! Are you working on this issue?

[2020-09-08 04:38] niyati-n commented on #857
@ankit-saraf  yes

[2020-09-08 05:41] swaraj961 commented on #811
Hey can I take this ?

[2020-09-08 06:07] vj-codes commented on #866
yes @ritvij14

[2020-09-08 06:12] rak108 commented on #764
@rpattath It didnt work, I got the same output while using my android device and the emulator.
Ive attached screenshots of the errors.
![Screenshot from 2020-09-08 11-39-18](https://user-images.githubusercontent.com/54491584/92439351-4ca73080-f1c8-11ea-852c-1de9d0ab977a.png)
![Screenshot from 2020-09-08 11-39-33](https://user-images.githubusercontent.com/54491584/92439362-516be480-f1c8-11ea-97cb-a

[2020-09-08 10:56] rpattath commented on #856
@HeroicHitesh any update on the PR for this issue?

[2020-09-08 11:57] HeroicHitesh commented on #856
@rpattath Sorry, I am a bit busy with some placement activity, by tomorrow EOD, I'll try to send a PR for this.

[2020-09-08 12:54] siddheshkothadi commented on #739
Hey @anna4j @vj-codes , I've sent a PR. Please review it. Also, the build workflow is not triggered for this PR. Can you please ensure if the GitHub actions is enabled for this repository?

[2020-09-08 13:00] siddheshkothadi commented on #791
@anna4j @vj-codes I've sent a PR for an issue that was previously assigned to me. Currently, I don't have any issues to work on. So, can I work on this?

[2020-09-08 13:12] anna4j commented on #791
Yes of course!

[2020-09-08 13:13] rubyruins commented on #858
Can someone please clear my doubts so that I can start working on this issue?

[2020-09-08 13:25] yash2189 commented on #858
Yes would you please explain it a bit more clearly @vatsalkul .I'm willing to work on this

[2020-09-08 13:28] anna4j commented on #739
Oh it's probably not enabled. But thanks for raising this issue, I'll take it up on Zulip and our meeting too.

[2020-09-08 13:41] HeroicHitesh commented on #557
Sorry, I am running a bit late on this, as my placements are going on, as soon as I finish the work, I'll create a PR

[2020-09-08 14:27] justdvnsh commented on #794
@anna4j Done. I've created a PR

[2020-09-08 14:37] justdvnsh commented on #776
Hi @iofall @vatsalkul . I've added the comment feature. But wanted some ideas about the UI. Also, some help would be greatly appreciated as to what I should for the Task Screen. Here is the Comment Screen

![CommentsScreen](https://user-images.githubusercontent.com/29144058/92490340-87cc5280-f20e-11ea-8e1c-09f836c5e0b7.jpg)

But the how should I now display the tasks ? Should I keep them in a simp

[2020-09-08 14:38] justdvnsh commented on #776
@iofall Also, I've found an issue here , that the tasks can be created without any description as you can see in the above image, one checkbox is empty. There is no validation in the add task method. Should I create an issue ?

[2020-09-08 14:47] rpattath commented on #764
@rak108 could you try using Pixel 3 XL API 30. If that does not work I will share my test report files which may help you to work on the documentation.

[2020-09-08 15:23] Richaagrawal314 commented on #811
I'm a newcomer, May I work on this?

[2020-09-08 15:47] swaraj961 commented on #811
@iofall  can i take this ?

[2020-09-08 15:55] Vuyanzi commented on #811
Hey @iofall The app apk shared here seems to have a problem. The app crushes immediately I try to open it, could you kindly share one I can view.

[2020-09-08 15:58] maharishi-01 commented on #765
Can I also work on it? if yes please assign me.

[2020-09-08 16:17] alivabasa commented on #157
Thanks....
In which format I have to submit?

[2020-09-08 16:23] rpattath commented on #157
A figma url added to an md file. The md file should be under docs/ui. @isabelcosta correct me if I am wrong.

[2020-09-08 16:31] alivabasa commented on #157
Umm, I have to create that directory as a PR right?

On Tue, Sep 8, 2020 at 9:53 PM Roshni Pattath <notifications@github.com>
wrote:

[2020-09-08 16:34] rpattath commented on #157
yes

[2020-09-08 16:35] alivabasa commented on #157
ok

On Tue, Sep 8, 2020 at 10:04 PM Roshni Pattath <notifications@github.com>
wrote:

[2020-09-08 17:34] rak108 commented on #764
@rpattath I just tried it, gave me the same error :(

![Screenshot from 2020-09-08 23-03-05](https://user-images.githubusercontent.com/54491584/92509267-9bd07e00-f227-11ea-9f3d-ac054e07404b.png)

[2020-09-08 19:42] iofall commented on #776
@justdvnsh we could open a UI issue if you want to try and get more ideas for this? I think this issue is only about adding the comments feature right @vatsalkul ? But would be great if you could do something that looks similar to how the iOS app has implemented it. Waiting for **vatsalkul's** comments on this.

Nice catch, yep please create the issue!

[2020-09-08 19:45] pallavisavant commented on #544
i am un assigning myself from this particular issue..i would like to work on others....sorry for the inconvenience ....feel free to assign it to anyone else...Thanks.

[2020-09-08 19:46] iofall commented on #811
@swaraj961 assigning you! Remember to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md) and the [Commit Message Style Guide](https://github.com/anitab-org/mentorship-android/wiki/Commit-Message-Style-Guide).

[2020-09-08 19:47] iofall commented on #811
@Vuyanzi could you please give more detail about this maybe on Zulip, it is working fine for me. Thanks!

[2020-09-08 19:53] swaraj961 commented on #811
Thanks i'll go through it 😊

[2020-09-09 04:34] eraditya1024 commented on #591
@anna4j @anitab-org/coding-team Can I start working on this issue ?

[2020-09-09 05:34] anna4j commented on #591
Sure

[2020-09-09 07:14] justdvnsh opened #879 "Validate if the task is not empty before posting it to the server"
**Describe the bug**
We can add a blank task in the Task Fragment without any description.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Task Fragment'
2. Click on 'Add Task Button'
3. Don't type anything in the task description and click Save.
4. See error

**Expected behavior**
We should not let the task post without any description. An error message should be shown if trying to p

[2020-09-09 07:15] justdvnsh commented on #879
Hi @iofall. I've created this issue. I'd like to solve this as well. Can I be assigned this issue ?

[2020-09-09 07:39] BirajGupta commented on #732
@aditmehta9
hey I've been woking on the issue for quite sometime but nothing seems to workout for me.
Would be working on it further till then unassigning myself so someone else could work on it and I could look for some other issue to work on.

[2020-09-09 09:02] aditmehta9 commented on #732
Ok

[2020-09-09 09:25] vatsalkul commented on #858
Yes you are right it will a poster. You can use app's screenshots. But I would not suggest it as the design can change in future.

[2020-09-09 09:27] vatsalkul commented on #858
I will share an example infographic for AnitaB's old project named PowerUp. https://drive.google.com/file/d/1ZnL27bfbNPLuMEaamNVx2ZJF7cWVvqme/view?usp=sharing
@yash2189 @rubyruins @atharwa-24

[2020-09-09 09:31] yash2189 commented on #858
thanks @vatsalkul will start working on the same taking reference of the above.

[2020-09-09 09:40] maharishi-01 commented on #764
As this is the only issue present (status:-Available) here on Documentation/training. Can I work on it?

And I an trying to solve the issue but I am getting build failure and have posted a question on zulip.

[2020-09-09 10:20] niyati-n commented on #857
@vatsalkul  I have almost completed the task . I will submit by tomorrow

[2020-09-09 12:34] swaraj961 commented on #811
@iofall Hey I've designed the feedback screen little confused about commit message style like it should be Type : redesign or Type: Enhancement for this ?

[2020-09-09 12:41] yash2189 commented on #811
@iofall I was told to change the design a little but since you have removed me from the assignee will the PR be considered?

[2020-09-09 13:06] Richaagrawal314 commented on #732
Hey, i would like to work on this issue.

[2020-09-09 13:08] anna4j commented on #732
Sure :)

[2020-09-09 16:21] alivabasa commented on #157
@rpattath Please review and tell me the changes needed, as I have done a very simple solution.

[2020-09-09 16:31] Anmollenka commented on #764
@rpattath mam how to proceed???

[2020-09-09 16:49] iofall commented on #879
Awesome! Done.

[2020-09-09 16:53] iofall commented on #811
Here `Type` will be `style` since it is a UI, no code change

[2020-09-09 16:55] iofall commented on #811
No problem, your PR will be considered, I just wanted to show that this issue could use another PR, hence I unassigned you.

[2020-09-09 16:55] swaraj961 commented on #811
Thanks

[2020-09-09 17:15] yash2189 commented on #856
@rpattath can you please tell me what does workflow mean exactly. If I'm not wrong is it like we have to create a mentor , mentee ,tasks and then document it in a stepwise manner?

[2020-09-09 17:55] swaraj961 commented on #811
@iofall  Hey please look into my PR thanks

[2020-09-09 17:59] swaraj961 commented on #858
@vatsalkul  Hi can i take this if available ?

[2020-09-09 21:28] HeroicHitesh commented on #856
1. Registration in app
1. Login in app
1. Navigating to members section
1. sending request mentor/mentee
1. accepting request
1. creating task
1. task completion

@rpattath Just wanted to confirm that these are all the steps, right? And If I am missing some step, let me know so that I can add that step too.

[2020-09-09 22:36] rpattath commented on #764
@Anmollenka @rak108 this is how the test report directory would look like

[code]
index.html would have which testsuites passed and which failed. To look into the results of each test under each of the testsuite, check the repective html files, for example: org.systers.mentorship.LoginActivityTest.htm will have results of all the tests run under that suite.

Can you write up a doc with these info?

[2020-09-09 22:49] rpattath commented on #157
@alivabasa you have created a PR under your fork and not under anitab-org. Also make sure design is cohesive with the existing design of the app.

[2020-09-09 22:57] rpattath commented on #765
@TreavVasu could you update the emulator part following this [demo](https://anitab.zoom.us/rec/play/tJctd7j5rDk3SNWRtwSDUPUtW9XoJqis0iVL_fYFyBm1UyEKN1GmMrIaZ7RtkSCpQ2h7N8MOIMZc5wCD?startTime=1591118799000&_x_zm_rtaid=YOJgJH4BSZ65HhkWHNkhzg.1592773256165.ad77a44e5d4c2e726317ba090ee629b9&_x_zm_rhtaid=385) ? This demo shows how to test directly from the project without using an apk and only using the

[2020-09-09 22:59] rpattath commented on #856
Yes sounds good

[2020-09-10 02:55] swaraj961 commented on #811
@iofall  i fixed my previous PR do review it thanks

[2020-09-10 07:23] swaraj961 commented on #858
@garimasingh128  @vatsalkul  can anyone tell me if this issue is available or not?

[2020-09-10 07:35] sharur7 commented on #858
Is this issue still available? I want to take up this issue @vatsalkul

[2020-09-10 09:52] garimasingh128 commented on #858
I think the assignees are still working on this one! @yash2189 @rubyruins @atharwa-24 Can you confirm? Also feel free to ask doubts in the comments section.

[2020-09-10 09:58] sharur7 commented on #858
I also want to work on this under OSH. @garimasingh128

[2020-09-10 10:03] garimasingh128 commented on #858
@sharur7 Let's wait for the confirmation. Also, I don't think more than 3 can be assigned to a single issue so feel free to explore other issues under OSH :)

[2020-09-10 10:04] sharur7 commented on #858
Okay Cool

[2020-09-10 10:08] yash2189 commented on #858
@garimasingh128 can I use the systers logo on the infographic if it is fine?

[2020-09-10 10:10] garimasingh128 commented on #858
The systers logo may no longer be valid as the name is changed now. You can use the AnitaB logo now.

[2020-09-10 10:14] rubyruins commented on #858
Yep, I am working on this! I actually have a test tomorrow, but I will surely send a PR during the weekend. Also, what format do we submit the file in? And in which folder should it be added?

[2020-09-10 10:17] garimasingh128 commented on #858
@vatsalkul Can you clear this one since this is your issue?

[2020-09-10 10:52] vatsalkul commented on #858
Hey @rubyruins we will not include infographics in repo. you can upload the poster to drive and share a link in the PR.
Also, the PR for this issue is not meant to be merged in the project as of now. Still your contribution counts for OSH.

[2020-09-10 11:23] TreavVasu commented on #765
I assume you are saying to run it through ide, I can do that but would it be alright? I mean I did the present way so as to be aligned with the topic of the issue. It would be entirely different issue now. @rpattath

[2020-09-10 11:52] rpattath commented on #764
@maharishi1 it was my mistake that I did not remove the Available label.

[2020-09-10 11:59] iofall commented on #764
@Anmollenka @rak108 I am not sure where I read this but you should have `API 27` for the application to work. Could you try that once?

[2020-09-10 12:18] rak108 commented on #764
ooh okay. I'll get started!

[2020-09-10 12:18] rak108 commented on #764
Okay i'll do it and tell you!

[2020-09-10 12:20] Anmollenka commented on #764
@rpattath  working on it.

[2020-09-10 14:43] atharwa-24 commented on #864
I will send the PR by tomorrow!!!

[2020-09-10 14:47] alivabasa commented on #157
@rpattath Ok. The existing design of the app means the screenshots provided ?

[2020-09-10 15:14] ashwinijha6 commented on #797
@vj-codes & @anna4j I would also like to work on this issue as an OSH participant

[2020-09-10 15:40] CodeChamp-SS commented on #789
i've been busy this week, will submit my pr in 3-4 days :-)

[2020-09-10 15:40] CodeChamp-SS commented on #789
research is almost complete, just have to document it

[2020-09-10 18:17] SHITIZ-AGGARWAL commented on #789
same here , I will submit my pr in 3-4 days

[2020-09-10 18:36] HeroicHitesh commented on #856
@rpattath Which doc do we need to update for this issue? Please, give me the link to that doc. Or if we need to create a new doc for this issue, then let me know the location where it's to be added.

[2020-09-10 19:48] vj-codes commented on #797
@bhumikasharma29 how's the PR going ?

[2020-09-10 19:49] vj-codes commented on #797
Assigning you @ashwinijha6
Since this is a multiple assignee issue , make sure your design is unique and not same as other contributors
Happy designing!

[2020-09-10 19:55] vj-codes commented on #808
@utkzas @avinashbest how's the PR going?
If it's taking long , do update here after every 3 days

[2020-09-10 19:57] vj-codes commented on #769
@Lord-Aman how's the PR going?

[2020-09-10 22:36] isabelcosta commented on #157
Sorry for late reply @rpattath . Yes, that folder name is accurate.

[2020-09-11 03:13] captain-aman-11 commented on #769
I am facing some technical issues from my side, I will be very soon
completing my task

On Fri, Sep 11, 2020 at 1:28 AM Vaishnavi Joshi <notifications@github.com>
wrote:

[2020-09-11 04:20] sanchi0204 commented on #768
@Abjcodes what is the status?

[2020-09-11 05:02] sanchi0204 commented on #759
@Devanshi-123 what is the status?

[2020-09-11 06:08] justdvnsh commented on #879
@iofall @anna4j Done !!

[2020-09-11 07:03] vj-codes commented on #769
@Lord-Aman please remember to update after every 3 days if it's taking long as mentioned in community guidelines:)

[2020-09-11 08:03] Aditiwebd commented on #805
I tried but couldn't complete it,I don't want to waste more of your time,I am removing my assignment.

[2020-09-11 10:49] rak108 commented on #764
hey! it didnt work :(

[2020-09-11 12:51] rak108 commented on #764
Hey! Can I use the info you've provided to add in as a sample screenshot or should I not do it? @rpattath

[2020-09-11 13:39] actualpriyanshu commented on #492
Hey, can you please assign this issue to me

[2020-09-11 14:13] swaraj961 commented on #857
Hi, is this issue available ? If yes please assigned me thanks

[2020-09-11 14:16] swaraj961 commented on #783
Hi is this issue available ?

[2020-09-11 14:31] garimasingh128 commented on #783
Yeah. I think I can assign multiple assignees to this one. Let me know in case you are interested!

[2020-09-11 14:34] swaraj961 commented on #783
Great i would love to work on this can you elaborate this issue a bit or correct me i have to code for this screen and update the png in docs folder right ?  Also it should be responsible for both web and mobile version .

[2020-09-11 14:38] garimasingh128 commented on #783
Yah *responsive for all screens. You have to do both the design part and coding the screen to link it to the confirmation screen. Take help from the previous comments. As it's mostly a design issue so multiple people can be assigned.

[2020-09-11 14:40] swaraj961 commented on #783
Yeah i'll go through them you can assigned it to me looking forward to work on this thanks

[2020-09-11 14:50] yash2189 commented on #783
Can I also work on this @garimasingh128 ?

[2020-09-11 15:05] garimasingh128 commented on #783
Okay @yash2189. 3 are fine for this issue. Not more than that. All the best!

[2020-09-11 15:32] Anmollenka commented on #764
@rpattath I have opened a pull request. Can you please review it.

[2020-09-11 15:44] iofall commented on #805
@Aditiwebd No worries, you can claim other issues as well and try contributing to those.

[2020-09-11 16:03] atharwa-24 commented on #858
Hey,Can i use the anitab.org logo? to add it in the info graph

[2020-09-11 16:18] vatsalkul commented on #858
Yes you can

[2020-09-11 16:18] rak108 commented on #764
Hey @rpattath ! I've created a pull request for the same. Please do check!

[2020-09-11 16:20] vatsalkul commented on #858
@sharur7 @swaraj961 If you guys want to do this task, you are welcome to do so. We had a discussion with team and now we can assign more member in design tasks. Best off luck 😇

[2020-09-11 16:25] sharur7 commented on #858
Thank you!!! @vatsalkul

[2020-09-11 16:26] atharwa-24 commented on #858
@vatsalkul should I add the Infograph in the
mentorship-android/.github/docs/

[2020-09-11 16:30] vatsalkul commented on #858
You can add the link to infographic in the docs folder. make a new md file named infographics and add the drive link to the original file.

As of now we are not planning to merge design PR's in the code base. But this a  talk for later.
Best of Luck😇

[2020-09-11 16:45] swaraj961 commented on #858
Thanks @vatsalkul

[2020-09-11 22:55] rpattath commented on #765
@TreavVasu yes please make that change.

[2020-09-12 05:08] rak108 commented on #537
Hey! I'd like to try doing this, could you assign this to me?

[2020-09-12 06:39] CodeChamp-SS commented on #789
@anna4j can i make a txt file for documenting my findings or i ve to make a markdown file only ? as i have not used markdown much before

[2020-09-12 07:22] Anmollenka commented on #808
@vj-codes @iofall Can I work on this issue?

[2020-09-12 07:29] anna4j commented on #789
Markdown would be good. Just use .md file extension.

[2020-09-12 07:36] CodeChamp-SS commented on #789
ok

[2020-09-12 07:45] yash2189 commented on #858
Please review my PR #893  @vatsalkul @vj-codes

[2020-09-12 08:10] Abjcodes commented on #768
Sorry for the delay. I am working on this issue, I will send a PR soon.

[2020-09-12 08:37] iofall commented on #808
@Anmollenka yes, assigning you!

[2020-09-12 08:41] iofall commented on #808
Unassigning @utkzas @avinashbest due to inactivity. Feel free to claim other issues.

[2020-09-12 08:50] Anmollenka commented on #808
@iofall I am not able to signup in the app.It is showing invalid email.

[2020-09-12 09:18] CodeChamp-SS commented on #789
@anna4j the documentation shall include in general Advantages/ Best practices, Disadvantages/ Drawbacks/ Exceptions of Hilt or only specific to this app ?

[2020-09-12 09:21] Anmollenka commented on #808
@iofall I am not able to signup in the app.It is showing invalid email.Is there any particular format??

[2020-09-12 09:37] iofall commented on #808
Maybe it is already in use? Can you try another one.

[2020-09-12 09:54] anna4j commented on #789
It should be app specific

[2020-09-12 12:07] yash2189 commented on #783
@garimasingh128  @anna4j
I have created a mockup in Figma . How does this look for desktop and mobile?

![desktop](https://user-images.githubusercontent.com/31548778/92995142-4d202e00-f51e-11ea-83a7-5579fc88375f.PNG)

![phone](https://user-images.githubusercontent.com/31548778/92995169-9f614f00-f51e-11ea-9289-efbdc3d2107c.PNG)

[2020-09-12 12:33] garimasingh128 commented on #783
@anna4j  thoughts? I actually like this one.

[2020-09-12 12:38] justdvnsh commented on #603
@isabelcosta @anna4j @MariamKotob Can I work on this issue ?

[2020-09-12 12:39] justdvnsh commented on #544
@rpattath @anna4j Can I work on this issue ?

[2020-09-12 12:41] Sommie09 commented on #755
Nothing really, still working around the whole code base @anna4j

[2020-09-12 13:47] anna4j commented on #544
Sure :)

[2020-09-12 13:47] anna4j commented on #603
Just assigned you to a different issue

[2020-09-12 13:48] anna4j commented on #783
It's wonderful @yash2189

[2020-09-12 13:56] vj-codes commented on #783
@yash2189 looks good , image source?

[2020-09-12 14:16] yash2189 commented on #783
`https://builtin.com/sites/default/files/styles/ckeditor_optimize/public/inline-images/women-in-tech-pillar-page-conferences-events-for-women_0.png`

[2020-09-12 14:18] Richaagrawal314 commented on #732
@anna4j I'm halfway through, but I have a problem, my changes work fine (the ones on Members fragment), although I have not touched a line related to Relations fragment, it's not loading on my device and my app crashes as soon as I open it. Can you or anyone help?

[2020-09-12 14:21] anna4j commented on #732
@iofall any idea why this must be happening?

[2020-09-12 15:00] Anmollenka commented on #808
Okk

[2020-09-12 15:30] Anmollenka commented on #808
![Screenshot_20200912-205629_Systers Mentorship](https://user-images.githubusercontent.com/48198809/92998977-e9f0c480-f53a-11ea-9774-7bee8c585ec0.jpg)

[2020-09-12 15:30] Anmollenka commented on #808
@iofall it is still showing email is invalid

[2020-09-12 16:32] iofall commented on #808
I just retried, did not face the error. Can you try using a disposable mail?

[2020-09-12 16:34] iofall commented on #809
Hey @vj-codes any updates on this?

[2020-09-12 16:36] iofall commented on #807
Unassigning @abhishekrawe due to inactivity. We can use more PRs for this if anyone wants to claim it.

[2020-09-12 16:37] iofall commented on #806
Unassigning @rishika1802 due to inactivity. This issue is available for others to claim.

[2020-09-12 16:38] Anmollenka commented on #808
Okk

[2020-09-12 17:11] vj-codes commented on #809
@iofall opps i forgot to update myself, the design is ready will send a PR todayy:)

[2020-09-12 17:24] vj-codes commented on #808
@Anmollenka hey did you follow the password guide like a special special , number and capital letter should be used .
The toast message might be wrong , if it doesn't work , please do create an issue

[2020-09-12 17:33] Anmollenka commented on #808
@vj-codes Yes I did follow.

[2020-09-12 17:33] Anmollenka commented on #808
I will try once again and say if any problem arises.

[2020-09-12 17:39] vj-codes commented on #808
@Anmollenka I tried creating one from diff email , it's working .
Maybe the mail is in spam folder?

[2020-09-12 19:55] vj-codes commented on #807
@iofall hey I would like to work on this

[2020-09-12 20:10] rubyruins commented on #858
@vatsalkul @vj-codes @garimasingh128, I have created PR #897, could you please review it?

[2020-09-12 21:53] iofall commented on #732
I don't know. @Richaagrawal314 could you push your code to your fork. We'll clone it locally and take a look?

[2020-09-12 22:00] garimasingh128 commented on #858
Hey @rubyruins ! We will review your PR later. As @vatsalkul mentioned "As of now we are not planning to merge design PR's in the code base. But this a talk for later.", so we will surely review it but can't guarantee to merge it before OSH ends. You can move on to your next issue if you like. :)

[2020-09-12 23:24] rpattath commented on #856
@HeroicHitesh you can add it [here](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/manual_tests/).

[2020-09-12 23:28] rpattath commented on #856
@HeroicHitesh create a docs/manual_tests directory and add the md file under it.

[2020-09-13 04:47] Anmollenka commented on #764
@rpattath my pull request is not approved .Are there any changes required?

[2020-09-13 04:56] rak108 commented on #537
@sanchi0204 @isabelcosta Hey! could you assign this to me?

[2020-09-13 06:06] sanchi0204 commented on #537
Sure. Assigning you @rak108

[2020-09-13 08:24] yash2189 commented on #783
@vj-codes should I start with coding part? Also where should I add the template after coding.. Can you please tell me where  template should be added?

[2020-09-13 08:26] anna4j commented on #783
Sure go ahead

[2020-09-13 08:30] yash2189 commented on #783
Yes thanks @anna4j  @vj-codes  it will approx >3 days as my final exams are near. Please do tell me where do I add the template.

[2020-09-13 08:56] aaditree commented on #857
I wish to work on this issue. Please assign it to me.

[2020-09-13 09:06] Richaagrawal314 commented on #732
@iofall @anna4j  Could you please review this PR? https://github.com/anitab-org/mentorship-android/pull/898

[2020-09-13 14:08] garimasingh128 commented on #783
I think as of now a simple JSON string is returned but you can create a simple HTML page or a component and put it in the root or app folder for a time being. Is that okay @anna4j @vj-codes ?

[2020-09-13 14:13] yash2189 commented on #783
So is it fine if I keep the `css` and `html` file in the same folder @garimasingh128 ?

[2020-09-13 15:34] TreavVasu commented on #765
@rpattath updated

[2020-09-13 15:50] rak108 commented on #537
Thank you! I'll get started.

[2020-09-13 16:11] Anmollenka commented on #808
![Screenshot_20200913-213735_Systers Mentorship](https://user-images.githubusercontent.com/48198809/93023055-e8da9880-f609-11ea-85b5-9ec770c48857.jpg)

[2020-09-13 16:13] Anmollenka commented on #808
@iofall @vj-codes This is the request detail screen right now.Shall I redesign this part or sent requests to get more detailed idea of the app and work on the redesigning part.

[2020-09-13 17:09] justdvnsh commented on #544
@rpattath @anna4j I think this is a backend issue. I tried different solutions but none of them are working !! It would be very easy if there was an API endpoint for altering the notes. One thing which can be done is that to alter notes we can cancel the current relation and then re send the request and then make the request accepted on both the mentor and mentees end programatically. But it would

[2020-09-13 17:13] justdvnsh opened #900 "App crashes when we click on the send request button while the profile is being loaded."
**Describe the bug**
App crashes when we click on the send request button while the profile is being loaded ( while the swipe refresh is working ).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members Fragment'
2. Click on 'any members profile'
3. click on the send request button before the profile is loaded (while the swipe refresh is still working)
4. See error

**Expected behavi

[2020-09-13 17:14] justdvnsh commented on #900
@iofall @anna4j I'd like to work on this issue. Can I be assigned this ?

[2020-09-13 17:22] iofall commented on #900
I think this is a duplicate of #748

[2020-09-13 17:28] justdvnsh commented on #900
Yup !! @iofall Didn't look at it . Closing this issue !!

[2020-09-13 17:28] #900 closed

[2020-09-13 21:57] vj-codes commented on #808
@Anmollenka  according to the title of this issue you have to redesign the next screen and not the one you uploaded earlier .
For example in first screen shot , I have sent a request to another user, and when I click that side arrow all request details appear.
 This (second screenshot)  is  one you have to redesign
You see how the font huge and layout is uneven , fix  that too as well as redesign

[2020-09-14 03:50] Anmollenka commented on #808
@vj-codes Thanks and sorry for the misunderstanding.

[2020-09-14 03:50] Anmollenka commented on #808
It's clear now

[2020-09-14 11:04] vj-codes opened #901 "Redesign: Home screen"
Provide a re-design of the **Home screen** (Just the UI mockup, no need to code it out)

**Tip:** You can download the apk from [here](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) and play around with the app, to understand what elements we need on this screen

**Remember to follow** the [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3D0ob

[2020-09-14 11:14] ankit-saraf commented on #901
@vj-codes Pls assign it to me

[2020-09-14 11:34] rak108 commented on #537
Hey @sanchi0204 , I'm actually stuck at one error and I was wondering if you had any suggestions? Basically all my changes except for this one have been done but only this is producing errors and im confused how to proceed.

![Screenshot from 2020-09-14 17-02-12](https://user-images.githubusercontent.com/54491584/93081026-34de1980-f6ac-11ea-95bd-2a618f0e545a.png)

[2020-09-14 11:44] Hyper-Matrix commented on #901
@vj-codes i have completed this issue....can you please assign it to me...

[2020-09-14 11:53] vj-codes commented on #901
@Hyper-Matrix assigning you , update the PR please

[2020-09-14 11:53] vj-codes commented on #901
Assigning you @ankit-saraf
Happy designing !

[2020-09-14 13:36] Anmollenka commented on #808
https://www.figma.com/file/6Fam4mHVoKoNb93WWUV9js/Untitled?node-id=0%3A1
@iofall @vj-codes Can you please have a look and tell if any changes are required.

[2020-09-14 14:02] Aditiwebd commented on #337
Do we need to describe how the solution can be implemented??and if yes where to describe it, in the docs or in the PR??

[2020-09-14 14:06] CodeChamp-SS commented on #789
@anna4j  I've completed the documentation, just a final doubt ; I've to suggest the places where hilt can be used to reduce the boiler plate code in the app and a little on how to do so right ? I have also included like where and how the code should be changed in order to achieve so. Do i have to tell the exact code changes at all the required places too ?
Right now I've included a brief detail on

[2020-09-14 14:07] CodeChamp-SS commented on #789
and i've to create a docs folder then a spikes folder inside the docs right ?

[2020-09-14 17:15] iofall commented on #808
@Anmollenka Can you try experimenting with different styles a bit? Maybe look at some colors as given in the [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3D0obDAGnkHZ1u7nhZ87/view). The one you have currently made looks very similar to the existing UI, we want to explore new ideas through this issue so let your creativity flow.

[2020-09-14 17:23] Anmollenka commented on #808
Okk

[2020-09-14 17:27] anna4j commented on #789
A brief detail of where and how the code is supposed to be changed will do.

[2020-09-14 17:27] anna4j commented on #789
Yes that's correct

[2020-09-14 17:40] vj-codes commented on #901
@aditmehta9 hey all UI issues are multiple assignee(5 max) ones , so keeping the available label would be great:)

[2020-09-14 18:05] CodeChamp-SS commented on #789
@anna4j pls review the pr :-) and feel free to suggest any changes

[2020-09-14 19:59] rpattath commented on #544
@isabelcosta what do you think about the above?

[2020-09-14 20:08] devkapilbansal commented on #807
@iofall I want to work on this issue

[2020-09-14 21:08] SHITIZ-AGGARWAL commented on #789
@anna4j I have submitted my pr ,this was my first research documentation ,please review it and suggest the changes also can you give me some tips on  how can  I improve my documentation and research skills

[2020-09-14 21:34] SHITIZ-AGGARWAL commented on #797
Hey @anna4j @vj-codes , I have created my other PRs and I also have a design ready for this ,since i was assigned to other issues thus i was not assigned to this issue  , can I work on this issue now if possible?? : )

[2020-09-15 03:27] aditmehta9 commented on #797
Unassigning @bhumikasharma29 for inactivity. Please claim again when you are active.

[2020-09-15 03:30] aditmehta9 commented on #791
@siddheshkothadi are you still working on this issue?

[2020-09-15 03:36] aditmehta9 commented on #752
Unassiging @Frenzyritz13 because of inactivity please claim again whenever you are active.

[2020-09-15 03:40] aditmehta9 commented on #557
Are you still working on this issue?

[2020-09-15 04:10] siddheshkothadi commented on #791
Yes @aditmehta9 , I have almost completed this task. Will send a PR very soon.

[2020-09-15 04:49] HeroicHitesh commented on #557
Yes, I will try to complete it by tomorrow EOD.

[2020-09-15 06:04] anna4j commented on #797
Sure

[2020-09-15 07:38] arkumari2000 commented on #901
Can you please assign it to me, I would be like to redesign it.

[2020-09-15 07:42] arkumari2000 commented on #807
@iofall I would like to work on this issue.

[2020-09-15 07:43] arkumari2000 commented on #797
@aditmehta9  I would like to work on this issue. Can you please assign me this one?

[2020-09-15 07:54] devkapilbansal commented on #807
@iofall I am working on different issue for now. Pardon but I am unassigning myself from this issue.

[2020-09-15 07:59] niyati-n commented on #752
@aditmehta9  I want to work on this issue. Can you assign this to me for osh?

[2020-09-15 08:14] arkumari2000 commented on #797
@aditmehta9 I have to design it graphically and send its picture. Right?

[2020-09-15 08:37] aditmehta9 commented on #797
Yes
Just for reference see https://github.com/anitab-org/mentorship-android/pull/852.

[2020-09-15 10:45] yash2189 commented on #783
@garimasingh128 @vj-codes @anna4j  I have completed the coding part,added responsiveness as well.
 Please have a look at this. If it's correct then may I raise a PR for the same?

![image](https://user-images.githubusercontent.com/31548778/93201159-6ddec280-f76e-11ea-9d55-c253ca341321.png)

![image](https://user-images.githubusercontent.com/31548778/93201230-88b13700-f76e-11ea-905f-9e123c61007c.pn

[2020-09-15 11:11] anna4j commented on #783
Yes please go ahead

[2020-09-15 11:19] garimasingh128 commented on #783
For a time being, put all the files(assets, css, html etc) in a folder and keep it in app or root of the project. We will see how to integrate it later on.

[2020-09-15 11:48] niyati-n commented on #752
How i test my code. Should i make an issue in my forked repo?
I am done with the code.

[2020-09-15 11:48] niyati-n commented on #752
@aditmehta9 ^

[2020-09-15 11:52] aditmehta9 commented on #752
Sorry, I am not sure about it.

[2020-09-15 11:58] CodeChamp-SS commented on #787
@garimasingh128 @aditmehta9 @anna4j i would like to take up this issue :-) Can u pls tell what all data needs to be saved for offline viewing ?

[2020-09-15 12:00] niyati-n commented on #752
then should i make the PR?

[2020-09-15 12:20] aditmehta9 commented on #752
Maybe you should another member that might help.

[2020-09-15 12:30] garimasingh128 commented on #787
- His own profile details
- Requests

@anna4j you wanna add something?

[2020-09-15 12:55] SHITIZ-AGGARWAL commented on #807
@iofall  I would also like to provide my design ,can I work on this issue ?   : )

[2020-09-15 12:57] SHITIZ-AGGARWAL commented on #797
@anna4j @vj-codes I have submitted my PR ,please suggest if any changes required : )

[2020-09-15 13:46] swaraj961 commented on #858
@vatsalkul @garimasingh128  Hey, please review my PR  thanks

[2020-09-15 13:56] vj-codes commented on #807
Assigning you @SHITIZ-AGGARWAL
Happy designing!

[2020-09-15 14:48] siddheshkothadi commented on #791
Hey @aditmehta9 , @anna4j , @vj-codes
I've tried my best to explain everything related to the app architecture.
Please review the PR and let me know if any changes are required : )

[2020-09-15 15:25] siddheshkothadi commented on #337
@Aditiwebd even I have the same question. To implement this feature, some major changes in the backend are required. So, some more clarification should be provided about how we are supposed to submit a PR.

[2020-09-15 15:55] vj-codes commented on #337
@siddheshkothadi @Aditiwebd yes there will be backend changes too and there is an issue up on backend repo for the same.
However, this issue is more about researching ways for social logins and not about coding and making social login work.
There might be multiple ways to implement this feature , some longer some easier.So if in your research anything backend related comes up , you can mention som

[2020-09-15 15:59] Aditiwebd commented on #337
yes,thankyou for the explanation.I would like to work on it,Please assign it to me.

[2020-09-15 16:04] Anmollenka commented on #808
https://www.figma.com/proto/EAdU1W2sSyR1Zyx542COq3/Untitled?node-id=4%3A0&scaling=scale-down
@iofall How is it now??

[2020-09-15 16:04] Anmollenka commented on #808
Or any changes are required?

[2020-09-15 16:05] siddheshkothadi commented on #337
Thanks @vj-codes : )
That clears my doubt!

I would like to work on this issue

[2020-09-15 16:15] vj-codes commented on #337
Assigning you both @siddheshkothadi @Aditiwebd
Happy researching!
Both of your ideas may/may not be same , but make sure the PRs are not `exactly same` .Also if it's taking long , do update your progress after every 3 days :)

[2020-09-15 16:17] siddheshkothadi commented on #337
Thanks @vj-codes !

[2020-09-15 16:17] vj-codes commented on #868
@iofall why is this and next 2 PRs on hold?

[2020-09-15 16:19] vj-codes commented on #807
Update: UI is done , just going through material.io and guidelines once , PR will be created by tomr

[2020-09-15 17:01] Aditiwebd commented on #337
ohk sure..thanku

[2020-09-15 17:04] yash2189 commented on #783
@anna4j @garimasingh128 what should I write in the commit message since this is a coding and UI issue

[2020-09-15 17:12] garimasingh128 commented on #783
Yeah mention it in the pull request description!

[2020-09-15 17:14] yash2189 commented on #783
Should mention as fix or style @garimasingh128 ?

[2020-09-15 17:21] ankit-saraf commented on #901
@vj-codes Should I use Systers+ AnitaB.org or just AnitaB.org?

[2020-09-15 17:30] Anmollenka commented on #808
@vj-codes any comments??

[2020-09-15 17:40] vj-codes commented on #808
@Anmollenka as a user of app- whenever I read the word` To` I am expecting some text to follow while now it's below .You get what I mean? Like there are plenty of options, remove the profile just keep the name ,decrease the profile image size etc.

And the alignment looks a bit different, maybe add the Notes box below the first box and making both of same size and color?Also try to use one color o

[2020-09-15 17:56] yash2189 commented on #783
Please review my PR #912 @garimasingh128 @anna4j @vj-codes . Please tell me whether I need to change the location of `email_verfication_template` folder or is it correct?

[2020-09-15 19:15] Anmollenka commented on #808
Okk I will make the required changes.

[2020-09-15 20:07] sharur7 commented on #901
@vj-codes  I want to work on this issue, please assign me

[2020-09-15 20:11] khushishikhu commented on #901
may i work on this issue

[2020-09-15 23:50] isabelcosta commented on #544
The notes to become modifiable would have to include work on the backend.
Also, notes are supposed to be something both mentor and mentee agree on. So I can think of making it modifiable before it gets accepted, so whoever send it can edit and improve it over time.

So I would say this needs better discussion, as it is a product decision that should be documented.
cc @rpattath @anna4j @iofall

[2020-09-16 06:30] ravi5175 commented on #765
@rpattath can you assign this to me

[2020-09-16 06:34] ravi5175 commented on #901
@vj-codes can you please assign this to me??

[2020-09-16 06:36] ravi5175 commented on #807
@vj-codes can you assign this to me ??

[2020-09-16 06:53] SHITIZ-AGGARWAL commented on #901
@vj-codes I have submitted my PRs for previous issues , if available can I work on the issue

[2020-09-16 06:58] arkumari2000 commented on #807
@iofall I am assigned to other issues also, so you can assign this to someone else.

[2020-09-16 06:59] Anmollenka commented on #808
https://www.figma.com/proto/EAdU1W2sSyR1Zyx542COq3/Untitled?node-id=4%3A0&scaling=scale-down
@vj-codes Is it better now??

[2020-09-16 08:06] justdvnsh commented on #603
@anna4j . That issue is currently on hold. For the time being can I work on this issue ?

[2020-09-16 08:34] vj-codes commented on #901
@ravi5175 hey , you have been assigned #807 after that is complete I can assign you this.
The community guidelines mention contributors to work on one issue at a time:)

[2020-09-16 08:35] vj-codes commented on #901
Assigning you @SHITIZ-AGGARWAL
Happy designing!

[2020-09-16 08:41] SHITIZ-AGGARWAL commented on #901
thank you : )

[2020-09-16 09:09] anna4j commented on #603
Okay sure. Could you link that issue here so I can see the progress of that issue in our discussion meeting

[2020-09-16 09:41] CodeChamp-SS commented on #787
@garimasingh128 ok, so shall i start working on the issue ?

[2020-09-16 09:53] anna4j commented on #787
Sorry I missed it earlier. User should also be able to see their tasks offline

[2020-09-16 10:03] vj-codes commented on #787
@anna4j @garimasingh128 hey idk how but this issue showed up in  my notifications .There was already a similar issue #714 and a PR #718 was created but after very long discussion both PR and issue was put up on hold by Isabel.
Just letting you guys know, the status of this one (approved/hold) is upto you .Thanks!

[2020-09-16 10:50] sharur7 commented on #901
@vj-codes Can you please assign me this?

[2020-09-16 11:06] vj-codes commented on #901
Assigning you @sharur7
Happy designing!

[2020-09-16 11:08] vj-codes commented on #901
Max 5 contributors can be assigned , after another person comments , this won't be available:)

[2020-09-16 11:10] khushishikhu commented on #901
may i try to work on this issue

[2020-09-16 11:57] garimasingh128 commented on #787
For now, I think let's wait how @CodeChamp-SS implements the process and have a look at his PR. Then we can see whether it should be merged or not. What's say @vj-codes ?

[2020-09-16 12:34] Anmollenka commented on #808
@iofall @vj-codes Any other changes are required??

[2020-09-16 13:50] CodeChamp-SS commented on #787
shall i make use of coroutines in room ? (i think it would be better if it's used)

[2020-09-16 15:57] CodeChamp-SS commented on #787
@garimasingh128 as i am adding room dependencies to the app, so shall i also update other dependencies version and gradle version for the app ?

[2020-09-16 16:13] swaraj961 commented on #858
Review my PR mentors

[2020-09-16 17:04] garimasingh128 commented on #787
@CodeChamp-SS Yeah you can but make sure nothing else breaks and keep testing the other components as well.

[2020-09-16 17:16] vj-codes commented on #808
@Anmollenka hey I was quite busy today so all I have to say is
 after your design is done , please do create a PR as I'm not sure if reviewing in comments is allowed by the community guidelines

[2020-09-16 17:20] Anmollenka commented on #808
Ok sure

[2020-09-16 17:22] Anmollenka commented on #808
Actually I have added another button in the design so just wanted to know if it's allowed or not.

[2020-09-16 17:22] Anmollenka commented on #808
I will create a PR soon.

[2020-09-16 17:26] vj-codes commented on #808
@Anmollenka the edit button will require changes in code too, since this is a redesign issue I would suggest to remove it

[2020-09-16 17:27] Anmollenka commented on #808
Okk

[2020-09-16 17:35] CodeChamp-SS commented on #787
ok

[2020-09-16 17:40] CodeChamp-SS commented on #787
@garimasingh128 nd what abt this ?

[2020-09-16 18:27] garimasingh128 commented on #787
I have never implemented Coroutines myself so if you have used them earlier and pretty confident about it, you can go ahead. I will do a little research about them and get back to you in a day or two.

[2020-09-16 18:35] CodeChamp-SS commented on #787
ya i've used it earlier but you can take your time and tell me tell if i should use it, till then i'll try to implement coroutines with room in the app

[2020-09-16 18:50] iofall commented on #868
Thanks for the tag @vj-codes , I am modifying this issue, we were going to split the failing tests across multiple issues but getting inconsistent results. I will modify this ASAP

[2020-09-16 20:01] #869 closed

[2020-09-16 20:01] #870 closed

[2020-09-16 20:07] iofall opened #918 "Fix failing LoginActivity Test"
Fix the failing tests for `LoginActivityTest`. Currently the tests for the `LoginActivity.kt` fail due to:
1. The wrong string being checked for `EMPTY_USERNAME_ERROR`
2. The wrong string being checked for the `snackbar`
3. Additionally, tests pass when run individually (individual test functions) but fail when the entire Espresso test is run. Some research suggested that this could be caused due

[2020-09-16 20:13] iofall commented on #704
@isabelcosta I have created these issues #868 and #918. Sorry I got late for this. Initially, I was planning on creating individual issues for each failing test, but that increased the complexity. Additionally, I discovered that some of the tests run successfully when run individually but fail when run as a whole. So I have just separated this issue into `LoginActivityTest` and `SignUpActivityTest

[2020-09-17 03:04] Anmollenka commented on #808
@iofall @vj-codes I have created a pull request.Can you please review it.

[2020-09-17 04:20] justdvnsh commented on #868
@iofall Can I work on this issue ?

[2020-09-17 04:25] justdvnsh commented on #918
@iofall Can I be assigned this issue ?

[2020-09-17 05:37] Anmollenka commented on #808
I have created a pull request please review it.Thank You.

[2020-09-17 06:09] iofall commented on #918
Yep, assigning you!

[2020-09-17 06:10] iofall commented on #868
@justdvnsh assigned you to the `LoginActivity` issue. Let me know when done and I will assign you to this. Thanks!

[2020-09-17 08:43] ankit-saraf commented on #858
Can it be assigned to me?

[2020-09-17 08:46] ankit-saraf commented on #857
@vatsalkul I think this is a multiple assignee issue. Can you assign it to me?

[2020-09-17 08:48] ankit-saraf commented on #790
@anna4j Can I work on it in case it is a multiple assignees issue?

[2020-09-17 10:26] anna4j commented on #790
Sure

[2020-09-17 13:29] Anmollenka commented on #808
@vj-codes @iofall Please review my pull request.

[2020-09-17 16:51] sanchi0204 commented on #769
@Lord-Aman what is the status?

[2020-09-17 16:52] sanchi0204 commented on #759
Unassigning due to inactivity

[2020-09-17 16:57] garimasingh128 commented on #759
For anyone taking up issues, if you are finding hard to understand the issue or code base, please ask in the comments. If you don't respond in 3-4 days or so, unfortunately, we will have to unassign you. This also prevents other deserving contributors to get assigned to the same issue. So, keep note.

[2020-09-17 17:53] justdvnsh commented on #918
@iofall  Created a PR !!

[2020-09-17 17:53] justdvnsh commented on #868
@iofall Created a PR for #918 . Can I now be assigned this issue ?

[2020-09-17 20:35] justdvnsh commented on #868
@iofall One thing before I start working on this, is I would be creating similar file changes for Signup Activity Test also as i did in #918 . Like the tests would be different but the rest of the files would be the same, like the IdlingResourceObject and the gradle changes . So, should I proceed or there is some way around this ?

[2020-09-17 20:42] rpattath opened #923 "Test and document workflow - Delete mentorship relation"
Manually test the app all the way from registration to mentorship request to delete relationship and documents the test results.

**Describe the solution you'd like**
An md file with all the test scenarios you covered. Positive and negative testcases as expected. Each test scenario should be documented as below:

[code]
The md file should go under docs/quality-assurance/manual-tests/`file-name`.md

[2020-09-17 21:29] sharur7 commented on #923
I want to work on this issue @rpattath

[2020-09-17 21:45] rpattath commented on #923
@sharur7 all your's. Do you want this to be your Documentation or QA issue under OSH?

[2020-09-17 21:47] rpattath opened #924 "Test and document workflow - Reject mentorship relation request"
Manually test the app all the way from registration to sending mentorship request to rejecting request and documents the test results.

Describe the solution you'd like
An md file with all the test scenarios you covered. Positive and negative testcases as expected. Each test scenario should be documented as below:
[code]
The md file should go under docs/quality-assurance/manual-tests/.md

If you s

[2020-09-17 21:51] rpattath opened #925 "Test and document workflow - Accept relation request"
### Description

Manually test the app all the way from registration to mentorship request to accept relationship request and document the test results.

### Describe the solution you'd like

An md file with all the test scenarios you covered. Positive and negative testcases as expected. Each test scenario should be documented as below:

[code]
The md file should go under `docs/quality-assurance/m

[2020-09-17 22:20] SHITIZ-AGGARWAL commented on #925
@rpattath I would like to work on this issue

[2020-09-17 22:25] titiksha01 commented on #924
I would like to work on this as a part of OSH.  Can this be assigned to me? Thank you...

[2020-09-17 22:42] titiksha01 commented on #759
Hello. I would like to work on this as a part of OSH. Can this be assigned to me? Thank You...

[2020-09-18 03:57] sharur7 commented on #923
@rpattath QA issue under OSH :)

[2020-09-18 04:06] sharur7 commented on #923
@rpattath Is it allowed to take up as both documentation and QA?

[2020-09-18 04:08] titiksha01 commented on #924
@rpattath Thanks for the opportunity...

[2020-09-18 05:20] darahask commented on #782
Can i work on this issue?

[2020-09-18 05:23] faznan3nazer commented on #759
I would like to work on this issue as a part of OSH...Can you please assign this to me?

[2020-09-18 05:38] faznan3nazer commented on #759
I would like to work on this issue...can you please assign this issue to me? Thank you...

[2020-09-18 05:47] darahask commented on #782
is there an endpoint in the API for realtime username check @garimasingh128?

[2020-09-18 06:10] maharishi-01 commented on #924
can i work on this issue?

[2020-09-18 06:11] maharishi-01 commented on #925
can I also work on this issue?

[2020-09-18 06:42] titiksha01 commented on #759
@sanchi0204  @garimasingh128 Do we have to create a PR by making changes in the readme.md's features section or create a separate markdown file for this? Please guide me.

[2020-09-18 07:01] garimasingh128 commented on #759
you have to modify the existing readme.

[2020-09-18 08:41] SHITIZ-AGGARWAL commented on #925
@rpattath  thank you : )

[2020-09-18 11:46] rak108 commented on #537
Hey @sanchi0204 @isabelcosta @bartekpacia !
im getting the same 5 errors below for basically a non-existent class and im unable to pinpoint which it is, please tell me how to go about this?
![Screenshot from 2020-09-19 15-08-15](https://user-images.githubusercontent.com/54491584/93664111-18febd00-fa8a-11ea-89c9-f9c3c77e90da.png)

[2020-09-18 12:09] siddheshkothadi commented on #337
**Update** : Currently, I'am researching about various ways to use Google OAuth in android and some flask libraries for the same. I'll need some more time to figure out other login methods like Facebook, etc.

[2020-09-18 12:17] CodeChamp-SS commented on #787
![issue](https://user-images.githubusercontent.com/52480794/93596176-8b15ca00-f9d6-11ea-8bb7-ae574170789a.jpg)
@garimasingh128 @anna4j fab for adding tasks is hidden under the bottom nav view, is this a valid issue ?
If yes, then i can also fix this issue

[2020-09-18 12:58] anna4j commented on #787
@garimasingh128 should we let him open an issue for this and then work on it? Or work on it under this issue itself

[2020-09-18 13:30] vj-codes commented on #787
@CodeChamp-SS try scrolling down the page and then the button is visible
There was a issue #744 about the and PR #745 which is merged now
cc: @anna4j

[2020-09-18 13:32] CodeChamp-SS commented on #787
no @vj-codes not visible to me

[2020-09-18 13:32] CodeChamp-SS commented on #787
@anna4j @garimasingh128 can either of you please confirm whether you can see the fab or not ?

[2020-09-18 13:36] vj-codes commented on #787
@CodeChamp-SS  which device? This bug is strange, just checked now on mine and it's visible
![Screenshot_2020-09-18-19-03-57-531_org.systers.mentorship.jpg](https://user-images.githubusercontent.com/60894542/93603645-ed27fc80-f9e1-11ea-91ef-b2640d672aba.jpg)

[2020-09-18 13:40] CodeChamp-SS commented on #787
i just checked out the pr, the changes made their in the fragment_mentorship_tasks.xml are not reflecting in my cloned repo

[2020-09-18 13:42] CodeChamp-SS commented on #787
if the issue has already been fixed, then it's fine

[2020-09-18 13:42] NarimaneHennouni commented on #901
Hi, can I still work on this issue? if so could I please be assigned to it.
Thank you

[2020-09-18 13:46] vj-codes commented on #787
@CodeChamp-SS your fork is 4 commits behind the develop branch that inclues the task button commit too , if you sync your fork it'll work !
Or uninstall current apk and download apk from this main repo and not your clone on your device

[2020-09-18 13:47] NarimaneHennouni commented on #858
Hi, I would like to work on this, if it is possible could you assign me to it please?
Thank you

[2020-09-18 13:50] NarimaneHennouni commented on #856
Hi, Can I work on this? If so can you assign it to me please

[2020-09-18 13:52] CodeChamp-SS commented on #787
ya i'm syncing it now

[2020-09-18 13:59] iofall commented on #868
@justdvnsh I think it would be okay to have the same changes here as well. I would suggest making multiple commits - 1. For the IdlingResourceObject and the gradle changes 2. For the actual fix of the issue.

[2020-09-18 14:13] justdvnsh commented on #868
@iofall cool. Thanks !

[2020-09-18 14:16] rpattath commented on #856
@NarimaneHennouni this issue does not have an `Available` label

[2020-09-18 15:44] Aditiwebd commented on #337
What are the login methods we have to provide.Are google and facebook fine??

[2020-09-18 16:35] justdvnsh commented on #868
@iofall Created a PR !

[2020-09-18 17:28] vj-codes commented on #337
@Aditiwebd yeah sure

[2020-09-18 17:55] darahask commented on #782
@garimasingh128  any endpoint in API for checking username availability?, Others I have done, facing issue on this one, Thankyou.

[2020-09-18 18:13] garimasingh128 commented on #782
@anitab-org/coding-team Can you help? Not really familiar with the backend as of now.

[2020-09-18 18:50] ankit-saraf commented on #790
I have created the pull request. Please review! :)

[2020-09-18 18:52] titiksha01 commented on #759
@sanchi0204 @garimasingh128 pls review my pr and tell me if it is correct or some changes are required?.
Also I installed the api on my phone and was going through the app, I was unable to find filter members option.

[2020-09-18 18:59] sanchi0204 commented on #759
Go to members option in bottom nav and in the fragment menu you fill find the filter option.

[2020-09-18 19:00] niyati-n commented on #924
Can i work on this issue for OSH!

[2020-09-18 19:08] titiksha01 commented on #759
Okay thanks. Added that as well in the PR.

[2020-09-18 19:13] sanchi0204 commented on #537
@anitab-org/coding-team pls help with this.

[2020-09-18 19:21] rpattath commented on #157
@alivabasa any updates?

[2020-09-18 19:44] vj-codes commented on #793
@FullBinaryAlchemist how's the PR going?

[2020-09-18 19:45] vj-codes commented on #784
@yashhalgaonkar how's the PR going?

[2020-09-18 19:46] vj-codes commented on #776
@justdvnsh how's the PR going?

[2020-09-18 19:47] alivabasa commented on #157
@rpattath  Sorry for the delay, actually my college exams were going on. I will create a new PR tomorrow. But can u tell me that, whether the design should match with the UI designs linked in Readme.md or the App's screenshot ?

[2020-09-18 19:47] vj-codes commented on #768
@Abjcodes how's the PR going?

[2020-09-18 19:49] vj-codes commented on #760
@raksh543 hey you have already created a PR , any specific reason for removing your assignment?

[2020-09-18 19:50] vj-codes commented on #755
@Sommie09 how's the PR going?

[2020-09-18 19:53] vj-codes commented on #591
@ydasc815 how's the PR going?

[2020-09-18 19:55] vj-codes commented on #557
@HeroicHitesh how's the PR going? You can work on any issue for as long as you want but you have to update your progress after every 3 days

[2020-09-18 19:56] justdvnsh commented on #776
@vj-codes I made the comment part. But what should I do about the task frag ? Still on hold due to that !

[2020-09-18 19:56] vj-codes commented on #544
Keeping the issue on hold @isabelcosta and
Unassigning @justdvnsh for now

[2020-09-18 20:05] Sommie09 commented on #755
Can't seem to figure out a solution, I've tried virtually everything lol

[2020-09-18 20:06] vj-codes commented on #776
@justdvnsh You have created a PR for tasks frag right?But all merging would happen after OSH .
So I would suggest to go ahead with the current code where empty task is valid .Maybe block comments feature for empty tasks for now and when it's time to merge it will require just minor updates.
OR
There's a` mentorship system open session on 22nd sept` , you could clarify your doubts there and this is

[2020-09-18 20:07] rpattath commented on #157
Screenshots in the README is what you should follow. Preferrably remove Systers Opensource and only keep AnitaB.org logo. You can try to run the [apk](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) on an Android device to get the real feel of the current UI.

[2020-09-18 20:10] justdvnsh commented on #776
@vj-codes That's great. I'll surely try to join the session. But that's not what I was saying. I was asking about the ui part ! Like should I remove the checkbox and just show the tasks and the users can mark the task completed from inside the task detail activity.

[2020-09-18 20:14] rpattath opened #933 "Re-design settings screen"
Provide a re-design of the Settings screen

TIP: You can download the [apk](https://github.com/anitab-org/mentorship-android/blob/apk/app-debug.apk) from here and play around with the app, to understand what elements we want in this screen.

Kindly follow the [AnitaB.org Branding Guidelines](https://drive.google.com/file/d/1QyQrNfGMa5e-3D0obDAGnkHZ1u7nhZ87/view)

Describe the solution you'd like
S

[2020-09-18 20:16] vj-codes commented on #755
@Sommie09 here are some resources , if you want more explanation and help , do ask on zulip:)
1. https://stackoverflow.com/questions/4139288/android-how-to-handle-right-to-left-swipe-gestures
2. https://www.tutorialspoint.com/how-to-handle-swipe-gestures-in-kotlin
3. https://developer.android.com/training/gestures/detector

[2020-09-18 20:20] vj-codes commented on #776
@justdvnsh [here's](https://github.com/anitab-org/mentorship-ios/pull/106) what mentorship- ios does .
It takes a new page keeps the main title as Comments , then the subtitle is the task name and below that the comments are displayed.
You can try with android layout and color scheme in the same way and share the UI before creating a PR .That way UI can be reviewed too and keep the checkbox part a

[2020-09-18 20:22] Sommie09 commented on #755
Thank you so much, @vj-codes I would check them out!

[2020-09-18 20:23] justdvnsh commented on #776
@vj-codes Yeah sure. And what about the ui of task frag ? The tasks are being displayed as a list of checkboxes. So should I remove the checkboxes and just show the task title ?

[2020-09-18 20:24] vj-codes commented on #933
@rpattath I would like to work on this.Thanks!

[2020-09-18 20:28] vj-codes commented on #776
@justdvnsh for the current relation page tasks ui no

[2020-09-18 20:29] justdvnsh commented on #776
@vj-codes yeah. The current relation tasks .

[2020-09-18 20:32] vj-codes commented on #776
@justdvnsh no , if the checkboxes are removed it will be hard to differentiate completed tasks.It will be very ambiguous for new users .
There's another option about changing the color of completed task to green/blue but that won't be implemented anytime soon , so keep the checkbox!

[2020-09-18 20:34] justdvnsh commented on #776
@vj-codes Sure. Then I'll create a PR for it tomorrow.

[2020-09-18 22:20] SHITIZ-AGGARWAL commented on #925
@rpattath can you please help me , I have some questions ,

- like if the registration goes successful and and the person sends the request and gets accepted ,  will it be considered as a successful test ??

- if it gets rejected then will it be negative ??

- in a case where person is not able to send the request or not able to accept the request will it be considered as a negative test

- also i

[2020-09-19 00:30] rpattath commented on #933
@vj-codes are you assigned to any other issue for which you haven't created a PR yet?

[2020-09-19 03:57] raksh543 commented on #760
No @vj-codes. That was by mistake. Please make me assignee.

[2020-09-19 06:52] Abjcodes commented on #768
@vj-codes I am almost done,  will issue a PR within 1-2 days.

[2020-09-19 09:28] CodeChamp-SS commented on #787
@anna4j @garimasingh128 i've implemented saving profile for offline view, but while implementing saving tasks and requests i realised that a huge amount of code base has to be changes in order to achieve so. So what shall i do ?
Shall i make a pr with only feature of offline viewing of profile or what ?

[2020-09-19 09:42] garimasingh128 commented on #787
I think too much change in code would be too much to do for a single issue. We can store profile data offline for now and create separate issues for saving tasks and requests. What's say @anna4j @vj-codes ?

[2020-09-19 12:06] HeroicHitesh commented on #557
Sorry for the delays, I was solving some other issues also which caused delay. I have sent a PR #934
I took code from #461 as I wasn't sure if there's anything wrong there, it also worked fine on my local.
Also, I am not clear what to do regarding [this](https://github.com/anitab-org/mentorship-android/pull/461#discussion_r382949544) so, I have added `"null"` only as was in original PR if it needs

[2020-09-19 14:56] vj-codes commented on #933
@rpattath none right now!

[2020-09-19 15:46] darahask commented on #782
hey @garimasingh128, maybe as API has to be changed, can I send a PR including changes no 2 and 3?
For change no 1, it is possible to include some default token and send a request to API, but this is a serious problem to security.
And if I should wait I will, Thank you.

[2020-09-19 16:09] garimasingh128 commented on #782
Just wait for a day or two. Or else we'll create a separate issue for the availability of username.

[2020-09-19 16:16] iofall opened #935 "Add additional tests for SignUpActivity"
Add additional tests for the `SignUpActivity`

**Describe the solution you'd like**
Espresso tests to cover additional test cases for the `SignUpActivity` Screen

The tests will go [here](https://github.com/anitab-org/mentorship-android/tree/develop/app/src/androidTest/java/org/systers/mentorship)

**Acceptance criteria:**
- [ ] Connect Android device or open the emulator
- [ ] On terminal type ./

[2020-09-19 16:17] iofall commented on #935
@justdvnsh assigning you!

[2020-09-19 16:33] justdvnsh commented on #935
@iofall Cool. Thanks. Also, please can you label this issue as open source hack ? This would help me in the OSH and help me get involved in the community more.

[2020-09-19 17:00] vj-codes commented on #787
@garimasingh128 @CodeChamp-SS agreed for now just profile view is good , do update the issue accordingly though:)

[2020-09-19 18:39] justdvnsh commented on #935
@iofall Done. Created a PR

[2020-09-19 18:54] garimasingh128 opened #937 "Storing Tasks locally for access without network."
## Description
As an user of the app, sometimes I may need to check my task list but network connection may not be available. So my tasks should be stored locally in my phone. For example in Whatsapp, you can check the chats even if you're offline. In the same way, I should be able to check my stats on the app without going online. We can use room database for storing the data locally.

## Accepta

[2020-09-19 18:55] garimasingh128 opened #938 "Storing requests locally for easy access to user even without network"
## Description
As an user of the app, sometimes I may need to check my request list but network connection may not be available. So my requests should be stored locally in my phone. For example in Whatsapp, you can check the chats even if you're offline. In the same way, I should be able to check my stats on the app without going online. We can use room database for storing the data locally.

## A

[2020-09-19 21:07] alivabasa commented on #157
@rpattath I have submitted . The link is https://github.com/anitab-org/mentorship-android/pull/939. Please review.

[2020-09-20 01:44] mathurah commented on #933
Can I work on this issue?

[2020-09-20 01:56] actualpriyanshu commented on #933
Hey can you please assign this issue to me

[2020-09-20 01:57] actualpriyanshu commented on #901
Hey can you please assign this issue to me

[2020-09-20 04:56] vj-codes commented on #933
Assigning you both @mathurahravigulan @priyanshuone6
Happy designing!

[2020-09-20 05:19] CodeChamp-SS commented on #787
i've implemented the offline viewing of data in the profile fragment, i.e, the profile details. Is it fine ?

[2020-09-20 05:19] CodeChamp-SS commented on #787
shall i make the pr with these changes ?

[2020-09-20 05:37] garimasingh128 commented on #787
Ya go ahead

[2020-09-20 06:12] yash2189 commented on #924
May I work on this? I don't have any issue assigned yet.

[2020-09-20 06:13] yash2189 commented on #923
May I take this issue if available. I've not been assigned any issues yet.

[2020-09-20 07:43] niyati-n commented on #924
@rpattath Can i work on this for OSH?  i asked 2 says ago

[2020-09-20 13:41] niyati-n commented on #924
@aditmehta9 ^

[2020-09-20 13:45] alivabasa commented on #157
@rpattath I made the required changes. Please review.

[2020-09-20 13:50] yash2189 commented on #924
@rpattath @aditmehta9 Can I please work on this?

[2020-09-20 13:52] titiksha01 commented on #924
@rpattath While adding the ss in the markdown file i am saving the images/gifs in a folder and then adding them. Is this method correct or is there a way to directly add the images from my system to the markdown file? Pls guide me with this

[2020-09-20 14:20] FullBinaryAlchemist commented on #793
@vj-codes I have considered the suggestions given by iofall and reached till idling in Espresso testing ,as I have identified that we'll be requiring that.
I have been occupied with some other commitments, for the time being , so wasn't able to work on the PR for a while. My apologies for not communicating the same beforehand.
I''ll be able to resume the work from tomorrow onwards and my estimated

[2020-09-20 15:19] justdvnsh commented on #937
@garimasingh128 @iofall I'd like to work on this issue !!

[2020-09-20 17:05] rak108 commented on #537
@sanchi0204 Hi...what do i do now?

[2020-09-20 17:29] pknotfound commented on #715
@anna4j
The documentation issue for the same has almost completed i guess

Can you tell me the status on this one?

[2020-09-20 17:31] pknotfound commented on #938
@garimasingh128
Can I work on this issue?

[2020-09-20 17:33] pknotfound commented on #933
@vj-codes
Should the design be actually changed in the app?
If that is so, should I make a new issue for the same?

[2020-09-20 17:42] vj-codes commented on #933
@Priyansh-Kedia ahh no this and similar issues are about making a redesign of screens with similar features and trying different layouts through a mockup made in Figma/Adobe Xd .
Once the redesign is finalized then it will be  developed/coded.

[2020-09-20 18:12] pknotfound commented on #933
Ok
Thanks

[2020-09-20 18:39] justdvnsh commented on #603
@isabelcosta @iofall. Just for clarification, do I need to just store the credentials or like also give users the ability to login without entering the credentials. Something like this https://drive.google.com/file/d/1U9k5MbmLb0tlgu9TvBlB0--8VlwbiezD/view?usp=drivesdk

[2020-09-20 20:26] SHITIZ-AGGARWAL commented on #925
@rpattath While testing the application ,the search feature was not working properly should i include it in my documentation as an issue ??

[2020-09-20 21:50] rpattath commented on #925
@SHITIZ-AGGARWAL https://testingbasicinterviewquestions.blogspot.com/2015/03/exact-difference-between-positive-and.html has a good description and examples of positive and negative testcases. Let me know if you still have questions.

[2020-09-20 21:51] rpattath commented on #925
Please make sure there is an existing issue opened for it, if not open an issue. You need not mention the issue in the document.

[2020-09-21 01:39] actualpriyanshu commented on #811
Hey can you please assign this issue to me

[2020-09-21 01:39] actualpriyanshu commented on #810
Hey can you please assign this issue to me

[2020-09-21 01:41] actualpriyanshu commented on #808
Hey can you please assign this issue to me

[2020-09-21 03:20] swaraj961 commented on #783
@garimasingh128  @vj-codes  @anna4j
Hey mentors please look into my PR thanks :)

[2020-09-21 04:47] iofall commented on #808
Yep @priyanshuone6 we could use more PRs for this assigning you!

[2020-09-21 04:48] iofall commented on #808
We only have one linked PR for this issue till now, if anyone wants to work on this you can still claim it!

[2020-09-21 04:49] iofall commented on #810
@priyanshuone6 assigned to another issue, comment here once done and I will assign this to you. Thanks!

[2020-09-21 04:50] iofall commented on #811
@priyanshuone6 assigned to another issue, comment here once done and I will assign this to you. Thanks!

[2020-09-21 07:01] Abjcodes commented on #768
@vj-codes @sanchi0204 I have issued a PR. Please review it and inform me the changes required. Thank you.

[2020-09-21 10:46] sharur7 commented on #759
Can I work on this issue? @garimasingh128

[2020-09-21 11:07] CodeChamp-SS commented on #806
@iofall i would like to work on this issue, can you please assign it to me ?

[2020-09-21 12:39] Aditiwebd commented on #777
I would like to work on this.

[2020-09-21 13:11] rpattath commented on #924
@titiksha01 feel free to upload your screenshots as a comment to this issue. Then you can use those url's in your md file. You do not need to upload the files under the repo. HTH !

[2020-09-21 13:15] sanchi0204 commented on #759
@sharur7 this is a first timer issue. Since you have already made PRs for other issues, I cannot assign you this issue.

[2020-09-21 13:15] sanchi0204 commented on #759
@faznan3nazer what is the status ?

[2020-09-21 13:35] titiksha01 commented on #924
@rpattath  Okay so i can comment it out here itself, right?
Also, while performing the manual tests, i noticed that that search bar was not working and when i tried to apply the (A-Z) filter, it first lists out all the names that start with capital letter in this order and then the ones which start in small alphabets. So i should include this as test cases?

[2020-09-21 13:54] iofall commented on #603
Yes, I think this is exactly what we need. These credentials will still be saved if I uninstall the app right? So that I can use them on the next install?

[2020-09-21 14:45] yash2189 commented on #924
@rpattath it would take some time for me to make a PR since my term exams have been commenced.Is it fine if it takes >3 days?

[2020-09-21 15:35] actualpriyanshu commented on #811
Hey @iofall I am done with that issue, can you please assign this to me now

[2020-09-21 17:06] faznan3nazer commented on #759
sorry for the delay....I will create PR in two days...
@sanchi0204

[2020-09-21 21:29] titiksha01 commented on #924
Required ss for the pr
![1_Boarding_to_signup](https://user-images.githubusercontent.com/57208352/93809382-d47e4780-fc6a-11ea-972d-2ef3d9be2b3d.gif)
![2_Home_to_SignUp](https://user-images.githubusercontent.com/57208352/93809388-d7793800-fc6a-11ea-9c59-826c5839f3fe.gif)
![2_z_sucessfulLog](https://user-images.githubusercontent.com/57208352/93809391-d811ce80-fc6a-11ea-840c-e8b738054841.png)
![2_z_z

[2020-09-21 21:31] titiksha01 commented on #924
@rpattath Please review my pull request and guide me if any changes are required..
#950

[2020-09-22 04:22] priyanshuone6 commented on #810
Hey @iofall can you please assign this to me now, I am done with that issue

[2020-09-22 06:25] CodeChamp-SS commented on #806
@iofall I m new to writing expresso tests so need your help, I've a doubt : how will I check whether the request is sent or received by me ; do I've to hard code it or what ?

[2020-09-22 08:09] sanchi0204 commented on #537
I have seeked help from fellow mentors; will get back to you soon. You can also post your query on Zulip .

[2020-09-22 10:13] darahask commented on #782
@garimasingh128 can we split the issue?

[2020-09-22 11:19] garimasingh128 commented on #782
Yeah. Just create a PR and I'll create an issue with checking username availability.

[2020-09-22 13:52] niyati-n commented on #924
![1](https://user-images.githubusercontent.com/57863214/93891077-a4858180-fd08-11ea-8382-5c19b1a30045.jpeg)
![2](https://user-images.githubusercontent.com/57863214/93891135-b6672480-fd08-11ea-8ffa-87102d3a9101.jpeg)
![3](https://user-images.githubusercontent.com/57863214/93891179-c54dd700-fd08-11ea-97c9-b456a3c1fab6.jpeg)
![4](https://user-images.githubusercontent.com/57863214/93891196-cb43b800-fd

[2020-09-22 14:08] titiksha01 opened #953 "Entering Wrong Password Creates Glitch"
**Describe the bug**
Upon entering wrong password, the message "Session Token expired, Please login again" is displayed but the login screen keeps popping continuously until the user closes the app and restarts it. Even the back button would not work when this occurs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login Page'
2. Enter the login credentials and enter the password wrong

[2020-09-22 14:23] SHITIZ-AGGARWAL commented on #925
sending screen shots and gifs for link

[2020-09-22 14:39] alivabasa commented on #858
Hi, I would like to work on this, can it be assigned to me?

[2020-09-22 14:40] alivabasa commented on #857
Hi, I would like to work on this, can it be assigned to me?

[2020-09-22 14:54] garimasingh128 commented on #858
Hey! Too many people already assigned to this one and many have already opened PRs'. @anna4j @vj-codes can we assign more?

[2020-09-22 15:25] SHITIZ-AGGARWAL commented on #925
![GIF-200922_193734](https://user-images.githubusercontent.com/53532851/93901623-5a0a0200-fd14-11ea-9beb-4cdfba5a1eb0.gif)
![GIF-200922_193032](https://user-images.githubusercontent.com/53532851/93901671-68f0b480-fd14-11ea-8bd3-8e08ea1ecbb8.gif)
![GIF-200922_190544](https://user-images.githubusercontent.com/53532851/93901717-7148ef80-fd14-11ea-96ef-7d2911619eba.gif)
![GIF-200922_190309](https://us

[2020-09-22 15:32] SHITIZ-AGGARWAL commented on #925
![WhatsApp Image 2020-09-22 at 19 58 40](https://user-images.githubusercontent.com/53532851/93903313-20d29180-fd16-11ea-84c7-f732f8a145d8.jpeg)
![WhatsApp Image 2020-09-22 at 19 59 02](https://user-images.githubusercontent.com/53532851/93903317-229c5500-fd16-11ea-8dc9-834b3b8a6b8e.jpeg)
![WhatsApp Image 2020-09-22 at 19 59 15](https://user-images.githubusercontent.com/53532851/93903321-24661880-fd

[2020-09-22 16:06] darahask commented on #782
please check the pr @garimasingh128, Thank you.

[2020-09-22 16:44] sanchi0204 opened #955 "Change the About section in Settings (from Systers to AnitaB.org)"
**Describe the bug**
The first line under About section says : " Systers is an international......".

**Expected behavior**
Replace Systers with AnitaB.org

[2020-09-22 16:53] sanchi0204 commented on #769
Unassigning due to inactivity

[2020-09-22 16:55] sanchi0204 commented on #758
@dhivyasundart are you working on this?

[2020-09-22 17:09] sanchi0204 opened #956 "Write a document on how to use the app"
**Is your feature request related to a problem? Please describe.**
Write a document as a .md file which covers all features of the app and how to use the app to make use of those features.

**Describe the solution you'd like**
Add screenshots of each layout in an ordered manner of how a user shall use the app and proceed further.
eg: 1. Splash screen (screenshot)
App opens and user waits for app t

[2020-09-22 17:21] sanchi0204 opened #957 "Write a documentation about the problems a visually impaired user might face while using the app"
**Is your feature request related to a problem? Please describe.**
Write a documentation about the problems a visually impaired user might face while using the app

**Describe the solution you'd like**
1. Add about the problems like Talkback compatibility, color blindness, small test etc.
2. Accentuate both the positive and negative points about each layout with the help of a screenshot/ GIF

eg:

[2020-09-22 17:27] garimasingh128 commented on #782
Yup. We will review it but might not be able to merge it. You can move on to your next issue if you wish.

[2020-09-22 17:38] sharur7 commented on #956
@sanchi0204 Can I work on this issue?

[2020-09-22 17:49] alivabasa commented on #957
I want to work on this. Can it be assigned to me?

[2020-09-22 17:51] alivabasa commented on #956
Can I work on this?

[2020-09-22 18:38] sanchi0204 commented on #957
Sure

[2020-09-22 18:39] sanchi0204 commented on #956
Sure

[2020-09-22 19:25] epicadk commented on #955
can I work on this?

[2020-09-22 20:43] SHITIZ-AGGARWAL commented on #925
@rpattath @sanchi0204  please review my PR

[2020-09-22 20:56] SHITIZ-AGGARWAL commented on #933
@rpattath I have submitted my PR to my previous issues can I work on this one now??

[2020-09-22 21:12] sanchi0204 commented on #955
Sure

[2020-09-23 04:22] dhivyasundart commented on #758
No reassign it

[2020-09-23 04:42] darahask commented on #782
@garimasingh128  thankyou, just a question why pr won't be merged?

[2020-09-23 05:18] garimasingh128 commented on #782
Well, a PR before merging requires proper testing from @anitab-org/qa-team and @anitab-org/coding-team. So, when it finally gets the approval, we will merge it. I am not sure if it would be possible within September but the mentors would review it themselves.

[2020-09-23 06:42] SHITIZ-AGGARWAL opened #959 "Feature : Limiting the number of requests sent by a user to another"
**Is your feature request related to a problem? Please describe.**
- A user can send any amount of requests to a particular user just by changing the date which can lead to spam
- Also many users can send request to the same user which can also lead to confusion and problem for the acceptor

**Describe the solution you'd like**
- If a user sends to request to another user ,then he should not be ab

[2020-09-23 06:49] DivyaR12 commented on #758
Hi
I would like to work on this

[2020-09-23 07:30] epicadk opened #960 "Bug : App crashes in sign up activity"
**Describe the bug**
Trying to sign up causes the app to crash and user tries to sign up again it says email has already been registered. On checking the log I get an HTML response.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sign up page
2. Fill in the details and in the name field fill only your first name
3. Scroll down to sign up button
4. See error

**Expected behavior**
A

[2020-09-23 07:34] CodeChamp-SS commented on #953
@sanchi0204 is this a valid issue ? As i m not facing this problem, the app just shows a snackbar with a msg "Something went wrong", that's it

[2020-09-23 08:05] CodeChamp-SS commented on #806
@iofall unassigning myself as I am not able to figure out how to write the required tests :-)

[2020-09-23 08:07] CodeChamp-SS commented on #959
@sanchi0204 I would love to work on this issue, please assign me whenever the issue is available

[2020-09-23 08:12] epicadk commented on #953
I can second this. Facing the same issue on my Moto e4 Plus

[2020-09-23 08:23] parul46 commented on #957
Can i work on this?! Is this issue still available?1

[2020-09-23 08:25] parul46 commented on #955
Can i work on this issue?!

[2020-09-23 08:29] maharishi-01 commented on #925
Hello @SHITIZ-AGGARWAL, Have you noticed if you again send the mentorship request at the same day it is showing *you have already sent a similar request to person1* and also one more thing I have noticed if I am selecting the end date:- just 1 day before today's date(yesterday) and send the request. it shows *mentorship relation was sent successfully* any idea?

[2020-09-23 08:48] parul46 commented on #956
Can i please work on this issue?

[2020-09-23 09:03] CodeChamp-SS commented on #953
ok ok.... found the issue

[2020-09-23 09:07] sharur7 commented on #923
![1600499582930](https://user-images.githubusercontent.com/57194200/93991590-1bbf2200-fdaa-11ea-868a-ec5decf73b82.jpg)
![1600499582928](https://user-images.githubusercontent.com/57194200/93991603-1eba1280-fdaa-11ea-9508-86ffc8e94100.jpg)
![1600499582924](https://user-images.githubusercontent.com/57194200/93991608-1f52a900-fdaa-11ea-89e4-0183a6c320bc.jpg)
![1600499582921](https://user-images.github

[2020-09-23 09:16] CodeChamp-SS commented on #953
@sanchi0204 i would love to work on this issue can u pls assign it to me ?

[2020-09-23 09:16] CodeChamp-SS commented on #953
i'm almost done fixing it too

[2020-09-23 09:51] vj-codes commented on #758
Assigning you @DivyaR12
Happy documenting!

[2020-09-23 10:47] sanchi0204 commented on #953
Sure

[2020-09-23 10:49] maharishi-01 commented on #924
Screenshots and Gifs used in PR:-
![1empty field](https://user-images.githubusercontent.com/42871956/93993691-abfe6680-fdac-11ea-8385-79bc61dc89f2.gif)
![2name](https://user-images.githubusercontent.com/42871956/93993891-ea942100-fdac-11ea-8d32-44a8a47bb3a5.jpg)
![3username](https://user-images.githubusercontent.com/42871956/93994022-0dbed080-fdad-11ea-84e4-b015e63859dd.gif)
![4userneame_less](htt

[2020-09-23 10:51] sanchi0204 commented on #955
Sorry, but the issue has been assigned a PR has been raised too

[2020-09-23 11:06] epicadk commented on #960
I think this can be solve by either adding another last name field or by performing a validation on the name field to ensure it has both first and last names

[2020-09-23 12:14] SHITIZ-AGGARWAL commented on #808
@sanchi0204  @iofall @vj-codes  I would love to work on this issue, I have submitted PRs to my previous issues so can I work on this issue??

[2020-09-23 12:31] SHITIZ-AGGARWAL commented on #925
@maharishi1  yes , if you send the mentorship request to same person for same end date then it will show "request already sent" but if you change the end date then you can send the request again successfully which according to me should not happen because the receiver can get confused also this can lead to spam ,thus I have created an issue for that ,,

As for the date before today ,in my applicat

[2020-09-23 12:48] CodeChamp-SS commented on #933
@rpattath can i work on this issue ?

[2020-09-23 13:20] maharishi-01 commented on #925
Yup Understood, Thanks @SHITIZ-AGGARWAL  for creating the issue.

[2020-09-23 13:23] sharur7 commented on #956
I have a doubt should I make a screenshot folder or attach screenshots to this issue in the comments?  @sanchi0204

[2020-09-23 13:29] rpattath commented on #933
@CodeChamp-SS are you assigned to any other issue for which you haven't created a PR yet?

[2020-09-23 13:31] CodeChamp-SS commented on #933
no, i've created a pr for all the previous issues

[2020-09-23 15:43] CodeChamp-SS commented on #933
so can u pls assign me ?

[2020-09-23 16:04] sanchi0204 commented on #956
add ss directly; no need for a folder

[2020-09-23 16:13] sharur7 commented on #956
So, I should put screenshots in the same folder of Readme right? @sanchi0204

[2020-09-23 18:10] CodeChamp-SS commented on #933
@rpattath pls review the pr :-)

[2020-09-23 20:18] faznan3nazer commented on #759
Uploading the screenshots.
![Screenshot_1600871741](https://user-images.githubusercontent.com/50888936/94063751-345d2580-fe06-11ea-94a8-ec2765f2690a.png)
![Screenshot_1600872612](https://user-images.githubusercontent.com/50888936/94063763-37f0ac80-fe06-11ea-9948-c6d0c0b62000.png)
![Screenshot_1600881687](https://user-images.githubusercontent.com/50888936/94063766-38894300-fe06-11ea-9031-eaafda34d4

[2020-09-23 20:41] faznan3nazer commented on #759
@sanchi0204  I can't see the onboarding screen again when I tried to open the project locally... Is it can be  view only once?
I tried to clear the cache...

[2020-09-23 20:47] sanchi0204 commented on #960
@epicadk pls add a GIF or ss to show the error you are talking about

[2020-09-23 20:52] sanchi0204 commented on #959
@SHITIZ-AGGARWAL I agree with your 1st and 2nd points but I think that limiting the feature of Send Request is not a good idea as a mentee might need help; and either of the 5 mentors to whom request has been sent don't reply/accept/reject the request.

Moreover, I think for point 1, a user shall not be able to send request again till 1 month, rather than waiting for requests to be deleted or reje

[2020-09-23 20:53] sanchi0204 commented on #959
@isabelcosta pls have a look at this issue and suggest about its validity

[2020-09-23 21:13] epicadk commented on #960
Seems to be working fine now Idk why I got the error in the before, I'll close the issue.

[2020-09-23 21:13] #960 closed

[2020-09-24 07:11] SHITIZ-AGGARWAL commented on #811
@iofall @sanchi0204 is this issue still available?? If yes I would love to work on this

[2020-09-24 08:50] SHITIZ-AGGARWAL commented on #769
@sanchi0204 I would love to work on this issue if it is available , I  have some doubts
 - I wanted to ask whether we have to create ui flow for one solution or for  all the solutions mentioned ?

 - we have to create ui flow like the one mentioned below??

![](https://user-images.githubusercontent.com/11148726/49248058-c1084980-f410-11e8-8830-ab407ed370f3.png)

- and in what format pr should me m

[2020-09-24 09:44] sanchi0204 commented on #769
create a UI for all of them as in layout 1 : add button against each user to send request directly and then on button click; dialog should appear to enter other info.

[2020-09-24 09:44] sanchi0204 commented on #769
Seek reference [here](https://github.com/anitab-org/mentorship-android/issues/91)

[2020-09-24 09:45] sanchi0204 commented on #769
And the design should be in figma/adobe.
link should be added in docs/ui under .md file
ss under docs/ui

[2020-09-24 13:15] rpattath opened #968 "UX case study: Research about new user experience design for “Sending a request to another user”."
**Is your feature request related to a problem? Please describe.**
UX case study: Research about new user experience design for “Sending a request to another user”.

**Describe the solution you'd like**
Come up with a md file with drawbacks of current design and screen shots of new design.

[2020-09-24 14:21] alivabasa commented on #957
@sanchi0204 Can you please specify the file structure?

[2020-09-24 14:33] justdvnsh commented on #603
@iofall . Yes. The credentials would remain saved even when the user uninstall the app.
https://drive.google.com/file/d/1XARDVyENA27uk3V_E_Qb5ZAl3jqLbVmS/view?usp=sharing
Here is the link to the working video. Also, have created a PR

[2020-09-24 14:43] sanchi0204 commented on #957
Ss/GIF of the layout
Pros
Cons

as per a visually impaired person

[2020-09-24 14:53] alivabasa commented on #957
@sanchi0204 In pr only, I have to describe everything. Is it right?

[2020-09-24 15:14] sanchi0204 commented on #957
You need to make a .md file

[2020-09-24 15:16] alivabasa commented on #957
ok..

[2020-09-24 17:24] SHITIZ-AGGARWAL commented on #769
@sanchi0204  is this okay?

![image](https://user-images.githubusercontent.com/53532851/94179142-b65a5680-feb9-11ea-894a-ad703fd2f08b.png)

[2020-09-24 18:03] titiksha01 commented on #968
Hi,  I would like to work on this.Can it be assigned to me?

[2020-09-24 18:04] sanchi0204 commented on #769
Amazing work @SHITIZ-AGGARWAL !

[2020-09-24 18:04] sanchi0204 commented on #769
@vj-codes pls have a look at this and suggest any changes if u want to

[2020-09-24 18:14] vj-codes commented on #769
@sanchi0204 @SHITIZ-AGGARWAL the UI is good but the aim of the issue is to decrease one step for send request feature.
What you shared requires 3 steps and the current UI also has 3 . Did you get what I mean?

[2020-09-24 18:51] rpattath commented on #968
@titiksha01 are you assigned to any other issue that you haven't created a PR for?

[2020-09-24 18:58] titiksha01 commented on #968
@rpattath  No... I have submitted PRs for all other issues I had been assigned.

[2020-09-24 19:28] SHITIZ-AGGARWAL commented on #769
@vj-codes @sanchi0204
- how about I add a see information tab so that after plus sign the user can directly send the request ,and if the user want to see information then they can click on the tab and then hide info , i think this will make it a two step process and the user can also see the information if they want to
![image](https://user-images.githubusercontent.com/53532851/94190067-3936dd80-f

[2020-09-24 19:46] vj-codes commented on #769
@SHITIZ-AGGARWAL I like the first way, but instead of having the see info button on top right you can place it next to the send request button or under the user name with underlined text and instead add a cross for exit in top right.
Also the red color for buttons usually signify something `dangerous or irreversible action in apps`, can you update that color too?
How's that?

[2020-09-24 19:47] vj-codes commented on #769
@SHITIZ-AGGARWAL also in see info I won't be able to see others mail id

[2020-09-24 19:48] SHITIZ-AGGARWAL commented on #769
sure ,I will make the changes : )

[2020-09-24 21:25] SHITIZ-AGGARWAL commented on #769
@vj-codes @sanchi0204
https://www.figma.com/file/R94P8WZHvWLlobrwYHrl2p/member-screen-dialog-box?node-id=0%3A1
any other suggestions

shall I make the PR now??

[2020-09-24 21:38] alivabasa commented on #957
@sanchi0204  Plz review .

https://github.com/anitab-org/mentorship-android/pull/971

[2020-09-24 21:55] vj-codes commented on #769
@SHITIZ-AGGARWAL since everything is center aligned can you please align `To John Wick` the same ?and is the `send request` on top center a button or page title (coz it looks more like a button rn )
just this small change and you can create the PR!

[2020-09-24 23:04] SHITIZ-AGGARWAL commented on #769
@vj-codes @sanchi0204 please review the pr and please tell if any changes are required
thank you for guiding me : )

[2020-09-25 07:51] sharur7 commented on #956
![about](https://user-images.githubusercontent.com/57194200/94240949-a1210e80-ff31-11ea-96c4-5d05d82f66d8.jpg)
![accept_reject](https://user-images.githubusercontent.com/57194200/94240959-a41bff00-ff31-11ea-9e46-c84e81f891a1.jpg)
![change_pass](https://user-images.githubusercontent.com/57194200/94240960-a4b49580-ff31-11ea-98ad-2ac90f9e7660.jpg)
![completed](https://user-images.githubusercontent.co

[2020-09-25 08:20] sanchi0204 commented on #968
@rpattath an [issue ](https://github.com/anitab-org/mentorship-android/issues/769)has already been made for this and a [PR ](https://github.com/anitab-org/mentorship-android/pull/972)has also been made.

[2020-09-25 10:12] rpattath commented on #777
@Aditiwebd are you currently assigned to any other issue for which you haven't created a PR yet?

[2020-09-25 10:20] rpattath commented on #924
@yash2189 any updates. Let me know if you need more time.

[2020-09-25 10:32] rpattath commented on #933
@vj-codes any updates?

[2020-09-25 10:37] rpattath commented on #968
Thank you for the update @sanchi0204. @titiksha01 I will have to close this issue.

[2020-09-25 10:37] #968 closed

[2020-09-25 11:42] yash2189 commented on #924
Sorry for the late response, I will be doing it today. would be raising a PR till tomorrow afternoon. I hope that's fine @rpattath ?

[2020-09-25 12:42] vj-codes commented on #933
@rpattath yupp I will create a PR today , sorry for the delay was working on backend

[2020-09-25 13:57] Aditiwebd commented on #777
No,I am not.

[2020-09-25 14:14] Abjcodes commented on #805
Can I work on this?

[2020-09-25 14:16] Abjcodes commented on #729
Can I work on this issue? Thank you.

[2020-09-25 15:45] spacemonkey1101 commented on #850
Is this issue still open?

[2020-09-25 16:48] maharishi1 opened #974 "Log In error message should be more meaningful"
**Describe the bug**
Currently, When the user try to log in with Username/email(which is not registered/exists) or wrong password an error shows up `"Something went wrong"` Which is not a meaningful error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Log in page'
2. Enter wrong 'username/email or password'
3. Click on 'LOGIN Button'
4. See error

**Expected behavior**
- if

[2020-09-25 17:38] CodeChamp-SS commented on #974
@rpattath is the issue available ? I am willing to work on it if yes

[2020-09-25 20:34] Sommie09 commented on #755
Would send in a PR any moment from now @vj-codes Sorry for the delays

[2020-09-25 20:43] vj-codes commented on #956
@sharur7 any specific reason to post screenshots here?

[2020-09-25 20:44] vj-codes commented on #937
@justdvnsh any updates? I see your commit but no PR 👀

[2020-09-25 20:46] vj-codes commented on #801
@iofall is this available or not ?

[2020-09-25 20:47] vj-codes commented on #797
@ashwinijha6 how's the design going?

[2020-09-25 20:48] vj-codes commented on #793
@FullBinaryAlchemist hey are you still working on this? Contributors must update their progress after every 3 days in case it's taking long as per the community guidelines.

[2020-09-25 20:49] justdvnsh commented on #937
@vj-codes Yes. I started working on it just now ! 😅

[2020-09-25 20:49] vj-codes commented on #784
Unassigning @yashhalgaonkar due to inactivity .If you would like to work again , do let us know in comments:)

[2020-09-25 20:50] sharur7 commented on #956
@vj-codes There won't be any need to add screenshots in the directory. They are only needed in Readme. that's why I added them here and linked them to readme.

[2020-09-25 20:51] vj-codes commented on #776
@justdvnsh any updates?

[2020-09-25 20:55] Sommie09 commented on #755
One last problem, the swipe works perfectly forward and backwards if the swipe to refresh is removed

[2020-09-25 20:55] Sommie09 commented on #755
Should I go ahead? @vj-codes

[2020-09-25 20:56] vj-codes commented on #591
Unassigng @ydasc815  and making it due to inactivity.If you would like to work on this later do let us know in comments:)

[2020-09-25 20:57] vj-codes commented on #755
@Sommie09 yeah sure 👍

[2020-09-26 05:51] iofall commented on #801
No @vj-codes, I don't think multiple PRs will be useful on this issue.

[2020-09-26 07:41] justdvnsh commented on #801
@iofall @vj-codes I have submitted a PR for this issue. Also, it has been approved.

[2020-09-26 09:17] Sommie09 commented on #670
Hello @anna4j could I get a review of what this issue is about?

[2020-09-26 09:29] vj-codes commented on #801
@iofall ahh no what I meant was you removed @justdvnsh 's assignment so was confirming

[2020-09-26 10:29] ashwinijha6 commented on #797
@vj-codes working on it will try to complete it by tmr

[2020-09-26 11:15] devkapilbansal commented on #591
@vj-codes @anna4j Can I work on this?

[2020-09-26 12:19] vj-codes commented on #591
Assigning you @devkapilbansal
Happy coding!

[2020-09-26 15:31] alivabasa commented on #957
![Login](https://user-images.githubusercontent.com/46787232/94344205-54c1f580-003b-11eb-96e9-22da301cd425.jpg)
![Home](https://user-images.githubusercontent.com/46787232/94344211-5c819a00-003b-11eb-9ae2-55287e4f9ff8.jpg)
![Profile](https://user-images.githubusercontent.com/46787232/94344213-60152100-003b-11eb-9a4b-d549535d2b12.jpg)
![Current_Relation](https://user-images.githubusercontent.com/4678

[2020-09-26 19:26] faznan3nazer commented on #670
I would like to work on this issue...can you please assign me this?

[2020-09-27 07:23] justdvnsh commented on #776
@vj-codes Sent a PR !!

[2020-09-27 10:47] ashwinijha6 commented on #797
@SHITIZ-AGGARWAL where did u find the bottom nav bar could u help me with it?

[2020-09-27 10:57] SHITIZ-AGGARWAL commented on #797
@ashwinijha6
I took the SS from the application and cropped it out
![members screen nav](https://user-images.githubusercontent.com/53532851/94363202-47aa1280-00de-11eb-819e-1052d6d8e297.jpg)

[2020-09-27 11:26] ashwinijha6 commented on #797
Ok I thought there was a .png file available for the bottom nav bar thanx

[2020-09-27 12:19] #925 closed

[2020-09-27 13:35] ashwinijha6 commented on #797
@vj-codes here it says to add the file in the docs/ui I can't find the location?

[2020-09-27 14:07] vj-codes commented on #797
@ashwinijha6 right, you have to create both folders

[2020-09-27 17:26] yash2189 commented on #924
@rpattath should I add the commit message as docs since I wanted to take this as a documentation issue? Can you please suggest me?

[2020-09-27 17:38] ashwinijha6 commented on #797
ok @vj-codes

[2020-09-27 17:48] yash2189 commented on #924
@rpattath Please review my PR

[2020-09-27 17:53] rpattath opened #980 "UI/UX for scheduling meetings between mentor and mentee"
**Is your feature request related to a problem? Please describe.**
UI/UX for scheduling meetings between mentor and mentee

**Describe the solution you'd like**
Research about MVP UI/UX for scheduling meetings between mentor and mentee: where to have the screen, how many steps would a user need to complete a meeting scheduling; where would they see the meeting.

**Outcome**
An md file with design

[2020-09-27 18:01] rpattath opened #981 "UX/UI for Admin only features"
**Is your feature request related to a problem? Please describe.**
Login for Admin and features that only an Admin user will have access to.

**Describe the solution you'd like**
Come up with design proposals and description of features in an md file.

[2020-09-27 19:16] ashwinijha6 commented on #797
@anna4j & @vj-codes I made made the pull request regarding this issue could u'll pls review my pull request & let me know the changes that are required.

[2020-09-27 19:37] ashwinijha6 commented on #809
@iofall I would like to work on this

[2020-09-27 19:39] ashwinijha6 commented on #796
@vj-codes  & @anna4j could u pls assign me this issue as I want to work on this as an osh participant

[2020-09-27 19:48] ashwinijha6 commented on #809
@iofall just had a question will all the pull requests related to ui in osh be considered?

[2020-09-27 19:53] ashwinijha6 commented on #809
@iofall is it compulsory to use the prominent_nav_bar in the design?

[2020-09-27 19:53] vj-codes commented on #809
@ashwinijha6 this issue is same as #797 that you were assigned and created a PR .You can't work on same issue twice
cc: @iofall

[2020-09-27 19:55] ashwinijha6 commented on #809
ok ok I thought the members & members list pages were different. I will unassign myself

[2020-09-27 20:01] faznan3nazer commented on #980
@rpattath Hey... I would like to work on this issue... can you please assign me this?

[2020-09-27 20:10] rpattath commented on #980
@faznan3nazer are you currently assigned to any issue for which you have not created a PR yet?

[2020-09-27 20:11] iofall commented on #809
Nice catch. Thanks for this!

[2020-09-27 20:15] faznan3nazer commented on #980
No...

[2020-09-27 22:03] alivabasa commented on #957
![Current_Relation](https://user-images.githubusercontent.com/46787232/94376731-0fd0b880-013a-11eb-86ac-67d5f60d9867.jpg)
![Home](https://user-images.githubusercontent.com/46787232/94376759-40185700-013a-11eb-80b8-7bf8c2848a9f.jpg)
![Login](https://user-images.githubusercontent.com/46787232/94376761-43abde00-013a-11eb-8102-b4364d9fc6ee.jpg)
![Members](https://user-images.githubusercontent.com/4678

[2020-09-27 22:05] alivabasa commented on #957
![delete_account](https://user-images.githubusercontent.com/46787232/94376986-aa7dc700-013b-11eb-92f7-7d2a6f123453.jpg)
![filter](https://user-images.githubusercontent.com/46787232/94376988-ad78b780-013b-11eb-849d-189134de3fae.jpg)
![settings](https://user-images.githubusercontent.com/46787232/94376992-b23d6b80-013b-11eb-8ad2-9e7c1a3acdb5.jpg)

[2020-09-28 04:42] HeroicHitesh commented on #901
@vj-codes if this issue is still available, please assign it to me?

[2020-09-28 04:43] HeroicHitesh commented on #808
@iofall Is this issue still available, if yes, I would like to send a PR too

[2020-09-28 04:44] HeroicHitesh commented on #807
@iofall is this issue still available? If yes, I would like to work on it, can you assign it to me?

[2020-09-28 04:45] HeroicHitesh commented on #797
@anna4j I am interested to work on this, can you assign this issue to me?

[2020-09-28 04:47] HeroicHitesh commented on #668
@vj-codes @bartekpacia Can I work on this for `User Interface` category?

[2020-09-28 04:51] HeroicHitesh commented on #981
@rpattath I would like to work on this, can you assign this issue to me?

[2020-09-28 05:00] sanchi0204 commented on #808
Sure

[2020-09-28 05:01] sanchi0204 commented on #668
This will be considered under coding category. Do you still want to work?

[2020-09-28 05:48] HeroicHitesh commented on #668
@sanchi0204 thanks for the prompt reply. Actually, I got assigned to #808 and I'll work on that first to complete that before OSH ends. After that, I'll try to take it up, but you can keep it open, for anyone who wants to contribute in the meantime.

[2020-09-28 08:37] iofall commented on #807
@HeroicHitesh you are assigned to another issue.

[2020-09-28 09:33] beingrudraksh commented on #668
Excited to work on this, I request to assign me to resolve this issue. I can start working on it from today itself.

[2020-09-28 09:41] vj-codes commented on #668
Assigning you @beingrudraksh
Happy coding!
Note : if you ae working on this issue for OSH , you would have to create a  PR on/before 30th Sept

[2020-09-28 09:41] beingrudraksh commented on #780
@aditmehta9  May I be assigned to work on this issue?

[2020-09-28 09:43] vj-codes commented on #780
@beingrudraksh assigned you #668 . Please work on one issue at a time , after that's done you can surely work on this!
And this issue is on hold btw

[2020-09-28 09:47] vj-codes commented on #901
@HeroicHitesh are you working on any other issue right now? If yes , after that's complete I can assign you this one .

[2020-09-28 09:51] codesankalp commented on #901
@vj-codes I want to work on this issue.

[2020-09-28 09:53] vj-codes commented on #901
@codesankalp are you assigned to any issue which is not completed yet?

[2020-09-28 09:59] beingrudraksh commented on #668
@vj-codes Thanks for assigning this, will soon update you!

[2020-09-28 10:00] beingrudraksh commented on #780
Sure:)
Will soon comeback to this. I wanted to confirm that only whether this issue was available or still on hold.

[2020-09-28 10:03] vj-codes commented on #780
@beingrudraksh the issue will be available only after this feature is implemented on mentorship-backend
Once it's done , the label will be updated to `Status:available`

[2020-09-28 10:06] beingrudraksh commented on #780
The label was being updated as `Available` by @aditmehta9 and only after that I asked for assignment.

[2020-09-28 10:21] codesankalp commented on #901
No, I have made pull request on all issues which I have assigned.

[2020-09-28 10:23] vj-codes commented on #901
Assigning you @codesankalp
Happy designing!

[2020-09-28 10:40] vj-codes commented on #780
@beingrudraksh sorry for the inconvenience updated it correctly again

[2020-09-28 10:48] epicadk commented on #974
This issue will be solved along with fix#953 I do not think there is a need for a separate issue

[2020-09-28 11:14] aditmehta9 commented on #780
Sorry, I mislabeled the issue. During labelling issues, multiple issues were opened.

[2020-09-28 12:45] rpattath commented on #981
@HeroicHitesh are you currently assigned to any issue for which you haven't created a PR yet?

[2020-09-28 12:54] HeroicHitesh commented on #981
Not any belonging to the `Outreach/Research` category. But yes I am assigned to the `User Interface` category issue for which I am planning to create a PR by tonight.

[2020-09-28 13:03] rpattath commented on #981
@HeroicHitesh you can be working on only 1 PR at a time. So please complete that PR and comment here again when you are done.

[2020-09-28 13:24] epicadk commented on #974
Actually there is a proper message that says username/password incorrect that will occur whenever the request is sent successfully , you just don't see it due to the issue #953 . If you try to enter an incorrect password 2 times you should get the issue #953. However the something went wrong message is due to another error which is
`HTTP FAILED: java.lang.IllegalArgumentException: Parameter specif

[2020-09-28 13:36] aryasoni98 commented on #981
I would like to work on this, can you assign this issue to me?
@rpattath

[2020-09-28 13:46] SHITIZ-AGGARWAL commented on #981
@rpattath I would like to work on this ,I dont have any pending issues

[2020-09-28 13:51] rpattath commented on #981
@aryasoni98 are you currently assigned to any issue for which you haven't created a PR yet?

[2020-09-28 14:24] epicadk commented on #784
@vj-codes can I work on this?

[2020-09-28 14:54] Quickbeasts51429 commented on #981
@rpattah I would surely like to work upon it. And also I don't have any pending issues.

[2020-09-28 15:09] MayankBeck commented on #981
@pattath I would love to work on this issue and also I don't have any pending issues.

[2020-09-28 15:10] sanchi0204 commented on #953
Assigning both @CodeChamp-SS and @epicadk as both have raised a PR for the issue.
Both PRs will be considered for OSH but only the best PR will be merged

[2020-09-28 15:28] HeroicHitesh commented on #981
@rpattath I have created a PR for the issue I was assigned to so, can I take this up now?

[2020-09-28 15:42] iofall opened #987 "Fix Feedback Screen validation errors"
**Describe the bug**
The Feedback screen shows validation errors even when the user has not pressed submit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Feedback Screen
2. You will see the validation errors in **red** as shown in the screenshot below

**Expected behavior**
The validation errors should be shown only when the user clicks on the submit button.

**Screenshots**

![i

[2020-09-28 15:43] vj-codes commented on #784
Assigning you @epicadk
Happy coding!
Note : this is an OSH issue so the PR must be created on/before 30th Sept

[2020-09-28 16:17] epicadk commented on #784
@vj-codes Oh sorry I didn't realize that. I am not particularly interested in the OSH tag I just wanted to work on this. If anyone else wants to work on this for OSH please let them . I will work on this after the event then if possible.

[2020-09-28 16:25] vj-codes commented on #784
@epicadk no problem, you can still work on this just will have to wait until 1st Oct to submit the fix.What say?

[2020-09-28 16:35] epicadk commented on #784
Sure will do :-)

[2020-09-28 17:55] CodeChamp-SS commented on #987
@iofall i would love to work on this issue, can u pls assign it to me ?

[2020-09-28 18:31] alivabasa commented on #590
Can i be assigned this issue?

[2020-09-28 19:04] iofall commented on #987
@CodeChamp-SS assigning you. You aren't working on any other issue right? Remember to only work on 1 PR at a time.

[2020-09-28 19:29] CodeChamp-SS commented on #987
i've made prs for all my previous issues :-)

[2020-09-28 19:30] CodeChamp-SS commented on #987
@iofall the validation check has to be started once the send feedback button is clicked right ?

[2020-09-28 19:34] iofall commented on #987
Yes @CodeChamp-SS

[2020-09-28 20:28] epicadk commented on #784
@vj-codes for some reason my account does not have any tasks done and tasks to do. As in there is not tasks done or tasks to do JSON array in the response. Is this an issue that I should take up with the backend or should I code according to the current response?

[2020-09-28 20:34] vj-codes commented on #784
@epicadk tasks are only  possible after a user is in a mentorship relation with another user as a mentor/mentee.
The simplest way is to make another account on apk, send a request to the previous acc accept it and then create/complete tasks.
If even after doing as suggested above the same problem persists, do make an issue. What say?

[2020-09-28 20:37] epicadk commented on #784
Oh okay sure, Also what is the meaning of  Show the count of relationship in each category using a table view?

[2020-09-28 21:18] vj-codes commented on #784
@epicadk count as in the no of pending, accepted , rejected , cancelled for mentorship requests and completed, ongoing for mentorship relations.
But just to be more sure, can you please tag the author and confirm once?

[2020-09-28 23:42] vatsalkul commented on #784
Yes @vj-codes you are right.

[2020-09-29 04:33] HeroicHitesh commented on #981
@rpattath I have some doubts, can you please clarify them at the earliest so that I can continue with the PR
- > Come up with design proposals and description of features in an md file.

Here are we required to create a UI design like we did in the User Interface issues or simply text explaining that these are the features required?

- > Login for Admin

By this, I am assuming we will be having an

[2020-09-29 12:18] CodeChamp-SS commented on #987
@iofall pls review the pr :-)

[2020-09-29 13:02] epicadk commented on #784
I don't see the mentorship relations in the response Model do we have to get it from a different endpoint? Also for the mentorship requests should we further sort them into sent the received ? @vatsalkul

So currently I have set it up like this. There are two columns unders As mentor one for sent and one for received requests. Same for as Mentee. Should I just combine the two or should I keep sent

[2020-09-29 13:02] rpattath commented on #981
UI design and text explaining those designs.

You can use your ideas, but ideally there need not be a separate login for Admins. But the sign-up should be different for Admins.

After a user with admin rights login they should see more tabs for admin related features. Attaching a screenshot of a few admin features on the backend.
![Screenshot from 2020-09-29 09-01-31](https://user-images.githubuse

[2020-09-29 14:55] alivabasa commented on #759
Can I work on this??

[2020-09-29 15:50] sanchi0204 commented on #759
Sorry, can't assign you as this is a first timer issue and you have already contributed

[2020-09-29 15:54] sanchi0204 commented on #758
@DivyaR12 are you working on this?

[2020-09-29 15:56] sanchi0204 commented on #590
@Aditiwebd are you working on this?

[2020-09-29 15:57] devkapilbansal commented on #807
@vj-codes can you assign me this? As the last issue I was working on is almost completed and as I have my design ready for this. Will make a pr as soon as this issue is assigned

[2020-09-29 15:59] alivabasa commented on #590
Thank you soo much...  @sanchi0204

[2020-09-29 16:01] vj-codes commented on #807
@devkapilbansal ehh sorry I can't, it's in community guidelines to work on one issue at once. After that's done, I can surely assign you this one :)

[2020-09-29 16:04] Aditiwebd commented on #590
Sry I completed my last PR and forgot about it.I will start this immediately. :smile:

[2020-09-29 16:06] devkapilbansal commented on #807
@vj-codes okay I am unassigning that for now. Will work on it later. Assign me this one

[2020-09-29 18:48] Sommie09 commented on #670
Hello @anna4j

[2020-09-29 19:15] aditmehta9 commented on #938
Are you still working on this issue?

[2020-09-29 19:17] sanchi0204 commented on #957
Are you working on this?

[2020-09-29 19:18] sanchi0204 commented on #956
Are you working on this?

[2020-09-29 19:22] aditmehta9 commented on #850
Yes, because it is UI issue.

[2020-09-29 19:26] aditmehta9 commented on #805
Are you still working on this issue?

[2020-09-29 19:32] aditmehta9 commented on #793
@FullBinaryAlchemist sorry I have unassign you, for now, please claim again when you are active

[2020-09-29 19:35] aditmehta9 commented on #857
@vj-codes @sakshi1499 can I assign this issue to multiple contributors because it is about writing Blog?

[2020-09-29 19:37] sakshi1499 commented on #857
Yes, I think so. @aditmehta9 But I am not 100% sure so wait for @vj-codes to respond :p

[2020-09-29 19:37] epicadk commented on #784
@vj-codes thoughts?

[2020-09-29 19:40] vj-codes commented on #857
@sakshi1499 @aditmehta9 yes sure

[2020-09-29 19:44] vj-codes commented on #784
@epicadk after a request is accepted , it is only then considered as a relation so for the first part I would say `Accepted Requests` will have the same meaning as mentorship relations .Any counter thoughts?

[2020-09-29 19:48] vj-codes commented on #784
@epicadk and for the second part , what if I as a user is not available to mentor , will the UI be displayed as faded or completely vanished as I can later update myself as a mentor  .
The current one is bit difficult to understand is the first column for sent or for received requests?

[2020-09-29 19:51] vj-codes commented on #784
@vatsalkul does  the iOS one use dashboard endpoint? 👀

[2020-09-29 19:51] epicadk commented on #784
Yeah actually that was my question because if I add a sent and received header to the columns then I will not be able to use tablelayout because it does not support row span. So Instead I'll have to use grid layout but the author has asked for a table layout so should I just combine the sent and received or should I use a table layout?

[2020-09-29 19:53] epicadk commented on #784
So should I change accepted requests to relations or just let it be the way it is right now?

[2020-09-29 19:54] epicadk commented on #784
Also , @vj-codes I am not sure there is a way to tell if the user has just signed up to be a mentor/ mentee just from the Dashboard endpoint.

[2020-09-29 19:57] vj-codes commented on #784
@epicadk I would say keep it for now

[2020-09-29 20:05] vj-codes commented on #784
@epicadk yeah right that can be done by `GET/user`.
Btw  the dashboard endpoint has 2 separate sections for accepted, rejected... requests as a mentor and mentee.
So on UI if there are 2 rows one for `as mentor` and other for `as mentee` and when I click on any one ,the table which is to be done in this issue  can be displayed with just one column along with details.
But this will require many UI

[2020-09-29 20:06] vj-codes commented on #784
@epicadk you can ask o zulip too!

[2020-09-29 20:36] vj-codes opened #992 "blog: OSH Experience"
### Description
I want you to write a blog about the OSH experience from a newcomer's point of view for the android repo. So that it tells your experience about open source and also may serve as an intro to android repo for prospective contributors.

Write a blog on Medium and share the link in a document called outreach-work.md in the “/docs” folder of mentorship-android. So you need to create a

[2020-09-29 20:38] vj-codes commented on #992
@anna4j I just saw this issue on backend repo and created one for android . Can you validate or approve this issue ?

[2020-09-29 20:42] devkapilbansal commented on #807
@vj-codes can this issue be assigned to me now. I don't have active issues. I had completed issues in all other categories for open source hack. Just need one in user interface now.

[2020-09-29 20:45] vj-codes commented on #807
@devkapilbansal sure the prev comment might have been skipped in notifs
Happy designing!

[2020-09-30 04:33] ashwinijha6 commented on #796
@anna4j & @vj-codes I have made a pull request related to the issue pls review & let me know the changes

[2020-09-30 04:57] iofall commented on #992
@vj-codes Yes we can use this for OSH

[2020-09-30 06:44] argho28 commented on #850
@aditmehta9 can you review my PR for it as it is the Ready to be Merge status and can you please merge it.

[2020-09-30 06:46] Mrinmoy-Aus commented on #850
@aditmehta9 can you review my PR #850 and  merge it as it is in the Ready to Merge status

[2020-09-30 07:13] aditmehta9 commented on #850
It will be merged after OSH ends and all the PRs are reviewed by admins or mentors. I can't merge the PR.

[2020-09-30 07:20] DivyaR12 commented on #758
No please reassign it.

[2020-09-30 07:35] epicadk commented on #784
So should I make a request to the `/user ` endpoint as well ? or should I raise an issue with the backend so that we can get the same information on the `/dashboard` endpoint?

[2020-09-30 09:57] Mrinmoy-Aus commented on #850
okay thanks for the information @aditmehta9

[2020-09-30 16:39] alivabasa commented on #590
@sanchi0204 In the code I have added the url for localhost and that link is also opening in emulator. Can you please tell me what should i do to know that the app is working or not.

[2020-09-30 16:52] sanchi0204 commented on #590
@iofall can you help with this?

[2020-09-30 16:59] iofall commented on #590
@alivabasa you can try creating a new user to verify if it is working.

[2020-09-30 17:02] alivabasa commented on #590
@iofall In the emulator right?

[2020-09-30 17:05] iofall commented on #590
Yes so right now you can see that we have our app fetching data from the server which is deployed on Heroku. What this issue requires is that you setup a local server and then provide the URL of this local server to the app, so that you can use the local server as backend for your app.

[2020-09-30 17:10] ashwinijha6 commented on #992
@vj-codes could u assign this to me

[2020-09-30 17:25] alivabasa commented on #590
I tried signing up as well as loging in. In both the cases it shows "Please check your internet connection". So is it a glitch or this is what it shows ? @iofall

[2020-09-30 17:25] Abjcodes commented on #805
Sorry for the delay. I am facing some technical issues, so I can't complete this one.

[2020-09-30 17:34] iofall commented on #590
@alivabasa No, I think you should be able to signup, login won't be possible without creating a user first. Were you able to setup the mentorship-backend server successfully?

[2020-09-30 17:35] alivabasa commented on #590
Yes.

[2020-09-30 17:42] iofall commented on #590
You can see the server output as well maybe that could help to debug.

[2020-09-30 17:44] alivabasa commented on #590
Thanks..I will try that.

[2020-09-30 17:49] alivabasa commented on #590
You mean that the local backend server should resemble with that of server in heroku, right? @iofall

[2020-09-30 17:58] iofall commented on #590
Yes @alivabasa resemble as in, you should have the mentorship-backend server running successfully on your local machine

[2020-09-30 18:06] epicadk commented on #784
@vj-codes @vatsalkul ??

[2020-09-30 18:13] vj-codes commented on #784
@epicadk first raising an issue on backend would be good but you might have to wait until all OSH finishes for answers. Also there's a Mentorship System Sync Up session on 6th Oct, you can ask Isabel directly  in the session :)

[2020-09-30 18:20] epicadk commented on #784
@vatsalkul I just saw the ios implementation is that what you had in mind? I think an expandableListView Would be much better than a table Layout for that. If so can you update the requirements?

[2020-09-30 18:21] epicadk commented on #784
Okay Sure

[2020-09-30 18:23] alivabasa commented on #590
Thanks, i guess there are some glitches in that part only cuz rest all are working fine...will update you soon :)

[2020-09-30 18:35] atharwa-24 opened #1001 "Add logos to the README doc"
**Is your feature request related to a problem? Please describe.**
The build is from which ci diistributor is not clearly mention in the build badge

**Describe the solution you'd like**
Add the the logo to get the info of the current info of the ci distributor
.

[2020-09-30 18:43] atharwa-24 opened #1002 "The login screen background doesn't fits the Large screen sizes"
**Describe the bug**
On large screen sizes the white colour background get 1/3 cut

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login screen through a big screen size device ( 6'5>)
2. See error

<img src="https://user-images.githubusercontent.com/54115798/94726350-c02cff80-037a-11eb-80c3-7cc25348bf05.png" alt="drawing" width="400"/>

**Expected behavior**
have a complete screen bac

[2020-09-30 19:28] atharwa-24 commented on #1001
I want to fix it!

[2020-09-30 19:28] atharwa-24 commented on #1002
I want to fix this issue!

[2020-09-30 19:44] atharwa-24 commented on #1002
@sanchi0204

[2020-09-30 19:44] atharwa-24 commented on #1001
@sanchi0204

[2020-09-30 19:47] aditmehta9 commented on #758
Do you still want to work on this issue, however, it will not be considered for OSH contribution?

[2020-09-30 21:46] alivabasa commented on #590
@iofall  I tried setting up the backend again. When i run the run.py file and go to localhost in the browser it shows the below images(top and bottom of screen). Despite that i tried to run the app in emulator with the localost url. It seems like the app crashes, because when i tried to sign up , it showed a white screen and black screen and then closed the app withut mentioning any error statemen

[2020-09-30 23:24] alivabasa commented on #590
![doc5](https://user-images.githubusercontent.com/46787232/94749711-182b2c80-03a2-11eb-98ae-c07c58eca88d.JPG)
![doc6](https://user-images.githubusercontent.com/46787232/94749719-1d887700-03a2-11eb-8eb3-a00889eb1e74.JPG)

[2020-09-30 23:29] alivabasa commented on #590
@iofall @sanchi0204  Plz review

[2020-10-01 03:54] aditmehta9 commented on #740
@sanchi0204 @ydasc815 are you still working on this issue?

[2020-10-01 04:50] sanchi0204 commented on #740
I have initiated designs on Zulip for design team. Haven't received a feedback yet so was waiting before making a PR

[2020-10-01 06:16] DhaneshShetty commented on #430
@anna4j @aditmehta9 Would like to work on this if available

[2020-10-01 06:22] aditmehta9 commented on #740
Ok

[2020-10-01 06:33] CodeChamp-SS commented on #938
@aditmehta9 @garimasingh128 i would like to work on this issue, can u pls assign it to me?

[2020-10-01 09:51] yash2189 commented on #992
Hi is this available to work on?

[2020-10-01 09:53] yash2189 commented on #956
Hi is this issue still available to work on ? I have completed all my PR's assigned

[2020-10-01 09:54] yash2189 commented on #933
hi is this still available to work on?

[2020-10-01 10:11] vj-codes commented on #992
@yash2189 but it won't be counted in OSH ig
cc: @iofall

[2020-10-01 10:45] iofall commented on #992
Yep, it won't be counted for OSH, but you can still work on this to share your journey with the program. We want everyone to write about their experience, it helps us improve and also know what works in the program and what doesn't.

[2020-10-01 12:56] yash2189 commented on #992
I would still like to contribute to this even if it isn't counted.

[2020-10-01 13:29] vj-codes commented on #992
Assigning you @yash2189
Happy documenting!

[2020-10-01 14:39] faznan3nazer commented on #793
Hey...can I work on this issue?

[2020-10-01 18:23] devptyagi commented on #1002
If this one's available, I'd like to work on this issue.

[2020-10-01 20:19] epicadk opened #1008 "Bug: Redundant Name Space Declaration in Login Activity Layout"
**Describe the bug**
A clear and concise description of what the bug is.

Remove Redundant namespace Declaration in Login Activity Constraint View  . It currently has android an app namespace that is already declared in the root view.

**Expected behavior**
A clear and concise description of what you expected to happen.

Constraint layout should not have redundant namespace declaration .

[2020-10-01 20:36] vj-codes commented on #1008
@epicadk would you like to work on this ? otherwise it'll be open to first timers only

[2020-10-01 20:38] epicadk commented on #784
@vj-codes should I proceed with the expandable list view or should I wait for the author to respond?

[2020-10-01 20:40] epicadk commented on #1008
No, you can mark it as available

[2020-10-01 20:44] vj-codes commented on #784
@epicadk the issue says table layout so how about you create a work in progress (WIP) PR with the changes you mentioned earlier ?

Meanwhile @vatsalkul can you please confirm whether table view or exapandable list would be the best implementation for this issue? Thanks!

[2020-10-02 09:36] sanchi0204 commented on #1002
Sorry, but issue has been assigned and a PR has been made

[2020-10-02 09:38] devptyagi commented on #1002
@sanchi0204  Okayy, Np

[2020-10-02 09:39] devptyagi commented on #1008
Can I work on this? @vj-codes @sanchi0204

[2020-10-02 12:16] devptyagi commented on #1008
@vj-codes @sanchi0204  can anyone of you please assign this to me?

[2020-10-02 12:31] vj-codes commented on #1008
@devptyagi yeah sure , the previous message got lost in notifs ig
Is this your first time contributing to this repo as this is a` first timers only` issue?

[2020-10-02 15:22] vatsalkul commented on #784
Sorry @vj-codes @epicadk for not being active since last few days. I was stuck in some of my work.

@epicadk Yes, iOS app uses dashboard endpoint. I will share screen recording of iOS, which will help you in developing the UI.

[2020-10-02 16:06] vatsalkul commented on #784
Please have a look on Mentorship iOS app [here](https://drive.google.com/file/d/1AWPha8-XgU5yiHWiQRL-Vsa2mo_-i-TF/view?usp=sharing)

[2020-10-02 16:29] epicadk commented on #784
This will require significant ui changes . @vj-codes should I proceed?

[2020-10-02 16:39] vj-codes commented on #784
@epicadk yes but don't make UI changes exactly same as iOS one , the current color codes and theme of Android should be followed, just the flow and layout should be correspond

[2020-10-02 16:44] vatsalkul commented on #784
@vj-codes Agreed! No need to make huge changes. It was just for reference of how data flows in iOS app

[2020-10-03 05:40] devptyagi commented on #1008
@vj-codes No Actually not the first time, I just wanted to participate in hacktoberfest and no one else was working on this issue 😅

[2020-10-03 10:25] epicadk opened #1010 "feature : Migrate to ViewPager2"
**Is your feature request related to a problem? Please describe.**
Currently We are using ViewPager

**Describe the solution you'd like**
Migrate to ViewPager2

**Additional context**
Refer to the official documentation [here](https://developer.android.com/training/animation/vp2-migration)

[2020-10-03 10:27] vj-codes commented on #1010
@epicadk check issue #695 and PR #716

[2020-10-03 10:30] epicadk commented on #1010
@vj-codes oops maybe you can the change the title of that issue.

[2020-10-03 10:30] #1010 closed

[2020-10-03 12:36] yash2189 commented on #992
@vj-codes it will take atleast 2 days more for me to complete this issue. If that's fine?

[2020-10-03 13:05] somayaj commented on #1008
first timer here, can I contribute?

[2020-10-03 13:15] vj-codes commented on #992
@yash2189 sure thanks for the update

[2020-10-03 13:16] vj-codes commented on #1008
Assigning you @somayaj
Happy coding!

[2020-10-03 13:29] somayaj commented on #1008
Thank you so much!

[2020-10-03 13:40] somayaj commented on #1008
I've completed the fix and have created a PR, Please merge and if there's any further changes needed. Please feel free to reach out to me. Thanks!

[2020-10-04 08:11] SHITIZ-AGGARWAL commented on #981
@vj-codes  @rpattath  Working on the issue ,  will create a PR soon . Also can this be considered as a part of hactoberfest ?

[2020-10-04 15:44] justdvnsh commented on #793
@aditmehta9 @iofall @anna4j I'd like to take up this issue !

[2020-10-05 00:25] somayaj commented on #974
Hi, can I work this?

[2020-10-05 02:24] somayaj opened #1014 "Built project with 2.8.3 and PreferenceManager.kt has a compile error"
I have built the project with 2.8.3 sdk and it fails with a compilation build warning.
mentorship-android/app/src/main/java/org/systers/mentorship/utils/PreferenceManager.kt: (33, 17): Type mismatch: inferred type is String? but String was expected

**To Reproduce**
Steps to reproduce the behavior:
Buld the project with the sdk 2.8.3 build and it has warnings as described above.
**Expected behavio

[2020-10-05 02:29] somayaj commented on #1014
Hi, willing to make the code change if assigned. thanks, Asha

[2020-10-05 12:25] somayaj commented on #540
Can I work this issue? Thanks, Asha

[2020-10-05 12:48] aditmehta9 commented on #793
Sure

[2020-10-05 12:48] aditmehta9 commented on #793
@faznan3nazer commented first

[2020-10-05 19:14] SHITIZ-AGGARWAL commented on #981
FIGMA LINK : https://www.figma.com/file/mLCjpDLPLJSdNliLQ0gz46/Untitled?node-id=0%3A1
@vj-codes @rpattath I created some feature designs , please tell if anything should be changed or removed

[2020-10-05 19:31] rpattath commented on #981
@SHITIZ-AGGARWAL the design looks great. You can go ahead and create the PR. Sure we can consider this issue for Hacktoberfest.

[2020-10-05 19:32] rpattath commented on #981
@HeroicHitesh @MayankBeck @Quickbeasts51429 any updates on your PRs?

[2020-10-05 19:34] vj-codes commented on #981
@rpattath I think the assignment can be removed due to inactivity as mentioned in community guidelines .What say?

[2020-10-05 19:36] HeroicHitesh commented on #981
Sorry for the delay @rpattath I am not able to find time for designing screens. It will be ok to unassign me, I am not proficient in creating designs. Sorry, for holding for so long.
@vj-codes I am ok with unassigning this issue.

[2020-10-05 19:42] vj-codes commented on #981
@SHITIZ-AGGARWAL the designs look great! If possible can you add a feature to block or report users
Is screen1 when the admin's state is user and screen2 for admin only right ? I don't understand the use of word` features` in them , maybe words that mean` by clicking on this you will switch to admin mode ` will be more efficient than `features`

[2020-10-05 21:21] justdvnsh commented on #591
@vj-codes @aditmehta9 I'd like to take up this issue !

[2020-10-05 21:22] justdvnsh commented on #758
@aditmehta9 @vj-codes I'd like to take up this issue !

[2020-10-05 21:26] vj-codes commented on #591
Assigning you @justdvnsh
Happy coding!

[2020-10-05 21:32] vj-codes commented on #758
@justdvnsh  assigned you  #591 and this is a `first timers only ` issue btw

[2020-10-05 21:41] justdvnsh commented on #758
@vj-codes Yeah. But I was working my way through hacktoberfest. So thought of commenting on this too 😂. But thanks for #591

[2020-10-05 21:57] justdvnsh commented on #591
@iofall @vj-codes One thing I wanted to ask, is that, where would the images would be stored. Like I would get the image from gallery, then update the user model ( photo_url ) field. But where actually the image is going to be stored ?

[2020-10-06 04:40] SHITIZ-AGGARWAL commented on #981
@vj-codes I have included the block feature , I have made two designs - one where block is a separate feature and  in the second , the block feature and make admin feature is included in one (under users feature) ,

yes , the first screen is user state and second is admin state ,, I have changed `feature` with `admin mode` , I think when the admin mode button is clicked a message saying `Admin mod

[2020-10-06 05:20] faznan3nazer commented on #981
can I claim this issue?

[2020-10-06 15:52] epicadk commented on #1014
I think it's fine if you want to fix the warning however I don't think a warning can cause a failed build

[2020-10-06 16:53] iofall commented on #591
I am not sure I did take a look at the `mentorship-backend` it seems to have only a URL, so we are only storing URLs to the image and not the image itself. I think Zulip would be the best place to ask this.

[2020-10-06 18:46] justdvnsh commented on #591
@iofall Yeah. That's why I was asking. Nevertheless, I'll try asking on Zulip !

[2020-10-06 21:55] somayaj commented on #1014
agree, it was a build failure.

[2020-10-07 08:39] SHITIZ-AGGARWAL commented on #981
@vj-codes @rpattath Where should be the markdown file located

[2020-10-07 09:40] robotjellyzone commented on #494
hmm... just want to know one thing @isabelcosta @arvindnegi1 is this issue apppears only in few versions as I have tested this and didn't get this issue as can be shown below  ?? -

![Screenshot_1602063556](https://user-images.githubusercontent.com/36916536/95314572-1afcb480-08af-11eb-8217-1ccbd37cb348.png)

[2020-10-07 15:56] vj-codes commented on #981
@rpattath all UI/UX work was added in docs/ui and outreach work was added in docs/spikes .
Which one would you like since this issue deals with both and you created it so your call would be final :)

[2020-10-07 19:23] epicadk commented on #974
Issue has been solved with issue #953 check #962 and  #984

[2020-10-07 21:16] somayaj commented on #987
Was this fixed? or is it available to fix?

[2020-10-08 07:24] heyanurag commented on #758
@sanchi0204 @vj-codes Can I complete this? I am a first timer.

[2020-10-08 08:11] CodeChamp-SS commented on #987
i think my pr will fix it

[2020-10-08 18:10] heyanurag commented on #758
@aditmehta9 Should I attach this screenshot for the splash screen? I dont see the old splashscreen in the app.
![screenshot](https://user-images.githubusercontent.com/63957920/95497257-a9f8f200-09bf-11eb-8f8c-71a58988d65e.jpeg)

[2020-10-08 18:49] aditmehta9 commented on #758
I am not sure @sanchi0204 @vj-codes can help out.

[2020-10-08 20:56] vj-codes commented on #758
@singhanurag05  hey I don't see one too probably a bug. So please skip that for now and if there are any updates I'll inform !
Also the one you have uploaded is the introduction slider or the tutorial screen.
@aditmehta9 sounds good?

[2020-10-10 12:08] aditmehta9 commented on #758
Yes

[2020-10-10 16:29] heyanurag commented on #758
@vj-codes @aditmehta9 I cannot see the **Tasks** Page in the app, is it only available after someone accepts my request?

[2020-10-10 17:15] faznan3nazer commented on #793
@aditmehta9  sorry for the delay...I will open PR this week...

[2020-10-10 18:13] vj-codes commented on #758
@singhanurag05 yes tasks are only seen when you are in a mentorship relation, best way is to create another acc and send a request or longer way is send it to someone and wait till it's accepted.

[2020-10-10 19:02] aditmehta9 commented on #793
Okay

[2020-10-11 11:35] justdvnsh commented on #591
@vj-codes See this. I've added this feature to add profile picture. But the problem is that it is not stored in the database. So the next time user opens up the app, the profile picture would be gone .Thus we need to upload it to AWS, get the image url and the update it in the mentorship-backend. There is a field ```photo_url``` in the user model. We need to save the image url there and then fetch

[2020-10-11 15:02] SHITIZ-AGGARWAL commented on #981
@rpattath @vj-codes please tell if any changes are required

[2020-10-11 23:43] somayaj commented on #1008
#1013 please reference this for the relevant pull request. Thanks.

[2020-10-12 10:42] epicadk commented on #1008
You can do it yourself by mentioning this issue in the pull request.

[2020-10-13 00:48] somayaj commented on #1008
@epicadk I already did, waiting for a review and merge of the pull request.

[2020-10-15 04:52] mtreacy002 commented on #494
I faced the same thing as @robotjellyzone. I cannot recreate the bug on Pixel 2 emulator running on develop branch (MacOS Catalina 10.15.7)
* screenshots
<img width="397" alt="Screen Shot 2020-10-15 at 3 38 58 pm" src="https://user-images.githubusercontent.com/29667122/96078559-62fa8780-0efe-11eb-8885-adcb023efe78.png">
<img width="401" alt="Screen Shot 2020-10-15 at 3 38 45 pm" src="https://user-

[2020-10-15 06:19] mtreacy002 commented on #557
@isabelcosta , won't this issue need the backend to change as well, like adding date_of_birth field to the User model so that the User table add the related column to record this info?

[2020-10-15 12:50] faznan3nazer commented on #793
@aditmehta9  can you please unassign me... I will work on this issue later if still available...

[2020-10-15 13:05] aditmehta9 commented on #793
Sure

[2020-10-16 09:15] yash2189 commented on #992
hi @vj-codes sorry for being inactive for a long time I haven't completed this yet. I wanted to ask whether this can be taken under Hacktoberfest?

[2020-10-16 20:35] vj-codes commented on #992
@sakshi1499 @aditmehta9 @isabelcosta can this issue be added under hacktoberfest?

[2020-10-17 09:01] aditmehta9 commented on #992
I am not sure because it's just a blog.

[2020-10-18 04:38] mtreacy002 commented on #494
@robotjellyzone . I finally able to recreate the bug using a custom emulator created with the spec of Xiaomi Mi A3 device (6.09" screeen size, 720 x 1560 pixels resolution). Screenshots below.
* Homepage:
<img width="386" alt="Screen Shot 2020-10-18 at 3 33 17 pm" src="https://user-images.githubusercontent.com/29667122/96358883-ba476480-1157-11eb-905b-70f077e88600.png">

* Members page:
<img width

[2020-10-18 19:25] HaripriyaB commented on #793
Can I take up this issue?

[2020-10-18 19:26] HaripriyaB commented on #806
Can I try this issue?

[2020-10-19 07:14] aditmehta9 commented on #793
Sure

[2020-10-20 03:48] HaripriyaB commented on #793
Update on this issue. I've written almost all the test cases which were mentioned the the previous comments. Will be sending the PR today. 😊

[2020-10-20 12:30] HaripriyaB commented on #806
Can anyone assign me this issue?

[2020-10-20 12:40] #974 closed

[2020-10-20 18:43] #753 closed

[2020-10-20 19:13] vj-codes commented on #1014
@somayaj before creating a PR , please make sure the particular issue is assigned to you next time onwards.
@aditmehta9 thanks for assigning!

[2020-10-20 19:15] vj-codes commented on #1014
@HaripriyaB can you please validate this issue , thanks!

[2020-10-20 19:28] somayaj commented on #1014
Absolutely! Thanks.

On Tue, Oct 20, 2020 at 2:15 PM Vaishnavi Joshi <notifications@github.com>
wrote:

[2020-10-20 19:54] #992 closed

[2020-10-21 03:33] HaripriyaB commented on #1014
It's a very minor bug. Probably, It can be considered valid.

[2020-10-22 15:33] epicadk opened #1022 "Use refresh endpoint of the api."
**Is your feature request related to a problem? Please describe.**

When the auth token expires the user will have to sign in again.

**Describe the solution you'd like**

Instead use the /refresh endpoint to refresh the users auth token.

**Describe alternatives you've considered**

We can store the username and password in preferences however this is not recommended.

**Additional context**

Thi

[2020-10-22 15:34] epicadk commented on #1022
If this is a valid issue I would like to work on this.

[2020-10-22 16:18] somayaj commented on #540
Hi, checking, can this be worked?

[2020-10-23 18:57] somayaj commented on #190
I don't see a TasksActivity in the current repo. Is this defect still valid to be worked on?

[2020-10-23 18:58] somayaj commented on #710
Can I work this?

[2020-10-24 20:01] #250 closed

[2020-10-24 20:07] #63 closed

[2020-10-24 20:11] #492 closed

[2020-10-24 20:14] #867 closed

[2020-10-24 21:48] #771 closed

[2020-10-24 22:00] #781 closed

[2020-10-24 22:04] #735 closed

[2020-10-24 22:36] #935 closed

[2020-10-24 23:01] #918 closed

[2020-10-24 23:14] isabelcosta commented on #1022
@epicadk this is valid :) I will assign it to you

[2020-10-24 23:16] isabelcosta commented on #704
@iofall I think the tests are now fixed, can you or anyone else confirm that all tests are passing please?

Also, you did an amazing job separating the issues, that helps a LOT @iofall 👏 🎉 Thank you so much for helping out!

[2020-10-25 15:19] epicadk opened #1024 "Bug: Fix login tests"
**Describe the bug**

Login tests when snackbar displays `something went wrong` when incorrect username/password is entered

**To Reproduce**

1. Go to login androidTests
2. Run the tests
3. See error

**Expected behavior**
Tests should fail when snackbar displays `something went wrong` when incorrect username/password is entered

**Smartphone (please complete the following information):**
 - Devi

[2020-10-25 19:20] epicadk opened #1025 "Bug : Login Activity Bug (Password with spaces)"
**Describe the bug**
A clear and concise description of what the bug is.

When a user submits a password that has leading or trailing spaces it is still accepted, whereas we trim the password in the login activity so it would be impossible for a user to sign if they have leading/trailing spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sign up for fill in details. Fill in a pass

[2020-10-25 19:53] epicadk opened #1026 "Bug: Spelling mistake in Signup Test"
**Describe the bug**
A clear and concise description of what the bug is.

There are two spelling mistakes in the Signup activity test. ` whenUsernameIsAlreadyResgitered` & `whenEmailIsAlreadyResgitered`

**Expected behavior**
A clear and concise description of what you expected to happen.

There should be no spelling mistake. Change to Registered

[2020-10-26 07:40] shivamparashar165 commented on #1026
Can I work on this issue?

[2020-10-26 17:11] shivamparashar165 commented on #1026
I am new to open source community.
Just assign me and tell me that can I work on it or not.

Already, Changed the wrong spelling to correct one into my local system.

Now, I need to commit it and make a pull request.

Just assign me, I can start contributing to this project as a first contribution to open source.

[2020-10-26 17:46] pknotfound commented on #1025
Can I work on this issue @isabelcosta ?

[2020-10-26 18:10] Priyansh-Kedia opened #1027 "Pass password hash while Logging in"
**Describe the bug**
The Login Activity passes the password as a string, to the backend server, while logging in the user.
This is not safe as the user password is directly exposed when passed as a string.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to LoginActivity
2. Click on login button

**Expected behavior**
The login works properly, but the password is exposed.

**Additional con

[2020-10-26 18:10] pknotfound commented on #1027
@isabelcosta What do you think about this issue?
Please let me know if I can work on it?

[2020-10-26 19:35] epicadk commented on #1027
We pass the password as plaintext because that is what the backend requires. Please raise this issue on the backend repo

[2020-10-26 19:43] epicadk commented on #1026
Yes hey I am sure you will be assigned if this is a valid issue.  Try asking one of the maintainers on zulip if this can be assigned to you.

[2020-10-26 19:48] epicadk commented on #704
All sign up tests are passing but the login tests need to be changed as discussed on Zulip.

[2020-10-27 04:50] shivamparashar165 commented on #1026
I asked it on new comers section on the zulip chat.

Is it ok? I am new to open source. Any guide will be thankful to all of you.

[2020-10-27 04:55] shivamparashar165 commented on #1026
@vj-codes @Isabel-S

Please assign me, this issue.

[2020-10-27 10:10] shivamparashar165 commented on #850
Is this issue is still available?

If it is, then why?

Is @argho28 didn't done it properly?

Can I work on it?

[2020-10-27 10:10] shivamparashar165 commented on #850
@anna4j  Just review it.

[2020-10-27 10:48] justdvnsh commented on #1024
@iofall @epicadk I'd like to take up the issue

[2020-10-27 13:21] epicadk commented on #1024
Actually I wanted to work on this because as I haven't done testing before and this seemed like a good way to start.

[2020-10-27 13:24] epicadk commented on #1025
We will need to decide what needs to be done first and I was actually hoping I could work on this. 😅

[2020-10-27 13:38] justdvnsh commented on #1024
@epicadk Go Ahead. It's yours. After creating an issue, try to comment that you'd like to take up the issue, if you want to work on it.

[2020-10-27 16:48] epicadk commented on #1024
Sorry I thought first preference goes to the creator I'll keep that in mind next time thanks 😁

[2020-10-27 16:58] vj-codes commented on #1026
@epicadk hey I found one more spelling mistake which is repeated 4 times in the same test and is valid typo👀
Can you please update to 6 spelling mistakes and remove what has to be changed  from the issue description as it's a simple issue and telling the fix makes it more simple
Then I will approve this and assign to @shivamparashar165

[2020-10-27 16:59] epicadk commented on #1026
Done

[2020-10-27 17:02] vj-codes commented on #1026
@epicadk thanks!

[2020-10-27 17:02] vj-codes commented on #1026
Assigning you @shivamparashar165
Happy coding and welcome to the community !

[2020-10-27 18:10] #764 closed

[2020-10-27 18:27] justdvnsh commented on #1024
@epicadk Haha. Actually that is not the case. First preference goes to the one who comment's on the issue first.

[2020-10-27 20:01] epicadk opened #1028 "Limiting dimensions of an image in PR's and issues."
**Is your feature request related to a problem? Please describe.**

When the size (dimensions) of an image in PR/issues is too large it becomes difficult to view it on laptops/desktops

**Describe the solution you'd like**

Contributors can limit the image size by using the `<img>` tag as described in [this SO answer](https://stackoverflow.com/questions/14675913/changing-image-size-in-markdown).

[2020-10-27 20:15] epicadk commented on #1024
@isabelcosta can you merge one of the prs associated with issue #953 so that this issue can also be fixed and tested?

[2020-10-27 23:49] #739 closed

[2020-10-28 03:01] shivamparashar165 commented on #1026
Thanks !  I am working on it.

[2020-10-28 06:19] shivamparashar165 commented on #1026
I have replaced all the spell mistakes, & created a pull request.  (#1031 )

Hope this is the right way of doing it.

Any guidance will be great help for me as  a new comer.

[2020-10-28 13:16] epicadk commented on #739
It will run for all pr's that are created after this issue is merged afaik.

[2020-10-28 17:39] pknotfound commented on #1027
This issue would have to be taken care of in both android and backend.
How do you think should I proceed?

[2020-10-28 19:26] epicadk commented on #1027
I've honestly never seen anyone hashing the password before sending it to the backend. can you send a link if you have seen it anywhere?

[2020-10-29 10:13] shivamparashar165 commented on #1026
#1031

[2020-10-29 17:54] somayaj commented on #1008
fixed, please review. thanks

[2020-10-29 20:09] epicadk commented on #1008
This commit isn't on the branch that you want to merge in the pr.

[2020-10-30 01:06] somayaj commented on #105
Can i work this issue? Can it be assigned to me? Thanks.

[2020-11-01 18:54] iofall opened #1033 "Remove hard-coded strings for PR 949"
Replace hardcoded strings in files related to #949, with string references from [here](https://github.com/anitab-org/mentorship-android/blob/develop/app/src/main/res/values/strings.xml)
You can also see an example of the same [here](https://github.com/anitab-org/mentorship-android/blob/fe12fbee59a44d252db0e84ee2cfe801173cd22f/app/src/main/java/org/systers/mentorship/view/activities/FeedbackActivit

[2020-11-02 01:42] somayaj commented on #1033
Can this be assigned to me? thanks

[2020-11-04 00:50] #987 closed

[2020-11-04 14:00] ghost commented on #759
is this issue available?

[2020-11-04 14:01] ghost commented on #759
I would like to work on this

[2020-11-05 11:02] epicadk opened #1035 "Bug : Multiple instances of login activity"
**Describe the bug**

Multiple instances of login activity are created (even when one is present in the back stack).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Login activity
2. Click on Sign up
3. Scroll down to Login
4. See error -- when back on the login page press the back button to see the error

**Expected behavior**
A clear and concise description of what you expected to ha

[2020-11-05 11:03] epicadk commented on #1035
I'd like to work on this if it's valid

[2020-11-05 21:56] sanchi0204 commented on #759
@Mahesh1822 pls try other issues as PR has already been made for this issue

[2020-11-08 13:49] jatincse commented on #955
Can i work on this issue?

[2020-11-08 21:58] Sonali-Sharma-1 commented on #1008
@vj-codes Since I can see above mentioned issue still existing in develop branch, Can I pick this issue?
This will be my first contribution. Let me know.

[2020-11-08 22:05] vj-codes commented on #1008
@Sonali-Sharma-1 hey this issue is already assigned to another contributor.
You still see this issue on the develop branch is because the PR created is not yet merged.

Please go through other issues with `Status : available` label and comment for a great start!

[2020-11-09 07:26] Sonali-Sharma-1 commented on #850
@anna4j  Can you please update on this issue?
Can I pick this ?

[2020-11-09 08:01] Sonali-Sharma-1 commented on #710
@vj-codes  Can I work on this issue?

[2020-11-09 08:17] Sonali-Sharma-1 commented on #1035
@epicadk I reproduced above bug and came up with the idea of including  **android:launchMode="singleTask"** tag in manifest file for LoginActivity . Works fine for back button and navigation scenarios.
Any thoughts on this ?

[2020-11-10 01:27] robotjellyzone commented on #1002
this issue is already created  here --> https://github.com/anitab-org/mentorship-android/issues/779 so, i think the OS amabassador team needs to be little more cautious before labeling or allowing to create the repeated version , hope this make sense @vj-codes  @isabelcosta 👍

[2020-11-10 13:35] vj-codes commented on #1002
yes agreed @Kavya-24
Will be closing this issue

[2020-11-10 13:36] vj-codes commented on #1002
Thank you @atharwa-24 for creating the issue but since it's a duplicate of #779 , this one will be closed .

[2020-11-10 13:36] #1002 closed

[2020-11-10 13:41] vj-codes commented on #809
Closing this issue as it's a duplicate of #797 and discussed above too
PRs may still be counted as a valid contribution

[2020-11-10 13:41] #809 closed

[2020-11-10 13:46] vj-codes commented on #1033
@somayaj hey I am removing your assignment and closing the PR as you have already contributed before and this is a `First timers only` issue
Look out at other available issues!

[2020-11-10 13:46] #1033 closed

[2020-11-10 13:46] atharwa-24 commented on #1002
ok 😄

[2020-11-10 15:41] epicadk commented on #1035
Not what I had in mind but yeah that also works.

[2020-11-11 05:57] sanchi0204 commented on #955
a PR has been made for this issue and is under review. Pls find other issues

[2020-11-11 16:36] somayaj commented on #105
All, can someone assign this to me? Willing to contribute.

[2020-11-11 17:02] aditmehta9 commented on #105
Please read the above conversation before contributing.

[2020-11-11 17:24] somayaj commented on #105
the conversation seems outdated, but thanks.

On Wed, Nov 11, 2020 at 11:02 AM Adit Mehta <notifications@github.com>
wrote:

[2020-11-12 16:36] epicadk commented on #868
@justdvnsh @iofall  I think this has been solved should this be closed?

[2020-11-12 16:49] justdvnsh commented on #868
@epicadk i guess so

[2020-11-14 17:29] vj-codes commented on #1014
@somayaj any updates?

[2020-11-14 18:24] somayaj commented on #1014
none, the code changes are complete;

On Sat, Nov 14, 2020 at 11:29 AM Vaishnavi Joshi <notifications@github.com>
wrote:

[2020-11-17 15:30] vj-codes commented on #1014
@somayaj can you please link this issue in the `fixes`  part of the PR you created then ? Thanks!

[2020-11-17 16:08] somayaj commented on #1014
sure, can do

On Tue, Nov 17, 2020 at 9:30 AM Vaishnavi Joshi <notifications@github.com>
wrote:

[2020-11-17 19:57] isabelcosta commented on #784
Closing due to this comment https://github.com/anitab-org/mentorship-android/pull/1015#issuecomment-729166252

[2020-11-17 19:57] #784 closed

[2020-11-18 15:10] vj-codes commented on #1035
@epicadk what was your approach? let's compare both and the better one could be implemented

[2020-11-18 15:15] vj-codes commented on #1035
Assigning you @Sonali-Sharma-1
Happy coding !

[2020-11-18 23:25] #1001 closed

[2020-11-19 00:15] #801 closed

[2020-11-19 00:30] #788 closed

[2020-11-19 23:28] #804 closed

[2020-11-19 23:34] #1008 closed

[2020-11-20 19:45] aditmehta9 commented on #1028
This issue needs approval from admin whether they want to approve it for all issue/PR templates.

[2020-11-20 19:52] aditmehta9 commented on #1024
Next time please tag project manager to claim any issue before working on it.

[2020-11-20 20:10] aditmehta9 commented on #868
Closing this issue because it is fixed.

[2020-11-20 20:10] #868 closed

[2020-11-20 20:17] aditmehta9 commented on #806
Are you still working on this issue?

[2020-11-20 20:35] aditmehta9 commented on #195
Closing this issue because it is very much similar to https://github.com/anitab-org/mentorship-android/issues/748 and it might get fixed with PR https://github.com/anitab-org/mentorship-android/pull/750

[2020-11-20 20:35] #195 closed

[2020-11-21 04:08] HaripriyaB commented on #806
Actually I'm not. You can unassigned me from this. Sorry became busy lately...

[2020-11-21 05:04] epicadk commented on #1024
I am not sure what I have to do exactly. This was assigned to me. Are you talking about my pr on that issue? Then yeah I was still relatively new and will keep these guidelines in mind. : )

[2020-11-21 05:04] epicadk commented on #1028
It was discussed on zoom and I was told to open an issue.

[2020-11-21 12:13] aditmehta9 commented on #1028
Ok

[2020-11-21 12:14] aditmehta9 commented on #1028
You can claim this issue if you aren't working on other issue

[2020-11-21 12:16] aditmehta9 commented on #1024
No, it's fine I was just saying tag PM if you want to claim any issue to work on it.

[2020-11-21 12:18] aditmehta9 commented on #806
It's okay, claim whenever you are free.

[2020-11-21 22:44] somayaj commented on #434
is this available to be worked on?

[2020-11-21 22:46] somayaj commented on #540
hi, is this available? Can it be assigned to me? Thanks.

[2020-11-21 22:47] somayaj commented on #689
is this available to be worked on? do assign to me if it's available.

[2020-11-24 10:34] epicadk commented on #1028
Sure , @aditmehta9 Please assign me, I have submitted PRs for all issues assigned to me.

[2020-11-24 17:18] aditmehta9 commented on #540
Sorry for the late reply but in PR https://github.com/anitab-org/mentorship-android/pull/541 Isabel mentioned it only prints debug statements so I am not sure that you can work on this or not.

[2020-11-24 17:21] aditmehta9 commented on #540
Right now I labelling it on hold because I am not sure if this issue can be claimed this issue needs more discussion.

[2020-11-24 18:24] epicadk opened #1039 "Feature: commenting out the subheadings in pr and issue templates"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The descriptions provided under the headings in PR and issue templates are not commented out.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Commenting out the descriptions in pull reques

[2020-11-24 18:24] epicadk commented on #1039
I would like to work on this.

[2020-11-24 18:35] epicadk commented on #729
Can I work on this?

[2020-11-24 19:39] epicadk opened #1040 "change units tests to ui tests in readme"
**Describe the bug**

The Readme file  says `Running the unit tests`.

**Expected behavior**

 Change this to instrumented unit test / ui test and make corresponding changes to documentation as well.

[2020-11-24 19:51] epicadk opened #1041 "Feature : Use moshi instead of Gson"
**Is your feature request related to a problem? Please describe.**

Currently we use GSON for serializing data.

**Describe the solution you'd like**

Upgrade to Moshi.

**Additional context**

Bench Mark tests
- https://zacsweers.github.io/json-serialization-benchmarking/

SO answer
- https://stackoverflow.com/questions/43577623/moshi-vs-gson-in-android

Blog post I found useful
- https://proandr

[2020-11-24 19:51] epicadk commented on #1041
I'd like to work on this.

[2020-12-03 12:42] priyanka0906 commented on #1040
hello , I am new to open source.
correct me if I am wrong
in this "unit tests" are to be replaced by ui test  only?
please assign this to me also

[2020-12-03 20:13] epicadk commented on #1040
Hey, Yes Ui test or instrumented unit tests. Can you ask a mentor on zulip to assign this to you?

[2020-12-04 06:45] priyanka0906 commented on #1040
thank you @epicadk , @aditmehta9

[2020-12-04 18:28] vj-codes commented on #1041
@epicadk would you still like to work ?

[2020-12-04 18:33] epicadk commented on #1041
Yes

[2020-12-04 18:46] vj-codes commented on #1041
Assigning you @epicadk
Happy coding!

[2020-12-09 18:00] atharwa-24 opened #1044 "doc: Add the Updated ScreenShot of the Application's Logout Screen"
**Describe the bug**
The Changes made on PR #1019 doesn't get reflected on the ReadMe of the Repository, Add the Updated ScreenShot the Screen
**To Reproduce**
Steps to reproduce the behavior:
1. check the changes in the PR #1019
2. And Go to Readme of  anitab-org /mentorship-android
3. See error

**Expected behavior**
The Delete Account Feature has been Removed from the logout screen of the appli

[2020-12-10 03:47] aditmehta9 commented on #1044
Thanks, @atharwa-24 for opening this issue. Since this issue is easy, I am making it available for first-timers only.

[2020-12-10 05:32] shivamparashar165 commented on #1026
Hey Everyone, As a first timer

It was really challenging for me to solve this issue. I know this is a simple issue, but style guidelines was the thing where I am messing up the things.

Now, I think that I have opened a pull request which can be merged.

   ###[#1045]

[2020-12-11 06:52] sanchi0204 commented on #1026
why have you removed your assignment from the issue?

[2020-12-13 00:02] #955 closed

[2020-12-13 00:04] isabelcosta commented on #1026
@shivamparashar165  I will assume the unassignment from the issue was a mistake :)
cc @sanchi0204

[2020-12-13 00:15] #790 closed

[2020-12-13 00:23] #1040 closed

[2020-12-13 00:46] #850 closed

[2020-12-13 00:48] #494 closed

[2020-12-13 00:53] #573 closed

[2020-12-13 01:48] isabelcosta commented on #858
I added the PRs from this issue to the OSH page in the Wiki 🤗 https://github.com/anitab-org/mentorship-android/wiki/OSH-September-2020

I will close this issue, as this is not a PR at the moment, but added a label for us to reopen this later, when appropriate :) Thank you for coming with this issue @vatsalkul ! I have seen amazing work from contributors!

[2020-12-13 01:48] #858 closed

[2020-12-13 12:39] rubyruins commented on #858
Thank you 😊

[2020-12-14 18:06] epicadk commented on #1041
There are some issue with the current gradle version. Done with the coding part of it. I'll open a pr soon. I have tests hence the delay.

[2020-12-16 13:41] priyanka0906 commented on #1025
is  it open??
if it is  can I work on it??

[2020-12-17 04:39] aakarshvats638 commented on #1039
Sir I would like to work on this issue, can you please elaborate for better understanding

[2020-12-17 04:42] aakarshvats638 commented on #1044
Sir I would like to solve this issue

[2020-12-17 04:42] aakarshvats638 commented on #1044
can you please assign it to me

[2020-12-17 05:05] aditmehta9 commented on #1044
Sure Happy coding

[2020-12-20 14:11] aakarshvats638 commented on #1044
Sir ,I have added the screenshot of logout screen in readme file and have committed. @aditmehta9

[2020-12-20 14:14] aakarshvats638 commented on #1025
Sir can I resolve this issue? @epicadk

[2020-12-20 14:27] epicadk commented on #1025
@priyanka0906 @aakarshvats638 please mention this issue on zulip and once it's approved I'm sure you will be assigned. 😊

[2020-12-20 15:09] aditmehta9 commented on #1025
@Priyansh-Kedia this issue can be assigned to you but did you discuss about this issue with the admin what's expected behaviour?

[2020-12-20 15:20] aditmehta9 commented on #1039
Happy Coding

[2020-12-20 15:21] aditmehta9 commented on #1039
Since you are already assigned first-timer issue this issue can't be assigned to you again so you have to claim another issue.

[2020-12-20 15:36] aditmehta9 commented on #1044
Great @aakarshvats638 Please send the PR and mention this issue and I am a student just like you no need to call me sir.

[2020-12-20 22:27] isabelcosta commented on #1025
@epicadk thank you for creating this issue :) 👏 🎉
This is valid, however, we should take a look at what are the rules used to validate the password format, and use that same rules while validating this on the frontend android. Could someone take a look at how this is done on the backend?

[2020-12-21 05:28] epicadk commented on #1025
@isabelcosta I had raised [this issue](https://github.com/anitab-org/mentorship-backend/issues/918) on the backend repo and it has been merged.

[2020-12-21 23:10] #759 closed

[2020-12-22 12:59] isabelcosta commented on #1025
@epicadk ok so now Android app should respond with an error message if someone tries to put an empty password right? Now we can also add a check on the frontend, to avoid sending the request to the server if we detect the password is invalid (according to same rules in backend)

[2020-12-22 13:01] epicadk commented on #1025
Hmm yes I agree I'll modify the issue

[2020-12-24 08:46] arnoob16 commented on #1039
I would like to work on this issue if I am eligible as a first-timer.
Also, I would like to know where can one edit the templates as I've never worked with an Issue/PR Template.

[2020-12-24 12:29] aditmehta9 commented on #1039
Sure @arnoob16 from this link you can learn about PR template https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository and from here you can know about issue template https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-12-24 16:34] epicadk commented on #1039
@isabelcosta I can't really explain it any better can you make changes that'll explain it better?

[2020-12-25 16:32] epicadk commented on #1041
I can't seem to find a solution to the problem. Can you mark this as help wanted? @vj-codes

[2020-12-26 12:02] annabauza commented on #1039
this issue have no description just template text, please provide full description. Thanks.

[2020-12-27 14:53] devkapilbansal commented on #807
@vj-codes this issue should be closed too

[2020-12-27 14:55] #807 closed

[2020-12-27 21:10] isabelcosta commented on #1039
The idea here is for the placeholder text that comes with issue/PR template, to come commented out. So the idea is for the markdown provided in the template to, instead of:

[code]

be like:

[code]

this will make the text not show up when rendered by GitHub in the comments.

cc @epicadk @aditmehta9 @aakarshvats638 @arnoob16

[2020-12-28 05:12] epicadk opened #1047 "Feature :Shift to ViewBinding"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Kotlin Synthetic is now deprecated .

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Shift to ViewBinding

**Describe alternatives you've considered**
A clear and concise description of an

[2020-12-28 05:15] epicadk commented on #1041
meanwhile , can I work on other issues ? @vj-codes

[2020-12-28 18:21] epicadk commented on #168
Can I work on this?

[2020-12-28 18:28] isabelcosta commented on #168
Sure @epicadk ! I see this is related to a couple of issues you were assigned with.

[2020-12-29 21:12] abhinav12k commented on #1047
Hi @epicadk, I would like to work over this issue

[2020-12-30 03:12] isabelcosta opened #1049 "Add mention of kotlin coding style conventions, to guide on a consistent style"
## Description
As a developer,
I need a kotlin code style guide,
so that I can help to maintain a consistent code style in the repository.

Making this will help guide beginners and experienced people contributing on a consistent style while coding and while reading the code.

Link to Kotlin official docs for Coding Conventions: https://kotlinlang.org/docs/reference/coding-conventions.html

## Acc

[2020-12-30 04:22] epicadk commented on #1047
You'll have to wait for the issue to get approved before you can start working on it. Try asking on zulip.

[2020-12-30 08:59] epicadk commented on #1049
I think setting up ktlint would be a better alternative . We could also add a lint check using github actions to ensure that all guidelines are followed.
https://ktlint.github.io/

[2020-12-30 09:13] epicadk commented on #1049
If we do decide to enable ktlint format. I'd like to work on this issue.

[2020-12-30 09:28] epicadk opened #1050 "Setup ktlint and add github actions for lint check"
**Is your feature request related to a problem? Please describe.**

Currently, no lint check is setup

**Describe the solution you'd like**

Setup ktlint for this project. Also add github actions that will perform the lint check.

**Additional context**

ktlint also comes with an built-in formatter
https://ktlint.github.io/

[2020-12-30 09:29] epicadk commented on #1050
I'd like to work on this

[2020-12-31 06:52] epicadk commented on #1039
@isabelcosta Should we also change the headings from bold to to header text .
Like currently

**Is your feature request related to a problem? Please describe.**
is in bold .

However I think if we change it to a header it would make the template more readable like so,

### Is your feature request related to a problem? Please describe.

[2021-01-02 13:58] abhinav12k commented on #1047
Hey @epicadk can you add a description to this issue.
The app uses kotlin synthetics at a number of places but it's now deprecated by google. Kotlin doesn't support synthetic so a new approach has been provided by google i.e using the view binding or data binding. View binding is comparatively lighter for rendering UIs as compared to the data binding. So we can use view binding instead of kotlin s

[2021-01-02 14:29] vj-codes commented on #1047
@abhinav78910 hey thanks for providing a detailed description ,once it's updated on the issue it'll be approved and assigned to you .

[2021-01-02 15:00] annabauza commented on #1047
Approved

[2021-01-02 15:15] vj-codes commented on #1047
Assigning you @abhinav78910
Happy coding!

[2021-01-05 18:54] isabelcosta commented on #1050
Great issue @epicadk , I agree with this. I feel silly sometimes asking for changes for coding style without a proper reference. I mentioned this before on Zulip. I will assign it to you.
cc @vj-codes

[2021-01-07 05:52] epicadk commented on #672
I do get an alert when I try to exit the feedback section. Can someone confirm if this already exists?

[2021-01-07 08:37] abhinav12k opened #1053 "ViewModelProviders is Deprecated"
**Is your feature request related to a problem? Please describe.**
The project uses ViewModelProviders at various places which is deprecated now and should not be used.

**Describe the solution you'd like**
Update the android architecture components and change the instances of ViewModelProviders.

**Resources**
https://developer.android.com/reference/androidx/lifecycle/ViewModelProviders

[2021-01-07 09:43] abhinav78910 opened #1054 "Feature: Add Forgot Password Option"
**Is your feature request related to a problem? Please describe.**
If a user forgets the password there is no way he can reset the password.

**Describe the solution you'd like**
Add an option on the login page for 'Forgot Password'

**Additional context**
Current Situation
![Screenshot_20210107-150912](https://user-images.githubusercontent.com/51455561/103877141-a8dc7b80-50fa-11eb-81f9-f4a9d4fbca

[2021-01-07 11:14] Shweta0617 commented on #1054
please assign this to me @abhinav78910
i would like to contribute on it !!

[2021-01-07 11:27] abhinav12k commented on #1054
Hi @Shweta0617, you can ask over zulip if the issue is valid you can start working on it.

[2021-01-07 11:49] vj-codes commented on #1054
@abhinav78910 thank you for creating this issue 👍
However it's a duplicate of issue #780 which is currently on hold as the forgot password feature is not implemented on backend yet. Once it's done on backend , #780 will be available to contributors.
I will be closing this issue now.
@Shweta0617 you can go through issues with label `Status : Available ` , and comment for a great start!

[2021-01-07 11:49] #1054 closed

[2021-01-07 11:50] vj-codes commented on #59
Closing since it's a duplicate of #780

[2021-01-07 11:50] #59 closed

[2021-01-07 15:13] Shweta0617 commented on #980
This issue is open, can i contribute to this @rpattath

[2021-01-08 10:57] faznan3nazer commented on #980
This is my first coding PR, I am figuring out how to run this... So I just want to let you know that I am still working on it and I will update my status every 2 days

[2021-01-08 12:25] nileshteji commented on #1053
We can use ViewModelProvider(), constructor, as mentioned in the Documentation you provided or by the kotlin delegation as the whole project is written in kotlin

[2021-01-10 04:33] epicadk commented on #399
Can I work on this  ?

[2021-01-10 07:17] aditmehta9 commented on #399
Assigned you this issue but I'm not sure whether RxJava code should be replaced with Coroutine-based code. Please ask Isabel or Vaishnavi before working on it.

[2021-01-10 12:21] varunvjha commented on #1053
I want to work on this issue. Can you assign it to me?

[2021-01-10 12:33] bartekpacia commented on #399
Just throwing in my 2 cents, I converted a big part (if not all) of the networking code to use Coroutines (in #404), and it: simplified code and made it more explicit (and more Kotlin-idiomatic) + less error-prone + made the code ~60% shorter + we also got rid of 1 dependency (RxJava), which I think is good. Coroutines are really cool!

[2021-01-11 04:18] aditmehta9 commented on #399
Thanks @bartekpacia

[2021-01-13 03:14] DhaneshShetty commented on #1053
Would like to work on it if available

[2021-01-13 07:13] epicadk commented on #1053
@varunvjha @DhaneshShetty Try asking on zulip.

[2021-01-13 07:35] epicadk commented on #1053
I think delegation would be better.

[2021-01-13 08:33] abhinav12k commented on #1053
Hi @varunvjha @DhaneshShetty. You can ask here [Zulip_Mentorship_Android](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/mentorship-android)

[2021-01-14 12:02] devsebastian commented on #805
Hi seems like this test hasn't been added yet, can I work on this issue if it is available? also the test needs to be written assuming the user is already logged in right?

[2021-01-14 12:36] devsebastian commented on #806
I'd love to work on this issue, if it is available, thank you!

[2021-01-14 16:12] aditmehta9 commented on #806
Sure.

[2021-01-14 16:15] aditmehta9 commented on #805
Sure.

[2021-01-14 16:20] epicadk opened #1058 "Remove Travis CI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently , we run unit tests through Github Actions and Travis CI. While it doesn't hurt to have both configured there is an issue with travis CI , the tests are failing after the gradle build tool has been updated. #1057 #1055 #1051 are

[2021-01-14 16:32] epicadk commented on #537
@rak108 Are you still working on this? I faced similar issues in #1057 I can help you out. If not I'd like to work on this.

[2021-01-15 08:36] epicadk commented on #1041
@vj-codes you can remove the help wanted tag now .

[2021-01-15 10:07] kartikeysaran commented on #197
Can i work on this issue ?

[2021-01-15 17:14] devsebastian commented on #805
Hi! I had pushed the code for testing yesterday: #1060  please review

[2021-01-15 17:15] devsebastian commented on #806
Hi! I had pushed the code for testing yesterday: #1059 please review

[2021-01-15 17:39] CodeChamp-SS commented on #1058
#940 #1006 are also some of the examples where this issue can be seen

[2021-01-15 17:47] CodeChamp-SS commented on #1053
I gues my pr #940 will remove the deprecated ViewModelProviders from many of the activities and fragments, if this issue is available i can also apply same procedure to remove it from other places too. @vj-codes is this issue still available ?

[2021-01-16 11:35] epicadk commented on #756
How would the user know what is wrong if the signup button is not enabled ? The errors will not be displayed.

[2021-01-16 13:02] CodeChamp-SS commented on #756
disabling of the signup button is not for error checking, it just ensures when the signup button is enabled, none of the fields are empty. Once the fields have some data then the user can easily know if there is something wrong in their entries

[2021-01-16 19:57] abhinav12k opened #1061 "Feature: Update Intents to open relevant apps instead of WebView"
**Is your feature request related to a problem? Please describe.**
In the About activity, there are a number of links like github repo link, zulip chat link etc. Ideally the app should redirect the user if a particular app is installed for that purpose. For example if the user has zulip app installed the app should show options to the user to either redirect the zulip app or open inside the web vi

[2021-01-17 04:53] DhaneshShetty commented on #1058
On using Android plugin for Gradle 3.0.0 or higher, project automatically uses a default version of the build tools that the plugin specifies. Eg: Gradle 4.1.0 has default sdk tools version 29.0.2 .To use a different version of the build tools, specify it using buildToolsVersion in build.gradle or changing the travis.yml can also do the job mostly. https://developer.android.com/studio/releases/bui

[2021-01-19 09:49] epicadk commented on #674
Can I work on this?

[2021-01-19 10:06] Aditi-Roy-coder commented on #1049
https://developer.android.com/kotlin/campaign/learn?gclid=CjwKCAiAo5qABhBdEiwAOtGmbubr7WS46OdAVIp7hucDhXTNh_KMuuP6fSRLXk91GmIzPDw1HribwRoC0f8QAvD_BwE&gclsrc=aw.ds
I think this link will give guidance to Kotlin from beginner to advanced level.

[2021-01-19 10:51] epicadk commented on #1049
I think this issue has more to do with the coding style rather than the actual code itself. If you think this should be something we should add I think you should raise a new issue.

[2021-01-20 10:43] Aditi-Roy-coder commented on #1049
@epicadk Can you please guide me on how to do that?

[2021-01-20 23:45] isabelcosta commented on #537
due to 6 days lack of response, I will unassign this from @rak108 and make it available again

[2021-01-20 23:45] isabelcosta commented on #537
@epicadk its available now

[2021-01-21 03:31] epicadk commented on #537
Oh okay , can you assign it to me? @isabelcosta

[2021-01-21 04:13] aditmehta9 commented on #537
Happy coding.

[2021-01-22 16:54] ahk4815 commented on #757
Is the issue valid still @isabelcosta ? There are some hardcoded strings present in some files like LoginActivity.kt , SignUpActivity.kt, FeedbackActivity.kt,  SendRequestActivity.kt and some others. I would like to work on it.

[2021-01-24 02:53] isabelcosta commented on #757
@ahk4815 yes it is, I will assign it to you then :)

[2021-01-24 03:19] #924 closed

[2021-01-24 05:14] epicadk opened #1063 "Feat: Setup R8 for Release build"
**Is your feature request related to a problem? Please describe.**

Currenlty , R8 is not enabled in the release build.

**Describe the solution you'd like**

This tool Enables shrinking, obfuscation, and optimization. Although the obfuscation may not be useful to us ( as this is an open source project), Shrinking and optimization will certainly enhance the users experience.

**Additional context*

[2021-01-24 05:14] epicadk commented on #1063
Can I work on this?

[2021-01-25 01:25] vj-codes commented on #1039
Unassigning @arnoob16 due to inactivity .
Please let us know if you would like to work again with this issue  :)
Until then it's available for newcomers 🚀

[2021-01-25 07:17] DhaneshShetty commented on #1058
@vj-codes Can I work on this?

[2021-01-26 13:12] Sanika1999 commented on #1039
Can I work on this?? @vj-codes

[2021-01-26 15:53] vj-codes commented on #1039
@Sanika1999 yeah sure , can you confirm if you are contributing for the first time in this repo? I'll be happy to assign you after confirmation:)

[2021-01-26 16:08] epicadk commented on #1058
@vj-codes Do you think this can also be marked as first timers only?

[2021-01-26 16:11] vj-codes commented on #1058
@epicadk yeahh
@DhaneshShetty unfortunately you are not eligible to work on this :(
Do go through other available issues!

[2021-01-26 19:00] vj-codes opened #1065 "Bug : Last member cannot be seen in members tab while scrolling"
**Describe the bug**
The last member name and details are hiding and cannot be seen while scrolling

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Members tab in apk'
2. Scroll down
4. See error

**Expected behavior**
The last name of the member should be clearly seen

**Screenshots**

https://user-images.githubusercontent.com/60894542/105891578-cbe1b780-6036-11eb-978a-ae98a6575803.m

[2021-01-26 19:14] isabelcosta commented on #1063
@epicadk Cool! Sounds good. I don't know much about this topic, but it does sound like good practice.

Can you show the difference in the size of the file once you do this please?

[2021-01-26 19:19] epicadk commented on #1065
I can confirm this. 👍🏼

[2021-01-26 19:45] isabelcosta commented on #1027
As from what I have seen in apps, I don't think that is necessary. This is because the backend is using HTTPS protocol- https://mentorship-backend-temp.herokuapp.com/ - which makes the connection secure and password and other details not really going in plain text on the internet. Also, the backend is expecting the `password` in plain text and not a `password_hash`.

Will close the issue. Thank yo

[2021-01-26 19:45] #1027 closed

[2021-01-26 19:56] pknotfound commented on #1027
Thank you for reviewing the issue.
I hope to discuss on the dependency injection issue too😅 @isabelcosta

[2021-01-26 19:59] isabelcosta commented on #849
for reference, here's the Zulip topic about all the iteration so far of the logo: https://anitab-org.zulipchat.com/#narrow/stream/216323-design/topic/Mentorship.20App.20Icon.2FLogos

[2021-01-26 20:41] #1035 closed

[2021-01-26 21:19] Sanika1999 commented on #1039
Yes Iam a first time contributor for this repo @vj-codes

[2021-01-27 00:15] vj-codes commented on #1039
Assigning you @Sanika1999
Happy documenting !

[2021-01-27 14:35] ahk4815 commented on #444
Is this issue still valid @isabelcosta ? I would like to work on it and implement according to this [SplashScreen implementation](https://shishirthedev.medium.com/the-right-way-to-implement-a-splash-screen-in-android-acae0e52949a) article.

[2021-01-27 14:39] epicadk commented on #444
Try asking on zulip

[2021-01-27 16:44] vj-codes commented on #444
@ahk4815 hey this issue was valid when we had a splash screen which can be seen in the readme screenshots.
But the current apk does not have a splash screen and once the splash screen is decided the issue will be available again.
Sounds good?
You can go through other available issues for a great start!

[2021-01-27 17:08] ahk4815 commented on #444
Thanks for informing @vj-codes

[2021-01-27 17:39] Priyansh-Kedia opened #1066 "Access token does not get refreshed on logging in the application"
**Describe the bug**
The access token does not refresh on logging in the application.
This way, the user is still logged in the app as long as they do not delete and reinstall the app, or clear caches for the app.

**To Reproduce**
Steps to reproduce the behavior:
Open the application, and it will login without authenticating with the access token

**Expected behavior**
The access token should get

[2021-01-27 17:40] pknotfound commented on #1066
@isabelcosta @vj-codes
May I take up this issue
I have also raised a discussion on Zulip, you can find it [here](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Access.20Token/near/224217425)

[2021-01-27 17:43] epicadk commented on #1066
Can you elaborate?

[2021-01-27 17:48] epicadk commented on #1066
Okay I think I get what you mean. The auth token is sent as a header so it is "authenticated" with each request a user sends. The expiry time is also sent to a week which can be seen if you decode the token on jwt.io.

[2021-01-27 17:50] pknotfound commented on #1066
Yeah so, whenever the user launches the application, the splash activity checks if the access token (saved in shared preferences) is empty or not. If it is empty, the user is taken to the login activity, or else they are taken to the home activity.

This process nowhere fetches a new access token and neither does it check if the existing access token is valid or not.
What should happen is, the spl

[2021-01-27 17:52] Rahulm2310 commented on #1049
@vj-codes I would like to take up this issue. Thanks🙂

[2021-01-27 17:52] pknotfound commented on #1066
Yeah, we should check if the code has expired, and if not, we should update it with the new access token

[2021-01-27 17:53] vj-codes commented on #1049
@Rahulm2310 yeah sure , are you contributing for the first time in this repo?After confirmation I'll be happy to assign you:)

[2021-01-27 17:54] Rahulm2310 commented on #1049
Yes @vj-codes

[2021-01-27 17:55] epicadk commented on #1066
There is no splash screen currently. cc @vj-codes
Also the pr open on this issue would fix that.
https://github.com/anitab-org/mentorship-android/issues/1022

[2021-01-27 17:56] vj-codes commented on #1049
Assigning you @Rahulm2310
HAppy documenting!

[2021-01-27 17:58] pknotfound commented on #1066
Hello @epicadk
The app has a splash screen activity named SplashScreenActivity
The PR that you just mentioned does not update the access token when the user launches the application

[2021-01-27 17:59] epicadk commented on #1049
Hey I am so sorry I totally missed that. You can open a new issue by clicking on the new issue button on the top right. Don't worry if you can't explain it properly the community can also help phrase the issue as well  : )

[2021-01-27 18:10] epicadk commented on #1066
which is not being use right now.

So what happens when the user launches the application currently is a request is sent to the `\home` endpoint if the access token that is present with the headers in the request is invalid or expired we get a 401 response and the user is redirected to the login page. What my pr will do is it will check if the access token is expired. If it is it will attempt to r

[2021-01-27 18:13] pknotfound commented on #1066
Hello @epicadk
I updated my project just to make sure that I was on the right path

![Screenshot from 2021-01-27 23-42-25](https://user-images.githubusercontent.com/52661249/106034774-54c12780-60f9-11eb-8da3-4cc5d8128585.png)
This is the screenshot of the manifest file which shows that the default activity is the splash activity

![Screenshot from 2021-01-27 23-41-27](https://user-images.githubuse

[2021-01-27 18:17] epicadk commented on #444
@Priyansh-Kedia.

[2021-01-27 18:21] epicadk commented on #1066
I've tagged you in the comment @vj-codes has made on #444. Also you do not need to make an api call to check if the access token has expired or not. You can simply decode the jwt and check (Using the jwt utils class present). I think this falls under #444 where we could check if the refresh token is expired or not.😀

[2021-01-27 18:22] pknotfound commented on #444
Hey @epicadk
I did not check the latest apk, I was debugging using by running the latest code in android studio

What is the way to go from here? @isabelcosta @epicadk

[2021-01-27 18:24] epicadk commented on #444
I think once this issue is available we can check in the splash screen if the refresh token has expired. Till then the current system seems to be fine.
@Priyansh-Kedia

[2021-01-27 18:49] #1049 closed

[2021-01-28 08:35] ahk4815 commented on #714
is this issue available @isabelcosta ? I am interested to work on it to implement storing the user info in local cache(Android SharedPreferences) .

[2021-01-28 08:48] aditmehta9 commented on #714
Sure, this issue can be assigned to you, but Priyansh had asked to re-assign this issue to him on his PR so the decision is up to Isabel or Vaishnavi who should work on this issue?

[2021-01-28 14:00] vj-codes commented on #714
@aditmehta9 hey @Priyansh-Kedia  has contributed here before, but @ahk4815 hasn't so it'll be nice to assign it to @ahk4815 .
What say, sounds good?

[2021-01-28 14:01] pknotfound commented on #714
Sure @vj-codes

[2021-01-28 15:28] vj-codes commented on #714
Assigning you @ahk4815
Happy coding!

[2021-01-29 09:02] CodeChamp-SS commented on #1061
@isabelcosta I would love to take up this issue if it's available.

[2021-01-29 11:53] Sanika1999 commented on #1039
I am still working on this will hopefully complete this by today.

[2021-01-29 16:44] epicadk commented on #1014
I think we can close this issue. Cannot replicate it.

[2021-01-29 18:48] #1014 closed

[2021-01-30 03:18] epicadk commented on #1065
Can I work on this? @vj-codes @isabelcosta